<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.ckadmin.dao.CaptureRankJobDao">
  <sql id="colID">
        c.fUuid AS `uuid`,
        c.fGroupNames AS `groupNames`,
        c.fCustomerUuid AS `customerUuid`,
        c.fQZSettingUuid AS `qzSettingUuid`,
        c.fOperationType AS `operationType`,
        c.fExectionType AS `exectionType`,
        c.fExectionTime AS `exectionTime`,
        c.fExectionStatus  AS `exectionStatus`,
        c.fRankJobType AS `rankJobType`,
        c.fRankJobArea AS `rankJobArea`,
        c.fRankJobCity AS `rankJobCity`,
        c.fCaptureRankJobStatus  AS `captureRankJobStatus`,
        c.fStartTime AS `startTime`,
        c.fEndTime AS `endTime`,
        c.fCreateBy AS `createBy`,
        c.fUpdateBy AS `updateBy`,
        c.fCreateTime AS `createTime`,
        c.fUpdateTime AS `updateTime`,
        c.fLastExecutionDate AS `lastExecutionDate`,
        c.fRowNumber AS `rowNumber`,
        c.fExecutionCycle AS `executionCycle`,
        c.fCaptureInterval AS `captureInterval`,
        c.fCaptureDaysInterval AS `captureDaysInterval`,
        c.fPageSize AS `pageSize`
    </sql>

  <delete id="deleteCaptureRankJob">
    DELETE FROM t_capture_rank_job
    WHERE fQZSettingUuid = #{qzSettingUuid}
    <if test="operationType != null">
      AND fOperationType = #{operationType}
    </if>
  </delete>

  <select id="findExistCaptureRankJob" resultType="com.keymanager.ckadmin.entity.CaptureRankJob">
        SELECT
            crj.fUuid AS 'uuid',
            crj.fGroupNames AS 'groupNames'
        FROM t_capture_rank_job crj
        WHERE crj.fQZSettingUuid = #{qzSettingUuid}
        AND crj.fOperationType = #{operationType}
        LIMIT 1
    </select>

    <select id="hasUncompletedCaptureRankJob" resultType="Long">
        SELECT
        1
        FROM t_capture_rank_job c
        WHERE (
        c.fExectionStatus = 'New'
        OR (c.fExectionStatus = 'Complete'
        AND c.fExectionType = 'Everyday'
        AND c.fLastExecutionDate &lt; curdate())
        )
        <if test="rankJobArea != null">
            AND fRankJobArea = #{rankJobArea}
        </if>
        AND c.fCaptureRankJobStatus = 1
        <if test="groupNames!=null"> and c.fGroupNames IN
            <foreach collection="groupNames" item="groupName" open="(" separator="," close=")">
                #{groupName}
            </foreach>
        </if>
        LIMIT 1
    </select>
</mapper>