<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.ckadmin.dao.CustomerKeywordMonDao">
    <select id="selectByCondition" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT count(1) AS 'number',
        ckm.fPosition AS 'position',
        date_format(ckm.fRecordDate, #{condition.pattern}) AS 'date'
        FROM t_customer_keyword_mon ckm
        LEFT JOIN t_customer_keyword ck
        ON ckm.fKeywordUuid = ck.fUuid
        WHERE ckm.fRecordDate >= #{condition.recordDate}
        <if test="condition.searchEngine != null and condition.searchEngine != ''">
            AND ck.fSearchEngine = #{condition.searchEngine}
        </if>
        <if test="condition.terminal != null and condition.terminal != ''">
            AND ck.fTerminalType = #{condition.terminal}
        </if>
        <if test="condition.type != null and condition.type != ''">
            AND ck.fType = #{condition.type}
        </if>
        GROUP BY date_format(ckm.fRecordDate, #{condition.pattern}), ckm.fPosition;
    </select>
</mapper>