<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.ckadmin.dao.CustomerKeywordTerminalRefreshStatRecordDao">

    <select id="getHistoryTerminalRefreshStatRecord" parameterType="com.keymanager.ckadmin.criteria.RefreshStatisticsCriteria"
        resultType="com.keymanager.ckadmin.entity.RefreshStatRecord">
        SELECT
            ckrsr.fGroup AS 'group',
            ckrsr.fTotalKeywordCount AS 'totalKeywordCount',
            ckrsr.fNeedOptimizeKeywordCount AS 'needOptimizeKeywordCount',
            ckrsr.fInvalidKeywordCount AS 'invalidKeywordCount',
            ckrsr.fFailedKeywordCount AS 'failedKeywordCount',
            ckrsr.fZeroOptimizedCount AS 'zeroOptimizedCount',
            ckrsr.fReachStandardKeywordCount AS 'reachStandardKeywordCount',
            ckrsr.fTodaySubTotal AS 'todaySubTotal',
            ckrsr.fTotalOptimizeCount AS 'totalOptimizeCount',
            ckrsr.fTotalOptimizedCount AS 'totalOptimizedCount',
            ckrsr.fNeedOptimizeCount AS 'needOptimizeCount',
            ckrsr.fQueryCount AS 'queryCount',
            ckrsr.fMaxInvalidCount AS 'maxInvalidCount'
        FROM t_ck_refresh_stat_record ckrsr
        WHERE DATE_SUB(CURDATE(), INTERVAL #{criteria.dayNum} DAY) = ckrsr.fCreateDate
        AND ckrsr.fType = #{criteria.entryType}
        AND ckrsr.fTerminalType = #{criteria.terminalType}
        <if test="criteria.groupName!=null and criteria.groupName!=''">
            AND ckrsr.fGroup LIKE CONCAT(#{criteria.groupName}, "%")
        </if>
        GROUP BY ckrsr.fUuid
        ORDER BY ckrsr.fGroup
    </select>
</mapper>