<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.ckadmin.dao.CustomerKeywordDao">
    <sql id="dailyReportColID">
        ck.fUuid	AS	'uuid',
        ck.fTerminalType	AS	'terminalType',
        ck.fCustomerUuid	AS	'customerUuid',
        ck.fKeyword	AS	'keyword',
        ck.fUrl	AS	'url',
        ck.fOriginalUrl	AS	'originalUrl',
        ck.fTitle	AS	'title',
        ck.fCapturePositionCity AS 'capturePositionCity',
        ck.fTodayFee  AS 'todayFee',
        ck.fSequence	AS	'sequence',
        ck.fSearchEngine	AS	'searchEngine',
        ck.fInitialIndexCount	AS	'initialIndexCount',
        ck.fInitialPosition	AS	'initialPosition',
        ck.fCurrentIndexCount	AS	'currentIndexCount',
        ck.fCurrentPosition	AS	'currentPosition',
        ck.fPositionFirstFee	AS	'positionFirstFee',
        ck.fPositionSecondFee	AS	'positionSecondFee',
        ck.fPositionThirdFee	AS	'positionThirdFee',
        ck.fPositionForthFee	AS	'positionForthFee',
        ck.fPositionFifthFee	AS	'positionFifthFee',
        ck.fPositionFirstPageFee	AS	'positionFirstPageFee'
    </sql>

    <select id="getCustomerKeywordsCount" resultType="java.util.Map">
        SELECT ck.fCustomerUuid as 'customerUuid', COUNT(1) as 'totalCount', SUM(IF(ck.fStatus = 1, 1, 0)) AS
        'activeCount'
        FROM t_customer_keyword ck
        WHERE ck.fTerminalType = #{terminalType}
        AND ck.fType = #{entryType}
        AND ck.fCustomerUuid IN
        <foreach item="item" index="index" collection="customerUuids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <update id="changeCustomerKeywordStatus">
        UPDATE t_customer_keyword SET fStatus = #{status}
        WHERE fTerminalType = #{terminalType}
        AND fType = #{entryType}
        AND fCustomerUuid = #{customerUuid}
    </update>

    <delete id="deleteCustomerKeywordsByCustomerUuid">
        delete from t_customer_keyword where fCustomerUuid = #{customerUuid}
    </delete>

    <select id="getCustomerKeywordCount" resultType="int">
        SELECT COUNT(1) FROM t_customer_keyword ck WHERE ck.fType = #{entryType} and ck.fTerminalType = #{terminalType} and ck.fCustomerUuid = #{customerUuid}
    </select>

    <update id="excludeCustomerKeyword">
        UPDATE  t_customer_keyword ck
        SET ck.fStatus = 3
        WHERE 1=1
        <if test="qzSettingExcludeCustomerKeywordsCriteria.customerUuid != null and qzSettingExcludeCustomerKeywordsCriteria.customerUuid != ''">
            AND ck.fCustomerUuid = #{qzSettingExcludeCustomerKeywordsCriteria.customerUuid}
        </if>
        AND ck.fType = #{qzSettingExcludeCustomerKeywordsCriteria.type}
        AND ck.fTerminalType = #{qzSettingExcludeCustomerKeywordsCriteria.terminalType}
        AND ck.fKeyword IN
        <foreach item = "keyword" collection = "qzSettingExcludeCustomerKeywordsCriteria.keywords" open="(" separator="," close=")">
            #{keyword}
        </foreach>
        AND ck.fUrl LIKE CONCAT(#{qzSettingExcludeCustomerKeywordsCriteria.domain},'%')
    </update>

    <insert id="addCustomerKeywords">
        INSERT INTO t_customer_keyword (
        fTerminalType,
        fCustomerUuid,
        fQZSettingUuid,
        fKeyword,
        fUrl,
        fType,
        fBearPawNumber,
        fOriginalUrl,
        fTitle,
        fSequence,
        fAutoUpdateNegativeDateTime,
        fSearchEngine,
        fInitialIndexCount,
        fCurrentIndexCount,
        fCurrentPosition,
        fQueryDate,
        fQueryTime,
        fServiceProvider,
        fOptimizeGroupName,
        fMachineGroup,
        fOptimizePlanCount,
        fOptimizeTodayCount,
        fOptimizeRemainingCount,
        fLastReachStandardDate,
        fPositionFirstFee,
        fPositionSecondFee,
        fPositionThirdFee,
        fPositionForthFee,
        fPositionFifthFee,
        fPositionFirstPageFee,
        fCapturePositionQueryTime,
        fCollectMethod,
        fStartOptimizedTime,
        fOrderNumber,
        fStatus,
        fManualCleanTitle,
        fKeywordEffect,
        fCustomerKeywordSource,
        fRemarks,
        fUpdateTime,
        fCreateTime
        )
        VALUES
        <foreach collection="customerKeywords" item="customerKeyword" separator=",">
            (
            #{customerKeyword.terminalType},
            #{customerKeyword.customerUuid},
            #{customerKeyword.qzSettingUuid},
            #{customerKeyword.keyword},
            #{customerKeyword.url},
            #{customerKeyword.type},
            #{customerKeyword.bearPawNumber},
            #{customerKeyword.originalUrl},
            #{customerKeyword.title},
            #{customerKeyword.sequence},
            #{customerKeyword.autoUpdateNegativeDateTime},
            #{customerKeyword.searchEngine},
            #{customerKeyword.initialIndexCount},
            #{customerKeyword.currentIndexCount},
            #{customerKeyword.currentPosition},
            #{customerKeyword.queryDate},
            #{customerKeyword.queryTime},
            #{customerKeyword.serviceProvider},
            #{customerKeyword.optimizeGroupName},
            #{customerKeyword.machineGroup},
            <choose>
                <when test="customerKeyword.optimizePlanCount != null">
                    #{customerKeyword.optimizePlanCount},
                </when>
                <when test="customerKeyword.optimizePlanCount == null">10,</when>
            </choose>
            #{customerKeyword.optimizeTodayCount},
            #{customerKeyword.optimizeRemainingCount},
            #{customerKeyword.lastReachStandardDate},
            <choose>
                <when test="customerKeyword.positionFirstFee != null">#{customerKeyword.positionFirstFee},</when>
                <when test="customerKeyword.positionFirstFee == null">0.00,</when>
            </choose>
            <choose>
                <when test="customerKeyword.positionSecondFee != null">#{customerKeyword.positionSecondFee},</when>
                <when test="customerKeyword.positionSecondFee == null">0.00,</when>
            </choose>
            <choose>
                <when test="customerKeyword.positionThirdFee != null">#{customerKeyword.positionThirdFee},</when>
                <when test="customerKeyword.positionThirdFee == null">0.00,</when>
            </choose>
            <choose>
                <when test="customerKeyword.positionForthFee != null">#{customerKeyword.positionForthFee},</when>
                <when test="customerKeyword.positionForthFee == null">0.00,</when>
            </choose>
            <choose>
                <when test="customerKeyword.positionFifthFee != null">#{customerKeyword.positionFifthFee},</when>
                <when test="customerKeyword.positionFifthFee == null">0.00,</when>
            </choose>
            <choose>
                <when test="customerKeyword.positionFirstPageFee != null">#{customerKeyword.positionFirstPageFee},</when>
                <when test="customerKeyword.positionFirstPageFee == null">0.00,</when>
            </choose>
            #{customerKeyword.capturePositionQueryTime},
            #{customerKeyword.collectMethod},
            #{customerKeyword.startOptimizedTime},
            #{customerKeyword.orderNumber},
            #{customerKeyword.status},
            <choose>
                <when test="customerKeyword.manualCleanTitle != null">#{customerKeyword.manualCleanTitle},</when>
                <when test="customerKeyword.manualCleanTitle == null">0,</when>
            </choose>
            #{customerKeyword.keywordEffect},
            #{customerKeyword.customerKeywordSource},
            #{customerKeyword.remarks},
            #{customerKeyword.updateTime},
            #{customerKeyword.createTime}
            )
        </foreach>
    </insert>

    <select id="getOneSameCustomerKeyword" resultType="com.keymanager.ckadmin.entity.CustomerKeyword">
        SELECT
        ck.fUuid	AS	'uuid',
        ck.fTerminalType	AS	'terminalType',
        ck.fCustomerUuid	AS	'customerUuid',
        ck.fKeyword	AS	'keyword',
        ck.fUrl	AS	'url',
        ck.fOriginalUrl	AS	'originalUrl',
        ck.fBearPawNumber AS 'bearPawNumber',
        ck.fTitle	AS	'title',
        ck.fStatus	AS	'status',
        ck.fSearchEngine	AS	'searchEngine',
        ck.fKeywordEffect AS 'keywordEffect',
        ck.fOptimizePlanCount	AS	'optimizePlanCount'
        FROM t_customer_keyword ck
        WHERE ck.fKeyword = #{keyword}
        AND ck.fTerminalType = #{terminalType}
        AND ck.fCustomerUuid = #{customerUuid}
        <choose>
            <when test="url == 'NoUrl'">
                AND ck.fTitle = #{title}
            </when>
            <otherwise>
                AND ck.fUrl = #{url}
            </otherwise>
        </choose>
        LIMIT 1
    </select>

    <update id="updateSameCustomerKeyword">
        UPDATE t_customer_keyword
        SET fCustomerKeywordSource = #{customerKeyword.customerKeywordSource},
        fKeywordEffect = #{customerKeyword.keywordEffect},
        fOptimizePlanCount = #{customerKeyword.optimizePlanCount}
        WHERE fKeyword = #{customerKeyword.keyword}
        AND fTerminalType = #{customerKeyword.terminalType}
        AND fCustomerUuid = #{customerKeyword.customerUuid}
        <choose>
            <when test="customerKeyword.url == 'NoUrl'">
                AND fTitle = #{customerKeyword.title}
            </when>
            <otherwise>
                AND fUrl = #{customerKeyword.url}
            </otherwise>
        </choose>
    </update>

    <select id="getOneSimilarCustomerKeyword" resultType="com.keymanager.ckadmin.entity.CustomerKeyword">
        SELECT
        ck.fUuid	AS	'uuid',
        ck.fTerminalType	AS	'terminalType',
        ck.fCustomerUuid	AS	'customerUuid',
        ck.fKeyword	AS	'keyword',
        ck.fUrl	AS	'url',
        ck.fOriginalUrl	AS	'originalUrl',
        ck.fBearPawNumber AS 'bearPawNumber',
        ck.fTitle	AS	'title',
        ck.fStatus	AS	'status',
        ck.fSearchEngine	AS	'searchEngine',
        ck.fKeywordEffect AS 'keywordEffect',
        ck.fOptimizePlanCount	AS	'optimizePlanCount'
        FROM t_customer_keyword ck
        WHERE ck.fKeyword = #{keyword}
        AND ck.fTerminalType = #{terminalType}
        AND ck.fCustomerUuid = #{customerUuid}
        <choose>
            <when test="originalUrl == 'NoUrl'">
                AND ck.fTitle = #{title}
            </when>
            <otherwise>
                AND ck.fOriginalUrl <![CDATA[ > ]]> ''
                AND ck.fOriginalUrl like concat('%', #{originalUrl})
            </otherwise>
        </choose>
        LIMIT 1
    </select>

    <update id="updateSimilarCustomerKeyword">
        UPDATE t_customer_keyword
        SET fCustomerKeywordSource = #{customerKeyword.customerKeywordSource},
        fKeywordEffect = #{customerKeyword.keywordEffect},
        fOptimizePlanCount = #{customerKeyword.optimizePlanCount}
        WHERE fKeyword = #{customerKeyword.keyword}
        AND fTerminalType = #{customerKeyword.terminalType}
        AND fCustomerUuid = #{customerKeyword.customerUuid}

        <choose>
            <when test="customerKeyword.originalUrl == 'NoUrl'">
                AND fTitle = #{title}
            </when>
            <otherwise>
                AND fOriginalUrl <![CDATA[ > ]]> ''
                AND fOriginalUrl like concat('%', #{customerKeyword.originalUrl})
            </otherwise>
        </choose>
    </update>

    <select id="getCustomerKeywordCountByOptimizeGroupName" resultType="int">
        SELECT COUNT(1)
        FROM t_customer_keyword
        WHERE fOptimizeGroupName LIKE CONCAT(#{groupName}, '%')
    </select>

    <select id="searchCustomerKeywordSummaryInfo" resultType="com.keymanager.ckadmin.vo.CustomerKeywordSummaryInfoVO">
        SELECT
            fKeyword      AS 'keyword',
            fTerminalType AS 'terminalType',
            fStatus       AS 'status'
        FROM t_customer_keyword
        WHERE fCustomerUuid = #{customerUuid}
        AND fType = #{entryType}
        GROUP BY fKeyword, fTerminalType
    </select>

    <select id="getCustomerKeywordsCountByCustomerUuid" resultType="com.keymanager.ckadmin.vo.KeywordCountVO">
        SELECT ck.fCustomerUuid              as 'customerUuid',
        COUNT(1)                      as 'totalCount',
        SUM(IF(ck.fStatus = 1, 1, 0)) AS 'activeCount'
        FROM t_customer_keyword ck
        WHERE ck.fTerminalType = #{terminalType}
        AND ck.fCustomerUuid = #{customerUuid}
    </select>

    <sql id="searchCustomerKeywordsCriteria">
        <if test="keywordCriteria.customerUuid != null and keywordCriteria.customerUuid != ''">
            AND ck.fCustomerUuid = #{keywordCriteria.customerUuid}
        </if>
        <if test="keywordCriteria.keyword != null and keywordCriteria.keyword != ''">
            AND ck.fKeyword LIKE CONCAT(#{keywordCriteria.keyword},'%')
        </if>
        <if test="keywordCriteria.userName != null and keywordCriteria.userName != ''">
            AND c.fUserID = #{keywordCriteria.userName}
        </if>
        <if test="keywordCriteria.url != null and keywordCriteria.url != ''">
            AND ck.fUrl LIKE CONCAT(#{keywordCriteria.url},'%')
        </if>
        <if test="keywordCriteria.bearPawNumber != null and keywordCriteria.bearPawNumber != ''">
            AND ck.fBearPawNumber LIKE CONCAT(#{keywordCriteria.bearPawNumber},'%')
        </if>
        <if test="keywordCriteria.status != null and keywordCriteria.status != ''">
            AND ck.fStatus = #{keywordCriteria.status}
        </if>
        <if test="keywordCriteria.optimizeGroupName != null and keywordCriteria.optimizeGroupName != ''">
            AND ck.fOptimizeGroupName LIKE CONCAT(#{keywordCriteria.optimizeGroupName},'%')
        </if>
        <if test="keywordCriteria.machineGroup != null and keywordCriteria.machineGroup != ''">
            AND ck.fMachineGroup LIKE CONCAT(#{keywordCriteria.machineGroup},'%')
        </if>
        <if test="keywordCriteria.remarks != null and keywordCriteria.remarks != ''">
            AND ck.fRemarks LIKE CONCAT(#{keywordCriteria.remarks},'%')
        </if>
        <if test="keywordCriteria.failedCause != null and keywordCriteria.failedCause != ''">
            AND ck.fFailedCause = #{keywordCriteria.failedCause}
        </if>

        <if test="keywordCriteria.terminalType != null || keywordCriteria.terminalType != ''">
            AND ck.fTerminalType = #{keywordCriteria.terminalType}
        </if>
        <if test="keywordCriteria.searchEngine != null and keywordCriteria.searchEngine != ''">
            AND ck.fSearchEngine = #{keywordCriteria.searchEngine}
        </if>
        <if test="keywordCriteria.customerKeywordSource != null and keywordCriteria.customerKeywordSource != ''">
            AND ck.fCustomerKeywordSource = #{keywordCriteria.customerKeywordSource}
        </if>
        <if test="keywordCriteria.status != null and keywordCriteria.status != ''">
            AND ck.fStatus = #{keywordCriteria.status}
        </if>
        <if test="keywordCriteria.gtOptimizePlanCount != null">
            AND ck.fOptimizePlanCount &gt;= #{keywordCriteria.gtOptimizePlanCount}
        </if>
        <if test="keywordCriteria.ltOptimizePlanCount != null">
            AND ck.fOptimizePlanCount &lt;= #{keywordCriteria.ltOptimizePlanCount}
        </if>
        <if test="keywordCriteria.gtOptimizedCount != null">
            AND ck.fOptimizedCount &gt;= #{keywordCriteria.gtOptimizedCount}
        </if>
        <if test="keywordCriteria.ltOptimizedCount != null">
            AND ck.fOptimizedCount &lt;= #{keywordCriteria.ltOptimizedCount}
        </if>
        <if test="keywordCriteria.gtPosition != null and (keywordCriteria.noPosition == null or keywordCriteria.noPosition == '') ">
            AND ck.fCurrentPosition &gt;= #{keywordCriteria.gtPosition}
        </if>
        <if test="keywordCriteria.ltPosition != null and (keywordCriteria.noPosition == null or keywordCriteria.noPosition == '') ">
            AND ck.fCurrentPosition &lt;= #{keywordCriteria.ltPosition}
        </if>
        <if test="keywordCriteria.invalidRefreshCount != null and keywordCriteria.invalidRefreshCount != ''">
            AND ck.fInvalidRefreshCount &gt;= #{keywordCriteria.invalidRefreshCount}
        </if>
        <if test="keywordCriteria.gtCreateTime != null and keywordCriteria.gtCreateTime != ''">
            AND ck.fCreateTime &gt;= #{keywordCriteria.gtCreateTime}
        </if>
        <if test="keywordCriteria.ltCreateTime != null and keywordCriteria.ltCreateTime != ''">
            AND ck.fCreateTime &lt;= #{keywordCriteria.ltCreateTime}
        </if>
        <if test="keywordCriteria.noPosition != null and keywordCriteria.noPosition != ''">
            AND ck.fCurrentPosition = 0
        </if>
        <if test="keywordCriteria.pushPay != null and keywordCriteria.pushPay != ''">
            AND ((ck.fCollectMethod = 'PerDay' AND ck.fEffectiveToTime is not null) OR (ck.fEffectiveToTime &lt;= DATE_ADD(CURDATE(),INTERVAL 3 DAY)))
        </if>
        <if test="keywordCriteria.requireDelete != null and keywordCriteria.requireDelete != ''">
            AND ck.fRequireDelete = 1
        </if>
        <if test="keywordCriteria.type != null and keywordCriteria.type != ''">
            AND ck.fType = #{keywordCriteria.type}
        </if>
        <if test="keywordCriteria.titleFlag == 1">
            AND (ck.fTitle = '' OR ck.fTitle IS NULL)
        </if>
        <if test="keywordCriteria.titleFlag == 2">
            AND ck.fTitle > ''
        </if>
        <if test="keywordCriteria.gtCurrentIndexCount != null">
            AND ck.fCurrentIndexCount &gt;= #{keywordCriteria.gtCurrentIndexCount}
        </if>
        <if test="keywordCriteria.ltCurrentIndexCount != null">
            AND ck.fCurrentIndexCount &lt;= #{keywordCriteria.ltCurrentIndexCount}
        </if>
    </sql>

    <sql id="updateCustomerKeywordsCriteria">
        <if test="keywordCriteria.uuids != null">
            AND ck.fUuid IN
            <foreach item = "item" collection = "keywordCriteria.uuids" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="keywordCriteria.customerUuid != null and keywordCriteria.customerUuid != ''">
            AND ck.fCustomerUuid = #{keywordCriteria.customerUuid}
        </if>
        <if test="keywordCriteria.keyword != null and keywordCriteria.keyword != ''">
            AND ck.fKeyword LIKE CONCAT(#{keywordCriteria.keyword},'%')
        </if>
        <if test="keywordCriteria.userName != null and keywordCriteria.userName != ''">
            AND c.fUserID = #{keywordCriteria.userName}
        </if>
        <if test="keywordCriteria.url != null and keywordCriteria.url != ''">
            AND ck.fUrl LIKE CONCAT(#{keywordCriteria.url},'%')
        </if>
        <if test="keywordCriteria.bearPawNumber != null and keywordCriteria.bearPawNumber != ''">
            AND ck.fBearPawNumber LIKE CONCAT(#{keywordCriteria.bearPawNumber},'%')
        </if>
        <if test="keywordCriteria.status != null and keywordCriteria.status != ''">
            AND ck.fStatus = #{keywordCriteria.status}
        </if>
        <if test="keywordCriteria.optimizeGroupName != null and keywordCriteria.optimizeGroupName != ''">
            AND ck.fOptimizeGroupName LIKE CONCAT(#{keywordCriteria.optimizeGroupName},'%')
        </if>
        <if test="keywordCriteria.machineGroup != null and keywordCriteria.machineGroup != ''">
            AND ck.fMachineGroup LIKE CONCAT(#{keywordCriteria.machineGroup},'%')
        </if>
        <if test="keywordCriteria.remarks != null and keywordCriteria.remarks != ''">
            AND ck.fRemarks LIKE CONCAT(#{keywordCriteria.remarks},'%')
        </if>
        <if test="keywordCriteria.failedCause != null and keywordCriteria.failedCause != ''">
            AND ck.fFailedCause = #{keywordCriteria.failedCause}
        </if>
        <if test="keywordCriteria.terminalType != null || keywordCriteria.terminalType != ''">
            AND ck.fTerminalType = #{keywordCriteria.terminalType}
        </if>
        <if test="keywordCriteria.searchEngine != null and keywordCriteria.searchEngine != ''">
            AND ck.fSearchEngine = #{keywordCriteria.searchEngine}
        </if>
        <if test="keywordCriteria.customerKeywordSource != null and keywordCriteria.customerKeywordSource != ''">
            AND ck.fCustomerKeywordSource = #{keywordCriteria.customerKeywordSource}
        </if>
        <if test="keywordCriteria.status != null and keywordCriteria.status != ''">
            AND ck.fStatus = #{keywordCriteria.status}
        </if>
        <if test="keywordCriteria.gtOptimizePlanCount != null">
            AND ck.fOptimizePlanCount &gt;= #{keywordCriteria.gtOptimizePlanCount}
        </if>
        <if test="keywordCriteria.ltOptimizePlanCount != null">
            AND ck.fOptimizePlanCount &lt;= #{keywordCriteria.ltOptimizePlanCount}
        </if>
        <if test="keywordCriteria.gtOptimizedCount != null">
            AND ck.fOptimizedCount &gt;= #{keywordCriteria.gtOptimizedCount}
        </if>
        <if test="keywordCriteria.ltOptimizedCount != null">
            AND ck.fOptimizedCount &lt;= #{keywordCriteria.ltOptimizedCount}
        </if>
        <if test="keywordCriteria.gtPosition != null and (keywordCriteria.noPosition == null or keywordCriteria.noPosition == '') ">
            AND ck.fCurrentPosition &gt;= #{keywordCriteria.gtPosition}
        </if>
        <if test="keywordCriteria.ltPosition != null and (keywordCriteria.noPosition == null or keywordCriteria.noPosition == '') ">
            AND ck.fCurrentPosition &lt;= #{keywordCriteria.ltPosition}
        </if>
        <if test="keywordCriteria.invalidRefreshCount != null and keywordCriteria.invalidRefreshCount != ''">
            AND ck.fInvalidRefreshCount &gt;= #{keywordCriteria.invalidRefreshCount}
        </if>
        <if test="keywordCriteria.gtCreateTime != null and keywordCriteria.gtCreateTime != ''">
            AND ck.fCreateTime &gt;= #{keywordCriteria.gtCreateTime}
        </if>
        <if test="keywordCriteria.ltCreateTime != null and keywordCriteria.ltCreateTime != ''">
            AND ck.fCreateTime &lt;= #{keywordCriteria.ltCreateTime}
        </if>

        <if test="keywordCriteria.noPosition != null and keywordCriteria.noPosition != ''">
            AND ck.fCurrentPosition = 0
        </if>
        <if test="keywordCriteria.pushPay != null and keywordCriteria.pushPay != ''">
            AND ((ck.fCollectMethod = 'PerDay' AND ck.fEffectiveToTime is not null) OR (ck.fEffectiveToTime &lt;= DATE_ADD(CURDATE(),INTERVAL 3 DAY)))
        </if>

        <if test="keywordCriteria.requireDelete != null and keywordCriteria.requireDelete != ''">
            AND ck.fRequireDelete = 1
        </if>
        <if test="keywordCriteria.type != null and keywordCriteria.type != ''">
            AND ck.fType = #{keywordCriteria.type}
        </if>
        <if test="keywordCriteria.titleFlag == 1">
            AND (ck.fTitle = '' OR ck.fTitle IS NULL)
        </if>
        <if test="keywordCriteria.titleFlag == 2">
            AND ck.fTitle > ''
        </if>
        <if test="keywordCriteria.gtCurrentIndexCount != null">
            AND ck.fCurrentIndexCount &gt;= #{keywordCriteria.gtCurrentIndexCount}
        </if>
        <if test="keywordCriteria.ltCurrentIndexCount != null">
            AND ck.fCurrentIndexCount &lt;= #{keywordCriteria.ltCurrentIndexCount}
        </if>
    </sql>
    
    <select id="searchKeywords" parameterType="com.keymanager.ckadmin.criteria.KeywordCriteria" resultType="com.keymanager.ckadmin.entity.CustomerKeyword">
        SELECT
        ck.fUuid	AS	'uuid',
        c.fUserID AS 'userID',
        c.fContactPerson AS 'contactPerson',
        ck.fTerminalType	AS	'terminalType',
        ck.fCustomerUuid	AS	'customerUuid',
        ck.fKeyword	AS	'keyword',
        ck.fUrl	AS	'url',
        ck.fOriginalUrl	AS	'originalUrl',
        ck.fBearPawNumber AS 'bearPawNumber',
        ck.fTitle	AS	'title',
        ck.fStatus	AS	'status',
        ck.fSearchEngine	AS	'searchEngine',
        ck.fCity            AS 'city',
        ck.fCollectMethod	AS	'collectMethod',
        ck.fInitialPosition	AS	'initialPosition',
        ck.fCurrentIndexCount	AS	'currentIndexCount',
        ck.fCurrentPosition	AS	'currentPosition',
        ck.fInvalidRefreshCount	AS	'invalidRefreshCount',
        ck.fCapturePositionCity AS 'capturePositionCity',
        ck.fOptimizePlanCount	AS	'optimizePlanCount',
        ck.fOptimizedCount	AS	'optimizedCount',
        ck.fOptimizedPercentage	AS	'optimizedPercentage',
        ck.fOptimizeDate	AS	'optimizeDate',
        ck.fPaymentStatus	AS	'paymentStatus',
        ck.fOrderNumber	AS	'orderNumber',
        ck.fRemarks	AS	'remarks',
        ck.fFailedCause AS 'failedCause',
        ck.fCapturePositionQueryTime AS 'capturePositionQueryTime',
        ck.fOptimizeGroupName AS 'optimizeGroupName',
        ck.fMachineGroup AS 'machineGroup'
        FROM
        t_customer_keyword ck,
        t_customer c
        WHERE c.fUuid = ck.fCustomerUuid
        <include refid="searchCustomerKeywordsCriteria"/>
    </select>

    <select id="getKeywordCountByKeywordCriteria" parameterType="com.keymanager.ckadmin.criteria.KeywordCriteria" resultType="int">
        SELECT
        COUNT(1)
        FROM
        t_customer_keyword ck,
        t_customer c
        WHERE c.fUuid = ck.fCustomerUuid
        <include refid="searchCustomerKeywordsCriteria"/>
    </select>

    <update id="updateCustomerKeywordStatus">
        UPDATE t_customer_keyword SET fStatus = #{status}
        WHERE fUuid IN
        <foreach item="uuid"  collection="uuids" open="(" separator="," close=")">
            #{uuid}
        </foreach>
    </update>

    <update id="updateOptimizeGroupName" parameterType="com.keymanager.ckadmin.criteria.KeywordCriteria">
        UPDATE
        t_customer_keyword ck,t_customer c
        SET
        ck.fOptimizeGroupName = #{keywordCriteria.targetOptimizeGroupName},
        ck.fUpdateTime = NOW()
        WHERE c.fUuid = ck.fCustomerUuid
        <include refid="updateCustomerKeywordsCriteria"/>
    </update>

    <update id="updateMachineGroup" parameterType="com.keymanager.ckadmin.criteria.KeywordCriteria">
        UPDATE
        t_customer_keyword ck,t_customer c
        SET
        ck.fMachineGroup = #{keywordCriteria.targetMachineGroup},
        ck.fUpdateTime = NOW()
        WHERE c.fUuid = ck.fCustomerUuid
        <include refid="updateCustomerKeywordsCriteria"/>
    </update>

    <update id="updateBearPawNumber" parameterType="com.keymanager.ckadmin.criteria.KeywordCriteria">
        UPDATE
        t_customer_keyword ck,t_customer c
        SET
        ck.fBearPawNumber = #{keywordCriteria.targetBearPawNumber},
        ck.fUpdateTime = NOW()
        WHERE c.fUuid = ck.fCustomerUuid
        <include refid="updateCustomerKeywordsCriteria"/>
    </update>

    <delete id="deleteCustomerKeywordsByUuids">
        DELETE FROM t_customer_keyword WHERE fUuid IN
        <foreach item="item" index="index" collection="customerKeywordUuids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteCustomerKeywordsWhenEmptyTitle">
        DELETE FROM t_customer_keyword
        WHERE fTerminalType = #{keywordCriteria.terminalType}
          AND fCustomerUuid = #{keywordCriteria.customerUuid}
          AND (fTitle = '' OR fTitle IS NULL)
    </delete>

    <delete id="deleteCustomerKeywordsWhenEmptyTitleAndUrl">
        DELETE FROM t_customer_keyword
        WHERE fTerminalType = #{keywordCriteria.terminalType}
          AND fCustomerUuid = #{keywordCriteria.customerUuid}
          AND (fTitle = '' OR fTitle IS NULL)
          AND (fUrl = '' OR fUrl IS NULL)
    </delete>

    <select id="searchCustomerKeywords" parameterType="com.keymanager.ckadmin.criteria.KeywordCriteria"
        resultType="com.keymanager.ckadmin.entity.CustomerKeyword">
        SELECT
        ck.fUuid AS 'uuid',
        c.fUserID AS 'userID',
        c.fContactPerson AS 'contactPerson',
        ck.fTerminalType AS 'terminalType',
        ck.fCustomerUuid AS 'customerUuid',
        ck.fKeyword AS 'keyword',
        ck.fUrl AS 'url',
        ck.fOriginalUrl AS 'originalUrl',
        ck.fBearPawNumber AS 'bearPawNumber',
        ck.fTitle AS 'title',
        ck.fStatus AS 'status',
        ck.fSearchEngine AS 'searchEngine',
        ck.fCity AS 'city',
        ck.fCollectMethod AS 'collectMethod',
        ck.fInitialPosition AS 'initialPosition',
        ck.fCurrentIndexCount AS 'currentIndexCount',
        ck.fCurrentPosition AS 'currentPosition',
        ck.fInvalidRefreshCount AS 'invalidRefreshCount',
        ck.fCapturePositionCity AS 'capturePositionCity',
        ck.fOptimizePlanCount AS 'optimizePlanCount',
        ck.fOptimizedCount AS 'optimizedCount',
        ck.fOptimizedPercentage AS 'optimizedPercentage',
        ck.fOptimizeDate AS 'optimizeDate',
        ck.fStartOptimizedTime AS 'startOptimizedTime',
        ck.fLastOptimizeDateTime AS 'lastOptimizeDateTime',
        ck.fLastReachStandardDate AS 'lastReachStandardDate',
        ck.fPaymentStatus AS 'paymentStatus',
        ck.fOrderNumber AS 'orderNumber',
        ck.fRemarks AS 'remarks',
        ck.fFailedCause AS 'failedCause',
        ck.fCapturePositionQueryTime AS 'capturePositionQueryTime',
        ck.fOptimizeGroupName AS 'optimizeGroupName',
        ck.fMachineGroup AS 'machineGroup',
        ck.fCapturePositionQueryTime AS 'capturePositionQueryTime'
        FROM
        t_customer_keyword ck,
        t_customer c
        WHERE c.fUuid = ck.fCustomerUuid
        <include refid="searchCustomerKeywordsCriteria"/>
    </select>

    <update id="updateOptimizePlanCount" parameterType="com.keymanager.ckadmin.criteria.KeywordCriteria">
        UPDATE
        t_customer_keyword ck,t_customer c
        SET
        ck.fOptimizePlanCount = #{keywordCriteria.targetOptimizePlanCount},
        ck.fUpdateTime = NOW()
        WHERE c.fUuid = ck.fCustomerUuid
        <include refid="updateCustomerKeywordsCriteria"/>
    </update>

    <select id="searchCustomerKeywordsForDailyReport" parameterType="com.keymanager.ckadmin.criteria.KeywordCriteria" resultType="com.keymanager.ckadmin.entity.CustomerKeyword">
        SELECT
        <include refid="dailyReportColID"/>
        FROM
        t_customer_keyword ck
        WHERE ck.fCustomerUuid = #{keywordCriteria.customerUuid}
        AND ck.fStatus = 1
        AND fTerminalType =  #{keywordCriteria.terminalType}
        ORDER BY ck.fSequence
    </select>

    <select id="getGroups" resultType="String">
        SELECT ck.fOptimizeGroupName as 'group' FROM t_customer_keyword ck WHERE ck.fStatus = 1
        <if test="customerUuids != null">
            AND ck.fCustomerUuid IN
            <foreach item="item" index="index" collection="customerUuids" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        AND ck.fOptimizeGroupName &gt; '' GROUP BY ck.fOptimizeGroupName
    </select>

    <select id="getCustomerUuids" resultType="java.lang.Long">
        SELECT DISTINCT ck.fCustomerUuid
        FROM t_customer_keyword ck
        WHERE ck.fType =  #{entryType}
          AND ck.fTerminalType = #{terminalType}
          AND ck.fStatus = 1
    </select>

    <select id="searchCustomerKeywordInfo" parameterType="com.keymanager.ckadmin.criteria.KeywordCriteria" resultType="com.keymanager.ckadmin.entity.CustomerKeyword">
        SELECT
        ck.fKeyword	AS	'keyword',
        ck.fUrl	AS	'url',
        ck.fOriginalUrl	AS	'originalUrl',
        ck.fTitle	AS	'title',
        ck.fInitialPosition	AS	'initialPosition',
        ck.fCurrentPosition	AS	'currentPosition',
        ck.fOptimizePlanCount	AS	'optimizePlanCount',
        ck.fOptimizedCount	AS	'optimizedCount',
        ck.fPositionFirstFee	AS	'positionFirstFee',
        ck.fPositionSecondFee	AS	'positionSecondFee',
        ck.fPositionThirdFee	AS	'positionThirdFee',
        ck.fPositionForthFee	AS	'positionForthFee',
        ck.fPositionFifthFee	AS	'positionFifthFee',
        ck.fPositionFirstPageFee	AS	'positionFirstPageFee',
        ck.fCurrentIndexCount	AS	'currentIndexCount',
        ck.fBearPawNumber       AS 'bearPawNumber',
        ck.fRemarks	AS	'remarks'
        FROM
        t_customer_keyword ck
        WHERE 1 = 1
        <include refid="searchCustomerKeywordsCriteria"/>
    </select>

    <select id="selectAllKeywordAndUrl" resultType="java.util.Map">
        SELECT
            fKeyword AS 'keyword',
            fUrl     AS 'url'
        FROM
            t_customer_keyword
        WHERE fCustomerUuid = #{customerUuid}
          AND fTerminalType = #{terminalType}
    </select>

    <update id="updateSearchEngine" parameterType="com.keymanager.ckadmin.criteria.KeywordCriteria">
        UPDATE
        t_customer_keyword ck,t_customer c
        SET
        ck.fSearchEngine = #{keywordCriteria.targetSearchEngine},
        ck.fUpdateTime = NOW()
        WHERE c.fUuid = ck.fCustomerUuid
        <include refid="updateCustomerKeywordsCriteria"/>
    </update>
</mapper>