<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.ckadmin.dao.GroupDao">

    <select id="findGroupByGroupName" resultType="com.keymanager.ckadmin.entity.Group">
        SELECT
            g.fUuid AS 'uuid',
            g.fGroupName AS 'groupName',
            g.fOperationCombineUuid AS 'operationCombineUuid',
            g.fCreateBy AS 'createBy'
        FROM t_group g
        WHERE g.fGroupName = #{groupName}
    </select>
    
    <delete id="deleteByGroupName">
        DELETE FROM t_group
        WHERE fGroupName = #{groupName}
    </delete>
</mapper>