<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.ckadmin.dao.GroupDao">

    <select id="findGroupByGroupName" resultType="com.keymanager.ckadmin.entity.Group">
        SELECT
            g.fUuid AS 'uuid',
            g.fGroupName AS 'groupName',
            g.fOperationCombineUuid AS 'operationCombineUuid',
            g.fCreateBy AS 'createBy'
        FROM t_group g
        WHERE g.fGroupName = #{groupName}
    </select>
    
    <delete id="deleteByGroupName">
        DELETE FROM t_group
        WHERE fGroupName = #{groupName}
    </delete>

    <select id="getGroupNames" resultType="java.lang.String">
        SELECT
            g.fGroupName AS 'groupName'
        FROM t_group g
                 LEFT JOIN t_operation_combine toc
                           ON toc.fUuid = g.fOperationCombineUuid
        WHERE g.fOperationCombineUuid = #{operationCombineUuid}
        ORDER BY g.fCreateTime
    </select>

    <select id="searchExistingGroupUuid" resultType="java.lang.Long">
        SELECT
            g.fUuid AS 'groupUuid'
        FROM t_group g
        WHERE g.fGroupName = #{groupName}
        LIMIT 1
    </select>

    <insert id="insertBatchGroups">
        INSERT INTO t_group(fGroupName, fOperationCombineUuid, fCreateBy)
        VALUES
        <foreach collection="operationCombineCriteria.groupNames" item="groupName" separator=",">
            (
            #{groupName},
            #{operationCombineCriteria.operationCombineUuid},
            #{operationCombineCriteria.creator}
            )
        </foreach>
    </insert>

    <delete id="deleteGroupByGroupName">
        DELETE FROM t_group
        WHERE fOperationCombineUuid = #{operationCombineUuid}
        AND fGroupName IN (
        <foreach collection="groupNames" item="groupName" separator=",">
            #{groupName}
        </foreach>
        )
    </delete>

    <update id="updateGroupOperationUuid">
        UPDATE t_group
        SET fUpdateTime = NOW(),
        <choose>
            <when test="operationCombineUuid == null">
                fOperationCombineUuid = NULL
            </when>
            <otherwise>
                fOperationCombineUuid = #{operationCombineUuid}
            </otherwise>
        </choose>
        WHERE fUuid IN
        <foreach collection="groupUuids" item="uuid" open="(" separator="," close=")">
            #{uuid}
        </foreach>
    </update>

    <select id="getGroupsByOperationCombineUuid" resultType="com.keymanager.ckadmin.vo.GroupVO">
        SELECT
            g.fUuid AS 'groupUuid',
            g.fGroupName AS 'groupName'
        FROM t_group g
        LEFT JOIN t_operation_combine toc ON toc.fUuid = g.fOperationCombineUuid
        WHERE g.fOperationCombineUuid = #{operationCombineUuid}
        <if test="groupName != null and groupName != ''">
            AND g.fGroupName LIKE CONCAT(#{groupName},'%')
        </if>
        ORDER BY g.fCreateTime
    </select>

    <select id="getOptimizationGroups" resultType="com.keymanager.ckadmin.vo.GroupVO">
        SELECT
            g.fGroupName AS 'groupName'
        FROM t_group g
                 LEFT JOIN t_operation_combine toc
                           ON toc.fUuid = g.fOperationCombineUuid
        WHERE toc.fTerminalType = #{terminalType}
        GROUP BY g.fGroupName
    </select>
</mapper>