<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.ckadmin.dao.MachineInfoDao">

    <sql id="selectCol">
        mi.fClientID AS "clientID",
        mi.fTerminalType AS "terminalType",
        mi.fClientIDPrefix AS "clientIDPrefix",
        mi.fVersion AS "version",
        mi.fTargetVersion AS "targetVersion",
        mi.fPageNo AS "pageNo",
        mi.fContinuousFailCount AS "continuousFailCount",
        mi.fCity AS "city",
        mi.fGroup AS "group",
        mi.fMachineGroup AS "machineGroup",
        mi.fUsingOperationType AS "usingOperationType",
        mi.fAllowSwitchGroup AS "allowSwitchGroup",
        mi.fSwitchGroupName AS "switchGroupName",
        mi.fHost AS "host",
        mi.fPort AS "port",
        mi.fUserName AS "userName",
        mi.fPassword AS "password",
        mi.fBroadbandAccount AS "broadbandAccount",
        mi.fBroadbandPassword AS "broadbandPassword",
        mi.fFreeSpace AS "freeSpace",
        mi.fVPSBackendSystemComputerID AS "vPSBackendSystemComputerID",
        mi.fVPSBackendSystemPassword AS "vPSBackendSystemPassword",
        mi.fLastVisitTime AS "lastVisitTime",
        mi.fLastSendNotificationTime AS "lastSendNotificationTime",
        mi.fRestartCount AS "restartCount",
        mi.fRestartStatus AS "restartStatus",
        mi.fRestartTime AS "restartTime",
        mi.fValid AS "valid",
        mi.fRestartOrderingTime AS "restartOrderingTime",
        mi.fOptimizationStartDate AS "optimizationStartDate",
        mi.fOptimizationTotalCount AS "optimizationTotalCount",
        mi.fOptimizationSucceedCount AS "optimizationSucceedCount",
        mi.fRenewalDate AS "renewalDate",
        mi.fDownloadProgramType AS "downloadProgramType",
        mi.fStartUpStatus AS "startUpStatus",
        mi.fStartUpTime AS "startUpTime",
        mi.fStatus AS "status",
        mi.fRunningProgramType AS "runningProgramType",
        mi.fUpgradeFailedReason AS "upgradeFailedReason",
        mi.fRemainingKeyword AS "remainingKeyword",
        mi.fCreateTime AS "createTime",
        mi.fCpuCount AS "cpuCount",
        mi.fMemory AS "memory"
    </sql>

    <update id="updateMachineInfoTargetVersion">
        UPDATE t_machine_info SET fTargetVersion = #{targetVersion}
        WHERE fClientID IN
        <foreach item="item" collection="clientIDs" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateMachineInfoTargetVPSPassword">
        UPDATE t_machine_info SET fTargetVPSPassword = #{targetVPSPassword}
        WHERE fClientID IN
        <foreach item="item" collection="clientIDs" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>


    <delete id="deleteMachineInfos">
        DELETE FROM t_machine_info WHERE fClientID IN
        <foreach item="item" collection="clientIDs" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="searchMachineInfos" parameterType="com.keymanager.ckadmin.criteria.MachineInfoCriteria" resultType="com.keymanager.ckadmin.entity.MachineInfo">
        SELECT
        <include refid="selectCol"/>
        FROM
        t_machine_info mi
        WHERE mi.fTerminalType = #{machineInfoCriteria.terminalType}
        <if test="machineInfoCriteria.clientID != null and machineInfoCriteria.clientID != ''">AND
            mi.fClientID like '${machineInfoCriteria.clientID}%'
        </if>
        <if test="machineInfoCriteria.machineGroup != null and machineInfoCriteria.machineGroup != ''">
            AND mi.fMachineGroup like '${machineInfoCriteria.machineGroup}%'
        </if>
        <if test="machineInfoCriteria.upgradeFailedReason != null and machineInfoCriteria.upgradeFailedReason != ''">
            AND mi.fUpgradeFailedReason like '${machineInfoCriteria.upgradeFailedReason}%'
        </if>
        <if test="machineInfoCriteria.version != null and machineInfoCriteria.version != ''">AND
            mi.fVersion like concat(#{machineInfoCriteria.version},'%')
        </if>
        <if test="machineInfoCriteria.targetVersion != null and machineInfoCriteria.targetVersion != ''">
            AND mi.fTargetVersion like concat(#{machineInfoCriteria.targetVersion},'%')
        </if>
        <if test="machineInfoCriteria.city != null and machineInfoCriteria.city != ''">AND mi.fCity like
            concat(#{machineInfoCriteria.city},'%')
        </if>
        <if test="machineInfoCriteria.valid != null and machineInfoCriteria.valid != ''">AND mi.fValid =
            #{machineInfoCriteria.valid}
        </if>
        <if test="machineInfoCriteria.hasProblem != null">AND (mi.fContinuousFailCount &gt; 5 OR
            mi.fTenMinsLastVisitTime &lt; NOW()) and mi.fValid = 1
        </if>
        <if test="machineInfoCriteria.renewal != null">AND mi.fRenewalDate &lt; DATE_ADD(CURRENT_DATE(),
            INTERVAL -3 DAY) and mi.fValid = 1
        </if>
        <if test="machineInfoCriteria.noMachineGroup != null">AND (mi.fMachineGroup is null or
            mi.fMachineGroup = '')
        </if>
        <if test="machineInfoCriteria.hasMachineGroup != null">AND mi.fMachineGroup > ''</if>
        <if test="machineInfoCriteria.startUpStatus != null and machineInfoCriteria.startUpStatus != ''">
            AND mi.fStartUpStatus = #{machineInfoCriteria.startUpStatus}
        </if>
        <if test="machineInfoCriteria.runningProgramType != null and machineInfoCriteria.runningProgramType != ''">
            AND mi.fRunningProgramType = #{machineInfoCriteria.runningProgramType}
        </if>
        <if test="machineInfoCriteria.noVNC != null">AND (mi.fHost is null or mi.fHost = '')</if>
        <if test="machineInfoCriteria.noUpgrade != null">AND (mi.fVersion &lt;&gt; mi.fTargetVersion)
        </if>
        <if test="machineInfoCriteria.noChangePassword != null">AND (mi.fPassword &lt;&gt;
            mi.fTargetVPSPassword)
        </if>
        <if test="machineInfoCriteria.startUpClient != null">AND mi.fDownloadProgramType > ''</if>
        <if test="machineInfoCriteria.vpsBackendSystemComputerID != null and machineInfoCriteria.vpsBackendSystemComputerID != ''">
            AND mi.fVPSBackendSystemComputerID = #{machineInfoCriteria.vpsBackendSystemComputerID}
        </if>
        <if test="machineInfoCriteria.switchGroupName != null and machineInfoCriteria.switchGroupName != ''">
            AND mi.fSwitchGroupName = #{machineInfoCriteria.switchGroupName}
        </if>
        <if test="machineInfoCriteria.allowSwitchGroup != null and machineInfoCriteria.allowSwitchGroup != ''">
            AND mi.fAllowSwitchGroup = #{machineInfoCriteria.allowSwitchGroup}
        </if>
        <if test="machineInfoCriteria.gtMemory != null and machineInfoCriteria.gtMemory != ''">AND mi.fMemory &gt;= #{machineInfoCriteria.gtMemory}</if>
        <if test="machineInfoCriteria.ltMemory != null and machineInfoCriteria.ltMemory != ''">AND mi.fMemory &lt;= #{machineInfoCriteria.ltMemory}</if>
        <if test="machineInfoCriteria.switchGroups != null">AND mi.fSwitchGroupName IN
            <foreach collection="machineInfoCriteria.switchGroups" item="switchGroup" open="(" close=")" separator=",">
                #{switchGroup}
            </foreach>
        </if>
        <if test="machineInfoCriteria.orderBy != null and machineInfoCriteria.orderBy != ''">
            ORDER BY ${machineInfoCriteria.orderBy}
        </if>
    </select>

    <select id="getMachineInfosForSwitchGroup"
            resultType="com.keymanager.ckadmin.entity.MachineInfo">
        SELECT
        <include refid="selectCol"/>
        FROM
        t_machine_info mi
        WHERE mi.fTerminalType = #{terminalType}
        AND mi.fValid = 1
        AND mi.fAllowSwitchGroup = 1
    </select>

    <select id="getMachineInfosForRenewal" resultType="com.keymanager.ckadmin.entity.MachineInfo">
        SELECT
            mi.fClientID as 'clientID',
            mi.fRenewalDate AS "renewalDate"
        FROM
        t_machine_info mi
        WHERE fRenewalDate &lt; DATE_ADD(CURRENT_DATE(), INTERVAL 3 DAY )
        AND fValid = 1
        ORDER BY fRenewalDate
    </select>

    <select id="searchBadMachineInfo"
            parameterType="com.keymanager.ckadmin.criteria.MachineInfoCriteria"
            resultType="com.keymanager.ckadmin.entity.MachineInfo">
        SELECT
        <include refid="selectCol"/>
        FROM
        t_machine_info mi
        WHERE mi.fTerminalType = #{machineInfoCriteria.terminalType}
        AND mi.fMachineGroup = #{machineInfoCriteria.machineGroup}
        AND (mi.fContinuousFailCount &gt; 5 OR mi.fTenMinsLastVisitTime &lt; NOW()) and mi.fValid = 1
        <if test="machineInfoCriteria.groupName != null and machineInfoCriteria.groupName != ''">AND
            mi.fGroup = #{machineInfoCriteria.groupName}
        </if>
        <if test="machineInfoCriteria.switchGroups != null">AND mi.fSwitchGroupName IN
            <foreach collection="machineInfoCriteria.switchGroups" item="switchGroup" open="(" close=")"
                    separator=",">
                #{switchGroup}
            </foreach>
        </if>
    </select>

    <select id="getMachineInfoByMachineID" parameterType="java.lang.String"
            resultType="com.keymanager.ckadmin.entity.MachineInfo">
        SELECT
        <include refid="selectCol"/>
        FROM
        t_machine_info mi
        WHERE mi.fTerminalType = #{terminalType}
        AND mi.fClientID = #{clientID}
    </select>

    <update id="resetRestartStatusForProcessing">
        UPDATE t_machine_info SET fRestartStatus = NULL WHERE (fRestartStatus = 'Processing' or fRestartStatus = 'Logging')
    </update>

    <select id="searchMachineInfosOrByHost" parameterType="java.lang.String"
            resultType="com.keymanager.ckadmin.entity.MachineInfo">
        SELECT
        <include refid="selectCol"/>
        FROM
        t_machine_info mi
        WHERE mi.fTerminalType = #{terminalType}
        <if test="comfirm != null">and (mi.fHost is not null or mi.fHost &lt;&gt; '')</if>
    </select>

    <update id="updateMachineInfoVersion">
        UPDATE t_machine_info
        SET fVersion = #{version}, fRestartCount = 0, fRestartStatus = null
        <choose>
            <when test="hasKeyword == 1">
                ,fIdleTotalMinutes = IF(fIdleStartTime IS NULL, fIdleTotalMinutes, fIdleTotalMinutes +
                TIMESTAMPDIFF(MINUTE, fIdleStartTime, NOW())), fIdleStartTime = NULL
            </when>
            <when test="hasKeyword == 0">
                ,fIdleStartTime = IF(fIdleStartTime IS NULL, NOW(), fIdleStartTime)
            </when>
        </choose>
        WHERE fClientID = #{clientID}
    </update>

    <update id="updateOptimizationResult">
        UPDATE t_machine_info
        SET fRestartOrderingTime = NOW(),
        fOptimizationStartDate = IF(fOptimizationStartDate IS NULL, CURRENT_DATE(),
        fOptimizationStartDate),
        fOptimizationTotalCount = fOptimizationTotalCount + 1,
        fOptimizationSucceedCount = fOptimizationSucceedCount + #{count},
        fLastVisitTime = NOW(),
        fTenMinsLastVisitTime = DATE_ADD(NOW(), INTERVAL 10 MINUTE ),
        <choose>
            <when test="count == 0">
                fContinuousFailCount = fContinuousFailCount + 1,
            </when>
            <when test="count == 1">
                fContinuousFailCount = 0,
            </when>
        </choose>
        fLastSendNotificationTime = NULL,
        fStatus = #{status},
        fFreeSpace = #{freeSpace},
        fVersion = #{version},
        fCity = #{city},
        fRunningProgramType = #{runningProgramType},
        fCpuCount = #{cpuCount},
        fMemory = #{memory}
        WHERE fClientID = #{clientID}
    </update>

    <update id="updateMachineInfoForCapturePosition">
        UPDATE t_machine_info
        SET fRestartOrderingTime = NOW(),
        fOptimizationStartDate = IF(fOptimizationStartDate IS NULL, CURRENT_DATE(), fOptimizationStartDate),
        fOptimizationTotalCount = fOptimizationTotalCount + 1,
        fLastVisitTime = NOW(),
        fTenMinsLastVisitTime = DATE_ADD(NOW(), INTERVAL 10 MINUTE ),
        fLastSendNotificationTime = NULL
        WHERE fClientID = #{clientID}
    </update>

    <select id="getMachineInfoForStartUp" resultType="com.keymanager.ckadmin.entity.MachineInfo">
        SELECT
        <include refid="selectCol"/>
        FROM t_machine_info mi
        WHERE (mi.fStartUpStatus = 'New' OR (mi.fStartUpStatus = 'Processing' AND mi.fStartUpTime &lt;
        DATE_SUB(NOW(), INTERVAL 30 MINUTE)))
        ORDER BY mi.fStartUpTime
        LIMIT 1
    </select>

    <select id="getMachineInfoID" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT fClientID as 'clientID' FROM t_machine_info WHERE fVPSBackendSystemComputerID = #{vpsBackendSystemComputerID}
    </select>

    <select id="getDownloadingClientCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM t_machine_info WHERE fStartUpStatus = "Downloading"
    </select>

    <select id="getUpgradingMachineCount" resultType="int">
        SELECT COUNT(1) FROM t_machine_info
        WHERE fVersion = #{clientUpgrade.version}
        AND fRunningProgramType = #{clientUpgrade.programType}
        AND fTargetVersion = #{clientUpgrade.targetVersion}
        AND fTerminalType = #{clientUpgrade.terminalType}
    </select>

    <select id="getResidualMachineCount" resultType="int">
        SELECT COUNT(1) FROM t_machine_info
        WHERE fVersion = #{clientUpgrade.version}
        AND fRunningProgramType = #{clientUpgrade.programType}
        AND (fTargetVersion is null or fTargetVersion &lt;&gt; #{clientUpgrade.targetVersion})
        AND fTerminalType = #{clientUpgrade.terminalType}
    </select>

    <update id="reopenMachineInfo">
        UPDATE
        t_machine_info
        SET
        fDownloadProgramType = #{downloadProgramType},
        fSwitchGroupName = #{switchGroupName},
        fStartUpStatus = 'New',
        fStartUpTime = NULL,
        fTargetVersion = NULL,
        fVersion = NULL
        WHERE fClientID IN
        <foreach item="clientID" collection="clientIDs" open="(" separator="," close=")">
            #{clientID}
        </foreach>
    </update>

    <update id="updateStartUpStatusForCompleted">
        UPDATE t_machine_info SET fStartUpStatus = 'Completed'
        WHERE fClientID IN
        <foreach item="clientID" collection="clientIDs" open="(" separator="," close=")">
            #{clientID}
        </foreach>
    </update>

    <select id="selectMaxIdByMachineID" resultType="java.lang.Integer"
            parameterType="java.lang.String">
        SELECT MAX(CAST(TRIM(LEADING #{clientID} FROM fClientID) AS DECIMAL)) AS clientID
        FROM t_machine_info
        WHERE fClientID LIKE '${clientID}%'
    </select>

    <update id="batchUpdateMachineInfo">
        UPDATE t_machine_info
        SET fTerminalType = fTerminalType
        <if test="mi.machineGroup==1">,fMachineGroup = #{machineInfo.machineGroup}</if>
        <if test="mi.allowSwitchGroup==1">,fAllowSwitchGroup = #{machineInfo.allowSwitchGroup}</if>
        <if test="mi.switchGroupName==1">,fSwitchGroupName = #{machineInfo.switchGroupName}</if>
        <if test="mi.host==1">,fHost = #{machineInfo.host}</if>
        <if test="mi.port==1">,fPort = #{machineInfo.port}</if>
        <if test="mi.userName==1">,fUserName = #{machineInfo.userName}</if>
        <if test="mi.broadbandAccount==1">,fBroadbandAccount = #{machineInfo.broadbandAccount}</if>
        <if test="mi.broadbandPassword==1">,fBroadbandPassword = #{machineInfo.broadbandPassword}</if>
        <if test="mi.vpsBackendSystemComputerID==1">,fVpsBackendSystemComputerID =
            #{machineInfo.vpsBackendSystemComputerID}
        </if>
        <if test="mi.vpsBackendSystemPassword==1">,fVpsBackendSystemPassword =
            #{machineInfo.vpsBackendSystemPassword}
        </if>
        WHERE fClientID IN
        <foreach item="clientID" collection="clientIDs" open="(" separator="," close=")">
            #{clientID}
        </foreach>
    </update>

    <update id="batchUpdateMachine" parameterType="com.keymanager.ckadmin.criteria.MachineInfoCriteria">
        UPDATE t_machine_info mi
        SET mi.fAllowSwitchGroup = #{machineInfoCriteria.allowSwitchGroup}
        <if test="machineInfoCriteria.switchGroupName != null and machineInfoCriteria.switchGroupName != ''">
            ,mi.fSwitchGroupName = #{machineInfoCriteria.switchGroupName}
        </if>
        <if test="machineInfoCriteria.targetMachineGroup != null and machineInfoCriteria.targetMachineGroup != ''">
            ,mi.fMachineGroup = #{machineInfoCriteria.targetMachineGroup}
        </if>
        WHERE 1=1
        <if test="machineInfoCriteria.clientIDs != null">AND mi.fClientID IN
            <foreach item="item" collection="machineInfoCriteria.clientIDs" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </update>

    <update id="batchUpdateUpgradeFailedReason">
        UPDATE t_machine_info
        SET fUpgradeFailedReason = #{upgradeFailedReason}
        WHERE fClientID IN
        <foreach item="clientID" collection="clientIDs" open="(" separator="," close=")">
            #{clientID}
        </foreach>
    </update>

    <update id="batchUpdateSwitchGroupName">
        UPDATE t_machine_info
        SET fSwitchGroupName = #{switchGroupName}
        WHERE fClientID IN
        <foreach item="clientID" collection="clientIDs" open="(" separator="," close=")">
            #{clientID}
        </foreach>
    </update>

    <update id="batchUpdateAllowSwitchGroup">
        UPDATE t_machine_info
        SET fAllowSwitchGroup = #{allowSwitchGroup}
        WHERE fClientID IN
        <foreach item="clientID" collection="clientIDs" open="(" separator="," close=")">
            #{clientID}
        </foreach>
    </update>

    <update id="batchChangeStatus">
        UPDATE t_machine_info
        SET fValid = #{valid}
        WHERE fClientID IN
        <foreach collection="clientIDs" item="clientID" open="(" close=")" separator=",">
            #{clientID}
        </foreach>
    </update>

    <update id="batchChangeTerminalType">
        UPDATE t_machine_info
        SET fTerminalType = #{terminalType}
        WHERE fClientID IN
        <foreach collection="clientIDs" item="clientID" open="(" close=")" separator=",">
            #{clientID}
        </foreach>
    </update>

    <update id="updateMachineTargetVersion"
            parameterType="com.keymanager.ckadmin.entity.ClientUpgrade">
        UPDATE t_machine_info
        SET fTargetVersion = #{clientUpgrade.targetVersion}
        WHERE fVersion = #{clientUpgrade.version}
        AND fRunningProgramType = #{clientUpgrade.programType}
        AND fTerminalType = #{clientUpgrade.terminalType}
        AND (fTargetVersion is null or fTargetVersion &lt;&gt; #{clientUpgrade.targetVersion})
        LIMIT #{clientUpgrade.maxUpgradeCount}
    </update>

    <update id="updateVersion">
        UPDATE t_machine_info SET fVersion = #{version}
        WHERE fClientID = #{clientID}
    </update>

    <select id="searchMachineInfoForRefreshStat"
            parameterType="com.keymanager.ckadmin.criteria.RefreshStatisticsCriteria"
            resultType="com.keymanager.ckadmin.entity.CustomerKeywordTerminalRefreshStatRecord">
        SELECT
        cs.fGroup AS "group",
        cs.fTerminalType AS "terminalType",
        SUM(IF(DATE_ADD(cs.fLastVisitTime, INTERVAL IF(10 > cs.fPageNo * 3, 15, cs.fPageNo * 3 + 5)
        MINUTE) &lt; NOW(), 1, 0)) AS 'unworkMachineCount',
        SUM(cs.fIdleTotalMinutes) AS "idleTotalMinutes",
        COUNT(1) AS 'totalMachineCount'
        FROM t_machine_info cs
        WHERE cs.fValid = 1
        <if
                test="criteria.terminalType!=null and criteria.terminalType!=''">
            AND cs.fTerminalType = #{criteria.terminalType}
        </if>
        <if
                test="criteria.groupName!=null and criteria.groupName!=''">
            AND cs.fGroup like '${criteria.groupName}%'
            AND EXISTS (SELECT 1 FROM t_customer_keyword ck WHERE ck.fType =
            #{criteria.entryType} AND ck.fOptimizeGroupName like
            '${criteria.groupName}%')
        </if>
        GROUP BY cs.fGroup, cs.fTerminalType
        ORDER BY cs.fGroup
    </select>

    <update id="updatePageNo">
        UPDATE t_machine_info
        SET
        fLastVisitTime = NOW(),
        fTenMinsLastVisitTime = DATE_ADD(NOW(), INTERVAL 10 MINUTE ),
        fPageNo = #{pageNo}
        WHERE fClientID = #{clientID}
    </update>

    <update id="updateRestartStatus">
        UPDATE t_machine_info
        SET fRestartStatus = #{restartStatus}, fRestartTime = now(), fThreeMinsRestartTime = DATE_ADD(NOW(), INTERVAL 3 MINUTE ), fTenMinsRestartTime = DATE_ADD(NOW(), INTERVAL 10 MINUTE ), fRestartOrderingTime = now()
        WHERE fClientID = #{clientID}
    </update>

    <select id="searchMachineInfoSummaryVO" resultType="com.keymanager.ckadmin.vo.MachineInfoSummaryVO">
        SELECT
            cs.fClientIDPrefix as clientIDPrefix,
            cs.fTerminalType as type,
            cs.fCity as city,
            COUNT(1) as 'count',
            cs.fSwitchGroupName as 'switchGroupName'
        FROM t_machine_info cs
        <where> cs.fValid = 1
            <if test="clientIDPrefix!=null and clientIDPrefix!=''">AND cs.fClientIDPrefix LIKE '%${clientIDPrefix}%'</if>
            <if test="city!=null and city!=''">AND cs.fCity LIKE '%${city}%'</if>
            <if test="switchGroupName!=null and switchGroupName!=''">AND cs.fSwitchGroupName LIKE '%${switchGroupName}%'</if>
        </where>
        GROUP BY cs.fClientIDPrefix, cs.fTerminalType, cs.fCity, cs.fSwitchGroupName
        ORDER BY cs.fClientIDPrefix
    </select>

    <select id="searchMachineInfoGroupSummaryVO" resultType="com.keymanager.ckadmin.vo.MachineInfoGroupSummaryVO">
        SELECT cs.fGroup as 'group', cs.fTerminalType as terminalType, COUNT(1) AS 'count' FROM
        t_machine_info cs
        <where>
            <if test="machineInfoGroupStatCriteria.groupName!=null and machineInfoGroupStatCriteria.groupName!=''">and cs.fGroup LIKE
                '%${machineInfoGroupStatCriteria.groupName}%'
            </if>
            <if test="machineInfoGroupStatCriteria.terminalType!=null and machineInfoGroupStatCriteria.terminalType!=''">and cs.fTerminalType =
                #{machineInfoGroupStatCriteria.terminalType}
            </if>
        </where>
        GROUP BY cs.fGroup, cs.fTerminalType ORDER BY cs.fGroup
    </select>

    <select id="searchRestartingClientStatuses"
            resultType="com.keymanager.ckadmin.entity.MachineInfo">
        SELECT
        cs.fClientID AS "clientID",
        cs.fTerminalType AS "terminalType",
        cs.fVPSBackendSystemComputerID AS "vPSBackendSystemComputerID",
        cs.fContinuousFailCount AS "continuousFailCount",
        cs.fLastVisitTime AS "lastVisitTime",
        cs.fPageNo AS "pageNo",
        cs.fHost AS "host",
        cs.fPort AS "port",
        cs.fUserName AS "userName",
        cs.fPassword AS "password",
        cs.fRestartStatus AS "restartStatus"
        FROM t_machine_info cs
        WHERE fTenMinsLastVisitTime &lt; NOW() and fValid = 1
        AND fRestartStatus = 'restarting' AND fThreeMinsRestartTime &lt; NOW()
        AND fStartUpStatus = 'Completed'
        AND fHost &gt; '' order by fRestartOrderingTime limit 1
    </select>

    <select id="searchWaitingRestartingMachineInfos"
            resultType="com.keymanager.ckadmin.entity.MachineInfo">
        SELECT
        cs.fClientID AS "clientID",
        cs.fTerminalType AS "terminalType",
        cs.fVPSBackendSystemComputerID AS "vPSBackendSystemComputerID",
        cs.fContinuousFailCount AS "continuousFailCount",
        cs.fLastVisitTime AS "lastVisitTime",
        cs.fPageNo AS "pageNo",
        cs.fRestartStatus AS "restartStatus"
        FROM t_machine_info cs
        WHERE (fContinuousFailCount > 5 OR fTenMinsLastVisitTime &lt; NOW())
        AND fTenMinsRestartTime &lt; NOW() and fRemainingKeyword = 1
        AND fStartUpStatus = 'Completed'
        AND fGroup &gt; ''
        AND fValid = 1 AND fHost &gt; '' order by fRestartOrderingTime limit 1
    </select>

    <update id="updateRemainingKeywordIndicator">
        UPDATE t_machine_info SET fRemainingKeyword = #{indicator} WHERE fGroup in
        <foreach item="item" collection="groupNames" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateAllRemainingKeywordIndicator">
        UPDATE t_machine_info SET fRemainingKeyword = #{indicator}
    </update>

    <select id="searchClientForAllotCookie" resultType="com.keymanager.ckadmin.vo.CookieVO">
        SELECT
            cs.fClientID AS 'clientID',
            cs.fSwitchGroupName AS 'switchGroupName',
            cc.fCookieCount AS 'cookieCount',
            cc.fCookieStr AS 'cookieStr'
        FROM t_machine_info cs
        LEFT JOIN t_client_cookie cc
        ON cs.fClientID = cc.fClientID
        WHERE cs.fSwitchGroupName LIKE '${cookieGroupForBaidu}%'
        AND (cc.fCookieCount &lt; #{clientCookieCount} OR cc.fCookieCount IS NULL)
        UNION ALL
        SELECT
            cs.fClientID AS 'clientID',
            cs.fSwitchGroupName AS 'switchGroupName',
            cc.fCookieCount AS 'cookieCount',
            cc.fCookieStr AS 'cookieStr'
        FROM t_machine_info cs
        LEFT JOIN t_client_cookie cc
        ON cs.fClientID = cc.fClientID
        WHERE cs.fSwitchGroupName LIKE '${cookieGroupFor360}%'
        AND (cc.fCookieCount &lt; #{clientCookieCount} OR cc.fCookieCount IS NULL)
    </select>

    <update id="resetOptimizationInfo">
        UPDATE t_machine_info SET fRemainingKeyword = 1, fIdleStartTime = null, fIdleTotalMinutes = 0
    </update>

    <update id="updateMachineGroup"
            parameterType="com.keymanager.ckadmin.criteria.MachineInfoCriteria">
        UPDATE t_machine_info mi
        SET mi.fMachineGroup = #{machineInfoCriteria.targetMachineGroup}
        WHERE 1=1
        <if test="machineInfoCriteria.clientIDs != null">AND mi.fClientID IN
            <foreach item="item" collection="machineInfoCriteria.clientIDs" open="(" separator=","
                    close=")">
                #{item}
            </foreach>
        </if>
        <if test="machineInfoCriteria.clientID != null and machineInfoCriteria.clientID != ''">AND
            mi.fClientID like '${machineInfoCriteria.clientID}%'
        </if>

        <if test="machineInfoCriteria.machineGroup != null and machineInfoCriteria.machineGroup != ''">
             AND mi.fMachineGroup like '%${machineInfoCriteria.machineGroup}%'
        </if>
        <if test="machineInfoCriteria.upgradeFailedReason != null and machineInfoCriteria.upgradeFailedReason != ''">
            AND mi.fUpgradeFailedReason like '%${machineInfoCriteria.upgradeFailedReason}%'
        </if>
        <if test="machineInfoCriteria.version != null and machineInfoCriteria.version != ''">AND
            mi.fVersion like concat(#{machineInfoCriteria.version},'%')
        </if>
        <if test="machineInfoCriteria.targetVersion != null and machineInfoCriteria.targetVersion != ''">
            AND mi.fTargetVersion like concat(#{machineInfoCriteria.targetVersion},'%')
        </if>
        <if test="machineInfoCriteria.city != null and machineInfoCriteria.city != ''">AND mi.fCity like
            concat(#{machineInfoCriteria.city},'%')
        </if>
        <if test="machineInfoCriteria.valid != null and machineInfoCriteria.valid != ''">AND mi.fValid =
            #{machineInfoCriteria.valid}
        </if>
        <if test="machineInfoCriteria.hasProblem != null">AND (mi.fContinuousFailCount &gt; 5 OR
            mi.fTenMinsLastVisitTime &lt; NOW()) and mi.fValid = 1
        </if>
        <if test="machineInfoCriteria.renewal != null">AND mi.fRenewalDate &lt; DATE_ADD(CURRENT_DATE(),
            INTERVAL -3 DAY) and mi.fValid = 1
        </if>
        <if test="machineInfoCriteria.noMachineGroup != null">AND (mi.fMachineGroup is null or
            mi.fMachineGroup = '')
        </if>
        <if test="machineInfoCriteria.hasMachineGroup != null">AND mi.fMachineGroup > ''</if>
        <if test="machineInfoCriteria.startUpStatus != null and machineInfoCriteria.startUpStatus != ''">
            AND mi.fStartUpStatus = #{machineInfoCriteria.startUpStatus}
        </if>
        <if test="machineInfoCriteria.runningProgramType != null and machineInfoCriteria.runningProgramType != ''">
            AND mi.fRunningProgramType = #{machineInfoCriteria.runningProgramType}
        </if>
        <if test="machineInfoCriteria.noVNC != null">AND (mi.fHost is null or mi.fHost = '')</if>
        <if test="machineInfoCriteria.noUpgrade != null">AND (mi.fVersion &lt;&gt; mi.fTargetVersion)
        </if>
        <if test="machineInfoCriteria.noChangePassword != null">AND (mi.fPassword &lt;&gt;
            mi.fTargetVPSPassword)
        </if>
        <if test="machineInfoCriteria.startUpClient != null">AND mi.fDownloadProgramType > ''</if>
        <if test="machineInfoCriteria.vpsBackendSystemComputerID != null and machineInfoCriteria.vpsBackendSystemComputerID != ''">
            AND (mi.fVPSBackendSystemComputerID = #{machineInfoCriteria.vpsBackendSystemComputerID})
        </if>
        <if test="machineInfoCriteria.switchGroupName != null and machineInfoCriteria.switchGroupName != ''">
            AND mi.fSwitchGroupName = #{machineInfoCriteria.switchGroupName}
        </if>
        <if test="machineInfoCriteria.allowSwitchGroup != null and machineInfoCriteria.allowSwitchGroup != ''">
            AND mi.fAllowSwitchGroup = #{machineInfoCriteria.allowSwitchGroup}
        </if>
        <if test="machineInfoCriteria.switchGroups != null">AND mi.fSwitchGroupName IN
            <foreach collection="machineInfoCriteria.switchGroups" item="switchGroup" open="(" close=")" separator=",">
                #{switchGroup}
            </foreach>
        </if>
        <if test="machineInfoCriteria.orderBy != null and machineInfoCriteria.orderBy != ''">ORDER BY
            ${machineInfoCriteria.orderBy}
        </if>
    </update>

    <select id="searchMachineInfoFormMachineGroupWorkInfo" resultType="com.keymanager.ckadmin.entity.MachineGroupWorkInfo">
        SELECT
        cs.fMachineGroup AS "machineGroup",
        SUM(IF(DATE_ADD(cs.fLastVisitTime, INTERVAL IF(10 > cs.fPageNo * 3, 15, cs.fPageNo * 3 + 5) MINUTE) &lt; NOW(), 1, 0)) AS 'unworkMachineCount',
        SUM(cs.fIdleTotalMinutes) AS "idleTotalMinutes",
        COUNT(1) AS 'totalMachineCount'
        FROM t_machine_info cs
        WHERE cs.fValid = 1
        <if test="machineGroupWorkInfoCriteria.terminalType!=null and machineGroupWorkInfoCriteria.terminalType!=''">
            AND cs.fTerminalType = #{machineGroupWorkInfoCriteria.terminalType}
        </if>
        <if test="machineGroupWorkInfoCriteria.machineGroup!=null and machineGroupWorkInfoCriteria.machineGroup!=''">
            AND cs.fMachineGroup like '${machineGroupWorkInfoCriteria.machineGroup}%'
            AND EXISTS (
                SELECT 1
                FROM t_customer_keyword ck
                WHERE ck.fType = #{machineGroupWorkInfoCriteria.entryType}
                AND ck.fMachineGroup like '${machineGroupWorkInfoCriteria.machineGroup}%'
            )
        </if>
        GROUP BY cs.fMachineGroup, cs.fTerminalType
    </select>

    <select id="searchMachineInfoMachineGroupSummaryVO"
            resultType="com.keymanager.ckadmin.vo.MachineInfoMachineGroupSummaryVO">
        SELECT mi.fMachineGroup as 'machineGroup', mi.fTerminalType as terminalType, COUNT(1) AS 'count'
        FROM t_machine_info mi
        <where>
            <if test="machineGroup!=null and machineGroup!=''">and mi.fMachineGroup LIKE
                '%${machineGroup}%'
            </if>
            <if test="terminalType!=null and terminalType!=''">and mi.fTerminalType = #{terminalType}</if>
        </where>
        GROUP BY mi.fMachineGroup, mi.fTerminalType ORDER BY mi.fMachineGroup
    </select>

    <update id="updateMachine">
        UPDATE t_machine_info
        <set>
            <if test="city!=null and city!=''">
                fCity=#{city},
            </if>
            <if test="version!=null and version!=''">
                fVersion=#{version},
            </if>
            <if test="freeSpace!=null and freeSpace!=''">
                fFreeSpace=#{freeSpace},
            </if>
            <if test="runningProgramType!=null and runningProgramType!=''">
                fRunningProgramType=#{runningProgramType},
            </if>
            <if test="cpuCount!=null and cpuCount!=''">
                fCpuCount=#{cpuCount},
            </if>
            <if test="memory!=null and memory!=''">
                fMemory=#{memory},
            </if>
            fLastVisitTime = NOW(),
            fTenMinsLastVisitTime = DATE_ADD(NOW(), INTERVAL 10 MINUTE ),
            fContinuousFailCount = 0,
            fLastSendNotificationTime = NULL
        </set>
        WHERE fClientID = #{clientID}
    </update>

    <select id="getAllMachineInfo" resultType="com.keymanager.ckadmin.vo.MachineInfoSummaryVO">
        SELECT cs.fClientIDPrefix as clientIDPrefix,
        cs.fTerminalType as type,
        cs.fCity as city,
        COUNT(1) as 'count',
        cs.fSwitchGroupName as 'switchGroupName'
        FROM t_machine_info cs
        WHERE cs.fValid = 1
        GROUP BY cs.fClientIDPrefix, cs.fTerminalType, cs.fCity, cs.fSwitchGroupName
        ORDER BY cs.fClientIDPrefix
    </select>

    <select id="getMachineInfoBody" parameterType="java.lang.String" resultType="com.keymanager.ckadmin.vo.MachineInfoSummaryVO">
        SELECT cs.fClientIDPrefix as clientIDPrefix,
            cs.fTerminalType as type,
            cs.fCity as city,
            COUNT(1) as 'count',
            cs.fSwitchGroupName as 'switchGroupName'
        FROM t_machine_info cs
        WHERE cs.fValid = 1
        <if test="city!=null and city!=''">AND cs.fCity LIKE '%${city}%'</if>
        GROUP BY cs.fClientIDPrefix, cs.fTerminalType, cs.fCity, cs.fSwitchGroupName
        ORDER BY cs.fClientIDPrefix
    </select>

    <select id="getMachineStatusCount" resultType="java.util.HashMap">
    SELECT
        SUM(IF(fTerminalType = 'PC', 1, 0)) AS 'pcAll',
        SUM(IF(fTerminalType = 'PC' AND (fContinuousFailCount &gt; 5 OR fTenMinsLastVisitTime &lt; NOW()) AND fValid = 1, 1, 0))    AS 'pcDie',
        SUM(IF(fTerminalType = 'Phone', 1, 0))     AS 'phoneAll',
        SUM(IF(fTerminalType = 'Phone' AND (fContinuousFailCount &gt; 5 OR fTenMinsLastVisitTime &lt; NOW()) AND fValid = 1, 1, 0)) AS 'phoneDie'
    FROM t_machine_info
  </select>
</mapper>

