<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.ckadmin.dao.NegativeKeywordNameDao">

    <sql id="selectCol">
		fUuid AS "uuid",
		fGroup AS "group",
		fName AS "name",
		fRankQueried AS "rankQueried",
		fRankCaptured AS "rankCaptured",
		fRankExistNegative AS "rankExistNegative",
		fRankNegativeKeyword AS "rankNegativeKeyword",
		fRankNegativeCount AS "rankNegativeCount",
		fOfficialUrl AS "officialUrl",
		fOfficialUrlBak AS "officialUrlBak",
		fEmail AS "email",
		fSelectQueried AS "selectQueried",
		fSelectCaptured AS "selectCaptured",
		fSelectExistNegative AS "selectExistNegative",
		fSelectNegativeKeyword AS "selectNegativeKeyword",
		fRelevantQueried AS "relevantQueried",
		fRelevantCaptured AS "relevantCaptured",
		fRelevantExistNegative AS "relevantExistNegative",
		fRelevantNegativeKeyword AS "relevantNegativeKeyword",
		fPhoneQueried AS "phoneQueried",
		fPhoneCaptured AS "phoneCaptured",
		fPhoneRankNegativeCount AS "phoneRankNegativeCount",
		fPhoneSelectExistNegative AS "phoneSelectExistNegative",
		fPhoneSelectNegativeKeyword AS "phoneSelectNegativeKeyword",
		fPhoneRelevantExistNegative AS "phoneRelevantExistNegative",
		fPhoneRelevantNegativeKeyword AS "phoneRelevantNegativeKeyword",
		fOfficialUrlCaptured AS "officialUrlCaptured",
		fHandled AS "handled",
		fUpdateTime AS "updateTime",
		fCreateTime AS "createTime"
	</sql>

    <sql id="selectColByCriteria">
        <if test="negativeKeywordNameCriteria.init != null and negativeKeywordNameCriteria.init == 'init'">
            AND 1 != 1
        </if>
        <if test="negativeKeywordNameCriteria.group != null and negativeKeywordNameCriteria.group != ''">
            AND fGroup = #{negativeKeywordNameCriteria.group}
        </if>
        <if test="negativeKeywordNameCriteria.hasEmail != null and negativeKeywordNameCriteria.hasEmail != ''">
            AND n.fEmail > ''
        </if>
        ORDER BY fUpdateTime
    </sql>

    <select id="getGroups" resultType="java.lang.String">
		SELECT DISTINCT fGroup FROM t_negative_keyword_name ORDER BY fUpdateTime;
	</select>

    <insert id="insertBatchByList" parameterType="java.lang.String">
        insert into t_negative_keyword_name (fGroup, fName, fUpdateTime, fCreateTime) values
        <foreach collection="companyNames" item="companyName" separator=",">
            (#{group}, #{companyName}, now(), now())
        </foreach>
    </insert>

    <select id="searchNegativeKeywordNames" resultType="com.keymanager.ckadmin.entity.NegativeKeywordName">
        SELECT
        <include refid="selectCol" />
        FROM t_negative_keyword_name
        WHERE 1 = 1
        <include refid="selectColByCriteria"/>
    </select>

    <select id="searchNegativeKeywordNameByGroup" resultType="com.keymanager.ckadmin.entity.NegativeKeywordName">
        SELECT
        <include refid="selectCol" />
        FROM t_negative_keyword_name
        WHERE 1 = 1
        <include refid="selectColByCriteria"/>
    </select>

    <select id="getNegativeGroup" resultType="java.lang.String">
		select distinct fGroup from t_negative_keyword_name
	</select>
</mapper>