<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.ckadmin.dao.ProductInfoDao">

    <select id="getProductId" resultType="java.lang.Long">
        SELECT
            fUuid as 'uuid'
        FROM t_product_info
        WHERE 1=1
        <if test="productInfo.productName !=null and productInfo.productName !='' ">
            AND fProductName=#{productInfo.productName}
        </if>
        <if test="productInfo.suppliers !=null and productInfo.suppliers !='' ">
            AND fSuppliers=#{productInfo.suppliers}
        </if>
    </select>

    <select id="getProductIdByName" resultType="java.lang.Long">
        select fUuid as 'uuid' from t_product_info where fProductName=#{name} ;
    </select>

    <select id="getProductsByName" resultType="com.keymanager.ckadmin.entity.ProductInfo">
        select  fUuid as 'uuid' ,fProductName as 'productName' ,fProductPrice as 'productPrice' ,fCreateTime as 'createTime' ,fUpdateTime as 'updateTime' from t_product_info
        where 1=1 <if test="name !=null and name !=''">and fProductName LIKE concat('%', #{name}, '%')</if>
    </select>

    <select id="getProducts" resultType="com.keymanager.ckadmin.entity.ProductInfo">
        SELECT
            fUuid AS 'uuid',
            fProductName AS 'productName',
            fProductPrice AS 'productPrice',
            fSuppliers AS 'suppliers'
        FROM
            t_product_info
        <where>
            <if test="productCriteria.productName !=null and productCriteria.productName !=''">AND fProductName LIKE concat('%', #{productCriteria.productName}, '%')</if>
        </where>
    </select>

    <select id="getAllProductStatistics" resultType="com.keymanager.ckadmin.entity.MachineInfo">
        select
            mi.fProductID as 'productId',
            mi.fHost as 'host',
            mi.fOptimizationSucceedCount as 'optimizationSucceedCount',
            mi.fOptimizationTotalCount as 'optimizationTotalCount',
            mi.fOpenDate as 'openDate',
            pi.fProductName as 'productName',
            pi.fProductPrice as 'price'
        from t_machine_info mi
                 left join t_product_info pi
                           on mi.fProductID = pi.fUuid
        <where>
            <if test="productId != null">and mi.fProductID = #{productId}</if>
            and mi.fRunningProgramType = 'Super'
            and mi.fValid = 1
        </where>
    </select>

    <select id="getSupperProduct" resultType="com.keymanager.ckadmin.entity.ProductInfo">
        SELECT
            pi.fUuid AS 'uuid',
            pi.fProductName AS 'productName'
        FROM
            t_product_info pi
            LEFT JOIN t_machine_info mi ON mi.fProductID = pi.fUuid
        WHERE
            mi.fRunningProgramType = 'Super'
            AND mi.fValid = 1
        GROUP BY
            pi.fUuid
    </select>

    <update id="updateProductPriceForUuids">
        UPDATE t_product_info
        SET fProductPrice = #{productPrice},
            fUpdateTime = NOW()
        WHERE fUuid IN
        <foreach collection="uuids" item="uuid" separator="," open="(" close=")">
            #{uuid}
        </foreach>
    </update>

    <select id="getProductStatisticsForTerminalType" resultType="com.keymanager.ckadmin.entity.MachineInfo">
        select
        mi.fProductID as 'productId',
        mi.fHost as 'host',
        mi.fOptimizationSucceedCount as 'optimizationSucceedCount',
        mi.fOptimizationTotalCount as 'optimizationTotalCount',
        mi.fOpenDate as 'openDate',
        pi.fProductName as 'productName',
        pi.fProductPrice as 'price'
        from t_machine_info mi
        left join t_product_info pi
        on mi.fProductID = pi.fUuid
        <where>
            <if test="productCriteria.productId != null">and mi.fProductID = #{productCriteria.productId}</if>
            <if test="productCriteria.terminalType != null">and mi.fTerminalType = #{productCriteria.terminalType}</if>
            and mi.fRunningProgramType = 'Super'
            and mi.fValid = 1
        </where>
    </select>
</mapper>