<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.ckadmin.dao.ProductKeywordDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.keymanager.ckadmin.entity.ProductKeyword">
        <id column="fUuid" property="uuid"/>
        <result column="fCustomerUuid" property="customerUuid"/>
        <result column="fKeyword" property="keyword"/>
        <result column="fStatus" property="status"/>
        <result column="fUrl" property="url"/>
        <result column="fOriginalUrl" property="originalUrl"/>
        <result column="fTerminalType" property="terminalType"/>
        <result column="fSearchEngine" property="searchEngine"/>
        <result column="fBearPawNumber" property="bearPawNumber"/>
        <result column="fInitialPosition" property="initialPosition"/>
        <result column="fCurrentPosition" property="currentPosition"/>
        <result column="fIndexCount" property="indexCount"/>
        <result column="fPositionFirstFee" property="positionFirstFee"/>
        <result column="fPositionSecondFee" property="positionSecondFee"/>
        <result column="fPositionThirdFee" property="positionThirdFee"/>
        <result column="fPositionForthFee" property="positionForthFee"/>
        <result column="fPositionFifthFee" property="positionFifthFee"/>
        <result column="fPositionFirstPageFee" property="positionFirstPageFee"/>
        <result column="fCollectMethod" property="collectMethod"/>
        <result column="fCreateTime" property="createTime"/>
        <result column="fUpdateTime" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tpk.fUuid AS uuid,
        tpk.fCustomerUuid AS customerUuid,
        tpk.fKeyword AS keyword,
        tpk.fStatus AS status,
        tpk.fUrl AS url,
        tpk.fOriginalUrl AS originalUrl,
        tpk.fTerminalType AS terminalType,
        tpk.fSearchEngine AS searchEngine,
        tpk.fBearPawNumber AS bearPawNumber,
        tpk.fInitialPosition AS initialPosition,
        tpk.fCurrentPosition AS currentPosition,
        tpk.fIndexCount AS indexCount,
        tpk.fPositionFirstFee AS positionFirstFee,
        tpk.fPositionSecondFee AS positionSecondFee,
        tpk.fPositionThirdFee AS positionThirdFee,
        tpk.fPositionForthFee AS positionForthFee,
        tpk.fPositionFifthFee AS positionFifthFee,
        tpk.fPositionFirstPageFee AS positionFirstPageFee,
        tpk.fCollectMethod AS collectMethod,
        tpk.fCreateTime AS createTime,
        tpk.fUpdateTime AS updateTime
    </sql>
    
    <select id="searchProductKeywords"
        parameterType="com.keymanager.ckadmin.criteria.ProductkeywordCriteria"
        resultType="com.keymanager.ckadmin.entity.ProductKeyword">
        SELECT
        c.fContactPerson AS contactPerson,
        <include refid="Base_Column_List"/>
        FROM t_product_keyword tpk ,t_customer c
        WHERE c.fUuid = tpk.fCustomerUuid
        <if test="productkeywordCriteria.keyword != null and productkeywordCriteria.keyword != ''">
            AND  tpk.fKeywrod LIKE CONCAT(#{productkeywordCriteria.contactPerson},'%')
        </if>
        <if test="productkeywordCriteria.terminalType != null and productkeywordCriteria.terminalType != ''">
            AND tpk.fTerminalType =#{productkeywordCriteria.terminalType}
        </if>
        <if test="productkeywordCriteria.searchEngine != null and productkeywordCriteria.searchEngine != ''">
            AND tpk.fSearchEngine = #{productkeywordCriteria.searchEngine}
        </if>
        <if test="productkeywordCriteria.status != null and productkeywordCriteria.status != ''">
            AND tpk.fStatus = #{productkeywordCriteria.status}
        </if>
        <if test="productkeywordCriteria.customerUuid != null and productkeywordCriteria.customerUuid != ''">
            AND tpk.fCustomerUuid = #{productkeywordCriteria.customerUuid}
        </if>

    </select>


</mapper>
