<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.ckadmin.dao.PtKeywordPositionHistoryDao">

    <select id="getTodayPositionSummary" resultType="com.keymanager.ckadmin.entity.PtKeywordPositionHistory">
        SELECT
            KEYWORD_ID AS 'keywordId',
            SYSTEM_POSITION AS 'systemPosition',
            CUSTOMER_POSITION AS 'customerPosition',
            SEARCH_ENGINE AS 'searchEngine',
            TERMINAL_TYPE AS 'terminalType',
            TODAY_FEE   AS 'todayFee',
            RECORD_DATE AS 'recordDate'
        FROM cms_keyword_position_history
        WHERE KEYWORD_ID = #{uuid}
          AND RECORD_DATE = CURRENT_DATE()
    </select>

    <insert id="insertPositionHistory">
        INSERT INTO cms_keyword_position_history(KEYWORD_ID, SYSTEM_POSITION, SEARCH_ENGINE, TERMINAL_TYPE, TODAY_FEE, RECORD_DATE)
        VALUES
        (
                #{positionHistory.keywordId},
                #{positionHistory.position},
                #{positionHistory.searchEngine},
                #{positionHistory.terminalType},
                #{positionHistory.todayFee},
                CURRENT_DATE()
        )
    </insert>

</mapper>