<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.ckadmin.dao.QZChargeRuleDao">
  <!--查询一条操作类型信息-->
  <select id="searchQZChargeRuleByQZOperationTypeUuids" resultType="com.keymanager.ckadmin.entity.QZChargeRule">
        SELECT
        qchru.fUuid            AS 'uuid',
        qchru.fQZOperationTypeUuid    AS 'qzOperationTypeUuid',
        qchru.fStandardSpecies    AS 'standardSpecies',
        qchru.fStartKeywordCount          AS 'startKeywordCount',
        qchru.fEndKeywordCount         AS 'endKeywordCount',
        qchru.fAmount      AS 'amount',
        qchru.fCreatetime            AS 'createTime',
        qchru.fUpdatetime   AS 'updateTime'
        FROM t_qz_charge_rule  qchru
        WHERE  qchru.fQZOperationTypeUuid  = #{qzOperationTypeUuid}
        order by qchru.fStartKeywordCount
    </select>

    <delete id="deleteByQZOperationTypeUuid">
        DELETE  FROM  t_qz_charge_rule WHERE  fQZOperationTypeUuid  = #{qzOperationTypeUuid}
    </delete>

    <select id="findQZChargeRules" resultType="com.keymanager.ckadmin.vo.QZChargeRuleVO">
        SELECT
            cr.fStartKeywordCount AS 'startKeywordCount',
            cr.fAmount AS 'amount'
        FROM t_qz_charge_rule cr
        WHERE EXISTS(
            SELECT 1
            FROM t_qz_operation_type op
            WHERE op.fUuid = cr.fQZOperationTypeUuid
            AND op.fQZSettingUuid = #{qzSettingUuid}
            AND op.fOperationtype = #{operationType}
        )
        AND cr.fStandardSpecies = #{websiteType}
        ORDER BY cr.fStandardSpecies
    </select>

    <select id="searchQZChargeRuleStandardInfoVos" resultType="com.keymanager.ckadmin.vo.QZChargeRuleStandardInfoVO">
        SELECT
            qk.fAchieveLevel AS 'achieveLevel',
            qc.fStandardSpecies AS 'standardSpecies',
            qc.fStartKeywordCount AS 'startKeywordCount',
            qc.fEndKeywordCount AS 'endKeywordCount',
            qc.fAmount AS 'amount'
        FROM t_qz_charge_rule qc
        LEFT JOIN t_qz_operation_type qot
        ON qot.fUuid = qc.fQZOperationTypeUuid
        LEFT JOIN t_qz_keyword_rank_info qk
        ON qk.fQZSettingUuid = qot.fQZSettingUuid
        WHERE qot.fQZSettingUuid = #{qzSettingUuid}
        AND qot.fOperationtype = #{terminalType}
        AND qk.fDataProcessingStatus = 1
        GROUP BY qc.fUuid
    </select>
</mapper>