<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.ckadmin.dao.QzChargeMonDao">
    <!--查询一条操作类型信息-->
    <select id="getQZChargeMonData" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT date_format(fOperationDate, #{condition.pattern}) AS 'monthDate',
        COUNT(1) AS 'number',
        fOperationType AS 'operationType'
        FROM t_qz_charge_mon
        WHERE fOperationDate >= #{condition.operationDate}
        <if test="condition.searchEngine != null and condition.searchEngine != ''">
            AND fSearchEngine = #{condition.searchEngine}
        </if>
        <if test="condition.terminal != null and condition.terminal != ''">
            AND fTerminalType LIKE CONCAT('%',#{condition.terminal},'%')
        </if>
        GROUP BY date_format(fOperationDate, #{condition.pattern}), fOperationType;
    </select>
</mapper>