<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.ckadmin.dao.QZChargeLogDao">
  <select id="chargesList" resultType="com.keymanager.ckadmin.entity.QZChargeLog">
    SELECT
        ql.fUuid AS 'uuid',
        ql.fQZOperationTypeUuid AS 'qzOperationTypeUuid',
		ql.fCreateTime AS 'createTime',
        qt.fOperationtype AS 'operationType',
        ql.fActualChargeDate AS 'actualChargeDate',
        ql.fActualAmount AS 'actualAmount',
        ql.fUserID AS 'userID',
        us.fUserName AS 'userName'
    FROM
        t_qz_charge_log ql
    JOIN t_userinfo us ON ql.fUserID = us.fLoginName
    JOIN t_qz_operation_type qt ON qt.fUuid = ql.fQZOperationTypeUuid
    WHERE EXISTS(
    SELECT qt.fUuid
    FROM t_qz_operation_type qt
    WHERE qt.fQZSettingUuid = #{fQZSettingUuid}
	AND qt.fUuid = ql.fQZOperationTypeUuid
    )
    ORDER BY ql.fCreateTime DESC
</select>
</mapper>