<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.ckadmin.dao.QzChargeMonDao">

    <sql id="colID">
        fUuid AS 'uuid',
        fQzSettingUuid AS 'qzSettingUuid',
        fQzDomain AS 'qzDomain',
        fQzCustomer AS 'qzCustomer',
        fTerminalType AS 'terminalType',
        fOperationUser AS 'operationUser',
        fOperationType AS 'operationType',
        fIsDel AS 'fIsDel',
        fOperationDate AS 'operationDate'
    </sql>
    <!--查询一条操作类型信息-->
    <select id="getQZChargeMonData" resultType="com.keymanager.ckadmin.vo.QZChargeMonCountVO">
        SELECT
            SUM(IF(fOperationType = 0, 1, 0))  AS 'stopQzData',
            SUM(IF(fOperationType = 1, 1, 0)) AS 'renewalQzData',
            SUM(IF(fOperationType = 2, 1, 0))  AS 'addQzData',
            SUM(IF(fOperationType = 3, 1, 0))  AS 'obtainedQzData',
            SUM(IF(fOperationType = 4, 1, 0))  AS 'deleteQzData',
            DATE_FORMAT(fOperationDate, #{condition.dateFormat}) AS 'monthDate'
        FROM t_qz_charge_mon
        WHERE fOperationDate BETWEEN #{condition.ltDate}  AND #{condition.gtDate}
        <if test="condition.searchEngine != null and condition.searchEngine != ''">
            AND fSearchEngine = #{condition.searchEngine}
        </if>
        <if test="condition.terminal != null and condition.terminal != ''">
            AND fTerminalType = #{condition.terminal}
        </if>
        GROUP BY DATE_FORMAT(fOperationDate, #{condition.dateFormat})
    </select>

    <select id="getMonDateByCondition" resultType="com.keymanager.ckadmin.entity.QzChargeMon">
        SELECT
        <include refid="colID"/>
        FROM t_qz_charge_mon
        WHERE 1 = 1
        <if test="criteria.qzTerminal != null and criteria.qzTerminal != ''">
            AND fTerminalType LIKE CONCAT('%', #{criteria.qzTerminal}, '%')
        </if>
        <if test="criteria.searchEngine != null and criteria.searchEngine != ''">
            AND fSearchEngine = #{criteria.searchEngine}
        </if>
        <if test="criteria.operationType != null and criteria.operationType != ''">
            AND fOperationType = #{criteria.operationType}
        </if>
        <if test="criteria.dateStart != null and criteria.dateStart != ''">
            AND fOperationDate &gt;= #{criteria.dateStart}
        </if>
        <if test="criteria.dateEnd != null and criteria.dateEnd != ''">
            AND fOperationDate &lt;= #{criteria.dateEnd}
        </if>
        ORDER BY fOperationDate DESC
    </select>

    <update id="deleteByQZSettingUuid">
        UPDATE t_qz_charge_mon SET fIsDel = 0 WHERE fQzSettingUuid = #{qzSettingUuid}
    </update>

</mapper>