<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.ckadmin.dao.QZSettingDao">
    <select id="searchQZSettings" resultType="com.keymanager.ckadmin.entity.QZSetting">
        SELECT
        qs.fUuid AS 'uuid',
        c.fUserID AS 'userID',
        qs.fCustomerUuid AS 'customerUuid',
        c.fContactPerson AS 'contactPerson',
        o.fOrganizationName AS 'organizationName',
        qs.fDomain AS 'domain',
        qs.fSearchEngine  AS 'searchEngine',
        qs.fBearPawNumber AS 'bearPawNumber',
        qs.fType AS 'type',
        qs.fIsMonitor AS 'fIsMonitor',
        qs.fIsReady AS 'fIsReady',
        qs.fCreateTime AS 'createTime',
        qs.fStatus AS 'status',
        qs.fRenewalStatus AS 'renewalStatus',
        qs.fCrawlerStatus AS 'crawlerStatus',
        qs.fAutoCrawlKeywordFlag AS 'autoCrawlKeywordFlag'
        FROM t_qz_setting qs
        JOIN t_customer c
        ON qs.fCustomerUuid = c.fUuid
        LEFT JOIN t_userinfo u
        ON u.fLoginName = c.fUserID
        LEFT JOIN t_organization o
        ON o.fUuid = u.fOrganizationID
        ORDER BY qs.fUpdateTime
    </select>
</mapper>