<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.ckadmin.dao.ResourceDao">

    <!-- 通用查询结果列-->
    <sql id="colID">
        s.fUuid AS `id`,
        s.fResourceName AS `resourceName`,
        s.fUrl AS `url`,
        s.fOpenMode AS `openMode`,
        s.fDescription AS `description`,
        s.fIconCls AS `icon`,
        s.fParentID AS `parentID`,
        s.fSequence AS `sequence`,
        s.fStatus AS `status`,
        s.fOpened AS `opened`,
        s.fResourceType AS `resourceType`,
        s.fUpdateTime AS `updateIime`,
        s.fCreateTime AS `createTime`
    </sql>

    <select id="selectAuthorizationResource" resultType="com.keymanager.ckadmin.entity.Resource">
        SELECT
        <include refid="colID"/>
        FROM t_resource s
        WHERE s.fUuid IN (SELECT
        rr.fResourceID
        FROM t_userinfo u,
        t_user_role ur,
        t_role_resource rr
        WHERE u.fLoginName = #{loginName}
        AND u.fUuid = ur.fUserID
        AND ur.fRoleID = rr.fRoleID)
        <choose>
            <when test="parentId == null">
                AND s.fParentID IS NULL
            </when>
            <otherwise>
                AND s.fParentID = #{parentId}
            </otherwise>
        </choose>
        AND s.fResourceType = 0
        ORDER BY s.fSequence
    </select>
</mapper>