<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.ckadmin.dao.UserNoteBookDao">
  <select id="findUserNoteBooks" resultType="com.keymanager.ckadmin.entity.UserNoteBook">
    SELECT
    un.fUuid AS 'uuid',
    u.fUserName AS 'notesPerson',
    un.fCustomerUuid AS 'customerUuid',
    un.fContent AS 'content',
    un.fCreateTime AS 'createTime'
    FROM t_user_notebook un
    JOIN t_userinfo u
    ON u.fLoginName = un.fNotesPerson
    WHERE un.fCustomerUuid = #{customerUuid}
    <if test="terminalType != null">AND un.fTerminalType = #{terminalType}</if>
    ORDER BY un.fCreateTime DESC
    <if test="searchAll == 0">
      LIMIT 5
    </if>
  </select>
</mapper>