<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <style>
        .layui-btn {
            width: 120px;
        }

        .layui-input-block input{
            height: 30px;
        }

        .layui-input-block p{
            height: 30px;
            line-height: 30px;
        }

        .layui-form-pane .layui-form-label{
            height: 30px;
            line-height: 30px;
            padding: 0px 15px !important;
        }
        .layui-form-pane .layui-form-radio, .layui-form-pane .layui-form-switch{
            margin-top: 1px;
            margin-right: 0px;
            margin-left: 20px;
            padding-right: 2px !important;
        }
    </style>
</head>
<body>
<div class="ok-body">

    <form class="layui-form layui-form-pane ok-form" lay-filter="advertisingForm" id="advertisingForm">
        <div class="layui-form-item">
            <input type="hidden" name="uuid">
            <input type="hidden" name="advertisingId" id="advertisingId">
            <label class="layui-form-label">广告位标识</label>
            <div class="layui-input-block">
                <p id="adPositionId" class="layui-input"></p>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">广告标识</label>
            <div class="layui-input-block">
                <input type="text" name="advertisingTagname" id="advertisingTagname" autocomplete="off" class="layui-input" lay-verify="required" onkeyup="changeAdpositionIdValue(this.value)">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名称</label>
            <div class="layui-input-block">
                <select name="customerInfo" id="customerInfo" lay-search autocomplete="off" class="layui-input"lay-verify="required"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">广告位名称</label>
            <div class="layui-input-block">
                <input type="text" name="advertisingAdName" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">广告分类</label>
            <div class="layui-input-block">
                <select name="advertisingType" id="advertisingType" lay-search autocomplete="off" class="layui-input"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">广告投放范围</label>
            <div class="layui-input-block">
                <select name="advertisingArcType" id="advertisingArcType" lay-search autocomplete="off" class="layui-input"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">投放时间</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="advertisingTime" name="advertisingTime" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">时间限制</label>
            <div class="layui-input-block">
                <input name="advertisingTimeSet" type="radio" value="0" checked/>永不过期&nbsp;
                <input name="advertisingTimeSet" type="radio" value="1"/>在设定时间内有效
            </div>
        </div>
        <div border="0" id="advertisingBodyCheckedTable" style="display: block;">
            <div class="layui-form-item">
                <label class="layui-form-label">广告内容</label>
                <div class="layui-input-block">
                    <input name="advertisingBodyChecked" type="radio" value="0" lay-filter="advertisingBodyChecked" checked/>代码
                    <input name="advertisingBodyChecked" type="radio" value="1" lay-filter="advertisingBodyChecked"/>文字
                    <input name="advertisingBodyChecked" type="radio" value="2" lay-filter="advertisingBodyChecked"/>图片
                    <input name="advertisingBodyChecked" type="radio" value="3" lay-filter="advertisingBodyChecked"/>Flash
                </div>
            </div>
        </div>
        <div border="0" id="code" style="display: none;">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">广告代码</label>
                <div class="layui-input-block">
                    <textarea name="htmlcode" placeholder="请填写广告代码，支持html代码" autocomplete="off" class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
        <div border="0" id="txt" style="display: none;">
            <div class="layui-form-item">
                <label class="layui-form-label">文字内容</label>
                <div class="layui-input-block">
                    <input type="text" name="txtTitle" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">文字链接</label>
                <div class="layui-input-block">
                    <input type="text" name="txtLink" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">文字颜色</label>
                <div class="layui-input-block">
                    <input type="text" name="txtColor" autocomplete="off" class="layui-input" placeholder="例如:red,#EF8684">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">文字大小</label>
                <div class="layui-input-block">
                    <input type="text" name="txtSize" autocomplete="off" class="layui-input" placeholder="例如:4px,12px">
                </div>
            </div>
        </div>
        <div border="0" id="img" style="display: none;">
            <div class="layui-form-item">
                <label class="layui-form-label">图片地址</label>
                <div class="layui-input-block">
                    <input type="text" name="imgUrl" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">图片链接</label>
                <div class="layui-input-block">
                    <input type="text" name="imgLink" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">图片宽度</label>
                <div class="layui-input-block">
                    <input type="text" name="imgWidth" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">图片高度</label>
                <div class="layui-input-block">
                    <input type="text" name="imgHeight" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">图片描述</label>
                <div class="layui-input-block">
                    <input type="text" name="imgDescrip" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div border="0" id="flash" style="display: none;">
            <div class="layui-form-item">
                <label class="layui-form-label">flash链接</label>
                <div class="layui-input-block">
                    <input type="text" name="flashLink" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">flash宽度</label>
                <div class="layui-input-block">
                    <input type="text" name="flashWidth" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">flash高度</label>
                <div class="layui-input-block">
                    <input type="text" name="flashHeight" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div border="0" id="advertisingNormbodyTable" style="display: none;">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">正常显示内容</label>
                <div class="layui-input-block">
                    <textarea id="advertisingNormbody" name="advertisingNormbody" autocomplete="off" class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">过期显示内容</label>
            <div class="layui-input-block">
                <textarea name="advertisingExpbody" autocomplete="off" class="layui-textarea"></textarea>
            </div>
        </div>
        <div style="position: fixed;bottom: 0;width: 100%;background:#fff;text-align: right;">
            <div style="margin: 0 10px 6px 10px; padding-top: 8px;border-top: solid 1px #e6e6e6">
                <button class="layui-btn" lay-submit lay-filter="commit">确定</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <button class="layui-btn layui-btn-primary" id="close" style="margin-right: 20px">取消</button>
            </div>
        </div>
    </form>
</div>

<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script>

    let uuid_ = null;
    let layui_ = null;
    let websiteUuid_ = null;
    let customerUuid_ = null;
    let friendlyLinkType_ = null;
    let advertisingArcType_ = null;

    function initForm(uuid, websiteUuid) {
        uuid_ = uuid;
        websiteUuid_ = websiteUuid;
        if (layui_ != null) {
            setForm(layui_, uuid_);
        }
    }

    function initWebSiteID(websiteUuid) {
        websiteUuid_ = websiteUuid;
        init_SelectData();
    }

    function setForm(l, u) {
        l.jquery.ajax({
            url: '/internal/advertisingList/getAdvertising/' + u,
            type: 'GET',
            headers: {
                "Accept": 'application/json',
                "Content-Type": 'application/json'
            },
            success: function (res) {
                if (res.code === 200) {
                    customerUuid_ = res.data.customerUuid;
                    friendlyLinkType_ = res.data.friendlyLinkType;
                    advertisingArcType_ = res.data.advertisingArcType;
                    layui.form.val("advertisingForm", res.data);
                    init_SelectData();
                } else {
                    l.layer.msg(res.msg, {icon:5, time: 3000});
                }
            }
        });
    }

    /**
     * 动态展示广告位标识，根据广告标识所填写内容变化
     *  内容格式如下：{dede:myad name='广告位标识'/}
     */
    function changeAdpositionIdValue(value) {
        let api = layui_.jquery("#adPositionId");
        let htm = '';
        if(value === "" || value==null){
            htm ='{dede:myad name=\'广告位标识\'/}'
        }else{
            htm =' {dede:myad name=\''+value+'\'/}';
        }
        api.text(htm);
    }

    layui.use(["form", "common", "jquery", "layer", "laydate"], function () {
        let form = layui.form;
        let common = layui.common;
        let $ = layui.jquery;
        let laydate = layui.laydate;

        if (uuid_ != null) {
            setForm(layui, uuid_);
        } else {
            layui_ = layui;
        }

        if(uuid_ == null){
            changeAdvertisingBody("0")
        }else{
            changeAdvertisingBody("all")
        }

        laydate.render({
            elem: '#advertisingTime',
            range: true,
        });

        window.init_SelectData = function(){
            $.ajax({
                url: "/internal/advertisingList/searchAdvertisingAllTypeAndCustomerList/" + websiteUuid_,
                type: "GET",
                success: function (result) {
                    if (result.code === 200) {
                        $("#customerInfo").find('option').remove();
                        $("#advertisingType").find('option').remove();
                        $("#advertisingArcType").find('option').remove();
                        if (result.customerList != null) {
                            $.each(result.customerList, function (idx, val) {
                                if(customerUuid_ === val.uuid){
                                    $("#customerInfo").append('<option value="' + val.contactPerson + '_' + val.uuid + '" selected>' + val.contactPerson + '_' + val.uuid + '</option>')
                                }else{
                                    $("#customerInfo").append('<option value="' + val.contactPerson + '_' + val.uuid + '" >' + val.contactPerson + '_' + val.uuid + '</option>')
                                }
                            });
                        }
                        $("#advertisingType").append("<option value='默认分类_0'></option>");
                        if (result.advertisingType[0] != null) {
                            $.each(result.advertisingType, function (idx, val) {
                                let tmp = val.typename + '_' + val.id;
                                if(friendlyLinkType_ === tmp){
                                    $("#advertisingType").append('<option value="' + val.typename + '_' + val.id + '" selected>' + val.typename + '_' + val.id + '</option>')
                                }else{
                                    $("#advertisingType").append('<option value="' + val.typename + '_' + val.id + '" >' + val.typename + '_' + val.id + '</option>')
                                }
                            });
                        }
                        $("#advertisingArcType").append("<option value='没有同名标识所有栏目_0'></option>");
                        if (result.advertisingArcType[0] != null) {
                            $.each(result.advertisingArcType, function (idx, val) {
                                let str = val.typename + '_' + val.id;
                                if(advertisingArcType_ === str){
                                    $("#advertisingArcType").append('<option value="' + val.typename + '_' + val.id + '" selected>' + val.typename + '_' + val.id + '</option>')
                                }else{
                                    $("#advertisingArcType").append('<option value="' + val.typename + '_' + val.id + '" >' + val.typename + '_' + val.id + '</option>')
                                }
                            });
                        }
                        form.render('select')
                    } else {
                        common.showFailMsg("获取信息失败！");
                    }
                },
                error: function () {
                    common.showFailMsg("获取信息失败！");
                }
            });
        };

        function changeAdvertisingBody(type) {
            let advertisingForm = $("#advertisingForm");
            let code = advertisingForm.find("#code");
            let txt = advertisingForm.find("#txt");
            let img = advertisingForm.find("#img");
            let flash = advertisingForm.find("#flash");
            let advertisingBodyCheckedTable = advertisingForm.find("#advertisingBodyCheckedTable");
            let advertisingNormbodyTable = advertisingForm.find("#advertisingNormbodyTable");
            let advertisingTagname = advertisingForm.find('#advertisingTagname');
            code.css("display","none");
            txt.css("display","none");
            img.css("display","none");
            flash.css("display","none");
            advertisingBodyCheckedTable.css("display","none");
            advertisingNormbodyTable.css("display","none");
            advertisingTagname.removeAttr("readonly");
            if ("0" === type){
                advertisingBodyCheckedTable.css("display","block");
                code.css("display","block");
            } else if ("1" === type){
                advertisingBodyCheckedTable.css("display","block");
                txt.css("display","block");
            } else if ("2" === type){
                advertisingBodyCheckedTable.css("display","block");
                img.css("display","block");
            } else if ("3" === type) {
                advertisingBodyCheckedTable.css("display","block");
                flash.css("display","block");
            }else {
                advertisingNormbodyTable.css("display","block");
                advertisingTagname.attr("readonly","readonly");
            }
        }

        form.on("radio(advertisingBodyChecked)", function(data){
            let type = data.value;
            changeAdvertisingBody(type)
        });

        form.on("submit(commit)", function (data) {
            if(data.field.advertisingTime != null || data.field.advertisingTime !== ''){
                let str = data.field.advertisingTime.split(" - ");
                data.field.advertisingStarttime = str[0];
                data.field.advertisingEndtime = str[1];
            }
            let advertising = {};
            let customerInfo = data.field.customerInfo;
            let customerUuid = customerInfo.split('_')[customerInfo.split('_').length - 1];
            let advertisingTagname = data.field.advertisingTagname;
            let advertisingAdName = data.field.advertisingAdName;
            let advertisingType = data.field.advertisingType;
            let advertisingTypeId = advertisingType.split('_')[advertisingType.split('_').length - 1];
            let advertisingArcType = data.field.advertisingArcType;
            let advertisingArcTypeId = advertisingArcType.split('_')[advertisingArcType.split('_').length - 1];
            let advertisingTimeSet = data.field.advertisingTimeSet;
            let advertisingBodyChecked = data.field.advertisingBodyChecked;
            let advertisingExpbody = data.field.advertisingExpbody;
            advertising.websiteUuid = $.trim(websiteUuid_);
            advertising.customerInfo = $.trim(customerInfo);
            advertising.customerUuid = $.trim(customerUuid);
            advertising.advertisingAdName = $.trim(advertisingAdName);
            advertising.advertisingTagname = $.trim(advertisingTagname);
            advertising.advertisingType = $.trim(advertisingType);
            advertising.advertisingTypeId = $.trim(advertisingTypeId);
            advertising.advertisingArcType = $.trim(advertisingArcType);
            advertising.advertisingArcTypeId = $.trim(advertisingArcTypeId);
            advertising.advertisingTimeSet = $.trim(advertisingTimeSet);
            advertising.advertisingStarttime = $.trim(data.field.advertisingStarttime);
            advertising.advertisingEndtime = $.trim(data.field.advertisingEndtime);
            advertising.advertisingExpbody = $.trim(advertisingExpbody);
            if(uuid_ == null){
                let normbody = {};
                if (advertisingBodyChecked === 0){
                    normbody.style = "code";
                    normbody.htmlcode = data.field.htmlcode;
                }else if (advertisingBodyChecked === 1){
                    normbody.style = "txt";
                    normbody.title = data.field.txtTitle;
                    normbody.link = data.field.txtLink;
                    normbody.color = data.field.txtColor;
                    normbody.size = data.field.txtSize;
                }else if (advertisingBodyChecked === 2){
                    normbody.style = "img";
                    normbody.url = data.field.imgUrl;
                    normbody.link = data.field.imgLink;
                    normbody.width = data.field.imgWidth;
                    normbody.height = data.field.imgHeight;
                }else {
                    normbody.style = "flash";
                    normbody.link = data.field.flashLink;
                    normbody.width = data.field.flashWidth;
                    normbody.height = data.field.flashHeight;
                }
                advertising.normbody = normbody;
                $.ajax({
                    url: '/internal/advertisingList/saveAdvertising',
                    type: 'POST',
                    data: JSON.stringify(advertising),
                    headers: {
                        "Accept": 'application/json',
                        "Content-Type": 'application/json'
                    },
                    success: function (res) {
                        if (res.code === 200) {
                            common.showSuccessMsg("保存成功", function () {
                                parent.window.sign = true;
                                parent.layer.close(parent.layer.getFrameIndex(window.name));
                            });
                        } else {
                            common.showFailMsg(res.msg);
                        }
                    }
                });
            }else{
                let advertisingNormbody = data.field.advertisingNormbody;
                advertising.uuid = uuid_;
                advertising.advertisingId = data.field.advertisingId;
                advertising.advertisingNormbody = $.trim(advertisingNormbody);
                $.ajax({
                    url: '/internal/advertisingList/updateAdvertising',
                    type: 'POST',
                    data: JSON.stringify(advertising),
                    headers: {
                        "Accept": 'application/json',
                        "Content-Type": 'application/json'
                    },
                    success: function (res) {
                        if (res.code === 200) {
                            common.showSuccessMsg("修改成功", function () {
                                parent.window.sign = true;
                                parent.layer.close(parent.layer.getFrameIndex(window.name));
                            });
                        } else {
                            common.showFailMsg(res.msg);
                        }
                    }
                });
            }
            return false;
        });

        $('#close').click(function () {
            parent.layer.close(parent.layer.getFrameIndex(window.name));
            return false;
        });

    })

</script>

</body>
</html>