<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/static/ok-admin/css/sub-page.css">
    <style>
        .padding-ten-left {
            padding-left: 2px;
        }

        .padding-ten-right {
            padding-right: 2px;
        }

        .layui-btn {
            width: 150px;
        }

        .qzsetting-box {
            padding: 10px 10px 5px 10px;
            border-radius: 2px 0 0 2px;
            border: solid 1px #e6e6e6;
        }
    </style>
</head>
<div>
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form" lay-filter="excludeExcludeKeyword">
        <div class="ok-body">
            <input type="hidden" name="qzSettingUuid" id="qzSettingUuid"/>
            <input type="hidden" name="customerUuid" id="customerUuid"/>
            <input type="hidden" name="terminalType" id="terminalType"/>
            <input type="hidden" name="type" id="type"/>
            <div class="layui-row">
                <div class="layui-form-item">
                    <label class="layui-form-label">域名</label>
                    <div class="layui-input-block">
                        <input type="text" name="domain" id="domain" placeholder=""
                               autocomplete="off"
                               class="layui-input" readonly disabled>
                    </div>
                </div>
            </div>

            <!--  qzSettingEntryType -->
            <!--<div class="layui-row">
                <div class="layui-form-item">
                    <label class="layui-form-label">类型</label>
                    <div class="layui-input-block">
                        <select name="type" id="type" style="width:240px" readonly disabled>
                            <option value="qz" selected>全站</option>
                            <option value="pt">普通</option>
                            <option value="fm">负面</option>
                            <option value="bc">其他</option>
                        </select>
                    </div>
                </div>
            </div>-->


            <div class="layui-form-item">
                <label class="layui-form-label">搜索引擎</label>
                <div class="layui-input-block">
                    <input type="text" name="searchEngine" id="searchEngine" placeholder=""
                           autocomplete="off"
                           class="layui-input" readonly disabled>
                </div>
                <!--<div class="layui-input-block">
                    <select name="searchEngine" id="searchEngine">

                    </select>
                </div>-->
            </div>

            <div class="layui-row">
                <div class="layui-form-item">
                    <label class="layui-form-label">熊掌号</label>
                    <div class="layui-input-block">
                        <input type="text" name="bearPawNumber" id="bearPawNumber" placeholder=""
                               autocomplete="off"
                               class="layui-input" readonly disabled>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-form-item">
                    <label class="layui-form-label">优化组</label>
                    <div class="layui-input-block">
                        <input type="text" name="optimizeGroupName" id="optimizeGroupName" placeholder=""
                               autocomplete="off"
                               class="layui-input" readonly disabled>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-form-item">
                    <label class="layui-form-label">机器分组</label>
                    <div class="layui-input-block">
                        <input type="text" name="machineGroup" id="machineGroup" placeholder=""
                               autocomplete="off" value="qz"
                               class="layui-input" >
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">关键字作用</label>

                <div class="layui-input-block">
                    <select name="keywordEffect" id="keywordEffect">

                    </select>
                </div>
            </div>

            <div class="layui-form-item" pane>
                <label class="layui-form-label">PC和Phone同步加词</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="synchronousAddition" id="synchronousAddition" lay-skin="switch"
                           lay-text="同步加词|不同步加词">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">关键字</label>
                <div class="layui-input-block">
                    <textarea name="customerKeywordDialogContent" id="customerKeywordDialogContent"
                              placeholder="" class="layui-textarea"
                              lay-verify="required" style="height: 320px"></textarea>
                </div>
            </div>

        </div>
        <div style="position: fixed;bottom: 0;width: 100%;background:#fff;text-align: right;">
            <div style="margin: 0 10px 6px 10px; padding-top: 8px;border-top: solid 1px #e6e6e6">
                <button class="layui-btn" lay-submit lay-filter="save">确定</button>
                <button class="layui-btn layui-btn-primary" id="close" style="margin-right: 20px">
                    取消
                </button>
            </div>
        </div>
    </form>
</div>
<!--js逻辑-->

<script src="/static/ok-admin/lib/layui/layui.js"></script>
<script>

    let data_ = null;
    let layui_ = null;

    function initForm(data) {
        data_ = data;
        if (layui_ != null) {
            setForm(layui_, data_);
        }
    }

    function setForm(layui_, data) {
        var $ = layui_.$;
        var form = layui_.form;
        $("#qzSettingUuid").val(data.qzSettingUuid);
        $("#customerUuid").val(data.customerUuid);
        $("#domain").val(data.domain);
        $("#searchEngine").val(data.searchEngine);
        $("#terminalType").val(data.terminalType);
        $("#bearPawNumber").val(data.bearPawNumber);
        $("#type").val(data.type);
        $("#optimizeGroupName").val(data.optimizeGroupName);
    }

    layui.use(["form", "okLayer", "jquery", "layer"], function () {
        let form = layui.form;
        let okLayer = layui.okLayer;
        let $ = layui.jquery;
        let layer = layui.layer;

        if (data_ != null) {
            setForm(layui, data_);
        } else {
            layui_ = layui;
        }
        $.ajax({
            url: '/internal/qzsetting/getKyewordEffect',
            type: 'get',
            dataType: 'json',
            success: function (res) {
                if (res.code === 200) {
                    $("#keywordEffect").empty();
                    $.each(res.data, function (index, item) {
                        $('#keywordEffect').append('<option value="' + item.value + '">' + item.desc + '</option>');// 下拉菜单里添加元素
                    });
                    form.render("select");
                } else {
                    l.layer.msg(res.msg);
                }
            }
        });

        form.on("submit(save)", function (data) {
            var postData = data.field;
            var terminalTypes = [];
            let keywordStr = postData.customerKeywordDialogContent;
            keywordStr = keywordStr.replace(/[，|\r\n]/g, ",").replace(/[\s+]/g, "");
            if (keywordStr.substring(keywordStr.length - 1) === ',') {
                keywordStr = keywordStr.substring(0, keywordStr.length - 1);
            }
            var keywords = keywordStr.split(',');
            keywords = keywords.filter(function (keyword, index) {
                return keywords.indexOf(keyword) === index && keyword !== '';
            });
            postData.keywords = keywords;

            if(postData.synchronousAddition) {
                terminalTypes = ['PC', 'Phone'];
            }else {
                terminalTypes.push(postData.terminalType);
            }
            postData.terminalTypes = terminalTypes;
            delete postData.customerKeywordDialogContent;
            delete postData.searchEngineTmp;
            delete postData.terminalType;
            $.ajax({
                url: '/internal/qzsetting/saveQZSettingCustomerKeywords2',
                type: 'post',
                data: JSON.stringify(postData),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                success: function (res) {
                    if (res.code === 200) {
                        okLayer.msg.greenTick("保存成功", function () {
                            parent.window.sign = true;
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    } else {
                        layui.layer.msg(res.msg);
                    }
                }
            });
            return false;
        });

        $('#close').click(function () {
            parent.layer.close(parent.layer.getFrameIndex(window.name));
            return false;
        });

    })

</script>
</body>
</html>
