<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/static/ok-admin/css/sub-page.css">
    <style>
        .padding-ten-left {
            padding-left: 2px;
        }

        .padding-ten-right {
            padding-right: 2px;
        }

        .layui-btn {
            width: 150px;
        }

        .qzsetting-box {
            padding: 10px 10px 5px 10px;
            border-radius: 2px 0 0 2px;
            border: solid 1px #e6e6e6;
            margin-bottom: 5px;

        }

        .my-dis {
            color: #d2d2d2 !important;
        }
    </style>
</head>
<div>
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form" lay-filter="qzSettingSf">
        <div class="ok-body">
            <input type="hidden" name="qzSettingUuid"/>
            <div class="layui-form-item">
                <label class="layui-form-label">客户</label>
                <div class="layui-input-block">
                    <input type="text" name="qzSettingCustomer" placeholder="请输入客户"
                           autocomplete="off"
                           class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">域名</label>
                <div class="layui-input-block">
                    <input type="text" name="qzSettingDomain" placeholder="请输入域名" autocomplete="off"
                           class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" pane>
                <label class="layui-form-label">站点状态</label>
                <div class="layui-input-block">
                    <input type="radio" name="siteStatus" value="1"
                           title="续费中" lay-filter="siteStatus" checked>
                    <input type="radio" name="siteStatus" value="0"
                           title="暂停续费" lay-filter="siteStatus">
                    <input type="radio" name="siteStatus" value="3"
                           title="下架" lay-filter="siteStatus">
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 padding-ten-right">
                    <div class="layui-form-item" pane>
                        <label class="layui-form-label">电脑</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="computer" lay-skin="switch" lay-filter="computer"
                                   lay-text="选中|不选中" id="computer">
                        </div>
                    </div>
                    <div id="comQzsettingBox" class="qzsetting-box">
                        <input type="hidden" name="pcQzOperationTypeUuid"/>
                        <div class="layui-form-item">
                            <label class="computer layui-form-label">当前词量</label>
                            <div class="layui-input-block">
                                <input type="text" name="pcCurrentKeywordCount" placeholder="请输入当前词量"
                                       autocomplete="off" disabled class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="computer layui-form-label">应收金额</label>
                            <div class="layui-input-block">
                                <input type="text" name="pcReceivableAmount" placeholder="请输入应收金额"
                                       autocomplete="off" disabled class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="computer layui-form-label">计划收费日期</label>
                            <div class="layui-input-block">
                                <input type="text" name="pcPlanChargeDate" placeholder="请选择计划收费日期"
                                       autocomplete="off" id="layui-date-one" class="layui-input" disabled>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="computer layui-form-label">下次收费日期</label>
                            <div class="layui-input-block">
                                <input type="text" name="pcNextChargeDate" placeholder="请选择下次收费日期" lay-verify="ts"
                                       autocomplete="off" id="layui-date-two" class="computer-input layui-input" data-belong-to="computer">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="computer layui-form-label">实收金额</label>
                            <div class="layui-input-block">
                                <input type="text" name="pcActualAmount" placeholder="请输入实收金额"
                                       id="pc-i" lay-verify="ts" data-belong-to="computer"
                                       autocomplete="off" class="computer-input layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="computer layui-form-label">实际收费日期</label>
                            <div class="layui-input-block">
                                <input type="text" name="pcActualChargeDate" placeholder="请选择实际收费日期"
                                       autocomplete="off" id="layui-date-three" class="layui-input" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6 padding-ten-left">
                    <div class="layui-form-item" pane>
                        <label class="layui-form-label">手机</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="phone" lay-skin="switch"
                                   lay-filter="phone" lay-text="选中|不选中" id="phone">
                        </div>
                    </div>
                    <div id="phoneQzsettingBox" class="qzsetting-box">
                        <input type="hidden" name="phoneQzOperationTypeUuid"/>
                        <div class="layui-form-item">
                            <label class="phone layui-form-label">当前词量</label>
                            <div class="layui-input-block">
                                <input type="text" name="phoneCurrentKeywordCount"
                                       placeholder="请输入当前词量" autocomplete="off" disabled class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="phone layui-form-label">应收金额</label>
                            <div class="layui-input-block">
                                <input type="text" name="phoneReceivableAmount"
                                       placeholder="请输入应收金额" autocomplete="off" disabled class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="phone layui-form-label">计划收费日期</label>
                            <div class="layui-input-block">
                                <input type="text" name="phonePlanChargeDate"
                                       placeholder="请选择计划收费日期" autocomplete="off" id="layui-date-four" class="layui-input" disabled>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="phone layui-form-label">下次收费日期</label>
                            <div class="layui-input-block">
                                <input type="text" name="phoneNextChargeDate"
                                       placeholder="请选择下次收费日期" lay-verify="ts" autocomplete="off" id="layui-date-five"
                                       class="phone-input layui-input" data-belong-to="phone">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="phone layui-form-label">实收金额</label>
                            <div class="layui-input-block">
                                <input type="text" name="phoneActualAmount" placeholder="请输入实收金额"
                                       autocomplete="off" id="phone-i" lay-verify="ts" data-belong-to="phone"
                                       class="phone-input layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="phone layui-form-label">实际收费日期</label>
                            <div class="layui-input-block">
                                <input type="text" name="phoneActualChargeDate" placeholder="请选择实际收费日期" disabled
                                       autocomplete="off" id="layui-date-six" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="position: fixed;bottom: 0;width: 100%;background:#fff;text-align: right;">
            <div style="margin: 0 10px 6px 10px; padding-top: 8px;border-top: solid 1px #e6e6e6">
                <button class="layui-btn" lay-submit lay-filter="commitCharge">确定</button>
                <button class="layui-btn layui-btn-primary" id="close" style="margin-right: 20px">
                    取消
                </button>
            </div>
        </div>
    </form>
</div>
<!--js逻辑-->

<script src="/static/ok-admin/lib/layui/layui.js"></script>
<script src="/static/ok-admin/js/somePublic.js"></script>
<script>
    let data_ = null;
    let layui_ = null;
    var sign_c = false;
    var sign_p = false;
    let siteStatus = '1';

    function initForm(data) {
        data_ = data;
        selectPhone(true);
        selectComputer(true);
        if (layui_ != null) {
            setForm(layui_, data_);
        }
    }

    let computer = document.getElementById('computer');
    let computers = document.getElementsByClassName('computer');
    let computersInput = document.getElementsByClassName('computer-input');

    function selectPhone(f) {
        if (f) {
            computer.setAttribute('disabled', '');
        }
        for (let i = 0; i < computers.length; i++) {
            computers[i].classList.add('my-dis');
            if (i < 2) {
                computersInput[i].classList.add('layui-disabled');
                computersInput[i].setAttribute('disabled', '');
            }
        }
    }

    function deselectPhone(f) {
        if (f) {
            computer.removeAttribute('disabled');
        }
        for (let i = 0; i < computers.length; i++) {
            computers[i].classList.remove('my-dis');
            if (i < 2) {
                computersInput[i].classList.remove('layui-disabled');
                computersInput[i].removeAttribute('disabled');
            }
        }
    }

    let phone = document.getElementById('phone');
    let phones = document.getElementsByClassName('phone');
    let phonesInput = document.getElementsByClassName('phone-input');

    function selectComputer(f) {
        if (f) {
            phone.setAttribute('disabled', '');
        }
        for (let i = 0; i < phones.length; i++) {
            phones[i].classList.add('my-dis');
            if (i < 2) {
                phonesInput[i].classList.add('layui-disabled');
                phonesInput[i].setAttribute('disabled', '');
            }
        }
    }

    function deselectComputer(f) {
        if (f) {
            phone.removeAttribute('disabled');
        }
        for (let i = 0; i < phones.length; i++) {
            phones[i].classList.remove('my-dis');
            if (i < 2) {
                phonesInput[i].classList.remove('layui-disabled');
                phonesInput[i].removeAttribute('disabled');
            }
        }
    }

    function setForm(l, d) {
        l.jquery.ajax({
            url: '/internal/qzchargelog/getQZChargeLogs/' + d.uuid,
            type: 'get',
            dataType: 'json',
            success: function (res) {
                if (res.code === 200) {
                    d.siteStatus = d.renewalStatus + '';
                    siteStatus = d.siteStatus;
                    let arr = res.data;
                    for (let i = 0; i < arr.length; i++) {
                        if (arr[i].operationType === 'PC') {
                            d.pcCurrentKeywordCount = arr[i].currentKeywordCount == null ? ''
                                : arr[i].currentKeywordCount;
                            d.pcInitialKeywordCount = arr[i].initialKeywordCount == null ? ''
                                : arr[i].initialKeywordCount;
                            d.computer = 1;
                            d.pcPlanChargeDate = arr[i].planChargeDate;
                            d.pcQzOperationTypeUuid = arr[i].qzOperationTypeUuid;
                            d.pcReceivableAmount = arr[i].receivableAmount == null ? ''
                                : arr[i].receivableAmount;
                            deselectPhone(true);
                            sign_c = true;
                        } else if (arr[i].operationType === 'Phone') {
                            d.phoneCurrentKeywordCount = arr[i].currentKeywordCount == null ? ''
                                : arr[i].currentKeywordCount;
                            d.phoneInitialKeywordCount = arr[i].initialKeywordCount == null ? ''
                                : arr[i].initialKeywordCount;
                            d.phone = 1;
                            d.phonePlanChargeDate = arr[i].planChargeDate;
                            d.phoneQzOperationTypeUuid = arr[i].qzOperationTypeUuid;
                            d.phoneReceivableAmount = arr[i].receivableAmount == null ? ''
                                : arr[i].receivableAmount;
                            deselectComputer(true);
                            sign_p = true;
                        }
                    }
                    l.form.val("qzSettingSf", JSON.parse(JSON.stringify(d)));
                    switch (d.siteStatus) {
                        case '0':
                            selectPhone(true);
                            selectComputer(true);
                            break;
                        case '3':
                            selectPhone(true);
                            selectComputer(true);
                            break;
                        default:
                            break;
                    }
                } else {
                    l.common.showFailMsg('数据获取失败');
                }
            }
        });
    }

    layui.use(["form", "jquery", "layer", 'laydate', 'common'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let laydate = layui.laydate;
        let common = layui.common;

        if (data_ != null) {
            setForm(layui, data_);
        } else {
            layui_ = layui;
        }

        //监听指定radio
        form.on('radio(siteStatus)', function (data) {
            switch (data.value) {
                case '1':
                    if (sign_c) {
                        deselectPhone(true);
                    }
                    if (sign_p) {
                        deselectComputer(true);
                    }
                    siteStatus = '1';
                    break;
                case '0':
                    selectPhone(true);
                    selectComputer(true);
                    siteStatus = '0';
                    break;
                case '3':
                    selectPhone(true);
                    selectComputer(true);
                    siteStatus = '3';
                    break;
                default:
                    break;
            }
        });
        //监听指定开关
        form.on('switch(computer)', function (data) {
            if (this.checked) {
                deselectPhone(false);
            } else {
                selectPhone(false);
            }
            // layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });
        //监听指定开关
        form.on('switch(phone)', function (data) {
            if (this.checked) {
                deselectComputer(false);
            } else {
                selectComputer(false);
            }
        });

        form.on("submit(commitCharge)", function (data) {
            let p_d = [];
            data.filed = common.jsonObjectTrim(data.filed);
            if (data.field.computer === 'on') {
                let d = {};
                d.qzOperationTypeUuid = data.field.pcQzOperationTypeUuid;
                d.planChargeDate = data.field.pcPlanChargeDate;
                d.actualChargeDate = data.field.pcActualChargeDate;
                d.receivableAmount = data.field.pcReceivableAmount;
                d.actualAmount = data.field.pcActualAmount;
                d.nextChargeDate = data.field.pcNextChargeDate;
                p_d.push(d);
            }
            if (data.field.phone === 'on') {
                let d = {};
                d.qzOperationTypeUuid = data.field.phoneQzOperationTypeUuid;
                d.planChargeDate = data.field.phonePlanChargeDate;
                d.actualChargeDate = data.field.phoneActualChargeDate;
                d.receivableAmount = data.field.phoneReceivableAmount;
                d.actualAmount = data.field.phoneActualAmount;
                d.nextChargeDate = data.field.phoneNextChargeDate;
                p_d.push(d);
            }
            let postData = {};
            postData.uuid = data_.uuid;
            postData.renewalStatus = data.field.siteStatus;
            let n_p_d = {};
            n_p_d.data = p_d;
            n_p_d.msg = postData;
            $.ajax({
                url: '/internal/qzchargelog/saveQZChargeLogs',
                type: 'post',
                data: JSON.stringify(n_p_d),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                success: function (res) {
                    if (res.code === 200) {
                        common.showSuccessMsg("保存成功", function () {
                            parent.window.sign = true;
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    } else {
                        common.showFailMsg('保存失败');
                    }
                }
                ,
                error: function () {
                    common.showFailMsg('网络异常请稍后再试');
                }

            });
            return false;
        });

        $('#close').click(function () {
            parent.layer.close(parent.layer.getFrameIndex(window.name));
        });

        //常规用法
        laydate.render({elem: '#layui-date-one'});
        laydate.render({elem: '#layui-date-two', trigger: 'click'});
        laydate.render({elem: '#layui-date-three', value: new Date()});
        laydate.render({elem: '#layui-date-four'});
        laydate.render({elem: '#layui-date-five', trigger: 'click'});
        laydate.render({elem: '#layui-date-six', value: new Date()});

        form.verify({
            ts: function (value, item) { //value：表单的值、item：表单的DOM对象
                if (siteStatus !== '1') {
                    return '';
                }
                if (item.dataset.belongTo === 'computer') {
                    if (document.getElementById("computer").nextElementSibling.children[0].innerHTML === '不选中') {
                        return '';
                    }
                    if (value.trim() === '') {
                        return '必填数据不能为空！'
                    }
                } else {
                    if (document.getElementById("phone").nextElementSibling.children[0].innerHTML === '不选中') {
                        return '';
                    }
                    if (value.trim() === '') {
                        return '必填数据不能为空！'
                    }
                }
            }
        });
    })
</script>
</body>
</html>
