<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/static/ok-admin/css/sub-page.css">
    <style>
        .padding-ten-left {
            padding-left: 2px;
        }

        .padding-ten-right {
            padding-right: 2px;
        }

        .layui-btn {
            width: 150px;
        }

        .qzsetting-box {
            padding: 10px 10px 5px 10px;
            border-radius: 2px 0 0 2px;
            border: solid 1px #e6e6e6;
        }

        .my-dis {
            color: #d2d2d2 !important;
        }

        .my-row {
            display: flex;
            justify-content: space-between;
        }

        .my-col-one {
            flex: 23;
        }

        .my-col-two {
            flex: 30;
        }

        .my-col-three {
            flex: 30;
        }

        .my-col-four {
            flex: 25;
        }

        .my-col-five {
            flex: 15;
        }

        .my-header-title {
            flex: 120;
            border-top: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;
            border-left: 1px solid #e6e6e6;

        }

        .my-header-btn {
            flex: 36;
            border: 1px solid #e6e6e6;
            line-height: 35px !important;
        }

        .my-label {
            height: 38px;
            line-height: 20px;
            text-align: center;
            overflow: hidden;
            box-sizing: border-box;
        }

        .my-bg {
            background-color: #FBFBFB;
        }

        .my-padding {
            padding: 8px 15px;
        }

        .my-left {
            border-left: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;
        }

        .my-bottom {
            border-right: 1px solid #e6e6e6;
        }

        .my-btn {
            line-height: 35px !important;
        }

        .my-btn > button {
            margin: 0 8px;
            width: 60px;
        }

        .my-input {
            border: 0;
        }
    </style>
    <script>
        function removeElement(e) {
            let m = e.parentElement.parentElement.parentElement;
            m.parentElement.removeChild(m);
        }

        let v_com = 2;
        let v_phone = 2;

        function appendTable(f) {
            let t, v;
            if (f) {
                t = tbody_com;
                v = v_com++;
            } else {
                t = tbody_phone;
                v = v_phone++;
            }
            let html = `<tr>
                                    <td>
                                        <div class="my-col-one my-label my-left my-padding">`;
            html += v;
            html += `</div>
                                    </td>
                                    <td>
                                        <div class="my-col-two my-label my-left">
                                            <input type="number" class="layui-input my-input">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="my-col-three my-label my-left">
                                            <input type="number" class="layui-input my-input">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="my-col-four my-label my-left">
                                            <input type="number" class="layui-input my-input">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="my-col-five my-label my-btn my-left my-bottom">
                                            <button type="button" onclick="removeElement(this)"
                                                    class="layui-btn layui-btn-xs layui-btn-danger">
                                                删除
                                            </button>
                                        </div>
                                    </td>
                                </tr>`;
            t.append(html);
        }
    </script>
</head>
<div>
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form" lay-filter="addQZSetting">
        <div class="ok-body">
            <input type="hidden" name="uuid" value=""/>
            <div class="layui-form-item">
                <label class="layui-form-label">客户</label>
                <div class="layui-input-block">
                    <select id="customerList" name="customerUuid" lay-verify="required"
                            lay-search>
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6 padding-ten-right">
                    <div class="layui-form-item">
                        <label class="layui-form-label">域名</label>
                        <div class="layui-input-block">
                            <input type="text" name="domain"
                                   placeholder="请输入域名：例如baidu.com,不能填写www.baidu.com,map.baidu.com等"
                                   autocomplete="off"
                                   class="layui-input" lay-verify="required|domain">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">熊掌号</label>
                        <div class="layui-input-block">
                            <input type="text" name="bearPawNumber" placeholder="请输入熊掌号"
                                   autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6 padding-ten-left">
                    <div class="layui-form-item">
                        <label class="layui-form-label">标签</label>
                        <div class="layui-input-block">
                            <input type="text" name="tagNames"
                                   placeholder="按正确方式输入：阿卡索,MBA,算法,每个词用逗号隔开"
                                   autocomplete="off"
                                   class="layui-input" lay-verify="tagNames">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">搜索引擎</label>
                        <div class="layui-input-block">
                            <select id="searchList" name="searchEngine">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!--      <fieldset class="layui-elem-field layui-field-title">-->
            <!--        <legend>收费规则</legend>-->
            <!--      </fieldset>-->
            <hr>
            <div class="layui-row">
                <div class="layui-col-md6 padding-ten-right">
                    <div class="layui-form-item" pane>
                        <label class="layui-form-label">电脑</label>
                        <div class="layui-input-block">
                            <input type="checkbox" checked name="computer" lay-skin="switch"
                                   lay-filter="computer"
                                   lay-text="Select|Deselect">
                        </div>
                    </div>
                    <div id="comQzsettingBoxSelect" class="layui-form-item" pane>
                        <label class="computer layui-form-label">达标优化类型</label>
                        <div class="layui-input-block">
                            <input type="radio" name="optimizationComType"
                                   lay-filter="optimizationComType"
                                   value="1" title="主优化" class="computer-input" checked>
                            <input type="radio" name="optimizationComType"
                                   lay-filter="optimizationComType"
                                   value="2" title="次优化" class="computer-input">
                            <input type="radio" name="optimizationComType"
                                   lay-filter="optimizationComType"
                                   value="0" title="辅助优化" class="computer-input">
                        </div>
                    </div>
                    <div id="comQzsettingBox" class="qzsetting-box">
                        <div class="layui-row">
                            <div class="layui-col-md6 padding-ten-right">
                                <div class="layui-form-item">
                                    <label class="computer layui-form-label">优化分组</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="pcGroup" placeholder="请输入分组"
                                               autocomplete="off"
                                               class="computer-input layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="computer layui-form-label">当前词量</label>
                                    <div class="layui-input-block">
                                        <input type="number" name="comCurrentKeywordCount"
                                               placeholder="请输入当前词量"
                                               autocomplete="off"
                                               class="computer-input layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md6 padding-ten-left">
                                <div class="layui-form-item">
                                    <label class="computer layui-form-label">电脑域名</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="comSubDomainName"
                                               placeholder="请输入电脑域名"
                                               autocomplete="off"
                                               class="computer-input layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="computer layui-form-label">词数限制</label>
                                    <div class="layui-input-block">
                                        <input type="number" name="comMaxKeywordCount"
                                               placeholder="请输入限制词量"
                                               autocomplete="off"
                                               class="computer-input layui-input" value="300">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="computer layui-form-label">达标备注</label>
                            <div class="layui-input-block">
                                <textarea name="comMonitorRemark"
                                          placeholder="请填写电脑端达标备注, 如：首月30-50个词 客供词 3000"
                                          class="computer-input layui-textarea"></textarea>
                            </div>
                        </div>
                        <div id="comStandardSpecies" class="layui-form-item" pane>
                            <label class="computer layui-form-label">达标种类</label>
                            <div class="layui-input-block">
                                <input type="radio" name="comStandardSpecies" value="aiZhan"
                                       title="爱站" lay-filter="comStandardSpecies"
                                       class="computer-input" checked>
                                <input type="radio" name="comStandardSpecies" value="5118"
                                       title="5118" lay-filter="comStandardSpecies"
                                       class="computer-input">
                                <input type="radio" name="comStandardSpecies"
                                       value="designationWord" title="指定词"
                                       lay-filter="comStandardSpecies"
                                       class="computer-input">
                                <input type="radio" name="comStandardSpecies" value="other"
                                       title="其他" lay-filter="comStandardSpecies"
                                       class="computer-input">
                            </div>
                        </div>
                        <div id="computerTable" class="layui-form-item">
                            <table border="0" width="100%" class="computer">
                                <tbody id="computerTbody">
                                <tr class="my-bg">
                                    <td colspan="3">
                                        <div id="computerTitle"
                                             class="my-header-title my-label my-padding">
                                            爱站收费规则
                                        </div>
                                    </td>
                                    <td colspan="2">
                                        <div class="my-header-btn my-label">
                                            <button onclick="appendTable(true)" type="button"
                                                    class="layui-btn layui-btn-sm">
                                                增加收费规则
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="my-bg">
                                    <td>
                                        <div class="my-col-one my-label my-left my-padding">
                                            达标阶段
                                        </div>
                                    </td>
                                    <td>
                                        <div class="my-col-two my-label my-left my-padding">
                                            起始达标词数
                                        </div>
                                    </td>
                                    <td>
                                        <div class="my-col-three my-label my-left my-padding">
                                            终止达标次数
                                        </div>
                                    </td>
                                    <td>
                                        <div class="my-col-four my-label my-left my-padding">
                                            电脑端价格
                                        </div>
                                    </td>
                                    <td>
                                        <div
                                            class="my-col-five my-label my-left my-padding my-bottom">
                                            操作
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="my-col-one my-label my-left my-padding">
                                            1
                                        </div>
                                    </td>
                                    <td>
                                        <div class="my-col-two my-label my-left">
                                            <input type="number" class="layui-input my-input">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="my-col-three my-label my-left">
                                            <input type="number" class="layui-input my-input">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="my-col-four my-label my-left">
                                            <input type="number" class="layui-input my-input">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="my-col-five my-label my-btn my-left my-bottom">
                                            <button type="button" onclick="removeElement(this)"
                                                    class="layui-btn layui-btn-xs layui-btn-danger">
                                                删除
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6 padding-ten-left">
                    <div class="layui-form-item" pane>
                        <label class="layui-form-label">手机</label>
                        <div class="layui-input-block">
                            <input type="checkbox" checked name="phone" lay-skin="switch"
                                   lay-filter="phone"
                                   lay-text="Select|Deselect">
                        </div>
                    </div>
                    <div id="phoneQzsettingBoxSelect" class="layui-form-item" pane>
                        <label class="phone layui-form-label">达标优化类型</label>
                        <div class="layui-input-block">
                            <input type="radio" name="optimizationPhoneType"
                                   lay-filter="optimizationPhoneType"
                                   value="1" title="主优化" class="phone-input" checked>
                            <input type="radio" name="optimizationPhoneType"
                                   lay-filter="optimizationPhoneType"
                                   value="2" title="次优化" class="phone-input">
                            <input type="radio" name="optimizationPhoneType"
                                   lay-filter="optimizationPhoneType"
                                   value="0" title="辅助优化" class="phone-input">
                        </div>
                    </div>
                    <div id="phoneQzsettingBox" class="qzsetting-box">
                        <div class="layui-row">
                            <div class="layui-col-md6 padding-ten-right">
                                <div class="layui-form-item">
                                    <label class="phone layui-form-label">优化分组</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="phoneGroup" placeholder="请输入分组"
                                               autocomplete="off"
                                               class="phone-input layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="phone layui-form-label">当前词量</label>
                                    <div class="layui-input-block">
                                        <input type="number" name="phoneCurrentKeywordCount"
                                               placeholder="请输入当前词量"
                                               autocomplete="off"
                                               class="phone-input layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md6 padding-ten-left">
                                <div class="layui-form-item">
                                    <label class="phone layui-form-label">手机域名</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="phoneSubDomainName"
                                               placeholder="请输入手机域名"
                                               autocomplete="off"
                                               class="phone-input layui-input">
                                    </div>
                                </div>
                                <div class="phone layui-form-item">
                                    <label class="layui-form-label">词数限制</label>
                                    <div class="layui-input-block">
                                        <input type="number" name="phoneMaxKeywordCount"
                                               placeholder="请输入限制词量"
                                               autocomplete="off"
                                               class="phone-input layui-input" value="300">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="phone layui-form-label">达标备注</label>
                            <div class="layui-input-block">
                                <textarea name="phoneMonitorRemark"
                                          placeholder="请填写电脑端达标备注, 如：首月30-50个词 客供词 3000"
                                          class="phone-input layui-textarea"></textarea>
                            </div>
                        </div>
                        <div id="phoneStandardSpecies" class="layui-form-item" pane>
                            <label class="phone layui-form-label">达标种类</label>
                            <div class="layui-input-block">
                                <input type="radio" name="phoneStandardSpecies" value="aiZhan"
                                       title="爱站" lay-filter="phoneStandardSpecies"
                                       class="phone-input" checked>
                                <input type="radio" name="phoneStandardSpecies" value="5118"
                                       title="5118" lay-filter="phoneStandardSpecies"
                                       class="phone-input">
                                <input type="radio" name="phoneStandardSpecies"
                                       value="designationWord" title="指定词"
                                       lay-filter="phoneStandardSpecies"
                                       class="phone-input">
                                <input type="radio" name="phoneStandardSpecies" value="other"
                                       title="其他" lay-filter="phoneStandardSpecies"
                                       class="phone-input">
                            </div>
                        </div>
                        <div id="phoneTable" class="layui-form-item">
                            <table border="0" width="100%" class="phone">
                                <tbody id="phoneTbody">
                                <tr class="my-bg">
                                    <td colspan="3">
                                        <div id="phoneTitle"
                                             class="my-header-title my-label my-padding">
                                            爱站收费规则
                                        </div>
                                    </td>
                                    <td colspan="2">
                                        <div class="my-header-btn my-label">
                                            <button onclick="appendTable(false)" type="button"
                                                    class="layui-btn layui-btn-sm">
                                                增加收费规则
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="my-bg">
                                    <td>
                                        <div class="my-col-one my-label my-left my-padding">
                                            达标阶段
                                        </div>
                                    </td>
                                    <td>
                                        <div class="my-col-two my-label my-left my-padding">
                                            起始达标词数
                                        </div>
                                    </td>
                                    <td>
                                        <div class="my-col-three my-label my-left my-padding">
                                            终止达标次数
                                        </div>
                                    </td>
                                    <td>
                                        <div class="my-col-four my-label my-left my-padding">
                                            手机端价格
                                        </div>
                                    </td>
                                    <td>
                                        <div
                                            class="my-col-five my-label my-left my-padding my-bottom">
                                            操作
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="my-col-one my-label my-left my-padding">
                                            1
                                        </div>
                                    </td>
                                    <td>
                                        <div class="my-col-two my-label my-left">
                                            <input type="number" class="layui-input my-input">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="my-col-three my-label my-left">
                                            <input type="number" class="layui-input my-input">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="my-col-four my-label my-left">
                                            <input type="number" class="layui-input my-input">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="my-col-five my-label my-btn my-left my-bottom">
                                            <button type="button" onclick="removeElement(this)"
                                                    class="layui-btn layui-btn-xs layui-btn-danger">
                                                删除
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="layui-row" style="margin-bottom: 48px">
                <div class="layui-col-md6 padding-ten-right">
                    <div class="layui-form-item">
                        <label class="layui-form-label">去掉没指数</label>
                        <div class="layui-input-block">
                            <select name="ignoreNoIndex">
                                <option value="true">是</option>
                                <option value="false">否</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">爬取关键字</label>
                        <div class="layui-input-block">
                            <select name="autoCrawlKeywordFlag">
                                <option value="true">是</option>
                                <option value="false" selected>否</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6 padding-ten-left">
                    <div class="layui-form-item">
                        <label class="layui-form-label">去掉没排名</label>
                        <div class="layui-input-block">
                            <select name="ignoreNoOrder">
                                <option value="true">是</option>
                                <option value="false">否</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">更新间隔</label>
                        <div class="layui-input-block">
                            <select name="updateInterval">
                                <option value="1">1天</option>
                                <option value="2" selected>2天</option>
                                <option value="3">3天</option>
                                <option value="5">5天</option>
                                <option value="7">7天</option>
                                <option value="10">10天</option>
                                <option value="12">12天</option>
                                <option value="15">15天</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="position: fixed;bottom: 0;width: 100%;background:#fff;text-align: right;">
            <div style="margin: 0 10px 6px 10px; padding-top: 8px;border-top: solid 1px #e6e6e6">
                <button class="layui-btn" lay-submit lay-filter="commitCustomer">确定</button>
                <button type="reset" class="layui-btn layui-btn-primary" style="margin-right: 20px">
                    重置
                </button>
                <button class="layui-btn layui-btn-primary" id="close" style="margin-right: 20px">
                    取消
                </button>
            </div>
        </div>
    </form>
</div>
<!--js逻辑-->

<script src="/static/ok-admin/lib/layui/layui.js"></script>
<script>
    let uuid_ = null;
    let layui_ = null;
    let flag_ = true;

    function initForm(data) {
        uuid_ = data;
        selectPhone();
        selectComputer();
        if (layui_ != null) {
            setForm(layui_, uuid_);
        }
    }

    function setForm(l, u) {
        l.jquery.ajax({
            url: '/internal/qzsetting/getQZSettingsMsg/' + u,
            type: 'get',
            dataType: 'json',
            success: function (res) {
                if (res.code === 200) {
                    let d = res.data, d_n = {};
                    getInitData({uuid: d.customerUuid, contactPerson: d.contactPerson},
                        d.searchEngine);
                    d_n.uuid = d.uuid;
                    d_n.domain = d.domain;
                    d_n.tagNames = listToStr(d.qzCategoryTags);
                    d_n.bearPawNumber = d.bearPawNumber;
                    d_n.ignoreNoIndex = d.ignoreNoIndex ? 'true' : 'false';
                    d_n.ignoreNoOrder = d.ignoreNoOrder ? 'true' : 'false';
                    d_n.updateInterval = d.updateInterval;
                    d_n.autoCrawlKeywordFlag = d.autoCrawlKeywordFlag ? 'true' : 'false';
                    d_n.computer = false;
                    d_n.phone = false;
                    for (let i = 0; i < d.qzOperationTypes.length; i++) {
                        switch (d.qzOperationTypes[i].operationType) {
                            case "PC":
                                deselectPhone();
                                d_n.computer = true;
                                d_n.optimizationComType = d.qzOperationTypes[i].optimizationType;
                                if (d_n.optimizationComType === '0') {
                                    selectPhone(true);
                                }
                                d_n.pcGroup = d.qzOperationTypes[i].group;
                                d_n.comSubDomainName = d.qzOperationTypes[i].subDomainName;
                                d_n.comCurrentKeywordCount = d.qzOperationTypes[i].currentKeywordCount;
                                d_n.comMaxKeywordCount = d.qzOperationTypes[i].maxKeywordCount;
                                d_n.comMonitorRemark = d.qzOperationTypes[i].monitorRemark;
                                let html_c = listToHtml(d.qzOperationTypes[i].qzChargeRules);
                                if (html_c !== ``) {
                                    d_n.comStandardSpecies = d.qzOperationTypes[i].qzChargeRules[0].standardSpecies;
                                    html_c = getHeader(d_n.comStandardSpecies, true) + html_c;
                                    document.getElementById('computerTbody').innerHTML = html_c;
                                }
                                break;
                            case "Phone":
                                deselectComputer();
                                d_n.phone = true;
                                d_n.optimizationPhoneType = d.qzOperationTypes[i].optimizationType;
                                if (d_n.optimizationPhoneType === '0') {
                                    selectComputer(true);
                                }
                                d_n.phoneGroup = d.qzOperationTypes[i].group;
                                d_n.phoneSubDomainName = d.qzOperationTypes[i].subDomainName;
                                d_n.phoneCurrentKeywordCount = d.qzOperationTypes[i].currentKeywordCount;
                                d_n.phoneMaxKeywordCount = d.qzOperationTypes[i].maxKeywordCount;
                                d_n.phoneMonitorRemark = d.qzOperationTypes[i].monitorRemark;
                                let html_p = listToHtml(d.qzOperationTypes[i].qzChargeRules);
                                if (html_p !== ``) {
                                    d_n.phoneStandardSpecies = d.qzOperationTypes[i].qzChargeRules[0].standardSpecies;
                                    html_p = getHeader(d_n.phoneStandardSpecies, false) + html_p;
                                    document.getElementById('phoneTbody').innerHTML = html_p;
                                }
                                break;
                        }
                    }
                    l.form.val("addQZSetting", d_n);
                    flag_ = false;
                } else {
                    l.layer.msg(res.msg);
                }
            }
        });
    }

    function listToStr(l) {
        let str = '';
        for (let i = 0; i < l.length; i++) {
            str += l[i].tagName;
            if (i !== l.length - 1) {
                str += ','
            }
        }
        return str;
    }

    function listToHtml(l) {
        let html = ``;
        for (let j = 0; j < l.length; j++) {
            html += `<tr>
                                    <td>
                                        <div class="my-col-one my-label my-left my-padding">`;
            html += (j + 1);
            html += `</div>
                                    </td>
                                    <td>
                                        <div class="my-col-two my-label my-left">
                                            <input type="number" class="layui-input my-input" value="`;
            html += l[j].startKeywordCount;
            html += `">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="my-col-three my-label my-left">
                                            <input type="number" class="layui-input my-input" value="`;
            html += l[j].endKeywordCount;
            html += `">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="my-col-four my-label my-left">
                                            <input type="number" class="layui-input my-input" value="`;
            html += l[j].amount;
            html += `">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="my-col-five my-label my-btn my-left my-bottom">
                                            <button type="button" onclick="removeElement(this)"
                                                    class="layui-btn layui-btn-xs layui-btn-danger">
                                                删除
                                            </button>
                                        </div>
                                    </td>
                                </tr>`;
        }
        return html;
    }

    function getHeader(v, f) {
        let header_ = `                                <tr class="my-bg">
                                    <td colspan="3">
                                        <div id="phoneTitle"
                                             class="my-header-title my-label my-padding">`;
        switch (v) {
            case 'aiZhan':
                header_ += '爱站收费规则';
                break;
            case '5118':
                header_ += '5118收费规则';
                break;
            case 'designationWord':
                header_ += '指定词收费规则';
                break;
            case 'other':
                header_ += '其他收费规则';
                break;
        }
        header_ += `</div>
                                    </td>
                                    <td colspan="2">
                                        <div class="my-header-btn my-label">`;
        if (f) {
            header_ += `<button onclick="appendTable(true)" type="button"
                                                    class="layui-btn layui-btn-sm">
                                                增加收费规则
                                            </button>`;
        } else {
            header_ += `<button onclick="appendTable(false)" type="button"
                                                    class="layui-btn layui-btn-sm">
                                                增加收费规则
                                            </button>`;
        }
        header_ += `</div>
                                    </td>
                                </tr>
                                <tr class="my-bg">
                                    <td>
                                        <div class="my-col-one my-label my-left my-padding">
                                            达标阶段
                                        </div>
                                    </td>
                                    <td>
                                        <div class="my-col-two my-label my-left my-padding">
                                            起始达标词数
                                        </div>
                                    </td>
                                    <td>
                                        <div class="my-col-three my-label my-left my-padding">
                                            终止达标次数
                                        </div>
                                    </td>
                                    <td>
                                        <div class="my-col-four my-label my-left my-padding">`;
        if (f) {
            header_ += '电脑端价格';
        } else {
            header_ += '手机端价格';
        }
        header_ += `</div>
                                    </td>
                                    <td>
                                        <div
                                            class="my-col-five my-label my-left my-padding my-bottom">
                                            操作
                                        </div>
                                    </td>
                                </tr>`;
        return header_;
    }

    var tbody_com = null;
    var tbody_phone = null;

    // let computers = document.getElementsByClassName('computer');
    // let computersInput = document.getElementsByClassName('computer-input');
    let comQzsettingBoxSelect = document.getElementById('comQzsettingBoxSelect');
    let comQzsettingBox = document.getElementById('comQzsettingBox');
    let comStandardSpecies = document.getElementById('comStandardSpecies');
    let computerTable = document.getElementById('computerTable');

    function selectPhone(f) {
        if (f) {
            comStandardSpecies.style.display = 'none';
            computerTable.style.display = 'none';
        } else {
            comQzsettingBox.style.display = 'none';
            comQzsettingBoxSelect.style.display = 'none';
        }
        // for (let i = 0; i < computersInput.length; i++) {
        //     if (f) {
        //         i = 8;
        //         computers[6].classList.add('my-dis');
        //         computers[7].classList.add('my-dis');
        //         f = false;
        //     }
        //     if (i < 8) {
        //         computers[i].classList.add('my-dis');
        //     }
        //     computersInput[i].classList.add('layui-disabled');
        //     computersInput[i].setAttribute('disabled', '');
        // }
    }

    function deselectPhone(f) {
        if (f) {
            comStandardSpecies.style.display = 'block';
            computerTable.style.display = 'block';
        } else {
            comQzsettingBox.style.display = 'block';
            comQzsettingBoxSelect.style.display = 'block';
        }
        // for (let i = 0; i < computersInput.length; i++) {
        //     if (f) {
        //         i = 8;
        //         computers[6].classList.remove('my-dis');
        //         computers[7].classList.remove('my-dis');
        //         f = false;
        //     }
        //     if (i < 8) {
        //         computers[i].classList.remove('my-dis');
        //     }
        //     computersInput[i].classList.remove('layui-disabled');
        //     computersInput[i].removeAttribute('disabled');
        //
        // }
    }

    // let phones = document.getElementsByClassName('phone');
    // let phonesInput = document.getElementsByClassName('phone-input');
    let phoneQzsettingBoxSelect = document.getElementById('phoneQzsettingBoxSelect');
    let phoneQzsettingBox = document.getElementById('phoneQzsettingBox');
    let phoneStandardSpecies = document.getElementById('phoneStandardSpecies');
    let phoneTable = document.getElementById('phoneTable');

    function selectComputer(f) {
        if (f) {
            phoneStandardSpecies.style.display = 'none';
            phoneTable.style.display = 'none';
        } else {
            phoneQzsettingBox.style.display = 'none';
            phoneQzsettingBoxSelect.style.display = 'none';
        }
        // for (let i = 0; i < phonesInput.length; i++) {
        //     if (f) {
        //         i = 8;
        //         phones[6].classList.add('my-dis');
        //         phones[7].classList.add('my-dis');
        //         f = false;
        //     }
        //     if (i < 8) {
        //         phones[i].classList.add('my-dis');
        //     }
        //     phonesInput[i].classList.add('layui-disabled');
        //     phonesInput[i].setAttribute('disabled', '');
        //
        // }
    }

    function deselectComputer(f) {
        if (f) {
            phoneStandardSpecies.style.display = 'block';
            phoneTable.style.display = 'block';
        } else {
            phoneQzsettingBox.style.display = 'block';
            phoneQzsettingBoxSelect.style.display = 'block';
        }
        // for (let i = 0; i < phonesInput.length; i++) {
        //     if (f) {
        //         i = 8;
        //         phones[6].classList.remove('my-dis');
        //         phones[7].classList.remove('my-dis');
        //         f = false;
        //     }
        //     if (i < 8) {
        //         phones[i].classList.remove('my-dis');
        //     }
        //     phonesInput[i].classList.remove('layui-disabled');
        //     phonesInput[i].removeAttribute('disabled');
        //
        // }
    }

    layui.use(["form", "okLayer", "jquery", "layer"], function () {
        let form = layui.form;
        let okLayer = layui.okLayer;
        let $ = layui.jquery;
        let layer = layui.layer;

        if (uuid_ != null) {
            setForm(layui, uuid_);
        } else {
            layui_ = layui;
        }

        window.getInitData = function (a, b = '百度') {
            if (flag_) {
                $.ajax({
                    url: '/internal/qzsetting/getSaveQZSettingsMsg',
                    type: 'get',
                    dataType: 'json',
                    success: function (res) {
                        if (res.code === 200) {
                            let customerList = document.getElementById('customerList');
                            let searchList = document.getElementById('searchList');
                            let html_c = `<option value="">请选择</option>`;
                            if (a) {
                                html_c += `<option value="`;
                                html_c += a.uuid;
                                html_c += `" selected>`;
                                html_c += a.contactPerson;
                                html_c += `</option>`;
                                customerList.setAttribute('disabled', '');
                            } else {
                                let customers = res.data.customers;
                                let l = customers.length;
                                for (let i = 0; i < l; i++) {
                                    html_c += `<option value="`;
                                    html_c += customers[i].uuid;
                                    html_c += `">`;
                                    html_c += customers[i].contactPerson;
                                    html_c += `</option>`;
                                }
                            }
                            let html_s = ``;
                            let search = res.data.search;
                            for (let item in res.data.search) {
                                html_s += `<option value="`;
                                html_s += item;
                                html_s += `"`;
                                if (item === b) {
                                    html_s += `selected`;
                                }
                                html_s += `>`;
                                html_s += search[item];
                                html_s += `</option>`;
                            }

                            customerList.innerHTML = html_c;
                            searchList.innerHTML = html_s;
                            form.render('select');
                        } else {
                            l.layer.msg(res.msg);
                        }
                    }
                });
            }
        };

        tbody_com = $('#computerTbody');
        tbody_phone = $('#phoneTbody');

        //监听指定开关
        form.on('switch(computer)', function (data) {
            if (this.checked) {
                deselectPhone(false);
            } else {
                selectPhone(false);
            }
            // layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });

        //监听指定开关
        form.on('switch(phone)', function (data) {
            if (this.checked) {
                deselectComputer(false);
            } else {
                selectComputer(false);
            }
        });

        //监听指定radio
        form.on('radio(optimizationComType)', function (data) {
            switch (data.value) {
                case '1':
                    deselectPhone(true);
                    break;
                case '2':
                    deselectPhone(true);
                    break;
                case '0':
                    selectPhone(true);
                    break;
                default:
                    selectPhone(true);
            }
        });

        //监听指定radio
        form.on('radio(optimizationPhoneType)', function (data) {
            switch (data.value) {
                case '1':
                    deselectComputer(true);
                    break;
                case '2':
                    deselectComputer(true);
                    break;
                case '0':
                    selectComputer(true);
                    break;
                default:
                    selectComputer(true);
            }
        });

        let name = '收费规则';
        let computerTitle = document.getElementById('computerTitle');
        //监听指定radio
        form.on('radio(comStandardSpecies)', function (data) {
            switch (data.value) {
                case 'aiZhan':
                    computerTitle.innerHTML = '爱站' + name;
                    break;
                case '5118':
                    computerTitle.innerHTML = '5118' + name;
                    break;
                case 'designationWord':
                    computerTitle.innerHTML = '指定词' + name;
                    break;
                case 'other':
                    computerTitle.innerHTML = '其他' + name;
                    break;
            }
        });

        let phoneTitle = document.getElementById('phoneTitle');
        //监听指定radio
        form.on('radio(phoneStandardSpecies)', function (data) {
            switch (data.value) {
                case 'aiZhan':
                    phoneTitle.innerHTML = '爱站' + name;
                    break;
                case '5118':
                    phoneTitle.innerHTML = '5118' + name;
                    break;
                case 'designationWord':
                    phoneTitle.innerHTML = '指定词' + name;
                    break;
                case 'other':
                    phoneTitle.innerHTML = '其他' + name;
                    break;
            }
        });

        form.on("submit(commitCustomer)", function (data) {
            let d = data.field, p_d = {};
            if (!((d.computer === 'on' && d.optimizationComType === '1') || (d.phone === 'on'
                && d.optimizationPhoneType === '1'))) {
                okLayer.msg.redCry('必须选择电脑或手机中至少一个且至少拥有一个主优化', null);
                return false;
            }
            p_d.autoCrawlKeywordFlag = d.autoCrawlKeywordFlag;
            p_d.bearPawNumber = d.bearPawNumber;
            p_d.customerUuid = d.customerUuid;
            p_d.domain = d.domain;
            p_d.ignoreNoIndex = d.ignoreNoIndex;
            p_d.ignoreNoOrder = d.ignoreNoOrder;
            p_d.pcGroup = d.pcGroup;
            p_d.phoneGroup = d.phoneGroup;
            p_d.searchEngine = d.searchEngine;
            p_d.updateInterval = d.updateInterval;
            p_d.type = 'qz';
            p_d.uuid = d.uuid;

            let qzCategoryTags = [], tagNames = d.tagNames.split(',');
            for (let item in tagNames) {
                let a = {};
                a.tagName = tagNames[item];
                qzCategoryTags.push(a);
            }
            p_d.qzCategoryTags = qzCategoryTags;

            let qzOperationTypes = [];
            if (d.computer === 'on') {
                if (d.pcGroup === '' || d.comMaxKeywordCount === '' || d.comSubDomainName === '') {
                    okLayer.msg.redCry('电脑收费规则中信息未填写完全', null);
                    return false;
                }
                let b = {};
                b.currentKeywordCount = d.comCurrentKeywordCount;
                b.group = d.pcGroup;
                b.maxKeywordCount = d.comMaxKeywordCount;
                b.monitorRemark = d.comMonitorRemark;
                b.operationType = 'PC';
                b.optimizationType = d.optimizationComType;
                b.standardType = 'satisfyAll';
                b.subDomainName = d.comSubDomainName;
                let qzChargeRules = [], comTr = tbody_com.children('tr');
                if (d.optimizationComType !== '0') {
                    for (let i = 2; i < comTr.length; i++) {
                        let comTd = comTr[i].children, c = {};
                        c.standardSpecies = d.comStandardSpecies;
                        for (let j = 1; j < 4; j++) {
                            if (comTd[j].children[0].children[0].value === '') {
                                okLayer.msg.redCry('电脑收费规则表必须填写完整', null);
                                return false;
                            }
                            if (!/^[0-9]+$/.test(comTd[j].children[0].children[0].value)) {
                                okLayer.msg.redCry('电脑收费表格内必须为数字', null);
                                return false;
                            }
                            switch (j) {
                                case 1:
                                    c.startKeywordCount = comTd[j].children[0].children[0].value;
                                    break;
                                case 2:
                                    c.endKeywordCount = comTd[j].children[0].children[0].value;
                                    break;
                                case 3:
                                    c.amount = comTd[j].children[0].children[0].value;
                                    break;
                            }
                        }
                        qzChargeRules.push(c);
                    }
                }
                b.qzChargeRules = qzChargeRules;
                qzOperationTypes.push(b);
            }
            if (d.phone === 'on') {
                if (d.phoneGroup === '' || d.phoneMaxKeywordCount === '' || d.phoneSubDomainName
                    === '') {
                    okLayer.msg.redCry('手机收费规则中信息未填写完全', null);
                    return false;
                }
                let b = {};
                b.currentKeywordCount = d.phoneCurrentKeywordCount;
                b.group = d.phoneGroup;
                b.maxKeywordCount = d.phoneMaxKeywordCount;
                b.monitorRemark = d.phoneMonitorRemark;
                b.operationType = 'Phone';
                b.optimizationType = d.optimizationPhoneType;
                b.standardType = 'satisfyAll';
                b.subDomainName = d.phoneSubDomainName;
                let qzChargeRules = [], phoneTr = tbody_phone.children('tr');
                if (d.optimizationPhoneType !== '0') {
                    for (let i = 2; i < phoneTr.length; i++) {
                        let phoneTd = phoneTr[i].children, c = {};
                        c.standardSpecies = d.phoneStandardSpecies;
                        for (let j = 1; j < 4; j++) {
                            if (phoneTd[j].children[0].children[0].value === '') {
                                okLayer.msg.redCry('手机收费规则表必须填写完整', null);
                                return false;
                            }
                            if (!/^[0-9]+$/.test(phoneTd[j].children[0].children[0].value)) {
                                okLayer.msg.redCry('手机收费表格内必须为数字', null);
                                return false;
                            }
                            switch (j) {
                                case 1:
                                    c.startKeywordCount = phoneTd[j].children[0].children[0].value;
                                    break;
                                case 2:
                                    c.endKeywordCount = phoneTd[j].children[0].children[0].value;
                                    break;
                                case 3:
                                    c.amount = phoneTd[j].children[0].children[0].value;
                                    break;
                            }
                        }
                        qzChargeRules.push(c);
                    }
                }
                b.qzChargeRules = qzChargeRules;
                qzOperationTypes.push(b);
            }
            p_d.qzOperationTypes = qzOperationTypes;
            $.ajax({
                url: '/internal/qzsetting/saveQZSetting', ///internal/qzsetting/save
                type: 'post',
                data: JSON.stringify(p_d),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                success: function (res) {
                    if (res.code === 200) {
                        okLayer.msg.greenTick("保存成功", function () {
                            parent.window.sign = true;
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    } else {
                        layui.layer.msg(res.msg);
                    }
                },
                error: function () {
                    layui.layer.msg("保存失败");
                }
            });
            return false;
        });

        $('#close').click(function () {
            parent.layer.close(parent.layer.getFrameIndex(window.name));
        });

        form.verify({
            domain: [
                /^([\u4e00-\u9fa50-9]+|[a-z0-9]+)\.([\u4e00-\u9fa5]+|[a-z]+|ac.cn|bj.cn|sh.cn|tj.cn|cq.cn|he.cn|sn.cn|sx.cn|nm.cn|ln.cn|jl.cn|hl.cn|js.cn|zj.cn|ah.cn|fj.cn|jx.cn|sd.cn|ha.cn|hb.cn|hn.cn|gd.cn|gx.cn|hi.cn|sc.cn|gz.cn|yn.cn|gs.cn|qh.cn|nx.cn|xj.cn|tw.cn|hk.cn|mo.cn|xz.cn|com.cn|net.cn|org.cn|gov.cn|.com.hk)$/,
                "请正确输入域名,例如baidu.com,不能填写www.baidu.com,map.baidu.com等"
            ],
            tagNames: [
                /(^$)|(^[\u4e00-\u9fa5a-zA-Z,]+$)/,
                "请正确输入标签,例如：阿卡索,MBA,算法"
            ]
        });

        // 执行初始化数据方法
        getInitData();
    });
</script>
</body>
</html>
