<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/static/ok-admin/css/sub-page.css">
    <style>
        .padding-ten-left {
            padding-left: 2px;
        }

        .padding-ten-right {
            padding-right: 2px;
        }

        .layui-btn {
            width: 150px;
        }

        .qzsetting-box {
            padding: 10px 10px 5px 10px;
            border-radius: 2px 0 0 2px;
            border: solid 1px #e6e6e6;
            margin-bottom: 5px;

        }

        .my-dis {
            color: #d2d2d2 !important;
        }
    </style>
</head>
<div>
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form" lay-filter="qzSettingSf">
        <div class="ok-body">
            <input type="hidden" name="qzSettingUuid"/>
            <div class="layui-form-item">
                <label class="layui-form-label">客户</label>
                <div class="layui-input-block">
                    <input type="text" name="qzSettingCustomer" placeholder="请输入客户"
                           autocomplete="off"
                           class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">域名</label>
                <div class="layui-input-block">
                    <input type="text" name="qzSettingDomain" placeholder="请输入域名" autocomplete="off"
                           class="layui-input" disabled>
                </div>
            </div>
            <!--      <fieldset class="layui-elem-field layui-field-title">-->
            <!--        <legend>收费规则</legend>-->
            <!--      </fieldset>-->
            <div class="layui-row">
                <div class="layui-col-md6 padding-ten-right">
                    <div class="layui-form-item" pane>
                        <label class="layui-form-label">电脑</label>
                        <div class="layui-input-block">
                            <input type="checkbox" checked name="computer" lay-skin="switch"
                                   lay-filter="computer"
                                   lay-text="Select|Deselect" id="computer">
                        </div>
                    </div>
                    <div id="comQzsettingBox" class="qzsetting-box">
                        <input type="hidden" name="pcQzOperationTypeUuid"/>
                        <!--            <div class="layui-form-item">-->
                        <!--              <label class="layui-form-label">初始词量</label>-->
                        <!--              <div class="layui-input-block">-->
                        <!--                <input type="text" name="pcInitialKeywordCount" placeholder="请输入初始词量"-->
                        <!--                       autocomplete="off" disabled-->
                        <!--                       class="layui-input">-->
                        <!--              </div>-->
                        <!--            </div>-->
                        <div class="layui-form-item">
                            <label class="computer layui-form-label">当前词量</label>
                            <div class="layui-input-block">
                                <input type="text" name="pcCurrentKeywordCount"
                                       placeholder="请输入当前词量"
                                       autocomplete="off" disabled
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="computer layui-form-label">应收金额</label>
                            <div class="layui-input-block">
                                <input type="text" name="pcReceivableAmount" placeholder="请输入应收金额"
                                       autocomplete="off" disabled
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="computer layui-form-label">计划收费日期</label>
                            <div class="layui-input-block">
                                <input type="text" name="pcPlanChargeDate" placeholder="请选择计划收费日期"
                                       autocomplete="off" id="layui-date-one" class="layui-input"
                                       disabled>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="computer layui-form-label">下次收费日期</label>
                            <div class="layui-input-block">
                                <input type="text" name="pcNextChargeDate" placeholder="请选择下次收费日期"
                                       autocomplete="off" id="layui-date-two"
                                       class="computer-input layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="computer layui-form-label">实收金额</label>
                            <div class="layui-input-block">
                                <input type="text" name="pcActualAmount" placeholder="请输入实收金额"
                                       id="pc-i"
                                       autocomplete="off" class="computer-input layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="computer layui-form-label">实际收费日期</label>
                            <div class="layui-input-block">
                                <input type="text" name="pcActualChargeDate" placeholder="请选择实际收费日期"
                                       autocomplete="off" id="layui-date-three"
                                       class="computer-input layui-input">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6 padding-ten-left">
                    <div class="layui-form-item" pane>
                        <label class="layui-form-label">手机</label>
                        <div class="layui-input-block">
                            <input type="checkbox" checked name="phone" lay-skin="switch"
                                   lay-filter="phone"
                                   lay-text="Select|Deselect" id="phone">
                        </div>
                    </div>
                    <div id="phoneQzsettingBox" class="qzsetting-box">
                        <input type="hidden" name="phoneQzOperationTypeUuid"/>
                        <div class="layui-form-item">
                            <label class="phone layui-form-label">当前词量</label>
                            <div class="layui-input-block">
                                <input type="text" name="phoneCurrentKeywordCount"
                                       placeholder="请输入当前词量"
                                       autocomplete="off" disabled
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="phone layui-form-label">应收金额</label>
                            <div class="layui-input-block">
                                <input type="text" name="phoneReceivableAmount"
                                       placeholder="请输入应收金额"
                                       autocomplete="off" disabled
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="phone layui-form-label">计划收费日期</label>
                            <div class="layui-input-block">
                                <input type="text" name="phonePlanChargeDate"
                                       placeholder="请选择计划收费日期"
                                       autocomplete="off" id="layui-date-four" class="layui-input"
                                       disabled>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="phone layui-form-label">下次收费日期</label>
                            <div class="layui-input-block">
                                <input type="text" name="phoneNextChargeDate"
                                       placeholder="请选择下次收费日期"
                                       autocomplete="off" id="layui-date-five"
                                       class="phone-input layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="phone layui-form-label">实收金额</label>
                            <div class="layui-input-block">
                                <input type="text" name="phoneActualAmount" placeholder="请输入实收金额"
                                       autocomplete="off" id="phone-i"
                                       class="phone-input layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="phone layui-form-label">实际收费日期</label>
                            <div class="layui-input-block">
                                <input type="text" name="phoneActualChargeDate"
                                       placeholder="请选择实际收费日期"
                                       autocomplete="off" id="layui-date-six"
                                       class="phone-input layui-input">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">合计</label>
                <div class="layui-input-block">
                    <input type="text" autocomplete="off" class="layui-input" disabled
                           id="total" lay-verify="required">
                </div>
            </div>
        </div>
        <div style="position: fixed;bottom: 0;width: 100%;background:#fff;text-align: right;">
            <div style="margin: 0 10px 6px 10px; padding-top: 8px;border-top: solid 1px #e6e6e6">
                <button class="layui-btn" lay-submit lay-filter="commitCharge">确定</button>
                <button class="layui-btn layui-btn-primary" id="close" style="margin-right: 20px">
                    取消
                </button>
            </div>
        </div>
    </form>
</div>
<!--js逻辑-->

<script src="/static/ok-admin/lib/layui/layui.js"></script>
<script>
    let data_ = null;
    let layui_ = null;

    function initForm(data) {
        data_ = data;
        if (layui_ != null) {
            setForm(layui_, data_);
        }
    }

    let computer = document.getElementById('computer');
    let computers = document.getElementsByClassName('computer');
    let computersInput = document.getElementsByClassName('computer-input');

    function selectPhone(f) {
        if (f) {
            computer.setAttribute('disabled', '');
        }
        for (let i = 0; i < computers.length; i++) {
            computers[i].classList.add('my-dis');
            if (i < 3) {
                computersInput[i].classList.add('layui-disabled');
                computersInput[i].setAttribute('disabled', '');
            }
        }
    }

    function deselectPhone(f) {
        if (f) {
            computer.removeAttribute('disabled');
        }
        for (let i = 0; i < computers.length; i++) {
            computers[i].classList.remove('my-dis');
            if (i < 3) {
                computersInput[i].classList.remove('layui-disabled');
                computersInput[i].removeAttribute('disabled');
            }
        }
    }

    let phone = document.getElementById('phone');
    let phones = document.getElementsByClassName('phone');
    let phonesInput = document.getElementsByClassName('phone-input');

    function selectComputer(f) {
        if (f) {
            phone.setAttribute('disabled', '');
        }
        for (let i = 0; i < phones.length; i++) {
            phones[i].classList.add('my-dis');
            if (i < 3) {
                phonesInput[i].classList.add('layui-disabled');
                phonesInput[i].setAttribute('disabled', '');
            }
        }
    }

    function deselectComputer(f) {
        if (f) {
            phone.removeAttribute('disabled');
        }
        for (let i = 0; i < phones.length; i++) {
            phones[i].classList.remove('my-dis');
            if (i < 3) {
                phonesInput[i].classList.remove('layui-disabled');
                phonesInput[i].removeAttribute('disabled');
            }
        }
    }

    function setForm(l, d) {
        l.jquery.ajax({
            url: '/internal/qzchargelog/getQZChargeLogs/' + d.uuid,
            type: 'get',
            dataType: 'json',
            success: function (res) {
                if (res.code === 200) {
                    if (res.data.operationType === 'PC') {
                        d.pcCurrentKeywordCount = res.data.currentKeywordCount == null ? ''
                            : res.data.currentKeywordCount;
                        d.pcInitialKeywordCount = res.data.initialKeywordCount == null ? ''
                            : res.data.initialKeywordCount;
                        d.phone = 0;
                        d.pcPlanChargeDate = res.data.planChargeDate;
                        d.pcQzOperationTypeUuid = res.data.qzOperationTypeUuid;
                        d.pcReceivableAmount = res.data.receivableAmount == null ? ''
                            : res.data.receivableAmount;
                        selectComputer(true);
                    } else {
                        d.phoneCurrentKeywordCount = res.data.currentKeywordCount == null ? ''
                            : res.data.currentKeywordCount;
                        d.phoneInitialKeywordCount = res.data.initialKeywordCount == null ? ''
                            : res.data.initialKeywordCount;
                        d.computer = 0;
                        d.phonePlanChargeDate = res.data.planChargeDate;
                        d.phoneQzOperationTypeUuid = res.data.qzOperationTypeUuid;
                        d.phoneReceivableAmount = res.data.receivableAmount == null ? ''
                            : res.data.receivableAmount;
                        selectPhone(true);
                    }
                    l.form.val("qzSettingSf", JSON.parse(JSON.stringify(d)));
                } else {
                    l.layer.msg(res.msg);
                }
            }
        });
    }

    let pc_i = document.getElementById('pc-i');
    let phone_i = document.getElementById('phone-i');
    let total = document.getElementById('total');

    pc_i.onchange = setTotal;
    phone_i.onchange = setTotal;

    function setTotal() {
        let pc_v = pc_i.value.trim();
        let phone_v = phone_i.value.trim();
        if (/(^$)|(^\d+$)/.test(pc_v) || /(^$)|(^\d+$)/.test(phone_v)) {
            total.value = Number(pc_v) + Number(phone_v);
        } else {
            total.value = '';
        }
    }

    layui.use(["form", "okLayer", "jquery", "layer", 'laydate'], function () {
        let form = layui.form;
        let okLayer = layui.okLayer;
        let $ = layui.jquery;
        let layer = layui.layer;
        let laydate = layui.laydate;

        if (data_ != null) {
            setForm(layui, data_);
        } else {
            layui_ = layui;
        }

        //监听指定开关
        form.on('switch(computer)', function (data) {
            if (this.checked) {
                deselectPhone(false);
            } else {
                selectPhone(false);
            }
            // layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });
        //监听指定开关
        form.on('switch(phone)', function (data) {
            if (this.checked) {
                deselectComputer(false);
            } else {
                selectComputer(false);
            }
        });

        form.on("submit(commitCharge)", function (data) {
            let d = {};
            if (data.field.computer === 'on') {
                d.qzOperationTypeUuid = data.field.pcQzOperationTypeUuid;
                d.planChargeDate = data.field.pcPlanChargeDate;
                d.actualChargeDate = data.field.pcActualChargeDate;
                if (data.field.pcReceivableAmount !== '') {
                    d.receivableAmount = data.field.pcReceivableAmount;
                }
                d.actualAmount = data.field.pcActualAmount;
                d.nextChargeDate = data.field.pcNextChargeDate;
            } else if (data.field.phone === 'on') {
                d.qzOperationTypeUuid = data.field.phoneQzOperationTypeUuid;
                d.planChargeDate = data.field.phonePlanChargeDate;
                d.actualChargeDate = data.field.phoneActualChargeDate;
                if (data.field.phoneReceivableAmount !== '') {
                    d.receivableAmount = data.field.phoneReceivableAmount;
                }
                d.actualAmount = data.field.phoneActualAmount;
                d.nextChargeDate = data.field.phoneNextChargeDate;
            }
            layer.confirm('确认保存？', {
                icon: 3,
                title: '保存数据',
                btn: ['确认', '取消']
                , yes: function (index) {
                    $.ajax({
                        url: '/internal/qzchargelog/saveQZChargeLogs',
                        type: 'post',
                        // 用于设置响应体的类型 注意 跟 data 参数没关系！！！
                        data: JSON.stringify(d),
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        success: function (res) {
                            // 一旦设置的 dataType 选项，就不再关心 服务端 响应的 Content-Type 了
                            // 客户端会主观认为服务端返回的就是 JSON 格式的字符串
                            if (res.code === 200) {
                                layer.close(index);
                                okLayer.msg.greenTick("保存成功", function () {
                                    parent.window.sign = true;
                                    // parent.layer.close(parent.layer.getFrameIndex(window.name));
                                    okLayer.close();
                                });
                            } else {
                                layui.layer.msg(res.msg);
                            }
                        }
                    });
                }, btn2: function (index) {
                    layer.close(index);
                }
            });
            return false;
        });

        $('#close').click(function () {
            okLayer.close();
        });

        //常规用法
        laydate.render({elem: '#layui-date-one'});
        laydate.render({elem: '#layui-date-two'});
        laydate.render({elem: '#layui-date-three', value: new Date()});
        laydate.render({elem: '#layui-date-four'});
        laydate.render({elem: '#layui-date-five'});
        laydate.render({elem: '#layui-date-six', value: new Date()});

        form.verify({
            qq: [
                /(^$)|(^[1-9]\d{4,14}$)/,
                "请输入正确格式QQ"
            ],
            telPhone: [
                /(^$)|(^(13[0-9]|14[5-9]|15[0-3,5-9]|16[2567]|17[0-8]|18[0-9]|19[13589])\d{8}$)/,
                "请输入正确格式手机号码"
            ]
        });
    })

</script>
</body>
</html>
