<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>文章列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/style/admin.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/style/template.css">
    <link rel="stylesheet" href="/static/ok-admin/page/customer/customer2.css">
    <style>

    </style>
</head>
<body>
<form class="layui-form layui-form-pane" id="searchForm">
    <div class="my-collapse">
        <div>
            <input type="checkbox" name="checkAll" lay-skin="primary" lay-filter="checkAll">
            <div class="layui-inline">
                <input type="text" name="contactPerson" id="contactPerson" placeholder="请输入客户名称"
                       class="layui-input">
            </div>
            <div class="layui-inline">
                <button class="layui-btn" lay-submit="" lay-filter="search"
                        id="searchBtn">搜索
                </button>
            </div>
            <div class="layui-inline">
                <div class="layui-collapse my-btn" onclick="showCondition()">
                    更多条件
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layui-btn-sm layui-btn-primary" type="reset">
                    重置
                </button>
            </div>

            <div class="layui-inline">

            </div>
            <div class="layui-inline">
                <div class="layui-btn layui-btn-sm" onclick="toAddCustomer()">
                    添加
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-btn layui-btn-sm" onclick="batchUpdateDailyReport()">
                    触发所选客户日报表
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-btn layui-btn-sm layui-btn-danger" onclick="batchDelete()">
                    批量删除
                </div>
            </div>
        </div>
        <div class="my-hide" id="searchContent">

            <div class="layui-form-item" lay-filter="loginNameFilter">
                <div class="layui-inline">
                    <label class="layui-form-label">客户类型</label>
                    <div class="layui-input-inline">
                        <select name="type">
                            <option value=""></option>
                            <option value="普通客户">普通客户</option>
                            <option value="测试客户">测试客户</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">QQ</label>
                    <div class="layui-input-inline">
                        <input type="text" name="qq" id="qq" placeholder="请输入QQ" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">微信</label>
                    <div class="layui-input-inline">
                        <input type="text" name="wechat" id="wechat" placeholder="请输入微信" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">联系电话</label>
                    <div class="layui-input-inline">
                        <input type="text" name="telphone" id="telphone" placeholder="请输入联系电话"
                               autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-inline">
                        <input type="text" name="remark" id="remark" placeholder="请输入备注" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
<div class="layui-row">
    <div class="layui-col-md12">

    </div>

    <div style="height: 40px"></div>
</div>
<div class="layui-fluid layadmin-maillist-fluid">

    <div class="layui-row layui-col-space10 layui-form" id="data_list">
    </div>

</div>
<div style="height: 40px"></div>
<div id="page_nav"></div>

</div>

<!--js逻辑-->
<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script src="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.js"></script>
<script src="/static/ok-admin/page/customer/customer2.js"></script>


</body>
</html>
