<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>客户列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/style/admin.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/style/template.css">
    <link rel="stylesheet" href="/static/ok-admin/page/customer/customer.css">
</head>
<style>
    .layui-tab-content {
        padding: 0px;
    }

    .layui-card-body {
        position: relative;
        padding: 0px;
        line-height: 24px;
    }

    .layui-table, .layui-table-view {
        margin: 0px;
        border-width: 1px;
    }

    .my-collapse > div:first-child {
        background: #f2f2f2;
        border: 0px;
    }
</style>
<body>

<div class="layui-tab layui-tab-card" lay-filter="customerTab" id="customerTab">
    <ul class="layui-tab-title" id="tabItem">
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <form class="layui-form layui-form-pane" id="searchForm">
                <div class="my-collapse">
                    <div class="out-condition">
                        <input type="hidden" id="entryType" name="entryType" value=""/>
                        <input type="checkbox" name="checkAll" lay-skin="primary" lay-filter="checkAll">
                        <div class="layui-inline" style="width: 140px">
                            <select name="type" id="type">
                                <option value="">客户类型</option>
                                <option value="普通客户">普通客户</option>
                                <option value="测试客户">测试客户</option>
                            </select>
                        </div>
                        <@shiro.hasPermission name="/internal/customer/deleteCustomers">
                        <div class="layui-inline">
                            <select name="loginName" id="loginName">
                                <option value="">所属用户</option>
                            </select>
                        </div>
                        </@shiro.hasPermission>
                        <div class="layui-inline" style="width: 140px">
                            <input type="text" name="contactPerson" id="contactPerson" placeholder="请输入客户名称" class="layui-input"
                                   onkeyup="this.value = this.value.replace(/^(\s|\u00A0)+/,'').replace(/(\s|\u00A0)+$/,'');" />
                        </div>
                        <div class="layui-inline" style="width: 140px">
                            <div class="layui-input-inline">
                                <input type="text" name="saleRemark" id="saleRemark" placeholder="请输入客户标签" autocomplete="off" class="layui-input"
                                       onkeyup="this.value = this.value.replace(/^(\s|\u00A0)+/,'').replace(/(\s|\u00A0)+$/,'');" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn" lay-submit="" lay-filter="search"
                                    id="searchBtn">搜索
                            </button>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-collapse my-btn" onclick="showCondition()">
                                更多条件
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button style="background: #897c00;color: #ffffff" class="layui-btn" type="reset">
                                重置
                            </button>
                        </div>
                        <@shiro.hasPermission name="/internal/customer/saveCustomer">
                        <div class="layui-inline">
                            <div class="layui-btn layui-btn-sm" onclick="toAddCustomer()">
                                添加
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-btn layui-btn-sm" onclick="batchUpdateDailyReport()">
                                触发所选客户日报表
                            </div>
                        </div>
                        <div class="layui-inline" id="batchUpdateBelongUserDiv">
                            <div class="layui-btn layui-btn-sm" onclick="batchUpdateBelongUser()">
                                更改客户归属
                            </div>
                        </div>
                        </@shiro.hasPermission>
                        <@shiro.hasPermission name="/internal/customer/deleteCustomers">
                        <div class="layui-inline">
                            <div class="layui-btn layui-btn-sm layui-btn-danger" onclick="batchDelete()">
                                批量删除
                            </div>
                        </div>
                        </@shiro.hasPermission>
                        <div class="layui-inline" id="dailyReportDiv"></div>
                    </div>

                    <div class="my-hide" id="searchContent">
                        <div class="layui-form-item" lay-filter="loginNameFilter">
                            <div class="layui-inline">
                                <label class="layui-form-label">QQ</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="qq" id="qq" placeholder="请输入QQ" autocomplete="off" class="layui-input" lay-verify="qq"
                                           onkeyup="this.value = this.value.replace(/^(\s|\u00A0)+/,'').replace(/(\s|\u00A0)+$/,'');" />
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">联系电话</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="telphone" id="telphone" placeholder="请输入联系电话" autocomplete="off" class="layui-input" lay-verify="noSpace"
                                           onkeyup="this.value = this.value.replace(/^(\s|\u00A0)+/,'').replace(/(\s|\u00A0)+$/,'');" />
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">备注</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="remark" id="remark" placeholder="备注给运营" autocomplete="off" class="layui-input"
                                           onkeyup="this.value = this.value.replace(/^(\s|\u00A0)+/,'').replace(/(\s|\u00A0)+$/,'');" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div id="customerBody" style="height: 730px;overflow-y: scroll;padding-bottom: 5px;">
                <div style="width: 99.2%" class="layui-fluid layadmin-maillist-fluid">
                    <div class="layui-row layui-col-space10 layui-form" id="data_list">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="page_nav"></div>
<script>
    var isSEOSales = false;
    <@shiro.hasRole name="SEOSales">
        isSEOSales = true;
    </@shiro.hasRole>

    <@shiro.hasAnyRoles name="Operation,Technical,SEO,AlgorithmGroup">
        isSEOSales = false;
    </@shiro.hasAnyRoles>
</script>
<script src="/static/ok-admin/lib/layui/layui.js"></script>
<script src="/static/ok-admin/js/somePublic.js"></script>
<script src="/static/ok-admin/page/customer/customer.js"></script>
<script>
    layui.define(['layer', 'jquery'], function (exports) {
        var $ = layui.jquery;
        exports('searchCurrentDateCompletedReports', function () {//函数参数
            let div = $("#dailyReportDiv");
            $.ajax({
                url: '/internal/dailyReport/searchCurrentDateCompletedReports2',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                timeout: 5000,
                type: 'GET',
                success: function (result) {
                    var htmlContent = "";
                    if (result.code === 200) {
                        if (result.data != null) {
                            $.each(result.data,function(idx,val){
                                var date = new Date(val.completeTime);
                                htmlContent += '<a class="layui-btn layui-btn-sm" href="' + val.reportPath + '">下载日报表(' + ((date.getHours() < 10) ? '0'
                                    + date.getHours() : date.getHours()) + ':' + ((date.getMinutes() < 10) ? '0' + date.getMinutes()
                                    : date.getMinutes()) + ')</a>';
                            });
                        } else {
                            htmlContent = $('<span class="layui-btn layui-btn-sm" disabled>今天没报表</span>');
                        }
                        div.html(htmlContent);
                    } else {
                        div.html($('<span class="layui-btn layui-btn-sm" disabled>获取报表清单异常</span>'));
                    }
                },
                error: function () {
                    div.html($('<span class="layui-btn layui-btn-sm" disabled>获取报表清单异常</span>'));
                }
            });
        });
    });

    layui.use(['jquery'], function () {
    <@shiro.hasPermission name="/internal/dailyReport/triggerReportGeneration">
        var intervalId = setInterval(function () {
            layui.searchCurrentDateCompletedReports();
        }, 1000 * 30);
        window.searchCurrentDateCompletedReportsIntervalId = intervalId;
        window.hasPer = true;
    </@shiro.hasPermission>
    });
</script>
</body>
</html>
