<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/page/customer/customerAdd.css">

</head>
<body>

<div class="ok-body">
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form" lay-filter="addCustomer">
        <input type="hidden" name="uuid">
        <div class="layui-form-item">
            <label class="layui-form-label">联系人</label>
            <div class="layui-input-block">
                <input type="text" name="contactPerson" placeholder="请输入联系人" autocomplete="off"
                       class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">QQ</label>
            <div class="layui-input-block">
                <input type="text" name="qq" placeholder="请输入QQ" autocomplete="off"
                       class="layui-input" lay-verify="qq">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-block">
                <input type="text" name="telphone" placeholder="请输入联系电话" autocomplete="off"
                       class="layui-input" lay-verify="telPhone">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户类型</label>
            <div class="layui-input-block">
                <input type="text" name="type" placeholder="请输入客户类型" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户状态</label>
            <div class="layui-input-block">
                <select name="status">
                    <option value="1">激活</option>
                    <option value="2">暂停</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">产生报表</label>
            <div class="layui-input-block">
                <select name="dailyReportIdentify">
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">业务类型</label>
            <div class="layui-input-block">
                <input type="checkbox" name="customerBusinessList" value="keyword" title="关键字">
                <input type="checkbox" name="customerBusinessList" value="qzsetting" title="全站">
                <input type="checkbox" name="customerBusinessList" value="fm" title="负面" >
            </div>

        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">销售备注</label>
            <div class="layui-input-block">
                <textarea name="saleRemark" placeholder="请输入销售备注" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="remark" placeholder="请输入备注" class="layui-textarea"></textarea>
            </div>
        </div>
        <div style="position: fixed;bottom: 0;width: 100%;background:#fff;text-align: right;">
            <div style="margin: 0 10px 6px 10px; padding-top: 8px;border-top: solid 1px #e6e6e6">
                <button class="layui-btn" lay-submit lay-filter="commitCustomer">确定</button>
                <button type="reset" class="layui-btn layui-btn-primary">
                    重置
                </button>
                <button class="layui-btn layui-btn-primary" id="close" style="margin-right: 20px">
                    取消
                </button>
            </div>
        </div>
    </form>
</div>

<!--js逻辑-->
<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script src="${ctx.basePath}/static/ok-admin/page/customer/customerAdd.js"></script>

</body>
</html>
