<#import "/commons/global.html" as ctx>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>文章列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/scroll-bar.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.css">
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
            <span class="layui-breadcrumb">
                <a><cite>其他</cite></a>
                <a><cite>测试计划列表</cite></a>
            </span>
        <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <!--模糊搜索区域-->

        <div class="layui-card">
            <div class="layui-card-body ">
                <div class="layui-collapse" lay-filter="test">
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">条件筛选<i class="layui-icon layui-colla-icon"></i></h2>
                        <div class="layui-colla-content" id="searchContent">
                            <div class="layui-form" id="searchForm">

                                <div class="layui-form-item">
                                    <div class="layui-inline">

                                        <div class="layui-input-inline" >
                                            <select name="loginName" id="loginName"  lay-filter="loginNameFilter" lay-search>
                                                <option value="">请选择所属用户</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <div class="layui-input-inline" >
                                            <input type="text" name="contactPerson" id="contactPerson" placeholder="联系人" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>

                                    <div class="layui-inline">
                                        <div class="layui-input-inline" >
                                            <input type="text" name="type" id="type" placeholder="分组" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>

                                    <div class="layui-inline">
                                        <div class="layui-input-inline" style="width: 150px;">
                                            <input type="text" name="qq" id="qq" placeholder="QQ" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <div class="layui-input-inline" style="width: 150px;">
                                            <input type="text" name="telphone" id="telphone" placeholder="联系电话" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <div class="layui-input-inline" style="width: 150px;">
                                            <input type="text" name="remark" id="remark" placeholder="备注" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>

                                    <div class="layui-inline">
                                        <div class="layui-input-inline">
                                            <button class="layui-btn" data-type="reload" id="searchBtn">立即提交</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!--工具栏-->
    <okToolbar>


    <button class="layui-btn layui-btn-normal" id="batchEnabled">
            <i class="iconfont icon-shangsheng"></i>批量上架
        </button>
        <button class="layui-btn layui-btn-warm" id="batchDisabled">
            <i class="iconfont icon-web-icon-"></i>批量下架
        </button>
        <button class="layui-btn layui-btn-danger" id="batchDel">
            <i class="layui-icon layui-icon-delete"></i>批量删除
        </button>
        <button class="layui-btn" id="addUser">
            <i class="layui-icon">&#xe61f;</i>添加文章
        </button>
        <span>共有数据：<i id="countNum"></i> 条</span>
    </okToolbar>

    <!--数据表格-->
    <table class="layui-hide" id="customerTable" lay-filter="tableFilter"></table>
</div>
<!--js逻辑-->
<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script src="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.js"></script>
<script>
    // 进度条加载提示
    NProgress.start();
    window.onload = function () {
        NProgress.done();
    }
    // layui相关
    layui.use(['element', 'table', 'form', 'jquery', 'laydate'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;

        laydate.render({
            elem: '#startTime',
            type: "datetime"
        });

        laydate.render({
            elem: '#endTime',
            type: "datetime"
        });

        table.render({
            elem: '#customerTable',
            method: 'post',
            url: '${ctx.path}/internal/customer/getCustomers',
            // limit: 10,
            page: true,
            id: 'customerTable',
            even: true,//隔行背景
            contentType: 'application/json',
            cols: [[
                {type: 'checkbox', fixed: "left", width: '3%'},
                {field: 'loginName', title: '用户名称', sort: true, width: '8%'},
                {field: 'contactPerson', title: '联系人', width: '10%'},
                {field: 'type', title: '分组', width: '5%'},
                {field: 'keywordCount', title: '关键字信息', width: '10%', templet:'#keywordInfo'},
                {field: 'qq', title: 'QQ', width: '7%'},
                {field: 'saleRemark', title: '销售备注', width: '10%'},
                {field: 'remark', title: '备注', width: '10%'},
                {field: 'status', title: '客户状态', width: '8%', templet:'#customerStatus'},
                {field: 'dailyReportIdentify', title: '是否产生日报表', width: '12%', templet:'#customerDailyReportIdentify'},
                {field: 'createTime', title: '创建时间', width: '10%', templet:'#toDateTime'},
                {title: '操作', templet: '#operationTpl', align: 'center', width: '14%'}
            ]],
            done: function (res, curr, count) {
                // console.log(res)
                $("#countNum").text(count);
            }
        });

        var active = {
            reload: function () {
                var loginName = $('#searchForm #loginName').val().trim();
                var contactPerson = $('#searchForm #contactPerson').val().trim();
                var type = $('#searchForm #type').val().trim();
                var qq = $('#searchForm #qq').val().trim();
                var telphone = $('#searchForm #telphone').val().trim();
                var remark = $('#searchForm #remark').val().trim();

                table.reload('customerTable', {
                    where: {
                        loginName : loginName,
                        contactPerson : contactPerson,
                        type : type,
                        qq : qq,
                        telphone : telphone,
                        remark : remark
                    }
                });
                $("#searchContent").removeClass("layui-show")
            }
        };

        $('#searchForm #searchBtn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    })

</script>
<!--模板-->
<script type="text/html" id="toDateTime">
    {{layui.util.toDateString(d.createTime)}}
</script>

<script type="text/html" id="keywordInfo">
    {{# if(d.keywordCount > 0){
            if(d.keywordCount == d.activeKeywordCount){ }}
                <span style="color: green;">激活</span>
                <@shiro.hasPermission name="/internal/customerKeyword/updateCustomerKeywordStatus">
                    | <a href="javascript:changeCustomerKeywordStatus('{{d.uuid}}', 0)">暂停关键字</a>
                </@shiro.hasPermission>
        {{# }else if(d.keywordCount > 0 && d.activeKeywordCount > 0){ }}
                <span style="color: yellowgreen;">部分暂停</span>
                <@shiro.hasPermission name="/internal/customerKeyword/updateCustomerKeywordStatus">
                    | <a href="javascript:changeCustomerKeywordStatus('{{d.uuid}}', 0)">暂停关键字</a>
                    | <a href="javascript:changeCustomerKeywordStatus('{{d.uuid}}', 1)">激活关键字</a>
                </@shiro.hasPermission>
        {{# }else{  }}
                <span style="color: red;">暂停</span>
                <@shiro.hasPermission name="/internal/customerKeyword/updateCustomerKeywordStatus">
                    | <a href="javascript:changeCustomerKeywordStatus('{{d.uuid}}', 1)">激活关键字</a>
                </@shiro.hasPermission>
        {{# }
        }else{ }}
        暂无关键字
        {{#} }}
</script>


<script type="text/html" id="customerStatus">
    {{#  if(d.status==1){  }}
            激活
    {{#  }else{  }}
            暂停
    {{#  }  }}
</script>

<script type="text/html" id="customerDailyReportIdentify">
    {{#  if(d.dailyReportIdentify){  }}
    是
    {{#  }else{  }}
    否
    {{#  }  }}
</script>
<script type="text/html" id="operationTpl">
    <a href="javascript:;" title="编辑" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>
    <a href="javascript:;" title="删除" lay-event="del"><i class="layui-icon">&#xe640;</i></a>
</script>
</body>
</html>
