<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/page/customer/customerAdd.css">
</head>
<body>
<div class="ok-body">
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form" lay-filter="addCustomer">
        <input type="hidden" name="uuid" value=""/>
        <input type="hidden" name="entryType" id="entryType" value=""/>
        <div class="layui-form-item">
            <label class="layui-form-label">联系人</label>
            <div class="layui-input-block">
                <input type="text" name="contactPerson" placeholder="请输入联系人" autocomplete="off"
                       class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">QQ</label>
            <div class="layui-input-block">
                <input type="text" name="qq" placeholder="请输入QQ" autocomplete="off"
                       class="layui-input" lay-verify="qq">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-block">
                <input type="text" name="telphone" placeholder="请输入联系电话" autocomplete="off"
                       class="layui-input" lay-verify="telPhone">
            </div>
        </div>
        <div class="layui-form-item" >
            <label class="layui-form-label">客户类型</label>
            <div class="layui-input-block ">
                <div class="layui-input">
                    <input type="radio" name="type" value="普通客户" title="普通客户" checked>
                    <input type="radio" name="type" value="测试客户" title="测试客户">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">产生报表</label>
            <div class="layui-input-block ">
                <div class="layui-input">
                    <input type="radio" name="dailyReportIdentify" value="0" title="否" checked>
                    <input type="radio" name="dailyReportIdentify" value="1" title="是">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">业务类型</label>
            <div class="layui-input-block">
                <div class="layui-input">
                    <@shiro.hasRole name="PTSpecial">
                    <input type="checkbox" name="customerBusinessList[keyword]" value="keyword" title="单词"/>
                    </@shiro.hasRole>
                    <@shiro.hasRole name="QZSpecial">
                    <input type="checkbox" name="customerBusinessList[qzsetting]" value="qzsetting" title="全站"/>
                    </@shiro.hasRole>
                    <@shiro.hasRole name="FMSpecial">
                    <input type="checkbox" name="customerBusinessList[fm]" value="fm" title="负面"/>
                    </@shiro.hasRole>
                    <@shiro.hasRole name="QTSpecial">
                    <input type="checkbox" name="customerBusinessList[qt]" value="qt" title="其他"/>
                    </@shiro.hasRole>
                </div>
            </div>
        </div>
        <@shiro.hasRole name="QTSpecial">
        <div class="layui-form-item" id="qtSpecialSearchEngine" style="display: none">
            <label class="layui-form-label">搜索引擎</label>
            <div class="layui-input-block">
                <select name="searchEngine" id="searchEngine" lay-verify="ifQtNotNull">
                    <option value="">搜索引擎</option>
                    <option value="百度">百度</option>
                    <option value="搜狗">搜狗</option>
                    <option value="360">360</option>
                    <option value="百度下拉">百度下拉</option>
                    <option value="谷歌">谷歌</option>
                    <option value="神马">神马</option>
                    <option value="必应中国">必应中国</option>
                    <option value="必应日本">必应日本</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" id="qtSpecialExternalAccount" style="display: none">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-block">
                <input type="text" name="externalAccount" id="externalAccount" placeholder="请填写账号" class="layui-input" autocomplete="off" lay-verify="ifQtNotNull">
            </div>
        </div>
        </@shiro.hasRole>
        <@shiro.hasRole name="SEOSales">
        <div class="layui-form-item ">
            <label class="layui-form-label">客户标签</label>
            <div class="layui-input-block">
                <input name="saleRemark" placeholder="销售人员自己的备注" autocomplete="off" class="layui-input" />
            </div>
        </div>
        </@shiro.hasRole>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="remark" placeholder="备注给运营" autocomplete="off" class="layui-textarea" style="height: 200px"></textarea>
            </div>
        </div>
        <div style="position: fixed;bottom: 0;width: 100%;background:#fff;text-align: right;">
            <div style="margin: 0 10px 6px 10px; padding-top: 8px;border-top: solid 1px #e6e6e6">
                <button class="layui-btn" lay-submit lay-filter="commitCustomer">确定</button>
                <button type="reset" class="layui-btn layui-btn-primary">
                    重置
                </button>
                <div class="layui-btn layui-btn-primary" id="close" style="margin-right: 20px">
                    取消
                </div>
            </div>
        </div>
    </form>
</div>

<!--js逻辑-->
<script src="/static/ok-admin/lib/layui/layui.js"></script>
<script src="/static/ok-admin/js/somePublic.js"></script>
<script src="/static/ok-admin/page/customer/customerAdd.js"></script>

</body>
</html>
