<#import "/commons/global.html" as ctx>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>文章列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/scroll-bar.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.css">
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
            <span class="layui-breadcrumb">
                <a><cite>其他</cite></a>
                <a><cite>测试计划列表</cite></a>
            </span>
            <input hidden value='${Session["entryType"]}' id="entryType">
        <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <!--模糊搜索区域-->

    <div class="layui-card ">
        <div class="layui-card-body ">
            <div class="layui-collapse" lay-filter="test">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">条件筛选<i class="layui-icon layui-colla-icon"></i></h2>
                    <div class="layui-colla-content" id="searchContent">
                        <div class="layui-form layui-form-pane" id="searchForm">

                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <div class="layui-input-inline" >
                                        <select name="loginName" id="loginName"  lay-filter="loginNameFilter" lay-search>
                                            <option value="">请选择所属用户</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <div class="layui-input-inline" >
                                        <input type="text" name="contactPerson" id="contactPerson" placeholder="联系人" autocomplete="off"
                                               class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-inline">
                                    <div class="layui-input-inline" >
                                        <input type="text" name="type" id="type" placeholder="分组" autocomplete="off"
                                               class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-inline">
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" name="qq" id="qq" placeholder="QQ" autocomplete="off"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" name="telphone" id="telphone" placeholder="联系电话" autocomplete="off"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input type="text" name="remark" id="remark" placeholder="备注" autocomplete="off"
                                               class="layui-input">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <div class="layui-input-inline">
                                        <button class="layui-btn" data-type="reload" id="searchBtn">搜索</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--工具栏-->
    <okToolbar>
        <button class="layui-btn layui-btn-normal layui-btn-xs" id="batchEnabled">
            <i class="iconfont icon-shangsheng"></i>批量上架
        </button>
        <button class="layui-btn layui-btn-warm layui-btn-xs" id="batchDisabled">
            <i class="iconfont icon-web-icon-"></i>批量下架
        </button>
        <button class="layui-btn layui-btn-danger layui-btn-xs" id="batchDel">
            <i class="layui-icon layui-icon-delete"></i>批量删除
        </button>
        <button class="layui-btn layui-btn-xs" id="addUser">
            <i class="layui-icon">&#xe61f;</i>添加文章
        </button>
        <span>共有数据：<i id="countNum"></i> 条</span>
    </okToolbar>

    <!--数据表格-->
    <table class="layui-hide layui-table-sm" id="customerTable" lay-filter="customerTableFilter"></table>
</div>
<!--js逻辑-->
<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script src="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.js"></script>
<script>
    // 进度条加载提示
    NProgress.start();
    window.onload = function () {
        NProgress.done();
    }
    // layui相关
    layui.use(['element', 'table', 'form', 'jquery', 'laydate', 'layer'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var layer = layui.layer;

        laydate.render({
            elem: '#startTime',
            type: "datetime"
        });

        laydate.render({
            elem: '#endTime',
            type: "datetime"
        });


        table.render({
            elem: '#customerTable',
            method: 'post',
            url: '${ctx.path}/internal/customer/getCustomers',
            limit: 50,
            page: true,
            size: 'sm',
            id: 'customerTable',
            even: true,//隔行背景
            contentType: 'application/json',
            cols: [[
                {filed: 'uuid', type: 'checkbox', fixed: "left", width: '3%'},
                {field: 'loginName', title: '用户名称', sort: true, width: '8%'},
                {field: 'contactPerson', title: '联系人', width: '10%'},
                {field: 'type', title: '分组', width: '5%'},
                {field: 'keywordCount', title: '关键字信息', width: '15%', templet:'#keywordInfo'},
                {field: 'qq', title: 'QQ', width: '7%'},
                {field: 'saleRemark', title: '销售备注', width: '6%'},
                {field: 'remark', title: '备注', width: '5%'},
                {field: 'status', title: '客户状态', width: '5%', templet:'#customerStatus'},
                {field: 'dailyReportIdentify', title: '是否产生日报表', width: '10%', templet:'#customerDailyReportIdentify'},
                {field: 'createTime', title: '创建时间', width: '10%', templet:'#toDateTime'},
                {title: '操作', templet: '#operationTpl', align: 'center', width: '16%'}
            ]],
            done: function (res, curr, count) {
                // console.log(res)
                $("#countNum").text(count);
            }
        });

        //监听工具条
        table.on('tool(customerTableFilter)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                //layer.msg('ID：'+ data.uuid + ' 的查看操作');
            } else if(obj.event === 'del'){
                layer.confirm('真的删除该客户吗', function(index){
                    // obj.del();
                    // console.log(data.uuid)
                    $.ajax({
                        url: '/internal/customer/delCustomer2/' + data.uuid,
                        type: 'Get',
                        success: function (result) {
                            if (result) {
                                layer.msg('操作成功', {
                                    icon: 6,
                                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                }, function(){
                                    active['reload'].call(this);
                                });
                            } else {
                                layer.msg('操作失败', {icon: 5});
                            }
                        },
                        error: function () {
                            layer.msg('操作失败', {icon: 5});

                        }
                    });

                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.alert('编辑行：<br>'+ JSON.stringify(data))
            }
        });

        var active = {
            reload: function () {
                var loginName = $('#searchForm #loginName').val().trim();
                var contactPerson = $('#searchForm #contactPerson').val().trim();
                var type = $('#searchForm #type').val().trim();
                var qq = $('#searchForm #qq').val().trim();
                var telphone = $('#searchForm #telphone').val().trim();
                var remark = $('#searchForm #remark').val().trim();

                table.reload('customerTable', {
                    where: {
                        loginName : loginName,
                        contactPerson : contactPerson,
                        type : type,
                        qq : qq,
                        telphone : telphone,
                        remark : remark
                    },
                    page:{
                        curr:1 //从第一页开始
                    }
                });
                $("#searchContent").removeClass("layui-show")
            }
        };

        $('#searchForm #searchBtn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        $.ajax({
            url: '${ctx.path}/internal/customer/getActiveUsers',
            dataType: 'json',
            type: 'get',
            success: function (data) {
                $("#loginName").empty();
                $("#loginName").append('<option value="">请选择所属用户</option>');
                $.each(data, function (index, item) {
                    $('#loginName').append('<option value="'+item.loginName+'">'+item.userName+'</option>');// 下拉菜单里添加元素
                });
                form.render("select");
            }
        });

        window.changeCustomerKeywordStatus = function changeCustomerKeywordStatus(customerUuid, status){
            if(status === 0){
                msg = "确定暂停所有关键字吗?"
            }else if (status === 1){
                msg = "确定激活所有关键字吗?"
            }
            layer.confirm(msg, {icon: 3, title:'关键字状态'}, function(index){
                //do something
                var data = {};
                data.customerUuid = customerUuid;
                data.status = status;
                $.ajax({
                    url: '/internal/customerKeyword/changeCustomerKeywordStatus2',
                    data: JSON.stringify(data),
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    timeout: 5000,
                    type: 'POST',
                    success: function (result) {
                        if (result) {
                            layer.msg('操作成功', {
                                icon: 6,
                                time: 2000 //2秒关闭（如果不配置，默认是3秒）
                            }, function(){
                                active['reload'].call(this);
                            });
                        } else {
                            layer.msg('操作失败', {icon: 5});
                        }
                    },
                    error: function () {
                        layer.msg('操作失败', {icon: 5});

                    }
                });
                layer.close(index);
            });
        }

    });

    function viewSitesdRank(contactPerson,type) {
        var index = contactPerson.indexOf("整站");
        if(index > -1) {
            contactPerson = contactPerson.substr(0, index);
        }
        if(type == 'aizhan'){
            window.open("https://baidurank.aizhan.com/baidu/" + contactPerson);
        }else if(type == '5118'){
            window.open("http://5118.com/seo/baidurank/" + contactPerson);
        }
    }

</script>
<!--模板-->
<script type="text/html" id="toDateTime">
    {{layui.util.toDateString(d.createTime)}}
</script>

<script type="text/html" id="keywordInfo">
    {{# if(d.keywordCount > 0){
            if(d.keywordCount == d.activeKeywordCount){ }}
                <span style="color: green;">激活</span>
                <@shiro.hasPermission name="/internal/customerKeyword/updateCustomerKeywordStatus">
                    | <a href="javascript:changeCustomerKeywordStatus('{{d.uuid}}', 0)">暂停关键字</a>
                </@shiro.hasPermission>
        {{# }else if(d.keywordCount > 0 && d.activeKeywordCount > 0){ }}
                <span style="color: yellowgreen;">部分暂停</span>
                <@shiro.hasPermission name="/internal/customerKeyword/updateCustomerKeywordStatus">
                    | <a href="javascript:changeCustomerKeywordStatus('{{d.uuid}}', 0)">暂停关键字</a>
                    | <a href="javascript:changeCustomerKeywordStatus('{{d.uuid}}', 1)">激活关键字</a>
                </@shiro.hasPermission>
        {{# }else{  }}
                <span style="color: red;">暂停</span>
                <@shiro.hasPermission name="/internal/customerKeyword/updateCustomerKeywordStatus">
                    | <a href="javascript:changeCustomerKeywordStatus('{{d.uuid}}', 1)">激活关键字</a>
                </@shiro.hasPermission>
        {{# }
        }else{ }}
        暂无关键字
        {{#} }}
</script>

<script type="text/html" id="customerStatus">
    {{#  if(d.status==1){  }}
            激活
    {{#  }else{  }}
            暂停
    {{#  }  }}
</script>

<script type="text/html" id="customerDailyReportIdentify">
    <select  id= "CDRI" style="width: 100px;" onchange="changeCustomerDailyReportIdentify(this, '{{d.status}}');">
        <option value="true" >是</option>
        <option value="false" >否</option>
    </select>
    <!--{{#  if(d.dailyReportIdentify){  }}
    是
    {{#  }else{  }}
    否
    {{#  }  }}-->
</script>

<script type="text/html" id="operationTpl">
    <@shiro.hasPermission name="/internal/customer/saveCustomer">
        <button type="button" class="layui-btn layui-btn-xs" lay-event="detail">修改</button>
    </@shiro.hasPermission>
    <@shiro.hasPermission name="/internal/customer/delCustomer">
        <button type="button" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</button>
    </@shiro.hasPermission>
    {{#
    var entryType = document.getElementById("entryType").value;
    if( 'qz'=== entryType){ }}
        <button type="button" class="layui-btn layui-btn-normal layui-btn-xs" onclick="viewSitesdRank('{{d.contactPerson}}','aizhan')">爱站排名</button>
        <button type="button" class="layui-btn layui-btn-normal layui-btn-xs" onclick="viewSitesdRank('{{d.contactPerson}}','5118')">5118排名</button>
    {{# }else if('bc' === entryType){ }}
        <@shiro.hasPermission name="/internal/customerChargeType/saveCustomerChargeType">
            <button type="button" class="layui-btn layui-btn-normal layui-btn-xs">客户规则</button>
        </@shiro.hasPermission>
        <@shiro.hasPermission name="/internal/customerKeyword/saveCustomerKeywords">
            <button type="button" class="layui-btn layui-btn-normal layui-btn-xs">快速加词</button>
        </@shiro.hasPermission>
        <@shiro.hasPermission name="/internal/customer/uploadDailyReportTemplate">
            <button type="button" class="layui-btn layui-btn-normal layui-btn-xs">上传日报表模板</button>
        </@shiro.hasPermission>
    {{# } }}
    <@shiro.hasPermission name="/internal/negativeStandardSetting/searchNegativeStandardSetting">
    <button type="button" class="layui-btn layui-btn-normal layui-btn-xs">负面达标设置</button>
    </@shiro.hasPermission>
</script>


</body>
</html>
