<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改终端分组信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
</head>
<body>
<div class="ok-body">

    <form class="layui-form layui-form-pane ok-form" lay-filter="UpdateAllowSwtichGroup">
        <div class="layui-form-item" pane>
            <label class="layui-form-label" id="hz">是否允许换组</label>
            <div class="layui-input-block">
                <input type="radio" name="allowSwitchGroup" lay-filter="allowSwitchGroup" value="1" title="是" checked>
                <input type="radio" name="allowSwitchGroup" lay-filter="allowSwitchGroup" value="0" title="否">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" id="lzfz">流转分组</label>
            <div class="layui-input-block">
                <input type="text" name="switchGroupName" lay-verify="required" onclick="clickMe('lzfz',true)" placeholder="请输入流转分组" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" id="jjfz">机器分组</label>
            <div class="layui-input-block">
                <input type="text" name="machineGroup" lay-verify="required" onclick="clickMe('jjfz',false)" placeholder="请输入机器分组" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div style="position: fixed;bottom: 0;width: 100%;background:#fff;text-align: right;">
            <div style="margin: 0 10px 6px 10px; padding-top: 8px;border-top: solid 1px #e6e6e6">
                <button class="layui-btn" lay-submit lay-filter="commit">确定</button>
                <button class="layui-btn layui-btn-primary" id="close" style="margin-right: 20px">取消</button>
            </div>
        </div>
    </form>
</div>

<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script>
    let uuid_ = null;
    let layui_ = null;
    let clientIDs = null;
    let count_l = 0;
    let count_j = 0;

    function initData(data) {
        clientIDs = data.clientIDs
    }

    function clickMe(id, flag) {
        let count = flag ? count_l++ : count_j++;
        if (count % 2 === 0) {
            document.getElementById(id).style.color = 'red';
        } else {
            document.getElementById(id).style.color = '#000'
        }
    }

    layui.use(["form", "common", "jquery", "layer"], function () {
        let form = layui.form;
        let common = layui.common;
        let $ = layui.jquery;

        document.onkeydown=function(e){
            let isie = !!(document.all);
            let key;
            let ev;
            if(isie){//IE浏览器
                key = window.event.keyCode;
                ev = window.event;
            }else{//火狐浏览器
                key = e.which;
                ev = e;
            }
            if(key===9){//IE浏览器
                // document.getElementById(e.target.id).focus()
                common.showFailMsg("请不要使用tab键切换输入框！");
                e.target.focus();
                if(isie){
                    ev.keyCode=0;
                    ev.returnValue=false;
                }else{//火狐浏览器
                    ev.which=0;
                    ev.preventDefault();
                }
            }
        };

        //监听指定radio
        form.on('radio(allowSwitchGroup)', function (data) {
            document.getElementById('hz').style.color = 'red';
        });

        form.on("submit(commit)", function (data) {
            let postData = {};
            postData.clientIDs = clientIDs;
            postData.allowSwitchGroup = data.field.allowSwitchGroup;
            if (document.getElementById('lzfz').style.color === 'red') {
                postData.switchGroupName = data.field.switchGroupName;
            }
            if (document.getElementById('jjfz').style.color === 'red') {
                postData.targetMachineGroup = data.field.machineGroup;
            }
            $.ajax({
                url: '/internal/machineManage/batchUpdateMachine',
                type: 'post',
                data: JSON.stringify(postData),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                timeout: 5000,
                success: function (res) {
                    if (res.code === 200) {
                        common.showSuccessMsg("修改成功", function () {
                            parent.window.sign = true;
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    } else {
                        common.showFailMsg(res.msg);
                    }
                }
            });
            return false;
        });

        $('#close').click(function () {
            parent.layer.close(parent.layer.getFrameIndex(window.name));
            return false;
        });

    });
</script>

</body>
</html>