<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改失败原因</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
</head>
<body>
<div class="ok-body">

    <form class="layui-form layui-form-pane ok-form" lay-filter="UpdateFailedReason">
        <div class="layui-form-item">
            <label class="layui-form-label">失败原因</label>
            <div class="layui-input-block">
                <input type="text" name="upgradeFailedReason" placeholder="请输入失败原因" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div style="position: fixed;bottom: 0;width: 100%;background:#fff;text-align: right;">
            <div style="margin: 0 10px 6px 10px; padding-top: 8px;border-top: solid 1px #e6e6e6">
                <button class="layui-btn" lay-submit lay-filter="commit">确定</button>
                <button class="layui-btn layui-btn-primary" id="close" style="margin-right: 20px">取消</button>
            </div>
        </div>
    </form>
</div>

<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script>
    var uuid_ = null;
    var layui_ = null;
    var clientIDs = null;

    function initData(data) {
        clientIDs = data.clientIDs
    }

    layui.use(["form", "okLayer", "jquery", "layer"], function () {
        var form = layui.form;
        var okLayer = layui.okLayer;
        var $ = layui.jquery;

        form.on("submit(commit)", function (data) {
            var postData = {};
            postData.clientIDs = clientIDs;
            postData.upgradeFailedReason = data.field.upgradeFailedReason;
            $.ajax({
                url: '/internal/machineManage/batchUpdateUpgradeFailedReason',
                type: 'post',
                data: JSON.stringify(postData),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                timeout: 5000,
                success: function (res) {
                    if (res.code === 200) {
                        okLayer.msg.greenTick("修改成功", function () {
                            parent.window.sign = true;
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    } else {
                        layui.layer.msg(res.msg);
                    }
                }
            });
            return false;
        });

        $('#close').click(function () {
            parent.layer.close(parent.layer.getFrameIndex(window.name));
            return false;
        });

    });
</script>

</body>
</html>