<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>机器管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/scroll-bar.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.css">
</head>
<style>
    .layui-table-cell{
        height: 40px !important;
        padding: 0 6px !important;
    }

    .layui-btn-xs{
        height: 18px;
        line-height: 18px;
    }

    .my-height{
        line-height: 40px !important;
    }

    .my-height-ts{
        line-height: 18px !important;
    }
</style>
<body>

<div class="ok-body">
    <div class="ok-body-breadcrumb">
            <span class="layui-breadcrumb">
                <a><cite>机器管理</cite></a>
                <a><cite>机器列表</cite></a>
            </span>
        <input hidden value='${Session["entryType"]}' id="entryType">
        <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <table class="layui-hide" id="machineManageTable" lay-filter="tableFilter"></table>
</div>
<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script src="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.js"></script>
<script>
    var sign = false;
    NProgress.start();
    window.onload = function () {
        NProgress.done();
    };
    layui.use(['element', 'table', 'form', 'jquery', 'laydate', 'okLayer', 'layer'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var okLayer = layui.okLayer;
        var layer = layui.layer;
        var machineManageTable = table.render({
            elem: '#machineManageTable',
            method: 'post',
            url: '${ctx.path}/internal/machineManage/getMachineInfos',
            limit: 50,
            page: true,
            autoSort: false,
            size: 'sm',
            id: 'machineManageTable',
            even: true,//隔行背景
            // toolbar: true,
            toolbar: "#toolbarTpl",
            // defaultToolbar: ['filter', 'print', 'exports'], 对应列筛选 打印 导出
            defaultToolbar: ['filter'],
            contentType: 'application/json',
            cols: [[
                {filed: 'uuid', align: 'center', type: 'checkbox', width: '42'},
                {field: 'clientIDs', align: 'center', title: '客户端ID', width: '72', templet: '#clientIDs'},
                {field: 'machineGroups', align: 'center', title: '机器分组', width: '72', templet: '#machineGroups'},
                {field: 'renewalDate', align: 'center', title: '续费日期', width: '72', templet: '#toRenewalDate'},
                {field: 'versionInfo', align: 'center', title: '现版本<br>目标版本', width: '72',templet: '#showVersionInfo'},
                {field: 'restartCountAndFailCount', align: 'center', title: '重启数/重启状态<br>失败次数', width: '120', templet: '#restartCountAndFailCount'},
                {field: 'cityAndStatus', align: 'center', title: '所在城市<br>终端状态', width: '128', templet: '#cityAndStatus'},
                {field: 'cpuCounts', align: 'center', title: 'CPU核数<br>内存', width: '70', templet: '#cpuCounts'},
                {field: 'freeSpaces', align: 'center', title: '剩余空间', width: '72', templet: '#freeSpaces'},
                {field: 'lastVisitTimeAndRestartTime', align: 'center', title: '最新工作时间<br>重启时间', width: '100', templet: '#lastVisitTimeAndRestartTime'},
                {field: 'restartOrderingTimeAndLastSendNotificationTime', align: 'center', title: '重启排序时间<br>发送通知时间', width: '100', templet: '#restartOrderingTimeAndLastSendNotificationTime'},
                {field: 'optimizationSucceedCountAndOptimizationTotalCount', align: 'center', title: '成功次数<br>操作次数', width: '72', templet: '#optimizationSucceedCountAndOptimizationTotalCount'},
                {field: 'broadbandAccountAndBroadbandPassword', align: 'center', title: '宽带账号<br>宽带密码', width: '72', templet: '#broadbandAccountAndBroadbandPassword'},
                {field: 'runningProgramTypes', align: 'center', title: '运行程序类型', width: '100', templet: '#runningProgramTypes'},
                {field: 'startUpStatusAndDownloadProgramType', align: 'center', title: '开机状态<br>下载程序类型', width: '92', templet: '#startUpStatusAndDownloadProgramType'},
                {field: 'valids', align: 'center', title: '状态', width: '72', templet: '#valid'},
                {field: 'upgradeFailedReasons', align: 'center', title: '失败原因', width: '72', templet: '#upgradeFailedReasons'},
                {field: 'vpsBackendSystemComputerIDs', align: 'center', title: '服务器ID', width: '72', templet: '#vpsBackendSystemComputerIDs'},
                {title: '操作', templet: '#operationTpl', align: 'center',fixed: "right",width: '188'}
            ]],
            height: 'full-53',
            done: function (res, curr, count) {
                let cell = document.getElementsByClassName('layui-table-cell');
                let l = cell.length;
                for (let i = 0; i < l; i++) {
                    if (cell[i].innerHTML.indexOf('<br>') === -1) {
                        cell[i].classList.add('my-height');
                    }else if (cell[i].innerHTML.indexOf('VNC') !== -1){
                        cell[i].classList.add('my-height-ts');
                    }
                }
            }
        });

        var active = {
            reload: function () {
                var data = {}
                table.reload('machineManageTable', {
                    where: data,
                    page: {
                        curr: 1
                    }
                });
            },
        };

        table.on('toolbar(tableFilter)',function (obj) {
            var data = obj.data;
            var event = obj.event;
            switch (event) {
                case 'showSearch':
                    showSearch();
                    break;
                case 'batchDeleteMachines':
                    batchDeleteMachines();
                    break;
                case 'showReopenClientDialog':
                    showReopenClientDialog(data);
                    break;
                case 'finishStartUp':
                    finishStartUp();
                    break;
                case 'showUploadVPSDialog(\'common\')':
                    showUploadVPSDialog('common');
                    break;
                case 'showUploadVPSDialog(\'startUp\')':
                    showUploadVPSDialog('startUp');
                    break;
                case 'batchUpdateMachineGroup(\'selected\')':
                    batchUpdateMachineGroup('selected');
                    break;
                case 'batchUpdateMachineGroup(\'total\')':
                    batchUpdateMachineGroup('total');
                    break;
            }
        });

        function batchUpdateMachineGroup(changeType){
            var postData = {};
            if(changeType == 'selected'){
                var checkStatus = table.checkStatus('machineManageTable');
                var data = checkStatus.data;
                var uuidArr = [];
                $.each(data, function (index, item) {
                    uuidArr.push(item.clientID);
                });
                if (uuidArr.length <= 0) {
                    layer.msg('请选择要重开的机器', {icon: 5});
                    return
                }
                postData.clientIDs = uuidArr;
            }else{

            }
            okLayer.open("首页 / 终端列表 / 修改机器分组", "/internal/machineManage/toUpdateMachineGroup", "30%", "30%", function (layero) {
                window[layero.find("iframe")[0]["name"]].initData(changeType, postData);
            },function(){
                if(sign){
                    active['reload'].call(this);
                    sign = false;
                }
            })
        }

        function showUploadVPSDialog(machineInfoType) {
            okLayer.open("首页 / 终端列表 / 上传VPS", "/internal/machineManage/toUploadVPSFile", "30%", "22%", function (layero) {
                window[layero.find("iframe")[0]["name"]].initData(machineInfoType);
            },function(){
                if(sign){
                    active['reload'].call(this);
                    sign = false;
                }
            })
        }

        function finishStartUp() {
            var checkStatus = table.checkStatus('machineManageTable');
            var data = checkStatus.data;
            var uuidArr = [];
            $.each(data, function (index, item) {
                uuidArr.push(item.clientID);
            });
            if (uuidArr.length <= 0) {
                layer.msg('请选择要重开的机器', {icon: 5});
                return
            }
            var postData = {};
            postData.clientIDs = uuidArr;

            layer.confirm('确认将这些终端的开机状态改为Completed？', {
                icon: 3,
                title: '完成开机',
                btn: ['确认', '取消'],
                yes: function (index) {
                    $.ajax({
                        url: '/internal/machineManage/updateStartUpStatusForCompleted',
                        type: 'post',
                        data: JSON.stringify(postData),
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        timeout: 5000,
                        success: function (res) {
                            if (res.code === 200) {
                                layer.close(index);
                                okLayer.msg.greenTick("保存成功", function () {
                                    active['reload'].call(this);
                                });
                            } else {
                                layui.layer.msg(res.msg);
                            }
                        }
                    });
                },
                btn2: function (index) {
                    layer.close(index);
                }
            });
            return false;
        }

        function showSearch() {

        }

        function showReopenClientDialog(data){
            var checkStatus = table.checkStatus('machineManageTable');
            var data = checkStatus.data;
            var uuidArr = [];
            $.each(data, function (index, item) {
                uuidArr.push(item.clientID);
            });
            if (uuidArr.length <= 0) {
                layer.msg('请选择要重开的机器', {icon: 5});
                return
            }
            var postData = {};
            postData.clientIDs = uuidArr;

            okLayer.open("首页 / 终端列表 / 重开机器", "/internal/machineManage/toReopenClient", "30%", "25%", function (layero) {
                window[layero.find("iframe")[0]["name"]].getClientIDs(postData);
            },function(){
                if(sign){
                    active['reload'].call(this);
                    sign = false;
                }
            })
        }

        table.on('tool(tableFilter)',function (obj) {
            var data = obj.data;
            var event = obj.event;
            switch (event) {
                case 'deleteMachine':
                    deleteMachine(data.clientID);
                    break;
                case 'toUpdateMachineInfo':
                    toUpdateMachineInfo(data.clientID);
                    break;
                case 'changeStatus(stop)':
                    changeStatus('stop', data.clientID);
                    break;
                case 'changeStatus(start)':
                    changeStatus('start', data.clientID);
                    break;
                case 'changeTerminalType':
                    changeTerminalType(data.clientID);
                    break;
            }
        });

        function changeTerminalType(clientID) {
            var postData = {};
            postData.clientID = clientID;
            layer.confirm('确定要变更终端类型吗?' , {
                icon: 3,
                title: '改变终端类型',
                btn: ['确认', '取消']
                , yes: function () {
                    $.ajax({
                        url: '/internal/machineManage/changeTerminalType',
                        type: 'POST',
                        headers: {
                            "Accept": 'application/json',
                            "Content-Type": 'application/json'
                        },
                        data: JSON.stringify(postData),
                        success: function (res) {
                            if (res.code === 200) {
                                active['reload'].call(this);
                                layer.msg("操作成功")
                            } else {
                                layer.msg(res.msg)
                            }
                        },
                        error: function () {
                            layer.msg('未知错误，请稍后重试！！')
                        }
                    });
                }, btn2: function (index) {
                    layer.close(index);
                }
            });
        }

        function changeStatus(flag, clientID) {
            var title = ''
            if(flag == 'stop'){
                title = '确认要暂停监控这台终端吗？'
            }else{
                title = '确认要开始监控这台终端吗？'
            }
            layer.confirm(title , {
                icon: 3,
                title: '监控终端状态',
                btn: ['确认', '取消']
                , yes: function () {
                    $.ajax({
                        url: '/internal/machineManage/changeStatus/' + clientID,
                        type: 'POST',
                        headers: {
                            "Accept": 'application/json',
                            "Content-Type": 'application/json'
                        },
                        success: function (res) {
                            if (res.code === 200) {
                                active['reload'].call(this);
                                layer.msg("操作成功")
                            } else {
                                layer.msg(res.msg)
                            }
                        },
                        error: function () {
                            layer.msg('未知错误，请稍后重试！！')
                        }
                    });
                }, btn2: function (index) {
                    layer.close(index);
                }
            });
        }

        function toUpdateMachineInfo(clientID) {
            okLayer.open("首页 / 终端列表 / 修改终端信息", "/internal/machineManage/toUpdateMachineInfo", "35%", "60%", function (layero) {
                window[layero.find("iframe")[0]["name"]].initMachineInfo(clientID);
            },function(){
                if(sign){
                    active['reload'].call(this);
                    sign = false;
                }
            })
        }

        function deleteMachine(clientID) {
            layer.confirm('确认删除该机器？', {
                icon: 3,
                title: '删除终端',
                btn: ['确认', '取消']
                , yes: function (index_) {
                    $.ajax({
                        url: '/internal/machineManage/deleteMachineInfo/' + clientID,
                        type: 'GET',
                        headers: {
                            "Accept": 'application/json',
                            "Content-Type": 'application/json'
                        },
                        success: function (res) {
                            if (res.code === 200) {
                                active['reload'].call(this);
                                layer.msg("删除成功")
                            } else {
                                layer.msg(res.msg)
                            }
                        },
                        error: function () {
                            layer.msg('未知错误，请稍后重试！！')
                        }
                    });
                }, btn2: function (index) {
                    layer.close(index);
                }
            });
        }

        function batchDeleteMachines() {
            var checkStatus = table.checkStatus('machineManageTable');
            var data = checkStatus.data;
            var uuidArr = [];
            $.each(data, function (index, item) {
                uuidArr.push(item.clientID);
            });
            if (uuidArr.length <= 0) {
                layer.msg('请选择要删除的机器', {icon: 5});
                return
            }
            layer.confirm("确定要删除所选机器吗", {icon: 3, title: '删除所选'}, function (index) {
                var postData = {};
                postData.clientIDs = uuidArr;
                $.ajax({
                    url: '/internal/machineManage/deleteMachineInfos',
                    data: JSON.stringify(postData),
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    timeout: 5000,
                    type: 'POST',
                    success: function (result) {
                        if (result.code === 200) {
                            layer.msg('操作成功', {
                                icon: 6,
                                time: 2000
                            }, function () {
                                active['reload'].call(this);
                            });
                        } else {
                            layer.msg('操作失败', {icon: 5});
                        }
                    },
                    error: function () {
                        layer.msg('操作失败', {icon: 5});
                    }
                });
                layer.close(index);
            });
        }

    });
</script>

<!-- 头工具栏模板 -->
<script type="text/html" id="toolbarTpl">
    <div class="layui-btn-container">
    <@shiro.hasPermission name="/internal/machineInfo/searchMachineInfos">
        <button class="layui-btn layui-btn-sm" id="showSearch" lay-event="showSearch">条件查询</button>
    </@shiro.hasPermission>
    <@shiro.hasPermission name="/internal/machineInfo/deleteMachineInfos">
    <button class="layui-btn layui-btn-danger layui-btn-sm" id="batchDel" lay-event="batchDeleteMachines">
        <i class="layui-icon layui-icon-delete"></i>删除所选
    </button>
    </@shiro.hasPermission>
    <@shiro.hasPermission name="/internal/machineInfo/saveMachineInfo">
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn layui-btn-normal layui-btn-sm" id="showReopenClientDialog" lay-event="showReopenClientDialog">
            <i class="layui-icon layui-icon-refresh"></i>重开机器
        </button>
        <button class="layui-btn layui-btn layui-btn-normal layui-btn-sm" id="finishStartUp" lay-event="finishStartUp">
            <i class="layui-icon layui-icon-chart-screen"></i>完成开机
        </button>
    </div>
    </@shiro.hasPermission>
    <@shiro.hasPermission name="/internal/machineInfo/uploadVPSFile">
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn layui-btn layui-btn-warm layui-btn-sm" id="common" lay-event="showUploadVPSDialog('common')">
            <i class="layui-icon layui-icon-upload-drag"></i>导入普通终端
        </button>
        <button class="layui-btn layui-btn layui-btn layui-btn-warm layui-btn-sm" id="startUp" lay-event="showUploadVPSDialog('startUp')">
            <i class="layui-icon layui-icon-upload-drag"></i>导入开机终端
        </button>
    </div>
    </@shiro.hasPermission>
    <@shiro.hasPermission name="/internal/machineInfo/updateMachineGroup">
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn layui-btn layui-btn-sm" lay-event="batchUpdateMachineGroup('selected')">
            <i class="layui-icon layui-icon-edit"></i>修改所选终端机器分组
        </button>
        <button class="layui-btn layui-btn layui-btn layui-btn-sm" lay-event="batchUpdateMachineGroup('total')">
            <i class="layui-icon layui-icon-edit"></i>修改当前终端机器分组
        </button>
    </div>
    </@shiro.hasPermission>
    </div>
</script>

<script type="text/html" id="clientIDs">
    {{# var isValidClient = true }}
    {{# if(d.valid){ }}
    {{#     if(d.red){ }}
                <font color="#FF0000">{{d.clientID}}</font>
    {{#          isValidClient = false }}
    {{#     }else if(d.orange){ }}
                <font color="#e86e33">{{d.clientID}}</font>
    {{#          isValidClient = false }}
    {{#     }else if(d.yellow){ }}
                <font color="#ef00ff">{{d.clientID}}</font>
    {{#          isValidClient = false }}
    {{#     }else{ }}
                <font color="green">{{d.clientID}}</font>
    {{#     } }}
    {{# }else{ }}
        <font color="green">{{d.clientID}}</font>
    {{# } }}
    {{# if(!isValidClient){ }}
        <span name="invalidClient" id="span_{{d.clientID}}"></span>
    {{# } }}
</script>

<script type="text/html" id="machineGroups">
    {{# if(d.valid){ }}
    {{#     if(d.red){ }}
                <font color="#FF0000">{{d.machineGroup}}</font>
    {{#     }else if(d.orange){ }}
                <font color="#e86e33">{{d.machineGroup}}</font>
    {{#     }else if(d.yellow){ }}
                <font color="#ef00ff">{{d.machineGroup}}</font>
    {{#     }else{ }}
                <font color="green">{{d.machineGroup}}</font>
    {{#     } }}
    {{# }else{ }}
        <font color="green">{{d.machineGroup}}</font>
    {{# } }}
</script>

<script type="text/html" id="toRenewalDate">
    {{# if(d.valid){ }}
    {{#     if(d.red){ }}
    <font color="#FF0000">{{layui.util.toDateString(d.renewalDate,'MM-dd')}}</font>
    {{#     }else if(d.orange){ }}
    <font color="#e86e33">{{layui.util.toDateString(d.renewalDate,'MM-dd')}}</font>
    {{#     }else if(d.yellow){ }}
    <font color="#ef00ff">{{layui.util.toDateString(d.renewalDate,'MM-dd')}}</font>
    {{#     }else{ }}
    <font color="green">{{layui.util.toDateString(d.renewalDate,'MM-dd')}}</font>
    {{#     } }}
    {{# }else{ }}
    <font color="green">{{layui.util.toDateString(d.renewalDate,'MM-dd')}}</font>
    {{# } }}
</script>

<script type="text/html" id="showVersionInfo">
    {{# if(d.valid){ }}
    {{#     if(d.red){ }}
    <font color="#FF0000">{{d.version == null ? "" : d.version}}<br>{{d.targetVersion == null ? "" : d.targetVersion}}</font>
    {{#     }else if(d.orange){ }}
    <font color="#e86e33">{{d.version == null ? "" : d.version}}<br>{{d.targetVersion == null ? "" : d.targetVersion}}</font>
    {{#     }else if(d.yellow){ }}
    <font color="#ef00ff">{{d.version == null ? "" : d.version}}<br>{{d.targetVersion == null ? "" : d.targetVersion}}</font>
    {{#     }else{ }}
    <font color="green">{{d.version == null ? "" : d.version}}<br>{{d.targetVersion == null ? "" : d.targetVersion}}</font>
    {{#     } }}
    {{# }else{ }}
    <font color="green">{{d.version == null ? "" : d.version}}<br>{{d.targetVersion == null ? "" : d.targetVersion}}</font>
    {{# } }}
</script>

<script type="text/html" id="cityAndStatus">
    {{# if(d.valid){ }}
    {{#     if(d.red){ }}
    <font color="#FF0000">{{d.city == null ? "" : d.city}}<br>{{d.status == null ? "" : d.status}}<br>{{d.targetVersion == null ? "" : d.targetVersion}}</font>
    {{#     }else if(d.orange){ }}
    <font color="#e86e33">{{d.city == null ? "" : d.city}}<br>{{d.status == null ? "" : d.status}}<br>{{d.targetVersion == null ? "" : d.targetVersion}}</font>
    {{#     }else if(d.yellow){ }}
    <font color="#ef00ff">{{d.city == null ? "" : d.city}}<br>{{d.status == null ? "" : d.status}}<br>{{d.targetVersion == null ? "" : d.targetVersion}}</font>
    {{#     }else{ }}
    <font color="green">{{d.city == null ? "" : d.city}}<br>{{d.status == null ? "" : d.status}}<br>{{d.targetVersion == null ? "" : d.targetVersion}}</font>
    {{#     } }}
    {{# }else{ }}
    <font color="green">{{d.city == null ? "" : d.city}}<br>{{d.status == null ? "" : d.status}}<br>{{d.targetVersion == null ? "" : d.targetVersion}}</font>
    {{# } }}
</script>

<script type="text/html" id="cpuCounts">
    {{# if(d.valid){ }}
    {{#     if(d.red){ }}
    <font color="#FF0000">{{d.cpuCount}}<br>{{d.memory}}</font>
    {{#     }else if(d.orange){ }}
    <font color="#e86e33">{{d.cpuCount}}<br>{{d.memory}}</font>
    {{#     }else if(d.yellow){ }}
    <font color="#ef00ff">{{d.cpuCount}}<br>{{d.memory}}</font>
    {{#     }else{ }}
    <font color="green">{{d.cpuCount}}<br>{{d.memory}}</font>
    {{#     } }}
    {{# }else{ }}
    <font color="green">{{d.cpuCount}}<br>{{d.memory}}</font>
    {{# } }}
</script>

<script type="text/html" id="freeSpaces">
    {{# if(d.valid){ }}
    {{#     if(d.red){ }}
    <font color="#FF0000">{{d.freeSpace}}</font>
    {{#     }else if(d.orange){ }}
    <font color="#e86e33">{{d.freeSpace}}</font>
    {{#     }else if(d.yellow){ }}
    <font color="#ef00ff">{{d.freeSpace}}</font>
    {{#     }else{ }}
    <font color="green">{{d.freeSpace}}</font>
    {{#     } }}
    {{# }else{ }}
    <font color="green">{{d.freeSpace}}</font>
    {{# } }}
</script>

<script type="text/html" id="restartCountAndFailCount">
    {{# if(d.valid){ }}
    {{#     if(d.red){ }}
    <font color="#FF0000">{{d.restartCount == null ? "" : d.restartCount}} / {{d.restartStatus == null ? "" : d.restartStatus}}<br>
    {{d.continuousFailCount == null ? "" : d.continuousFailCount}}<br>{{d.targetVersion == null ? "" : d.targetVersion}}</font>
    {{#     }else if(d.orange){ }}
    <font color="#e86e33">{{d.restartCount == null ? "" : d.restartCount}} / {{d.restartStatus == null ? "" : d.restartStatus}}<br>
    {{d.continuousFailCount == null ? "" : d.continuousFailCount}}<br>{{d.targetVersion == null ? "" : d.targetVersion}}</font>
    {{#     }else if(d.yellow){ }}
    <font color="#ef00ff">{{d.restartCount == null ? "" : d.restartCount}} / {{d.restartStatus == null ? "" : d.restartStatus}}<br>
    {{d.continuousFailCount == null ? "" : d.continuousFailCount}}<br>{{d.targetVersion == null ? "" : d.targetVersion}}</font>
    {{#     }else{ }}
    <font color="green">{{d.restartCount == null ? "" : d.restartCount}} / {{d.restartStatus == null ? "" : d.restartStatus}}<br>
    {{d.continuousFailCount == null ? "" : d.continuousFailCount}}<br>{{d.targetVersion == null ? "" : d.targetVersion}}</font>
    {{#     } }}
    {{# }else{ }}
    <font color="green">{{d.restartCount == null ? "" : d.restartCount}} / {{d.restartStatus == null ? "" : d.restartStatus}}<br>
    {{d.continuousFailCount == null ? "" : d.continuousFailCount}}<br>{{d.targetVersion == null ? "" : d.targetVersion}}</font>
    {{# } }}
</script>

<script type="text/html" id="lastVisitTimeAndRestartTime">
    {{# if(d.valid){ }}
    {{#     if(d.red){ }}
    <font color="#FF0000">{{d.lastVisitTime == null ? "" : layui.util.toDateString(d.lastVisitTime,'MM-dd HH:mm')}}
    <br>
    {{d.restartTime == null ? "" : layui.util.toDateString(d.restartTime,'MM-dd HH:mm')}}</font>
    {{#     }else if(d.orange){ }}
    <font color="#e86e33">{{d.lastVisitTime == null ? "" : layui.util.toDateString(d.lastVisitTime,'MM-dd HH:mm')}}
    <br>
    {{d.restartTime == null ? "" : layui.util.toDateString(d.restartTime,'MM-dd HH:mm')}}</font>
    {{#     }else if(d.yellow){ }}
    <font color="#ef00ff">{{d.lastVisitTime == null ? "" : layui.util.toDateString(d.lastVisitTime,'MM-dd HH:mm')}}
    <br>
    {{d.restartTime == null ? "" : layui.util.toDateString(d.restartTime,'MM-dd HH:mm')}}</font>
    {{#     }else{ }}
    <font color="green">{{d.lastVisitTime == null ? "" : layui.util.toDateString(d.lastVisitTime,'MM-dd HH:mm')}}
    <br>
    {{d.restartTime == null ? "" : layui.util.toDateString(d.restartTime,'MM-dd HH:mm')}}</font>
    {{#     } }}
    {{# }else{ }}
    <font color="green">{{d.lastVisitTime == null ? "" : layui.util.toDateString(d.lastVisitTime,'MM-dd HH:mm')}}
    <br>
    {{d.restartTime == null ? "" : layui.util.toDateString(d.restartTime,'MM-dd HH:mm')}}</font>
    {{# } }}
</script>

<script type="text/html" id="restartOrderingTimeAndLastSendNotificationTime">
    {{# if(d.valid){ }}
    {{#     if(d.red){ }}
    <font color="#FF0000">{{d.restartOrderingTime == null ? "" : layui.util.toDateString(d.restartOrderingTime,'MM-dd HH:mm')}}
    <br>
    {{d.lastSendNotificationTime == null ? "" : layui.util.toDateString(d.lastSendNotificationTime,'MM-dd HH:mm')}}</font>
    {{#     }else if(d.orange){ }}
    <font color="#e86e33">{{d.restartOrderingTime == null ? "" : layui.util.toDateString(d.restartOrderingTime,'MM-dd HH:mm')}}
    <br>
    {{d.lastSendNotificationTime == null ? "" : layui.util.toDateString(d.lastSendNotificationTime,'MM-dd HH:mm')}}</font>
    {{#     }else if(d.yellow){ }}
    <font color="#ef00ff">{{d.restartOrderingTime == null ? "" : layui.util.toDateString(d.restartOrderingTime,'MM-dd HH:mm')}}
    <br>
    {{d.lastSendNotificationTime == null ? "" : layui.util.toDateString(d.lastSendNotificationTime,'MM-dd HH:mm')}}</font>
    {{#     }else{ }}
    <font color="green">{{d.restartOrderingTime == null ? "" : layui.util.toDateString(d.restartOrderingTime,'MM-dd HH:mm')}}
    <br>
    {{d.lastSendNotificationTime == null ? "" : layui.util.toDateString(d.lastSendNotificationTime,'MM-dd HH:mm')}}</font>
    {{#     } }}
    {{# }else{ }}
    <font color="green">{{d.restartOrderingTime == null ? "" : layui.util.toDateString(d.restartOrderingTime,'MM-dd HH:mm')}}
    <br>
    {{d.lastSendNotificationTime == null ? "" : layui.util.toDateString(d.lastSendNotificationTime,'MM-dd HH:mm')}}</font>
    {{# } }}
</script>

<script type="text/html" id="optimizationSucceedCountAndOptimizationTotalCount">
    {{# if(d.valid){ }}
    {{#     if(d.red){ }}
    <font color="#FF0000">{{d.optimizationSucceedCount == null ? "" : d.optimizationSucceedCount}}<br>{{d.optimizationTotalCount == null ? "" : d.optimizationTotalCount}}</font>
    {{#     }else if(d.orange){ }}
    <font color="#e86e33">{{d.optimizationSucceedCount == null ? "" : d.optimizationSucceedCount}}<br>{{d.optimizationTotalCount == null ? "" : d.optimizationTotalCount}}</font>
    {{#     }else if(d.yellow){ }}
    <font color="#ef00ff">{{d.optimizationSucceedCount == null ? "" : d.optimizationSucceedCount}}<br>{{d.optimizationTotalCount == null ? "" : d.optimizationTotalCount}}</font>
    {{#     }else{ }}
    <font color="green">{{d.optimizationSucceedCount == null ? "" : d.optimizationSucceedCount}}<br>{{d.optimizationTotalCount == null ? "" : d.optimizationTotalCount}}</font>
    {{#     } }}
    {{# }else{ }}
    <font color="green">{{d.optimizationSucceedCount == null ? "" : d.optimizationSucceedCount}}<br>{{d.optimizationTotalCount == null ? "" : d.optimizationTotalCount}}</font>
    {{# } }}
</script>

<script type="text/html" id="broadbandAccountAndBroadbandPassword">
    {{# if(d.valid){ }}
    {{#     if(d.red){ }}
    <font color="#FF0000">{{d.broadbandAccount == null ? "" : d.broadbandAccount}}<br>{{d.broadbandPassword == null ? "" : d.broadbandPassword}}</font>
    {{#     }else if(d.orange){ }}
    <font color="#e86e33">{{d.broadbandAccount == null ? "" : d.broadbandAccount}}<br>{{d.broadbandPassword == null ? "" : d.broadbandPassword}}</font>
    {{#     }else if(d.yellow){ }}
    <font color="#ef00ff">{{d.broadbandAccount == null ? "" : d.broadbandAccount}}<br>{{d.broadbandPassword == null ? "" : d.broadbandPassword}}</font>
    {{#     }else{ }}
    <font color="green">{{d.broadbandAccount == null ? "" : d.broadbandAccount}}<br>{{d.broadbandPassword == null ? "" : d.broadbandPassword}}</font>
    {{#     } }}
    {{# }else{ }}
    <font color="green">{{d.broadbandAccount == null ? "" : d.broadbandAccount}}<br>{{d.broadbandPassword == null ? "" : d.broadbandPassword}}</font>
    {{# } }}
</script>

<script type="text/html" id="startUpStatusAndDownloadProgramType">
    {{# if(d.valid){ }}
    {{#     if(d.red){ }}
    <font color="#FF0000">{{d.startUpStatus == null ? "" : d.startUpStatus}}<br>{{d.downloadProgramType == null ? "" : d.downloadProgramType}}</font>
    {{#     }else if(d.orange){ }}
    <font color="#e86e33">{{d.startUpStatus == null ? "" : d.startUpStatus}}<br>{{d.downloadProgramType == null ? "" : d.downloadProgramType}}</font>
    {{#     }else if(d.yellow){ }}
    <font color="#ef00ff">{{d.startUpStatus == null ? "" : d.startUpStatus}}<br>{{d.downloadProgramType == null ? "" : d.downloadProgramType}}</font>
    {{#     }else{ }}
    <font color="green">{{d.startUpStatus == null ? "" : d.startUpStatus}}<br>{{d.downloadProgramType == null ? "" : d.downloadProgramType}}</font>
    {{#     } }}
    {{# }else{ }}
    <font color="green">{{d.startUpStatus == null ? "" : d.startUpStatus}}<br>{{d.downloadProgramType == null ? "" : d.downloadProgramType}}</font>
    {{# } }}
</script>

<script type="text/html" id="runningProgramTypes">
    {{# if(d.valid){ }}
    {{#     if(d.red){ }}
    <font color="#FF0000">{{d.runningProgramType == null ? "" : d.runningProgramType}}</font>
    {{#     }else if(d.orange){ }}
    <font color="#e86e33">{{d.runningProgramType == null ? "" : d.runningProgramType}}</font>
    {{#     }else if(d.yellow){ }}
    <font color="#ef00ff">{{d.runningProgramType == null ? "" : d.runningProgramType}}</font>
    {{#     }else{ }}
    <font color="green">{{d.runningProgramType == null ? "" : d.runningProgramType}}</font>
    {{#     } }}
    {{# }else{ }}
    <font color="green">{{d.runningProgramType == null ? "" : d.runningProgramType}}</font>
    {{# } }}
</script>

<script type="text/html" id="upgradeFailedReasons">
    {{# if(d.valid){ }}
    {{#     if(d.red){ }}
    <font color="#FF0000">{{d.upgradeFailedReason == null ? "" : d.upgradeFailedReason}}</font>
    {{#     }else if(d.orange){ }}
    <font color="#e86e33">{{d.upgradeFailedReason == null ? "" : d.upgradeFailedReason}}</font>
    {{#     }else if(d.yellow){ }}
    <font color="#ef00ff">{{d.upgradeFailedReason == null ? "" : d.upgradeFailedReason}}</font>
    {{#     }else{ }}
    <font color="green">{{d.upgradeFailedReason == null ? "" : d.upgradeFailedReason}}</font>
    {{#     } }}
    {{# }else{ }}
    <font color="green">{{d.upgradeFailedReason == null ? "" : d.upgradeFailedReason}}</font>
    {{# } }}
</script>

<script type="text/html" id="vpsBackendSystemComputerIDs">
    {{# if(d.valid){ }}
    {{#     if(d.red){ }}
    <font color="#FF0000">{{d.vpsBackendSystemComputerID == null ? "" : d.vpsBackendSystemComputerID}}</font>
    {{#     }else if(d.orange){ }}
    <font color="#e86e33">{{d.vpsBackendSystemComputerID == null ? "" : d.vpsBackendSystemComputerID}}</font>
    {{#     }else if(d.yellow){ }}
    <font color="#ef00ff">{{d.vpsBackendSystemComputerID == null ? "" : d.vpsBackendSystemComputerID}}</font>
    {{#     }else{ }}
    <font color="green">{{d.vpsBackendSystemComputerID == null ? "" : d.vpsBackendSystemComputerID}}</font>
    {{#     } }}
    {{# }else{ }}
    <font color="green">{{d.vpsBackendSystemComputerID == null ? "" : d.vpsBackendSystemComputerID}}</font>
    {{# } }}
</script>

<script type="text/html" id="valid">
    {{# if(d.valid){ }}
    {{#     if(d.red){ }}
    <font color="#FF0000">{{d.valid ? "监控中" : "暂停监控"}}</font>
    {{#     }else if(d.orange){ }}
    <font color="#e86e33">{{d.valid ? "监控中" : "暂停监控"}}</font>
    {{#     }else if(d.yellow){ }}
    <font color="#ef00ff">{{d.valid ? "监控中" : "暂停监控"}}</font>
    {{#     }else{ }}
    <font color="green">{{d.valid ? "监控中" : "暂停监控"}}</font>
    {{#     } }}
    {{# }else{ }}
    <font color="green">{{d.valid ? "监控中" : "暂停监控"}}</font>
    {{# } }}
</script>

<script type="text/html" id="operationTpl">
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn-xs">VNC</button>
        <@shiro.hasPermission name="/internal/machineInfo/saveMachineInfo">
            <button class="layui-btn layui-btn-xs" lay-event="toUpdateMachineInfo">修改</button>
        </@shiro.hasPermission>
        <@shiro.hasPermission name="/internal/machineInfo/deleteMachineInfo">
            <button class="layui-btn layui-btn-xs" lay-event="deleteMachine">删除</button>
        </@shiro.hasPermission>
    </div>
    <br>
    <div class="layui-btn-group">
        <@shiro.hasPermission name="/internal/machineInfo/changeStatus">
        {{# if(d.valid){ }}
            <button class="layui-btn layui-btn-xs" lay-event="changeStatus(stop)">暂停监控</button>
        {{# }else{ }}
            <button class="layui-btn layui-btn-xs" lay-event="changeStatus(start)">开始监控</button>
        {{# } }}
        </@shiro.hasPermission>
        <@shiro.hasPermission name="/internal/machineInfo/changeTerminalType">
            <button class="layui-btn layui-btn-xs" lay-event="changeTerminalType">变更终端类型</button>
        </@shiro.hasPermission>
    </div>
</script>
</body>
</html>