<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>机器管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/scroll-bar.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.css">
</head>
<style>
</style>
<body>

<div class="ok-body">
    <div class="ok-body-breadcrumb">
            <span class="layui-breadcrumb">
                <a><cite>机器管理</cite></a>
                <a><cite>机器列表</cite></a>
            </span>
        <input hidden value='${Session["entryType"]}' id="entryType">
        <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>

    <table class="layui-hide" id="machineManageTable" lay-filter="tableFilter"></table>

</div>
<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script src="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.js"></script>
<script>
    var sign = false;
    NProgress.start();
    window.onload = function () {
        NProgress.done();
    };
    layui.use(['element', 'table', 'form', 'jquery', 'laydate', 'okLayer', 'layer'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var okLayer = layui.okLayer;
        var layer = layui.layer;
        var machineManageTable = table.render({
            elem: '#machineManageTable',
            method: 'post',
            url: '${ctx.path}/internal/machineManage/getMachineInfos',
            limit: 50,
            page: true,
            autoSort: false,
            size: 'sm',
            id: 'machineManageTable',
            even: true,//隔行背景
            // toolbar: true,
            toolbar: "#toolbarTpl",
            // defaultToolbar: ['filter', 'print', 'exports'], 对应列筛选 打印 导出
            defaultToolbar: ['filter'],
            contentType: 'application/json',
            cols: [[
                {filed: 'uuid', align: 'center', type: 'checkbox', fixed: "left", width: '50'},
                {field: 'clientID', align: 'center', title: '客户端ID', width: '80'},
                {field: 'machineGroup', align: 'center', title: '机器分组', width: '80'},
                {field: 'renewalDate', align: 'center', title: '续费日期', width: '80', templet: '#toRenewalDate'},
                {field: 'versionInfo', align: 'center', title: '现版本|目标版本', width: '130',templet: '#showVersionInfo'},
                {field: 'restartCount', align: 'center', title: '重启数|重启状态|失败次数', width: '180'},
                {field: 'cityAndStatus', align: 'center', title: '所在城市|终端状态', width: '185', templet: '#cityAndStatus'},
                {field: 'cpuCount', align: 'center', title: 'CPU核数|内存', width: '140'},
                {field: 'freeSpace', align: 'center', title: '剩余空间', width: '100'},
                {field: 'lastVisitTimeAndRestartTime', align: 'center', title: '最新工作时间|重启时间', width: '190', templet: '#lastVisitTimeAndRestartTime'},
                {field: 'restartOrderingTimeAndLastSendNotificationTime', align: 'center', title: '重启排序时间|发送通知时间', width: '190', templet: '#restartOrderingTimeAndLastSendNotificationTime'},
                {field: 'optimizationSucceedCountAndOptimizationTotalCount', align: 'center', title: '成功次数|操作次数', width: '160', templet: '#optimizationSucceedCountAndOptimizationTotalCount'},
                {field: 'broadbandAccountAndBroadbandPassword', align: 'center', title: '宽带账号|宽带密码', width: '150', templet: '#broadbandAccountAndBroadbandPassword'},
                {field: 'runningProgramType', align: 'center', title: '运行程序类型', width: '120'},
                {field: 'startUpStatusAndDownloadProgramType', align: 'center', title: '开机状态|下载程序类型', width: '175', templet: '#startUpStatusAndDownloadProgramType'},
                {field: 'valids', align: 'center', title: '状态', width: '85', templet: '#valid'},
                {field: 'upgradeFailedReason', align: 'center', title: '失败原因', width: '85'},
                {field: 'vpsBackendSystemComputerID', align: 'center', title: '服务器ID', width: '130'},
                {title: '操作', templet: '#operationTpl', align: 'center',fixed: "right",width: '290'}
            ]],
            height: 'full-115',
            done: function (res, curr, count) {
            }
        });

        var active = {
            reload: function () {
                var data = {}
                table.reload('machineManageTable', {
                    where: data,
                    page: {
                        curr: 1
                    }
                });
            },
        };

        table.on('toolbar(tableFilter)',function (obj) {
            var data = obj.data;
            var event = obj.event;
            switch (event) {
                case 'showSearch':
                    showSearch();
                    break;
                case 'batchDeleteMachines':
                    batchDeleteMachines();
                    break;
                case 'showReopenClientDialog':
                    showReopenClientDialog(data);
                    break;
                case 'finishStartUp':
                    finishStartUp();
                    break;
                case 'showUploadVPSDialog(\'common\')':
                    showUploadVPSDialog('common');
                    break;
                case 'showUploadVPSDialog(\'startUp\')':
                    showUploadVPSDialog('startUp');
                    break;
                case 'batchUpdateMachineGroup(\'selected\')':
                    batchUpdateMachineGroup('selected');
                    break;
                case 'batchUpdateMachineGroup(\'total\')':
                    batchUpdateMachineGroup('total');
                    break;
            }
        });

        function batchUpdateMachineGroup(changeType){
            var postData = {};
            if(changeType == 'selected'){
                var checkStatus = table.checkStatus('machineManageTable');
                var data = checkStatus.data;
                var uuidArr = [];
                $.each(data, function (index, item) {
                    uuidArr.push(item.clientID);
                });
                if (uuidArr.length <= 0) {
                    layer.msg('请选择要重开的机器', {icon: 5});
                    return
                }
                postData.clientIDs = uuidArr;
            }else{

            }
            okLayer.open("首页 / 终端列表 / 修改机器分组", "/internal/machineManage/toUpdateMachineGroup", "30%", "25%", function (layero) {
                window[layero.find("iframe")[0]["name"]].initData(changeType, postData);
            },function(){
                if(sign){
                    active['reload'].call(this);
                    sign = false;
                }
            })
        }

        function showUploadVPSDialog(machineInfoType) {
            okLayer.open("首页 / 终端列表 / 上传VPS", "/internal/machineManage/toUploadVPSFile", "30%", "22%", function (layero) {
                window[layero.find("iframe")[0]["name"]].initData(machineInfoType);
            },function(){
                if(sign){
                    active['reload'].call(this);
                    sign = false;
                }
            })
        }

        function finishStartUp() {
            var checkStatus = table.checkStatus('machineManageTable');
            var data = checkStatus.data;
            var uuidArr = [];
            $.each(data, function (index, item) {
                uuidArr.push(item.clientID);
            });
            if (uuidArr.length <= 0) {
                layer.msg('请选择要重开的机器', {icon: 5});
                return
            }
            var postData = {};
            postData.clientIDs = uuidArr;

            layer.confirm('确认将这些终端的开机状态改为Completed？', {
                icon: 3,
                title: '完成开机',
                btn: ['确认', '取消'],
                yes: function (index) {
                    $.ajax({
                        url: '/internal/machineManage/updateStartUpStatusForCompleted',
                        type: 'post',
                        data: JSON.stringify(postData),
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        timeout: 5000,
                        success: function (res) {
                            if (res.code === 200) {
                                layer.close(index);
                                okLayer.msg.greenTick("保存成功", function () {
                                    active['reload'].call(this);
                                });
                            } else {
                                layui.layer.msg(res.msg);
                            }
                        }
                    });
                },
                btn2: function (index) {
                    layer.close(index);
                }
            });
            return false;
        }

        function showSearch() {

        }

        function showReopenClientDialog(data){
            var checkStatus = table.checkStatus('machineManageTable');
            var data = checkStatus.data;
            var uuidArr = [];
            $.each(data, function (index, item) {
                uuidArr.push(item.clientID);
            });
            if (uuidArr.length <= 0) {
                layer.msg('请选择要重开的机器', {icon: 5});
                return
            }
            var postData = {};
            postData.clientIDs = uuidArr;

            okLayer.open("首页 / 终端列表 / 重开机器", "/internal/machineManage/toReopenClient", "30%", "25%", function (layero) {
                window[layero.find("iframe")[0]["name"]].getClientIDs(postData);
            },function(){
                if(sign){
                    active['reload'].call(this);
                    sign = false;
                }
            })
        }

        table.on('tool(tableFilter)',function (obj) {
            var data = obj.data;
            var event = obj.event;
            switch (event) {
                case 'deleteMachine':
                    deleteMachine(data.clientID);
                    break;
            }
        });

        function deleteMachine(clientID) {
            layer.confirm('确认删除该机器？', {
                icon: 3,
                title: '删除终端',
                btn: ['确认', '取消']
                , yes: function (index_) {
                    $.ajax({
                        url: '/internal/machineManage/deleteMachineInfo/' + clientID,
                        type: 'GET',
                        headers: {
                            "Accept": 'application/json',
                            "Content-Type": 'application/json'
                        },
                        success: function (res) {
                            if (res.code === 200) {
                                active['reload'].call(this);
                                layer.msg("删除成功")
                            } else {
                                layer.msg(res.msg)
                            }
                        },
                        error: function () {
                            layer.msg('未知错误，请稍后重试！！')
                        }
                    });
                }, btn2: function (index) {
                    layer.close(index);
                }
            });
        }

        function batchDeleteMachines() {
            var checkStatus = table.checkStatus('machineManageTable');
            var data = checkStatus.data;
            var uuidArr = [];
            $.each(data, function (index, item) {
                uuidArr.push(item.clientID);
            });
            if (uuidArr.length <= 0) {
                layer.msg('请选择要删除的机器', {icon: 5});
                return
            }
            layer.confirm("确定要删除所选机器吗", {icon: 3, title: '删除所选'}, function (index) {
                var postData = {};
                postData.clientIDs = uuidArr;
                $.ajax({
                    url: '/internal/machineManage/deleteMachineInfos',
                    data: JSON.stringify(postData),
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    timeout: 5000,
                    type: 'POST',
                    success: function (result) {
                        if (result.code === 200) {
                            layer.msg('操作成功', {
                                icon: 6,
                                time: 2000
                            }, function () {
                                active['reload'].call(this);
                            });
                        } else {
                            layer.msg('操作失败', {icon: 5});
                        }
                    },
                    error: function () {
                        layer.msg('操作失败', {icon: 5});
                    }
                });
                layer.close(index);
            });
        }

    });
</script>

<!-- 头工具栏模板 -->
<script type="text/html" id="toolbarTpl">
    <div class="layui-btn-container">
    <@shiro.hasPermission name="/internal/machineInfo/searchMachineInfos">
        <button class="layui-btn layui-btn-sm" id="showSearch" lay-event="showSearch">条件查询</button>
    </@shiro.hasPermission>
    <@shiro.hasPermission name="/internal/machineInfo/deleteMachineInfos">
    <button class="layui-btn layui-btn-danger layui-btn-sm" id="batchDel" lay-event="batchDeleteMachines">
        <i class="layui-icon layui-icon-delete"></i>删除所选
    </button>
    </@shiro.hasPermission>
    <@shiro.hasPermission name="/internal/machineInfo/saveMachineInfo">
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn layui-btn-normal layui-btn-sm" id="showReopenClientDialog" lay-event="showReopenClientDialog">
            <i class="layui-icon layui-icon-refresh"></i>重开机器
        </button>
        <button class="layui-btn layui-btn layui-btn-normal layui-btn-sm" id="finishStartUp" lay-event="finishStartUp">
            <i class="layui-icon layui-icon-chart-screen"></i>完成开机
        </button>
    </div>
    </@shiro.hasPermission>
    <@shiro.hasPermission name="/internal/machineInfo/uploadVPSFile">
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn layui-btn layui-btn-warm layui-btn-sm" id="common" lay-event="showUploadVPSDialog('common')">
            <i class="layui-icon layui-icon-upload-drag"></i>导入普通终端
        </button>
        <button class="layui-btn layui-btn layui-btn layui-btn-warm layui-btn-sm" id="startUp" lay-event="showUploadVPSDialog('startUp')">
            <i class="layui-icon layui-icon-upload-drag"></i>导入开机终端
        </button>
    </div>
    </@shiro.hasPermission>
    <@shiro.hasPermission name="/internal/machineInfo/updateMachineGroup">
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn layui-btn layui-btn-sm" lay-event="batchUpdateMachineGroup('selected')">
            <i class="layui-icon layui-icon-edit"></i>修改所选终端机器分组
        </button>
        <button class="layui-btn layui-btn layui-btn layui-btn-sm" lay-event="batchUpdateMachineGroup('total')">
            <i class="layui-icon layui-icon-edit"></i>修改当前终端机器分组
        </button>
    </div>
    </@shiro.hasPermission>
    </div>
</script>

<script type="text/html" id="toRenewalDate">
    {{layui.util.toDateString(d.renewalDate,'MM-dd')}}
</script>

<script type="text/html" id="showVersionInfo">
    {{d.version == null ? "" : d.version}}&nbsp;|&nbsp;{{d.targetVersion == null ? "" : d.targetVersion}}
</script>

<script type="text/html" id="cityAndStatus">
    {{d.city == null ? "" : d.city}}&nbsp;|&nbsp;{{d.status == null ? "" : d.status}}
</script>

<script type="text/html" id="lastVisitTimeAndRestartTime">
    {{d.lastVisitTime == null ? "" : layui.util.toDateString(d.lastVisitTime,'MM-dd HH:mm')}}
        &nbsp;|&nbsp;
    {{d.restartTime == null ? "" : layui.util.toDateString(d.restartTime,'MM-dd HH:mm')}}
</script>

<script type="text/html" id="restartOrderingTimeAndLastSendNotificationTime">
    {{d.restartOrderingTime == null ? "" : layui.util.toDateString(d.restartOrderingTime,'MM-dd HH:mm')}}
        &nbsp;|&nbsp;
    {{d.lastSendNotificationTime == null ? "" : layui.util.toDateString(d.lastSendNotificationTime,'MM-dd HH:mm')}}
</script>

<script type="text/html" id="optimizationSucceedCountAndOptimizationTotalCount">
    {{d.optimizationSucceedCount == null ? "" : d.optimizationSucceedCount}}&nbsp;|&nbsp;{{d.optimizationTotalCount == null ? "" : d.optimizationTotalCount}}
</script>

<script type="text/html" id="broadbandAccountAndBroadbandPassword">
    {{d.broadbandAccount == null ? "" : d.broadbandAccount}}&nbsp;|&nbsp;{{d.broadbandPassword == null ? "" : d.broadbandPassword}}
</script>

<script type="text/html" id="startUpStatusAndDownloadProgramType">
    {{d.startUpStatus == null ? "" : d.startUpStatus}}&nbsp;|&nbsp;{{d.downloadProgramType == null ? "" : d.downloadProgramType}}
</script>

<script type="text/html" id="valid">
    {{d.valid ? "监控中" : "暂停监控"}}
</script>

<script type="text/html" id="operationTpl">
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn-xs">VNC</button>
        <button class="layui-btn layui-btn-xs">修改</button>
        <@shiro.hasPermission name="/internal/machineInfo/deleteMachineInfo">
            <button class="layui-btn layui-btn-xs" lay-event="deleteMachine">删除</button>
        </@shiro.hasPermission>
        <button class="layui-btn layui-btn-xs">开始监控</button>
        <button class="layui-btn layui-btn-xs">变更终端类型</button>
    </div>
</script>

</body>
</html>