<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改终端信息</title>
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.css">
</head>
<body>
<div class="ok-body" id="UpdateMachineDialog">

    <form class="layui-form layui-form-pane ok-form" lay-filter="UpdateMachineInfo">
        <div class="layui-form-item">
            <label class="layui-form-label">机器分组</label>
            <div class="layui-input-block">
                <input type="text" id="machineGroup" name="machineGroup" lay-verify="required" placeholder="请输入机器分组" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" pane>
            <label class="layui-form-label">允许换组</label>
            <div class="layui-input-block">
                <input type="radio" name="allowSwitchGroup" value="1" title="允许" checked>
                <input type="radio" name="allowSwitchGroup" value="0" title="不允许">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">流转分组</label>
            <div class="layui-input-block">
                <input type="text" id="switchGroupName" name="switchGroupName" lay-verify="required" placeholder="请输入流转分组" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">主机</label>
            <div class="layui-input-block">
                <input type="text" id="host" name="host" lay-verify="required" placeholder="请输入主机" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">端口</label>
            <div class="layui-input-block">
                <input type="text" id="port" name="port" lay-verify="required" placeholder="请输入端口" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">VNC和操作系统用户名</label>
            <div class="layui-input-block">
                <input type="text" id="csUserName" name="csUserName" lay-verify="required" value="Administrator" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">VPS后台系统电脑ID</label>
            <div class="layui-input-block">
                <input type="text" id="vpsBackendSystemComputerID" name="vpsBackendSystemComputerID" lay-verify="required" placeholder="请输入VPS后台系统电脑ID" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">VPS后台系统密码</label>
            <div class="layui-input-block">
                <input type="text" id="vpsBackendSystemPassword" name="vpsBackendSystemPassword" lay-verify="required" placeholder="请输入VPS后台系统密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">宽带账号</label>
            <div class="layui-input-block">
                <input type="text" id="broadbandAccount" name="broadbandAccount" lay-verify="required" placeholder="请输入宽带账号" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="margin-bottom: 57px;">
            <label class="layui-form-label">宽带密码</label>
            <div class="layui-input-block">
                <input type="text" id="broadbandPassword" name="broadbandPassword" lay-verify="required" placeholder="请输入宽带密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div style="position: fixed;bottom: 0;width: 100%;background:#fff;text-align: right;">
            <div style="margin: 0 10px 6px 10px; padding-top: 8px;border-top: solid 1px #e6e6e6">
                <button class="layui-btn" lay-submit lay-filter="commit">确定</button>
                <button class="layui-btn layui-btn-primary" id="close" style="margin-right: 20px">取消</button>
            </div>
        </div>
    </form>
</div>

<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script src="/static/ok-admin/js/somePublic.js"></script>
<script>
    let layui_ = null;
    let clientID_ = null;
    let terminalType_ = null;

    function initMachineInfo(data) {
        clientID_ = data.clientID;
        terminalType_ = data.terminalType;
        if (layui_ != null) {
            setForm(layui_, clientID_, terminalType_);
        }
    }

    function setForm(l, clientID, terminalType){
        let postData = {};
        postData.clientID = clientID;
        postData.terminalType = terminalType;
        l.jquery.ajax({
            url: '/internal/machineManage/getMachineInfo/' + clientID + '/' + terminalType,
                type: 'post',
                data: JSON.stringify(postData),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                timeout: 5000,
                success: function (res) {
                    var data = res.data;
                    if (res.code === 200) {
                        layui.form.val("UpdateMachineInfo", data);
                    } else {
                        l.layer.msg(res.msg, {icon: 5, time: 3000});
                    }
                }
        });
    }

    layui.use(["form", "jquery", "layer", 'common'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let common = layui.common;

        if (clientID_ != null) {
            setForm(layui, clientID_, terminalType_);
        } else {
            layui_ = layui;
        }

        function isChecked(id) {
            let color = $("#UpdateMachineDialog").find("#" + id).parent().css("color");
            if(color === "rgb(255, 0, 0)") {
                return "1";
            } else {
                return "0";
            }
        }

        form.on("submit(commit)", function (data) {
            let machineInfo;
            machineInfo = data.field;
            machineInfo.clientID = clientID_;
            machineInfo = common.jsonObjectTrim(machineInfo);
            $.ajax({
                url: '/internal/machineManage/updateMachineInfo',
                type: 'post',
                data: JSON.stringify(machineInfo),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                timeout: 5000,
                success: function (res) {
                    if (res.code === 200) {
                        common.showSuccessMsg("保存成功", function () {
                            parent.window.sign = true;
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    } else {
                        common.showFailMsg(res.msg);
                    }
                }
            });
            return false;
        });

        $('#close').click(function () {
            parent.layer.close(parent.layer.getFrameIndex(window.name));
            return false;
        });

        form.verify({
            ip: [
                /^(1\d{2}|2[0-4]\d|25[0-5]|[1-9]\d|[1-9])\.(1\d{2}|2[0-4]\d|25[0-5]|[1-9]\d|\d)\.(1\d{2}|2[0-4]\d|25[0-5]|[1-9]\d|\d)\.(1\d{2}|2[0-4]\d|25[0-5]|[1-9]\d|\d)$/,
                "请输入正确的ip地址"
            ],
            port: [
                /^[0-9]\d*$/,
                "请输入正确的端口号"
            ],
            admin: [
                /^[-_a-zA-Z0-9]{1,16}$/,
                "用户名不符合规范"
            ],
            id: [
                /^[-_a-zA-Z0-9]{1,16}$/,
                "id不符合规范"
            ],
            account: [
                /^[-_a-zA-Z0-9]{1,16}$/,
                "账号不符合规范"
            ],
            pass: [
                /^[-_a-zA-Z0-9]{1,16}$/,
                "密码必须为字母、数字或下划线"
            ]
        });

    });
</script>
</body>
</html>