<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>导入终端</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
</head>
<body>
<div class="ok-body">

    <form class="layui-form layui-form-pane ok-form" lay-filter="UploadVPSFile" enctype="multipart/form-data" id="uploadForm">
        <div class="layui-form-item">
            <input id="upload" name="file" type="file">
<!--            <button type="button" class="layui-btn" id="uploadBtn">-->
<!--                <i class="layui-icon">&#xe67c;</i>上传VPS文件-->
<!--            </button>-->
        </div>
        <div class="layui-form-item" id="programType">
            <label class="layui-form-label">下载程序类型</label>
            <div class="layui-input-block">
                <input type="radio" name="downloadProgramType" value="New" title="新程序" checked>
                <input type="radio" name="downloadProgramType" value="Old" title="旧程序">
                <input type="radio" name="downloadProgramType" value="Super" title="Super">
            </div>
        </div>
        <div style="position: fixed;bottom: 0;width: 100%;background:#fff;text-align: right;">
            <div style="margin: 0 10px 6px 10px; padding-top: 8px;border-top: solid 1px #e6e6e6">
                <button class="layui-btn" lay-submit lay-filter="commit">确定</button>
                <button class="layui-btn layui-btn-primary" id="close" style="margin-right: 20px">取消</button>
            </div>
        </div>
    </form>
</div>

<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script>
    var machineInfoType = null;

    function initData(data) {
        machineInfoType = data
        if(machineInfoType == "startUp") {
            document.getElementById("programType").style.visibility = "visible"
        } else {
            document.getElementById("programType").style.visibility = "hidden"
        }
    }

    layui.use(["form", "okLayer", "jquery", "layer", "upload"], function () {
        var form = layui.form;
        var okLayer = layui.okLayer;
        var $ = layui.jquery;
        var upload = layui.upload;

        $("#uploadBtn").click(function(){
            console.log(a)
            upload.render({
                elem: '#upload',
                url: '/internal/machineManage/uploadVPSFile',
                exts: 'txt',
                accept: 'file',
                auto: false,
                done: function(res){
                }
            });
        });

        form.on("submit(commit)", function (data) {
            var fileValue = $('#uploadForm').find("#upload").val()
            if(fileValue == ""){
                layer.msg("请选择要上传的VPS文件!")
                return false;
            }
            var posIndex = fileValue.indexOf(".txt");
            if (posIndex == -1) {
                layer.msg("只能上传txt文件!")
                return false;
            }
            var postData = new FormData();
            postData.append('machineInfoType', machineInfoType)
            postData.append('file', $("#uploadForm").find("#upload")[0].files[0])
            if(machineInfoType == 'startUp'){
                postData.append('downloadProgramType', data.field.downloadProgramType)
            }
            $.ajax({
                url: '/internal/machineManage/uploadVPSFile',
                type: 'post',
                cache: false,
                data: postData,
                async: false,
                processData: false,
                contentType: false,
                success: function (res) {
                    var data = JSON.parse(res)
                    if (data.code == 200) {
                        okLayer.msg.greenTick("上传成功", function () {
                            parent.window.sign = true;
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    } else {
                        layui.layer.msg(res.msg);
                    }

                }
            });
            return false;
        });

        $('#close').click(function () {
            parent.layer.close(parent.layer.getFrameIndex(window.name));
            return false;
        });

    });
</script>
</body>
</html>