<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/static/ok-admin/css/sub-page.css">
    <link rel="stylesheet" href="/static/layui/add-or-upd.css">
    <style>
        .layui-btn {
            width: 150px;
        }

        .four-row .layui-form-label {
            width: 120px;
        }

        .four-row .layui-input-block {
            margin-left: 120px;
        }

        .my-text {
            text-indent: 10px;
            line-height: 38px;
        }
    </style>
</head>
<body>
<div>
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form" lay-filter="save">
        <div class="ok-body">
            <input type="hidden" name="uuid" id="uuid" value=""/>
            <div class="layui-form-item">
                <label class="layui-form-label">优化组名</label>
                <div class="layui-input-block">
                    <select name="optimizeGroupName" id="optimizeGroupName" lay-verify="required">

                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">屏蔽网站</label>
                <div class="layui-input-block">
                    <textarea name="screenedWebsite" id="screenedWebsite" placeholder="请填写需要屏蔽的网站，多个请换行" class="layui-textarea" lay-verify="required" style="height: 300px"></textarea>
                </div>
            </div>

        </div>
        <div style="height: 58px;"></div>
        <div style="position: fixed;bottom: 0;width: 100%;background:#fff;text-align: right;">
            <div style="margin: 0 10px 6px 10px; padding-top: 8px;border-top: solid 1px #e6e6e6">
                <button class="layui-btn" lay-submit lay-filter="commit">确定</button>
                <button type="reset" class="layui-btn layui-btn-primary">
                    重置
                </button>
                <button class="layui-btn layui-btn-primary" id="close" style="margin-right: 20px">
                    取消
                </button>
            </div>
        </div>
    </form>
</div>
<!--js逻辑-->
<script src="/static/ok-admin/lib/layui/layui.js"></script>
<script>
    let uuid_ = null;
    let layui_ = null;

    /**
     * 供上方调用
     * 初始化数据使用
     */
    function initForm(data) {
        uuid_ = data;
        if (layui_ != null) {
            setForm(layui_, uuid_);
        }
    }

    /**
     * 初始化数据
     * @param l layui对象
     * @param u 需要修改的站点uuid
     */
    function setForm(l, u) {
        l.jquery.ajax({
            url: '/internal/screenedWebsite/getScreenedWebsite/' + u,
            type: 'post',
            dataType: 'json',
            success: function (res) {
                if (res.code === 200) {
                    l.form.val("save", res.data);
                } else {
                    l.layer.msg(res.msg === null || res.msg === '' ? '未知错误' : res.msg, {icon: 5, time: 3000});
                }
            }
        });
    }

    layui.use(["form", "common", "jquery", "layer"], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let common = layui.common;

        if (uuid_ != null) {
            setForm(layui, uuid_);
        } else {
            layui_ = layui;
        }
        init_optimizeGroupName();

        function init_optimizeGroupName(){
            $.ajax({
                url: '/internal/group/getAllGroupNames',
                type: 'POST',
                headers: {
                    "Accept": 'application/json',
                    "Content-Type": 'application/json'
                },
                success: function (res) {
                    if (res.code === 200) {
                        let groupData = res.data;
                        let group_list = $('#optimizeGroupName');
                        group_list.empty();
                        group_list.append('<option value="">请选择分组</option>');
                        $.each(groupData, function (index, item) {
                            group_list.append('<option value="' + item + '">' + item + '</option>');
                        });
                        form.render("select")
                    } else {
                        common.showFailMsg(res.msg);
                    }
                },
                error: function () {
                    common.showFailMsg("未知错误，请稍后重试！！");
                }
            });
        }

        form.on("submit(commit)", function (data) {
            if (checkGroupExist(data.field)){
                $('#optimizeGroupName').addClass("layui-form-danger").focus();
                common.showFailMsg("该优化组已存在对应的屏蔽网站列表，请返回前往修改！");
                return false;
            }
            $.ajax({
                url: '/internal/screenedWebsite/saveScreenedWebsite2',
                type: 'post',
                data: JSON.stringify(data.field),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                success: function (res) {
                    if (res.code === 200) {
                        common.showSuccessMsg("保存成功", function () {
                            parent.window.sign = true;
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    } else {
                        common.showFailMsg(res.msg);
                    }
                },
                error: function () {
                    common.showFailMsg("保存失败");
                }
            });
            return false;
        });

        function checkGroupExist(data) {
            let exit = false;
            if (data.uuid == null || data.uuid === '') {
                $.ajax({
                    url: '/internal/screenedWebsite/checkGroupExist',
                    type: 'post',
                    async:false,
                    data: JSON.stringify(data),
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    success: function (res) {
                        if (res.code === 200) {
                            exit = res.data !== 0 ;
                        } else {
                            exit = true;
                        }
                    },
                    error: function () {
                        common.showFailMsg("查询失败");
                        exit = true;
                    }
                });
            } else {
                exit = false;
            }
            return exit;
        }

        $('#close').click(function () {
            parent.layer.close(parent.layer.getFrameIndex(window.name));
        });

        form.verify({
            qq: [
                /(^$)|(^[1-9]\d{4,14}$)/,
                "请输入正确格式QQ"
            ], myPhone: [
                /(^$)|(^(13[0-9]|14[5-9]|15[0-3,5-9]|16[2567]|17[0-8]|18[0-9]|19[13589])\d{8}$)/,
                "请输入正确格式手机号码"
            ], myEmail: [
                /(^$)|(^\w+((.\w+)|(-\w+))@[A-Za-z0-9]+((.|-)[A-Za-z0-9]+).[A-Za-z0-9]+$)/,
                "请输入正确格式邮箱"
            ]
        });

    })
    ;
</script>
</body>
</html>
