<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>单词统计</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/static/ok-admin/css/scroll-bar.css">
    <link rel="stylesheet" href="/static/ok-admin/css/sub-page.css">
    <link rel="stylesheet" href="/static/ok-admin/lib/nprogress/nprogress.css">
    <link rel="stylesheet" href="/static/ok-admin/page/base/searchForm.css">
    <script type="text/javascript" src="/static/ok-admin/lib/echarts/echarts.min.js"></script>
</head>
<body>
<div class="ok-body">
    <div id="chargeLogShow" style="height: 500px;">

    </div>
</div>
<!--js逻辑-->
<script src="/static/ok-admin/lib/layui/layui.js"></script>
<script src="/static/ok-admin/lib/nprogress/nprogress.js"></script>
<script>
    var sign = false;
    // 进度条加载提示
    NProgress.start();
    window.onload = function () {
        NProgress.done();
    };

    layui.use(['element', 'table', 'form', 'jquery', 'laydate', 'okLayer', 'layer', 'common'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var layer = layui.layer;
        var common = layui.common;

        var chargeOption = {
            title: {
                text: '整站收费统计图',
                subtext: '',
                y: '10',
                x: '10'
            },
            grid: {
                x: 40,
                y: 50,
                x2: 90,
                y2: 20,
            },
            legend: {
                orient: 'vertical',
                icon: "circle",
                x: 'right',
                y: 'center',
                data: ['首次收费', '续费', '暂停', '下架']
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#337ab7'
                    }
                }
            },
            toolbox: {
                show: true,
                right: 20,
                feature: {
                    // mark: {show: true},
                    // dataView: {show: true, readOnly: false},
                    // magicType: {show: true, type: ['line', 'bar']},
                    // restore: {show: true},
                    // myTool1: {
                    //     show: true,
                    //     title: '自定义扩展方法',
                    //     icon: 'image:///images/favicon.png',
                    //     onclick: function () {
                    //         alert('myToolHandler2')
                    //     }
                    // },
                    // saveAsImage: {show: true}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                axisLabel: {
                    interval: 0,
                    // rotate: -50,
                },
                data: []
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                name: '首次收费',
                type: 'line',
                stack: '总量',
                areaStyle: {normal: {color: 'rgba(255,255,255,0)'}},
                data: [],
            }, {
                name: '续费',
                type: 'line',
                stack: '总量',
                areaStyle: {normal: {color: 'rgba(255,255,255,0)'}},
                data: [],
            }, {
                name: '暂停',
                type: 'line',
                stack: '总量',
                areaStyle: {normal: {color: 'rgba(255,255,255,0)'}},
                data: [],
            }, {
                name: '下架',
                type: 'line',
                stack: '总量',
                areaStyle: {normal: {color: 'rgba(255,255,255,0)'}},
                data: [],
            }]
        };

        var chargeLogShow = echarts.init(document.getElementById('chargeLogShow'));

        getChargeMonData({searchEngines: null});

        function getChargeMonData(condition) {
            $.ajax({
                url: '/internal/qzchargemon/getMonDataBySe',
                type: 'post',
                dataType: 'json',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify(condition),
                success: function (res) {
                    if (res.code === 200) {
                        chargeOption.xAxis.data = res.data.date;
                        chargeOption.series[0].data = res.data.one;
                        chargeOption.series[1].data = res.data.two;
                        chargeOption.series[2].data = res.data.three;
                        chargeOption.series[3].data = res.data.four;
                        chargeLogShow.setOption(chargeOption);//数据图
                    } else if (res.code === 300) {
                        chargeOption.series[0].data = [];
                        chargeOption.series[1].data = [];
                        chargeOption.series[2].data = [];
                        chargeOption.series[3].data = [];
                        chargeLogShow.setOption(chargeOption);
                    } else {
                        common.showFailMsg('获取数据失败');
                    }
                },
                error: function () {
                    common.showFailMsg('网络异常请稍后再试');
                }
            });
        }

        form.on('select(searchEngines)', function () {
            getChargeMonData(common.formToJsonObject('form'));
        });

        form.on('select(qzTerminal)', function () {
            getChargeMonData(common.formToJsonObject('form'));
        });

        form.on('radio(time)', function () {
            getChargeMonData(common.formToJsonObject('form'));
        });

        var active = {
            reload: function () {
                let data = common.formToJsonObject('searchForm');
                data.entryType = 'pt';
                table.reload('keywordTable', {
                    where: data,
                    page: {
                        curr: 1
                    }
                });
            },
        };
    });
</script>

</body>
</html>
