<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.CaptureRankJobDao" >
    <sql id="colID">
        c.fUuid AS `uuid`,
        c.fGroupNames AS `groupNames`,
        c.fCustomerUuid AS `customerUuid`,
        c.fQZSettingUuid AS `qzSettingUuid`,
        c.fOperationType AS `operationType`,
        c.fExectionType AS `exectionType`,
        c.fExectionTime AS `exectionTime`,
        c.fExectionStatus  AS `exectionStatus`,
        c.fRankJobType AS `rankJobType`,
        c.fRankJobArea AS `rankJobArea`,
        c.fRankJobCity AS `rankJobCity`,
        c.fCaptureRankJobStatus  AS `captureRankJobStatus`,
        c.fStartTime AS `startTime`,
        c.fEndTime AS `endTime`,
        c.fCreateBy AS `createBy`,
        c.fUpdateBy AS `updateBy`,
        c.fCreateTime AS `createTime`,
        c.fUpdateTime AS `updateTime`,
        c.fLastExecutionDate AS `lastExecutionDate`,
        c.fRowNumber AS `rowNumber`,
        c.fExecutionCycle AS `executionCycle`,
        c.fCaptureInterval AS `captureInterval`,
        c.fCaptureDaysInterval AS `captureDaysInterval`,
        c.fPageSize AS `pageSize`
    </sql>

    <select id="searchCaptureRankJobs" resultType="com.keymanager.monitoring.entity.CaptureRankJob">
        SELECT
            <include refid="colID"/>
        FROM
            t_capture_rank_job c
        <where>
            <if test="captureRankJobSearchCriteria.groupNames!=null and captureRankJobSearchCriteria.groupNames!=''">
                <choose>
                    <when test="captureRankJobSearchCriteria.groupNameFuzzyQuery == null or captureRankJobSearchCriteria.groupNameFuzzyQuery == ''">
                        AND c.fGroupNames = #{captureRankJobSearchCriteria.groupNames}
                    </when>
                    <otherwise>
                        AND c.fGroupNames LIKE '%${captureRankJobSearchCriteria.groupNames}%'
                    </otherwise>
                </choose>
            </if>
            <if test="captureRankJobSearchCriteria.customerUuid!=null and captureRankJobSearchCriteria.customerUuid!=''">
                AND c.fcustomerUuid = #{captureRankJobSearchCriteria.customerUuid}
            </if>
            <if test="captureRankJobSearchCriteria.operationType!=null and captureRankJobSearchCriteria.operationType!=''">
                AND c.fOperationType = #{captureRankJobSearchCriteria.operationType}
            </if>
            <if test="captureRankJobSearchCriteria.exectionType!=null and captureRankJobSearchCriteria.exectionType!=''">
                AND c.fExectionType = #{captureRankJobSearchCriteria.exectionType}
            </if>
            <if test="captureRankJobSearchCriteria.exectionStatus!=null and captureRankJobSearchCriteria.exectionStatus!=''">
                AND c.fExectionStatus = #{captureRankJobSearchCriteria.exectionStatus}
            </if>
            <choose>
                <when test="captureRankJobSearchCriteria.rankJobType == 'Common'">
                    AND c.fRankJobType = 'Common' AND c.fQZSettingUuid IS NULL
                </when>
                <when test="captureRankJobSearchCriteria.rankJobType == 'Station'">
                    AND c.fQZSettingUuid IS NOT NULL
                </when>
                <otherwise>
                    AND c.fRankJobType = #{captureRankJobSearchCriteria.rankJobType}
                </otherwise>
            </choose>
            <if test="captureRankJobSearchCriteria.rankJobArea != null and captureRankJobSearchCriteria.rankJobArea != ''">
                AND c.fRankJobArea = #{captureRankJobSearchCriteria.rankJobArea}
            </if>
            <if test="captureRankJobSearchCriteria.rankJobCity != null and captureRankJobSearchCriteria.rankJobCity != ''">
                AND c.fRankJobCity = #{captureRankJobSearchCriteria.rankJobCity}
            </if>
        </where>
    </select>

    <select id="provideCaptureRankJob" resultType="com.keymanager.monitoring.entity.CaptureRankJob">
        SELECT
            <include refid="colID"/>
        FROM
            t_capture_rank_job c
        WHERE
        (
            c.fExectionStatus='New' OR
            (
                c.fExectionStatus='Complete'
                AND c.fExectionType='Everyday'
                AND (c.fLastExecutionDate &lt; curdate() OR c.fLastExecutionDate IS NULL)
                AND DATEDIFF(NOW(),fLastExecutionDate) &gt;= fCaptureDaysInterval
            )
        )
        AND c.fExectionTime &lt;= curtime()
        AND c.fCaptureRankJobStatus = 1
        <if test="captureJobCriteria.rankJobType != null and captureJobCriteria.rankJobType != ''">
            AND c.fRankJobType = #{captureJobCriteria.rankJobType}
        </if>
        <if test="jobType != null and jobType == 0">
            AND fQZSettingUuid IS NULL
        </if>
        <if test="jobType != null and jobType == 1">
            AND fQZSettingUuid IS NOT NULL
        </if>
        <if test="captureJobCriteria.rankJobArea != null and captureJobCriteria.rankJobArea != ''">
            AND c.fRankJobArea = #{captureJobCriteria.rankJobArea}
        </if>
        <choose>
            <when test="captureJobCriteria.rankJobCity != null and captureJobCriteria.rankJobCity != ''">
                AND c.fRankJobCity = #{captureJobCriteria.rankJobCity}
            </when>
            <otherwise>
                AND c.fRankJobCity IS NULL
            </otherwise>
        </choose>
        ORDER BY c.fExectionTime
        limit 1
    </select>

    <select id="getCaptureRankJobStatus" resultType="java.lang.Boolean">
        select
        c.fCaptureRankJobStatus
        from t_capture_rank_job c
        where
        c.fUuid=#{captureRankJobUuid}
    </select>

    <update id="resetCaptureRankJobs">
        UPDATE t_capture_rank_job
        SET fExectionStatus = 'New'
        WHERE fUuid IN
        <foreach collection="uuids" item="uuid" separator="," open="(" close=")">
            #{uuid}
        </foreach>
    </update>

    <select id="hasUncompletedCaptureRankJob" resultType="Long">
        SELECT
        1
        FROM t_capture_rank_job c
        WHERE (
        c.fExectionStatus = 'New'
        OR (c.fExectionType = 'Everyday'
        AND c.fLastExecutionDate &lt; curdate())
        )
        <if test="rankJobArea != null">
          AND fRankJobArea = #{rankJobArea}
        </if>
        AND c.fCaptureRankJobStatus = 1
        AND c.fQZSettingUuid IS NULL
        <if test="groupNames!=null"> and c.fGroupNames IN
            <foreach collection="groupNames" item="groupName" open="(" separator="," close=")">
                #{groupName}
            </foreach>
        </if>
        LIMIT 1
    </select>

    <delete id="deleteCaptureRankJob">
        DELETE FROM t_capture_rank_job
        WHERE fQZSettingUuid = #{qzSettingUuid}
        <if test="operationType != null">
            AND fOperationType = #{operationType}
        </if>
    </delete>

    <select id="findExistCaptureRankJob" resultType="com.keymanager.monitoring.entity.CaptureRankJob">
        SELECT
            crj.fUuid AS 'uuid',
            crj.fGroupNames AS 'groupNames'
        FROM t_capture_rank_job crj
        WHERE crj.fQZSettingUuid = #{qzSettingUuid}
        AND crj.fOperationType = #{operationType}
        LIMIT 1
    </select>

    <select id="checkCaptureJobCompletedByCustomerUuid" resultType="java.lang.Boolean">
        SELECT IF(jobCount = completedCount, TRUE, FALSE) as result
        FROM (
             SELECT (
                        select COUNT(1)
                        from t_capture_rank_job
                        where fCustomerUuid = #{customerUuid}
                          and fCaptureRankJobStatus = 1
                          and fExectionTime &lt; current_time()
                    ) AS jobCount,
                    (
                        select COUNT(1)
                        from t_capture_rank_job
                        where fCustomerUuid = #{customerUuid}
                          and fCaptureRankJobStatus = 1
                          and fExectionTime &lt; current_time()
                          and fLastExecutionDate = current_date()
                          and fEndTime &gt; current_date()
                          and fExectionStatus = 'Complete'
                    ) AS completedCount
         ) AS counts
    </select>

    <update id="updateCaptureRankJobsStatus">
        UPDATE t_capture_rank_job
        SET fUpdateTime = NOW(), fUpdateBy = #{updateBy}, fCaptureRankJobStatus = #{captureRankJobStatus}
        WHERE fUuid IN
        <foreach collection="uuids" item="uuid" separator="," open="(" close=")">
            #{uuid}
        </foreach>
    </update>
</mapper>