<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.CaptureRankJobDao">
    <sql id="colID">
        c.fUuid AS `uuid`,
        c.fGroupNames AS `groupNames`,
        c.fCustomerUuid AS `customerUuid`,
        c.fOperationType AS `operationType`,
        c.fExectionType AS `exectionType`,
        c.fExectionTime AS `exectionTime`,
        c.fExectionStatus  AS `exectionStatus`,
        c.fCaptureRankJobStatus  AS `captureRankJobStatus`,
        c.fStartTime AS `startTime`,
        c.fEndTime AS `endTime`,
        c.fCreateBy AS `createBy`,
        c.fUpdateBy AS `updateBy`,
        c.fCreateTime AS `createTime`,
        c.fUpdateTime AS `updateTime`,
        c.fLastExecutionDate AS `lastExecutionDate`,
        c.fRowNumber AS `rowNumber`,
        c.fExecutionCycle AS `executionCycle`,
        c.fCaptureInterval AS `captureInterval`,
        c.fPageSize AS `pageSize`
    </sql>
    <select id="searchCaptureRankJobs" resultType="com.keymanager.monitoring.entity.CaptureRankJob">
        select
        <include refid="colID"/>
        FROM t_capture_rank_job c
        <where>
            <if test="captureRankJobSearchCriteria.groupNames!=null and captureRankJobSearchCriteria.groupNames!=''"> and c.fGroupNames like '%${captureRankJobSearchCriteria.groupNames}%'</if>
            <if test="captureRankJobSearchCriteria.customerUuid!=null and captureRankJobSearchCriteria.customerUuid!=''"> and c.fcustomerUuid = #{captureRankJobSearchCriteria.customerUuid}</if>
            <if test="captureRankJobSearchCriteria.operationType!=null and captureRankJobSearchCriteria.operationType!=''"> and c.fOperationType = #{captureRankJobSearchCriteria.operationType}</if>
            <if test="captureRankJobSearchCriteria.exectionType!=null and captureRankJobSearchCriteria.exectionType!=''"> and c.fExectionType = #{captureRankJobSearchCriteria.exectionType}</if>
        </where>
    </select>
    <select id="provideCaptureRankJob" resultType="com.keymanager.monitoring.entity.CaptureRankJob">
        select
        <include refid="colID"/>
        from t_capture_rank_job c
        where
        (
        c.fExectionStatus='New' or
        (c.fExectionStatus='Complete' and c.fExectionType='Everyday' and c.fLastExecutionDate &lt; curdate())
        )
        and c.fExectionTime &lt;= curtime()
        AND c.fCaptureRankJobStatus = 1
        order By c.fExectionTime
        limit 1;
    </select>
    <select id="getProcessingJob" resultType="com.keymanager.monitoring.entity.CaptureRankJob">
        select
        <include refid="colID"/>
        from t_capture_rank_job c
        where
        c.fExectionStatus='Processing'
        AND
        c.fCaptureRankJobStatus = 1
        order By c.fExectionTime
        limit 1;
    </select>

    <select id="getCaptureRankJobStatus" resultType="java.lang.Boolean">
        select
        c.fCaptureRankJobStatus
        from t_capture_rank_job c
        where
        c.fUuid=#{captureRankJobUuid}
    </select>

</mapper>