<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.CaptureRankJobDao">
    <sql id="colID">
        c.fUuid AS `uuid`,
        c.fGroupNames AS `groupNames`,
        c.fCustomerUuid AS `customerUuid`,
        c.fQZSettingUuid AS `qzSettingUuid`,
        c.fOperationType AS `operationType`,
        c.fExectionType AS `exectionType`,
        c.fExectionTime AS `exectionTime`,
        c.fExectionStatus  AS `exectionStatus`,
        c.fCaptureRankJobStatus  AS `captureRankJobStatus`,
        c.fStartTime AS `startTime`,
        c.fEndTime AS `endTime`,
        c.fCreateBy AS `createBy`,
        c.fUpdateBy AS `updateBy`,
        c.fCreateTime AS `createTime`,
        c.fUpdateTime AS `updateTime`,
        c.fLastExecutionDate AS `lastExecutionDate`,
        c.fRowNumber AS `rowNumber`,
        c.fExecutionCycle AS `executionCycle`,
        c.fCaptureInterval AS `captureInterval`,
        c.fCaptureDaysInterval AS `captureDaysInterval`,
        c.fPageSize AS `pageSize`
    </sql>

    <select id="searchCaptureRankJobs" resultType="com.keymanager.monitoring.entity.CaptureRankJob">
        SELECT
            <include refid="colID"/>
        FROM
            t_capture_rank_job c
        <where>
            <if test="captureRankJobSearchCriteria.groupNames!=null and captureRankJobSearchCriteria.groupNames!=''">
                AND c.fGroupNames LIKE '%${captureRankJobSearchCriteria.groupNames}%'
            </if>
            <if test="captureRankJobSearchCriteria.customerUuid!=null and captureRankJobSearchCriteria.customerUuid!=''">
                AND c.fcustomerUuid = #{captureRankJobSearchCriteria.customerUuid}
            </if>
            <if test="captureRankJobSearchCriteria.operationType!=null and captureRankJobSearchCriteria.operationType!=''">
                AND c.fOperationType = #{captureRankJobSearchCriteria.operationType}
            </if>
            <if test="captureRankJobSearchCriteria.exectionType!=null and captureRankJobSearchCriteria.exectionType!=''">
                AND c.fExectionType = #{captureRankJobSearchCriteria.exectionType}
            </if>
            <if test="captureRankJobSearchCriteria.exectionStatus!=null and captureRankJobSearchCriteria.exectionStatus!=''">
                AND c.fExectionStatus = #{captureRankJobSearchCriteria.exectionStatus}
            </if>
            <if test="captureRankJobSearchCriteria.jobType == 'Specify'">
                AND c.fQZSettingUuid > 0
            </if>
            <if test="captureRankJobSearchCriteria.jobType == 'Common'">
                AND c.fQZSettingUuid IS NULL
            </if>
        </where>
    </select>

    <select id="provideCaptureRankJob" resultType="com.keymanager.monitoring.entity.CaptureRankJob">
        SELECT
            <include refid="colID"/>
        FROM
            t_capture_rank_job c
        WHERE
        <if test="jobType == 'Common'">
            c.fQZSettingUuid IS NULL
        </if>
        <if test="jobType == 'Specify'">
            c.fQZSettingUuid &gt; 0
        </if>
        AND
        (
            c.fExectionStatus='New' OR
            (
                c.fExectionStatus='Complete'
                AND c.fExectionType='Everyday'
                AND (c.fLastExecutionDate &lt; curdate() OR c.fLastExecutionDate IS NULL)
                AND DATEDIFF(NOW(),fLastExecutionDate) &gt;= fCaptureDaysInterval
            )
        )
        AND
            c.fExectionTime &lt;= curtime()
        AND
            c.fCaptureRankJobStatus = 1
        ORDER BY
            c.fExectionTime
        limit 1;
    </select>

    <select id="getProcessingJob" resultType="com.keymanager.monitoring.entity.CaptureRankJob">
        select
        <include refid="colID"/>
        from t_capture_rank_job c
        where
        c.fExectionStatus='Processing'
        AND
        c.fCaptureRankJobStatus = 1
        order By c.fExectionTime
        limit 1;
    </select>

    <select id="getCaptureRankJobStatus" resultType="java.lang.Boolean">
        select
        c.fCaptureRankJobStatus
        from t_capture_rank_job c
        where
        c.fUuid=#{captureRankJobUuid}
    </select>

    <select id="hasUncompletedCaptureRankJob" resultType="Long">
        SELECT
        1
        FROM t_capture_rank_job c
        WHERE (
        c.fExectionStatus = 'New'
        OR (c.fExectionStatus = 'Complete'
        AND c.fExectionType = 'Everyday'
        AND c.fLastExecutionDate &lt; curdate())
        )
        AND c.fCaptureRankJobStatus = 1
        <if test="groupNames!=null"> and c.fGroupNames IN
            <foreach collection="groupNames" item="groupName" open="(" separator="," close=")">
                #{groupName}
            </foreach>
        </if>
        LIMIT 1
    </select>

    <select id="searchFiveMiniSetCheckingJobs" resultType="com.keymanager.monitoring.entity.CaptureRankJob">
        SELECT
            c.fUuid as `uuid`,
            c.fQZSettingUuid as `qzSettingUuid`,
            c.fOperationType as `operationType`,
            c.fGroupNames as `groupNames`
        FROM
            t_capture_rank_job c
        WHERE
            c.fExectionStatus = 'Checking'
        AND
            c.fEndTime &lt; DATE_SUB(NOW(),INTERVAL 5 MINUTE)
    </select>

    <select id="searchThreeMiniStatusEqualsOne" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            t_customer_keyword
        WHERE
            fTerminalType = #{terminalType}
        AND
            fOptimizeGroupName = #{groupName}
        AND
            fStatus = 1
        AND
            fCaptureStatus = 1
        AND
            fCapturePositionQueryTime &lt; DATE_SUB(NOW(),INTERVAL 2 MINUTE)
    </select>

    <delete id="deleteCaptureRankJob">
        DELETE FROM t_capture_rank_job
        WHERE fQZSettingUuid = #{qzSettingUuid}
        <if test="operationType != null">
            AND fOperationType = #{operationType}
        </if>
    </delete>

    <select id="searchCountByPosition" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
            t_customer_keyword
        WHERE
            fTerminalType = #{captureRankJob.operationType}
        AND
            fOptimizeGroupName = #{captureRankJob.groupNames}
        AND
            fCustomerKeywordSource = 'specify'
        AND
            fStatus = 1
        AND
            fCurrentPosition &lt;= #{position}
        AND
            fCurrentPosition &gt; 0
    </select>
</mapper>