<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.CaptureCurrentRankJobDao">
    <sql id="colID">
        c.fUuid AS `uuid`,
        c.fGroupNames AS `groupNames`,
        c.fCustomerID AS `customerID`,
        c.fOperationType AS `operationType`,
        c.fExectionType AS `exectionType`,
        c.fExectionTime AS `exectionTime`,
        c.fExectionStatus  AS `exectionStatus`,
        c.fStartTime AS `startTime`,
        c.fEndTime AS `endTime`,
        c.fCreateBy AS `createBy`,
        c.fUpdateBy AS `updateBy`,
        c.fCreateTime AS `createTime`,
        c.fUpdateTime AS `updateTime`,
        c.fLastExecutionDate AS `lastExecutionDate`
    </sql>
    <select id="searchCaptureCurrentRankJob" resultType="com.keymanager.monitoring.entity.CaptureCurrentRankJob">
        select
        <include refid="colID"/>
        FROM t_capture_rank_job c
        <where>
            <if test="captureCurrentRankJobCriteria.groupNames!=null and captureCurrentRankJobCriteria.groupNames!=''"> and c.fGroupNames like '%${captureCurrentRankJobCriteria.groupNames}%'</if>
            <if test="captureCurrentRankJobCriteria.customerID!=null and captureCurrentRankJobCriteria.customerID!=''"> and c.fCustomerID = #{captureCurrentRankJobCriteria.customerID}</if>
            <if test="captureCurrentRankJobCriteria.operationType!=null and captureCurrentRankJobCriteria.operationType!=''"> and c.fOperationType = #{captureCurrentRankJobCriteria.operationType}</if>
            <if test="captureCurrentRankJobCriteria.exectionType!=null and captureCurrentRankJobCriteria.exectionType!=''"> and c.fExectionType = #{captureCurrentRankJobCriteria.exectionType}</if>
        </where>
    </select>
    <select id="provideCaptureCurrentRankJob" resultType="com.keymanager.monitoring.entity.CaptureCurrentRankJob">
         select c.fUuid as uuid,c.fGroupNames AS `groupNames`,c.fCustomerID AS `customerID` from t_capture_rank_job c
         where
         (
            c.fExectionStatus IS null or c.fExectionStatus='' or
            (c.fExectionStatus='complete' and c.fExectionType='everyday' and c.fLastExecutionDate &lt; curdate())
          )
            and c.fExectionTime &lt;= curtime()
            order By c.fExectionTime
            limit 1;
    </select>
</mapper>