<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.ClientStatusDao">
    <select id="searchClientStatusForRefreshStat" parameterType="com.keymanager.monitoring.criteria.CustomerKeywordRefreshStatInfoCriteria" resultType="com.keymanager.monitoring.entity.ClientStatus">
        SELECT DISTINCT
          <include refid="selectCol" />
        FROM t_customer_keyword ck, t_customer c, t_client_status cs
        WHERE ck.fType = #{customerKeywordRefreshStatInfoCriteria.entryType}
        AND cs.fTerminalType = #{customerKeywordRefreshStatInfoCriteria.terminalType}
        AND cs.fValid = 1
        AND ck.fCustomerUuid = c.fUuid
        AND ck.fOptimizeGroupName = cs.fGroup
        <if test="customerKeywordRefreshStatInfoCriteria.groupName!=null || customerKeywordRefreshStatInfoCriteria.groupName!=''">AND ck.fOptimizeGroupName like concat('%', #{customerKeywordRefreshStatInfoCriteria.groupName}, '%')</if>
        <if test="customerKeywordRefreshStatInfoCriteria.customerName!=null || customerKeywordRefreshStatInfoCriteria.customerName!=''">AND c.fContactPerson like concat('%', #{customerKeywordRefreshStatInfoCriteria.customerName}, '%')</if>
        ORDER BY ck.fOptimizeGroupName
    </select>

    <sql id="selectCol">
        cs.fClientID AS "clientID",
        cs.fTerminalType AS "terminalType",
        cs.fClientIDPrefix AS "clientIDPrefix",
        cs.fVersion AS "version",
        cs.fTargetVersion AS "targetVersion",
        cs.fPageNo AS "pageNo",
        cs.fContinuousFailCount AS "continuousFailCount",
        cs.fCity AS "city",
        cs.fGroup AS "group",
        cs.fOperationType AS "operationType",
        cs.fPage AS "page",
        cs.fPageSize AS "pageSize",
        cs.fZhanneiPercent AS "zhanneiPercent",
        cs.fKuaizhaoPercent AS "kuaizhaoPercent",
        cs.fBaiduSemPercent AS "baiduSemPercent",
        cs.fDragPercent AS "dragPercent",
        cs.fMultiBrowser AS "multiBrowser",
        cs.fClearCookie AS "clearCookie",
        cs.fDisableStatistics AS "disableStatistics",
        cs.fAllowSwitchGroup AS "allowSwitchGroup",
        cs.fEntryPageMinCount AS "entryPageMinCount",
        cs.fEntryPageMaxCount AS "entryPageMaxCount",
        cs.fDisableVisitWebsite AS "disableVisitWebsite",
        cs.fPageRemainMinTime AS "pageRemainMinTime",
        cs.fPageRemainMaxTime AS "pageRemainMaxTime",
        cs.fInputDelayMinTime AS "inputDelayMinTime",
        cs.fInputDelayMaxTime AS "inputDelayMaxTime",
        cs.fSlideDelayMinTime AS "slideDelayMinTime",
        cs.fSlideDelayMaxTime AS "slideDelayMaxTime",
        cs.fTitleRemainMinTime AS "titleRemainMinTime",
        cs.fTitleRemainMaxTime AS "titleRemainMaxTime",
        cs.fOptimizeKeywordCountPerIP AS "optimizeKeywordCountPerIP",
        cs.fOneIPOneUser AS "oneIPOneUser",
        cs.fRandomlyClickNoResult AS "randomlyClickNoResult",
        cs.fJustVisitSelfPage AS "justVisitSelfPage",
        cs.fSleepPer2Words AS "sleepPer2Words",
        cs.fSupportPaste AS "supportPaste",
        cs.fMoveRandomly AS "moveRandomly",
        cs.fParentSearchEntry AS "parentSearchEntry",
        cs.fClearLocalStorage AS "clearLocalStorage",
        cs.fLessClickAtNight AS "lessClickAtNight",
        cs.fSameCityUser AS "sameCityUser",
        cs.fLocateTitlePosition AS "locateTitlePosition",
        cs.fBaiduAllianceEntry AS "baiduAllianceEntry",
        cs.fJustClickSpecifiedTitle AS "justClickSpecifiedTitle",
        cs.fRandomlyClickMoreLink AS "randomlyClickMoreLink",
        cs.fMoveUp20 AS "moveUp20",
        cs.fWaitTimeAfterOpenBaidu AS "waitTimeAfterOpenBaidu",
        cs.fWaitTimeBeforeClick AS "waitTimeBeforeClick",
        cs.fWaitTimeAfterClick AS "waitTimeAfterClick",
        cs.fMaxUserCount AS "maxUserCount",
        cs.fHost AS "host",
        cs.fPort AS "port",
        cs.fUserName AS "userName",
        cs.fPassword AS "password",
        cs.fBroadbandAccount AS "broadbandAccount",
        cs.fBroadbandPassword AS "broadbandPassword",
        cs.fFreeSpace AS "freeSpace",
        cs.fVPSBackendSystemComputerID AS "vPSBackendSystemComputerID",
        cs.fVPSBackendSystemPassword AS "vPSBackendSystemPassword",
        cs.fLastVisitTime AS "lastVisitTime",
        cs.fLastSendNotificationTime AS "lastSendNotificationTime",
        cs.fRestartCount AS "restartCount",
        cs.fRestartStatus AS "restartStatus",
        cs.fRestartTime AS "restartTime",
        cs.fValid AS "valid",
        cs.fRestartOrderingTime AS "restartOrderingTime",
        cs.fOptimizationStartDate AS "optimizationStartDate",
        cs.fOptimizationTotalCount AS "optimizationTotalCount",
        cs.fOptimizationSucceedCount AS "optimizationSucceedCount",
        cs.fRenewalDate AS "renewalDate",
        cs.fStatus AS "status",
        cs.fUpgradeFailedReason AS "upgradeFailedReason",
        cs.fCreateTime AS "createTime"
    </sql>

    <update id="updateClientStatusTargetVersion">
        UPDATE t_client_status SET fTargetVersion = #{targetVersion}
        WHERE fClientID IN
        <foreach item="item" collection="clientIDs" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <delete id="deleteClientStatus">
        DELETE FROM t_client_status WHERE fClientID IN
        <foreach item="item" collection="clientIDs" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="searchClientStatuses" parameterType="com.keymanager.monitoring.criteria.ClientStatusCriteria" resultType="com.keymanager.monitoring.entity.ClientStatus">
        SELECT
        <include refid="selectCol" />
        FROM
        t_client_status cs
        WHERE cs.fTerminalType = #{clientStatusCriteria.terminalType}
        <if test="clientStatusCriteria.clientID != null and clientStatusCriteria.clientID != ''"> AND cs.fClientID like '%${clientStatusCriteria.clientID}%'</if>
        <if test="clientStatusCriteria.groupName != null and clientStatusCriteria.groupName != ''"> AND cs.fGroup like '%${clientStatusCriteria.groupName}%'</if>
        <if test="clientStatusCriteria.upgradeFailedReason != null and clientStatusCriteria.upgradeFailedReason != ''"> AND cs.fUpgradeFailedReason like '%${clientStatusCriteria.upgradeFailedReason}%'</if>
        <if test="clientStatusCriteria.version != null and clientStatusCriteria.version != ''"> AND cs.fVersion like concat(#{clientStatusCriteria.version},'%')</if>
        <if test="clientStatusCriteria.noOperationType != null and clientStatusCriteria.noOperationType != ''"> AND (cs.fOperationType is null or cs.fOperationType = '')</if>
        <if test="clientStatusCriteria.noOperationType == null and clientStatusCriteria.operationType != null and clientStatusCriteria.operationType != ''">
            AND cs.fOperationType = #{clientStatusCriteria.operationType}
        </if>
        <if test="clientStatusCriteria.city != null and clientStatusCriteria.city != ''"> AND cs.fCity like concat(#{clientStatusCriteria.city},'%')</if>
        <if test="clientStatusCriteria.valid != null and clientStatusCriteria.valid != ''"> AND cs.fValid = #{clientStatusCriteria.valid}</if>
        <if test="clientStatusCriteria.hasProblem != null"> AND (cs.fContinuousFailCount &gt; 5 OR DATE_ADD(cs.fLastVisitTime, INTERVAL IF((10 &gt; (cs.fPageNo*3)), 10, (cs.fPageNo * 3)) MINUTE) &lt; NOW()) and cs.fValid = 1</if>
        <if test="clientStatusCriteria.renewal != null"> AND DATE_ADD(cs.fRenewalDate, INTERVAL -3 DAY) &lt; CURRENT_DATE() and cs.fValid = 1</if>
        <if test="clientStatusCriteria.noGroup != null"> AND (cs.fGroup is null or cs.fGroup = '')</if>
        <if test="clientStatusCriteria.noVNC != null"> AND (cs.fHost is null or cs.fHost = '')</if>
        <if test="clientStatusCriteria.noUpgrade != null"> AND (cs.fVersion &lt;&gt; cs.fTargetVersion)</if>
        <if test="clientStatusCriteria.orderBy != null and clientStatusCriteria.orderBy != ''"> ORDER BY ${clientStatusCriteria.orderBy}</if>
    </select>

    <select id="searchBadClientStatus" parameterType="com.keymanager.monitoring.criteria.ClientStatusCriteria" resultType="com.keymanager.monitoring.entity.ClientStatus">
        SELECT
        <include refid="selectCol" />
        FROM
        t_client_status cs
        WHERE cs.fTerminalType = #{clientStatusCriteria.terminalType}
        <if test="clientStatusCriteria.groupName != null and clientStatusCriteria.groupName != ''">AND cs.fGroup = #{clientStatusCriteria.groupName}</if>
        AND (cs.fContinuousFailCount &gt; 5 OR DATE_ADD(cs.fLastVisitTime, INTERVAL IF((10 &gt; (cs.fPageNo*3)), 10, (cs.fPageNo * 3)) MINUTE) &lt; NOW()) and cs.fValid = 1
    </select>

    <select id="getClientStatusByClientID" parameterType="java.lang.String" resultType="com.keymanager.monitoring.entity.ClientStatus">
        SELECT
        <include refid="selectCol" />
        FROM
        t_client_status cs
        WHERE cs.fTerminalType = #{terminalType}
        AND cs.fClientID = #{clientID}
    </select>

    <update id="resetRestartStatusForProcessing">
        UPDATE t_client_status SET fRestartStatus = NULL WHERE (fRestartStatus = 'Processing' or fRestartStatus = 'Logging')
    </update>

    <select id="searchClientStatusesOrByHost" parameterType="java.lang.String" resultType="com.keymanager.monitoring.entity.ClientStatus">
        SELECT
        <include refid="selectCol" />
        FROM
        t_client_status cs
        WHERE cs.fTerminalType = #{terminalType}
        <if test="comfirm != null"> and (cs.fHost is not null or cs.fHost &lt;&gt; '')</if>
    </select>

    <update id="updateClientVersion">
        UPDATE t_client_status
        SET fVersion = #{version}, fRestartCount = 0, fRestartStatus = null
        WHERE fClientID = #{clientID}
    </update>

    <insert id="addSummaryClientStatus" parameterType="com.keymanager.monitoring.entity.ClientStatus">
        INSERT INTO t_client_status
        (fTerminalType,
        fFreeSpace,
        fVersion,
        fCity,
        fClientID,
        fClientIDPrefix,
        fHost,
        fPort,
        fUserName,
        fPassword,
        fVPSBackendSystemComputerID,
        fLastVisitTime,
        fLastSendNotificationTime,
        fRenewalDate,
        fCreateTime)
        VALUES (#{clientStatus.terminalType},
        #{clientStatus.freeSpace},
        #{clientStatus.version},
        #{clientStatus.city},
        #{clientStatus.clientID},
        #{clientStatus.clientIDPrefix},
        #{clientStatus.host},
        #{clientStatus.port},
        #{clientStatus.userName},
        #{clientStatus.password},
        #{clientStatus.vpsBackendSystemComputerID},
        NOW(),
        NULL,
        DATE_ADD(CURRENT_DATE(), INTERVAL - 1 DAY),
        NOW())
    </insert>

    <update id="updateOptimizationResult">
        UPDATE t_client_status
        SET fRestartOrderingTime = NOW(),
        fOptimizationStartDate = IF(fOptimizationStartDate IS NULL, CURRENT_DATE(), fOptimizationStartDate),
        fOptimizationTotalCount = fOptimizationTotalCount + 1,
        fOptimizationSucceedCount = fOptimizationSucceedCount + #{count},
        fLastVisitTime = NOW(),
        <choose>
            <when test="count == 0">
                fContinuousFailCount = fContinuousFailCount + 1,
            </when>
            <when test="count == 1">
                fContinuousFailCount = 0,
            </when>
        </choose>
        fLastSendNotificationTime = NULL,
        fStatus = #{status},
        fFreeSpace = #{freeSpace},
        fVersion = #{version},
        fCity = #{city}
        WHERE fClientID = #{clientID}
    </update>


    <select id="searchClientStatusSummaryVO" resultType="com.keymanager.value.ClientStatusSummaryVO">
        SELECT cs.fClientIDPrefix as clientIDPrefix, cs.fTerminalType as type, cs.fCity as city, COUNT(1) as 'count'
        FROM t_client_status cs
        <where> cs.fValid = 1
            <if test="clientIDPrefix!=null and clientIDPrefix!=''">and cs.fClientIDPrefix LIKE '%${clientIDPrefix}%'</if>
            <if test="city!=null and city!=''">and cs.fCity LIKE '%${city}%'</if>
        </where>
        GROUP BY cs.fClientIDPrefix, cs.fTerminalType, cs.fCity ORDER BY cs.fClientIDPrefix
    </select>

    <select id="searchClientStatusGroupSummaryVO" resultType="com.keymanager.value.ClientStatusGroupSummaryVO">
        SELECT cs.fGroup as 'group', cs.fTerminalType as terminalType, COUNT(1) AS 'count' FROM t_client_status cs
        <where>
            <if test="group!=null and group!=''">and cs.fGroup LIKE '%${group}%'</if>
            <if test="terminalType!=null and terminalType!=''">and cs.fTerminalType = #{terminalType}</if>
        </where>
        GROUP BY cs.fGroup, cs.fTerminalType ORDER BY cs.fGroup
    </select>

    <select id="searchRestartingClientStatuses" resultType="com.keymanager.monitoring.entity.ClientStatus">
        SELECT
        <include refid="selectCol" />
        FROM t_client_status cs
        WHERE cs.fTerminalType = #{terminalType}
        AND (DATE_ADD(fLastVisitTime, INTERVAL 10 MINUTE) &lt; NOW() and fValid = 1
        AND (fRestartStatus = 'restarting' AND DATE_ADD(fRestartTime, INTERVAL 3 MINUTE) &lt; NOW())
        AND (fHost is not null and fHost &lt;&gt; '')) order by fRestartOrderingTime
    </select>


    <select id="searchWaitingRestartingClientStatuses" resultType="com.keymanager.monitoring.entity.ClientStatus">
        SELECT
        <include refid="selectCol" />
        FROM t_client_status cs
        WHERE cs.fTerminalType = #{terminalType}
        AND (fContinuousFailCount > 5 OR DATE_ADD(fLastVisitTime, INTERVAL IF((10 > (fPageNo*3)), 10, (fPageNo * 3)) MINUTE) &lt; NOW())
        AND (fRestartTime IS NULL OR DATE_ADD(fRestartTime, INTERVAL 10 MINUTE) &lt; NOW())
        AND fValid = 1 AND (fHost is not null and fHost &lt;&gt; '') order by fRestartOrderingTime
    </select>

    <update id="resetRestartStatusForProcessing">
        UPDATE t_client_status SET fRestartStatus = NULL WHERE (fRestartStatus = 'Processing' or fRestartStatus = 'Logging')
    </update>
</mapper>