<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.ClientUpgradeDao">
    <select id="searchClientUpgrades" resultType="com.keymanager.monitoring.entity.ClientUpgrade">
        SELECT
            fUuid AS 'uuid',
            fType AS 'type',
            fVersion AS 'version',
            fTargetVersion AS 'targetVersion',
            fStatus AS 'status',
            fMaxUpgradeCount AS 'maxUpgradeCount',
            fUpdateTime AS 'updateTime',
            fCreateTime AS 'createTime'
        FROM t_client_upgrade
    </select>
</mapper>