<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.ClientStatusDao">
    <sql id="selectCol">
        fClientID AS "clientID",
            fTerminalType AS "terminalType",
            fClientIDPrefix AS "clientIDPrefix",
            fVersion AS "version",
            fTargetVersion AS "targetVersion",
            fPageNo AS "pageNo",
            fContinuousFailCount AS "continuousFailCount",
            fCity AS "city",
            fGroup AS "group",
            fOperationType AS "operationType",
            fPage AS "page",
            fPageSize AS "pageSize",
            fZhanneiPercent AS "zhanneiPercent",
            fKuaizhaoPercent AS "kuaizhaoPercent",
            fBaiduSemPercent AS "baiduSemPercent",
            fDragPercent AS "dragPercent",
            fMultiBrowser AS "multiBrowser",
            fClearCookie AS "clearCookie",
            fDisableStatistics AS "disableStatistics",
            fAllowSwitchGroup AS "allowSwitchGroup",
            fEntryPageMinCount AS "entryPageMinCount",
            fEntryPageMaxCount AS "entryPageMaxCount",
            fDisableVisitWebsite AS "disableVisitWebsite",
            fPageRemainMinTime AS "pageRemainMinTime",
            fPageRemainMaxTime AS "pageRemainMaxTime",
            fInputDelayMinTime AS "inputDelayMinTime",
            fInputDelayMaxTime AS "inputDelayMaxTime",
            fSlideDelayMinTime AS "slideDelayMinTime",
            fSlideDelayMaxTime AS "slideDelayMaxTime",
            fTitleRemainMinTime AS "titleRemainMinTime",
            fTitleRemainMaxTime AS "titleRemainMaxTime",
            fOptimizeKeywordCountPerIP AS "optimizeKeywordCountPerIP",
            fOneIPOneUser AS "oneIPOneUser",
            fRandomlyClickNoResult AS "randomlyClickNoResult",
            fJustVisitSelfPage AS "justVisitSelfPage",
            fSleepPer2Words AS "sleepPer2Words",
            fSupportPaste AS "supportPaste",
            fMoveRandomly AS "moveRandomly",
            fParentSearchEntry AS "parentSearchEntry",
            fClearLocalStorage AS "clearLocalStorage",
            fLessClickAtNight AS "lessClickAtNight",
            fSameCityUser AS "sameCityUser",
            fLocateTitlePosition AS "locateTitlePosition",
            fBaiduAllianceEntry AS "baiduAllianceEntry",
            fJustClickSpecifiedTitle AS "justClickSpecifiedTitle",
            fRandomlyClickMoreLink AS "randomlyClickMoreLink",
            fMoveUp20 AS "moveUp20",
            fWaitTimeAfterOpenBaidu AS "waitTimeAfterOpenBaidu",
            fWaitTimeBeforeClick AS "waitTimeBeforeClick",
            fWaitTimeAfterClick AS "waitTimeAfterClick",
            fMaxUserCount AS "maxUserCount",
            fHost AS "host",
            fPort AS "port",
            fUserName AS "userName",
            fPassword AS "password",
            fFreeSpace AS "freeSpace",
            fVPSBackendSystemComputerID AS "vPSBackendSystemComputerID",
            fVPSBackendSystemPassword AS "vPSBackendSystemPassword",
            fLastVisitTime AS "lastVisitTime",
            fLastSendNotificationTime AS "lastSendNotificationTime",
            fRestartCount AS "restartCount",
            fRestartStatus AS "restartStatus",
            fRestartTime AS "restartTime",
            fValid AS "valid",
            fRestartOrderingTime AS "restartOrderingTime",
            fOptimizationStartDate AS "optimizationStartDate",
            fOptimizationTotalCount AS "optimizationTotalCount",
            fOptimizationSucceedCount AS "optimizationSucceedCount",
            fRenewalDate AS "renewalDate",
            fStatus AS "status",
            fUpgradeFailedReason AS "upgradeFailedReason",
            fCreateTime AS "createTime"
    </sql>

    <select id="searchClientStatuses" parameterType="com.keymanager.monitoring.criteria.ClientStatusCriteria" resultType="com.keymanager.monitoring.entity.ClientStatus">
        SELECT
            <include refid="selectCol" />
        FROM
            t_client_status cs
        WHERE cs.fTerminalType = #{clientStatusCriteria.terminalType}
        <if test="clientStatusCriteria.clientID != null and clientStatusCriteria.clientID != ''"> AND cs.fClientID like '%${clientStatusCriteria.clientID}%'</if>
        <if test="clientStatusCriteria.groupName != null and clientStatusCriteria.groupName != ''"> AND cs.fGroup like '%${clientStatusCriteria.groupName}%'</if>
        <if test="clientStatusCriteria.upgradeFailedReason != null and clientStatusCriteria.upgradeFailedReason != ''"> AND cs.fUpgradeFailedReason like '%${clientStatusCriteria.upgradeFailedReason}%'</if>
        <if test="clientStatusCriteria.version != null and clientStatusCriteria.version != ''"> AND cs.fVersion like concat(#{clientStatusCriteria.version},'%')</if>
        <if test="clientStatusCriteria.noOperationType != null and clientStatusCriteria.noOperationType != ''"> AND cs.fOperationType is null</if>
        <if test="clientStatusCriteria.noOperationType == null and clientStatusCriteria.operationType != null and clientStatusCriteria.operationType != ''">
            AND cs.fOperationType = #{clientStatusCriteria.operationType}
        </if>
        <if test="clientStatusCriteria.city != null and clientStatusCriteria.city != ''"> AND cs.fCity like concat(#{clientStatusCriteria.city},'%')</if>
        <if test="clientStatusCriteria.valid != null and clientStatusCriteria.valid != ''"> AND cs.fValid = #{clientStatusCriteria.valid}</if>
        <if test="clientStatusCriteria.hasProblem != null"> AND (cs.fContinuousFailCount &gt; 5 OR DATE_ADD(cs.fLastVisitTime, INTERVAL IF((10 &gt; (cs.fPageNo*3)), 10, (cs.fPageNo * 3)) MINUTE) &lt; NOW()) and cs.fValid = 1</if>
        <if test="clientStatusCriteria.renewal != null"> AND DATE_ADD(cs.fRenewalDate, INTERVAL -3 DAY) &lt; CURRENT_DATE() and cs.fValid = 1</if>
        <if test="clientStatusCriteria.noGroup != null"> AND cs.fGroup is null</if>
        <if test="clientStatusCriteria.noVNC != null"> AND (cs.fHost is null or cs.fHost = '')</if>
        <if test="clientStatusCriteria.noUpgrade != null"> AND (cs.fVersion &lt;&gt; cs.fTargetVersion)</if>
        <if test="clientStatusCriteria.orderBy != null and clientStatusCriteria.orderBy != ''"> ORDER BY #{clientStatusCriteria.orderBy}</if>
    </select>

    <select id="getClientStatusByClientID" parameterType="java.lang.String" resultType="com.keymanager.monitoring.entity.ClientStatus">
        SELECT
            <include refid="selectCol" />
        FROM
            t_client_status cs
        WHERE cs.fTerminalType = #{terminalType}
        AND cs.fClientID = #{clientID}
    </select>

    <select id="resetRestartStatusForProcessing">
       UPDATE t_client_status SET fRestartStatus = NULL WHERE (fRestartStatus = 'Processing' or fRestartStatus = 'Logging')
    </select>

    <select id="searchClientStatusesOrByHost" parameterType="java.lang.String" resultType="com.keymanager.monitoring.entity.ClientStatus">
        SELECT
          <include refid="selectCol" />
        FROM
          t_client_status cs
        WHERE cs.fTerminalType = #{terminalType}
        <if test="comfirm != null"> and (cs.fHost is not null or cs.fHost &lt;&gt; '')</if>
    </select>

</mapper>