<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.ClientStatusDao">
    <select id="getClientStatusList" parameterType="com.keymanager.monitoring.criteria.CustomerKeywordRefreshStatInfoCriteria" resultType="com.keymanager.monitoring.entity.ClientStatus">
        SELECT DISTINCT
            cs.fClientID AS "clientID",
            cs.fTerminalType AS "terminalType",
            cs.fClientIDPrefix AS "clientIDPrefix",
            cs.fVersion AS "version",
            cs.fTargetVersion AS "targetVersion",
            cs.fPageNo AS "pageNo",
            cs.fContinuousFailCount AS "continuousFailCount",
            cs.fCity AS "city",
            cs.fGroup AS "group",
            cs.fOperationType AS "operationType",
            cs.fPage AS "page",
            cs.fPageSize AS "pageSize",
            cs.fZhanneiPercent AS "zhanneiPercent",
            cs.fKuaizhaoPercent AS "kuaizhaoPercent",
            cs.fBaiduSemPercent AS "baiduSemPercent",
            cs.fDragPercent AS "dragPercent",
            cs.fMultiBrowser AS "multiBrowser",
            cs.fClearCookie AS "clearCookie",
            cs.fDisableStatistics AS "disableStatistics",
            cs.fAllowSwitchGroup AS "allowSwitchGroup",
            cs.fEntryPageMinCount AS "entryPageMinCount",
            cs.fEntryPageMaxCount AS "entryPageMaxCount",
            cs.fDisableVisitWebsite AS "disableVisitWebsite",
            cs.fPageRemainMinTime AS "pageRemainMinTime",
            cs.fPageRemainMaxTime AS "pageRemainMaxTime",
            cs.fInputDelayMinTime AS "inputDelayMinTime",
            cs.fInputDelayMaxTime AS "inputDelayMaxTime",
            cs.fSlideDelayMinTime AS "slideDelayMinTime",
            cs.fSlideDelayMaxTime AS "slideDelayMaxTime",
            cs.fTitleRemainMinTime AS "titleRemainMinTime",
            cs.fTitleRemainMaxTime AS "titleRemainMaxTime",
            cs.fOptimizeKeywordCountPerIP AS "optimizeKeywordCountPerIP",
            cs.fOneIPOneUser AS "oneIPOneUser",
            cs.fRandomlyClickNoResult AS "randomlyClickNoResult",
            cs.fJustVisitSelfPage AS "justVisitSelfPage",
            cs.fSleepPer2Words AS "sleepPer2Words",
            cs.fSupportPaste AS "supportPaste",
            cs.fMoveRandomly AS "moveRandomly",
            cs.fParentSearchEntry AS "parentSearchEntry",
            cs.fClearLocalStorage AS "clearLocalStorage",
            cs.fLessClickAtNight AS "lessClickAtNight",
            cs.fSameCityUser AS "sameCityUser",
            cs.fLocateTitlePosition AS "locateTitlePosition",
            cs.fBaiduAllianceEntry AS "baiduAllianceEntry",
            cs.fJustClickSpecifiedTitle AS "justClickSpecifiedTitle",
            cs.fRandomlyClickMoreLink AS "randomlyClickMoreLink",
            cs.fMoveUp20 AS "moveUp20",
            cs.fWaitTimeAfterOpenBaidu AS "waitTimeAfterOpenBaidu",
            cs.fWaitTimeBeforeClick AS "waitTimeBeforeClick",
            cs.fWaitTimeAfterClick AS "waitTimeAfterClick",
            cs.fMaxUserCount AS "maxUserCount",
            cs.fHost AS "host",
            cs.fPort AS "port",
            cs.fUserName AS "userName",
            cs.fPassword AS "password",
            cs.fFreeSpace AS "freeSpace",
            cs.fVPSBackendSystemComputerID AS "vPSBackendSystemComputerID",
            cs.fVPSBackendSystemPassword AS "vPSBackendSystemPassword",
            cs.fLastVisitTime AS "lastVisitTime",
            cs.fLastSendNotificationTime AS "lastSendNotificationTime",
            cs.fRestartCount AS "restartCount",
            cs.fRestartStatus AS "restartStatus",
            cs.fRestartTime AS "restartTime",
            cs.fValid AS "valid",
            cs.fRestartOrderingTime AS "restartOrderingTime",
            cs.fOptimizationStartDate AS "optimizationStartDate",
            cs.fOptimizationTotalCount AS "optimizationTotalCount",
            cs.fOptimizationSucceedCount AS "optimizationSucceedCount",
            cs.fRenewalDate AS "renewalDate",
            cs.fStatus AS "status",
            cs.fUpgradeFailedReason AS "upgradeFailedReason",
            cs.fCreateTime AS "createTime"
        FROM t_customer_keyword ck, t_customer c, t_client_status cs
        WHERE ck.fType = #{customerKeywordRefreshStatInfoCriteria.type}
        AND cs.fValid = 1
        AND ck.fCustomerUuid = c.fUuid
        AND ck.fOptimizeGroupName = cs.fGroup
        <if test="customerKeywordRefreshStatInfoCriteria.groupName!=null || customerKeywordRefreshStatInfoCriteria.groupName!=''">AND ck.fOptimizeGroupName like concat('%', #{customerKeywordRefreshStatInfoCriteria.groupName}, "%")</if>
        <if test="customerKeywordRefreshStatInfoCriteria.customerName!=null || customerKeywordRefreshStatInfoCriteria.customerName!=''">AND c.fContactPerson like concat('%', #{customerKeywordRefreshStatInfoCriteria.customerName}, "%")</if>
        ORDER BY ck.fOptimizeGroupName
    </select>

    <update id="updateClientVersion">
        UPDATE t_client_status
        SET fVersion = #{version}, fRestartCount = 0, fRestartStatus = null
        WHERE fClientID = #{clientID}
    </update>

    <insert id="addSummaryClientStatus" parameterType="com.keymanager.monitoring.entity.ClientStatus">
        INSERT INTO t_client_status
            (fTerminalType,
             fFreeSpace,
             fVersion,
             fCity,
             fClientID,
             fClientIDPrefix,
             fHost,
             fPort,
             fUserName,
             fPassword,
             fVPSBackendSystemComputerID,
             fLastVisitTime,
             fLastSendNotificationTime,
             fRenewalDate,
             fCreateTime)
        VALUES (#{clientStatus.terminalType},
                #{clientStatus.freeSpace},
                #{clientStatus.version},
                #{clientStatus.city},
                #{clientStatus.clientID},
                #{clientStatus.clientIDPrefix},
                #{clientStatus.host},
                #{clientStatus.port},
                #{clientStatus.userName},
                #{clientStatus.password},
                #{clientStatus.vpsBackendSystemComputerID},
                NOW(),
                NULL,
                DATE_ADD(CURRENT_DATE(), INTERVAL - 1 DAY),
                NOW())
    </insert>

    <update id="updateOptimizationResult">
        UPDATE t_client_status
        SET fRestartOrderingTime = NOW(),
          fOptimizationStartDate = IF(fOptimizationStartDate IS NULL, CURRENT_DATE(), fOptimizationStartDate),
          fOptimizationTotalCount = fOptimizationTotalCount + 1,
          fOptimizationSucceedCount = fOptimizationSucceedCount + #{count},
          fLastVisitTime = NOW(),
          <choose>
              <when test="count == 0">
                  fContinuousFailCount = fContinuousFailCount + 1,
              </when>
              <when test="count == 1">
                  fContinuousFailCount = 0,
              </when>
          </choose>
          fLastSendNotificationTime = NULL,
          fStatus = #{status},
          fFreeSpace = #{freeSpace},
          fVersion = #{version},
          fCity = #{city}
        WHERE fClientID = #{clientID}
    </update>
</mapper>