<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.CookieDao">
    <sql id="selectCol">
        fUuid AS 'uuid',
        fCookieCount AS 'cookieCount',
        fCookieStr AS 'cookieStr',
        fSearchEngine AS 'searchEngine',
        fUpdateTime AS 'updateTime',
        fCreateTime AS 'createTime'
    </sql>

    <select id="getCookie" resultType="com.keymanager.monitoring.entity.Cookie">
        SELECT
            <include refid="selectCol"/>
        FROM t_cookie
        WHERE fSearchEngine = #{searchEngine}
        LIMIT 1
    </select>

    <select id="searchCookies" parameterType="com.keymanager.monitoring.criteria.CookieCriteria" resultType="com.keymanager.monitoring.entity.Cookie">
        SELECT
            <include refid="selectCol"/>
        FROM t_cookie
        WHERE 1 = 1
        <if test="cookieCriteria.searchEngine != null and cookieCriteria.searchEngine != ''">AND fSearchEngine = #{cookieCriteria.searchEngine}</if>
        <if test="cookieCriteria.createTime != null and cookieCriteria.createTime != ''">AND fCreateTime = #{cookieCriteria.createTime}</if>
        <if test="cookieCriteria.cookieStr != null and cookieCriteria.cookieStr != ''">AND fCookieStr LIKE '%${cookieCriteria.cookieStr}%'</if>
        ORDER BY fCreateTime
    </select>
</mapper>