<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.CustomerKeywordDao">
    <sql id="colID">
        ck.fUuid	AS	'uuid',
        ck.fTerminalType	AS	'terminalType',
        ck.fCustomerUuid	AS	'customerUuid',
        ck.fKeyword	AS	'keyword',
        ck.fUrl	AS	'url',
        ck.fType	AS	'type',
        ck.fOriginalUrl	AS	'originalUrl',
        ck.fTitle	AS	'title',
        ck.fSequence	AS	'sequence',
        ck.fCaptureTitleQueryTime	AS	'captureTitleQueryTime',
        ck.fCapturedTitle	AS	'capturedTitle',
        ck.fAutoUpdateNegativeDateTime	AS	'autoUpdateNegativeDateTime',
        ck.fBigKeyword	AS	'bigKeyword',
        ck.fSnapshotDateTime	AS	'snapshotDateTime',
        ck.fSearchEngine	AS	'searchEngine',
        ck.fInitialIndexCount	AS	'initialIndexCount',
        ck.fInitialPosition	AS	'initialPosition',
        ck.fCurrentIndexCount	AS	'currentIndexCount',
        ck.fCurrentPosition	AS	'currentPosition',
        ck.fQueryDate	AS	'queryDate',
        ck.fQueryCount	AS	'queryCount',
        ck.fInvalidRefreshCount	AS	'invalidRefreshCount',
        ck.fQueryTime	AS	'queryTime',
        ck.fQueryInterval	AS	'queryInterval',
        ck.fServiceProvider	AS	'serviceProvider',
        ck.fOptimizeGroupName	AS	'optimizeGroupName',
        ck.fOptimizePlanCount	AS	'optimizePlanCount',
        ck.fOptimizedCount	AS	'optimizedCount',
        ck.fOptimizedPercentage	AS	'optimizedPercentage',
        ck.fOptimizeDate	AS	'optimizeDate',
        ck.fLastOptimizeDateTime	AS	'lastOptimizeDateTime',
        ck.fOptimizePositionFirstPercentage	AS	'optimizePositionFirstPercentage',
        ck.fOptimizePositionSecondPercentage	AS	'optimizePositionSecondPercentage',
        ck.fOptimizePositionThirdPercentage	AS	'optimizePositionThirdPercentage',
        ck.fPositionFirstCost	AS	'positionFirstCost',
        ck.fPositionSecondCost	AS	'positionSecondCost',
        ck.fPositionThirdCost	AS	'positionThirdCost',
        ck.fPositionForthCost	AS	'positionForthCost',
        ck.fPositionFifthCost	AS	'positionFifthCost',
        ck.fPositionFirstFee	AS	'positionFirstFee',
        ck.fPositionSecondFee	AS	'positionSecondFee',
        ck.fPositionThirdFee	AS	'positionThirdFee',
        ck.fPositionForthFee	AS	'positionForthFee',
        ck.fPositionFifthFee	AS	'positionFifthFee',
        ck.fPositionFirstPageFee	AS	'positionFirstPageFee',
        ck.fCapturePositionQueryTime	AS	'capturePositionQueryTime',
        ck.fCaptureIndexQueryTime	AS	'captureIndexQueryTime',
        ck.fCollectMethod	AS	'collectMethod',
        ck.fStartOptimizedTime	AS	'startOptimizedTime',
        ck.fEffectiveFromTime	AS	'effectiveFromTime',
        ck.fEffectiveToTime	AS	'effectiveToTime',
        ck.fPaymentEffectiveFromTime	AS	'paymentEffectiveFromTime',
        ck.fPaymentEffectiveToTime	AS	'paymentEffectiveToTime',
        ck.fRelatedKeywords	AS	'relatedKeywords',
        ck.fPaymentStatus	AS	'paymentStatus',
        ck.fOrderNumber	AS	'orderNumber',
        ck.fRemarks	AS	'remarks',
        ck.fStatus	AS	'status',
        ck.fUpdateTime	AS	'updateTime',
        ck.fCreateTime	AS	'createTime'
    </sql>

    <update id="cleanSelectedCustomerKeywordTitle">
        UPDATE t_customer_keyword set fTitle = null where fUuid in
        <foreach item="item" index="index" collection="uuids" open="(" separator="," close=")">
          #{item}
        </foreach>
    </update>

    <update id="cleanCustomerTitle">
        UPDATE t_customer_keyword set fTitle = null where fTerminalType = #{terminalType} and fType = #{entryType} and fCustomerUuid = #{customerUuid}
    </update>

    <update id="cleanCaptureTitleFlag">
        UPDATE t_customer_keyword SET fTitle = NULL, fCaptureTitleQueryTime = NULL, fCapturedTitle = 0
        where fTerminalType = #{terminalType} and fCustomerUuid = #{customerUuid}  and fType = #{entryType}
    </update>

    <select id="getCustomerKeywordCount" resultType="int">
        SELECT COUNT(1) FROM t_customer_keyword ck WHERE ck.fCustomerUuid = #{customerUuid}
    </select>

    <select id="getCustomerKeywordsCount" resultType="java.util.Map">
        SELECT ck.fCustomerUuid, COUNT(1) as subCount FROM t_customer_keyword ck WHERE ck.fTerminalType = #{terminalType}
        and ck.fType = #{entryType} and ck.fCustomerUuid IN
        <foreach item="item" index="index" collection="customerUuids" open="(" separator="," close=")">
            #{item}
        </foreach>
         GROUP BY ck.fCustomerUuid
    </select>

    <select id="getSimilarCustomerKeywordCount" resultType="int">
        select Count(1) from t_customer_keyword where fKeyword = #{keyword} and fTerminalType = #{terminalType} and fCustomerUuid = #{customerUuid}
        and fOriginalUrl <![CDATA[ <> ]]> '' and fOriginalUrl like concat('%', #{originalUrl});
    </select>

    <select id="getMaxSequence" resultType="int">
        select max(fSequence) from t_customer_keyword where fTerminalType = #{terminalType} and fType = #{entryType} and fCustomerUuid =
        #{customerUuid};
    </select>

    <select id="searchSameCustomerKeywords" resultType="com.keymanager.monitoring.entity.CustomerKeyword">
        SELECT
        <include refid="colID"/>
        FROM t_customer_keyword ck
        WHERE ck.fKeyword = #{keyword} and ck.fTerminalType = #{terminalType} and ck.fCustomerUuid = #{customerUuid}
        order by ck.fCreateTime ASC
    </select>

    <select id="getCustomerKeywordsForCaptureIndex" resultType="com.keymanager.monitoring.entity.CustomerKeyword">
        SELECT
        <include refid="colID"/>
        FROM t_customer_keyword ck
        WHERE ck.fOptimizeGroupName IN ('pc_pm_xiaowu', 'm_pm_tiantian') AND ck.fCurrentIndexCount IS NULL AND ck.fPositionFirstFee IS NULL
        ORDER BY ck.fCaptureIndexQueryTime, ck.fCreateTime LIMIT 1
    </select>

    <select id="searchCustomerKeywordsForUpdateIndex" resultType="com.keymanager.monitoring.entity.CustomerKeyword">
        SELECT
        <include refid="colID"/>
        FROM t_customer_keyword ck
        WHERE ck.fOptimizeGroupName IN ('pc_pm_xiaowu', 'm_pm_tiantian') AND ck.fCurrentIndexCount IS NULL AND ck.fPositionFirstFee IS NULL
        AND ck.fKeyword = #{keyword}
        ORDER BY ck.fCaptureIndexQueryTime, ck.fCreateTime
    </select>

    <select id="updateCaptureIndexQueryTime">
        UPDATE t_customer_keyword SET fCaptureIndexQueryTime = NOW() WHERE fKeyword = #{keyword} and fCurrentIndexCount IS NULL and fOptimizeGroupName IN ('pc_pm_xiaowu', 'm_pm_xiaowu')
    </select>

    <!--重构部分-->
    <select id="searchCustomerKeywords" resultType="com.keymanager.monitoring.entity.CustomerKeyword">
        SELECT
          <include refid="colID"/>
        FROM  t_customer_keyword ck
        WHERE 1 = 1
        <if test="customerKeywordCrilteria.customerUuid != null and customerKeywordCrilteria.customerUuid != ''">AND ck.fCustomerUuid = #{customerKeywordCrilteria.customerUuid}</if>
        <if test="customerKeywordCrilteria.keyword != null and customerKeywordCrilteria.keyword != ''">AND ck.fKeyword like '${customerKeywordCrilteria.keyword}%'</if>
        <if test="customerKeywordCrilteria.url != null and customerKeywordCrilteria.url != ''">AND ck.fUrl like '%${customerKeywordCrilteria.url}%'</if>
        <if test="customerKeywordCrilteria.status != null and customerKeywordCrilteria.status != ''">AND ck.fStatus = #{customerKeywordCrilteria.status}</if>
        <if test="customerKeywordCrilteria.invalidRefreshCount != null and customerKeywordCrilteria.invalidRefreshCount != ''">AND ck.fInvalidRefreshCount = #{customerKeywordCrilteria.invalidRefreshCount}</if>
        <if test="customerKeywordCrilteria.optimizeGroupName != null and customerKeywordCrilteria.optimizeGroupName != ''">AND ck.fOptimizeGroupName  like '%${customerKeywordCrilteria.optimizeGroupName}%'</if>
        <if test="customerKeywordCrilteria.creationFromTime != null and customerKeywordCrilteria.creationFromTime != ''">AND ck.fCreateTime >= #{customerKeywordCrilteria.creationFromTime}</if>
        <if test="customerKeywordCrilteria.creationToTime != null and customerKeywordCrilteria.creationToTime != ''">AND ck.fCreateTime &lt;= #{customerKeywordCrilteria.creationToTime}</if>
        <if test="customerKeywordCrilteria.entryType != null and customerKeywordCrilteria.entryType != ''">AND ck.fType = #{customerKeywordCrilteria.entryType}</if>
        <if test="customerKeywordCrilteria.position != null and customerKeywordCrilteria.position != '' and customerKeywordCrilteria.noPosition == null "><![CDATA[AND fCurrentPosition > 0 and fCurrentPosition <= #{customerKeywordCrilteria.position}  ]]>   </if>
        <if test="customerKeywordCrilteria.noPosition == 1 ">AND ck.fCurrentPosition =  0    </if>
        <if test="customerKeywordCrilteria.terminalType != null and customerKeywordCrilteria.terminalType != ''">AND fTerminalType =  #{customerKeywordCrilteria.terminalType} </if>
        <if test="customerKeywordCrilteria.orderElement != null and customerKeywordCrilteria.orderElement != ''">
            ORDER BY ${customerKeywordCrilteria.orderElement}  DESC
        </if>
    </select>

    <update id="updateCustomerKeywordGroupName">
        UPDATE t_customer_keyword SET fOptimizeGroupName = #{customerKeywordUpdateGroupCriteria.targetGroupName},fUpdateTime = CURRENT_TIMESTAMP WHERE
        fTerminalType = #{customerKeywordUpdateGroupCriteria.terminalType}  AND fType = #{customerKeywordUpdateGroupCriteria.entryType}
        <if test="customerKeywordUpdateGroupCriteria.customerUuid !=null and customerKeywordUpdateGroupCriteria.customerUuid != ''">
            AND fCustomerUuid = #{customerKeywordUpdateGroupCriteria.customerUuid}
        </if>
         <if test="customerKeywordUpdateGroupCriteria.customerKeywordUuids != null"> AND fUuid IN
             <foreach item="item" index="index" collection="customerKeywordUpdateGroupCriteria.customerKeywordUuids" open="(" separator="," close=")">
                 #{item}
             </foreach>
         </if>
    </update>

    <delete id="deleteCustomerKeywordsByUuid">
        delete from t_customer_keyword where fUuid IN
        <foreach item="item" index="index" collection="customerKeywordUuids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteCustomerKeywordsWhenEmptyTitleAndUrl">
        delete from t_customer_keyword where fTerminalType = #{terminalType} AND fType = #{entryType} AND fCustomerUuid = #{customerUuid} AND (fTitle = '' or fTitle IS null) AND (fUrl = '' or fUrl IS NULL)
    </delete>

    <delete id="deleteCustomerKeywordsWhenEmptyTitle">
        delete from t_customer_keyword where fTerminalType = #{terminalType} AND fType = #{entryType} AND fCustomerUuid = #{customerUuid} AND (fTitle = '' or fTitle IS null)
    </delete>

    <select id="getGroups" resultType="String">
        SELECT DISTINCT ck.fOptimizeGroupName as 'group' FROM t_customer_keyword ck WHERE ck.fStatus = 1 AND ck.fOptimizeGroupName IS NOT NULL
        AND ck.fOptimizeGroupName <![CDATA[<>]]>'' ORDER BY ck.fOptimizeGroupName
    </select>
</mapper>