<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.CustomerChargeLogDao">
	<select id="findCustomerChargeLog" resultType="com.keymanager.monitoring.entity.CustomerChargeLog">
		SELECT
			fUuid AS 'uuid',
			fCustomerUuid AS 'customerUuid',
			fPlanChargeAmount AS 'planChargeAmount',
			fActualChargeAmount AS 'actualChargeAmount',
			fCashier AS 'cashier',
			fUpdateTime AS 'updateTime',
			fCreateTime AS 'createTime'
		FROM
			t_customer_charge_log
		WHERE fCustomerUuid = #{customerUuid}
	</select>
</mapper>