<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.keymanager.monitoring.dao.UpdateKeywordBearsPawNumberDao">

    <select id="getCustomerKeywordDistinctUrl" resultType="com.keymanager.monitoring.entity.CustomerKeyword">
        SELECT
            ck.fUuid	AS	'uuid',
            ck.fKeyword	AS	'keyword',
            ck.fUrl	    AS 'url'
        from t_customer_keyword ck
        LEFT JOIN t_customer c
        ON c.fUuid = ck.fCustomerUuid
        WHERE ck.fStatus = 1
        AND ck.fType &lt;&gt; 'fm'
        AND ck.fUrl IS NOT NULL
        GROUP BY ck.fUrl
    </select>

    <update id="updateBearPawByUrl">
        update t_customer_keyword
        set fBearPawNumber = #{xzNumber}
        where fUrl like CONCAT('%',#{url},'%')
    </update>

</mapper>
