<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.CustomerChargeRuleIntervalDao">

    <sql id="rowID">
        t.fUuid AS `uuid`,
        t.fCustomerChargeTypeUuid AS `customerChargeTypeUuid`,
        t.fOperationType AS `operationType`,
        t.fStartIndex AS `startIndex`,
        t.fEndIndex AS `endIndex`,
        t.fPrice AS `price`
    </sql>
    <select id="selectBycustomerChargeRuleTypeUuid" resultType="com.keymanager.monitoring.entity.CustomerChargeRuleInterval">
        select <include refid="rowID"/>
        FROM t_customer_charge_rule_interval t
        WHERE t.fCustomerChargeTypeUuid = #{uuid}
    </select>

</mapper>