<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.CustomerKeywordPositionIndexLogDao">
    <sql id="rowID">
        ck.fUuid AS `uuid`,
        ck.fType AS `type`,
        ck.fCustomerKeywordUuid AS `customerKeywordUuid`,
        ck.fPositionNumber AS `positionNumber`,
        ck.fIndexCount AS `indexCount`,
        ck.fIP AS `ip`,
        ck.fUpdateTime AS `updateTime`,
        ck.fCreateTime AS `createTime`
    </sql>
    <select id="searchCustomerKeywordPositionIndexLogs" resultType="com.keymanager.monitoring.entity.CustomerKeywordPositionIndexLog">
        select
        <include refid="rowID"/>
        from t_ck_position_index_log ck
        where 1=1
        <if test="conditionMap.customerKeywordUuid !=null and conditionMap.customerKeywordUuid !='' ">AND ck.fCustomerKeywordUuid = #{conditionMap.customerKeywordUuid}</if>
        <if test="conditionMap.terminalType != null and conditionMap.terminalType != ''">AND ck.fType = #{conditionMap.terminalType}</if>
        <if test="conditionMap.queryTime!= null and conditionMap.queryTime != ''">AND ck.fCreateTime>=date_add(CURDATE(), INTERVAL -${conditionMap.dayCount} DAY)</if>
        ORDER BY fCreateTime DESC
    </select>

</mapper>