<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.CustomerKeywordPositionSummaryDao">

    <sql id="colID">
        ps.fUuid                AS 'uuid',
        ps.fCustomerKeywordUuid AS 'customerKeywordUuid',
        ps.fSearchEngine AS 'searchEngine',
        ps.fTerminalType AS 'terminalType',
        ps.fCustomerUuid AS 'customerUuid',
        ps.fType         AS 'type',
        ps.fPosition     AS 'position',
        ps.fCreateDate   AS 'createDate'
    </sql>

    <insert id="addPositionSummary">
        INSERT INTO t_ck_position_summary (fCustomerKeywordUuid, fSearchEngine, fTerminalType, fCustomerUuid, fType, fPosition, fCreateDate)
        VALUES (
            #{customerKeywordPositionSummary.customerKeywordUuid},
            #{customerKeywordPositionSummary.searchEngine},
            #{customerKeywordPositionSummary.terminalType},
            #{customerKeywordPositionSummary.customerUuid},
            #{customerKeywordPositionSummary.type},
            #{customerKeywordPositionSummary.position},
            CURRENT_DATE()
        )
    </insert>

    <select id="getTodayPositionSummary" resultType="com.keymanager.monitoring.entity.CustomerKeywordPositionSummary">
        SELECT
        <include refid="colID"/>
        FROM t_ck_position_summary ps
        WHERE ps.fCustomerKeywordUuid = #{customerKeywordUuid}
        AND ps.fCreateDate = CURRENT_DATE()
    </select>

    <delete id="deletePositionSummaryFromOneYearAgo">
        DELETE FROM t_ck_position_summary WHERE fCreateDate &lt; DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
    </delete>
</mapper>