<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.CustomerKeywordTerminalRefreshStatRecordDao">
    <select id="findMostDistantCustomerKeywordTerminalRefreshStatRecord" resultType="java.lang.Integer">
        SELECT
          ckrsr.fUuid AS 'uuid'
        FROM t_ck_refresh_stat_record ckrsr
        WHERE DATE_SUB(CURDATE(), INTERVAL 6 DAY) = ckrsr.fCreateDate
        GROUP BY ckrsr.fUuid
    </select>

    <select id="getHistoryTerminalRefreshStatRecord" parameterType="com.keymanager.monitoring.criteria.CustomerKeywordRefreshStatInfoCriteria" resultType="com.keymanager.monitoring.entity.CustomerKeywordTerminalRefreshStatRecord">
        SELECT
            ckrsr.fGroup AS 'group',
            ckrsr.fTotalKeywordCount AS 'totalKeywordCount',
            ckrsr.fNeedOptimizeKeywordCount AS 'needOptimizeKeywordCount',
            ckrsr.fInvalidKeywordCount AS 'invalidKeywordCount',
            ckrsr.fZeroOptimizedCount AS 'zeroOptimizedCount',
            ckrsr.fReachStandardKeywordCount AS 'reachStandardKeywordCount',
            ckrsr.fTodaySubTotal AS 'todaySubTotal',
            ckrsr.fTotalOptimizeCount AS 'totalOptimizeCount',
            ckrsr.fTotalOptimizedCount AS 'totalOptimizedCount',
            ckrsr.fNeedOptimizeCount AS 'needOptimizeCount',
            ckrsr.fQueryCount AS 'queryCount',
            ckrsr.fTotalMachineCount AS 'totalMachineCount',
            ckrsr.fUnworkMachineCount AS 'unworkMachineCount',
            ckrsr.fMaxInvalidCount AS 'maxInvalidCount',
            ckrsr.fIdleTotalMinutes AS 'idleTotalMinutes'
        FROM t_ck_refresh_stat_record ckrsr
        WHERE DATE_SUB(CURDATE(), INTERVAL #{customerKeywordRefreshStatInfoCriteria.dayNum} DAY) = ckrsr.fCreateDate
        AND ckrsr.fType = #{customerKeywordRefreshStatInfoCriteria.entryType}
        AND ckrsr.fTerminalType = #{customerKeywordRefreshStatInfoCriteria.terminalType}
        GROUP BY ckrsr.fUuid
        ORDER BY ckrsr.fGroup
    </select>
</mapper>