<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.CustomerKeywordRefreshStatInfoDao">
    <select id="searchCustomerKeywordStatInfos" parameterType="com.keymanager.monitoring.criteria.CustomerKeywordRefreshStatInfoCriteria" resultType="com.keymanager.monitoring.entity.CustomerKeywordTerminalRefreshStatRecord">
        SELECT
            ck.fOptimizeGroupName AS "group",
            ck.fType AS "type",
            ck.fTerminalType AS "terminalType",
            toc.fMaxInvalidCount  AS "maxInvalidCount",
            COUNT(1) AS "totalKeywordCount",
            SUM(IF(ck.fOptimizeRemainingCount > 0, 1, 0)) AS "needOptimizeKeywordCount",
            SUM(IF(ck.fInvalidRefreshCount >= toc.fMaxInvalidCount, 1, 0)) AS "invalidKeywordCount",
            SUM(IF(ck.fOptimizedCount = 0, 1, 0)) AS "zeroOptimizedCount",
            SUM(IF(ck.fLastReachStandardDate = CURRENT_DATE(), 1, 0)) AS "reachStandardKeywordCount",
            SUM(IF(ck.fLastReachStandardDate = CURRENT_DATE(),ck.fTodayFee, 0)) as "todaySubTotal",
            SUM(ck.fOptimizePlanCount) AS "totalOptimizeCount",
            SUM(ck.fOptimizedCount) AS "totalOptimizedCount",
            SUM(ck.fOptimizeRemainingCount) AS "needOptimizeCount",
            SUM(ck.fQueryCount) AS "queryCount"
        FROM t_customer_keyword ck, t_group g, t_operation_combine toc
        <if test="(customerKeywordRefreshStatInfoCriteria.userName != null and customerKeywordRefreshStatInfoCriteria.userName != '') ||
            (customerKeywordRefreshStatInfoCriteria.customerName!=null and customerKeywordRefreshStatInfoCriteria.customerName!='')">
            , t_customer c
        </if>
        <if test="customerKeywordRefreshStatInfoCriteria.categoryTag != null and customerKeywordRefreshStatInfoCriteria.categoryTag != ''">
            , t_qz_operation_type ot, t_qz_category_tag qc
        </if>
        WHERE ck.fStatus = 1
        <if test="(customerKeywordRefreshStatInfoCriteria.userName != null and customerKeywordRefreshStatInfoCriteria.userName != '') ||
            (customerKeywordRefreshStatInfoCriteria.customerName!=null and customerKeywordRefreshStatInfoCriteria.customerName!='')">
            AND ck.fCustomerUuid = c.fUuid
        </if>
        <if test="customerKeywordRefreshStatInfoCriteria.categoryTag != null and customerKeywordRefreshStatInfoCriteria.categoryTag != ''">
            AND ot.fGroup = g.fGroupName
            AND ot.fQZSettingUuid = qc.fQZSettingUuid
        </if>
        AND toc.fUuid = g.fOperationCombineUuid
        AND ck.fOptimizeGroupName = g.fGroupName
        AND ck.fTerminalType = toc.fTerminalType
        <if test="customerKeywordRefreshStatInfoCriteria.entryType!=null and customerKeywordRefreshStatInfoCriteria.entryType!=''">AND ck.fType = #{customerKeywordRefreshStatInfoCriteria.entryType}</if>
        <if test="customerKeywordRefreshStatInfoCriteria.terminalType!=null and customerKeywordRefreshStatInfoCriteria.terminalType!=''">AND ck.fTerminalType = #{customerKeywordRefreshStatInfoCriteria.terminalType}</if>
        <if test="customerKeywordRefreshStatInfoCriteria.groupName!=null and customerKeywordRefreshStatInfoCriteria.groupName!=''">
            <choose>
                <when test="customerKeywordRefreshStatInfoCriteria.groupNameFuzzyQuery == null or customerKeywordRefreshStatInfoCriteria.groupNameFuzzyQuery == ''">
                    AND ck.fOptimizeGroupName = #{customerKeywordRefreshStatInfoCriteria.groupName}
                    AND g.fGroupName = #{customerKeywordRefreshStatInfoCriteria.groupName}
                </when>
                <otherwise>
                    AND ck.fOptimizeGroupName like concat(#{customerKeywordRefreshStatInfoCriteria.groupName}, "%")
                    AND g.fGroupName like concat(#{customerKeywordRefreshStatInfoCriteria.groupName}, "%")
                </otherwise>
            </choose>
        </if>
        <if test="customerKeywordRefreshStatInfoCriteria.machineGroup!=null and customerKeywordRefreshStatInfoCriteria.machineGroup!=''">AND ck.fMachineGroup like concat('%', #{customerKeywordRefreshStatInfoCriteria.machineGroup}, "%")</if>
        <if test="customerKeywordRefreshStatInfoCriteria.customerName!=null and customerKeywordRefreshStatInfoCriteria.customerName!=''">AND c.fContactPerson like concat('%', #{customerKeywordRefreshStatInfoCriteria.customerName}, "%")</if>
        <if test="customerKeywordRefreshStatInfoCriteria.userName!=null and customerKeywordRefreshStatInfoCriteria.userName!=''">AND c.fUserID = #{customerKeywordRefreshStatInfoCriteria.userName}</if>
        <if test="customerKeywordRefreshStatInfoCriteria.categoryTag != null and customerKeywordRefreshStatInfoCriteria.categoryTag != ''">AND qc.fTagName = #{customerKeywordRefreshStatInfoCriteria.categoryTag} </if>
        GROUP BY ck.fOptimizeGroupName, ck.fType, ck.fTerminalType
        ORDER BY ck.fOptimizeGroupName
    </select>

</mapper>