<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.CustomerKeywordPositionSummaryDao">
    <insert id="addPositionSummary" parameterType="com.keymanager.monitoring.entity.CustomerKeywordPositionSummary">
        INSERT INTO t_ck_position_summary
            (fCustomerKeywordUuid,
             fPosition,
             fCreateDate)
        VALUES (#{customerKeywordPositionSummary.customerKeywordUuid},
            #{customerKeywordPositionSummary.position},
            CURRENT_DATE())
    </insert>

    <select id="getTodayPositionSummary" resultType="com.keymanager.monitoring.entity.CustomerKeywordPositionSummary">
        SELECT
          ps.fUuid                AS 'uuid',
          ps.fCustomerKeywordUuid AS 'customerKeywordUuid',
          ps.fPosition          AS 'position',
          ps.fCreateDate          AS 'createDate'
        FROM t_ck_position_summary ps
        WHERE ps.fCustomerKeywordUuid = #{customerKeywordUuid}
        AND ps.fCreateDate = CURRENT_DATE()
    </select>
</mapper>