<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.CustomerKeywordOptimizedCountLogDao">
    <sql id="selectCol">
        fUuid AS "uuid",
        fCustomerKeywordUuid AS "customerKeywordUuid",
        fOptimizedCount AS "optimizedCount",
        fOptimizedDate AS "optimizedDate"
    </sql>

    <select id="groupCustomerKeywordOptimizedCountLogs" resultType="com.keymanager.monitoring.entity.CustomerKeywordOptimizedCountLog">
        SELECT
          <include refid="selectCol" />
        FROM t_ck_optimized_count_log
        GROUP BY fCustomerKeywordUuid
    </select>

    <select id="findCurrentCountLog" resultType="com.keymanager.monitoring.entity.CustomerKeywordOptimizedCountLog">
        SELECT
          <include refid="selectCol" />
        FROM t_ck_optimized_count_log
        WHERE fCustomerKeywordUuid = #{customerKeywordUuid}
        AND fOptimizedDate = CURDATE()
    </select>

    <select id="findThreeDaysAgoCountLog" resultType="com.keymanager.monitoring.entity.CustomerKeywordOptimizedCountLog">
        SELECT
          <include refid="selectCol" />
        FROM t_ck_optimized_count_log
        WHERE fCustomerKeywordUuid = #{customerKeywordUuid}
        AND fOptimizedDate = DATE_SUB(CURDATE(), INTERVAL 3 DAY)
    </select>

</mapper>