<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.CustomerChargeLogDao">
	<select id="findCustomerChargeLog" resultType="com.keymanager.monitoring.entity.CustomerChargeLog">
		SELECT
			fUuid AS 'uuid',
			fCustomerUuid AS 'customerUuid',
			fPlanChargeAmount AS 'planChargeAmount',
			fActualChargeAmount AS 'actualChargeAmount',
			fCashier AS 'cashier',
			fUpdateTime AS 'updateTime',
			fCreateTime AS 'createTime'
		FROM
			t_customer_charge_log
		WHERE fCustomerUuid = #{customerUuid}
	</select>

	<delete id="deleteCustomerChargeLogs">
		DELETE FROM t_customer_charge_log
		WHERE fCustomerUuid = #{customerUuid}
	</delete>

	<select id="addUpCustomerChargeLogs" resultType="com.keymanager.monitoring.vo.CustomerChargeStatVO">
		SELECT
			SUM(ccl.fPlanChargeAmount) AS 'planChargeAmount',
			SUM(ccl.fActualChargeAmount) AS 'actualChargeAmount'
		FROM t_customer_charge_log ccl, t_customer c
		WHERE ccl.fCustomerUuid = c.fUuid
		AND ccl.fCreateTime BETWEEN #{beginDate} AND #{endDate}
		<if test="loginName!=null and loginName!=''">
			AND c.fUserID = #{loginName}
		</if>
	</select>
</mapper>