<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.DailyReportItemDao">
    <select id="findDailyReportItem" resultType="com.keymanager.monitoring.entity.DailyReportItem">
        SELECT
          dri.fUuid            AS 'uuid',
          dri.fDailyReportUuid AS 'dailyReportUuid',
          dri.fCustomerUuid    AS 'customerUuid',
          dri.fTerminalType    AS 'terminalType',
          dri.fTodayFee        AS 'todayFee',
          dri.fStatus          AS 'status',
          dri.fUpdateTime      AS 'updateTime',
          dri.fCreateTime      AS 'createTime'
        FROM t_daily_report_item dri
        WHERE dri.fDailyReportUuid = #{dailyReportUuid}
        AND dri.fStatus = #{status}
        limit 1
    </select>

    <delete id="deleteDailyReportItemFromAWeekAgo">
        DELETE FROM t_daily_report_item WHERE fCreateTime &lt; DATE_SUB(CURDATE(), INTERVAL 7 DAY)
    </delete>

    <select id="searchDailyReportItems" resultType="com.keymanager.monitoring.entity.DailyReportItem">
        SELECT
          dri.fCustomerUuid    AS 'customerUuid',
          dri.fTerminalType    AS 'terminalType',
          dri.fTodayFee        AS 'todayFee'
        FROM t_daily_report_item dri
        WHERE dri.fDailyReportUuid = #{dailyReportUuid}
    </select>

    <delete id="deleteDailyReportItems">
        DELETE FROM t_daily_report_item WHERE fDailyReportUuid = #{dailyReportUuid}
    </delete>
</mapper>