<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.GroupSettingDao">

    <select id="searchGroupSettings" resultType="com.keymanager.monitoring.entity.GroupSetting">
        SELECT
            gs.fUuid AS "uuid",
            gs.fOperationType AS "operationType",
            gs.fPageNo AS "pageNo",
            gs.fPage AS "page",
            gs.fPageSize AS "pageSize",
            gs.fZhanneiPercent AS "zhanneiPercent",
            gs.fZhanwaiPercent AS "zhanwaiPercent",
            gs.fKuaizhaoPercent AS "kuaizhaoPercent",
            gs.fBaiduSemPercent AS "baiduSemPercent",
            gs.fDragPercent AS "dragPercent",
            gs.fSpecialCharPercent AS "specialCharPercent",
            gs.fMultiBrowser AS "multiBrowser",
            gs.fClearCookie AS "clearCookie",
            gs.fDisableStatistics AS "disableStatistics",
            gs.fEntryPageMinCount AS "entryPageMinCount",
            gs.fEntryPageMaxCount AS "entryPageMaxCount",
            gs.fPageRemainMinTime AS "pageRemainMinTime",
            gs.fPageRemainMaxTime AS "pageRemainMaxTime",
            gs.fInputDelayMinTime AS "inputDelayMinTime",
            gs.fInputDelayMaxTime AS "inputDelayMaxTime",
            gs.fSlideDelayMinTime AS "slideDelayMinTime",
            gs.fSlideDelayMaxTime AS "slideDelayMaxTime",
            gs.fTitleRemainMinTime AS "titleRemainMinTime",
            gs.fTitleRemainMaxTime AS "titleRemainMaxTime",
            gs.fOptimizeKeywordCountPerIP AS "optimizeKeywordCountPerIP",
            gs.fOneIPOneUser AS "oneIPOneUser",
            gs.fRandomlyClickNoResult AS "randomlyClickNoResult",
            gs.fJustVisitSelfPage AS "justVisitSelfPage",
            gs.fSleepPer2Words AS "sleepPer2Words",
            gs.fSupportPaste AS "supportPaste",
            gs.fMoveRandomly AS "moveRandomly",
            gs.fParentSearchEntry AS "parentSearchEntry",
            gs.fClearLocalStorage AS "clearLocalStorage",
            gs.fLessClickAtNight AS "lessClickAtNight",
            gs.fSameCityUser AS "sameCityUser",
            gs.fLocateTitlePosition AS "locateTitlePosition",
            gs.fBaiduAllianceEntry AS "baiduAllianceEntry",
            gs.fJustClickSpecifiedTitle AS "justClickSpecifiedTitle",
            gs.fRandomlyClickMoreLink AS "randomlyClickMoreLink",
            gs.fMoveUp20 AS "moveUp20",
            gs.fWaitTimeAfterOpenBaidu AS "waitTimeAfterOpenBaidu",
            gs.fWaitTimeBeforeClick AS "waitTimeBeforeClick",
            gs.fWaitTimeAfterClick AS "waitTimeAfterClick",
            gs.fMaxUserCount AS "maxUserCount",
            gs.fOptimizeRelatedKeyword AS "optimizeRelatedKeyword"
        FROM t_group_setting gs
        WHERE gs.fGroupUuid = #{groupUuid}
        <if test="operationType != null and operationType != ''">
            AND gs.fOperationType = #{operationType}
        </if>
        ORDER BY gs.fCreateTime DESC
    </select>

</mapper>