<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.GroupDao">

    <select id="searchGroups" resultType="com.keymanager.monitoring.vo.GroupVO">
        SELECT
            g.fUuid AS "uuid",
            g.fGroupName AS "groupName",
            u.fUserName AS "userName",
            g.fRemainingAccount AS "remainingAccount",
            g.fMaxInvalidCount AS "maxInvalidCount"
        FROM t_group g
        LEFT JOIN t_userinfo u
        ON u.fLoginName = g.fCreateBy
        WHERE 1 = 1
        <if test="groupSettingCriteria.optimizedGroupName != null and groupSettingCriteria.optimizedGroupName != ''">
            AND g.fGroupName = #{groupSettingCriteria.optimizedGroupName}
        </if>
        AND g.fTerminalType = #{groupSettingCriteria.terminalType}
        <if test="groupSettingCriteria.hasOperation != null">
            AND EXISTS (SELECT 1 FROM t_group_setting gs
            WHERE gs.fGroupUuid = g.fUuid
            <choose>
                <when test="groupSettingCriteria.hasOperation == 1">
                    AND gs.fOperationType > ''
                    <if test="groupSettingCriteria.operationType != null and groupSettingCriteria.operationType != ''">
                        AND gs.fOperationType = #{groupSettingCriteria.operationType}
                    </if>
                </when>
                <otherwise>
                    AND gs.fOperationType IS NULL
                </otherwise>
            </choose>
            )
        </if>
        <if test="groupSettingCriteria.hasRemainingAccount == 1">
            AND g.fRemainingAccount <![CDATA[>]]> 0
        </if>
        ORDER BY g.fCreateTime DESC
    </select>

    <insert id="saveGroup">
        INSERT INTO t_group(fGroupName, fTerminalType, fCreateBy, fRemainingAccount, fMaxInvalidCount, fUpdateTime) VALUES(#{groupName}, #{terminalType}, #{createBy}, #{remainingAccount}, #{maxInvalidCount}, NOW());
    </insert>

    <select id="lastInsertID" resultType="java.lang.Long">
        SELECT LAST_INSERT_ID();
    </select>
    
    <update id="updateGroupRemainingAccount">
        UPDATE t_group SET fRemainingAccount = #{remainingAccount}, fUpdateTime = NOW() WHERE fUuid = #{uuid}
    </update>

    <select id="findGroup" resultType="com.keymanager.monitoring.entity.Group">
        SELECT
        g.fUuid             AS "uuid",
        g.fGroupName        AS "groupName",
        g.fTerminalType     AS "terminalType",
        g.fCreateBy         AS "createBy",
        g.fRemainingAccount AS "remainingAccount",
        g.fMaxInvalidCount  AS "maxInvalidCount",
        g.fUpdateTime       AS "updateTime",
        g.fCreateTime       AS "createTime"
        FROM t_group g
        WHERE g.fGroupName = #{groupName}
        AND g.fTerminalType = #{terminalType}
        limit 1
    </select>


    <select id="getOptimizationGroups" resultType="java.lang.String">
        SELECT
           g.fGroupName AS 'groupName'
        FROM t_group g
        WHERE g.fTerminalType = #{terminalType}
        GROUP BY g.fGroupName
    </select>


    <update id="updateMaxInvalidCount">
        UPDATE t_group
        SET fMaxInvalidCount = #{maxInvalidCount}
        WHERE fUuid = #{uuid}
    </update>
</mapper>