<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.MachineInfoDao">

    <sql id="selectCol">
        mi.fClientID AS "clientID",
        mi.fTerminalType AS "terminalType",
        mi.fClientIDPrefix AS "clientIDPrefix",
        mi.fVersion AS "version",
        mi.fTargetVersion AS "targetVersion",
        mi.fContinuousFailCount AS "continuousFailCount",
        mi.fCity AS "city",
        mi.fGroup AS "group",
        mi.fAllowSwitchGroup AS "allowSwitchGroup",
        mi.fSwitchGroupName AS "switchGroupName",
        mi.fHost AS "host",
        mi.fPort AS "port",
        mi.fUserName AS "userName",
        mi.fPassword AS "password",
        mi.fBroadbandAccount AS "broadbandAccount",
        mi.fBroadbandPassword AS "broadbandPassword",
        mi.fFreeSpace AS "freeSpace",
        mi.fVPSBackendSystemComputerID AS "vPSBackendSystemComputerID",
        mi.fVPSBackendSystemPassword AS "vPSBackendSystemPassword",
        mi.fLastVisitTime AS "lastVisitTime",
        mi.fLastSendNotificationTime AS "lastSendNotificationTime",
        mi.fRestartCount AS "restartCount",
        mi.fRestartStatus AS "restartStatus",
        mi.fRestartTime AS "restartTime",
        mi.fValid AS "valid",
        mi.fRestartOrderingTime AS "restartOrderingTime",
        mi.fOptimizationStartDate AS "optimizationStartDate",
        mi.fOptimizationTotalCount AS "optimizationTotalCount",
        mi.fOptimizationSucceedCount AS "optimizationSucceedCount",
        mi.fRenewalDate AS "renewalDate",
        mi.fDownloadProgramType AS "downloadProgramType",
        mi.fStartUpStatus AS "startUpStatus",
        mi.fStartUpTime AS "startUpTime",
        mi.fStatus AS "status",
        mi.fRunningProgramType AS "runningProgramType",
        mi.fUpgradeFailedReason AS "upgradeFailedReason",
        mi.fCreateTime AS "createTime"
    </sql>

    <update id="updateMachineInfoTargetVersion">
        UPDATE t_machine_info SET fTargetVersion = #{targetVersion}
        WHERE fClientID IN
        <foreach item="item" collection="clientIDs" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    
    <update id="updateMachineInfoTargetVPSPassword">
        UPDATE t_machine_info SET fTargetVPSPassword = #{targetVPSPassword}
        WHERE fClientID IN
        <foreach item="item" collection="clientIDs" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    

    <delete id="deleteMachineInfos">
        DELETE FROM t_machine_info WHERE fClientID IN
        <foreach item="item" collection="clientIDs" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="searchMachineInfos" parameterType="com.keymanager.monitoring.criteria.MachineInfoCriteria" resultType="com.keymanager.monitoring.entity.MachineInfo">
        SELECT
        <include refid="selectCol" />
        FROM
        t_machine_info mi
        WHERE mi.fTerminalType = #{machineInfoCriteria.terminalType}
        <if test="machineInfoCriteria.clientID != null and machineInfoCriteria.clientID != ''"> AND mi.fClientID like '%${machineInfoCriteria.clientID}%'</if>
        <if test="machineInfoCriteria.groupName != null and machineInfoCriteria.groupName != ''"> AND mi.fGroup like '%${machineInfoCriteria.groupName}%'</if>
        <if test="machineInfoCriteria.upgradeFailedReason != null and machineInfoCriteria.upgradeFailedReason != ''"> AND mi.fUpgradeFailedReason like '%${machineInfoCriteria.upgradeFailedReason}%'</if>
        <if test="machineInfoCriteria.version != null and machineInfoCriteria.version != ''"> AND mi.fVersion like concat(#{machineInfoCriteria.version},'%')</if>
        <if test="machineInfoCriteria.targetVersion != null and machineInfoCriteria.targetVersion != ''"> AND mi.fTargetVersion like concat(#{machineInfoCriteria.targetVersion},'%')</if>
        <if test="machineInfoCriteria.city != null and machineInfoCriteria.city != ''"> AND mi.fCity like concat(#{machineInfoCriteria.city},'%')</if>
        <if test="machineInfoCriteria.valid != null and machineInfoCriteria.valid != ''"> AND mi.fValid = #{machineInfoCriteria.valid}</if>
        <if test="machineInfoCriteria.hasProblem != null"> AND (mi.fContinuousFailCount &gt; 5 OR mi.fTenMinsLastVisitTime &lt; NOW()) and mi.fValid = 1</if>
        <if test="machineInfoCriteria.renewal != null"> AND DATE_ADD(mi.fRenewalDate, INTERVAL -3 DAY) &lt; CURRENT_DATE() and mi.fValid = 1</if>
        <if test="machineInfoCriteria.noGroup != null"> AND (mi.fGroup is null or mi.fGroup = '')</if>
        <if test="machineInfoCriteria.hasGroup != null"> AND mi.fGroup > ''</if>
        <if test="machineInfoCriteria.startUpStatus != null and machineInfoCriteria.startUpStatus != ''"> AND mi.fStartUpStatus = #{machineInfoCriteria.startUpStatus}</if>
        <if test="machineInfoCriteria.runningProgramType != null and machineInfoCriteria.runningProgramType != ''"> AND mi.fRunningProgramType = #{machineInfoCriteria.runningProgramType}</if>
        <if test="machineInfoCriteria.noVNC != null"> AND (mi.fHost is null or mi.fHost = '')</if>
        <if test="machineInfoCriteria.noUpgrade != null"> AND (mi.fVersion &lt;&gt; mi.fTargetVersion)</if>
        <if test="machineInfoCriteria.noChangePassword != null"> AND (mi.fPassword &lt;&gt; mi.fTargetVPSPassword)</if>
        <if test="machineInfoCriteria.startUpClient != null"> AND mi.fDownloadProgramType > ''</if>
        <if test="machineInfoCriteria.vpsBackendSystemComputerID != null and machineInfoCriteria.vpsBackendSystemComputerID != ''"> AND (mi.fVPSBackendSystemComputerID = #{machineInfoCriteria.vpsBackendSystemComputerID})</if>
        <if test="machineInfoCriteria.switchGroupName != null and machineInfoCriteria.switchGroupName != ''"> AND mi.fSwitchGroupName = #{machineInfoCriteria.switchGroupName}</if>
        <if test="machineInfoCriteria.switchGroups != null"> AND mi.fSwitchGroupName IN
            <foreach collection="machineInfoCriteria.switchGroups" item="switchGroup" open="(" close=")" separator=",">
                #{switchGroup}
            </foreach>
        </if>
        <if test="machineInfoCriteria.orderBy != null and machineInfoCriteria.orderBy != ''"> ORDER BY ${machineInfoCriteria.orderBy}</if>

    </select>

    <select id="searchBadMachineInfo" parameterType="com.keymanager.monitoring.criteria.MachineInfoCriteria" resultType="com.keymanager.monitoring.entity.MachineInfo">
        SELECT
        <include refid="selectCol" />
        FROM
        t_machine_info mi
        WHERE mi.fTerminalType = #{machineInfoCriteria.terminalType}
        AND (mi.fContinuousFailCount &gt; 5 OR mi.fTenMinsLastVisitTime &lt; NOW()) and mi.fValid = 1
        <if test="machineInfoCriteria.groupName != null and machineInfoCriteria.groupName != ''">AND mi.fGroup = #{machineInfoCriteria.groupName}</if>
        <if test="machineInfoCriteria.switchGroups != null"> AND mi.fSwitchGroupName IN
            <foreach collection="machineInfoCriteria.switchGroups" item="switchGroup" open="(" close=")" separator=",">
                #{switchGroup}
            </foreach>
        </if>
    </select>

    <select id="getMachineInfoByMachineID" parameterType="java.lang.String" resultType="com.keymanager.monitoring.entity.MachineInfo">
        SELECT
        <include refid="selectCol" />
        FROM
        t_machine_info mi
        WHERE mi.fTerminalType = #{terminalType}
        AND mi.fClientID = #{clientID}
    </select>

    <update id="resetRestartStatusForProcessing">
        UPDATE t_machine_info SET fRestartStatus = NULL WHERE (fRestartStatus = 'Processing' or fRestartStatus = 'Logging')
    </update>

    <select id="searchMachineInfosOrByHost" parameterType="java.lang.String" resultType="com.keymanager.monitoring.entity.MachineInfo">
        SELECT
        <include refid="selectCol" />
        FROM
        t_machine_info mi
        WHERE mi.fTerminalType = #{terminalType}
        <if test="comfirm != null"> and (mi.fHost is not null or mi.fHost &lt;&gt; '')</if>
    </select>

    <update id="reopenMachineInfo">
        UPDATE
            t_machine_info
        SET
            fDownloadProgramType = #{downloadProgramType},
            fSwitchGroupName = #{switchGroupName},
            fStartUpStatus = 'New',
            fStartUpTime = NULL,
            fTargetVersion = NULL,
            fVersion = NULL
        WHERE fClientID IN
        <foreach item="clientID" collection="clientIDs" open="(" separator="," close=")">
            #{clientID}
        </foreach>
    </update>

    <update id="updateStartUpStatusForCompleted">
        UPDATE t_machine_info SET fStartUpStatus = 'Completed'
        WHERE fClientID IN
        <foreach item="clientID" collection="clientIDs" open="(" separator="," close=")">
            #{clientID}
        </foreach>
    </update>

    <select id="selectMaxIdByMachineID" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT MAX(CAST(TRIM(LEADING #{clientID} FROM fClientID) AS DECIMAL)) AS clientID
        FROM t_machine_info
        WHERE fClientID LIKE '${clientID}%'
    </select>

    <update id="batchUpdateMachineInfo">
        UPDATE t_machine_info
        SET fTerminalType = fTerminalType
        <if test="mi.group==1"> ,fGroup = #{machineInfo.group}</if>
        <if test="mi.allowSwitchGroup==1"> ,fAllowSwitchGroup = #{machineInfo.allowSwitchGroup}</if>
        <if test="mi.switchGroupName==1"> ,fSwitchGroupName = #{machineInfo.switchGroupName}</if>
        <if test="mi.host==1"> ,fHost = #{machineInfo.host}</if>
        <if test="mi.port==1"> ,fPort = #{machineInfo.port}</if>
        <if test="mi.userName==1"> ,fUserName = #{machineInfo.userName}</if>
        <if test="mi.vpsBackendSystemComputerID==1"> ,fVpsBackendSystemComputerID = #{machineInfo.vpsBackendSystemComputerID}</if>
        <if test="mi.vpsBackendSystemPassword==1"> ,fVpsBackendSystemPassword = #{machineInfo.vpsBackendSystemPassword}</if>
        WHERE fClientID IN
        <foreach item="clientID" collection="clientIDs" open="(" separator="," close=")">
            #{clientID}
        </foreach>
    </update>

    <update id="batchChangeStatus">
        UPDATE t_machine_info
        SET fValid = #{valid}
        WHERE fClientID IN
        <foreach collection="clientIds" item="clientID" open="(" close=")" separator=",">
            #{clientID}
        </foreach>
    </update>

    <update id="batchChangeTerminalType">
        UPDATE t_machine_info
        SET fTerminalType = #{terminalType}
        WHERE fClientID IN
        <foreach collection="clientIds" item="clientID" open="(" close=")" separator=",">
            #{clientID}
        </foreach>
    </update>

</mapper>