<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.OperationCombineDao">

    <select id="getOperationCombineNames" resultType="java.lang.String">
        SELECT
            CONCAT(toc.fOperationCombineName, '_____', toc.fUuid)
        FROM t_operation_combine toc
        WHERE EXISTS(
            SELECT 1
            FROM t_group g
            WHERE g.fOperationCombineUuid = toc.fUuid
            AND g.fTerminalType = #{terminalType}
        )
        ORDER BY toc.fOperationCombineName
    </select>

    <insert id="saveOperationCombine">
        INSERT INTO t_operation_combine(fOperationCombineName, fTerminalType, fCreator, fMaxInvalidCount)
        VALUES(#{operationCombineName}, #{terminalType}, #{creator}, #{maxInvalidCount})
    </insert>
    
    <select id="lastInsertID" resultType="java.lang.Long">
        SELECT LAST_INSERT_ID()
    </select>

    <update id="updateOperationCombineRemainingAccount">
        UPDATE t_operation_combine
        SET fRemainingAccount = #{remainingAccount}, fUpdateTime = NOW()
        WHERE fUuid = #{operationCombineUuid}
    </update>

    <select id="getOperationCombine" resultType="com.keymanager.monitoring.entity.OperationCombine">
        SELECT
            toc.fUuid AS 'uuid',
            toc.fRemainingAccount AS 'remainingAccount'
        FROM t_group g
        LEFT JOIN t_operation_combine toc
        ON toc.fUuid = g.fOperationCombineUuid
        WHERE toc.fTerminalType = #{terminalType}
        AND g.fGroupName = #{groupName}
        LIMIT 1
    </select>

    <update id="updateMaxInvalidCount">
        UPDATE t_operation_combine
        SET fMaxInvalidCount = #{maxInvalidCount}, fUpdateTime = NOW()
        WHERE fUuid = #{uuid}
    </update>
</mapper>