<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.PositiveListDao">
	<sql id="selectCol">
		fUuid AS "uuid",
		fKeyword AS "keyword",
		fTitle AS "title",
		fUrl AS "url",
		fOriginalUrl AS "originalUrl",
		fDesc AS "desc",
		fPosition AS "position",
		fUpdateTime AS "updateTime",
		fCreateTime AS "createTime"
	</sql>

	<select id="searchPositiveLists" parameterType="com.keymanager.monitoring.criteria.PositiveListCriteria" resultType="com.keymanager.monitoring.entity.PositiveList">
		SELECT
		<include refid="selectCol" />
		FROM
			t_positive_list n
		WHERE 1 = 1
		<if test="positiveListCriteria.keyword != null and positiveListCriteria.keyword != ''">AND n.fKeyword like '%${positiveListCriteria.keyword}%'</if>
		<if test="positiveListCriteria.url != null and positiveListCriteria.url != ''">AND n.fUrl like '%${positiveListCriteria.url}%'</if>
		ORDER BY n.fCreateTime DESC
	</select>

	<select id="searchPositiveListsFullMatching" parameterType="com.keymanager.monitoring.criteria.PositiveListCriteria" resultType="com.keymanager.monitoring.entity.PositiveList">
		SELECT
		<include refid="selectCol" />
		FROM
		t_positive_list n
		WHERE 1 = 1
		<if test="positiveListCriteria.keyword != null and positiveListCriteria.keyword != ''">AND n.fKeyword = #{positiveListCriteria.keyword}</if>
		<if test="positiveListCriteria.title != null and positiveListCriteria.title != ''">AND n.fTitle = #{positiveListCriteria.title}</if>
		ORDER BY n.fCreateTime DESC
	</select>

	<select id="getSpecifiedKeywordPositiveLists" resultType="com.keymanager.monitoring.entity.PositiveList">
		SELECT DISTINCT
			fUuid AS "uuid",
			fKeyword AS "keyword",
			fTitle AS "title",
			fUrl AS "url",
			fOriginalUrl AS "originalUrl",
			fDesc AS "desc",
			fPosition AS "position",
			fUpdateTime AS "updateTime",
			fCreateTime AS "createTime"
		FROM
		t_positive_list n
		WHERE n.fKeyword = #{keyword}
		ORDER BY n.fCreateTime DESC
	</select>

</mapper>