<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.PtCustomerKeywordDao">

    <sql id="cmsKeywordColID">
        SELECT
            ID AS 'id',
            CUSTOMER_KEYWORD_ID AS 'customerKeywordId',
            KEYWORD AS 'keyword',
            URL AS 'url',
            TITLE AS 'title',
            SEARCH_ENGINE AS 'searchEngine',
            TERMINAL_TYPE AS 'terminalType',
            PRICE_PER_DAY AS 'pricePreDay',
            CURRENT_POSITION AS 'currentPosition',
            STATUS AS 'status',
            CAPTURE_POSITION_TIME AS 'capturePositionTime',
            CREATE_TIME AS 'createTime',
            UPDATE_TIME AS 'updateTime'
        FROM cms_keyword
    </sql>

    <select id="selectNewPtKeyword" resultType="com.keymanager.monitoring.entity.PtCustomerKeyword">
        SELECT
            ID AS 'id',
            CUSTOMER_KEYWORD_ID AS 'customerKeywordId',
            KEYWORD AS 'keyword',
            URL AS 'url',
            TITLE AS 'title',
            SEARCH_ENGINE AS 'searchEngine',
            TERMINAL_TYPE AS 'terminalType',
            PRICE_PER_DAY AS 'pricePreDay',
            CURRENT_POSITION AS 'currentPosition'
        FROM cms_keyword
        WHERE USER_ID = #{userId}
          and SEARCH_ENGINE = #{searchEngine}
          and STATUS = 2
    </select>

    <select id="selectCustomerDelKeywords" resultType="java.lang.Long">
        SELECT CUSTOMER_KEYWORD_ID
        FROM cms_keyword
        WHERE USER_ID = #{userId}
          and SEARCH_ENGINE = #{searchEngine}
          and STATUS = 3
          and DELETE_FLAG = 1
    </select>

    <update id="updatePtKeywordCurrentPosition">
        UPDATE cms_keyword k, t_pt_customer_keyword tpck
        SET k.CURRENT_POSITION = tpck.fCurrentPosition,
            k.PRICE_PER_DAY = tpck.fPrice,
            k.CAPTURE_POSITION_TIME = tpck.fCapturePositionQueryTime,
            k.TITLE = tpck.fTitle
        WHERE k.USER_ID = #{userId}
          and k.CUSTOMER_KEYWORD_ID = tpck.fUuid
          and tpck.fMark = 2
    </update>

    <update id="updatePtKeywordOperaStatus">
        UPDATE cms_keyword k, t_pt_customer_keyword tpck
        SET k.OPERA_STATUS = tpck.fOperaStatus
        WHERE k.USER_ID = #{userId}
          and k.CUSTOMER_KEYWORD_ID = tpck.fUuid
          and tpck.fMark = 2
    </update>

    <update id="updatePtKeywordStatus">
        update cms_keyword
        set STATUS = 1
        where USER_ID = #{userId}
          and SEARCH_ENGINE = #{searchEngine}
          and STATUS = 4
        limit #{rows}
    </update>
</mapper>