<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.PtCustomerKeywordDao">

    <sql id="cmsKeywordColID">
        SELECT
            KEYWORD_ID AS 'keywordId',
            KEYWORD AS 'keyword',
            URL AS 'url',
            TITLE AS 'title',
            SEARCH_ENGINE AS 'searchEngine',
            TERMINAL_TYPE AS 'terminalType',
            BEAR_PAW_NUM AS 'bearPawNumber',
            PRICE_PER_DAY AS 'pricePreDay',
            SUB_DATE AS 'subDate',
            CURRENT_POSITION AS 'currentPosition',
            STATUS AS 'status',
            COMP_STATUS AS 'compStatus',
            CITY AS 'city',
            COMPANY_CODE AS 'companyCode',
            CAPTURE_POSITION_CITY AS 'capturePositionCity',
            CAPTURE_POSITION_TIME AS 'capturePositionQueryTime'
        FROM cms_keyword
    </sql>

    <select id="selectExistingCmsKeyword" resultType="com.keymanager.monitoring.entity.PtCustomerKeyword">
        <include refid="cmsKeywordColID"/>
        <where>
            KEYWORD = #{ptCustomerKeyword.keyword}
            AND URL = #{ptCustomerKeyword.url}
            AND SEARCH_ENGINE = #{ptCustomerKeyword.searchEngine}
            AND TERMINAL_TYPE = #{ptCustomerKeyword.type}
            AND COMPANY_CODE = #{ptCustomerKeyword.companyCode}
            LIMIT 1
        </where>
    </select>

    <select id="checkFinishedCapturePosition" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM cms_keyword WHERE STATUS = 2 AND CAPTURE_POSITION_TIME &lt; CURRENT_DATE()
    </select>

</mapper>