<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.PtCustomerKeywordTemporaryDao">

    <select id="searchPtKeywordTemporaryCount" resultType="java.lang.Integer">
        select count(1) from t_pt_customer_keyword where fMark = 0 limit 1
    </select>

    <insert id="migrationRecordToPtCustomerKeyword">
        insert into  t_pt_customer_keyword
        SELECT fUuid, fTitle, fCurrentPosition, IF(fPositionFirstPageFee &gt; '', fPositionFirstPageFee, 0.00), fCaptureStatus,
               fCapturePositionQueryTime, fCity, fCapturePositionCity, 0
        FROM t_customer_keyword
        WHERE fCustomerUuid = #{cusId} AND fType = #{type} AND fStatus	= 1
    </insert>

    <update id="updatePtKeywordMarks">
        update t_pt_customer_keyword set fMark = 2 where fMark = 0 limit 20000
    </update>

    <delete id="cleanPtCustomerKeyword">
        truncate table t_pt_customer_keyword
    </delete>
</mapper>