<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.QZCaptureTitleLogDao">
    <select id="getAvailableQZCaptureTitleLog" resultType="com.keymanager.monitoring.entity.QZCaptureTitleLog">
        SELECT
          qctl.fUuid          AS 'uuid',
          qctl.fQZOperationTypeUuid AS 'qzOperationTypeUuid',
          qs.fCustomerUuid    AS 'customerUuid',
          IF((qctl.fTerminalType = 'PC'), qs.fPcGroup, qs.fPhoneGroup) AS 'group',
          qctl.fStatus        AS 'isDelete',
          qs.fType	          AS 'type',
          qctl.fTerminalType  AS 'terminalType',
          qctl.fStartTime     AS 'startTime',
          qctl.fEndTime       AS 'endTime',
          qctl.fUpdateTime    AS 'updateTime',
          qctl.fCreateTime    AS 'createTime'
        FROM t_qz_setting qs,
          t_qz_capture_title_log qctl
        WHERE qs.fUuid = qctl.fQZSettingUuid
            AND qctl.fStatus = #{isDelete}
            AND qctl.fTerminalType = #{terminalType}
        ORDER BY qctl.fCreateTime
        LIMIT 1
    </select>
</mapper>