<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.QZChargeRuleDao">

    <!--查询一条操作类型信息-->
    <select id="searchQZChargeRuleByqzOperationTypeUuids" resultType="com.keymanager.monitoring.entity.QZChargeRule">
        SELECT
        qchru.fUuid            AS 'uuid',
        qchru.fQZOperationTypeUuid    AS 'qzOperationTypeUuid',
        qchru.fStartKeywordCount          AS 'startKeywordCount',
        qchru.fEndKeywordCount         AS 'endKeywordCount',
        qchru.fAmount      AS 'amount',
        qchru.fCreatetime            AS 'createTime',
        qchru.fUpdatetime   AS 'updateTime'
        FROM t_qz_charge_rule  qchru
        WHERE  qchru.fQZOperationTypeUuid  = #{qzOperationTypeUuid}
        order by qchru.fStartKeywordCount
    </select>

    <!--返回上一级插入的主键-->
    <select id="selectLastId" resultType="int">
        select LAST_INSERT_ID()
    </select>

    <delete id="deleteByQZOperationTypeUuid" >
        DELETE  FROM  t_qz_charge_rule WHERE  fQZOperationTypeUuid  = #{qzOperationTypeUuid}
    </delete>

    <select id="searchQZChargeRules" parameterType="com.keymanager.monitoring.criteria.QZSettingSearchChargeRuleCriteria" resultType="com.keymanager.monitoring.entity.QZChargeRule">
        SELECT
            qc.fStartKeywordCount AS "startKeywordCount",
            qc.fEndKeywordCount AS "endKeywordCount",
            qc.fAmount AS "amount"
        FROM t_qz_charge_rule qc
        JOIN t_qz_operation_type qo
        ON qo.fUuid = qc.fQZOperationTypeUuid
        WHERE qo.fQZSettingUuid = #{qzSettingSearchChargeRuleCriteria.qzSettingUuid}
        AND qo.fOperationtype = #{qzSettingSearchChargeRuleCriteria.terminalType}
        ORDER BY qc.fUuid
    </select>
</mapper>