<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.QZKeywordRankInfoDao">

    <select id="searchExistingQZKeywordRankInfo" resultType="com.keymanager.monitoring.entity.QZKeywordRankInfo">
        SELECT
            qzkri.fUuid          AS 'uuid',
            qzkri.fQZSettingUuid AS 'qzSettingUuid',
            qzkri.fTerminalType  AS 'terminalType',
            qzkri.fWebSiteType   AS 'websiteType',
            qzkri.fDataProcessingStatus AS 'dataProcessingStatus',
            qzkri.fTopTen        AS 'topTen',
            qzkri.fTopTwenty     AS 'topTwenty',
            qzkri.fTopThirty     AS 'topThirty',
            qzkri.fTopForty      AS 'topForty',
            qzkri.fTopFifty      AS 'topFifty',
            qzkri.fTopHundred    AS 'topHundred',
            qzkri.fCreateTopTenNum      AS 'createTopTenNum',
            qzkri.fCreateTopFiftyNum    AS 'createTopFiftyNum',
            qzkri.fDate          AS 'date',
            qzkri.fFullDate      AS 'fullDate',
            qzkri.fIncrease      AS 'increase',
            qzkri.fIpRoute       AS 'ipRoute',
            qzkri.fRecord        AS 'baiduRecord',
            qzkri.fAchieveLevel  AS 'achieveLevel',
            qzkri.fSumSeries     AS 'sumSeries',
            qzkri.fDifferenceValue      AS 'differenceValue',
            qzkri.fCurrentPrice         AS 'currentPrice',
            qzkri.fBaiduRecordFullDate  AS 'baiduRecordFullDate',
            qzkri.fAchieveTime          AS 'achieveTime'
        FROM t_qz_keyword_rank_info qzkri
        WHERE qzkri.fQZSettingUuid = #{qzSettingUuid}
        AND EXISTS(SELECT 1 FROM t_qz_setting qs WHERE qs.fUuid = qzkri.fQZSettingUuid)
        <if test="qzSettingSearchCriteria.checkStatus != null">
            <choose>
                <when test="qzSettingSearchCriteria.checkStatus == 2">
                    AND qzkri.fIncrease &gt;= #{qzSettingSearchCriteria.upperValue}
                </when>
                <when test="qzSettingSearchCriteria.checkStatus == 1">
                    AND qzkri.fIncrease &lt;= #{qzSettingSearchCriteria.lowerValue}
                </when>
            </choose>
        </if>
        <if test="qzSettingSearchCriteria.terminalType != null">
            AND qzkri.fTerminalType = #{qzSettingSearchCriteria.terminalType}
        </if>
    </select>

    <delete id="deleteByQZSettingUuid" parameterType="java.lang.Long">
        DELETE FROM t_qz_keyword_rank_info
        WHERE fQZSettingUuid = #{qzSettingUuid}
    </delete>

    <select id="getQZKeywordRankInfo" resultType="com.keymanager.monitoring.entity.QZKeywordRankInfo">
        SELECT
            tqkri.fUuid AS 'uuid',
            CONCAT("'", IF(MONTH(tqkri.fCreateTime) &lt; 10, CONCAT('0', MONTH(tqkri.fCreateTime)), MONTH(tqkri.fCreateTime)), '-', IF(DAY(tqkri.fCreateTime) &lt; 10, CONCAT('0', DAY(tqkri.fCreateTime)), DAY(tqkri.fCreateTime)), "'") AS 'createMonthDay'
        FROM t_qz_keyword_rank_info tqkri
        WHERE 1 = 1
        <if test="qzSettingUuid != null"> AND tqkri.fQZSettingUuid = #{qzSettingUuid} </if>
        <if test="terminalType != null and terminalType != ''"> AND tqkri.fTerminalType = #{terminalType} </if>
        <choose>
            <when test="websiteType != null and websiteType != ''">
                AND tqkri.fWebsiteType = #{websiteType}
            </when>
            <otherwise>
                AND tqkri.fWebsiteType = 'designationWord'
            </otherwise>
        </choose>
        LIMIT 1
    </select>

    <select id="getCountNumOfRankInfo" resultType="com.keymanager.monitoring.criteria.QZSettingSearchCriteria">
        SELECT
            COUNT(qk.fIncrease = 0 OR NULL) AS 'unchangedNum',
            COUNT(qk.fIncrease &lt;= #{qzSettingSearchCriteria.lowerValue} OR NULL) AS 'downNum',
            COUNT(qk.fIncrease &gt;= #{qzSettingSearchCriteria.upperValue} OR NULL) AS 'upNum',
            COUNT(qk.fAchieveLevel &gt; 0 OR NULL) AS 'atLeastStandardNum',
            COUNT(qk.fAchieveLevel = 0 OR NULL) AS 'neverStandardNum',
            COUNT(qk.fDifferenceValue &lt;= #{qzSettingSearchCriteria.differenceValue} OR NULL) AS 'closeStandardNum',
            COUNT(qk.fTodayDifference = 0 OR NULL) AS 'unchangedDifferenceNum',
            COUNT(qk.fTodayDifference &gt;0 OR NULL) AS 'upDifferenceNum',
            COUNT(qk.fTodayDifference &lt;0 OR NULL) AS 'downDifferenceNum'
        FROM t_qz_keyword_rank_info qk
        LEFT JOIN t_qz_setting qs
        ON qs.fUuid = qk.fQZSettingUuid
        LEFT JOIN t_qz_operation_type qot
        ON qot.fQZSettingUuid = qk.fQZSettingUuid AND qot.fOperationtype = qk.fTerminalType
        WHERE qk.fTerminalType = #{qzSettingSearchCriteria.terminalType}
        <if test="qzSettingSearchCriteria.searchEngine != null and qzSettingSearchCriteria.searchEngine != ''">
            AND qs.fSearchEngine = #{qzSettingSearchCriteria.searchEngine}
        </if>
        AND qot.fIsDeleted = 0
        AND qk.fDataProcessingStatus = 1
        <if test="qzSettingSearchCriteria.renewalStatus != null">AND qs.fRenewalStatus = #{qzSettingSearchCriteria.renewalStatus}</if>
        AND EXISTS (
            SELECT 1
            FROM t_customer c
            LEFT JOIN t_userinfo ui
            ON ui.fLoginName = c.fUserID
            WHERE qs.fCustomerUuid = c.fUuid
            <if test="qzSettingSearchCriteria.loginName != null and qzSettingSearchCriteria.loginName != ''">
                AND c.fUserID = #{qzSettingSearchCriteria.loginName}
            </if>
            <if test="qzSettingSearchCriteria.organizationID != null and qzSettingSearchCriteria.organizationID != ''">
                AND EXISTS (
                    SELECT 1
                    FROM t_organization o
                    WHERE o.fUuid = ui.fOrganizationID
                    AND o.fUuid = #{qzSettingSearchCriteria.organizationID}
                )
            </if>
        )
    </select>

    <select id="getQZKeywordRankInfoTypes" resultType="java.lang.String">
        SELECT
        CONCAT(qk.fTerminalType, '_', qk.fWebsiteType, '_', qk.fDataProcessingStatus)
        FROM t_qz_keyword_rank_info qk
        WHERE qk.fQZSettingUuid = #{qzSettingUuid}
        AND qk.fWebsiteType <![CDATA[<>]]> 'designationWord'
    </select>

    <select id="selectByQZSettingUuid" resultType="com.keymanager.monitoring.entity.QZKeywordRankInfo">
        SELECT
            qk.fUuid AS 'uuid',
            qk.fQZSettingUuid AS 'qzSettingUuid',
            qk.fTerminalType AS 'terminalType',
            qk.fWebsiteType AS 'websiteType',
            qk.fDataProcessingStatus AS 'dataProcessingStatus',
            qk.fDate AS 'date',
            qk.fTopTen AS 'topTen',
            qk.fTopTwenty AS 'topTwenty',
            qk.fTopThirty AS 'topThirty',
            qk.fTopForty AS 'topForty',
            qk.fTopFifty AS 'topFifty',
            qk.fCreateTopTenNum AS 'createTopTenNum',
            qk.fCreateTopFiftyNum AS 'createTopFiftyNum'
        FROM t_qz_keyword_rank_info qk
        WHERE qk.fQZSettingUuid = #{qzSettingUuid}
        AND qk.fTerminalType = #{terminalType}
        AND qk.fWebsiteType = 'designationWord'
    </select>
</mapper>