<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.QZKeywordRankInfoDao">

    <select id="searchExistingQZKeywordRankInfo" resultType="com.keymanager.monitoring.entity.QZKeywordRankInfo">
        SELECT
            qzkri.fUuid AS "uuid",
            qzkri.fQZSettingUuid AS "qzSettingUuid",
            qzkri.fTerminalType AS "terminalType",
            qzkri.fWebSiteType AS "websiteType",
            qzkri.fTopTen AS "topTen",
            qzkri.fTopTwenty AS "topTwenty",
            qzkri.fTopThirty AS "topThirty",
            qzkri.fTopForty AS "topForty",
            qzkri.fTopFifty AS "topFifty",
            qzkri.fDate AS "date",
            qzkri.fFullDate AS "fullDate",
            qzkri.fIncrease AS "increase",
            qzkri.fIpRoute AS "ipRoute",
            qzkri.fBaiduWeight AS "baiduWeight",
            qzkri.fRecord AS "baiduRecord",
            qzkri.fAchieveLevel AS "achieveLevel",
            qzkri.fSumSeries AS "sumSeries",
            qzkri.fDifferenceValue AS "differenceValue",
            qzkri.fCurrentPrice AS "currentPrice"
        FROM t_qz_keyword_rank_info qzkri
        WHERE qzkri.fQZSettingUuid = #{qzSettingUuid}
        <if test="checkStatus != null or baiduWeight != null">
            <choose>
                <when test="baiduWeight != null">
                    AND qzkri.fBaiduWeight = #{baiduWeight}
                </when>
                <when test="checkStatus == 2">
                    AND qzkri.fIncrease &gt;= 0.1
                </when>
                <when test="checkStatus == 1">
                    AND qzkri.fIncrease &lt;= -0.1
                </when>
            </choose>
            AND qzkri.fTerminalType = #{terminalType}
        </if>
    </select>

    <delete id="deleteByQZSettingUuid" parameterType="java.lang.Long">
        DELETE FROM t_qz_keyword_rank_info
        WHERE fQZSettingUuid = #{qzSettingUuid}
    </delete>
    <select id="getQZSettingTask" resultType="com.keymanager.monitoring.vo.ExternalQzSettingVO">
        SELECT
        qs.fUuid AS 'uuid',
        qs.fDomain AS 'domain',
        qs.fPcGroup AS 'pcGroup',
        qs.fPhoneGroup AS 'phoneGroup',
        qs.fCreateTime AS 'createTime'
        FROM t_qz_setting qs
        WHERE qs.fCrawlerStatus='new'
        OR qs.fCrawlerTime IS NULL
        OR(fCrawlerStatus = 'finish' AND DATE_ADD(fCrawlerTime,INTERVAL #{crawlerHour} HOUR) &lt;= NOW())
        OR DATE_ADD(fCrawlerTime,INTERVAL #{crawlerHour} HOUR) &lt;= NOW()
        ORDER BY qs.fCreateTime DESC
        limit #{taskNumber}
    </select>

    <select id="getQzKeywordRankInfos" resultType="com.keymanager.monitoring.entity.QZKeywordRankInfo">
    SELECT
      fUuid AS 'uuid',
      fTerminalType AS 'terminalType',
      fQZSettingUuid AS 'qzSettingUuid'
    FROM
      t_qz_keyword_rank_info
    </select>

    <select id="getCountNumOfRankInfo" resultType="com.keymanager.monitoring.criteria.QZSettingSearchCriteria">
        SELECT
            COUNT(qk.fIncrease &lt;= #{lower} OR NULL) AS downNum,
            COUNT(qk.fIncrease &gt;= #{upper} OR NULL) AS upNum,
            COUNT(qk.fAchieveLevel &gt; 1 OR (qk.fAchieveLevel = 1 AND qk.fDifferenceValue = 2) OR NULL) AS atLeastStandardNum,
            COUNT((qk.fAchieveLevel = 1 AND qk.fDifferenceValue &lt;&gt; 2) OR NULL) AS neverStandardNum,
            COUNT(qk.fDifferenceValue &lt;= #{differenceValue} OR NULL) AS closeStandardNum
        FROM t_qz_keyword_rank_info qk
        JOIN t_qz_setting qs
        ON qs.fUuid = qk.fQZSettingUuid
        JOIN t_customer c
        ON c.fUuid = qs.fCustomerUuid
        WHERE 1=1
        <if test="terminalType != null and terminalType !=''">
            AND qk.fTerminalType = #{terminalType}
        </if>
    </select>
</mapper>