<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.QZKeywordRankInfoDao">

    <select id="searchExistingQZKeywordRankInfo" resultType="com.keymanager.monitoring.entity.QZKeywordRankInfo">
        SELECT
            qzkri.fUuid          AS 'uuid',
            qzkri.fQZSettingUuid AS 'qzSettingUuid',
            qzkri.fTerminalType  AS 'terminalType',
            qzkri.fWebSiteType   AS 'websiteType',
            qzkri.fDataProcessingStatus AS 'dataProcessingStatus',
            qzkri.fTopTen        AS 'topTen',
            qzkri.fTopTwenty     AS 'topTwenty',
            qzkri.fTopThirty     AS 'topThirty',
            qzkri.fTopForty      AS 'topForty',
            qzkri.fTopFifty      AS 'topFifty',
            qzkri.fTopHundred    AS 'topHundred',
            qzkri.fCreateTopTenNum      AS 'createTopTenNum',
            qzkri.fCreateTopFiftyNum    AS 'createTopFiftyNum',
            qzkri.fDate          AS 'date',
            qzkri.fFullDate      AS 'fullDate',
            qzkri.fIncrease      AS 'increase',
            qzkri.fIpRoute       AS 'ipRoute',
            qzkri.fRecord        AS 'baiduRecord',
            qzkri.fAchieveLevel  AS 'achieveLevel',
            qzkri.fSumSeries     AS 'sumSeries',
            qzkri.fDifferenceValue      AS 'differenceValue',
            qzkri.fCurrentPrice         AS 'currentPrice',
            qzkri.fBaiduRecordFullDate  AS 'baiduRecordFullDate',
            qzkri.fAchieveTime          AS 'achieveTime',
            DATE(qzkri.fCreateTime)     AS 'createTime',
            DATE(qzkri.fUpdateTime)     AS 'updateTime'
        FROM t_qz_keyword_rank_info qzkri
        WHERE qzkri.fQZSettingUuid = #{qzSettingUuid}
        AND EXISTS(SELECT 1 FROM t_qz_setting qs WHERE qs.fUuid = qzkri.fQZSettingUuid)
        <if test="terminalType != null">
            AND qzkri.fTerminalType = #{terminalType}
        </if>
        <if test="websiteType != null">
            AND qzkri.fWebSiteType = #{websiteType}
        </if>
        ORDER BY qzkri.fCreateTime
    </select>

    <delete id="deleteByQZSettingUuid" parameterType="java.lang.Long">
        DELETE FROM t_qz_keyword_rank_info
        WHERE fQZSettingUuid = #{qzSettingUuid}
    </delete>

    <select id="getQZKeywordRankInfo" resultType="com.keymanager.monitoring.entity.QZKeywordRankInfo">
        SELECT
            tqkri.fUuid AS 'uuid',
            CONCAT("'", IF(MONTH(tqkri.fCreateTime) &lt; 10, CONCAT('0', MONTH(tqkri.fCreateTime)), MONTH(tqkri.fCreateTime)), '-', IF(DAY(tqkri.fCreateTime) &lt; 10, CONCAT('0', DAY(tqkri.fCreateTime)), DAY(tqkri.fCreateTime)), "'") AS 'createMonthDay'
        FROM t_qz_keyword_rank_info tqkri
        WHERE 1 = 1
        <if test="qzSettingUuid != null"> AND tqkri.fQZSettingUuid = #{qzSettingUuid} </if>
        <if test="terminalType != null and terminalType != ''"> AND tqkri.fTerminalType = #{terminalType} </if>
        <if test="websiteType != null and websiteType != ''"> AND tqkri.fWebsiteType = #{websiteType} </if>
        LIMIT 1
    </select>

    <select id="getCountNumOfRankInfo" resultType="com.keymanager.monitoring.criteria.QZSettingSearchCriteria">
        SELECT
            COUNT(qk.fIncrease = 0 OR NULL) AS 'unchangedNum',
            COUNT((qk.fIncrease &lt;= #{qzSettingSearchCriteria.lowerValue} OR NULL) AND
            (qk.fOneWeekDifference &lt;= #{qzSettingSearchCriteria.downOneWeekDiff} OR NULL)) AS 'downNum',
            COUNT((qk.fIncrease &gt;= #{qzSettingSearchCriteria.upperValue} OR NULL) AND
            (qk.fOneWeekDifference &gt;= #{qzSettingSearchCriteria.upOneWeekDiff} OR NULL)) AS 'upNum',
            COUNT(qk.fAchieveLevel &gt; 0 OR NULL) AS 'atLeastStandardNum',
            COUNT(qk.fAchieveLevel = 0 OR NULL) AS 'neverStandardNum',
            COUNT(qk.fDifferenceValue &lt;= #{qzSettingSearchCriteria.differenceValue} OR NULL) AS 'closeStandardNum',
            COUNT(qk.fTodayDifference = 0 OR NULL) AS 'unchangedDifferenceNum',
            COUNT(qk.fTodayDifference &gt;0 OR NULL) AS 'upDifferenceNum',
            COUNT(qk.fTodayDifference &lt;0 OR NULL) AS 'downDifferenceNum'
        FROM t_qz_keyword_rank_info qk
        LEFT JOIN t_qz_setting qs
        ON qs.fUuid = qk.fQZSettingUuid
        LEFT JOIN t_qz_operation_type qot
        ON qot.fQZSettingUuid = qk.fQZSettingUuid AND qot.fOperationtype = qk.fTerminalType
        WHERE qk.fTerminalType = #{qzSettingSearchCriteria.terminalType}
        AND qot.fOperationtype = #{qzSettingSearchCriteria.terminalType}
        AND qot.fIsDeleted = 0
        AND qk.fDataProcessingStatus = 1
        <if test="qzSettingSearchCriteria.customerUuid != null and qzSettingSearchCriteria.customerUuid != ''">AND qs.fCustomerUuid = #{qzSettingSearchCriteria.customerUuid}</if>
        <if test="qzSettingSearchCriteria.domain != null and qzSettingSearchCriteria.domain != ''">AND qs.fDomain = #{qzSettingSearchCriteria.domain}</if>
        <if test="qzSettingSearchCriteria.searchEngine != 'All'">AND qs.fSearchEngine = #{qzSettingSearchCriteria.searchEngine}</if>
        <choose>
            <when test="qzSettingSearchCriteria.group == null or qzSettingSearchCriteria.group == ''">
                AND qot.fGroup &gt; ''
            </when>
            <when test="qzSettingSearchCriteria.group != null and qzSettingSearchCriteria.group != ''">
                AND qot.fGroup = #{qzSettingSearchCriteria.group}
            </when>
        </choose>
        <if test="qzSettingSearchCriteria.updateStatus != null and qzSettingSearchCriteria.updateStatus != ''">AND qs.fUpdateStatus = #{qzSettingSearchCriteria.updateStatus}</if>
        <if test="qzSettingSearchCriteria.status != null">AND qs.fStatus = #{qzSettingSearchCriteria.status}</if>
        <if test="qzSettingSearchCriteria.renewalStatus != null">AND qs.fRenewalStatus = #{qzSettingSearchCriteria.renewalStatus}</if>
        <if test="qzSettingSearchCriteria.hasMonitor != null">AND qs.fIsMonitor = #{qzSettingSearchCriteria.hasMonitor}</if>
        <if test="qzSettingSearchCriteria.hasReady != null">AND qs.fIsReady = #{qzSettingSearchCriteria.hasReady}</if>
        <if test="qzSettingSearchCriteria.standardSpecies != null and qzSettingSearchCriteria.standardSpecies != ''">
            AND EXISTS (
                SELECT 1
                FROM t_qz_charge_rule qcr
                WHERE qcr.fQZOperationTypeUuid = qot.fUuid
                AND qcr.fStandardSpecies = #{qzSettingSearchCriteria.standardSpecies}
            )
        </if>
        <if test="qzSettingSearchCriteria.optimizationType != null">AND qot.fOptimizationType = #{qzSettingSearchCriteria.optimizationType}</if>
        <if test="qzSettingSearchCriteria.renewalStatus != null">AND qs.fRenewalStatus = #{qzSettingSearchCriteria.renewalStatus}</if>
        <if test="qzSettingSearchCriteria.categoryTag != null and qzSettingSearchCriteria.categoryTag != ''">
            AND EXISTS (
                SELECT 1
                FROM t_qz_category_tag qc
                WHERE qc.fQZSettingUuid = qs.fUuid
                AND qc.fTagName = #{qzSettingSearchCriteria.categoryTag}
            )
        </if>
        <if test="qzSettingSearchCriteria.operationType != null and qzSettingSearchCriteria.operationType != ''">
            AND EXISTS (
                SELECT 1
                FROM t_machine_info mi
                WHERE mi.fUsingOperationType = #{qzSettingSearchCriteria.operationType}
                AND mi.fGroup = qot.fGroup
                AND mi.fTerminalType = #{qzSettingSearchCriteria.terminalType}
            )
        </if>
        <if test="qzSettingSearchCriteria.createTime != null and qzSettingSearchCriteria.createTime != ''">
            AND qs.fCreateTime &gt;= #{qzSettingSearchCriteria.createTime}
        </if>
        <if test="qzSettingSearchCriteria.createTimePrefix != null and qzSettingSearchCriteria.createTimePrefix != ''">
            AND qs.fCreateTime &lt;= #{qzSettingSearchCriteria.createTimePrefix}
        </if>
        AND EXISTS (
            SELECT 1
            FROM t_customer c
            LEFT JOIN t_userinfo ui
            ON ui.fLoginName = c.fUserID
            WHERE qs.fCustomerUuid = c.fUuid
            <if test="qzSettingSearchCriteria.loginName != null and qzSettingSearchCriteria.loginName != ''">
                AND c.fUserID = #{qzSettingSearchCriteria.loginName}
            </if>
            <if test="qzSettingSearchCriteria.organizationID != null and qzSettingSearchCriteria.organizationID != ''">
                AND EXISTS (
                    SELECT 1
                    FROM t_organization o
                    WHERE o.fUuid = ui.fOrganizationID
                    AND o.fUuid = #{qzSettingSearchCriteria.organizationID}
                )
            </if>
        )
    </select>

    <select id="getQZKeywordRankInfoTypes" resultType="java.lang.String">
        SELECT CONCAT(qk.fTerminalType, '_', qk.fWebsiteType, '_', qk.fDataProcessingStatus)
        FROM t_qz_keyword_rank_info qk
        WHERE qk.fQZSettingUuid = #{qzSettingUuid}
        AND qk.fWebsiteType <![CDATA[<>]]> 'designationWord'
        GROUP BY qk.fTerminalType
    </select>

    <select id="selectByQZSettingUuid" resultType="com.keymanager.monitoring.entity.QZKeywordRankInfo">
        SELECT
            qk.fUuid AS 'uuid',
            qk.fQZSettingUuid AS 'qzSettingUuid',
            qk.fTerminalType AS 'terminalType',
            qk.fWebsiteType AS 'websiteType',
            qk.fDataProcessingStatus AS 'dataProcessingStatus',
            qk.fDate AS 'date',
            qk.fTopTen AS 'topTen',
            qk.fTopTwenty AS 'topTwenty',
            qk.fTopThirty AS 'topThirty',
            qk.fTopForty AS 'topForty',
            qk.fTopFifty AS 'topFifty',
            qk.fCreateTopTenNum AS 'createTopTenNum',
            qk.fCreateTopFiftyNum AS 'createTopFiftyNum'
        FROM t_qz_keyword_rank_info qk
        WHERE qk.fQZSettingUuid = #{qzSettingUuid}
        AND qk.fTerminalType = #{terminalType}
        AND qk.fWebsiteType = 'designationWord'
    </select>

    <select id="searchExistingExtraQZKeywordRankInfo" resultType="com.keymanager.monitoring.entity.QZKeywordRankInfo">
        SELECT qzkri.fUuid AS 'uuid'
        FROM t_qz_keyword_rank_info qzkri
        WHERE qzkri.fQZSettingUuid = #{qzSettingUuid}
        AND EXISTS(SELECT 1 FROM t_qz_setting qs WHERE qs.fUuid = qzkri.fQZSettingUuid)
        AND qzkri.fTerminalType = #{terminalType}
        AND qzkri.fWebsiteType = 'aiZhan'
    </select>
</mapper>