<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.QZOperationTypeDao">

  <!--查询判断对应的操作类型表中是否存在IsDelete为0-->
    <select id="searchQZOperationTypesByQZSettingUuid" resultType="com.keymanager.monitoring.entity.QZOperationType">
        SELECT
            qopty.fUuid             AS 'uuid',
            qopty.fQZSettingUuid    AS 'qzSettingUuid',
            qopty.fOperationtype          AS 'operationType',
            qopty.fInitialKeywordCount    AS 'initialKeywordCount',
            qopty.fCurrentKeywordCount    AS 'currentKeywordCount',
            qopty.fGroup            AS 'group',
            qopty.fReachTargetDate  AS 'reachTargetDate',
            qopty.fNextChargeDate   AS 'nextChargeDate',
            qopty.fUpdateTime       AS 'updateTime',
            qopty.fCreateTime       AS 'createTime',
            qopty.fStandardTime     AS 'standardTime',
            qopty.fIsDeleted        AS 'isDeleted',
            qopty.fMaxKeywordCount  AS 'maxKeywordCount'
        FROM t_qz_operation_type  qopty
        WHERE qopty.fQZSettingUuid = #{qzSettingUuid} AND qopty.fIsDeleted = 0
    </select>
  <!--查询多条操作类型信息-->
    <select id="searchQZOperationTypesIsDelete" resultType="com.keymanager.monitoring.entity.QZOperationType">
      SELECT
       qopty.fUuid            AS 'uuid',
       qopty.fQZSettingUuid    AS 'qzSettingUuid',
       qopty.fOperationtype          AS 'operationType',
       qopty.fStandardType  AS 'standardType',
       qopty.fInitialKeywordCount    AS 'initialKeywordCount',
       qopty.fCurrentKeywordCount    AS 'currentKeywordCount',
       qopty.fGroup            AS 'group',
       qopty.fSubDomainName  AS 'subDomainName',
       qopty.fReachTargetDate  AS 'reachTargetDate',
       qopty.fNextChargeDate   AS 'nextChargeDate',
       qopty.fUpdateTime       AS 'updateTime',
       qopty.fCreateTime       AS 'createTime',
       qopty.fStandardTime     AS 'standardTime',
       qopty.fIsDeleted        AS 'isDeleted',
       qopty.fMaxKeywordCount  AS 'maxKeywordCount'
      FROM t_qz_operation_type  qopty
      WHERE  qopty.fQZSettingUuid  = #{qzSettingUuid} AND qopty.fIsDeleted = 0
    </select>
    <!--返回上一级插入的主键-->
    <select id="selectLastId" resultType="int">
        select LAST_INSERT_ID()
    </select>
    <!--删除 -->
    <delete id="deleteByQZSettingUuid">
        DELETE FROM t_qz_operation_type WHERE fQZSettingUuid = #{qzSettingUuid}
    </delete>

    <select id="getStandardType" resultType="java.lang.String">
        SELECT op.fStandardType
        FROM t_qz_operation_type op
        WHERE op.fQZSettingUuid = #{qzSettingUuid}
        AND op.fOperationtype = #{operationType}
    </select>

    <update id="updateQZOperationTypeStandardTime">
        UPDATE t_qz_operation_type
        SET fUpdateTime = NOW()
        <choose>
            <when test="isStandardFlag == true">
                , fStandardTime = NOW()
            </when>
            <when test="isStandardFlag == false">
                , fStandardTime = NULL
            </when>
        </choose>
        WHERE fQZSettingUuid = #{qzSettingUuid}
        AND fOperationtype = #{operationType}
    </update>

    <select id="searchQZOperationTypeByQZSettingAndTerminalType" resultType="com.keymanager.monitoring.entity.QZOperationType">
        SELECT
            fUuid AS 'uuid',
            fStandardType AS 'standardType',
            fStandardTime AS 'standardTime'
        FROM
            t_qz_operation_type
        WHERE
            fQZSettingUuid = #{qzSettingUuid}
        AND
            fOperationType = #{operationType}
        AND
            fIsDeleted = 0
    </select>

    <select id="updateStandardTimeByUuid">
        UPDATE t_qz_operation_type
        SET
        <if test="updateFlag == 1 and lastAchieve == 0">
            fStandardTime = NOW()
        </if>
        <if test="updateFlag == 0">
            fStandardTime = NULL
        </if>
        WHERE fUuid = #{uuid}
    </select>
</mapper>