<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.QZOperationTypeDao">

  <!--查询判断对应的操作类型表中是否存在IsDelete为0-->
    <select id="searchQZOperationTypesByQZSettingUuid" resultType="com.keymanager.monitoring.entity.QZOperationType">
        SELECT
            qopty.fUuid             AS 'uuid',
            qopty.fQZSettingUuid    AS 'qzsettingUuid',
            qopty.fOperationtype          AS 'operationType',
            qopty.fInitialKeywordCount    AS 'initialKeywordCount',
            qopty.fCurrentKeywordCount    AS 'currentkeywordcount',
            qopty.fGroup            AS 'group',
            qopty.fReachTargetDate  AS 'reachTargetDate',
            qopty.fNextChargeDate   AS 'nextChargeDate',
            qopty.fUpdateTime       AS 'updateTime',
            qopty.fCreateTime       AS 'createTime',
            qopty.fIsDeleted        AS 'isDeleted',
            qopty.fMaxKeywordCount  AS 'maxKeywordCount'
        FROM t_qz_operation_type  qopty
        WHERE qopty.fQZSettingUuid = #{qzSettingUuid} AND qopty.fIsDeleted = 0
    </select>
  <!--查询多条操作类型信息-->
    <select id="searchQZOperationTypesIsDelete" resultType="com.keymanager.monitoring.entity.QZOperationType">
      SELECT
       qopty.fUuid            AS 'uuid',
       qopty.fQZSettingUuid    AS 'qzsettingUuid',
       qopty.fOperationtype          AS 'operationType',
       qopty.fStandardType  AS 'standardType',
       qopty.fInitialKeywordCount    AS 'initialKeywordCount',
       qopty.fCurrentKeywordCount    AS 'currentkeywordcount',
       qopty.fGroup            AS 'group',
       qopty.fSubDomainName  AS 'subDomainName',
       qopty.fReachTargetDate  AS 'reachTargetDate',
       qopty.fNextChargeDate   AS 'nextChargeDate',
       qopty.fUpdateTime       AS 'updateTime',
       qopty.fCreateTime       AS 'createTime',
       qopty.fIsDeleted        AS 'isDeleted',
       qopty.fMaxKeywordCount  AS 'maxKeywordCount'
      FROM t_qz_operation_type  qopty
      WHERE  qopty.fQZSettingUuid  = #{qzSettingUuid} AND qopty.fIsDeleted = 0
    </select>
    <!--返回上一级插入的主键-->
    <select id="selectLastId" resultType="int">
        select LAST_INSERT_ID()
    </select>
    <!--删除 -->
    <delete id="deleteByQZSettingUuid">
        DELETE FROM t_qz_operation_type WHERE fQZSettingUuid = #{qzSettingUuid}
    </delete>

    <select id="findQZOperationTypes" resultType="com.keymanager.monitoring.vo.QZOperationTypeVO">
      SELECT
        op.fQZSettingUuid AS 'qzSettingUuid',
        op.fOperationtype AS 'operationType',
        cr.fStartKeywordCount AS 'startKeywordCount',
        cr.fEndKeywordCount AS 'endKeywordCount',
        cr.fAmount AS 'amount'
    FROM t_qz_operation_type op
    JOIN t_qz_charge_rule cr
    ON op.fUuid = cr.fQZOperationTypeUuid
    WHERE op.fQZSettingUuid = #{qzSettingUuid} and op.fOperationtype = #{operationType} and fGroup = #{group}
    ORDER BY cr.fStartKeywordCount
    </select>

</mapper>