<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.ResourceDao">

    <!-- 通用查询结果列-->
    <sql id="colID">
        s.fUuid AS `id`,
        s.fResourceName AS `resourceName`,
        s.fUrl AS `url`,
        s.fOpenMode AS `openMode`,
        s.fDescription AS `description`,
        s.fIconCls AS `icon`,
        s.fParentID AS `parentID`,
        s.fSequence AS `sequence`,
        s.fStatus AS `status`,
        s.fOpened AS `opened`,
        s.fResourceType AS `resourceType`,
        s.fUpdateTime AS `updateIime`,
        s.fCreateTime AS `createTime`
    </sql>

    <select id="selectAuthorizationMenu" resultType="com.keymanager.monitoring.entity.Resource">
        SELECT
        <include refid="colID"/>
        FROM t_resource s
        WHERE s.fUuid IN (SELECT
        rr.fResourceID
        FROM t_userinfo u,
        t_user_role ur,
        t_role_resource rr
        WHERE u.fLoginName = #{loginName}
        AND u.fUuid = ur.fUserID
        AND ur.fRoleID = rr.fRoleID)
        AND s.fResourceType = 0
        AND (s.fVersion like CONCAT('%',#{version},'%') OR s.fVersion = '')
        ORDER BY s.fSequence
    </select>

    <select id="selectTreeByPid" resultType="java.util.HashMap" parameterType="java.lang.Long">
        SELECT B.fUuid,
        A.LEVEL
        FROM (
                 SELECT @ids AS _ids,
                        (
                            SELECT @ids := GROUP_CONCAT(fUuid)
                            FROM t_resource
                            WHERE FIND_IN_SET(fParentID, @ids)
                        )            AS cids,
                        @l := @l + 1 AS LEVEL
                 FROM t_resource,
                      (SELECT @ids := #{pid}, @l := 0) b
                 WHERE @ids IS NOT NULL
             ) A,
             t_resource B
        WHERE A.LEVEL != 1
          AND FIND_IN_SET(B.fUuid, A._ids)
    </select>

    <select id="updChildVersion">
        UPDATE t_resource SET fVersion = #{version}
        WHERE fUuid IN
        <foreach item="item" collection="items" open="(" separator="," close=")">
            #{item.fUuid}
        </foreach>
    </select>
</mapper>