<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.RoleResourceDao">

    <!-- 通用查询结果列-->
    <sql id="colID">
        fUuid AS `uuid`,
        fRoleID AS `roleID`,
        fResourceID AS `resourceID`,
        fUpdateTime AS `updateTime`,
        fcreateTime AS `createTime`
    </sql>

</mapper>