<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.RoleDao">

    <!-- 通用查询结果列-->
    <sql id="colID">
        fUuid AS `uuid`,
        fRoleName AS `roleName`,
        fSequence AS `sequence`,
        fDescription AS `description`,
        fStatus AS `status`,
        fUpdateTime AS `updateTime`,
        fCreateTime AS `createTime`
    </sql>

    <select id="selectUuidByRoleName" resultType="java.lang.Long" parameterType="java.lang.String">
        SELECT
        fUuid AS "uuid"
        FROM
        t_role
        WHERE
        fRoleName = #{roleName}
    </select>

    <select id="selectResourceIdListByRoleId" resultType="java.lang.Long" parameterType="java.lang.Long">
        SELECT
            e.fResourceID AS id
        FROM
            t_role r
        LEFT JOIN t_role_resource e ON r.fUuid = e.fRoleID
        WHERE
            r.fUuid = #{id}
    </select>

    <select id="selectResourceListByRoleIdList" resultType="Resource"
            parameterType="java.lang.Long">
        SELECT
            DISTINCT rs.fUuid AS `uuid`,
            rs.fResourceName AS `resourceName`,
            rs.fUrl AS `url`,
            rs.fOpenMode AS `openMode`,
            rs.fDescription AS `description`,
            rs.fIconCls AS `iconCls`,
            rs.fParentID AS `pid`,
            rs.fSequence AS `sequence`,
            rs.fStatus AS `status`,
            rs.fOpened AS `opened`,
            rs.fResourceType AS `resourceType`,
            rs.fUpdateTime AS `updateIime`,
            rs.fCreateTime AS `createTime`
        FROM
            t_role r
        LEFT JOIN t_role_resource e ON r.fUuid = e.fRoleID
        LEFT JOIN t_resource rs ON e.fResourceID = rs.fUuid
        WHERE
            r.fUuid in
            <foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
                #{item}
            </foreach>
        AND rs.fResourceType = 0
        ORDER BY rs.fSequence
    </select>

    <select id="selectResourceListByRoleId" resultType="java.util.HashMap" parameterType="java.lang.Long">
        SELECT
            e.fUuid AS id,
            rs.fUrl AS url
        FROM
            t_role r
        LEFT JOIN t_role_resource e ON r.fUuid = e.fRoleID
        LEFT JOIN t_resource rs ON e.fResourceID = rs.fUuid
        WHERE
            r.fUuid = #{id}
    </select>

</mapper>