<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.TSMainKeywordDao">
    <sql id="colID">
        m.fUuid AS `uuid`,
        m.fGroup AS `group`,
        m.fKeyword AS `keyword`,
        m.fUpdateTime AS `updateTime`,
        m.fCreateTime AS `createTime`,
        m.fComplaintsTime AS `complaintsTime`
    </sql>

    <select id="findTSMainKeywords"  resultType="com.keymanager.monitoring.entity.TSMainKeyword">
        SELECT
            <include refid="colID"/>
        FROM t_ts_main_keyword AS m
        WHERE 1 = 1
        <if test="keyword != null and keyword != ''">AND m.fKeyword LIKE '${keyword}%'</if>
        <if test="group != null and group != ''">AND m.fGroup = '${group}'</if>
    </select>

    <select id="findTSMainKeywordByMainKeyword" resultType="com.keymanager.monitoring.entity.TSMainKeyword">
        SELECT
        <include refid="colID"/>
        FROM t_ts_main_keyword m
        WHERE m.fKeyword = #{mainKeyword}
    </select>

    <select id="getTSMainKeywordsForComplaints" resultType="com.keymanager.monitoring.entity.TSMainKeyword">
        SELECT
        <include refid="colID"/>
        FROM t_ts_main_keyword AS m
        ORDER BY m.fComplaintsTime
    </select>

    <select id="getTSMainKeywordsByCity" resultType="com.keymanager.monitoring.entity.TSMainKeyword">
        SELECT
        <include refid="colID"/>
        FROM t_ts_main_keyword AS m
        WHERE 1 = 1
        <if test="group != null and group != ''">AND m.fGroup = #{group}</if>
        ORDER BY m.fComplaintsTime
    </select>

    <select id="getTSMainKeywordByKeyword" resultType="com.keymanager.monitoring.entity.TSMainKeyword">
        SELECT
        <include refid="colID"/>
        FROM t_ts_main_keyword m
        WHERE m.fKeyword = #{keyword}
    </select>

    <select id="selectLastId" resultType="java.lang.Integer">
        select LAST_INSERT_ID()
    </select>
</mapper>