<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.TSNegativeKeywordDao">

    <select id="findNegativeKeywordsByMainKeywordUuid" resultType="com.keymanager.monitoring.entity.TSNegativeKeyword">
        SELECT
            ng.fUuid AS `uuid`,
            ng.fTSMainKeywordUuid AS `tsMainKeywordUuid`,
            ng.fKeyword AS `keyword`,
            ng.fPCEmailSentOver2Weeks AS `pcEmailSentOver2Weeks`,
            ng.fPhoneEmailSentOver2Weeks AS `phoneEmailSentOver2Weeks`,
            ng.fPCEmailSentOver3Times AS `pcEmailSentOver3Times`,
            ng.fPhoneEmailSentOver3Times AS `phoneEmailSentOver3Times`,
            ng.fPCAppeared AS `pcAppeared`,
            ng.fPhoneAppeared AS `phoneAppeared`,
            ng.fPCOccurTimes AS `pcOccurTimes`,
            ng.fPhoneOccurTimes AS `phoneOccurTimes`,
            ng.fPCComplainTime AS `pcComplainTime`,
            ng.fPhoneComplainTime AS `phoneComplainTime`,
            ng.fpcComplained AS `pcComplained`,
            ng.fphoneComplained  AS `phoneComplained`,
            ng.fpcSetAppeared  AS `pcSetAppeared`,
            ng.fphoneSetAppeared  AS `phoneSetAppeared`,
            ng.fUpdateTime AS `updateTime`,
            ng.fCreateTime AS `createTime`,
            ng.IsDeleted AS `isDeleted`
        FROM t_ts_negative_keyword AS ng
        WHERE ng.fTSMainKeywordUuid = #{tsMainKeywordUuid} AND ng.IsDeleted = 0
    </select>


    <select id="selectLastId" resultType="int">
        select LAST_INSERT_ID()
    </select>

    <!--删除 -->
    <delete id="deleteByTSmainKeywordUuid">
        DELETE FROM t_ts_negative_keyword WHERE  fTSMainKeywordUuid = #{tsMainKeywordUuid}
    </delete>

    <!--邮件内容-->
  <sql id="Content">
    `m`.`fUuid` AS `uuid`,
	`m`.`fKeyword` AS `keyword`,
	`m`.`fGroup` AS `group`,
	`ng`.`fUuid` AS `tsNegativeKeywordUuid`,
	`ng`.`fKeyword` AS `tsNegativeKeyword`,
	`ng`.`fPCEmailSentOver2Weeks` AS `pcEmailSentOver2Weeks`,
	`ng`.`fPhoneEmailSentOver2Weeks` AS `phoneEmailSentOver2Weeks`,
	`ng`.`fPCEmailSentOver3Times` AS `pcEmailSentOver3Times`,
	`ng`.`fPhoneEmailSentOver3Times` AS `phoneEmailSentOver3Times`,
	`ng`.`fPCAppeared` AS `pcAppeared`,
	`ng`.`fPhoneAppeared` AS `phoneAppeared`,
	`ng`.`fPCOccurTimes` AS `pcOccurTimes`,
	`ng`.`fPhoneOccurTimes` AS `phoneOccurTimes`,
	`ng`.`fPCComplainTime` AS `pcComplainTime`,
	`ng`.`fPhoneComplainTime` AS `phoneComplainTime`,
	`ng`.`fPCComplained` AS `pcComplained`,
	`ng`.`fPhoneComplained` AS `phoneComplained`,
	`ng`.`fPCSetAppeared` AS `pcSetAppeared`,
	`ng`.`fPhoneSetAppeared` AS `phoneSetAppeared`,
	`ng`.`IsDeleted` AS `isDeleted`,
	`m`.`fUpdateTime` AS `updateTime`,
	`m`.`fCreateTime` AS `createTime`,
	`m`.`fComplaintsTime` AS `complaintsTime`
  </sql>
  <select id="complaintsReportContentPC2weeks" resultType="com.keymanager.monitoring.vo.TSMainKeywordVO">
        SELECT
            <include refid="Content"/>
        FROM
            `t_ts_main_keyword` `m`
          JOIN `t_ts_negative_keyword` `ng` ON `m`.`fUuid` = `ng`.`fTSMainKeywordUuid`
          WHERE (`ng`.`fPCEmailSentOver2Weeks` =0 AND `ng`.`fPCAppeared` =1 AND NOW() >= DATE_ADD(`ng`.`fCreateTime`,INTERVAL 2 WEEK))
    </select>
  <select id="complaintsReportContentPhone2weeks" resultType="com.keymanager.monitoring.vo.TSMainKeywordVO">
        SELECT
    <include refid="Content"/>
        FROM
            `t_ts_main_keyword` `m`
          JOIN `t_ts_negative_keyword` `ng` ON `m`.`fUuid` = `ng`.`fTSMainKeywordUuid`
          WHERE (`ng`.`fPhoneEmailSentOver2Weeks` =0 AND `ng`.`fPhoneAppeared` =1 AND NOW() >= DATE_ADD(`ng`.`fCreateTime`,INTERVAL 2 WEEK))
    </select>
  <select id="complaintsReportContentPC3times" resultType="com.keymanager.monitoring.vo.TSMainKeywordVO">
        SELECT
            <include refid="Content"/>
        FROM
            `t_ts_main_keyword` `m`
          JOIN `t_ts_negative_keyword` `ng` ON `m`.`fUuid` = `ng`.`fTSMainKeywordUuid`
          WHERE (`ng`.`fPCEmailSentOver3Times` =0 AND `ng`.`fPCOccurTimes`>=3 AND `ng`.`fPCAppeared` =1)
    </select>
  <select id="complaintsReportContentPhone3times" resultType="com.keymanager.monitoring.vo.TSMainKeywordVO">
        SELECT
            <include refid="Content"/>
        FROM
            `t_ts_main_keyword` `m`
          JOIN `t_ts_negative_keyword` `ng` ON `m`.`fUuid` = `ng`.`fTSMainKeywordUuid`
          WHERE (`ng`.`fPhoneEmailSentOver3Times` =0 AND  `ng`.`fPhoneOccurTimes`>=3 AND `ng`.`fPhoneAppeared` =1)
    </select>
</mapper>