<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.UserMessageDao">

    <select id="getUserMessages" resultType="com.keymanager.monitoring.entity.UserMessage">
        SELECT
            um.fUuid AS 'uuid',
            <if test="userMessageCriteria.messageStatus == 1">
                u.fUserName AS 'senderUserName',
            </if>
            <if test="userMessageCriteria.messageStatus == 2">
                u.fUserName AS 'receiverUserName',
            </if>
            um.fStatus AS 'status',
            um.fContent AS 'content'
        FROM
            t_user_message um
        LEFT JOIN t_userInfo u
        ON
        <if test="userMessageCriteria.messageStatus == 1">
            u.fLoginName = um.fSenderUserName
        </if>
        <if test="userMessageCriteria.messageStatus == 2">
            u.fLoginName = um.fReceiverUserName
        </if>
        WHERE 1 = 1
            <if test="userMessageCriteria.status.size() > 0">
                AND um.fStatus IN
                <foreach collection="userMessageCriteria.status" item="status" index="index" open="(" close=")" separator=",">
                    #{status}
                </foreach>
            </if>
            AND (um.fStatus != 2 || (um.fStatus = 2 &amp;&amp; um.fUpdateTime &gt;= DATE_SUB(NOW(), INTERVAL 1 DAY)))
            <if test="userMessageCriteria.messageStatus == 1">
                <choose>
                    <when test="userMessageCriteria.userName != null">
                        AND um.fReceiverUserName = #{userMessageCriteria.userName}
                    </when>
                </choose>
                <if test="userMessageCriteria.targetUserNames.size() > 0">
                    AND um.fSenderUserName IN
                    <foreach collection="userMessageCriteria.targetUserNames" item="targetUserName" index="index" open="(" close=")" separator=",">
                        #{targetUserName}
                    </foreach>
                </if>
            </if>
            <if test="userMessageCriteria.messageStatus == 2">
                <choose>
                    <when test="userMessageCriteria.userName != null">
                        AND um.fSenderUserName = #{userMessageCriteria.userName}
                    </when>
                </choose>
                <if test="userMessageCriteria.targetUserNames.size() > 0">
                    AND um.fReceiverUserName IN
                    <foreach collection="userMessageCriteria.targetUserNames" item="targetUserName" index="index" open="(" close=")" separator=",">
                        #{targetUserName}
                    </foreach>
                </if>
            </if>
        ORDER BY um.fUpdateTime DESC
    </select>

    <select id="getUserMessageByUuid" resultType="com.keymanager.monitoring.entity.UserMessage">
        SELECT
            fSenderUserName AS 'senderUserName',
            fReceiverUserName AS 'receiverUserName',
            fStatus AS 'status',
            fContent AS 'content'
        FROM
            t_user_message
        WHERE
            fUuid = #{uuid}
    </select>

    <insert id="saveUserMessages">
        INSERT INTO t_user_message (fSenderUserName, fReceiverUserName, fStatus, fContent, fUpdateTime)
        VALUES
        <foreach collection="userMessageCriteria.targetUserNames" item="targetUserName" index="index" separator=",">
            (#{userName}, #{targetUserName}, #{userMessageCriteria.status[0]}, #{userMessageCriteria.content}, #{now})
        </foreach>
    </insert>

    <update id="updateUserMessages">
        UPDATE
            t_user_message
        SET
            <if test="userMessageCriteria.status != null">
                fStatus = #{userMessageCriteria.status[0]},
            </if>
            <if test="userMessageCriteria.content != null">
                fContent = #{userMessageCriteria.content},
            </if>
            fUpdateTime = #{now}
        WHERE
            fUuid = #{userMessageCriteria.uuid}
    </update>

    <select id="checkMessageInboxCount" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT
            COUNT(*)
        FROM
            t_user_message
        <where>
            fStatus IN (0, 1)
            <if test="userName != null">
                AND fReceiverUserName = #{userName}
            </if>
        </where>
    </select>
</mapper>