<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.UserMessageListDao">

    <select id="getUserMessageLists" resultType="com.keymanager.monitoring.entity.UserMessageList">
        SELECT
            fUuid AS 'uuid',
            <if test="userMessageListCriteria.messageStatus == 1">
                fSenderUserName AS 'senderUserName',
            </if>
            <if test="userMessageListCriteria.messageStatus == 2">
                fReceiverUserName AS 'receiverUserName',
            </if>
            fStatus AS 'status',
            fContent AS 'content'
        FROM
            t_user_message_list
        WHERE
            <if test="userMessageListCriteria.status.size() > 0">
                fStatus IN
                <foreach collection="userMessageListCriteria.status" item="status" index="index" open="(" close=")" separator=",">
                    #{status}
                </foreach>
            </if>
            AND (fStatus !=2 || (fStatus = 2 &amp;&amp; HOUR(timediff( now(), fUpdateTime)) &lt;= 24))
            <if test="userMessageListCriteria.messageStatus == 1">
                <choose>
                    <when test="userMessageListCriteria.userName != null">
                        AND   fReceiverUserName = #{userMessageListCriteria.userName}
                    </when>
                </choose>
                <if test="userMessageListCriteria.targetUserName.size() > 0">
                    AND
                    fSenderUserName IN
                    <foreach collection="userMessageListCriteria.targetUserName" item="targetUserName" index="index" open="(" close=")" separator=",">
                        #{targetUserName}
                    </foreach>
                </if>
            </if>
            <if test="userMessageListCriteria.messageStatus == 2">
                <choose>
                    <when test="userMessageListCriteria.userName != null">
                        AND   fSenderUserName = #{userMessageListCriteria.userName}
                    </when>
                </choose>
                <if test="userMessageListCriteria.targetUserName.size() > 0">
                    AND
                        fReceiverUserName IN
                        <foreach collection="userMessageListCriteria.targetUserName" item="targetUserName" index="index" open="(" close=")" separator=",">
                            #{targetUserName}
                        </foreach>
                </if>
            </if>
        ORDER BY
            fUpdateTime DESC
    </select>

    <select id="getUserMessageByUuid" resultType="com.keymanager.monitoring.entity.UserMessageList">
        SELECT
            fSenderUserName AS 'senderUserName',
            fReceiverUserName AS 'receiverUserName',
            fStatus AS 'status',
            fContent AS 'content'
        FROM
            t_user_message_list
        WHERE
            fUuid = #{uuid}
    </select>

    <insert id="saveUserMessages">
        INSERT INTO
            t_user_message_list
            (fSenderUserName,
            fReceiverUserName,
            fStatus,
            fContent,
            fUpdateTime)
        VALUES
        <foreach collection="userMessageListCriteria.targetUserName" item="targetUserName" index="index" separator=",">
            (#{userName},
            #{targetUserName},
            #{userMessageListCriteria.status[0]},
            #{userMessageListCriteria.content},
            #{now})
        </foreach>
    </insert>

    <update id="updateUserMessages">
        UPDATE
            t_user_message_list
        SET
            <if test="userMessageListCriteria.status != null">
                fStatus = #{userMessageListCriteria.status[0]},
            </if>
            <if test="userMessageListCriteria.content != null">
                fContent = #{userMessageListCriteria.content},
            </if>
            fUpdateTime = #{now}
        WHERE
            fUuid = #{userMessageListCriteria.uuid}
    </update>

    <select id="checkMessageInboxCount" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT
            COUNT(*)
        FROM
            t_user_message_list
        <where>
            fStatus IN (0,1)
            <if test="userName != null">
                AND fReceiverUserName = #{userName}
            </if>
        </where>
    </select>
</mapper>