<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.UserInfoDao">

    <!-- 通用查询结果列-->
    <sql id="colID">
        u.fUuid AS 'uuid',
        u.fLoginName AS 'loginName',
        u.fUserName AS 'userName',
        u.fPassword AS 'password',
        u.fSex AS 'sex',
        u.fQQ AS 'qq',
        u.fSalt AS 'salt',
        u.fStatus AS 'status',
        u.fUpdateTime AS 'updateTime',
        u.fCreateTime AS 'createTime'
    </sql>

    <resultMap id="userVoResultMap" type="com.keymanager.monitoring.vo.UserVO">
        <id column="userUuid" property="userUuid" jdbcType="BIGINT"/>
        <result column="loginName" property="loginName" jdbcType="VARCHAR"/>
        <result column="userName" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="TINYINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="organizationID" property="organizationID" jdbcType="INTEGER"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="organizationName" property="organizationName" jdbcType="VARCHAR"/>

        <collection property="rolesList" ofType="Role">
            <id column="uuid" property="uuid"/>
            <result column="roleName" property="roleName"/>
        </collection>
    </resultMap>

    <select id="selectUserVoById" resultMap="userVoResultMap" parameterType="java.lang.Long">
        SELECT
        u.fUuid AS `userUuid`,
        u.fLoginName AS `loginName`,
        u.fUserName AS `userName`,
        u.fPassword AS `password`,
        u.fSex AS `sex`,
        u.fStatus AS `status`,
        u.fOrganizationID AS `organizationID`,
        u.fPhone AS `phone`,
        u.fcreateTime AS `createTime`,
        og.fOrganizationName AS `organizationName`,
        r.fUuid AS `uuid`,
        r.fRoleName AS `roleName`
        FROM
        t_userinfo u
        LEFT JOIN t_user_role ur ON u.fUuid = ur.fUserID
        LEFT JOIN t_role r ON ur.fRoleID = r.fUuid
        LEFT JOIN t_organization og ON og.fuuid = u.fOrganizationID
        where
            u.fUuid = #{id}
    </select>

    <select id="selectUserPage" resultType="Map">
        SELECT
            u.fUuid AS `uuid`,
            u.fLoginName AS `loginName`,
            u.fUserName AS `userName`,
            u.fPassword AS `password`,
            u.fSex AS `sex`,
            u.fStatus AS `status`,
            u.fOrganizationID AS `organizationID`,
            u.fPhone AS `phone`,
            u.fcreateTime AS `createTime`,
            og.fOrganizationName AS `organizationName`,
            group_concat(r.`fRoleName`) AS `rolesList`
        FROM t_userinfo u
        LEFT JOIN t_user_role ur ON u.fUuid = ur.fUserID
        LEFT JOIN t_role r ON ur.fRoleID = r.fUuid
        LEFT JOIN t_organization og ON og.fUuid= u.fOrganizationID
        <where>
            <if test=" userName != null and userName != '' ">
                u.fUserName = #{userName}
            </if>
            <if test=" organizationID != null ">
                u.fOrganizationID = #{organizationID}
            </if>
            <!--<if test=" startTime != null ">-->
                <!--<![CDATA[ and u.create_time >= #{startTime} ]]>-->
            <!--</if>-->
            <!--<if test=" endTime != null ">-->
                <!--<![CDATA[ and u.create_time <= #{endTime} ]]>-->
            <!--</if>-->
        </where>
        GROUP BY u.fUuid
    </select>

    <select id="searchUsers" resultType="com.keymanager.monitoring.entity.UserInfo">
        SELECT
        <include refid="colID"/>
        FROM t_userinfo u
    </select>

    <!--原userDao的方法-->
    <select id="getUserInfo" resultType="com.keymanager.monitoring.entity.UserInfo">
        SELECT
        <include refid="colID"/>
        FROM t_userinfo u
        WHERE
        u.fUuid = #{userID}
        AND u.fStatus = 0
    </select>


    <select id="getUuidByLoginName" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT
        fUuid AS "uuid"
        FROM t_userinfo
        WHERE fLoginName = #{loginName}
    </select>


    <select id="findActiveUsers" resultType="com.keymanager.monitoring.entity.UserInfo">
        SELECT
        <include refid="colID"/>
        FROM
        t_userinfo u
        WHERE u.fStatus = 0
    </select>

</mapper>