<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.WebsiteDao">
	<sql id="selectCol">
		w.fUuid AS "uuid",
		w.fWebsiteName AS "websiteName",
		w.fDomain AS "domain",
		w.fIndustry AS "industry",
		w.fRegistrar AS "registrar",
		w.fAnalysis AS "analysis",
		w.fExpiryTime AS "expiryTime",
		w.fDatabaseName AS "databaseName",
		w.fDatabaseUserName AS "databaseUserName",
		w.fDatabasePassword AS "databasePassword",
		w.fBackgroundDomain AS "backgroundDomain",
		w.fBackgroundUserName AS "backgroundUserName",
		w.fBackgroundPassword AS "backgroundPassword",
		w.fServerIP AS "serverIP",
		w.fServerUserName AS "serverUserName",
		w.fServerPassword AS "serverPassword",
		w.fAccessFailCount AS "accessFailCount",
		w.fLastAccessTime AS "lastAccessTime",
		w.fAccessFailTime AS "accessFailTime",
		w.fUpdateTime AS "updateTime",
		w.fCreateTime AS "createTime"
	</sql>

	<select id="searchWebsites" parameterType="com.keymanager.monitoring.criteria.WebsiteCriteria" resultType="com.keymanager.monitoring.vo.WebsiteVO">
		SELECT
			COUNT(fl.fUuid) AS friendlyLinkCount,
			COUNT(a.fUuid) AS advertisingCount,
			<include refid="selectCol" />
		FROM
			t_website w
		LEFT JOIN t_friendly_link fl ON w.fUuid = fl.fWebsiteUuid
		LEFT JOIN t_advertising a ON w.fUuid = a.fWebsiteUuid
		WHERE 1 = 1
		<if test="websiteCriteria.websiteName != null and websiteCriteria.websiteName != ''">AND w.fWebsiteName LIKE '%${websiteCriteria.websiteName}%'</if>
		<if test="websiteCriteria.domain != null and websiteCriteria.domain != ''">AND w.fDomain LIKE '%${websiteCriteria.domain}%'</if>
		<if test="websiteCriteria.accessFailCount != null">AND w.fAccessFailCount = #{websiteCriteria.accessFailCount}</if>
		GROUP BY w.fUuid
		ORDER BY w.fLastAccessTime
	</select>

	<select id="takeWebsitesForAccess" resultType="com.keymanager.monitoring.entity.Website">
		SELECT
		<include refid="selectCol" />
		FROM
		t_website w
		ORDER BY fLastAccessTime
	</select>

	<select id="searchExpireTime" resultType="com.keymanager.monitoring.entity.Website">
		SELECT
		  <include refid="selectCol"/>
		FROM
		t_website w
		WHERE
		fExpiryTime <![CDATA[<=]]> date_add(NOW(), interval 1 MONTH)
	</select>

	<select id="selectBackGroundInfoForUpdateSalesInfo" resultType="com.keymanager.monitoring.criteria.WebsiteBackGroundInfoCriteria">
		SELECT
		fBackgroundDomain AS 'backgroundDomain',
		fBackgroundUserName AS 'backgroundUserName',
		fBackgroundPassword AS 'backgroundPassword',
		fWebsiteType AS 'websiteType'
		FROM
		t_website
	</select>

</mapper>