<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keymanager.monitoring.dao.WebsiteDao">
	<sql id="selectCol">
		w.fUuid AS "uuid",
		w.fWebsiteName AS "websiteName",
		w.fDomain AS "domain",
		w.fIndustry AS "industry",
		w.fRegistrar AS "registrar",
		w.fAnalysis AS "analysis",
		w.fExpiryTime AS "expiryTime",
		w.fDatabaseName AS "databaseName",
		w.fDatabaseUserName AS "databaseUserName",
		w.fDatabasePassword AS "databasePassword",
		w.fBackendDomain AS "backendDomain",
		w.fBackendUserName AS "backendUserName",
		w.fBackendPassword AS "backendPassword",
		w.fServerIP AS "serverIP",
		w.fServerUserName AS "serverUserName",
		w.fServerPassword AS "serverPassword",
		w.fAccessFailCount AS "accessFailCount",
		w.fLastAccessTime AS "lastAccessTime",
		w.fAccessFailTime AS "accessFailTime",
		w.fWebsiteType AS "websiteType",
		w.fDNSAnalysisStatus AS "dnsAnalysisStatus",
		w.fUpdateSalesInfoSign AS "updateSalesInfoSign",
		w.fSynchronousFriendlyLinkSign AS "synchronousFriendlyLinkSign",
		w.fBackgroundLoginStatus AS "backgroundLoginStatus",
		w.fSftpStatus AS "sftpStatus",
		w.fIndexFileStatus AS "indexFileStatus",
		w.fDatabaseStatus AS "databaseStatus",
		w.fUpdateTime AS "updateTime",
		w.fCreateTime AS "createTime"
	</sql>

	<select id="searchWebsites" parameterType="com.keymanager.monitoring.criteria.WebsiteCriteria" resultType="com.keymanager.monitoring.vo.WebsiteVO">
        SELECT
        <include refid="selectCol" />
        FROM t_website w
        <if test="websiteCriteria.friendlyLinkUrl != null and websiteCriteria.friendlyLinkUrl != ''">
            JOIN t_friendly_link fl ON fl.fWebsiteUuid = w.fUuid
        </if>
        <if test="websiteCriteria.advertisingTagname != null and websiteCriteria.advertisingTagname != ''">
            JOIN t_advertising a ON a.fWebsiteUuid = w.fUuid
        </if>
		WHERE 1 = 1
		<if test="websiteCriteria.websiteName != null and websiteCriteria.websiteName != ''">AND w.fWebsiteName LIKE '%${websiteCriteria.websiteName}%'</if>
		<if test="websiteCriteria.domain != null and websiteCriteria.domain != ''">AND w.fDomain LIKE '%${websiteCriteria.domain}%'</if>
		<if test="websiteCriteria.industryType != null and websiteCriteria.industryType != ''">AND w.fIndustry = #{websiteCriteria.industryType}</if>
		<if test="websiteCriteria.websiteType != null and websiteCriteria.websiteType != ''">AND w.fWebsiteType = #{websiteCriteria.websiteType}</if>
		<if test="websiteCriteria.friendlyLinkUrl != null and websiteCriteria.friendlyLinkUrl != ''">AND fl.fFriendlyLinkUrl = #{websiteCriteria.friendlyLinkUrl}</if>
		<if test="websiteCriteria.updateSalesInfoSign != null and websiteCriteria.updateSalesInfoSign != ''">AND w.fUpdateSalesInfoSign = #{websiteCriteria.updateSalesInfoSign}</if>
		<if test="websiteCriteria.synchronousFriendlyLinkSign != null and websiteCriteria.synchronousFriendlyLinkSign != ''">AND w.fSynchronousFriendlyLinkSign = #{websiteCriteria.synchronousFriendlyLinkSign}</if>
		<if test="websiteCriteria.synchronousAdvertisingSign != null and websiteCriteria.synchronousAdvertisingSign != ''">AND w.fSynchronousAdvertisingSign = #{websiteCriteria.synchronousAdvertisingSign}</if>
		<if test="websiteCriteria.backgroundLoginStatus != null ">AND w.fBackgroundLoginStatus = #{websiteCriteria.backgroundLoginStatus}</if>
		<if test="websiteCriteria.sftpStatus != null ">AND w.fSftpStatus = #{websiteCriteria.sftpStatus}</if>
		<if test="websiteCriteria.indexFileStatus != null">AND w.fIndexFileStatus = #{websiteCriteria.indexFileStatus}</if>
		<if test="websiteCriteria.databaseStatus != null and websiteCriteria.databaseStatus != ''">
			<choose>
				<when test="websiteCriteria.databaseStatus == '0'">
					AND w.fDatabaseStatus = '0'
				</when>
				<otherwise>
					AND w.fDatabaseStatus != '0'
				</otherwise>
			</choose>
		</if>
		<if test="websiteCriteria.advertisingTagname != null and websiteCriteria.advertisingTagname != ''">AND a.fAdvertisingTagname = #{websiteCriteria.advertisingTagname}</if>
		<if test="websiteCriteria.accessFailCount != null">AND w.fAccessFailCount = #{websiteCriteria.accessFailCount}</if>
		GROUP BY w.fUuid
		ORDER BY w.fLastAccessTime
	</select>

	<select id="takeWebsitesForAccess" resultType="com.keymanager.monitoring.entity.Website">
		SELECT
		<include refid="selectCol" />
		FROM
		t_website w
		ORDER BY fLastAccessTime
	</select>

	<select id="searchExpireTime" resultType="com.keymanager.monitoring.entity.Website">
		SELECT
		  <include refid="selectCol"/>
		FROM
		t_website w
		WHERE
		fExpiryTime <![CDATA[<=]]> date_add(NOW(), interval 1 MONTH)
	</select>

	<select id="selectBackEndInfoForUpdateSalesInfo" resultType="com.keymanager.monitoring.vo.WebsiteBackendInfoVO">
		SELECT
		fUuid AS 'uuid',
		fBackendDomain AS 'backendDomain',
		fBackendUserName AS 'backendUserName',
		fBackendPassword AS 'backendPassword',
		fWebsiteType AS 'websiteType',
		fDNSAnalysisStatus AS 'dnsAnalysisStatus',
		fDomain AS 'domain',
		fServerIP AS 'serverIP'
		FROM
		t_website
		WHERE
		fUuid IN
		<foreach collection="uuids" item="uuid" open="(" separator="," close=")">
			#{uuid}
		</foreach>
	</select>
	
	<select id="selectAllWebsiteForExternalCheckStatus" resultType="com.keymanager.monitoring.vo.ExternalWebsiteVO">
		SELECT
			w.fUuid AS "uuid",
			w.fWebsiteType AS "websiteType",
			w.fDomain AS "domain",
			w.fBackendDomain AS "backendDomain",
			w.fBackendUserName AS "backendUserName",
			w.fBackendPassword AS "backendPassword",
			w.fDatabaseName AS "databaseName",
			w.fDatabaseUserName AS "databaseUserName",
			w.fDatabasePassword AS "databasePassword",
			w.fServerIP AS "serverIP",
			w.fServerUserName AS "serverUserName",
			w.fServerPassword AS "serverPassword",
			'22' AS "serverPort"
		FROM t_website w
		ORDER BY w.fLastAccessTime
	</select>
	<update id="updateWebSiteStatus">
		<foreach collection="websiteCheckResultVOS" item="websiteCheckResultVO" index="index" open="" close="" separator=";">
			UPDATE t_website w
			<set>
				w.fBackgroundLoginStatus = #{websiteCheckResultVO.backgroundLoginStatus},
				w.fSftpStatus = #{websiteCheckResultVO.sftpStatus},
				w.fIndexFileStatus = #{websiteCheckResultVO.indexFileStatus},
				w.fDatabaseStatus = #{websiteCheckResultVO.databaseStatus},
                w.fUpdateTime = NOW()
			</set>
			<where>
				w.fUuid = #{websiteCheckResultVO.uuid}
			</where>
		</foreach>
	</update>

</mapper>