<#import "/commons/global.html" as ctx>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>文章列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/scroll-bar.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_693759_wytlyqhtdtj1nhfr.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.css">
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
            <span class="layui-breadcrumb">
                <a><cite>其他</cite></a>
                <a><cite>测试计划列表</cite></a>
            </span>
        <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <!--模糊搜索区域-->

        <div class="layui-card">
            <div class="layui-card-body ">
                <div class="layui-collapse" lay-filter="test">
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">条件筛选<i class="layui-icon layui-colla-icon"></i></h2>
                        <div class="layui-colla-content" id="searchContent">
                            <div class="" id="searchForm">

                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <div class="layui-input-inline" style="width: 150px;">
                                            <input type="text" name="algorithmTestPlanName" id="algorithmTestPlanName" placeholder="测试计划名称" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>

                                    <div class="layui-inline">
                                        <div class="layui-input-inline" style="width: 150px;">
                                            <input type="text" name="algorithmTestPlanName" id="operationCombineName" placeholder="操作组合名称" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>

                                    <div class="layui-inline">
                                        <div class="layui-input-inline" style="width: 150px;">
                                            <input type="text" name="algorithmTestPlanName" id="machineGroup" placeholder="机器分组" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>

                                    <div class="layui-inline">
                                        <div class="layui-input-block">
                                            <button class="layui-btn" data-type="reload" id="searchBtn">立即提交</button>
                                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="layui-btn" data-type="reload">搜索</button>
            <button class="layui-btn" id="add-model">添加</button>
        </div>

    <!--工具栏-->
    <okToolbar>
        <button class="layui-btn layui-btn-normal" id="batchEnabled">
            <i class="iconfont icon-shangsheng"></i>批量上架
        </button>
        <button class="layui-btn layui-btn-warm" id="batchDisabled">
            <i class="iconfont icon-web-icon-"></i>批量下架
        </button>
        <button class="layui-btn layui-btn-danger" id="batchDel">
            <i class="layui-icon layui-icon-delete"></i>批量删除
        </button>
        <button class="layui-btn" id="addUser">
            <i class="layui-icon">&#xe61f;</i>添加文章
        </button>
        <span>共有数据：<i id="countNum"></i> 条</span>
    </okToolbar>

    <!--数据表格-->
    <table class="layui-hide" id="tableId" lay-filter="tableFilter"></table>
</div>
<!--js逻辑-->
<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script src="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.js"></script>
<script>
    // 进度条加载提示
    NProgress.start();
    window.onload = function () {
        NProgress.done();
    }
    // layui相关
    layui.use(['element', 'table', 'form', 'jquery', 'laydate', 'okLayer'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var okLayer = layui.okLayer;

        laydate.render({
            elem: '#startTime',
            type: "datetime"
        });

        laydate.render({
            elem: '#endTime',
            type: "datetime"
        });

        table.render({
            elem: '#tableId',
            method: 'post',
            url: '${ctx.path}/internal/algorithmAutoTest/getAlgorithmTestPlans',
            // limit: 10,
            page: true,
            id: 'tableId',
            even: true,//隔行背景
            contentType: 'application/json',
            cols: [[
                {type: 'checkbox', fixed: "left", width: '3%'},
                {field: 'uuid', title: 'ID', sort: true, width: '7%'},
                {field: 'algorithmTestPlanName', title: '测试计划名称', width: '15%'},
                {field: 'operationCombineName', title: '链接', width: '15%'},
                {field: 'terminalType', title: '阅读量', width: '10%'},
                {field: 'searchEngine', title: '发布者', width: '10%'},
                {field: 'machineGroup', title: '置顶', width: '10%'},
                {field: 'testIntervalDay', title: '状态', width: '10%'},
                {title: '操作', templet: '#operationTpl', align: 'center', width: '20%'}
            ]],
            done: function (res, curr, count) {
                console.log(res)
                $("#countNum").text(count);
            }
        });

        var active = {
            reload: function () {
                var algorithmTestPlanName = $('#algorithmTestPlanName');

                table.reload('tableId', {
                    where: {
                        algorithmTestPlanName: algorithmTestPlanName,
                        operationCombineName: operationCombineName,
                        machineGroup: machineGroup
                    }
                });
                $("#searchContent").removeClass("layui-show")
            }
        };
        $('#searchForm #searchBtn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        $('#add-model').click(function () {
            okLayer.open("添加", "/internal/algorithmAutoTest/toAlgorithmTestPlanAdd", "90%", "90%", null, function () {
                table.reload();
            })
        });
    })

</script>
<!--模板-->

<script type="text/html" id="operationTpl">
    <a href="javascript:;" title="编辑" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>
    <a href="javascript:;" title="删除" lay-event="del"><i class="layui-icon">&#xe640;</i></a>
</script>
</body>
</html>
