<#import "/commons/global.html" as ctx>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
        <span class="layui-breadcrumb" style="visibility: visible;">
            <a><cite>首页</cite></a>
            <span lay-separator="">/</span>
            <a><cite>其他</cite></a>
            <span lay-separator="">/</span>
            <a><cite>测试计划管理</cite></a>
        </span>
    </div>
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form" lay-filter="addFilter">
        <div class="layui-form-item">
            <label class="layui-form-label">测试计划名称</label>
            <input type="hidden" name="uuid">
            <div class="layui-input-block">
                <input type="text" name="algorithmTestPlanName" placeholder="请输入测试计划名称" autocomplete="off"
                       class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">操作组合名称</label>
            <div class="layui-input-block">
                <input type="text" name="operationCombineName" placeholder="请输入操作机组名称" autocomplete="off"
                       class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">终端类型</label>
            <div class="layui-input-block">
                <select name="terminalType">
                    <option value="PC">PC</option>
                    <option value="Phone">Phone</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">搜索引擎</label>
            <div class="layui-input-block">
                <select id="searchEngine" name="searchEngine">
                    <option value="谷歌">谷歌</option>
                    <option value="百度">百度</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">机器分组</label>
            <div class="layui-input-block">
                <input type="text" name="machineGroup" placeholder="请输入机器分组" autocomplete="off" class="layui-input"
                       lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">测试间隔天数</label>
            <div class="layui-input-block">
                <input type="number" name="testIntervalDay" value="7" autocomplete="off" class="layui-input"
                       lay-verify="number">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">测试词数</label>
            <div class="layui-input-block">
                <input type="number" name="testKeywordCount" value="40" autocomplete="off" class="layui-input"
                       lay-verify="number">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">测试词排名起始</label>
            <div class="layui-input-block">
                <input type="number" name="testkeywordRankBegin" value="40" autocomplete="off" class="layui-input"
                       lay-verify="number">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">测试词排名结束</label>
            <div class="layui-input-block">
                <input type="number" name="testkeywordRankEnd" value="50" autocomplete="off" class="layui-input"
                       lay-verify="number">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">刷量</label>
            <div class="layui-input-block">
                <input type="number" name="optimizePlanCount" value="50" autocomplete="off" class="layui-input"
                       lay-verify="number">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="add">确定</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<!--js逻辑-->

<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script>

    let initData = null;

    function initForm(data) {
        var jsonString = JSON.stringify(data);
        initData = JSON.parse(jsonString);
    }

    layui.use(["form", "okLayer", "jquery"], function () {
        let form = layui.form;
        let okLayer = layui.okLayer;
        let $ = layui.jquery;

        $.ajax({
            url: '/internal/algorithmAutoTest/getAlgorithmTestPlanAddData',
            type: 'get',
            // 用于设置响应体的类型 注意 跟 data 参数没关系！！！
            dataType: 'json',
            success: function (res) {
                // 一旦设置的 dataType 选项，就不再关心 服务端 响应的 Content-Type 了
                // 客户端会主观认为服务端返回的就是 JSON 格式的字符串
                let html = "";
                for (let item in res.data.searchEngineMap) {
                    html += "<option value='";
                    html += item;
                    html += "'";
                    if (initData == null) {
                        if (item == '百度')
                            html += "selected = 'selected'";
                    } else {
                        if (item == initData.searchEngine)
                            html += "selected = 'selected'";
                    }
                    html += ">";
                    html += res.data.searchEngineMap[item];
                    html += "</option>";
                }
                document.getElementById('searchEngine').innerHTML = html;
                form.render('select');
            }
        });

        if (initData != null) {
            layui.form.val("addFilter", initData);
        }

        form.on("submit(add)", function (data) {
            $.ajax({
                url: '/internal/algorithmAutoTest/postAlgorithmTestPlanAddData',
                type: 'post',
                // 用于设置响应体的类型 注意 跟 data 参数没关系！！！
                data: data.field,
                dataType: 'json',
                success: function (res) {
                    // 一旦设置的 dataType 选项，就不再关心 服务端 响应的 Content-Type 了
                    // 客户端会主观认为服务端返回的就是 JSON 格式的字符串
                    if (res.code == 200) {
                        okLayer.msg.greenTick("保存成功", function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    } else {
                        okLayer.msg.greenTick(res.msg, function () {
                        });
                    }
                }
            });
            return false;
        });
    })


</script>
</body>
</html>
