<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>测试计划管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.css">
    <link rel="stylesheet" href="/static/ok-admin/page/base/searchForm.css">
    <style>
        .layui-tab-content {
            padding: 0px;
        }
        .layui-card-body {
            position: relative;
            padding: 0px;
            line-height: 24px;
        }
        .layui-table, .layui-table-view {
            margin: 0px;
            border-width: 1px;
        }
        .my-collapse > div:first-child {
            margin-top: 10px;
            background: #f2f2f2;
            border: 0px;
        }
        .layui-table-page > div {
            height: 26px;
            position: fixed;
            right: 25px;
        }

        .layui-table-cell a:link {
            color: blue;
        }

        .layui-table-cell a:visited {
            color: blue;
        }

        .layui-table-cell a:hover {
            color: red;
        }

        .layui-table-cell a:active {
            color: darkslateblue;
        }

        .layui-table-tool {
            min-height: 30px;
            padding: 6px 5px 6px 5px;
        }

        .layui-table-tool-self{
            top: 0;
        }
    </style>
</head>
<body>
<div class="ok-body">

    <div class="layui-tab-item layui-show">
        <!--模糊搜索区域-->
        <div class="layui-card ">
            <div class="layui-card-body ">
                <form class="layui-form layui-form-pane" id="searchForm">
                    <div class="my-collapse">
                        <div>
                            <div class="layui-inline">
                                <input type="text" name="algorithmTestPlanName" id="algorithmTestPlanName" placeholder="测试计划名称" autocomplete="off"
                                       class="layui-input">
                            </div>
                            <div class="layui-inline">
                                <input type="text" name="operationCombineName" id="operationCombineName" placeholder="操作组合名称" autocomplete="off"
                                       class="layui-input">
                            </div>
                            <div class="layui-inline">
                                <input type="text" name="machineGroup" id="machineGroup" placeholder="机器分组" autocomplete="off"
                                       class="layui-input">
                            </div>

                            <div class="layui-inline">
                                <button class="layui-btn" lay-submit="" lay-filter="search" id="searchBtn">搜索</button>
                            </div>

                            <div class="layui-inline">
                                <button style="background: #897c00;color: #ffffff" class="layui-btn" type="reset" id="resetBtn">
                                    重置
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <!--数据表格-->
        <table class="layui-hide" id="algorithmTestPlanTable" lay-filter="tableFilter"></table>
    </div>

</div>
<!--js逻辑-->
<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script src="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.js"></script>
<script>
    var sign = false;
    // 进度条加载提示
    NProgress.start();
    window.onload = function () {
        NProgress.done();
    };

    layui.use(['table', 'form', 'jquery', 'laydate', 'okLayer', 'layer','common'], function () {
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var layer = layui.layer;
        var okLayer = layui.okLayer;
        var common = layui.common;

        init_table_data(common.formToJsonObject('searchForm'));

        function init_table_data(whereCondition) {
            whereCondition.entryType = 'pt';
            table.render({
                elem: '#algorithmTestPlanTable',
                method: 'post',
                url: '/internal/algorithmAutoTest/getAlgorithmTestPlans',
                limit: 50,
                page: true,
                autoSort: false,
                size: 'sm',
                toolbar: "#toolbarTpl",
                defaultToolbar: ['filter'],
                id: 'algorithmTestPlanTable',
                even: true,//隔行背景
                contentType: 'application/json',
                where: whereCondition,
                cols: [[
                    {type: 'checkbox', fixed: "left", width: '35'},
                    {field: 'algorithmTestPlanName', title: '测试计划名称', width: '105'},
                    {field: 'operationCombineName', title: '操作组合名称', width: '103',templet:'#toOperationCombineTpl',event: 'toOperationCombine'},
                    {field: 'terminalType', title: '终端类型', width: '79'},
                    {field: 'searchEngine', title: '搜索引擎', width: '79'},
                    {field: 'machineGroup', title: '机器分组', width: '85', templet:'#toMachineManageTpl',event: 'toMachineManage'},
                    // {field: 'excuteType', title: '执行类型', width: '80'},
                    {title: '执行类型', width: '80', templet: function(d) {
                            if (d.excuteType === 1) {
                                return "执行多次";
                            } else if (d.excuteType === 0) {
                                return "执行一次";
                            }
                        }
                    },
                    {field: 'excuteCount', title: '已执行次数', width: '90'},
                    {field: 'testIntervalDay', title: '执行间隔(天)', width: '102'},
                    {field: 'testKeywordCount', title: '测试词数', width: '80'},
                    // {field: 'testkeywordRankBegin', title: '排名区间', width: '80'},

                    {title: '排名区间', width: '80', templet: function(d){
                            return d.testkeywordRankBegin + "-" + d.testkeywordRankEnd
                        }
                    },

                    {field: 'optimizePlanCount', title: '刷量', width: '60'},
                    {field: 'status', title: '状态', width: '60', templet:'#statusTpl'},
                    {field: 'executeQueryTime', title: '上次执行时间', width: '110', templet: '#toDateTime'},
                    {field: 'createBy', title: '创建人', width: '90'},
                    {field: 'createTime', title: '创建时间', width: '100', templet: '#toDateTime'},
                    {title: '操作', templet: '#operationTpl', align: 'center', width: '300',fixed: "right"}
                ]],
                height: 'full-65',
                done: function (res, curr, count) {
                }
            });
        }

        //监听头部工具条
        table.on('toolbar(tableFilter)', function (obj) {
            var data = obj.data, event = obj.event;
            switch (event) {
                case 'add':
                    add_algorithmTestPlan();
                    break;
                case 'stop_selected':
                    change_status_by_uuids(0);
                    break;
                case 'active_selected':
                    change_status_by_uuids(1);
                    break;
                case 'delete_selected':
                    batch_delete_byUuids();
                    break;
                default:
                    break;
            }
        });

        //监听操作列
        table.on('tool(tableFilter)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'toOperationCombine':
                    toOperationCombine(data);
                    break;
                case 'toMachineManage':
                    toMachineManage(data);
                    break;
                case 'edit':
                    update_algorithmTestPlan(data.uuid);
                    break;
                case 'change_status':
                    change_status(data.uuid, data.status);
                    break;
                case 'show_task_data':
                    show_task_data(data.uuid);
                    break;
                case 'show_test_data_statistics':
                    show_test_data_statistics(data.uuid);
                    break;
                case 'del':
                    del_one(data);
                    break;
                default:
                    break;
            }
        });

        function add_algorithmTestPlan() {
            let url = '/internal/algorithmAutoTest/toAlgorithmTestPlanAdd';
            okLayer.open("其他 / 测试计划管理 / 添加测试计划", url, "50%", "63%", function (layero) {
            }, function () {
                if (sign) {
                    active['reload'].call(this);
                    sign = false;
                }
            },'40px')
        }

        function update_algorithmTestPlan(uuid) {

            let url = '/internal/algorithmAutoTest/toAlgorithmTestPlanAdd';
            okLayer.open("其他 / 测试计划管理 / 修改测试计划", url, "50%", "63%", function (layero) {
                window[layero.find("iframe")[0]["name"]].initForm(uuid);
            }, function () {
                if (sign) {
                    active['reload'].call(this);
                    sign = false;
                }
            },'40px')
        }

        function change_status_by_uuids(status) {
            var checkStatus = table.checkStatus('algorithmTestPlanTable')
                , data = checkStatus.data;
            var uuidArr = [];
            $.each(data, function (index, item) {
                uuidArr.push(item.uuid);
            });
            if (uuidArr.length <= 0) {
                common.showFailMsg('请选择要操作的计划');
                return false;
            }
            let msg = '确定暂停这些计划吗';
            if (status === 1) {
                msg = '确定激活这些计划吗';
            }
            layer.confirm(msg, {icon: 3, title: '删除选中计划'}, function (index) {
                var postData = {};
                postData.uuids = uuidArr;
                postData.status = status;
                $.ajax({
                    url: '/internal/algorithmAutoTest/updateAlgorithmTestPlansStatus2',
                    data: JSON.stringify(postData),
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    timeout: 10000,
                    type: 'POST',
                    success: function (result) {
                        if (result.code === 200) {
                            common.showSuccessMsg('操作成功', function () {
                                active['reload'].call(this);
                            });
                        } else {
                            common.showFailMsg('操作失败');
                        }
                    },
                    error: function () {
                        common.showFailMsg('未知错误，请稍后重试');
                    },
                    complete: function () {
                        layer.close(index);
                    }
                });
            });
        }

        function batch_delete_byUuids() {
            var checkStatus = table.checkStatus('algorithmTestPlanTable')
                , data = checkStatus.data;
            var uuidArr = [];
            var optimizeGroupNameList = [];
            $.each(data, function (index, item) {
                uuidArr.push(item.uuid);
                optimizeGroupNameList.push(item.optimizeGroupName);
            });
            if (uuidArr.length <= 0) {
                common.showFailMsg('请选择要操作的计划');
                return false;
            }
            layer.confirm("确定删除选中计划吗", {icon: 3, title: '删除选中计划'}, function (index) {
                var postData = {};
                postData.uuids = uuidArr;
                postData.optimizeGroupNameList = optimizeGroupNameList;
                $.ajax({
                    url: '/internal/algorithmAutoTest/deleteAlgorithmTestPlans2',
                    data: JSON.stringify(postData),
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    timeout: 10000,
                    type: 'POST',
                    success: function (result) {
                        if (result.code === 200) {
                            common.showSuccessMsg('操作成功', function () {
                                active['reload'].call(this);
                            });
                        } else {
                            common.showFailMsg('操作失败');
                        }
                    },
                    error: function () {
                        common.showFailMsg('未知错误，请稍后重试');
                    },
                    complete: function () {
                        layer.close(index);
                    }
                });
            });
        }

        function del_one(data) {
            layer.confirm('真的删除该计划吗', function (index) {
                $.ajax({
                    url: '/internal/algorithmAutoTest/deleteAlgorithmTestPlan2/' + data.uuid,
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    timeout: 10000,
                    type: 'POST',
                    success: function (result) {
                        if (result.code === 200) {
                            common.showSuccessMsg('操作成功', function () {
                                active['reload'].call(this);
                            });
                        } else {
                            common.showFailMsg('操作失败');
                        }
                    },
                    error: function () {
                        common.showFailMsg('操作失败');
                    }
                });
                layer.close(index);
            });
        }

        function change_status(uuid, status) {
            var checkStatus = table.checkStatus('algorithmTestPlanTable')
                , data = checkStatus.data;

            if (status === 0) {
                status = 1;
            } else {
                status = 0;
            }
            var postData = {};
            postData.uuid = uuid;
            postData.status = status;
            $.ajax({
                url: '/internal/algorithmAutoTest/changeAlgorithmTestPlanStatus2',
                data: JSON.stringify(postData),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                timeout: 10000,
                type: 'POST',
                success: function (result) {
                    if (result.code === 200) {
                        common.showSuccessMsg('操作成功', function () {
                            active['reload'].call(this);
                        });
                    } else {
                        common.showFailMsg('操作失败');
                    }
                },
                error: function () {
                    common.showFailMsg('未知错误，请稍后重试');
                },

            });

        }


        function show_task_data(uuid){
            let url = '/internal/algorithmAutoTest/toShowTaskData';
            okLayer.open("其他 / 测试计划管理 / 查看任务计划", url, "60%", "70%", function (layero) {
                window[layero.find("iframe")[0]["name"]].initForm(uuid);
            }, function () {
                if (sign) {
                    active['reload'].call(this);
                    sign = false;
                }
            })
        }

        function show_test_data_statistics(uuid){
            let url = '/internal/algorithmAutoTest/toShowTestPlanDataStatistics';
            okLayer.open("其他 / 测试计划管理 / 展示历史统计数据", url, "60%", "70%", function (layero) {
                window[layero.find("iframe")[0]["name"]].initForm(uuid);
            }, function () {
                if (sign) {
                    active['reload'].call(this);
                    sign = false;
                }
            })
        }

        var active = {
            reload: function () {
                let data = common.formToJsonObject('searchForm');
                data = common.jsonObjectTrim(data);
                data.entryType = 'pt';
                table.reload('algorithmTestPlanTable', {
                    where: data,
                    page: {
                        curr: 1
                    }
                });
            },
        };

        form.on("submit(search)", function (data) {
            var postData = data.field;
            postData = common.jsonObjectTrim(postData);
            table.reload('algorithmTestPlanTable', {
                where: postData,
                page: {
                    curr: 1
                }
            });
            return false
        });

        function toOperationCombine(data){
            let url = '/internal/groupsetting/toGroupSettingFromATP/'+data.terminalType +'/'+data.operationCombineName;
            url = encodeURI(encodeURI(url));
            let title = '操作组合:' + data.operationCombineName + '详情';
            common.updateOrNewTab(url, title, data.operationCombineName)
        }

        function toMachineManage(data){
            let url = '/internal/machineManage/toMachineInfoFromATP/'+data.terminalType +'/'+data.machineGroup;
            url = encodeURI(encodeURI(url));
            let title = '机器分组:' + data.machineGroup + '详情';
            common.updateOrNewTab(url, title, data.machineGroup)
        }

    });


</script>
<!--模板-->
<script type="text/html" id="toDateTime">
    {{layui.util.toDateString(d.createTime, 'yyyy-MM-dd')}}
</script>
<!-- 头工具栏模板 -->
<script type="text/html" id="toolbarTpl">
    <div class="layui-btn-group">
        <@shiro.hasPermission name="/internal/algorithmAutoTest/saveAlgorithmTestPlan">
        <button class="layui-btn layui-btn-sm " id="add" lay-event="add">
            添加
        </button>
        </@shiro.hasPermission>
        <@shiro.hasPermission name="/internal/algorithmAutoTest/changeAlgorithmTestPlanStatus">
        <button class="layui-btn layui-btn-sm " id="stop_selected" lay-event="stop_selected">
            暂停所选
        </button>
        <button class="layui-btn layui-btn-sm " id="active_selected" lay-event="active_selected">
            激活所选
        </button>
        </@shiro.hasPermission>
        <@shiro.hasPermission name="/internal/algorithmAutoTest/deleteAlgorithmTestPlan">
        <button class="layui-btn layui-btn-sm layui-btn-danger" id="delete_selected" lay-event="delete_selected">
            删除所选
        </button>
        </@shiro.hasPermission>
    </div>
</script>

<script type="text/html" id="toOperationCombineTpl">
    <a href="javascript:void(0)" >{{d.operationCombineName}}</a>
</script>

<script type="text/html" id="toMachineManageTpl">
    <a href="javascript:void(0)" >{{d.machineGroup}}</a>
</script>

<script type="text/html" id="statusTpl">
    {{#  if(d.status === 1) { }}
    <span style="color: green;">激活</span>
    {{# }else{ }}
    <span style="color: red;">暂停</span>
    {{# } }}
</script>

<script type="text/html" id="operationTpl">
    <div class="layui-btn-group">
        <@shiro.hasPermission name="/internal/algorithmAutoTest/saveAlgorithmTestPlan">
            <button type="button" class="layui-btn layui-btn-xs" lay-event="edit">修改</button>
        </@shiro.hasPermission>
        <@shiro.hasPermission name="/internal/algorithmAutoTest/changeAlgorithmTestPlanStatus">
            {{# if(d.status===0){ }}
                <button type="button" class="layui-btn layui-btn-xs" lay-event="change_status">激活</button>
            {{# }else{ }}
                <button type="button" class="layui-btn layui-btn-warm layui-btn-xs" lay-event="change_status">暂停</button>
            {{# } }}
        </@shiro.hasPermission>
        <button type="button" class="layui-btn layui-btn-xs" lay-event="show_task_data">查看任务记录</button>
        <@shiro.hasPermission name="/internal/algorithmAutoTest/showTestDataStatistics">
            <button type="button" class="layui-btn layui-btn-xs" lay-event="show_test_data_statistics">查看历史统计</button>
        </@shiro.hasPermission>
        <@shiro.hasPermission name="/internal/algorithmAutoTest/deleteAlgorithmTestPlan">
            <button type="button" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</button>
        </@shiro.hasPermission>
    </div>
</script>
</body>


</html>
