
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/static/ok-admin/css/sub-page.css">
</head>
<body>


    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form" lay-filter="save">
        <div class="ok-body">
        <div class="layui-form-item">
            <label class="layui-form-label">测试计划名称</label>
            <input type="hidden" name="uuid">
            <div class="layui-input-block">
                <input type="text" name="algorithmTestPlanName" placeholder="请输入测试计划名称" autocomplete="off"
                       class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">操作组合名称</label>
            <div class="layui-input-block">
                <input type="text" name="operationCombineName" placeholder="请输入操作机组名称" autocomplete="off"
                       class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">终端类型</label>
            <div class="layui-input-block">
                <select name="terminalType">
                    <option value="PC">PC</option>
                    <option value="Phone">Phone</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">搜索引擎</label>
            <div class="layui-input-block">
                <select id="searchEngine" name="searchEngine">
                    <option value="谷歌">谷歌</option>
                    <option value="百度">百度</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">机器分组</label>
            <div class="layui-input-block">
                <input type="text" name="machineGroup" placeholder="请输入机器分组" value="qz" autocomplete="off" class="layui-input"
                       lay-verify="required">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">执行类型</label>
            <div class="layui-input-block">
                <input type="text" name="excuteType" placeholder="请输入执行类型" value="qz" autocomplete="off" class="layui-input"
                       lay-verify="required">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">测试间隔天数</label>
            <div class="layui-input-block">
                <input type="number" name="testIntervalDay" value="7" autocomplete="off" class="layui-input"
                       lay-verify="positiveInteger">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">测试词数</label>
            <div class="layui-input-block">
                <input type="number" name="testKeywordCount" value="40" autocomplete="off" class="layui-input"
                       lay-verify="positiveInteger">
            </div>
        </div>
        <!--<div class="layui-form-item">
            <label class="layui-form-label">测试词排名起始</label>
            <div class="layui-input-block">
                <input type="number" name="testkeywordRankBegin" value="40" autocomplete="off" class="layui-input"
                       lay-verify="positiveInteger">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">测试词排名结束</label>
            <div class="layui-input-block">
                <input type="number" name="testkeywordRankEnd" value="50" autocomplete="off" class="layui-input"
                       lay-verify="positiveInteger">
            </div>
        </div>-->

        <div class="layui-form-item">
            <label class="layui-form-label">测试词排名起始</label>
            <div class="layui-input-inline" style="width: 130px;">
                <input type="number" name="testkeywordRankBegin" value="50" autocomplete="off" class="layui-input"
                       lay-verify="positiveInteger|testkeywordRankBeginEnd">
            </div>
            <div class="layui-form-mid">-</div>
            <label class="layui-form-label">结束</label>
            <div class="layui-input-inline" style="width: 130px;">
                <input type="number" name="testkeywordRankEnd" value="50" autocomplete="off" class="layui-input"
                       lay-verify="positiveInteger">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">刷量</label>
            <div class="layui-input-block">
                <input type="number" name="optimizePlanCount" value="50" autocomplete="off" class="layui-input"
                       lay-verify="positiveInteger">
            </div>
        </div>
        </div>
        <div style="height: 58px;"></div>
        <div style="position: fixed;bottom: 0;width: 100%;background:#fff;text-align: right;">
            <div style="margin: 0 10px 6px 10px; padding-top: 8px;border-top: solid 1px #e6e6e6">
                <button class="layui-btn" lay-submit lay-filter="commit">确定</button>
                <button type="reset" class="layui-btn layui-btn-primary">
                    重置
                </button>
                <button class="layui-btn layui-btn-primary" id="close" style="margin-right: 20px">
                    取消
                </button>
            </div>
        </div>
    </form>

<!--js逻辑-->

<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script>

    let uuid_ = null;
    let layui_ = null;

    function initForm(data) {
        uuid_ = data;
        if (layui_ != null) {
            setForm(layui_, uuid_);
        }
    }

    /**
     * 初始化数据
     * @param l layui对象
     * @param u 需要修改的站点uuid
     */
    function setForm(l, u) {
        l.jquery.ajax({
            url: '/internal/algorithmAutoTest/getAlgorithmTestPlan2/' + u,
            type: 'post',
            dataType: 'json',
            success: function (res) {
                if (res.code === 200) {
                    l.form.val("save", res.data);
                } else {
                    l.layer.msg(res.msg === null || res.msg === '' ? '未知错误' : res.msg, {icon: 5, time: 3000});
                }
            }
        });
    }

    layui.use(["form", "jquery", "layer", "common"], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let common = layui.common;

        $.ajax({
            url: '/internal/algorithmAutoTest/getAlgorithmTestPlanAddData',
            type: 'get',
            dataType: 'json',
            success: function (res) {
                // 一旦设置的 dataType 选项，就不再关心 服务端 响应的 Content-Type 了
                // 客户端会主观认为服务端返回的就是 JSON 格式的字符串
                let html = "";
                for (let item in res.data.searchEngineMap) {
                    html += "<option value='";
                    html += item;
                    html += "'";
                    html += ">";
                    html += res.data.searchEngineMap[item];
                    html += "</option>";
                }
                $("#searchEngine").empty();
                $("#searchEngine").append(html);
                form.render('select');
            }
        });

        if (uuid_ != null) {
            setForm(layui, uuid_);
        } else {
            layui_ = layui;
        }

        form.on("submit(commit)", function (data) {
            $.each(data.field,function(idx,item){
                data.field[idx] = $.trim(item).replace(/\+/g," ")
            });
            if (!common.waitMoment()) {
                return false;
            }
            if ($(":input[name='testkeywordRankBegin']").val() >= $(":input[name='testkeywordRankEnd']").val()) {
                common.showFailMsg("测试词排名起始不能大于或等于结束！");
                return false;
            }
            $.ajax({
                url: '/internal/algorithmAutoTest/postAlgorithmTestPlanAddData',
                type: 'post',
                data: JSON.stringify(data.field),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                success: function (res) {
                    if (res.code === 200) {
                        common.showSuccessMsg("保存成功", function () {
                            parent.window.sign = true;
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    } else {
                        common.showFailMsg(res.msg);
                    }
                }
            });
            return false;
        });

        $('#close').click(function () {
            parent.layer.close(parent.layer.getFrameIndex(window.name));
        });

        form.verify({
            positiveInteger: [
                /^[0-9]*[1-9][0-9]*$/,
                "请输入合适的正整数、如：1、2、3"
            ],
            telPhone: [
                /(^$)|(^(13[0-9]|14[5-9]|15[0-3,5-9]|16[2567]|17[0-8]|18[0-9]|19[13589])\d{8}$)/,
                "请输入正确格式手机号码"
            ]
        });
    })


</script>
</body>
</html>
