<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>历史统计数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.css">
    <link rel="stylesheet" href="/static/ok-admin/page/base/searchForm.css">
    <style>
        .layui-table-page > div {
            height: 26px;
            position: fixed;
            right: 25px;
        }
    </style>
</head>
<body>
<div class="ok-body">
    <!--数据表格-->
    <table class="layui-hide" id="groupTable" lay-filter="tableFilter"></table>
</div>

<!--js逻辑-->
<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script src="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.js"></script>
<script>

    let layui_ = null;
    let uuid_ = null;
    let groupTable ;
    function initForm(data) {
        uuid_ = data;
    }

    layui.use(["form", "table", "jquery", "layer"], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let table = layui.table;

        groupTable = table.render({
            elem: '#groupTable',
            method: 'post',
            url: '/internal/algorithmAutoTest/getTestDataStatisticsByPlanUuid',
            size: 'sm',
            id: 'groupTable',
            page: true,
            where:{
                algorithmTestPlanUuid:uuid_,
            },
            even: true,//隔行背景
            contentType: 'application/json',
            cols: [[
                {field: 'topTenCount', title: '首页个数', width: '20%',align:'center'},
                {field: 'zeroOptimizedCount', title: '没刷量个数', width: '20%',align:'center'},
                {field: 'rankChangeRate', title: '首页排名率', width: '20%',align:'center'},
                {field: 'recordDate', title: '记录日期', width: '20%',align:'center',templet: '#toDateTime'},
                {field: 'createTime', title: '创建时间', width: '20%',align:'center',templet: '#toDateTime'},
            ]],
            height: 'full-30',
            done: function (res, curr, count) {
            }
        });

        form.on("submit(search)", function (data) {
            table.reload('groupTable', {
                where: data.field,
            });
            return false;
        });
    })


</script>

<!--模板-->
<script type="text/html" id="toDateTime">
    {{layui.util.toDateString(d.createTime, 'yyyy-MM-dd')}}
</script>
</body>
</html>
