<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>友情链接</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/scroll-bar.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.css">
    <style>
        .layui-tab-content {
            padding: 0px;
        }
        .layui-card-body {
            position: relative;
            padding: 0px;
            line-height: 24px;
        }
        .layui-table, .layui-table-view {
            margin: 0px;
            border-width: 1px;
        }
        .my-collapse > div:first-child {
            margin-top: 10px;
            background: #f2f2f2;
            border: 0px;
        }
        .layui-table-body .layui-table-cell {
            text-align: left;
        }
        .layui-table-body .laytable-cell-checkbox {
            text-align: center;
        }
        .layui-table tr .layui-table-col-special .layui-table-cell{
            text-align: center;
        }
        .layui-inline input {
            width: 150px;
            height: 30px;
        }
        .my-collapse button {
            height: 30px;
            line-height: 30px;
        }
        .my-collapse > div:first-child {
            background: #f2f2f2;
            border: 1px solid #e6e6e6;
        }

        .my-collapse > div {
            padding: 6px 5px;
        }

        .layui-table-page > div {
            height: 26px;
            position: fixed;
            right: 25px;
        }

        #weight-box{
            height: 30px;
            width: 100px;
        }

        #weight-box input{
            width: 100px;
        }

        .layui-table-cell {
            display: table-cell;
            padding: 0 3px;
            vertical-align: middle;
            overflow: visible;
            text-overflow: clip;
            white-space: normal;
            word-break: break-all;
        }

        .details-header{
            padding-right: 9px;
        }
    </style>
</head>
<body>
<div class="ok-body">
    <div class="layui-card ">
        <div class="layui-card-body ">
            <input type="hidden" value="${webSiteUuid}" id="websiteUuid">
            <form class="layui-form layui-form-pane" id="searchForm">
                <div class="my-collapse">
                    <div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="text" name="customerInfo"placeholder="请输入用户名称" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="text" name="friendlyLinkWebName"placeholder="请输入友链名称" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="text" name="friendlyLinkUrl"placeholder="请输入友链域名" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <select name="friendlyLinkIsCheck">
                                    <option value="">所在页面</option>
                                    <option value='0'>所有</option>
                                    <option value='2'>首页</option>
                                    <option value='1'>内页</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width: 150px;">
                                <input type="checkbox" name="expire" title="过期友链" lay-skin="primary">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <button class="layui-btn" lay-submit lay-filter="search" id="searchBtn">搜索</button>
                            </div>
                            <div class="layui-input-inline">
                                <button class="layui-btn" style="background: #897c00;color: #ffffff" type="reset">重置</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table class="layui-hide" id="friendlyLinksTable" lay-filter="tableFilter"></table>
</div>
<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script src="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.js"></script>
<script>
    var sign = false;

    NProgress.start();
    window.onload = function () {
        NProgress.done();
    };

    layui.use(['element', 'table', 'form', 'jquery', 'laydate', 'okLayer', 'layer', 'common'], function () {
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var okLayer = layui.okLayer;
        var layer = layui.layer;
        var common = layui.common;

        var websiteUuid = $("#websiteUuid").val();

        var active = {
            reload: function () {
                var data = {'websiteUuid': websiteUuid};
                table.reload('friendlyLinksTable', {
                    where: data,
                    page: {
                        curr: 1
                    }
                });
            },
        };

        searchFriendlyLinkList({'websiteUuid': websiteUuid});

        form.on("submit(search)", function (data) {
            var postData = data.field;
            postData.websiteUuid = websiteUuid;
            postData = common.jsonObjectTrim(postData);
            searchFriendlyLinkList(postData);
            return false
        });

        function searchFriendlyLinkList(whereCondition){
            table.render({
                elem: '#friendlyLinksTable',
                method: 'post',
                url: '${ctx.path}/internal/friendlyLinks/searchFriendlyLinkLists',
                limit: 50,
                page: true,
                autoSort: false,
                size: 'sm',
                id: 'friendlyLinksTable',
                even: true,
                toolbar: "#toolbarTpl",
                defaultToolbar: [],
                contentType: 'application/json',
                where: whereCondition,
                cols: [[
                    {filed: 'uuid', type: 'checkbox', width: '3%', align: 'center'},
                    {field: 'customerInfo', title: '用户名称', width: '10%', align: 'center'},
                    {field: 'friendlyLinkWebName', title: '网站名称', width: '12%', align: 'center'},
                    {field: 'friendlyLinkUrl', title: '域名地址', width: '16%', align: 'center'},
                    {field: 'friendlyLinkSortRank', title: '排序值', width: '7%', align: 'center'},
                    {field: 'friendlyLinkMsg', title: '网站简况', width: '14%', align: 'center'},
                    {field: 'friendlyLinkEmail', title: '站长EMAIL', width: '12%', align: 'center'},
                    {field: 'friendlyLinkType', title: '站点类型', width: '7%', align: 'center'},
                    {field: 'friendlyLinkIsCheck', title: '链接位置', width: '7%', align: 'center', templet: '#friendlyLinkIsCheck'},
                    {field: 'friendlyLinkDtime', title: '申请时间', width: '7%', templet: '#friendlyLinkDtime', align: 'center'},
                    {field: 'expirationTime', title: '到期时间', width: '7%', templet: '#expirationTime', align: 'center'},
                    {field: 'renewTime', title: '续费时间', width: '7%', templet: '#toRenewTime', align: 'center'},
                    {title: '操作', templet: '#operationTpl', width: '10%', align: 'center'}
                ]],
                height: 'full-75',
                done: function (res, curr, count) {
                    jz();
                }
            });
        }

        $(document).on('onMouseUp', 'thead', function() {
            jz();
        });

        function jz() {
            let tables = document.getElementsByTagName('table');
            let t_h = tables[2].offsetHeight || tables[2].clientHeight || tables[2].scrollHeight;
            let t_p_h = tables[2].parentElement.offsetHeight || tables[2].parentElement.clientHeight || tables[2].scrollHeight;
            let t_w = tables[1].offsetWidth || tables[1].clientWidth || tables[1].scrollWidth;
            let t_p_w = tables[1].parentElement.offsetWidth || tables[1].parentElement.clientWidth || tables[1].scrollWidth;
            if (t_h > t_p_h) {
                document.getElementsByClassName('layui-table-header')[0].classList.add('details-header');
            } else {
                if (t_w === t_p_w) {
                    let ths = document.getElementsByClassName('layui-table-header')[0].getElementsByTagName('th');
                    ths[ths.length - 1].style.borderRight = '0';
                }
                document.getElementsByClassName('layui-table-header')[0].classList.remove('details-header');
            }
        }

        function showFriendlyLinkDialog() {
            okLayer.open("首页/其他/添加友链信息", "/internal/friendlyLinks/toSaveFriendlyLink", "35%", "87%",  function(layero){
                window[layero.find("iframe")[0]["name"]].initWebSiteID(websiteUuid);
            }, function(){
                if(sign){
                    active['reload'].call(this);
                    sign = false;
                }
            }, 50);
        }

        function updateFriendlyLink(data){
            okLayer.open("首页/其他/修改友链信息", "/internal/friendlyLinks/toSaveFriendlyLink", "35%", "87%", function(layero){
                window[layero.find("iframe")[0]["name"]].initForm(data.uuid, websiteUuid);
            },function(){
                if(sign){
                    active['reload'].call(this);
                    sign = false;
                }
            }, 50);
        }

        function deleteFriendlyLink(uuid){
            layer.confirm('确认删除该友链？', {
                icon: 3,
                title: '删除友链',
                btn: ['确认', '取消'],
                yes: function () {
                    $.ajax({
                        url: '/internal/friendlyLinks/delFriendlyLink/' + uuid,
                        type: 'GET',
                        headers: {
                            "Accept": 'application/json',
                            "Content-Type": 'application/json'
                        },
                        success: function (res) {
                            if (res.code === 200) {
                                common.showSuccessMsg("删除成功", function () {
                                    active['reload'].call(this);
                                });
                            } else {
                                common.showFailMsg(res.msg);
                            }
                        },
                        error: function () {
                            common.showFailMsg('未知错误，请稍后重试！！');
                        }
                    });
                },
                btn2: function (index) {
                    layer.close(index);
                }
            });
        }

        function deleteBatchFriendlyLink(){
            var checkStatus = table.checkStatus('friendlyLinksTable');
            var data = checkStatus.data;
            var uuidArr = [];
            $.each(data, function (index, item) {
                uuidArr.push(item.uuid);
            });
            if (uuidArr.length <= 0) {
                common.showFailMsg('请选择要操作的友链');
                return
            }
            layer.confirm("确定要删除所选友链信息吗", {icon: 3, title: '删除所选'}, function (index) {
                var postData = {};
                postData.uuids = uuidArr;
                postData.websiteUuid = websiteUuid;
                $.ajax({
                    url: '/internal/friendlyLinks/delFriendlyLinks',
                    data: JSON.stringify(postData),
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    timeout: 5000,
                    type: 'POST',
                    success: function (result) {
                        if (result.code === 200) {
                            common.showSuccessMsg('操作成功', function () {
                                active['reload'].call(this);
                            });
                        } else {
                            common.showFailMsg('操作失败');
                        }
                    },
                    error: function () {
                        common.showFailMsg('操作失败');
                    }
                });
                layer.close(index);
            });
        }

        function pushFriendlyLink(){
            var checkStatus = table.checkStatus('friendlyLinksTable');
            var data = checkStatus.data;
            var uuidArr = [];
            $.each(data, function (index, item) {
                uuidArr.push(item.uuid);
            });
            if (uuidArr.length <= 0) {
                common.showFailMsg('请选择要操作的友链');
                return
            }
            layer.confirm("确定要推送这些链接到远程吗", {icon: 3, title: '推送'}, function (index) {
                var postData = {};
                postData.uuids = uuidArr;
                $.ajax({
                    url: '/internal/friendlyLinks/pushFriendlyLink',
                    data: JSON.stringify(postData),
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    timeout: 5000,
                    type: 'POST',
                    success: function (result) {
                        if (result.code === 200) {
                            common.showSuccessMsg('操作成功', function () {
                                active['reload'].call(this);
                            });
                        } else {
                            common.showFailMsg('操作失败');
                        }
                    },
                    error: function () {
                        common.showFailMsg('操作失败');
                    }
                });
                layer.close(index);
            });
        }

        table.on('toolbar(tableFilter)',function(obj){
            var data = obj.data,event = obj.event;
            switch (event) {
                case 'showFriendlyLinkDialog':
                    showFriendlyLinkDialog();
                    break;
                case 'deleteBatchFriendlyLink':
                    deleteBatchFriendlyLink();
                    break;
                case 'pushFriendlyLink':
                    pushFriendlyLink();
                    break;
                default:
                    break;
            }
        });

        table.on('tool(tableFilter)',function(obj){
            var data = obj.data,event = obj.event;
            switch (event) {
                case 'updateFriendlyLink':
                    updateFriendlyLink(data);
                    break;
                case 'deleteFriendlyLink':
                    deleteFriendlyLink(data.uuid);
                    break;
                default:
                    break;
            }
        });

    });

</script>

<script type="text/html" id="friendlyLinkIsCheck">
    {{d.friendlyLinkIsCheck == 1 ? "内页" : "首页"}}
</script>

<script type="text/html" id="friendlyLinkDtime">
    {{d.friendlyLinkDtime == null ? '' : layui.util.toDateString(d.friendlyLinkDtime, 'yyyy-MM-dd')}}
</script>

<script type="text/html" id="expirationTime">
    {{d.expirationTime == null ? '' : layui.util.toDateString(d.expirationTime, 'yyyy-MM-dd')}}
</script>

<script type="text/html" id="toRenewTime">
    {{d.renewTime == null ? '' : layui.util.toDateString(d.renewTime, 'yyyy-MM-dd')}}
</script>

<script type="text/html" id="toolbarTpl">
    <div class="layui-btn-group">
        <@shiro.hasPermission name="/internal/friendlyLink/saveFriendlyLinks">
        <button class="layui-btn layui-btn-sm" lay-event="showFriendlyLinkDialog">添加</button>
        </@shiro.hasPermission>
        <@shiro.hasPermission name="/internal/friendlyLink/pushFriendlyLink">
        <button class="layui-btn layui-btn-sm" lay-event="pushFriendlyLink">推送所选信息到远程服务</button>
        </@shiro.hasPermission>
        <@shiro.hasPermission name="/internal/friendlyLink/deleteFriendlyLinks">
        <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="deleteBatchFriendlyLink">
            <i class="layui-icon layui-icon-delete"></i>删除所选
        </button>
        </@shiro.hasPermission>
    </div>
</script>

<script type="text/html" id="operationTpl">
    <div class="layui-btn-group">
        <@shiro.hasPermission name="/internal/friendlyLink/saveFriendlyLink">
        <button type="button" class="layui-btn layui-btn-xs" lay-event="updateFriendlyLink">修改</button>
    </@shiro.hasPermission>
    <@shiro.hasPermission name="/internal/friendlyLink/deleteFriendlyLink">
    <button type="button" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="deleteFriendlyLink">删除</button>
    </@shiro.hasPermission>
    </div>
</script>
</body>
</html>