<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <style>
        .layui-btn {
            width: 120px;
        }

        .layui-input-block #friendlyLinkLogo{
            line-height: 30px;
            border-right: 0px;
            border-bottom: 0px;
            border-top: 0px;
        }
    </style>
</head>
<body>
<div class="ok-body">

    <form class="layui-form layui-form-pane ok-form" lay-filter="friendlyLinkForm" id="friendlyLinkForm">
        <div class="layui-form-item">
            <input type="hidden" name="uuid">
            <input type="hidden" name="friendlyLinkId" id="friendlyLinkId">
            <label class="layui-form-label">用户名称</label>
            <div class="layui-input-block">
                <select name="customerInfo" id="customerInfo" lay-verify="required" lay-search></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">网站名称</label>
            <div class="layui-input-block">
                <input type="text" name="friendlyLinkWebName" id="friendlyLinkWebName" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">网址</label>
            <div class="layui-input-block">
                <input type="text" name="friendlyLinkUrl" id="friendlyLinkUrl" placeholder="默认没有http://会加上" autocomplete="off" class="layui-input" lay-verify="website">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">网站排序</label>
            <div class="layui-input-block">
                <input type="hidden" name="originalSortRank" id="originalSortRank">
                <input type="text" name="friendlyLinkSortRank" id="friendlyLinkSortRank" placeholder="不填写则排在最后面" autocomplete="off" class="layui-input"  lay-verify="number">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">站长Email</label>
            <div class="layui-input-block">
                <input type="text" name="friendlyLinkEmail" autocomplete="off" class="layui-input" placeholder="不填写默认为空" lay-verify="email">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">网站类型</label>
            <div class="layui-input-block">
                <select name="friendlyLinkType" id="friendlyLinkType" lay-search></select>
            </div>
        </div>
        <div class="layui-form-item" pane>
            <label class="layui-form-label">页面选择</label>
            <div class="layui-input-block">
                <input name="friendlyLinkIsCheck" type="radio" value="2" title="首页" checked/>
                <input name="friendlyLinkIsCheck" type="radio" value="1" title="内容页"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">到期时间</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="expirationTime" name="expirationTime" readonly lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">续费时间</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="renewTime" name="renewTime" readonly lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">网站Logo</label>
            <div class="layui-input-block">
                <input type="file" class="layui-input" id="friendlyLinkLogo" name="friendlyLinkLogo">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">网站简况</label>
            <div class="layui-input-block">
                <textarea name="friendlyLinkMsg" autocomplete="off" style="height: 150px;" class="layui-textarea"></textarea>
            </div>
        </div>
        <div style="position: fixed;bottom: 0;width: 100%;background:#fff;text-align: right;">
            <div style="margin: 0 10px 6px 10px; padding-top: 8px;border-top: solid 1px #e6e6e6">
                <button class="layui-btn" lay-submit lay-filter="commit">确定</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <button class="layui-btn layui-btn-primary" id="close" style="margin-right: 20px">取消</button>
            </div>
        </div>
    </form>
</div>

<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script>

    let uuid_ = null;
    let layui_ = null;
    let websiteUuid_ = null;
    let originalSortRank_ = null;
    let customerUuid_ = null;
    let friendlyLinkType_ = null;

    function initForm(uuid, websiteUuid) {
        uuid_ = uuid;
        websiteUuid_ = websiteUuid;
        if (layui_ != null) {
            setForm(layui_, uuid_);
        }
    }

    function initWebSiteID(websiteUuid) {
        websiteUuid_ = websiteUuid
    }

    function setForm(l, u) {
        l.jquery.ajax({
            url: '/internal/friendlyLinks/getFriendlyLink/' + u,
            type: 'GET',
            headers: {
                "Accept": 'application/json',
                "Content-Type": 'application/json'
            },
            success: function (res) {
                if (res.code === 200) {
                    originalSortRank_ = res.data.friendlyLinkSortRank;
                    customerUuid_ = res.data.customerUuid;
                    friendlyLinkType_ = res.data.friendlyLinkType;
                    let expirationTime = new Date(res.data.expirationTime);
                    res.data.expirationTime = expirationTime.getFullYear() + '-' +
                        (expirationTime.getMonth()+1 < 10 ? '0'+(expirationTime.getMonth()+1) : expirationTime.getMonth()+1) + '-' + expirationTime.getDate();
                    let renewTime = new Date(res.data.renewTime);
                    res.data.renewTime = renewTime.getFullYear() + '-' +
                        (renewTime.getMonth()+1 < 10 ? '0'+(renewTime.getMonth()+1) : renewTime.getMonth()+1) + '-' + renewTime.getDate();
                    delete res.data['friendlyLinkLogo'];
                    init_Select();
                    if (res.code === 200) {
                        layui.form.val("friendlyLinkForm", res.data);
                    } else {
                        l.layer.msg(res.msg, {icon: 5, time: 3000});
                    }
                } else {
                    l.layer.msg(res.msg, {icon: 5, time: 3000});
                }
            }
        });
    }

    layui.use(["form", "jquery", "layer", "laydate", "common"], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let laydate = layui.laydate;
        let common = layui.common;

        if (uuid_ != null) {
            setForm(layui, uuid_);
        } else {
            layui_ = layui;
            init_Select2();
        }

        window.init_Select = function(){
            init_customerInfo();
            init_friendlyLinkType();
        };

        function init_Select2(){
            init_customerInfo();
            init_friendlyLinkType();
        }

        laydate.render({
            elem: '#expirationTime',
        });

        laydate.render({
            elem: '#renewTime',
        });

        function init_customerInfo(){
            $.ajax({
                url: "/internal/customer/getActiveCustomers2",
                type: "GET",
                success: function (res_) {
                    if (res_.code === 200) {
                        $("#customerInfo").find('option').remove();
                        let customerInfo = $("#customerInfo");
                        let res = JSON.parse(res_);
                        customerInfo.append('<option value="">请选择用户名称</option>');
                        if (res.data != null) {
                            let customerList = res.data
                            $.each(customerList, function (idx, val) {
                                if(customerUuid_ === val.uuid){
                                    customerInfo.append('<option value="' + val.contactPerson + '_' + val.uuid + '" selected>' + val.contactPerson + '_' + val.uuid + '</option>')
                                }else{
                                    customerInfo.append('<option value="' + val.contactPerson + '_' + val.uuid + '" >' + val.contactPerson + '_' + val.uuid + '</option>')
                                }
                            });
                        }
                        form.render('select')
                    } else {
                        common.showFailMsg("获取信息失败！");
                    }
                },
                error: function () {
                    common.showFailMsg("获取信息失败！");
                }
            });
        }

        function init_friendlyLinkType(){
            $.ajax({
                url: "/internal/friendlyLinks/searchFriendlyLinkTypeList/" + websiteUuid_,
                type: "GET",
                success: function (res_) {
                    if (res_.code === 200) {
                        $("#friendlyLinkType").find('option').remove();
                        let friendlyLinkType = $("#friendlyLinkType");
                        let res = JSON.parse(res_);
                        friendlyLinkType.append('<option value="默认分类_0">默认分类_0</option>');
                        if (res.data != null) {
                            let friendlyLinkTypeList = res.data;
                            $.each(friendlyLinkTypeList, function (idx, val) {
                                let tmp = val.typename + '_' + val.id;
                                if(friendlyLinkType_ === tmp){
                                    friendlyLinkType.append('<option value="' + val.typename + '_' + val.id + '" selected>' + val.typename + '_' + val.id + '</option>')
                                }else{
                                    friendlyLinkType.append('<option value="' + val.typename + '_' + val.id + '" >' + val.typename + '_' + val.id + '</option>')
                                }
                            });
                        }
                        form.render('select')
                    }  else {
                        common.showFailMsg("获取信息失败！");
                    }
                },
                error: function () {
                    common.showFailMsg("获取信息失败！");
                }
            });
        }

        form.on("submit(commit)", function (data) {
            let customerInfo = data.field.customerInfo;
            let customerUuid = customerInfo.split('_')[customerInfo.split('_').length - 1];
            let friendlyLinkWebName = data.field.friendlyLinkWebName;
            let friendlyLinkUrl = data.field.friendlyLinkUrl;
            if(friendlyLinkUrl.indexOf('http://') === -1){
                friendlyLinkUrl = 'http://' + friendlyLinkUrl
            }
            let friendlyLinkSortRank = data.field.friendlyLinkSortRank;
            if (friendlyLinkSortRank  ===  "") {
                friendlyLinkSortRank = -1;
            }
            let friendlyLinkEmail = data.field.friendlyLinkEmail;
            let friendlyLinkType = data.field.friendlyLinkType;
            let friendlyLinkTypeId = friendlyLinkType.split('_')[friendlyLinkType.split('_').length - 1];
            let friendlyLinkIsCheck = data.field.friendlyLinkIsCheck;
            let expirationTime = data.field.expirationTime;
            if (expirationTime === ""){
                common.showFailMsg("请选择到期时间");
                return;
            }
            let renewTime = data.field.renewTime;
            if (renewTime === ""){
                common.showFailMsg("请选择续费时间");
                return;
            }
            let friendlyLinkLogoFile = data.field.friendlyLinkLogo;
            if (friendlyLinkLogoFile !== "") {
                let fileTypes = new Array("jpg", "png", "gif");
                let fileTypeFlag = false;
                let newFileName = friendlyLinkLogoFile.split('.');
                newFileName = newFileName[newFileName.length - 1];
                for (let i = 0; i < fileTypes.length; i++) {
                    if (fileTypes[i] === newFileName) {
                        fileTypeFlag = true;
                        break;
                    }
                }
                if (!fileTypeFlag) {
                    common.showFailMsg("请提交正确格式图片 .jpg .png .gif");
                    return false;
                }
            }
            let friendlyLinkMsg = data.field.friendlyLinkMsg;
            let friendlyLinkLogo = $('#friendlyLinkLogo')[0].files[0];

            let formData = new FormData();
            formData.append('file', $('#friendlyLinkLogo')[0].files[0]);
            formData.append('websiteUuid', websiteUuid_);
            formData.append('customerInfo', $.trim(customerInfo));
            formData.append('customerUuid', $.trim(customerUuid));
            formData.append('friendlyLinkWebName', $.trim(friendlyLinkWebName));
            formData.append('friendlyLinkUrl', $.trim(friendlyLinkUrl));
            formData.append('friendlyLinkIsCheck', $.trim(friendlyLinkIsCheck));
            formData.append('friendlyLinkSortRank', $.trim(friendlyLinkSortRank));
            formData.append('friendlyLinkType', $.trim(friendlyLinkType));
            formData.append('friendlyLinkTypeId', $.trim(friendlyLinkTypeId));
            formData.append('friendlyLinkMsg', $.trim(friendlyLinkMsg));
            formData.append('expirationTime', $.trim(expirationTime));
            formData.append('renewTime', $.trim(renewTime));
            formData.append('friendlyLinkEmail', $.trim(friendlyLinkEmail));
            formData.append('friendlyLinkLogo', $.trim(friendlyLinkLogo));
            if(uuid_ == null){
                $.ajax({
                    url: '/internal/friendlyLinks/saveFriendlyLink',
                    type: 'POST',
                    cache: false,
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (res) {
                        if (res.code === 200) {
                            common.showSuccessMsg("保存成功", function () {
                                parent.window.sign = true;
                                parent.layer.close(parent.layer.getFrameIndex(window.name));
                            });
                        } else {
                            common.showFailMsg(res.msg);
                        }
                    }
                });
            }else{
                formData.append('uuid', $.trim(data.field.uuid));
                formData.append('originalSortRank', originalSortRank_);
                formData.append('friendlyLinkId', data.field.friendlyLinkId);
                $.ajax({
                    url: '/internal/friendlyLinks/updateFriendlyLink',
                    type: 'POST',
                    cache: false,
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (res) {
                        if (res.code === 200) {
                            common.showSuccessMsg("修改成功", function () {
                                parent.window.sign = true;
                                parent.layer.close(parent.layer.getFrameIndex(window.name));
                            });
                        } else {
                            common.showFailMsg(res.msg);
                        }
                    }
                });
            }
            return false;
        });

        $('#close').click(function () {
            parent.layer.close(parent.layer.getFrameIndex(window.name));
            return false;
        });

        form.verify({
            website: function(value, item){
                if(value !== ""){
                    if(value.indexOf(".") === -1){
                        return "请输入正确网址"
                    }
                }else{
                    return "网址不能为空"
                }
            },
            number: function(value, item){
                if(value !== ""){
                    if(!/^[1-9]\d*$/.test(value)){
                        return "请输入大于0的整数排名"
                    }
                }
            },
            email: function(value, item){
                if(value !== ""){
                    if(value.indexOf("@") === -1){
                        return "请输入正确的邮箱"
                    }
                }
            }
        });

    })

</script>

</body>
</html>