<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>关键字管理系统</title>

    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/ok-admin/css/home.css" media="all"/>
    <script type="text/javascript" src="/static/ok-admin/lib/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="/static/ok-admin/lib/echarts/echarts.theme.js"></script>
    <style>

        input.layui-input.layui-unselect {
            height: 30px !important;
        }

        .layui-unselect.layui-form-select {
            margin-right: 10px;
        }

        .layui-form-radio {
            line-height: 28px;
            margin: 2px 10px 0 0;
            padding-right: 10px;
            cursor: pointer;
            font-size: 0;
        }
        .map-body {
            height: 300px;
        }

    </style>
</head>
<body class="childrenBody home">
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="yskj-card-body map-body">
                <div class="layui-col-md12 layui-form" style="z-index: 999">
                    <div class="layui-col-md3"><h4 class="my-card-title">每日站点涨幅统计</h4></div>
                    <div class="layui-col-md5 layui-col-md-offset4">
                        <form id="qzRateSearchForm" name="qzRateSearchForm" lay-filter="qzRateSearchForm">
                            <div class="layui-col-md3" >
                                <select id="qzRateSearchEngine" name="searchEngine" lay-filter="qzRateSearchEngine">

                                </select>
                            </div>
                            <div class="layui-col-md3" >
                                <select id="qzRateTerminalType" name="terminalType" lay-filter="qzRateTerminalType">
                                    <option value="">电脑+手机</option>
                                    <option value="PC">电脑</option>
                                    <option value="Phone">手机</option>
                                </select>
                            </div>
                            <div class="layui-col-md6" id="qzRangeDiv">
                                <input type="radio" name="qzRateRange" value="1" title="7天" lay-filter="qzRateRange" style="margin-left: 10px">
                                <input type="radio" name="qzRateRange" value="2" title="30天" lay-filter="qzRateRange">
                                <input type="radio" name="qzRateRange" value="3" title="3个月" lay-filter="qzRateRange" checked>
                            </div>

                        </form>

                    </div>
                </div>

                <div style="height: 100%;" id="qzDailyStatistics"></div>
            </div>
        </div>
    </div>

</div>
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="yskj-card-body clearfix">
                <h4 class="my-card-title">站点今日详情(点击行可查看站点历史涨幅数据)</h4>
                <table id="qzRateKeywordCountTable" lay-filter="qzRateKeywordCountTable"></table>
            </div>
        </div>
    </div>

</div>

</body>
</html>
<script type="text/javascript" src="/static/ok-admin/lib/layui/layui.js"></script>
<script>
    var formData_ = '<#if formData?exists>${formData}</#if>';
    layui.use(['jquery', 'form', 'common','table','okLayer'], function () {
        let $ = layui.jquery;
        let form = layui.form;
        let common = layui.common;
        let table = layui.table;
        let okLayer = layui.okLayer;

        init_searchEngine();

        let postData = common.formToJsonObject('qzRateSearchForm');

        init_qz_rate_statistics(postData);
        init_table_data(postData);

        function init_searchEngine() {
            $.ajax({
                url: '/internal/common/getSearchEngines',
                dataType: 'json',
                type: 'post',
                async: false,
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify({'terminalType': 'All'}),
                success: function (data) {
                    $("#qzRateSearchEngine").empty();
                    $("#qzRateSearchEngine").append('<option value="">全部搜索引擎</option>');
                    $.each(data.data, function (index, item) {
                        $('#qzRateSearchEngine').append(
                            '<option value="' + item + '">' + item + '</option>');// 下拉菜单里添加元素
                    });
                    if (formData_!=null||formData_!==undefined){
                        formData_ = $.parseJSON(formData_);
                        $('#qzRateTerminalType').val(formData_.terminalType);
                        $('#qzRateSearchEngine').val(formData_.searchEngine);
                        $("input[name='qzRateRange'][value='"+formData_.qzRateRange+"']").attr("checked",true);
                    }
                    form.render();
                }
            });
        }

        function init_qz_rate_statistics(condition) {
            $.ajax({
                url: '/internal/layer/generateQZRateStatisticsDataMap',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify(condition),
                timeout: 10000,
                type: 'POST',
                success: function (res) {
                    if (res.code === 200) {
                        var qzDailyStatisticsData = res.data;
                        var qzDailyStatisticsOption = {

                            "tooltip": {
                                "trigger": "axis",
                                "axisPointer": {
                                    "type": "cross",
                                    "label": {
                                        "backgroundColor": "#6a7985"
                                    }
                                }
                            },
                            "legend": {
                                "orient": 'vertical',
                                "icon": "circle",
                                "x": 'right',
                                "y": 'center',
                                "data": [
                                    "全部站点个数",
                                    "上涨个数",
                                    "不变个数",
                                    "下降个数"
                                ]
                            },
                            "grid": {
                                "top": "3%",
                                "left": "1%",
                                "right": "14%",
                                "bottom": "10%",
                                "containLabel": true
                            },
                            "xAxis": [
                                {
                                    "type": "category",
                                    "boundaryGap": false,
                                    "data": qzDailyStatisticsData.date
                                }
                            ],
                            "yAxis": [
                                {
                                    "type": "value"
                                }
                            ],
                            "series": [
                                {
                                    "name": "全部站点个数",
                                    "type": "line",
                                    "areaStyle": {normal: {color: 'rgba(255,255,255,0)'}},
                                    "data": qzDailyStatisticsData.totalCount,

                                },
                                {
                                    "name": "上涨个数",
                                    "type": "line",
                                    "areaStyle": {normal: {color: 'rgba(255,255,255,0)'}},
                                    "data": qzDailyStatisticsData.riseCount
                                },
                                {
                                    "name": "不变个数",
                                    "type": "line",
                                    "areaStyle": {normal: {color: 'rgba(255,255,255,0)'}},
                                    "data": qzDailyStatisticsData.unchangeCount
                                },
                                {
                                    "name": "下降个数",
                                    "type": "line",
                                    "areaStyle": {
                                        normal: {color: 'rgba(255,255,255,0)'}
                                    },
                                    "data": qzDailyStatisticsData.fallCount
                                }

                            ]
                        };
                        var qzDailyStatistics = echarts.init($('#qzDailyStatistics')[0], "mytheme");
                        qzDailyStatistics.setOption(qzDailyStatisticsOption);
                    }
                },
                error: function () {
                    layer.msg('操作失败', {icon: 5});
                }
            });
        }

        form.on('select(qzRateTerminalType)', function (data) {
            let postData = common.formToJsonObject('qzRateSearchForm');
            init_qz_rate_statistics(postData);
            init_table_data(postData);
        });
        form.on('select(qzRateSearchEngine)', function (data) {
            let postData = common.formToJsonObject('qzRateSearchForm');
            init_qz_rate_statistics(postData);
            init_table_data(postData);
        });

        form.on('radio(qzRateRange)', function (data) {
            let postData = common.formToJsonObject('qzRateSearchForm');
            init_qz_rate_statistics(postData);
        });


        function init_table_data(whereCondition) {
            table.render({
                elem: '#qzRateKeywordCountTable',
                method: 'post',
                url: '/internal/qzRateStatistics/getQZRateKeywordCountList',
                limit: 50,
                page: true,
                autoSort: false,
                size: 'sm',
                defaultToolbar: [],
                id: 'qzRateKeywordCountTable',
                even: true,//隔行背景
                contentType: 'application/json',
                where: whereCondition,
                cols: [[
                    {field: 'customerName', title: '客户名称', width: '20%',},
                    {field: 'qzDomain', title: '站点域名', width: '20%', },
                    {field: 'terminalType', title: '终端类型', width: '15%' },
                    {field: 'totalKeywordCount', title: '总操作词数', width: '15%' },
                    {field: 'topTenKeywordCount', title: '前十数', width: '15%' },
                    {field: 'rate', title: '今日涨幅', width: '15%' ,templet:'#rateTpl'},
                ]],
                height: 'full-450',
                done: function (res, curr, count) {
                }
            });
        }

        table.on('row(qzRateKeywordCountTable)', function(obj){
            var data = obj.data;

            console.log(data);

            let url = '/internal/qzRateStatistics/toQZRateHistory/' + data.terminalType + '/' + data.qzUuid ;

            okLayer.open("首页 / 每日站点涨幅统计 / 站点涨幅历史", url, "60%", "45%", function (layero) {
            }, function () {

            })
            //标注选中样式

        });
    });
</script>

<script type="text/html" id="rateTpl">
    {{# if(!d.rate){    }}
    <span style="color: burlywood;">今日暂无数据</span>
    {{# }else{  }}
    {{# if(d.rate>0){   }}
    <span style="color: green;">上涨:{{d.rate}}</span>
    {{# }else if (d.rate===0) { }}
    <span style="color: grey;">与昨日持平</span>
    {{# }else{  }}
    <span style="color: red;">下跌:{{d.rate}}</span>
    {{# }   }}
    {{# }   }}


</script>



















