<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>ok-admin v2.0 | 很赞的后台模版</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="ok-admin v2.0,ok-admin网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
    <meta name="description" content="ok-admin v2.0，顾名思义，很赞的后台模版，它是一款基于Layui框架的轻量级扁平化且完全免费开源的网站后台管理系统模板，适合中小型CMS后台系统。">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/ok-admin/css/home.css" media="all"/>
    <script type="text/javascript" src="/static/ok-admin/lib/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="/static/ok-admin/lib/echarts/echarts.theme.js"></script>
    <script type="text/javascript" src="/static/ok-admin/lib/echarts/world/js/china.js"></script>
    <style>
        .layui-linline {
            width: 120px;
        }

        .layui-select-title input {
            height: 30px !important;
        }

        .layui-form-select dl {
            top: 31px !important;
            padding: 2px 0 !important;
        }

        .layui-form-select dl dd {
            line-height: 30px !important;
        }

        .layui-form-radio {
            margin: 0 !important;
            padding-right: 6px;
        }

        .layui-form-radio > i {
            margin-right: 4px !important;
        }

        .my-btn {
            height: 30px !important;
            line-height: 30px !important;
            padding: 0 8px;
            background-color: #45a3c2;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            font-size: 14px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
        }

        .my-btn:hover {
            opacity: .8;
            transition: opacity 0.5s;
        }
    </style>
</head>
<body class="childrenBody home">
<div class="layui-row layui-col-space15">
    <div class="layui-col-xs6 layui-col-md3">
        <div class="layui-card">
            <div class="yskj-card-body clearfix cart-data">
                <div class="img-box" ok-pc-in-show>
                    <img src="${ctx.basePath}/static/ok-admin/images/home-01.png" alt="none"/>
                </div>
                <div class="cart-r">
                    <div class="stat-text incomes-num">0</div>
                    <div class="stat-heading">收入</div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-col-xs6 layui-col-md3">
        <div class="layui-card">
            <div class="yskj-card-body clearfix cart-data">
                <div class="img-box" ok-pc-in-show>
                    <img src="${ctx.basePath}/static/ok-admin/images/home-02.png" alt="none"/>
                </div>
                <div class="cart-r">
                    <div class="stat-text goods-num">0</div>
                    <div class="stat-heading">商品</div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-col-xs6 layui-col-md3">
        <div class="layui-card">
            <div class="yskj-card-body clearfix cart-data">
                <div class="img-box" ok-pc-in-show>
                    <img src="${ctx.basePath}/static/ok-admin/images/home-03.png" alt="none"/>
                </div>
                <div class="cart-r">
                    <div class="stat-text blogs-num">0</div>
                    <div class="stat-heading">博客</div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-col-xs6 layui-col-md3">
        <div class="layui-card">
            <div class="yskj-card-body clearfix cart-data">
                <div class="img-box" ok-pc-in-show>
                    <img src="${ctx.basePath}/static/ok-admin/images/home-04.png" alt="none"/>
                </div>
                <div class="cart-r">
                    <div class="stat-text fans-num">0</div>
                    <div class="stat-heading">用户</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="layui-row layui-col-space15">
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="yskj-card-body map-body">
                <div style="height: 100%;" id="mapOne"></div>
            </div>
        </div>
    </div>
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="yskj-card-body map-body" style="position:relative;">
                <div style="position: absolute;top: 28px;left: 0;z-index: 9999;width: 100%;">
                    <form class="layui-form layui-form-pane" id="form">
                        <div style="float: right; width: 100px;margin: 0 16px 0 6px">
                            <div class="my-btn" onclick="toChargeMon()">详细信息</div>
                        </div>
                        <div style="float: right; width: 120px;margin: 0 0 0 6px">
                            <select name="qzTerminal" id="qzTerminal" lay-filter="qzTerminal">
                                <option value="">电脑+手机</option>
                                <option value="PC" selected>电脑</option>
                                <option value="Phone">手机</option>
                            </select>
                        </div>
                        <div style="float: right; width: 120px;margin: 0 0 0 6px">
                            <select name="searchEngines" id="searchEngines" lay-filter="searchEngines">
                                <option value="">所有</option>
                            </select>
                        </div>
                        <div style="float: right;position: relative;top: 2px;">
                            <input type="radio" name="time" value="1" title="30天" lay-filter="time">
                            <input type="radio" name="time" value="2" title="3个月" lay-filter="time">
                            <input type="radio" name="time" value="3" title="1年" lay-filter="time" checked>
                        </div>
                    </form>
                </div>
                <div style="height: 100%;" id="chargeLogShow"></div>
            </div>
        </div>
    </div>
</div>

<div class="layui-row layui-col-space15">
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="yskj-card-body clearfix">
                <table id="userData" lay-filter="userdata"></table>
            </div>
        </div>
    </div>
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="yskj-card-body clearfix">
                <div class="map-china" id="mapChina"></div>
            </div>
        </div>
    </div>
</div>

<!--日历-->
<!--<div class="layui-row layui-col-space15">-->
<!--<div class="clearfix">-->
<!--<div id="calendar"></div>-->
<!--</div>-->
<!--</div>-->
</body>
<script type="text/javascript" src="/static/ok-admin/lib/layui/layui.js"></script>
<script type="text/javascript" src="/static/ok-admin/js/home.js"></script>
<script type="text/javascript" src="/static/ok-admin/page/qzsetting/qzChargeMon.js"></script>
</html>