<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="ok-admin v2.0,ok-admin网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
    <meta name="description" content="ok-admin v2.0，顾名思义，很赞的后台模版，它是一款基于Layui框架的轻量级扁平化且完全免费开源的网站后台管理系统模板，适合中小型CMS后台系统。">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/ok-admin/css/home.css" media="all"/>
    <script type="text/javascript" src="/static/ok-admin/lib/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="/static/ok-admin/lib/echarts/echarts.theme.js"></script>
    <script type="text/javascript" src="/static/ok-admin/lib/echarts/world/js/china.js"></script>
    <style>
        .layui-linline {
            width: 120px;
        }

        .layui-select-title input {
            height: 30px !important;
        }

        .layui-form-select dl {
            top: 31px !important;
            padding: 2px 0 !important;
        }

        .layui-form-select dl dd {
            line-height: 30px !important;
        }

        .layui-form-radio {
            margin: 0 !important;
            padding-right: 6px;
        }

        .layui-form-radio > i {
            margin-right: 4px !important;
        }

        .my-btn {
            height: 30px !important;
            line-height: 30px !important;
            padding: 0 8px;
            background-color: #45a3c2;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            font-size: 14px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
        }

        .my-btn:hover {
            opacity: .8;
            transition: opacity 0.5s;
        }
    </style>
</head>
<body class="childrenBody home">
<div class="layui-row layui-col-space15">
    <div class="layui-col-xs6 layui-col-md3">
        <div class="layui-card">
            <div class="yskj-card-body clearfix cart-data">
                <div class="img-box" ok-pc-in-show>
                    <img src="${ctx.basePath}/static/ok-admin/images/home-01.png" alt="none"/>
                </div>
                <div class="cart-r">
                    <div class="stat-text incomes-num">0</div>
                    <div class="stat-heading">收入</div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-col-xs6 layui-col-md3">
        <div class="layui-card">
            <div class="yskj-card-body clearfix cart-data">
                <div class="img-box" ok-pc-in-show>
                    <img src="${ctx.basePath}/static/ok-admin/images/home-02.png" alt="none"/>
                </div>
                <div class="cart-r">
                    <div class="stat-text goods-num">0</div>
                    <div class="stat-heading">商品</div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-col-xs6 layui-col-md3">
        <div class="layui-card">
            <div class="yskj-card-body clearfix cart-data">
                <div class="img-box" ok-pc-in-show>
                    <img src="${ctx.basePath}/static/ok-admin/images/home-03.png" alt="none"/>
                </div>
                <div class="cart-r">
                    <div class="stat-text blogs-num">0</div>
                    <div class="stat-heading">博客</div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-col-xs6 layui-col-md3">
        <div class="layui-card">
            <div class="yskj-card-body clearfix cart-data">
                <div class="img-box" ok-pc-in-show>
                    <img src="${ctx.basePath}/static/ok-admin/images/home-04.png" alt="none"/>
                </div>
                <div class="cart-r">
                    <div class="stat-text fans-num">0</div>
                    <div class="stat-heading">用户</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="layui-row layui-col-space15">
    <!--每日站点趋势-->
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="yskj-card-body map-body" style="position:relative;">
                <div style="position: absolute;top: 18px;left: 0;z-index: 9999;width: 100%;">
                    <form class="layui-form layui-form-pane" id="qzRateSearchForm">
                        <div style="float: right; width: 100px;margin: 0 16px 0 6px">
                            <div class="my-btn" onclick="qzRateDetail()">数据详情</div>
                        </div>
                        <div style="float: right; width: 120px;margin: 0 0 0 6px">
                            <select name="terminalType" id="qzRateTerminalType" lay-filter="qzRateTerminalType">
                                <option value="">电脑+手机</option>
                                <option value="PC" selected>电脑</option>
                                <option value="Phone">手机</option>
                            </select>
                        </div>
                        <div style="float: right; width: 120px;margin: 0 0 0 6px">
                            <select name="searchEngine" id="qzRateSearchEngine" lay-filter="qzRateSearchEngine">
                                <option value="">所有</option>
                            </select>
                        </div>
                        <div style="float: right;position: relative;top: 2px;" id="qzRangeDiv">
                            <input type="radio" name="qzRateRange" value="-7" title="7天" lay-filter="qzRateRange">
                            <input type="radio" name="qzRateRange" value="-30" title="30天" lay-filter="qzRateRange">
                            <input type="radio" name="qzRateRange" value="-90" title="3个月" lay-filter="qzRateRange" checked>
                        </div>
                    </form>
                </div>
                <div style="height: 100%;" id="qzDailyStatistics"></div>
            </div>
        </div>
    </div>
    <!--每月站点监控-->
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="yskj-card-body map-body" style="position:relative;">
                <div style="position: absolute;top: 18px;left: 0;z-index: 9999;width: 100%;">
                    <form class="layui-form layui-form-pane" id="form">
                        <div style="float: right; width: 100px;margin: 0 16px 0 6px">
                            <div class="my-btn" onclick="toChargeMon()">数据详情</div>
                        </div>
                        <div style="float: right; width: 120px;margin: 0 0 0 6px">
                            <select name="qzTerminal" id="qzTerminal" lay-filter="qzTerminal">
                                <option value="">电脑+手机</option>
                                <option value="PC" selected>电脑</option>
                                <option value="Phone">手机</option>
                            </select>
                        </div>
                        <div style="float: right; width: 120px;margin: 0 0 0 6px">
                            <select name="searchEngines" id="searchEngines" lay-filter="searchEngines">
                                <option value="">所有</option>
                            </select>
                        </div>
                        <div style="float: right;position: relative;top: 2px;">
                            <input type="radio" name="time" value="1" title="30天" lay-filter="time">
                            <input type="radio" name="time" value="2" title="3个月" lay-filter="time">
                            <input type="radio" name="time" value="3" title="1年" lay-filter="time" checked>
                        </div>
                    </form>
                </div>
                <div style="height: 100%;" id="chargeLogShow"></div>
            </div>
        </div>
    </div>
</div>

<div class="layui-row layui-col-space15">
    <!--每日排名涨幅-->
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="yskj-card-body clearfix" style="position:relative;height: 360px;">
                <div style="position: absolute;top: 18px;left: 0;z-index: 9999;width: 100%;">
                    <form class="layui-form layui-form-pane" id="keywordFrom">
                        <div style="float: right; width: 100px;margin: 0 16px 0 6px">
                            <div class="my-btn" onclick="toCustomerKeywordMon()">数据详情</div>
                        </div>
                        <div style="float: right; width: 120px;margin: 0 0 0 6px">
                            <select name="terminal" id="terminal" lay-filter="terminal">
                                <option value="">电脑+手机</option>
                                <option value="PC" selected>电脑</option>
                                <option value="Phone">手机</option>
                            </select>
                        </div>
                        <div style="float: right; width: 120px;margin: 0 0 0 6px">
                            <select name="searchEngine" id="searchEngine" lay-filter="searchEngine">
                                <option value="">所有</option>
                            </select>
                        </div>
                        <div style="float: right;position: relative;top: 2px;">
                            <input type="radio" name="time" value="1" title="30天" lay-filter="keywordTime">
                            <input type="radio" name="time" value="2" title="3个月" lay-filter="keywordTime">
                            <input type="radio" name="time" value="3" title="1年" lay-filter="keywordTime" checked>
                        </div>
                    </form>
                </div>
                <div style="height: 100%;" id="keywordLogShow"></div>
            </div>
        </div>
    </div>
    <!--<div class="layui-col-md6">
        <div class="layui-card">
            <div class="yskj-card-body clearfix">
            </div>
        </div>
    </div>-->
</div>
</body>
<script>var condition;</script>
<script type="text/javascript" src="/static/ok-admin/lib/layui/layui.js"></script>
<script type="text/javascript" src="/static/ok-admin/js/home.js"></script>
<script src="/static/ok-admin/js/somePublic.js"></script>
<script type="text/javascript" src="/static/ok-admin/page/qzsetting/qzChargeMon.js"></script>
<script type="text/javascript" src="/static/ok-admin/page/keyword/customerKeywordMon.js"></script>
<script>
    layui.use(['jquery', 'form', 'common'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var common = layui.common;

        init_searchEngine();
        let postData = common.formToJsonObject('qzRateSearchForm');
        init_qz_rate_statistics(postData);

        function init_searchEngine() {
            $.ajax({
                url: '/internal/common/getSearchEngines',
                dataType: 'json',
                type: 'post',
                async: false,
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify({'terminalType': 'All'}),
                success: function (data) {
                    $("#qzRateSearchEngine").empty();
                    $("#qzRateSearchEngine").append('<option value="">所有</option>');
                    $.each(data.data, function (index, item) {
                        $('#qzRateSearchEngine').append('<option value="' + item + '">' + item + '</option>');// 下拉菜单里添加元素
                    });
                    form.render("select");
                }
            });
        }

        var qzDailyStatistics = echarts.init($('#qzDailyStatistics')[0]);

        function init_qz_rate_statistics(condition) {
            $.ajax({
                url: '/internal/layer/generateQZRateStatisticsDataMap',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify(condition),
                timeout: 10000,
                type: 'POST',
                success: function (res) {
                    console.log(res);
                    if (res.code === 200) {
                        if (res.data != null) {
                            var qzDailyStatisticsData = res.data;
                            var qzDailyStatisticsOption = {
                                title: {
                                    text: '每日站点趋势',
                                    subtext: '',
                                    y: '10',
                                    x: '10'
                                },
                                tooltip: {
                                    trigger: "axis",
                                    axisPointer: {
                                        type: "cross",
                                        label: {
                                            backgroundColor: "#6a7985"
                                        }
                                    }
                                },
                                legend: {
                                    orient: 'vertical',
                                    icon: "circle",
                                    x: 'right',
                                    y: 'center',
                                    data: [
                                        "站点总数",
                                        "上涨个数",
                                        "不变个数",
                                        "下降个数"
                                    ]
                                },
                                grid: {
                                    x: 40,
                                    y: 50,
                                    x2: 90,
                                    y2: 40,
                                },
                                xAxis: {
                                    type: "category",
                                    boundaryGap: false,
                                    data: qzDailyStatisticsData.date,
                                    axisLabel: {
                                        interval: 0,
                                        rotate: -30
                                    }
                                },
                                yAxis: {
                                    type: "value"
                                },
                                series:
                                    [
                                        {
                                            name: "站点总数",
                                            type: "line",
                                            smooth: true,
                                            areaStyle: {normal: {color: 'rgba(255,255,255,0)'}},
                                            data: qzDailyStatisticsData.totalCount,

                                        },
                                        {
                                            name: "上涨个数",
                                            type: "line",
                                            smooth: true,
                                            areaStyle: {normal: {color: 'rgba(255,255,255,0)'}},
                                            data: qzDailyStatisticsData.riseCount
                                        },
                                        {
                                            name: "不变个数",
                                            type: "line",
                                            smooth: true,
                                            areaStyle: {normal: {color: 'rgba(255,255,255,0)'}},
                                            data: qzDailyStatisticsData.unchangedCount
                                        },
                                        {
                                            name: "下降个数",
                                            type: "line",
                                            smooth: true,
                                            areaStyle: {
                                                normal: {color: 'rgba(255,255,255,0)'}
                                            },
                                            data: qzDailyStatisticsData.fallCount
                                        }

                                    ]
                            };
                            switch (condition.qzRateRange) {
                                case '-7':
                                    qzDailyStatisticsOption.xAxis.axisLabel.rotate = 0;
                                    qzDailyStatisticsOption.grid.y2 = 20;
                                    break;
                                case '-30':
                                    qzDailyStatisticsOption.xAxis.axisLabel.rotate = -30;
                                    qzDailyStatisticsOption.grid.y2 = 40;
                                    break;
                                case '-90':
                                    qzDailyStatisticsOption.xAxis.axisLabel.rotate = -30;
                                    qzDailyStatisticsOption.grid.y2 = 40;
                                    break;
                            }
                            qzDailyStatistics.setOption(qzDailyStatisticsOption);
                        }
                    } else {
                        common.showFailMsg("每日站点趋势数据获取失败")
                    }
                },
                error: function () {
                    common.showFailMsg("网络异常请稍后再试")
                }
            });
        }

        form.on('select(qzRateTerminalType)', function (data) {
            let postData = common.formToJsonObject('qzRateSearchForm');
            init_qz_rate_statistics(postData);

        });

        form.on('select(qzRateSearchEngine)', function (data) {
            let postData = common.formToJsonObject('qzRateSearchForm');
            init_qz_rate_statistics(postData);
        });

        form.on('radio(qzRateRange)', function (data) {
            let postData = common.formToJsonObject('qzRateSearchForm');
            init_qz_rate_statistics(postData);
        });
    });
</script>
