<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>机器分组统计</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/static/ok-admin/css/sub-page.css">
    <style>
        /* 下拉条件框 */
        .my-collapse {
            position: relative;
            box-shadow: none;
        }

        .my-collapse * {
            box-shadow: none;
        }

        .my-collapse .layui-form-select dl,
        .my-collapse .layui-form-select .layui-anim {
            top: 33px !important;
        }

        .my-collapse > div:first-child {
            background: #f2f2f2;
            border: 1px solid #e6e6e6;
        }

        .my-collapse > div {
            padding: 6px 5px;
        }

        .my-hide {
            padding-bottom: 1px !important;
            width: 100%;
            display: none;
            position: absolute;
            top: 43px;
            left: 0;
            z-index: 894;
            background: #fff;
            border-left: 1px solid #e6e6e6;
            border-right: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        .my-collapse button {
            height: 30px;
            line-height: 30px;
        }

        .my-collapse .my-btn {
            height: 30px !important;
            line-height: 30px !important;
            padding: 0 18px;
            background-color: #45a3c2;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            font-size: 14px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
        }

        .my-collapse .my-btn:hover {
            opacity: .8;
            transition: opacity 0.5s;
        }

        .layui-input-inline input {
            height: 30px;
        }

        .layui-form-pane .layui-form-label {
            width: 116px;
            padding: 8px 15px;
            height: 30px;
            line-height: 13px;
            border-width: 1px;
            border-style: solid;
            border-radius: 2px 0 0 2px;
            text-align: center;
            background-color: #FBFBFB;
            overflow: hidden;
            box-sizing: border-box
        }

        .layui-inline label {
            border-right: none;
        }

        .layui-form-pane .layui-form-checkbox {
            margin: 0;
        }

        .layui-inline input {
            width: 180px;
            height: 30px;
        }

        .layui-inline:nth-child(1) input {
            width: 140px;
        }

        .layui-table-body .layui-table-cell {
            text-align: left;
        }

        .layui-table-body .laytable-cell-checkbox {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb" style="margin: 5px 0">
        <a><cite>终端管理</cite></a>
        <a><cite>/</cite></a>
        <a><cite>前往刷量统计</cite></a>
        <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <!--  条件搜索  -->
    <div class="layui-card ">
        <div class="layui-card-body ">
            <form class="layui-form layui-form-pane" id="searchForm">
                <div class="my-collapse">
                    <div>
                        <div class="layui-inline">
                            <select name="entryType" lay-filter="entryType">
                                <option value="qz">全站链接</option>
                                <option value="pt" selected>普通链接</option>
                                <option value="fm">负面链接</option>
                                <option value="bc">BC链接</option>
                            </select>
                        </div>
                        <div class="layui-inline">
                            <input type="text" name="machineGroup" id="machineGroup" placeholder="请输入机器分组" class="layui-input">
                        </div>
                        <div class="layui-inline">
                            <input type="checkbox" name="machineGroupFuzzyQuery" title="模糊搜索">
                        </div>
                        <div class="layui-inline">
                            <input type="text" name="customerName" id="customerName" placeholder="请输入客户名称" class="layui-input">
                        </div>
                        <!--                        <div class="layui-inline">-->
                        <!--                            <select name="categoryTag">-->
                        <!--                                <option value="">请选择分类标签</option>-->
                        <!--                            </select>-->
                        <!--                        </div>-->
                        <div class="layui-inline">
                            <select name="dayNum">
                                <option value="">请选择历史记录</option>
                                <option value="1">一天前</option>
                                <option value="2">两天前</option>
                                <option value="3">三天前</option>
                                <option value="4">四天前</option>
                                <option value="5">五天前</option>
                                <option value="6">六天前</option>
                            </select>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn" lay-submit lay-filter="search"
                                    id="searchBtn">搜索
                            </button>
                        </div>
                        <div class="layui-inline">
                            <button style="background: #897c00;color: #ffffff" class="layui-btn"
                                    type="reset">
                                重置
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--TODO 跳转旧的页面-->
    <form id="searchCustomerKeywordForm" style="display: none;" method="post" target="_blank"
          action="/internal/customerKeyword/searchCustomerKeywordLists">
        <input type="hidden" name="machineGroup" id="openMachineGroup" value=""/>
        <input type="hidden" name="invalidRefreshCount" id="invalidRefreshCount" value=""/>
        <input type="hidden" name="noReachStandardDays" id="noReachStandardDays" value=""/>
        <input type="hidden" name="status" id="status" value="1"/>
    </form>

    <!--数据表格-->
    <table class="layui-hide" id="machineTable" lay-filter="machineTable"></table>
</div>
<!--js逻辑-->
<script src="/static/ok-admin/lib/layui/layui.js"></script>
<script src="/static/ok-admin/lib/nprogress/nprogress.js"></script>
<script>
    // 进度条加载提示
    NProgress.start();

    window.onload = function () {
        NProgress.done();
    };

    // layui相关
    layui.use(['table', 'form', 'jquery'], function () {
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;

        <@shiro.hasPermission name="/internal/customerKeyword/searchCustomerKeywordLists">
        window.searchCustomerKeywords = function (machineGroup) {
            $("#searchCustomerKeywordForm").find("#openMachineGroup").val(machineGroup);
            $("#searchCustomerKeywordForm").submit();
        };
        </@shiro.hasPermission>

        <@shiro.hasPermission name="/internal/customerKeyword/searchCustomerKeywordLists">
        window.findKeyword = function (optimizeGroupName, invalidRefreshCount) {
            if (invalidRefreshCount == null) {
                $("#searchCustomerKeywordForm").find("#noReachStandardDays").val(-1);
            } else {
                $("#searchCustomerKeywordForm").find("#noReachStandardDays").val(0);
            }
            $("#searchCustomerKeywordForm").find("#invalidRefreshCount").val(invalidRefreshCount);
            $("#searchCustomerKeywordForm").find("#optimizeGroupName").val(optimizeGroupName);
            $("#searchCustomerKeywordForm").submit();
        };
        </@shiro.hasPermission>

        <@shiro.hasPermission name="/internal/machineInfo/searchBadMachineInfo">
        window.findMachineInfo = function (machineGroup) {
            $("#searchMachineInfoForm").find("#openMachineGroup").val(machineGroup);
            $("#searchMachineInfoForm").submit();
        };
        </@shiro.hasPermission>

        window.resetInvaidRefreshCount = function (groupName, customerName, fullMatchGroup) {
            let condition = {};
            condition.customerName = customerName;
            condition.groupName = groupName;
            condition.fullMatchGroup = fullMatchGroup;
            condition.entryType = $.parseJSON(formToJson($("#searchForm").serialize())).entryType;
            $.ajax({
                url: '/internal/customerKeyword/resetInvalidRefresh',
                data: JSON.stringify(condition),
                type: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                success: function (res) {
                    if (res.code === 200) {
                        show_layer_msg('重置成功', 6, true);
                    } else {
                        show_layer_msg('重置失败', 5);
                    }
                },
                error: function () {
                    show_layer_msg('重置失败', 5);
                }
            });
        };

        init();

        function init() {
            let condition = $.parseJSON(formToJson($("#searchForm").serialize()));
            if (condition.dayNum === '') {
                condition.dayNum = 0;
            }
            tableInit(condition);
        }

        <@shiro.hasPermission name="/internal/refreshstatinfo/searchRefreshStatInfos">
        function tableInit(condition) {
            table.render({
                elem: '#machineTable',
                method: 'post',
                url: '/internal/machinegroupstatistics/searchMachineGroupWorkInfos',
                page: false,
                autoSort: true,
                size: 'sm',
                id: 'machineTable',
                even: true,//隔行背景
                where: condition,
                defaultToolbar: ['filter'],
                contentType: 'application/json',
                cols: [[
                    {filed: 'uuid', type: 'checkbox', width: '2%', rowspan: 2},
                    {
                        title: '类型', width: '10%', align: 'center', templet: function (d) {
                            if (d.machineGroup === '总计') {
                                return d.machineGroup;
                            }
                            return '<a href="javascript:searchCustomerKeywords(\'' + d.machineGroup + '\')" style="color: blue">' + d.machineGroup + '</a>';
                        }, rowspan: 2
                    },
                    {title: '关键字', width: '37%', align: 'center', colspan: 7},
                    {title: '刷的次数', width: '58%', align: 'center', colspan: 6},
                    {title: '机器数', width: '15%', align: 'center', colspan: 3}
                ], [
                    {
                        title: '总数', width: '5%', align: 'center', templet: function (d) {
                            return d.totalKeywordCount;
                        }
                    },
                    {
                        title: '达标数(金额)', width: '6%', align: 'center', templet: function (d) {
                            if (d.reachStandardKeywordCount > 0) {
                                if (d.machineGroup === '总计') {
                                    return '<a href="javascript:findKeyword(\'\', \'\')" style="color: blue">' + d.reachStandardKeywordCount + '('
                                        + d.todaySubTotal + ')</a>';
                                }
                                return '<a href="javascript:findKeyword(\'' + d.machineGroup + '\', \'\')" style="color: blue">' + d.reachStandardKeywordCount
                                    + '(' + d.todaySubTotal + ')</a>';
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        title: '达标率', width: '5%', align: 'center', templet: function (d) {
                            let reachStandardPercentage = (d.reachStandardKeywordCount * 1.0) / d.totalKeywordCount * 100;
                            if (reachStandardPercentage > 0) {
                                return reachStandardPercentage.toFixed(2) + '%';
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        title: '没有刷量', width: '5%', align: 'center', templet: function (d) {
                            if (d.zeroOptimizedCount > 0) {
                                return d.zeroOptimizedCount;
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        title: '待刷数', width: '5%', align: 'center', templet: function (d) {
                            if (d.needOptimizeKeywordCount > 0) {
                                return d.needOptimizeKeywordCount;
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        title: '无效刷量', width: '6%', align: 'center', templet: function (d) {
                            if (d.invalidKeywordCount > 0) {
                                let html = '';
                                if (d.machineGroup === '总计') {
                                    html = '<a href="javascript:findKeyword(\'\', \'' + d.maxInvalidCount + '\')" style="color: blue">' + d.invalidKeywordCount
                                        + '</a>';
                                } else {
                                    html = '<a href="javascript:findKeyword(\'' + d.machineGroup + '\', \'' + d.maxInvalidCount + '\')" style="color: blue">'
                                        + d.invalidKeywordCount + '</a>';
                                }
                                <@shiro.hasPermission name="/internal/customerKeyword/resetInvalidRefreshCount">
                                let cus = document.getElementById('customerName').value;
                                if (d.machineGroup === '总计') {
                                    html += '<a href="javascript:resetInvaidRefreshCount(\'' + document.getElementById('machineGroup').value
                                        + '\',\'' + cus
                                        + '\', false)" style="color: blue;margin-left: 5px">重置</a>';
                                } else {
                                    html += '<a href="javascript:resetInvaidRefreshCount(\'' + d.machineGroup
                                        + '\',\'' + cus + '\', true)" style="color: blue;margin-left: 5px">重置</a>';
                                }
                                </@shiro.hasPermission>
                                return html;
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        title: '无效占比', width: '5%', align: 'center', templet: function (d) {
                            let invalidKeywordPercentage = (d.totalKeywordCount > 0) ? ((d.invalidKeywordCount * 1.0) / d.totalKeywordCount) * 100 : 0;
                            if (invalidKeywordPercentage > 0) {
                                let color = invalidKeywordPercentage > 20 ? "red" : (invalidKeywordPercentage > 10 ? "purple" : "#000");
                                return '<span style="color: ' + color + '">' + invalidKeywordPercentage.toFixed(2) + '%</span>';
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        title: '总次数', width: '6%', align: 'center', templet: function (d) {
                            if (d.totalOptimizeCount > 0) {
                                return d.totalOptimizeCount;
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        title: '已刷次数', width: '5%', align: 'center', templet: function (d) {
                            if (d.totalOptimizedCount > 0) {
                                return d.totalOptimizedCount;
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        title: '待刷次数', width: '6%', align: 'center', templet: function (d) {
                            if (d.needOptimizeCount > 0) {
                                return d.needOptimizeCount;
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        title: '平均有效刷量', width: '7%', align: 'center', templet: function (d) {
                            if (d.totalOptimizedCount > 0) {
                                let avgOptimizedCount = d.totalOptimizedCount / d.totalKeywordCount;
                                let color = avgOptimizedCount <= 30 ? "red" : "black";
                                return '<span style="color: ' + color + '">' + avgOptimizedCount.toFixed(2) + '</span>';
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        title: '取词次数', width: '6%', align: 'center', templet: function (d) {
                            if (d.queryCount > 0) {
                                return d.queryCount;
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        title: '无效占比', width: '6%', align: 'center', templet: function (d) {
                            let invalidOptimizePercentage = (d.queryCount > 0) ? (((d.queryCount - d.totalOptimizedCount)) / d.queryCount) * 100 : 0;
                            if (invalidOptimizePercentage > 0) {
                                let color = invalidOptimizePercentage > 20 ? "red" : (invalidOptimizePercentage > 10 ? "purple" : "#000");
                                return '<span style="color: ' + color + '">' + invalidOptimizePercentage.toFixed(2) + '%</span>';
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        title: '总数', width: '5%', align: 'center', templet: function (d) {
                            if (d.totalMachineCount > 0) {
                                return d.totalMachineCount;
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        title: '空闲率', width: '5%', align: 'center', templet: function (d) {
                            let idlePercentage = d.idleTotalMinutes / (d.totalMachineCount * 24 * 60.0) * 100;
                            if (idlePercentage > 0) {
                                return idlePercentage.toFixed(2) + '%';
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        title: '已停数', width: '5%', align: 'center', templet: function (d) {
                            if (d.unworkMachineCount > 0) {
                                if (d.machineGroup === '总计') {
                                    return '<a target="_blank" href="javascript:findMachineInfo(\'\')">d.unworkMachineCount</a>';
                                }
                                return '<a target="_blank" href="javascript:findMachineInfo(\'' + d.machineGroup + '\')">d.unworkMachineCount</a>';
                            } else {
                                return '';
                            }
                        }
                    }
                ]],
                height: 'full-118',
                done: function (res, curr, count) {
                }
            });
        }
        </@shiro.hasPermission>

        form.on('select(entryType)', function (data) {
            active['reload'].call(this);
        });

        //监听工具条
        var active = {
            reload: function () {
                let condition = $.parseJSON(formToJson($("#searchForm").serialize()));
                if (condition.dayNum === '') {
                    condition.dayNum = 0;
                }
                if (!condition.groupNameFuzzyQuery) {
                    condition.groupNameFuzzyQuery = '';
                }
                table.reload('machineTable', {
                    where: condition
                });
            }
        };

        form.on("submit(search)", function (data) {
            let condition = data.field;
            if (condition.dayNum === '') {
                condition.dayNum = 0;
            }
            if (!condition.groupNameFuzzyQuery) {
                condition.groupNameFuzzyQuery = '';
            }
            table.reload('machineTable', {
                where: condition
            });
            return false;
        });

        function formToJson(data) {
            data = data.replace(/&/g, "\",\"");
            data = data.replace(/=/g, "\":\"");
            data = "{\"" + data + "\"}";
            return data;
        }

        function show_layer_msg(msg, icon, status, title) {
            layer.msg(msg, {
                icon: icon,
                title: title === undefined ? null : title,
                anim: 5,
                time: 1000,
                isOutAnim: false
            }, function () {
                if (status) {
                    active['reload'].call(this);
                }
            });
        }
    });
</script>
</body>
</html>
