<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>优质清单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.css">
    <style>
        .layui-tab-content {
            padding: 0px;
        }
        .layui-card-body {
            position: relative;
            padding: 0px;
            line-height: 24px;
        }
        .layui-table, .layui-table-view {
            margin: 0px;
            border-width: 1px;
        }
        .my-collapse > div:first-child {
            margin-top: 10px;
            background: #f2f2f2;
            border: 0px;
        }
        .layui-inline input {
            width: 150px;
            height: 30px;
        }
        .my-collapse button {
            height: 30px;
            line-height: 30px;
        }
        .my-collapse > div:first-child {
            background: #f2f2f2;
            border: 1px solid #e6e6e6;
        }

        .my-collapse > div {
            padding: 6px 5px;
        }

        .layui-table-page > div {
            height: 26px;
            position: fixed;
            right: 25px;
        }

        .layui-table-tool {
            min-height: 40px;
            padding: 6px 5px;
        }

        .layui-table-tool-self{
            top: 0;
        }
    </style>
</head>
<body>
<div class="ok-body">
    <div class="layui-card ">
        <div class="layui-card-body ">
            <form class="layui-form layui-form-pane" id="searchForm">
                <div class="my-collapse">
                    <div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="text" name="keyword" id="keyword" placeholder="请输入关键字" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="text" name="title" id="title" placeholder="请输入标题" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width: 150px;">
                                <input type="text" name="url" id="url" placeholder="请输入URL" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <button class="layui-btn" lay-submit lay-filter="search" id="searchBtn">搜索</button>
                            </div>
                            <div class="layui-input-inline">
                                <button class="layui-btn" style="background: #897c00;color: #ffffff" type="reset">重置</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <table class="layui-hide" id="positiveListTable" lay-filter="tableFilter"></table>
</div>
<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script src="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.js"></script>
<script src="/static/ok-admin/js/somePublic.js"></script>
<script>
    var sign = false;
    // 进度条加载提示
    NProgress.start();
    window.onload = function () {
        NProgress.done();
    };
    // layui相关
    layui.use(['table', 'form', 'jquery', 'okLayer', 'layer', "common"], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let okLayer = layui.okLayer;
        let layer = layui.layer;
        let common = layui.common;

        let active = {
            reload: function () {
                let data = {};
                table.reload('positiveListTable', {
                    where: data,
                    page: {
                        curr: 1
                    }
                });
            },
        };

        form.on("submit(search)", function (data) {
            let postData = data.field;
            postData = common.jsonObjectTrim(postData);
            searchPositiveList(postData);
            return false
        });

        searchPositiveList({init: 'init'});

        function searchPositiveList(whereCondition){
            table.render({
                elem: '#positiveListTable',
                method: 'post',
                url: '${ctx.path}/internal/positivelists/searchPositiveLists',
                limit: 50,
                page: true,
                autoSort: false,
                size: 'sm',
                id: 'positiveListTable',
                even: true,
                toolbar: "#toolbarTpl",
                defaultToolbar: [],
                contentType: 'application/json',
                where: whereCondition,
                cols: [[
                    {filed: 'uuid', type: 'checkbox', width: '35', align: 'center'},
                    {field: 'keyword', title: '关键字', width: '11%', align: 'left'},
                    {field: 'title', title: '标题', width: '15%', align: 'left'},
                    {field: 'url', title: 'URL', width: '12%', align: 'left'},
                    {field: 'bearPawNumber', title: '熊掌号', width: '10%', align: 'left'},
                    {field: 'desc', title: '描述', width: '21%', align: 'left'},
                    {field: 'position', title: '排名', width: '10%', align: 'center'},
                    {field: 'createTime', title: '采集日期', width: '12%', templet: '#toDateTime', align: 'center'},
                    {title: '操作', templet: '#operationTpl', width: '7%', align: 'center'}
                ]],
                height: 'full-70',
                done: function (res, curr, count) {
                }
            });
        }

        function showPositiveListDialog() {
            okLayer.open("首页 / 优质清单列表 / 添加优质清单", "/internal/positivelists/toSavePositiveList", "60%", "60%", null, function(){
                if(sign){
                    active['reload'].call(this);
                    sign = false;
                }
            },'40px');
        }

        function modifyPositiveList(data){

            okLayer.open("首页 / 优质清单列表 / 修改优质清单", "/internal/positivelists/toSavePositiveList", "60%", "60%", function(layero){
                window[layero.find("iframe")[0]["name"]].initForm(data.uuid);
            },function(){
                if(sign){
                    active['reload'].call(this);
                    sign = false;
                }
            },'40px');
        }

        function deletePositiveList(uuid){
            layer.confirm('确认删除该清单？', {
                icon: 3,
                title: '删除清单',
                btn: ['确认', '取消'],
                yes: function () {
                    $.ajax({
                        url: '/internal/positivelists/deletePositiveList/' + uuid,
                        type: 'POST',
                        headers: {
                            "Accept": 'application/json',
                            "Content-Type": 'application/json'
                        },
                        success: function (res) {
                            if (res.code === 200) {
                                let data = {};
                                common.showSuccessMsg("删除成功", function() {
                                    table.reload('positiveListTable', {
                                        where: data,
                                        page: {
                                            curr: 1
                                        }
                                    });
                                });
                            } else {
                                common.showFailMsg(res.msg);
                            }
                        },
                        error: function () {
                            common.showFailMsg('未知错误，请稍后重试！！');
                        }
                    });
                },
                btn2: function (index) {
                    layer.close(index);
                }
            });
        }

        function deletePositives(){
            let checkStatus = table.checkStatus('positiveListTable');
            let data = checkStatus.data;
            let uuidArr = [];
            $.each(data, function (index, item) {
                uuidArr.push(item.uuid);
            });
            if (uuidArr.length <= 0) {
                common.showFailMsg('请选择要操作的清单');
                return false;
            }
            layer.confirm("确定要删除所选清单吗", {icon: 3, title: '删除所选'}, function (index) {
                let postData = {};
                postData.uuids = uuidArr;
                $.ajax({
                    url: '/internal/positivelists/deletePositiveLists',
                    data: JSON.stringify(postData),
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    timeout: 5000,
                    type: 'POST',
                    success: function (result) {
                        if (result.code === 200) {
                            common.showSuccessMsg('操作成功', function () {
                                active['reload'].call(this);
                            });
                        } else {
                            common.showFailMsg('操作失败');
                        }
                    },
                    error: function () {
                        common.showFailMsg('操作失败');
                    }
                });
                layer.close(index);
            });
        }

        table.on('toolbar(tableFilter)',function(obj){
            let data = obj.data,event = obj.event;
            switch (event) {
                case 'showPositiveListDialog':
                    showPositiveListDialog();
                    break;
                case 'deletePositives':
                    deletePositives();
                    break;
                default:
                    break;
            }
        });

        table.on('tool(tableFilter)',function(obj){
            let data = obj.data,event = obj.event;
            switch (event) {
                case 'modifyPositiveList':
                    modifyPositiveList(data);
                    break;
                case 'deletePositiveList':
                    deletePositiveList(data.uuid);
                    break;
                default:
                    break;
            }
        });

    });

</script>
<script type="text/html" id="toDateTime">
    {{#  if(d.createTime){ }}
    {{layui.util.toDateString(d.createTime)}}
    {{#  } }}
</script>

<script type="text/html" id="toolbarTpl">
    <div class="layui-btn-group">
        <@shiro.hasPermission name="/internal/positivelist/savePositiveList">
        <button class="layui-btn layui-btn-sm" id="addMachine" lay-event="showPositiveListDialog">添加</button>
    </@shiro.hasPermission>
    <@shiro.hasPermission name="/internal/positivelist/deletePositiveLists">
    <button class="layui-btn layui-btn-danger layui-btn-sm" id="batchDel" lay-event="deletePositives">
        <i class="layui-icon layui-icon-delete"></i>删除所选
    </button>
    </@shiro.hasPermission>
    </div>
</script>

<script type="text/html" id="operationTpl">
    <div class="layui-btn-group">
        <@shiro.hasPermission name="/internal/positivelist/savePositiveList">
        <button type="button" class="layui-btn layui-btn-xs" lay-event="modifyPositiveList">修改</button>
        </@shiro.hasPermission>
        <@shiro.hasPermission name="/internal/positivelist/deletePositiveList">
        <button type="button" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="deletePositiveList">删除</button>
        </@shiro.hasPermission>
    </div>
</script>
</body>
</html>