<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>清单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <style>
        .layui-btn {
            width: 150px;
        }
    </style>
</head>
<body>
<div class="ok-body">

    <form class="layui-form layui-form-pane ok-form" lay-filter="addWarnList">
        <div class="layui-form-item">
            <label class="layui-form-label">关键词</label>
            <input type="hidden" name="uuid">
            <div class="layui-input-block">
                <input type="text" name="keyword" placeholder="请输入关键词" autocompvare="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
                <input type="text" name="title" placeholder="请输入标题" autocompvare="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">URL</label>
            <div class="layui-input-block">
                <input type="text" name="url" placeholder="请输入URL" autocompvare="off" class="layui-input" lay-verify="url">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">原始URL</label>
            <div class="layui-input-block">
                <input type="text" name="originalUrl" placeholder="请输入原始URL" autocompvare="off" class="layui-input" lay-verify="url">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">熊掌号</label>
            <div class="layui-input-block">
                <input type="text" name="bearPawNumber" placeholder="请输入熊掌号" autocompvare="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排名</label>
            <div class="layui-input-block">
                <input type="text" name="position" placeholder="请输入排名" autocompvare="off" class="layui-input" lay-verify="number">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea name="desc" placeholder="请输入描述" class="layui-textarea" lay-verify="required"></textarea>
            </div>
        </div>
        <div style="position: fixed;bottom: 0;width: 100%;background:#fff;text-align: right;">
            <div style="margin: 0 10px 6px 10px; padding-top: 8px;border-top: solid 1px #e6e6e6">
                <button class="layui-btn" lay-submit lay-filter="commit">确定</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <button class="layui-btn layui-btn-primary" id="close" style="margin-right: 20px">取消</button>
            </div>
        </div>
    </form>
</div>


<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script>

    var uuid_ = null;
    var layui_ = null;

    function initForm(data) {
        uuid_ = data;
        if (layui_ != null) {
            setForm(layui_, uuid_);
        }
    }

    function setForm(l, u) {
        l.jquery.ajax({
            url: '/internal/warnlists/getWarnList/' + u,
            type: 'GET',
            headers: {
                "Accept": 'application/json',
                "Content-Type": 'application/json'
            },
            success: function (res) {
                if (res.code === 200) {
                    layui.form.val("addWarnList", res.data);
                } else {
                    l.layer.msg(res.msg);
                }
            }
        });
    }

    layui.use(["form", "okLayer", "jquery", "layer"], function () {
        var form = layui.form;
        var okLayer = layui.okLayer;
        var $ = layui.jquery;

        if (uuid_ != null) {
            setForm(layui, uuid_);
        } else {
            layui_ = layui;
        }

        form.on("submit(commit)", function (data) {
            $.ajax({
                url: '/internal/warnlists/saveWarnList',
                type: 'POST',
                data: JSON.stringify(data.field),
                headers: {
                    "Accept": 'application/json',
                    "Content-Type": 'application/json'
                },
                success: function (res) {
                    if (res.code === 200) {
                        okLayer.msg.greenTick("保存成功", function () {
                            parent.window.sign = true;
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    } else {
                        layui.layer.msg(res.msg);
                    }
                }
            });
            return false;
        });

        $('#close').click(function () {
            parent.layer.close(parent.layer.getFrameIndex(window.name));
            return false;
        });

        form.verify({
            url: function(value, item){
                if(value != ""){
                    if(value.indexOf(".") == -1){
                        return "请输入正确url"
                    }
                }else{
                    return "url不能为空"
                }
            },
            number: function(value, item){
                if(value != ""){
                    if(!/^[1-9]\d*$/.test(value)){
                        return "请输入大于0的整数排名"
                    }
                }
            }
        });

    })

</script>

</body>
</html>