<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
	default-lazy-init="true">

	<description>Email配置</description>
	
	<!-- MIME邮件服务类 -->
	<bean id="mimeMailService" class="com.keymanager.monitoring.common.email.MimeMailService">
		<property name="mailSender" ref="mailSender" />
		<property name="emailFrom" value="${email.emailFrom}" />
		<property name="freemarkerConfiguration" ref="freemarkerConfiguration" />
	</bean>

	<bean id="complaintsReportMailService" class="com.keymanager.monitoring.common.email.ComplaintsReportMailService">
		<property name="mailSender" ref="complaintsreportmailSender" />
		<property name="emailFrom" value="${complaintsreport.emailFrom}" />
		<property name="toEmail" value="${complaintsreport.toEmail}" />
		<property name="name" value="${complaintsreport.name}" />
		<property name="freemarkerConfiguration" ref="freemarkerConfiguration" />
	</bean>

	<bean id="forgetPasswordMailService" class="com.keymanager.monitoring.common.email.ForgetPasswordMailService">
		<property name="mailSender" ref="forgetpasswordmailSender" />
		<property name="emailFrom" value="${forgetpassword.emailFrom}" />
		<property name="freemarkerConfiguration" ref="freemarkerConfiguration" />
	</bean>

	<bean id="accessWebsiteMailService" class="com.keymanager.monitoring.common.email.AccessWebsiteFailMailService">
		<property name="mailSender" ref="accessWebsiteMailSender" />
		<property name="emailFrom" value="${accessWebsiteFail.emailFrom}" />
		<property name="toEmail" value="${accessWebsiteFail.toEmail}" />
		<property name="freemarkerConfiguration" ref="freemarkerConfiguration" />
	</bean>

	<bean id="observeOptimizationCountMailService" class="com.keymanager.monitoring.common.email.ObserveOptimizationCountMailService">
		<property name="mailSender" ref="observeOptimizationCountMailSender" />
		<property name="emailFrom" value="${email.emailFrom}" />
		<property name="freemarkerConfiguration" ref="freemarkerConfiguration" />
	</bean>

	<!-- 用于生成HTML邮件内容的Freemarker配置 -->
	<bean id="freemarkerConfiguration" class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
		<property name="templateLoaderPath" value="classpath:/template" />
	</bean>

	<!-- 邮件发送器 -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${email.host}" />
		<property name="username" value="${email.username}" />
		<property name="password" value="${email.password}" />
		<property name="defaultEncoding" value="UTF-8"/>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.port">465</prop>
				<prop key="mail.smtp.socketFactory.port">465</prop>
				<prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
				<prop key="mail.smtp.socketFactory.fallback">false</prop>
			</props>
		</property>
	</bean>

	<!-- 投诉邮件发送器 -->
	<bean id="complaintsreportmailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${complaintsreport.host}" />
		<property name="username" value="${complaintsreport.username}" />
		<property name="password" value="${complaintsreport.password}" />
		<property name="defaultEncoding" value="UTF-8"/>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
			</props>
		</property>
	</bean>

	<!-- 忘记密码邮件发送器 -->
	<bean id="forgetpasswordmailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${forgetpassword.host}" />
		<property name="username" value="${forgetpassword.username}" />
		<property name="password" value="${forgetpassword.password}" />
		<property name="defaultEncoding" value="UTF-8"/>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
			</props>
		</property>
	</bean>

	<!-- 访问网站失败邮件发送器 -->
	<bean id="accessWebsiteMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${accessWebsiteFail.host}" />
		<property name="username" value="${accessWebsiteFail.username}" />
		<property name="password" value="${accessWebsiteFail.password}" />
		<property name="defaultEncoding" value="UTF-8"/>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
			</props>
		</property>
	</bean>

	<!-- 观察刷量异常邮件发送器 -->
	<bean id="observeOptimizationCountMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${email.host}" />
		<property name="username" value="${email.username}" />
		<property name="password" value="${email.password}" />
		<property name="defaultEncoding" value="UTF-8"/>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
			</props>
		</property>
	</bean>

	<bean id="smsService" class="com.keymanager.monitoring.common.sms.SmsService">
		<property name="accName" value="${sms.accName}" />
		<property name="accPwd" value="${sms.accPwd}" />
	</bean>
	
</beans>
