<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
	default-lazy-init="true">
	<!-- <bean id="textSentimentSchedule" class="com.opinion.monitoring.schedule.TextSentimentSchedule" /> -->
	<bean id="singleThreadQuartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<!-- Triggers集成 -->
		<property name="triggers">
			<list>
				<ref bean="cronTriggerCacheCustomerKeyword" />
				<ref bean="cronTriggerCacheCrawlRankCustomerKeyword" />
			</list>
		</property>
		<!-- Quartz配置, 本地运行无需单独的quartz.properties文件，在此简单配置即可 -->
		<property name="quartzProperties">
			<props>
				<prop key="org.quartz.threadPool.threadCount">1</prop>
			</props>
		</property>
		<!-- 启动时延期2秒开始任务 -->
		<property name="startupDelay" value="2" />
	</bean>

	<!--缓存关键字信息到队列中-->
	<bean id="cronTriggerCacheCustomerKeyword" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="cronTriggerCacheCustomerKeywordSchedule"/>
		<property name="cronExpression" value="0 0/2 * * * ?" />
	</bean>

	<bean id="cronTriggerCacheCustomerKeywordSchedule" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="cacheCustomerKeywordSchedule" />
		<property name="targetMethod" value="runTask" />
		<property name="concurrent" value="false" />
	</bean>

	<!--缓存需抓取排名的关键字信息到队列中-->
	<bean id="cronTriggerCacheCrawlRankCustomerKeyword" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="cronTriggerCacheCheckingEnteredCustomerKeywordSchedule"/>
		<property name="cronExpression" value="0 0/3 * * * ?" />
	</bean>

	<bean id="cronTriggerCacheCheckingEnteredCustomerKeywordSchedule" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="cacheCrawlRankCustomerKeywordSchedule" />
		<property name="targetMethod" value="runTask" />
		<property name="concurrent" value="false" />
	</bean>

</beans>