<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>关键字管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/static/style/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/ok-admin/css/okadmin-v2.css"/>
    <style>
        .layui-inline {
            margin-top: 6px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin okadmin">
    <!--头部导航-->
    <!--    <div class="layui-header okadmin-header">-->
    <!--        <ul class="layui-nav layui-layout-left">-->
    <!--            <li class="layui-nav-item">-->
<!--                    <a class="ok-menu ok-show-menu" href="javascript:;" title="菜单切换">-->
<!--                        <i class="layui-icon layui-icon-shrink-right" id="ok_app_menu"></i>-->
<!--                    </a>-->
    <!--            </li>-->
    <!--            <li class="layui-nav-item">-->
    <!--                <a class="ok-refresh" href="javascript:;" title="刷新">-->
    <!--                    <i class="layui-icon layui-icon-refresh-3"></i>-->
    <!--                </a>-->
    <!--            </li>-->
    <!--            <li class="layui-nav-item ok-input-search">-->
    <!--                <input type="text" placeholder="搜索..." class="layui-input layui-input-search"/>-->
    <!--            </li>-->
    <!--            <li class="ok-nav-item ok-hide-md">-->

    <!--                &lt;!&ndash;<div id="tp-weather-widget"></div>&ndash;&gt;-->
    <!--            </li>-->
    <!--        </ul>-->
    <!--        <ul class="layui-nav layui-layout-right">-->
    <!--            <li class="no-line layui-nav-item">-->
    <!--                <a href="javascript:;">-->
    <!--                    <@shiro.principal property="name"/>-->
    <!--                </a>-->
    <!--                <dl id="userInfo" class="layui-nav-child">-->
    <!--&lt;!&ndash;                    <dd><a lay-id="u-1" href="javascript:;">个人中心<span&ndash;&gt;-->
    <!--&lt;!&ndash;                            class="layui-badge-dot"></span></a></dd>&ndash;&gt;-->
    <!--                    <dd><a href="javascript:void(0)" id="logout">退出登录</a></dd>-->
    <!--                </dl>-->
    <!--            </li>-->
    <!--        </ul>-->
    <!--    </div>-->
    <!--遮罩层-->
    <div class="ok-make"></div>
    <!--左侧导航区域-->
    <div class="layui-side layui-side-menu okadmin-bg-20222A ok-left">
        <div class="layui-side-scroll okadmin-side">
            <div class="okadmin-logo">关键字管理系统</div>
            <!--<div class="user-photo">
                <a class="img" title="我的头像">
                    <img src="${ctx.basePath}/static/ok-admin/images/head.png" class="userAvatar">
                </a>
                <p>你好！<span class="userName">  <@shiro.principal property="name"/></span>, 欢迎登录</p>
            </div>-->
            <!--左侧导航菜单-->
            <ul id="navBar" class="layui-nav okadmin-nav okadmin-bg-20222A layui-nav-tree">
            </ul>
        </div>
    </div>

    <!-- 内容主体区域 -->
    <div class="content-body">
        <div class="layui-tab ok-tab" id="mainnav" lay-filter="ok-tab" lay-allowClose="true" lay-unauto>
            <div class="layui-icon okadmin-tabs-control ok-right-nav-menu">
                <a class="ok-menu ok-show-menu" href="javascript:;" style="width: 40px;height: 40px;display: inline-block" title="菜单切换">
                    <i class="layui-icon layui-icon-shrink-right" id="ok_app_menu"></i>
                </a>
            </div>
            <div data-id="left" id="okLeftMove" class="layui-icon okadmin-tabs-control layui-icon-prev okNavMove" style="left: 40px;"></div>
<!--            <div class="layui-icon okadmin-tabs-control ok-right-nav-menu" style="right: 120px;">-->
<!--                <a href="javascript:void(0)" id="logout" title="退出">-->
<!--                    <i class="exit-icon"></i>-->
<!--                </a>-->
<!--            </div>-->
            <div data-id="right" id="okRightMove" class="layui-icon okadmin-tabs-control layui-icon-next okNavMove" style="right: 180px;"></div>
            <div class="layui-icon okadmin-tabs-control ok-right-nav-menu" style="right: 140px;">
                <ul class="okadmin-nav">
                    <li class="no-line okadmin-nav-item">
                        <div class="okadmin-link layui-icon-down" href="javascript:;"></div>
                        <dl id="tabAction" class="okadmin-nav-child layui-anim-upbit layui-anim">
                            <dd><a data-num="1" href="javascript:;">关闭当前标签页</a></dd>
                            <dd><a data-num="2" href="javascript:;">关闭其他标签页</a></dd>
                            <dd><a data-num="3" href="javascript:;">关闭所有标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-icon okadmin-tabs-control ok-right-nav-menu" style="right: 100px;">
                <a id="ok-refresh" class="ok-refresh" href="javascript:;" style="width: 40px;line-height: 40px;display: inline-block" title="刷新">
                    <i class="layui-icon layui-icon-refresh-3"></i>
                </a>
            </div>
            <div class="layui-icon okadmin-tabs-control ok-right-nav-menu" style="right: 0;width: 100px;">
                <ul class="okadmin-nav">
                    <li class="no-line okadmin-nav-item">
                        <div class="okadmin-link ">
                            <@shiro.principal property="name"/>
                        </div>
                        <dl class="okadmin-nav-child layui-anim-upbit layui-anim" style="right: -10px">
                            <@shiro.hasPermission name="/internal/config/evictAllConfigCache">
                            <dd><a onclick="clearConfigCache()" href="javascript:;" style="width: 100px">清理Config</a></dd>
                            </@shiro.hasPermission>
                            <@shiro.hasPermission name="/internal/negativelist/evictAllNegativeListCache">
                            <dd><a onclick="clearNegativeListCache()" href="javascript:;" href="/internal/negativelists/evictAllNegativeListCache" style="width: 100px">清理负面清单</a></dd>
                            </@shiro.hasPermission>
                            <dd><a href="javascript:openUpdPasswordWindow();" style="width: 100px">修改密码</a></dd>
                            <dd><a id="logout" href="javascript:;" style="width: 100px">退出登录</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <ul class="layui-tab-title ok-tab-title not-scroll">
                <li class="layui-this" lay-id="1-1" >
                    <strong style="display: none;" is-close="true" lay-id="keywordCount" data-url="/internal/customerKeyword/toKeywords"></strong>
                    <i class="ok-icon ok-iconairplay"></i>
                    <cite>关键字统计</cite>
                </li>
            </ul>
            <div class="layui-tab-content ok-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe src='/internal/customerKeyword/toKeywords' frameborder="0" scrolling="yes" width="100%" height="90%"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<!--js逻辑-->
<script src="/static/ok-admin/lib/layui/layui.js"></script>
<script src="/static/ok-admin/js/okadmin.js"></script>
<script src="/static/ok-admin/js/somePublic.js"></script>
<script>
    layui.use(['jquery', 'common', 'layer'], function () {
        let $ = layui.jquery;
        let common = layui.common;
        let layer = layui.layer;

        window.clearConfigCache = function () {
            $.ajax({
                url: '/internal/configs/evictAllConfigCache',
                type: 'GET',
                dataType: 'json',
                success: function (res) {
                    if (res.code === 200) {
                        common.showSuccessMsg("清理成功", function () {
                        });
                    } else {
                        common.showFailMsg("清理失败");
                    }
                },
                error: function () {
                    common.showFailMsg("网络错误请稍后再试");
                }
            });
        };

        window.clearNegativeListCache = function () {
            $.ajax({
                url: '/internal/negativelists/evictAllNegativeListCache',
                type: 'GET',
                dataType: 'json',
                success: function (res) {
                    if (res.code === 200) {
                        common.showSuccessMsg("清理成功", function () {
                        });
                    } else {
                        common.showFailMsg("清理失败");
                    }
                },
                error: function () {
                    common.showFailMsg("网络错误请稍后再试");
                }
            });
        };

        let html = '<div style="width: 100%;margin-top: 10px;text-align: center">'
            + '                <div class="layui-inline" style="width: 100px;line-height: 34px;text-align: right">登录名：</div>'
            + '                <div class="layui-inline">'
            + '                    <div class="layui-input-inline" style="width: 260px">'
            + '                        <input style="height: 34px" type="text" disabled autocomplete="off" class="layui-input" value="<@shiro.principal property="loginName"/>">'
            + '                    </div>'
            + '                </div>'
            + '                <div class="layui-inline" style="width: 100px;line-height: 34px;text-align: right">原密码：</div>'
            + '                <div class="layui-inline">'
            + '                    <div class="layui-input-inline" style="width: 260px">'
            + '                        <input style="height: 34px" type="password" id="oldPassword" placeholder="请输入原密码" autocomplete="off" class="layui-input">'
            + '                    </div>'
            + '                </div>'
            + '                <div class="layui-inline" style="width: 100px;line-height: 34px;text-align: right">新密码：</div>'
            + '                <div class="layui-inline">'
            + '                    <div class="layui-input-inline" style="width: 260px">'
            + '                        <input style="height: 34px" type="password" id="newPassword" placeholder="请输入新密码" autocomplete="off" class="layui-input">'
            + '                    </div>'
            + '                </div>'
            + '                <div class="layui-inline" style="width: 100px;line-height: 34px;text-align: right">确认密码：</div>'
            + '                <div class="layui-inline">'
            + '                    <div class="layui-input-inline" style="width: 260px">'
            + '                        <input style="height: 34px" type="password" id="againPassword" placeholder="请输入确认密码" autocomplete="off" class="layui-input">'
            + '                    </div>'
            + '                </div>'
            + '            </div>';

        window.openUpdPasswordWindow = function () {
            layer.open({
                type: 1,
                title: '修改密码',
                content: html,
                shadeClose: true,
                resize: false,
                area: '400px',
                offset: '80px',
                btn: ['确定', ['取消']],
                yes: function (index) {
                    let oldPwd = document.getElementById('oldPassword').value;
                    let newPwd = document.getElementById('newPassword').value;
                    let againPwd = document.getElementById('againPassword').value;
                    let msg = new FormData();
                    if (oldPwd) {
                        msg.append('oldPwd', oldPwd);
                    } else {
                        layui.layer.msg("原密码不能为空", {icon: 5, anim: 5, time: 1000, isOutAnim: false});
                        return false;
                    }
                    if (!newPwd) {
                        layui.layer.msg("新密码不能为空", {icon: 5, anim: 5, time: 1000, isOutAnim: false});
                        return false;
                    }
                    if (!againPwd) {
                        layui.layer.msg("确认密码不能为空", {icon: 5, anim: 5, time: 1000, isOutAnim: false});
                        return false;
                    }
                    if (oldPwd === newPwd) {
                        layui.layer.msg("新旧密码必须不一致", {icon: 5, anim: 5, time: 1000, isOutAnim: false});
                        return false;
                    }
                    if (newPwd === againPwd) {
                        msg.append('pwd', newPwd);
                    } else {
                        layui.layer.msg("两次密码不一致", {icon: 5, anim: 5, time: 1000, isOutAnim: false});
                        return false;
                    }
                    layer.confirm('确认修改密码吗？', {offset: '120px'}, function (_index) {
                        $.ajax({
                            url: '/user/editUserPwd',
                            type: 'post',
                            data: msg,
                            cache: false,
                            async: false,
                            processData: false,
                            contentType: false,
                            dataType: 'json',
                            success: function (res) {
                                if (res.success) {
                                    layer.close(index);
                                    layer.close(_index);
                                    $.post('/logout', function (result) {
                                        if (result.success) {
                                            window.location.href = '/login';
                                        }
                                    }, 'json');
                                } else {
                                    layui.layer.msg(res.msg, {icon: 5, anim: 5, time: 1000, isOutAnim: false});
                                }
                            },
                            error: function () {
                                layui.layer.msg("网络错误请稍后再试", {icon: 5, anim: 5, time: 1000, isOutAnim: false});
                            }
                        });
                    });
                },
                btn2: function (index) {
                    layer.close(index);
                }
            });
        };
    });
</script>
</body>
</html>
