<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>关键字列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.css">
    <link rel="stylesheet" href="/static/ok-admin/page/base/searchForm.css">
    <link rel="stylesheet" href="/static/ok-admin/page/keyword/customerKeyword.css">
    <style>
        .layui-tab-content {
            padding: 0px;
        }
        .layui-card-body {
            position: relative;
            padding: 0px;
            line-height: 24px;
        }
        .layui-table, .layui-table-view {
            margin: 0px;
            border-width: 0px;
        }
        .my-collapse > div:first-child {
            background: #f2f2f2;
            border: 0px;
        }

        .layui-table-tool {
            min-height: 30px;
            padding: 0 5px 7px 5px;
        }

        .layui-table-tool-self{
            top: 0;
        }

        .one-special .layui-form-checkbox{
            margin: 0 !important;
        }

        .layui-table-body .laytable-cell-1-0-14, .layui-table-body .laytable-cell-6-0-14, .layui-table-body .laytable-cell-11-0-14,
        .layui-table-body .laytable-cell-2-0-14, .layui-table-body .laytable-cell-7-0-14, .layui-table-body .laytable-cell-12-0-14,
        .layui-table-body .laytable-cell-3-0-14, .layui-table-body .laytable-cell-8-0-14, .layui-table-body .laytable-cell-13-0-14,
        .layui-table-body .laytable-cell-4-0-14, .layui-table-body .laytable-cell-9-0-14, .layui-table-body .laytable-cell-14-0-14,
        .layui-table-body .laytable-cell-5-0-14, .layui-table-body .laytable-cell-10-0-14, .layui-table-body .laytable-cell-15-0-14 {
            padding: 0 9px !important;
        }

        .update-qz-from{
            margin: 10px;
        }


        .update-qz-from .layui-input-block input{
            height: 38px !important;
            line-height: 38px !important;
        }

        .update-qz-from dl {
            padding: 0 !important;
            max-height: 340px !important;
        }
    </style>
</head>
<body>
<div class="ok-body">
    <div class="layui-tab layui-tab-card" lay-filter="keywordTab">
        <ul class="layui-tab-title" id="tabItem">

        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <!--模糊搜索区域-->
                <div class="layui-card ">
                    <div class="layui-card-body ">
                        <form class="layui-form layui-form-pane" id="searchForm">
                            <input type="hidden" value="<#if customerUuid?exists>${customerUuid}</#if>" id="customerUuid" name="customerUuid">
                            <div class="my-collapse">
                                <div>
                                    <input type="hidden" name="type" id="type" value="<#if businessType?exists>${businessType}<#else>pt</#if>">
                                    <input type="hidden" name="terminalType" id="terminalType" value="<#if terminalType2?exists>${terminalType2}<#else>PC</#if>">

                                    <div class="layui-inline" style="width: 100px">
                                        <select name="searchEngine" id="searchEngine">
                                            <option value=''>搜索引擎</option>
                                        </select>
                                    </div>
                                    <div class="layui-inline" style="width: 180px;display: none">
                                        <select name="qzUuid" id="qzUuid">
                                            <option value=''>请选择整站</option>
                                            <option value='-1'>未关联整站数据</option>
                                        </select>
                                    </div>
                                    <div class="layui-inline" style="width: 130px">
                                        <input type="text" name="keyword" id="keyword" placeholder="请输入关键字" class="layui-input"
                                               onkeyup="this.value = this.value.replace(/^(\s|\u00A0)+/,'').replace(/(\s|\u00A0)+$/,'');" />
                                    </div>
                                    <div class="layui-inline" style="width: 130px">
                                        <input type="text" name="optimizeGroupName" id="optimizeGroupName" placeholder="请输入优化组名" autocomplete="off"
                                               value="<#if group?exists>${group}</#if>" class="layui-input layui-input-text"
                                               onkeyup="this.value = this.value.replace(/^(\s|\u00A0)+/,'').replace(/(\s|\u00A0)+$/,'');" />
                                    </div>
                                    <div class="layui-inline one-special">
                                        <input type="checkbox" name="optimizeGroupNameLike" value="on" title="模糊搜索">
                                    </div>
                                    <div class="layui-inline" style="width: 130px">
                                        <input type="text" name="url" id="url" placeholder="请输入域名" autocomplete="off" class="layui-input"
                                               onkeyup="this.value = this.value.replace(/^(\s|\u00A0)+/,'').replace(/(\s|\u00A0)+$/,'');" />
                                    </div>
                                    <div class="layui-inline" style="width: 135px">
                                        排名
                                        <div class="layui-input-inline" style="width: 50px;">
                                            <input type="number" name="gtPosition" placeholder=">=" autocomplete="off" class="layui-input"
                                                   onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');">
                                        </div>
                                        <div class="layui-input-inline" style="width: 50px;">
                                            <input type="number" name="ltPosition" placeholder="<=" autocomplete="off" class="layui-input"
                                                   onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');">
                                        </div>
                                    </div>
                                    <div class="layui-inline" style="width: 120px">
                                        <div class="layui-input-inline">
                                            <select name="status" id="status">
                                                <option value=''>关键字状态</option>
                                                <option value='1' id="activeStatus">激活</option>
                                                <option value='2'>新增</option>
                                                <option value='0' id="stopStatus">暂不操作</option>
                                                <option value='3'>下架</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline" style="width: 120px">
                                        <div class="layui-input-inline">
                                            <select name="customerKeywordSource" id="customerKeywordSource">
                                                <option value="">关键字来源</option>
                                                <option value="Capture">机器采集词</option>
                                                <option value="Excel">表格上传词</option>
                                                <option value="UI">页面添加词</option>
                                                <option value="Plugin">插件添加词</option>
                                                <option value="Specify" id="showSource">全站指定词</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <div class="layui-input-inline">
                                            <input type="checkbox" name="noPosition" title="显示排名为0" lay-skin="primary">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <button class="layui-btn" lay-submit="" lay-filter="search" id="searchBtn">搜索</button>
                                    </div>
                                    <div class="layui-inline">
                                        <div class="layui-collapse my-btn" onclick="showCondition()">更多条件</div>
                                    </div>
                                    <div class="layui-inline">
                                        <button style="background: #897c00;color: #ffffff" class="layui-btn" type="reset" id="resetBtn">
                                            重置
                                        </button>
                                    </div>
                                </div>
                                <div class="my-hide" id="searchContent">

                                    <div class="layui-form-item" lay-filter="loginNameFilter">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">机器分组</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="machineGroup" id="machineGroup" placeholder="请输入机器分组" autocomplete="off"
                                                       class="layui-input layui-input-text "
                                                       onkeyup="this.value = this.value.replace(/^(\s|\u00A0)+/,'').replace(/(\s|\u00A0)+$/,'');" />
                                            </div>
                                        </div>

                                        <div class="layui-inline">
                                            <label class="layui-form-label">熊掌号</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="bearPawNumber" id="bearPawNumber" placeholder="请输入熊掌号" autocomplete="off" class="layui-input"
                                                       onkeyup="this.value = this.value.replace(/^(\s|\u00A0)+/,'').replace(/(\s|\u00A0)+$/,'');" />
                                            </div>
                                        </div>

                                        <div class="layui-inline">
                                            <label class="layui-form-label">关键字备注</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="remarks" id="remarks" placeholder="请输入关键字备注" autocomplete="off" class="layui-input"
                                                       onkeyup="this.value = this.value.replace(/^(\s|\u00A0)+/,'').replace(/(\s|\u00A0)+$/,'');" />
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">失败原因</label>
                                            <div class="layui-input-inline">
                                                <select name="failedCause" id="failedCause">
                                                    <option value="" selected="selected">失败原因</option>
                                                    <option value="爬取中">爬取中</option>
                                                    <option value="关键字未收录">关键字未收录</option>
                                                    <option value="标题无法操作">标题无法操作</option>
                                                    <option value="关键字无此标题">关键字无此标题</option>
                                                    <option value="熊掌号错误">熊掌号错误</option>
                                                    <option value="熊掌号缺失">熊掌号缺失</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">要刷数量范围</label>
                                            <div class="layui-input-inline" style="width: 90.5px;">
                                                <input type="number" name="gtOptimizePlanCount" placeholder=">=" autocomplete="off" class="layui-input"
                                                       onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');" />
                                            </div>
                                            <div class="layui-input-inline" style="width: 90.5px;">
                                                <input type="number" name="ltOptimizePlanCount" placeholder="<=" autocomplete="off" class="layui-input"
                                                       onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');" />
                                            </div>
                                        </div>

                                        <div class="layui-inline">
                                            <label class="layui-form-label">已刷数量范围</label>
                                            <div class="layui-input-inline" style="width: 90.5px;">
                                                <input type="number" name="gtOptimizedCount" placeholder=">=" autocomplete="off" class="layui-input"
                                                       onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');" />
                                            </div>
                                            <div class="layui-input-inline" style="width: 90.5px;">
                                                <input type="number" name="ltOptimizedCount" placeholder="<=" autocomplete="off" class="layui-input"
                                                       onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');" />
                                            </div>
                                        </div>

                                        <div class="layui-inline">
                                            <label class="layui-form-label">指数范围</label>
                                            <div class="layui-input-inline" style="width: 90.5px;">
                                                <input type="number" name="gtCurrentIndexCount" placeholder=">=" autocomplete="off" class="layui-input"
                                                       onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');" />
                                            </div>
                                            <div class="layui-input-inline" style="width: 90.5px;">
                                                <input type="number" name="ltCurrentIndexCount" placeholder="<=" autocomplete="off" class="layui-input"
                                                       onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');" />
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">是否有标题</label>
                                            <div class="layui-input-inline">
                                                <select name="titleFlag" id="titleFlag">
                                                    <option value=''>请选择</option>
                                                    <option value='2'>有标题</option>
                                                    <option value='1'>无标题</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">无效点击数</label>
                                            <div class="layui-input-inline">
                                                <input type="number" name="invalidRefreshCount" id="invalidRefreshCount" placeholder="请输入无效点击数" autocomplete="off"
                                                       onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');"
                                                       class="layui-input" />
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">关键词作用</label>
                                            <div class="layui-input-inline">
                                                <select name="keywordEffect" id="keywordEffect">
                                                    <option value="">全部</option>
                                                    <option value="Common">一般词</option>
                                                    <option value="Curve">曲线词</option>
                                                    <option value="Appointment">指定词</option>
                                                    <option value="Present">赠送词</option>
                                                    <option value="Important">重点词</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--数据表格-->
                <table class="layui-hide" id="keywordTable" lay-filter="tableFilter"></table>
            </div>
        </div>
    </div>
</div>
<!--js逻辑-->
<script src="/static/ok-admin/lib/layui/layui.js"></script>
<script src="/static/ok-admin/lib/nprogress/nprogress.js"></script>
<script src="/static/ok-admin/js/somePublic.js"></script>
<script>
    let qzBusiness = '<#if businessType?exists>${businessType}</#if>';
    let searchEngine = '<#if searchEngine?exists>${searchEngine}</#if>';
    let qzUuid = '<#if qzUuid?exists>${qzUuid}</#if>';

    function if_from_qz(l) {
        let status = '<#if status?exists>${status}</#if>';
        if (status === '1') {
            document.getElementById("activeStatus").setAttribute('selected', '');
        } else if (status === '0') {
            document.getElementById("stopStatus").setAttribute('selected', '');
        }
        l.form.render('select');
    }
</script>
<script src="/static/ok-admin/page/keyword/customerKeyword.js"></script>
<#include "./customerKeywordTpl.html"/>
<form id="downloadKeywordForm" hidden lay-filter="downloadKeywordForm" method="post" action="/internal/customerKeyword/downloadCustomerKeywordInfo2">
    <input type="hidden"  name="qzUuid" id="qzUuidHidden" value=""/>
    <input type="hidden"  name="customerUuid" id="customerUuidHidden" value=""/>
    <input type="hidden"  name="type" id="typeHidden" value=""/>
    <input type="hidden"  name="terminalType" id="terminalTypeHidden" value=""/>
    <input type="hidden"  name="keyword" id="keywordHidden" value=""/>
    <input type="hidden"  name="url" id="urlHidden" value=""/>
    <input type="hidden"  name="bearPawNumber" id="bearPawNumberHidden" value=""/>
    <input type="hidden"  name="optimizeGroupName" id="optimizeGroupNameHidden" value=""/>
    <input type="hidden"  name="status" id="statusHidden" value=""/>
    <input type="hidden"  name="machineGroup" id="machineGroupHidden" value=""/>
    <input type="hidden"  name="customerKeywordSource" id="customerKeywordSourceHidden" value=""/>
    <input type="hidden"  name="remarks" id="remarksHidden" value=""/>
    <input type="hidden"  name="failedCause" id="failedCauseHidden" value=""/>
    <input type="hidden"  name="gtOptimizePlanCount" id="gtOptimizePlanCountHidden" value=""/>
    <input type="hidden"  name="ltOptimizePlanCount" id="ltOptimizePlanCountHidden" value=""/>
    <input type="hidden"  name="gtOptimizedCount" id="gtOptimizedCountHidden" value=""/>
    <input type="hidden"  name="ltOptimizedCount" id="ltOptimizedCountHidden" value=""/>
    <input type="hidden"  name="gtPosition" id="gtPositionHidden" value=""/>
    <input type="hidden"  name="ltPosition" id="ltPositionHidden" value=""/>
    <input type="hidden"  name="gtCurrentIndexCount" id="gtCurrentIndexCountHidden" value=""/>
    <input type="hidden"  name="ltCurrentIndexCount" id="ltCurrentIndexCountHidden" value=""/>
    <input type="hidden"  name="titleFlag" id="titleFlagHidden" value=""/>
    <input type="hidden"  name="invalidRefreshCount" id="invalidRefreshCountHidden" value=""/>
    <input type="hidden"  name="searchEngine" id="searchEngineHidden" value=""/>
    <input type="hidden"  name="keywordEffect" id="keywordEffectHidden" value=""/>
    <input type="hidden"  name="noPosition" id="noPositionHidden" value=""/>
    <input type="hidden"  name="qzSetting" id="qzSettingHidden" value=""/>

</form>
</body>
<form action="/internal/customerKeyword/keywordUrlExport2" method="post" id="keywordUrlForm">
    <input type="hidden" id="customerUuidKU" name="customerUuid"  value=""/>
    <input type="hidden" id="terminalTypeKU" name="terminalType" hidden value=""/>
</form>

</html>
