<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/static/ok-admin/css/sub-page.css">
    <style>
        .layui-col-md6 {
            height: 43px;
        }

        .layui-form-select dl {
            max-height: 200px;
        }
    </style>
</head>
<div>
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form" lay-filter="saveKeyword">
        <div class="ok-body">
            <div class="layui-row">
                <div class="layui-col-md12">
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 100%"><h3>基本信息</h3></label>
                    </div>
                </div>

                <div class="layui-col-md12"  >
                    <div class="layui-form-item">
                        <label class="layui-form-label">标题</label>
                        <div class="layui-input-block" onclick="checkItem(this)">
                            <input type="text" name="title" id="title" placeholder="请输入标题" autocomplete="off" class="layui-input"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">域名</label>
                        <div class="layui-input-block" onclick="checkItem(this)">
                            <input type="text" name="url" id="url" placeholder="" autocomplete="off" class="layui-input" lay-verify="domain"/>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">原始域名</label>
                        <div class="layui-input-block" onclick="checkItem(this)" >
                            <input type="text" name="originalUrl" id="originalUrl" placeholder="" autocomplete="off" class="layui-input"/>
                        </div>
                    </div>
                </div>

            </div>
            <div class="layui-row">
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">熊掌号</label>
                        <div class="layui-input-block" onclick="checkItem(this)">
                            <input type="text" name="bearPawNumber" id="bearPawNumber" placeholder="" autocomplete="off" class="layui-input"/>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">目标城市</label>
                        <div class="layui-input-block" onclick="checkItem(this)">
                            <input type="text" name="city" id="city" placeholder="" autocomplete="off" class="layui-input"/>
                        </div>
                    </div>
                </div>

            </div>

            <div class="layui-row">
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">优化组</label>
                        <div class="layui-input-block" onclick="checkItem(this)">
                            <input type="text" name="optimizeGroupName" id="optimizeGroupName" placeholder="" autocomplete="off" class="layui-input"/>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">机器分组</label>
                        <div class="layui-input-block" onclick="checkItem(this)">
                            <input type="text" name="machineGroup" id="machineGroup" placeholder="" autocomplete="off" value="" class="layui-input"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">指数</label>
                        <div class="layui-input-block" onclick="checkItem(this)">
                            <input type="number" name="initialIndexCount" id="initialIndexCount" placeholder="" autocomplete="off" class="layui-input" lay-verify="index"/>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">排名</label>
                        <div class="layui-input-block" onclick="checkItem(this)">
                            <input type="number" name="initialPosition" id="initialPosition" placeholder="" autocomplete="off" class="layui-input" lay-verify="positiveInteger"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row">

                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">搜索引擎</label>
                        <div class="layui-input-block" onclick="checkItem(this)">
                            <select name="searchEngine" id="searchEngine">

                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">排序</label>
                        <div class="layui-input-block" onclick="checkItem(this)">
                            <input type="number" name="sequence" id="sequence" placeholder="" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12" >
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 100%"><h3>收费信息</h3></label>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6" >
                    <div class="layui-form-item">
                        <label class="layui-form-label">第一报价</label>
                        <div class="layui-input-block" onclick="checkItem(this)" >
                            <input type="number" name="positionFirstFee" id="positionFirstFee" placeholder="" autocomplete="off" class="layui-input"
                                   lay-verify="positiveInteger" oninput="getFirstFee(this.value)"/>
                        </div>
                    </div>
                </div>

                <div class="layui-col-md6" >
                    <div class="layui-form-item">
                        <label class="layui-form-label">第五报价</label>
                        <div class="layui-input-block" >
                            <input type="number" name="positionFifthFee" id="positionFifthFee" placeholder="" autocomplete="off" class="layui-input" lay-verify="positiveInteger"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md6" >
                    <div class="layui-form-item">
                        <label class="layui-form-label">第二报价</label>
                        <div class="layui-input-block" >
                            <input type="number" name="positionSecondFee" id="positionSecondFee" placeholder="" autocomplete="off" class="layui-input" lay-verify="positiveInteger"/>
                        </div>
                    </div>
                </div>

                <div class="layui-col-md6" >
                    <div class="layui-form-item">
                        <label class="layui-form-label">首页报价</label>
                        <div class="layui-input-block" onclick="checkItem(this)" >
                            <input type="number" name="positionFirstPageFee" id="positionFirstPageFee" placeholder="" autocomplete="off" class="layui-input" lay-verify="positiveInteger"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">第三报价</label>
                        <div class="layui-input-block" >
                            <input type="number" name="positionThirdFee" id="positionThirdFee" placeholder="" autocomplete="off" class="layui-input" lay-verify="positiveInteger"/>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6" >
                    <div class="layui-form-item">
                        <label class="layui-form-label">收费状态</label>
                        <div class="layui-input-block" onclick="checkItem(this)" >
                            <select name="paymentStatus" id="paymentStatus">
                                <option value="0">请选择收费状态</option>
                                <option value="1">担保中</option>
                                <option value="2">已付费</option>
                                <option value="3">未担保</option>
                                <option value="4">跑路</option>
                            </select>&nbsp;
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row">
                <div class="layui-col-md6" >
                    <div class="layui-form-item">
                        <label class="layui-form-label">第四报价</label>
                        <div class="layui-input-block" onclick="checkItem(this)" >
                            <input type="number" name="positionForthFee" id="positionForthFee" placeholder="" autocomplete="off" class="layui-input"
                                   lay-verify="positiveInteger" oninput="getForthFee(this.value)"/>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6" >
                    <div class="layui-form-item">
                        <label class="layui-form-label">收费方式</label>
                        <div class="layui-input-block" onclick="checkItem(this)" >
                            <select name="collectMethod" id="collectMethod" >
                                <option value="PerMonth" selected>按月</option>
                                <option value="PerTenDay">十天</option>
                                <option value="PerSevenDay">七天</option>
                                <option value="PerDay">按天</option>
                            </select>&nbsp;
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form-item layui-form-text" >
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block" onclick="checkItem(this)" >
                    <textarea name="remarks" id="remarks" placeholder="" class="layui-textarea" ></textarea>
                </div>
            </div>

        </div>
        <div style="position: fixed;bottom: 0;width: 100%;background:#fff;text-align: right;">
            <div style="margin: 0 10px 6px 10px; padding-top: 8px;border-top: solid 1px #e6e6e6">
                <button class="layui-btn" lay-submit lay-filter="save">确定</button>
                <button class="layui-btn layui-btn-primary" id="close" style="margin-right: 20px">
                    取消
                </button>
            </div>
        </div>
    </form>
</div>
<!--js逻辑-->

<script src="/static/ok-admin/lib/layui/layui.js"></script>

<script>

    var baseData = null;

    function initForm(data) {
        baseData = data;
    }

    layui.use(["form", "jquery", "layer", 'common'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let common = layui.common;

        document.onkeydown=function(e){
            var isie = !!(document.all);
            var key;
            var ev;
            if(isie){//IE浏览器
                key = window.event.keyCode;
                ev = window.event;
            }else{//火狐浏览器
                key = e.which;
                ev = e;
            }
            if(key===9){//IE浏览器
                common.showFailMsg("请不要使用tab键切换输入框！");
                e.target.focus();
                if(isie){
                    ev.keyCode=0;
                    ev.returnValue=false;
                }else{//火狐浏览器
                    ev.which=0;
                    ev.preventDefault();
                }
            }
        };
        init_searchEngine();

        function init_searchEngine () {
            $.ajax({
                url: '/internal/common/getSearchEngines',
                dataType: 'json',
                type: 'post',
                async: false,
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify({'terminalType': 'All'}),
                success: function (data) {
                    $("#searchEngine").empty();
                    $.each(data.data, function (index, item) {
                        $('#searchEngine').append(
                            '<option value="' + item + '">' + item + '</option>');// 下拉菜单里添加元素
                    });
                    $("#searchEngine").val('百度');
                    form.render("select");
                }
            });
        }

        window.getFirstFee = function(val) {
            $('#positionSecondFee').val(val)
            $('#positionThirdFee').val(val)
        }

        window.getForthFee = function (val) {
            $('#positionFifthFee').val(val)
        }

        window.checkItem = function (self) {
            var id = $(self).children()[0].id
            if(id == 'positionFirstFee'){
                var secColor = $($($('#positionSecondFee').parent()).siblings()[0]).css("color")
                if(secColor === "rgb(0, 0, 0)") {
                    $($($('#positionSecondFee').parent()).siblings()[0]).css("color", "red");
                } else {
                    $($($('#positionSecondFee').parent()).siblings()[0]).css("color", "black");
                }
                var thdColor = $($($('#positionThirdFee').parent()).siblings()[0]).css("color")
                if(thdColor === "rgb(0, 0, 0)") {
                    $($($('#positionThirdFee').parent()).siblings()[0]).css("color", "red");
                } else {
                    $($($('#positionThirdFee').parent()).siblings()[0]).css("color", "black");
                }
            }
            if(id == 'positionForthFee'){
                var fifColor = $($($('#positionFifthFee').parent()).siblings()[0]).css("color")
                if(fifColor === "rgb(0, 0, 0)") {
                    $($($('#positionFifthFee').parent()).siblings()[0]).css("color", "red");
                } else {
                    $($($('#positionFifthFee').parent()).siblings()[0]).css("color", "black");
                }
            }
            var color = $($(self).siblings()[0]).css("color");
            if(color === "rgb(0, 0, 0)") {
                $($(self).siblings()[0]).css("color", "red");
            } else {
                $($(self).siblings()[0]).css("color", "black");
            }
        };

        function isChecked(id) {
            var color =  $($('#'+id).parent().siblings()[0]).css("color");
            if(color === "rgb(255, 0, 0)") {
                return "1";
            } else {
                return "0";
            }
        }

        form.on("submit(save)", function (data) {
            var postData = {};
            postData.uuids = baseData.uuids;
            postData.keywordValues = data.field;
            let keywordChecks = {};
            for (var key in data.field) {
                keywordChecks[key] = isChecked(key)

            }
            postData.keywordChecks = keywordChecks;
            $.ajax({
                url: '/internal/customerKeyword/batchUpdateKeywords2',
                type: 'post',
                data: JSON.stringify(postData),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                success: function (res) {
                    if (res.code === 200) {
                        common.showSuccessMsg("保存成功", function () {
                            parent.window.sign = true;
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    } else {
                        common.showFailMsg(res.msg);
                    }
                }
            });
            return false;
        });

        $('#close').click(function () {
            parent.layer.close(parent.layer.getFrameIndex(window.name));
            return false;
        });

        form.verify({
            domain: [
                /^([\u4e00-\u9fa50-9]+|[a-z0-9]+)\.([\u4e00-\u9fa5]+|[a-z]+|ac.cn|bj.cn|sh.cn|tj.cn|cq.cn|he.cn|sn.cn|sx.cn|nm.cn|ln.cn|jl.cn|hl.cn|js.cn|zj.cn|ah.cn|fj.cn|jx.cn|sd.cn|ha.cn|hb.cn|hn.cn|gd.cn|gx.cn|hi.cn|sc.cn|gz.cn|yn.cn|gs.cn|qh.cn|nx.cn|xj.cn|tw.cn|hk.cn|mo.cn|xz.cn|com.cn|net.cn|org.cn|gov.cn|.com.hk)$/,
                "请正确输入域名,例如baidu.com,不能填写www.baidu.com,map.baidu.com等"
            ],
            tagNames: [
                /(^$)|(^[\u4e00-\u9fa50-9a-zA-Z,]+$)/,
                "请正确输入标签,例如：阿卡索,MBA,算法"
            ],
            index:[
                /(^$)|(^[\-][0-3]$)|(^[0-9]*[1-9][0-9]*$)/,
                "请正确输入指数,最小为-3，不能为小数"
            ],
            positiveInteger: [
                /(^$)|(^[0-9]*[1-9][0-9]*$)/,
                "请正确输入数值、如：1、25、300等正整数"
            ],

        });

    })

</script>
</body>
</html>
