<!-- 头工具栏模板 -->
<script type="text/html" id="toolbarTpl">

    <@shiro.hasPermission name="/internal/customerKeyword/saveCustomerKeyword">
        {{#
            var businessType = document.getElementById('type').value;
            if(businessType !=='qz'){  }}
                <button class="layui-btn layui-btn-sm" id="add_customer_keyword" lay-event="add_customer_keyword">
                    添加
                </button>
        {{#  }  }}
    </@shiro.hasPermission>
    <@shiro.hasPermission name="/internal/customerKeyword/editOptimizePlanCount">
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn-sm" id="change_current_optimizePlanCount" lay-event="change_current_optimizePlanCount">
            修改当前刷量
        </button>
        <button class="layui-btn layui-btn-sm" id="change_select_optimizePlanCount" lay-event="change_select_optimizePlanCount">
            修改所选刷量
        </button>
    </div>
    </@shiro.hasPermission>
    <@shiro.hasPermission name="/internal/customerKeyword/deleteCustomerKeywords">
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn-sm layui-btn-warm" id="batch_update" lay-event="batch_update">
            批量设置
        </button>
    </div>
    </@shiro.hasPermission>
    <@shiro.hasPermission name="/internal/customerKeyword/deleteCustomerKeywords">
    {{#
        var businessType = document.getElementById('type').value;
        if(businessType==='qz'){  }}
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm layui-btn-danger" id="delete_same_keyword" lay-event="delete_same_keyword">
                    删除重复关键字
                </button>
            </div>
    {{#  }  }}
    </@shiro.hasPermission>
    <@shiro.hasPermission name="/internal/customerKeyword/deleteCustomerKeywords">
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn-sm layui-btn-danger" id="batch_delete" lay-event="batch_delete">
            批量删除
        </button>
    </div>
    </@shiro.hasPermission>
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn-sm layui-btn-warm" id="more_operation" lay-event="more_operation">
            更多功能
        </button>
    </div>


    <div class="my-opration-hide" id="operationContent">

        <div class="layui-btn-group">
            <@shiro.hasPermission name="/internal/customerKeyword/uploadCustomerKeywords">
            <button class="layui-btn layui-btn-sm" id="upload_keyword_simple" lay-event="upload_keyword_simple">
                Excel上传(简化版)
            </button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="/SuperUserSimpleKeywordList.xls">
            <button class="layui-btn layui-btn-sm" id="download_keyword_simple_excel" lay-event="download_keyword_simple_excel">
                Excel简化版下载
            </button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="/internal/customerKeyword/uploadCustomerKeywords">
            <button class="layui-btn layui-btn-sm" id="upload_keyword_full" lay-event="upload_keyword_full">
                Excel上传(完整版)
            </button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="/SuperUserFullKeywordList.xls">
            <button class="layui-btn layui-btn-sm" id="download_keyword_full_excel" lay-event="download_keyword_full_excel">
                Excel完整版下载
            </button>
            </@shiro.hasPermission>
        </div>

        <div class="layui-btn-group">
            <@shiro.hasPermission name="/internal/customerKeyword/downloadSingleCustomerReport">
            <button class="layui-btn layui-btn-sm" id="download_daily_report" lay-event="download_daily_report">
                导出日报表
            </button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="/internal/customerKeyword/downloadCustomerKeywordInfo">
            <button class="layui-btn layui-btn-sm" id="download_keyword_info" lay-event="download_keyword_info">
                导出结果
            </button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="/internal/customerKeyword/cleanTitle">
            <button class="layui-btn layui-btn-sm" id="download_keyword_url" lay-event="download_keyword_url">
                关键字url导出
            </button>
            </@shiro.hasPermission>
        </div>

        <div class="layui-btn-group">
            <@shiro.hasPermission name="/internal/customerKeyword/saveCustomerKeyword">
            <button class="layui-btn layui-btn-sm" id="change_current_bearPawNumber" lay-event="change_current_bearPawNumber">
                修改当前熊掌号
            </button>
            <button class="layui-btn layui-btn-sm" id="change_select_bearPawNumber" lay-event="change_select_bearPawNumber">
                修改选中熊掌号
            </button>
            </@shiro.hasPermission>
        </div>
        <div class="layui-btn-group">

            <button class="layui-btn layui-btn-sm" id="delete_keyword_by_nullTitle_and_nullUrl" lay-event="delete_keyword_by_nullTitle_and_nullUrl">
                删除标题和网址为空的关键字
            </button>
            <button class="layui-btn layui-btn-sm" id="delete_keyword_by_nullTitle" lay-event="delete_keyword_by_nullTitle">
                删除标题为空的关键字
            </button>
        </div>

        <div class="layui-btn-group">
            <@shiro.hasPermission name="/internal/customerKeyword/updateCustomerKeywordGroupName">
            <button class="layui-btn layui-btn-sm" id="change_current_optimizedGroup" lay-event="change_current_optimizedGroup">
                修改当前优化组
            </button>
            <button class="layui-btn layui-btn-sm" id="change_select_optimizedGroup" lay-event="change_select_optimizedGroup">
                修改选中优化组
            </button>
            </@shiro.hasPermission>
        </div>

        <div class="layui-btn-group">
            <@shiro.hasPermission name="/internal/customerKeyword/saveCustomerKeyword">
            <button class="layui-btn layui-btn-sm" id="change_current_searchEngine" lay-event="change_current_searchEngine">
                修改当前搜索引擎
            </button>
            <button class="layui-btn layui-btn-sm" id="change_select_searchEngine" lay-event="change_select_searchEngine">
                修改选中搜索引擎
            </button>
            </@shiro.hasPermission>
        </div>
        <div class="layui-btn-group">
            <@shiro.hasPermission name="/internal/customerKeyword/updateCustomerKeywordMachineGroup">
            <button class="layui-btn layui-btn-sm" id="change_current_machineGroup" lay-event="change_current_machineGroup">
                修改当前机器分组
            </button>
            <button class="layui-btn layui-btn-sm" id="change_select_machineGroup" lay-event="change_select_machineGroup">
                修改选中机器分组
            </button>
            </@shiro.hasPermission>
        </div>

        <div class="layui-btn-group">
            <@shiro.hasPermission name="/internal/customerKeyword/updateCustomerKeywordGroupName">
            <button class="layui-btn layui-btn-sm" id="down_off_all_keyword" lay-event="down_off_all_keyword">
                下架所有关键字
            </button>
            <button class="layui-btn layui-btn-sm" id="down_off_select_keyword" lay-event="down_off_select_keyword">
                下架选中关键字
            </button>
            <button class="layui-btn layui-btn-sm" id="pause_all_keyword" lay-event="pause_all_keyword">
                暂停所有关键字
            </button>
            <button class="layui-btn layui-btn-sm" id="pause_select_keyword" lay-event="pause_select_keyword">
                暂停选中关键字
            </button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="/internal/customerKeyword/updateCustomerKeywordStatus">
            <button class="layui-btn layui-btn-sm" id="active_all_keyword" lay-event="active_all_keyword">
                激活所有关键字
            </button>
            <button class="layui-btn layui-btn-sm" id="active_select_keyword" lay-event="active_select_keyword">
                激活选中关键字
            </button>
            </@shiro.hasPermission>
        </div>

        <div class="layui-btn-group">
            <@shiro.hasPermission name="/internal/customerKeyword/cleanTitle">
            <button class="layui-btn layui-btn-sm" id="recollect_customer_keyword_title" lay-event="recollect_customer_keyword_title">
                重采客户标题
            </button>
            <button class="layui-btn layui-btn-sm" id="recollect_select_keyword_title" lay-event="recollect_select_keyword_title">
                重采所选标题
            </button>
            <button class="layui-btn layui-btn-sm" id="clean_customer_keyword_title" lay-event="clean_customer_keyword_title">
                清空客户标题
            </button>
            <button class="layui-btn layui-btn-sm" id="clean_select_keyword_title" lay-event="clean_select_keyword_title">
                清空所选标题
            </button>
        </@shiro.hasPermission>
        </div>

    </div>
</script>
<!--模板-->
<script type="text/html" id="toDateTime">
    {{layui.util.toDateString(d.createTime, 'yyyy-MM-dd')}}
</script>

<script type="text/html" id="statusTpl">
    {{#  if(d.status === 1) { }}
    <span style="color: green;">激活</span>
    {{#  }else if(d.status === 2) { }}
    <span style="color: blue;">新增</span>
    {{#  }else if(d.status === 3) { }}
    <span style="color: grey;">下架</span>
    {{# }else{ }}
    <span style="color: red;">暂停</span>
    {{# } }}
</script>

<script type="text/html" id="indexCountTpl">
    {{#  if(d.currentIndexCount === -1) { }}
    未采集
    {{#  }else if(d.currentIndexCount === -2) { }}
    未收录
    {{# }else{ }}
    {{= d.currentIndexCount }}
    {{# } }}
</script>

<script type="text/html" id="collectMethodTpl">
    {{#  if(d.collectMethod === 'PerDay') { }}
    按天
    {{# }else if(d.collectMethod === 'PerTenDay'){ }}
    十天
    {{# }else if(d.collectMethod === 'PerSevenDay'){ }}
    七天
    {{#  }else{ }}
    按月
    {{# } }}
</script>

<script type="text/html" id="operationTpl">
    <@shiro.hasPermission name="/internal/customer/saveCustomer">
    <button type="button" class="layui-btn layui-btn-xs" lay-event="edit">修改</button>
    </@shiro.hasPermission>
    <@shiro.hasPermission name="/internal/customer/delCustomer">
    <button type="button" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</button>
    </@shiro.hasPermission>
</script>


