<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>关键字列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/scroll-bar.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.css">
    <link rel="stylesheet" href="/static/ok-admin/page/base/searchForm.css">
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
        <span class="layui-breadcrumb">
            <a><cite>关键字管理</cite></a>
            <a><cite>客户关键字</cite></a>
            <a><cite>${customer.contactPerson}</cite></a>
        </span>
        <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>

    <!--模糊搜索区域-->
    <div class="layui-card ">
        <div class="layui-card-body ">
            <form class="layui-form layui-form-pane" id="searchForm">
                <input type="text" hidden value="<#if customerUuid?exists>${customerUuid}</#if>" id="customerUuid" name="customerUuid">
                <input type="text" hidden value="<#if businessType?exists>${businessType}</#if>" id="typeTmp" name="typeTmp">
                <input type="text" hidden value="<#if terminalType?exists>${terminalType}</#if>" id="terminalTypeTmp" name="terminalTypeTmp">
                <div class="my-collapse">
                    <div>
                        <div class="layui-inline" style="width: 100px">
                            <select name="type" id="type"> </select>&nbsp;
                        </div>
                        <div class="layui-inline" style="width: 120px">
                            <select name="terminalType" id="terminalType">
                                <option value='PC'>PC</option>
                                <option value='Phone'>Phone</option>
                            </select>&nbsp;
                        </div>
                        <div class="layui-inline">
                            <input type="text" name="keyword" id="keyword" placeholder="请输入关键字" class="layui-input">
                        </div>

                        <div class="layui-inline">
                            <button class="layui-btn" lay-submit="" lay-filter="search" id="searchBtn">搜索</button>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-collapse my-btn" onclick="showCondition()"> 更多条件</div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn layui-btn-sm layui-btn-primary" type="reset"> 重置</button>
                        </div>
                    </div>
                    <div class="my-hide" id="searchContent">

                        <div class="layui-form-item" lay-filter="loginNameFilter">
                            <div class="layui-inline">
                                <label class="layui-form-label">链接</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="url" id="url" placeholder="请输入链接" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">熊掌号</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="bearPawNumber" id="bearPawNumber" placeholder="请输入熊掌号" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">优化组名</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="optimizeGroupName" id="optimizeGroupName" placeholder="请输入优化组名" autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">关键字状态</label>
                                <div class="layui-input-inline">
                                    <select name="status" id="status">
                                        <option value=''>请选择关键字状态</option>
                                        <option value='1'>激活</option>
                                        <option value='2'>新增</option>
                                        <option value='0'>暂不操作</option>
                                        <option value='3'>下架</option>
                                    </select>&nbsp;
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">机器分组</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="machineGroup" id="machineGroup" placeholder="请输入机器分组" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">关键字来源</label>
                                <div class="layui-input-inline">
                                    <select name="customerKeywordSource" id="customerKeywordSource">
                                        <option value="">请选择关键字来源</option>
                                        <option value="Capture">机器采集词</option>
                                        <option value="Excel">表格上传词</option>
                                        <option value="UI">页面添加词</option>
                                        <option value="Plugin">插件添加词</option>
                                        <option value="Specify">全站指定词</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">备注</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="remarks" id="remarks" placeholder="请输入备注" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">失败原因</label>
                                <div class="layui-input-inline">
                                    <select name="failedCause" id="failedCause">
                                        <option value="" selected="selected">请选择失败原因</option>
                                        <option value="爬取中">爬取中</option>
                                        <option value="关键字未收录">关键字未收录</option>
                                        <option value="标题无法操作">标题无法操作</option>
                                        <option value="关键字无此标题">关键字无此标题</option>
                                        <option value="熊掌号错误">熊掌号错误</option>
                                        <option value="熊掌号缺失">熊掌号缺失</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">要刷数量范围</label>
                                <div class="layui-input-inline" style="width: 90.5px;">
                                    <input type="number" name="gtOptimizePlanCount" placeholder=">=" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-input-inline" style="width: 90.5px;">
                                    <input type="number" name="ltOptimizePlanCount" placeholder="<=" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">已刷数量范围</label>
                                <div class="layui-input-inline" style="width: 90.5px;">
                                    <input type="number" name="gtOptimizedCount" placeholder=">=" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-input-inline" style="width: 90.5px;">
                                    <input type="number" name="ltOptimizedCount" placeholder="<=" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">排名范围</label>
                                <div class="layui-input-inline" style="width: 90.5px;">
                                    <input type="number" name="gtPosition" placeholder=">=" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-input-inline" style="width: 90.5px;">
                                    <input type="number" name="ltPosition" placeholder="<=" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">指数范围</label>
                                <div class="layui-input-inline" style="width: 90.5px;">
                                    <input type="number" name="gtCurrentIndexCount" placeholder=">=" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-input-inline" style="width: 90.5px;">
                                    <input type="number" name="ltCurrentIndexCount" placeholder="<=" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">是否有标题</label>
                                <div class="layui-input-inline">
                                    <select name="titleFlag" id="titleFlag">
                                        <option value=''>请选择</option>
                                        <option value='1'>有标题</option>
                                        <option value='2'>无标题</option>
                                    </select>&nbsp;
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">无效点击数</label>
                                <div class="layui-input-inline">
                                    <input type="number" name="invalidRefreshCount" id="invalidRefreshCount" placeholder="请输入无效点击数" autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">搜索引擎</label>
                                <div class="layui-input-inline">
                                    <select name="searchEngine" id="searchEngine">
                                        <option value=''>请选择搜索引擎</option>

                                    </select>&nbsp;
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">关键词作用</label>
                                <div class="layui-input-inline">
                                    <select name="keywordEffect" id="keywordEffect">
                                        <option value="">全部</option>
                                        <option value="Common">一般词</option>
                                        <option value="Curve">曲线词</option>
                                        <option value="Appointment">指定词</option>
                                        <option value="Present">赠送词</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="checkbox" name="noPosition" title="显示排名为0" lay-skin="primary">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--数据表格-->
    <table class="layui-hide" id="keywordTable" lay-filter="tableFilter">

    </table>
</div>
<!--js逻辑-->
<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script src="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.js"></script>
<script src="/static/ok-admin/page/keyword/customerKeyword.js"></script>
<script src="/static/ok-admin/page/base/searchForm.js"></script>
<#include "./customerKeywordTpl.html" />

</body>
</html>
