<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>关键字统计</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.css">
    <link rel="stylesheet" href="/static/ok-admin/page/base/searchForm.css">
    <link rel="stylesheet" href="/static/ok-admin/page/keyword/keyword.css">
</head>
<style>
    .layui-tab-content {
        padding: 0px;
    }
    .layui-card-body {
        position: relative;
        padding: 0px;
        line-height: 24px;
    }
    .layui-table, .layui-table-view {
        margin: 0px;
        border-width: 0px;
    }
    .my-collapse > div:first-child {
        background: #f2f2f2;
        border: 0px;
    }

    .layui-table-tool {
        min-height: 30px;
        padding: 0 5px 7px 5px;
    }

    .layui-table-tool-self {
        top: 0;
    }

    .one-special .layui-form-checkbox{
        margin: 0 !important;
    }

    .some-special .layui-inline span{
        padding: 0 !important;
    }

    .some-special .layui-form-checkbox {
        margin: 4px 0 4px 4px;
        padding-left: 22px !important;
    }
</style>
<body>
<div class="ok-body">
    <div class="layui-tab layui-tab-card" lay-filter="keywordTab">
        <ul class="layui-tab-title" id="tabItem">

        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <!--模糊搜索区域-->
                <div class="layui-card ">
                    <div class="layui-card-body ">
                        <form class="layui-form layui-form-pane" id="searchForm">
                            <div class="my-collapse">
                                <div class="out-condition">
                                    <input type="hidden" name="type" id="type" value="<#if businessType?exists>${businessType}<#else>pt</#if>" />
                                    <input type="hidden" name="terminalType" id="terminalType" value="<#if terminalType2?exists>${terminalType2}<#else>PC</#if>" />
                                    <input type="hidden" name="notLike" value="<#if notLike?exists>${notLike}<#else>0</#if>" />
                                    <input type="hidden" id="sevenDaysNoReachStandard" name="sevenDaysNoReachStandard" value=""/>
                                    <input type="hidden" id="fifteenDaysNoReachStandard" name="fifteenDaysNoReachStandard" value=""/>
                                    <input type="hidden" id="thirtyDaysNoReachStandard" name="thirtyDaysNoReachStandard" value=""/>
                                    <div class="layui-inline">
                                        <select name="searchEngine" id="searchEngine">
                                            <option value=''>搜索引擎</option>
                                        </select>
                                    </div>
                                    <@shiro.hasRole name="DepartmentManager">
                                    <div class="layui-inline">
                                        <select name="userName" id="userName">
                                            <option value="<#if userName?exists>${userName}<#else></#if>"><#if userName?exists>${userName}<#else>所属用户</#if></option>
                                        </select>
                                    </div>
                                    </@shiro.hasRole>
                                    <div class="layui-inline" style="width: 140px">
                                        <input type="text" name="keyword" id="keyword" value="<#if Keyword?exists>${Keyword}<#else></#if>" placeholder="请输入关键字"
                                               onkeyup="this.value = this.value.replace(/^(\s|\u00A0)+/,'').replace(/(\s|\u00A0)+$/,'');"
                                               class="layui-input layui-input-text" />
                                    </div>
                                    <div class="layui-inline" style="width: 130px">
                                        <input type="text" name="optimizeGroupName" id="optimizeGroupName" placeholder="请输入优化组名" autocomplete="off"
                                               onkeyup="this.value = this.value.replace(/^(\s|\u00A0)+/,'').replace(/(\s|\u00A0)+$/,'');"
                                               class="layui-input layui-input-text"
                                               value="<#if groupTmp?exists>${groupTmp}<#else></#if>"/>
                                    </div>
                                    <div class="layui-inline one-special">
                                        <input type="checkbox" name="optimizeGroupNameLike" value="on" title="模糊搜索">
                                    </div>
                                    <div class="layui-inline" style="width: 140px">
                                        <input type="text" name="url" id="url" placeholder="请输入域名" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-inline" style="width: 135px">
                                        排名
                                        <div class="layui-input-inline" style="width: 50px;">
                                            <input type="number" name="gtPosition" placeholder=">=" value="<#if gtPosition?exists>${gtPosition}<#else></#if>" autocomplete="off" class="layui-input"
                                                   onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');" lay-verify="num"/>
                                        </div>
                                        <div class="layui-input-inline" style="width: 50px;">
                                            <input type="number" name="ltPosition" placeholder="<=" value="<#if ltPosition?exists>${ltPosition}<#else></#if>" autocomplete="off"
                                                   onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');" class="layui-input" lay-verify="num"/>
                                        </div>
                                    </div>
                                    <div class="layui-inline" style="width: 140px">
                                        <div class="layui-input-inline">
                                            <select name="status" id="status">
                                                <option value=''>关键字状态</option>
                                                <option value='1'>激活</option>
                                                <option value='2'>新增</option>
                                                <option value='0'>暂不操作</option>
                                                <option value='3'>下架</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline" style="width: 140px">
                                        <input type="text" name="machineGroup" id="machineGroup" placeholder="请输入机器分组" autocomplete="off"
                                               onkeyup="this.value = this.value.replace(/^(\s|\u00A0)+/,'').replace(/(\s|\u00A0)+$/,'');"
                                               class="layui-input layui-input-text " value="<#if machineGroupTmp?exists>${machineGroupTmp}<#else></#if>"/>
                                    </div>
                                    <div class="layui-inline">
                                        <button class="layui-btn" lay-submit="" lay-filter="search" id="searchBtn">搜索
                                        </button>
                                    </div>
                                    <div class="layui-inline">
                                        <div class="layui-collapse my-btn" onclick="showCondition()">
                                            更多条件
                                        </div>
                                    </div>
                                    <div class="layui-inline" id="resetBtnDiv">
                                        <button style="background: #897c00;color: #ffffff" class="layui-btn" type="reset" id="resetBtn">
                                            重置
                                        </button>
                                    </div>

                                </div>
                                <div class="my-hide" id="searchContent">

                                    <div class="layui-form-item" lay-filter="loginNameFilter">

                                        <div class="layui-inline">
                                            <label class="layui-form-label" style="width: 90px">熊掌号</label>
                                            <div class="layui-input-inline" style="width: 160px">
                                                <input type="text" name="bearPawNumber" id="bearPawNumber" value="" placeholder="请输入熊掌号" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-inline">
                                            <label class="layui-form-label" style="width: 90px">关键字来源</label>
                                            <div class="layui-input-inline" style="width: 120px">
                                                <select name="customerKeywordSource" id="customerKeywordSource">
                                                    <option value="">关键字来源</option>
                                                    <option value="Capture">机器采集词</option>
                                                    <option value="Excel">表格上传词</option>
                                                    <option value="UI">页面添加词</option>
                                                    <option value="Plugin">插件添加词</option>
                                                    <option value="Specify">全站指定词</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label" style="width: 90px">备注</label>
                                            <div class="layui-input-inline" style="width: 120px">
                                                <input type="text" name="remarks" id="remarks" placeholder="请输入备注" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-inline">
                                            <label class="layui-form-label" style="width: 90px">失败原因</label>
                                            <div class="layui-input-inline" style="width: 120px">
                                                <select name="failedCause" id="failedCause">
                                                    <option value="" selected="selected">失败原因</option>
                                                    <option value="爬取中">爬取中</option>
                                                    <option value="关键字未收录">关键字未收录</option>
                                                    <option value="标题无法操作">标题无法操作</option>
                                                    <option value="链接无法操作">链接无法操作</option>
                                                    <option value="关键字无此标题">关键字无此标题</option>
                                                    <option value="关键字无此链接">关键字无此链接</option>
                                                    <option value="熊掌号错误">熊掌号错误</option>
                                                    <option value="熊掌号缺失">熊掌号缺失</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label" style="width: 90px">要刷数量范围</label>
                                            <div class="layui-input-inline" style="width: 60px;">
                                                <input type="number" name="gtOptimizePlanCount" placeholder=">=" autocomplete="off" class="layui-input"
                                                       onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');" lay-verify="num">
                                            </div>
                                            <div class="layui-input-inline" style="width: 60px;">
                                                <input type="number" name="ltOptimizePlanCount" placeholder="<=" autocomplete="off" class="layui-input"
                                                       onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');" lay-verify="num">
                                            </div>
                                        </div>

                                        <div class="layui-inline">
                                            <label class="layui-form-label" style="width: 90px">已刷数量范围</label>
                                            <div class="layui-input-inline" style="width: 60px;">
                                                <input type="number" name="gtOptimizedCount" placeholder=">=" autocomplete="off" class="layui-input"
                                                       onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');" lay-verify="num">
                                            </div>
                                            <div class="layui-input-inline" style="width: 60px;">
                                                <input type="number" name="ltOptimizedCount" placeholder="<=" autocomplete="off" class="layui-input"
                                                       onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');" lay-verify="num">
                                            </div>
                                        </div>

                                        <div class="layui-inline" id="invalidRefreshCountDiv">
                                            <label class="layui-form-label" style="width: 90px">无效点击数</label>
                                            <div class="layui-input-inline" style="width: 140px">
                                                <input type="number" name="invalidRefreshCount" id="invalidRefreshCount" placeholder="请输入无效点击数" autocomplete="off"
                                                       onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');"
                                                       class="layui-input" lay-verify="num" value="<#if irc?exists>${irc}<#else></#if>">
                                            </div>
                                        </div>

                                        <div class="layui-inline">
                                            <label class="layui-form-label" style="width: 90px;">创建日期范围</label>
                                            <div class="layui-input-inline" style="width: 76px;">
                                                <input type="text" name="gtCreateTime" id="gtCreateTime" placeholder="起始日期" autocomplete="off" class="layui-input">
                                            </div>
                                            <div class="layui-input-inline" style="width: 76px;">
                                                <input type="text" name="ltCreateTime" id="ltCreateTime" placeholder="结束日期" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>

                                        <div class="layui-inline">
                                            <label class="layui-form-label" style="width: 90px">是否收录</label>
                                            <div class="layui-input-inline" style="width: 120px">
                                                <select name="includeStatus" id="includeStatus">
                                                    <option value="">是否收录</option>
                                                    <option value="1">已收录</option>
                                                    <option value="0">未收录</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="layui-inline">
                                            <label class="layui-form-label" style="width: 90px">无效天数范围</label>
                                            <div class="layui-input-inline" style="width: 60px;">
                                                <input type="number" name="gtInvalidDays" placeholder=">=" autocomplete="off" class="layui-input"
                                                       onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');" lay-verify="num">
                                            </div>
                                            <div class="layui-input-inline" style="width: 60px;">
                                                <input type="number" name="ltInvalidDays" placeholder="<=" autocomplete="off" class="layui-input"
                                                       onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');" lay-verify="num">
                                            </div>
                                        </div>

                                        <@shiro.hasRole name="Technical">
                                        <div class="layui-inline">
                                            <label class="layui-form-label" style="width: 100px">抓排名失败标识</label>
                                            <div class="layui-input-inline" style="width: 120px">
                                                <input type="text" name="capturePositionFailIdentify" id="capturePositionFailIdentify" placeholder="请输入失败标识" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        </@shiro.hasRole>

                                        <div class="layui-inline some-special">
                                            <div class="layui-input-inline" style="width: 50px;">
                                                <input type="checkbox" name="pushPay" title="催缴" lay-skin="primary">
                                            </div>
                                            <div class="layui-input-inline" style="width: 80px;">
                                                <input type="checkbox" name="requireDelete" title="要求删除" lay-skin="primary">
                                            </div>
                                            <div class="layui-input-inline" style="width: 105px;">
                                                <input type="checkbox" name="noPosition" title="显示排名为0" lay-skin="primary">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <!--数据表格-->
                <table class="layui-hide" id="keywordTable" lay-filter="tableFilter"></table>
            </div>
        </div>
    </div>
</div>
<!--js逻辑-->
<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script src="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.js"></script>
<script src="/static/ok-admin/js/somePublic.js"></script>
<script>
    var searchEngine = '<#if SearchEngine?exists>${SearchEngine}</#if>';
    var belongUser = '<#if belongUser?exists>${belongUser}</#if>';
    var terminal225 = '<#if terminalType2?exists>${terminalType2}<#else>PC</#if>';
    var dataTmp = {
        status: '<#if status?exists>${status}</#if>',
        type: '<#if businessType?exists>${businessType}</#if>',
        terminal: terminal225
    };
</script>
<script src="/static/ok-admin/page/keyword/keyword.js"></script>
<#include  "./keywordTpl.html" />
</body>
</html>
