<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>单词统计</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/scroll-bar.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.css">
    <link rel="stylesheet" href="/static/ok-admin/page/base/searchForm.css">
    <style>
        .layui-tab-content {
            padding: 0px;
        }
        .layui-card-body {
            position: relative;
            padding: 0px;
            line-height: 24px;
        }
        .layui-table, .layui-table-view {
            margin: 0px;
            border-width: 1px;
        }
        .my-collapse > div:first-child {
            background: #f2f2f2;
            border: 0px;
        }
        .layui-table-body tr td:nth-child(1) {
            text-align: left;
        }
        .layui-table-page > div {
            height: 26px;
            position: fixed;
            right: 25px;
        }
         .layui-table-cell a:link {
            color: blue;
        }

        .layui-table-cell a:visited {
            color: blue;
        }

        .layui-table-cell a:hover {
            color: red;
        }

        .layui-table-cell a:active {
            color: darkslateblue;
        }

    </style>
</head>
<body>
<div class="ok-body">
    <div class="layui-tab layui-tab-card" lay-filter="keywordTab">
        <ul class="layui-tab-title">
            <li class="layui-this" data-terminal="PC">电脑</li>
            <li data-terminal="Phone">手机</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <!--模糊搜索区域-->
                <div class="layui-card ">
                    <div class="layui-card-body ">
                        <form class="layui-form layui-form-pane" id="searchForm">
                            <input type="text" hidden value="<#if customerUuid?exists>${customerUuid}</#if>" id="customerUuid" name="customerUuid">
                            <div class="my-collapse">
                                <div>
                                    <input type="hidden" name="terminalType" id="terminalType" value="PC">
                                    <div class="layui-inline" style="width: 140px">
                                        <input type="text" name="keyword" id="keyword" placeholder="请输入关键字" class="layui-input"
                                               onkeyup="this.value = this.value.replace(/^(\s|\u00A0)+/,'').replace(/(\s|\u00A0)+$/,'');" />
                                    </div>
                                    <div class="layui-inline" style="width: 140px">
                                        <select name="searchEngine" id="searchEngine">
                                            <option value=''>搜索引擎</option>
                                        </select>
                                    </div>

                                    <div class="layui-inline" style="width: 140px">
                                        <select name="userName" id="userName">
                                            <option value=''>用户名称</option>
                                        </select>
                                    </div>

                                    <div class="layui-inline">
                                        <button class="layui-btn" lay-submit="" lay-filter="search" id="searchBtn">搜索</button>
                                    </div>

                                    <div class="layui-inline">
                                        <button style="background: #897c00;color: #ffffff" class="layui-btn" type="reset" id="resetBtn">
                                            重置
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <!--数据表格-->
                <table class="layui-hide" id="keywordTable" lay-filter="tableFilter"></table>
            </div>
        </div>
    </div>
</div>
<!--js逻辑-->
<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script src="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.js"></script>
<script>
    var sign = false;
    // 进度条加载提示
    NProgress.start();
    window.onload = function () {
        NProgress.done();
    };

    layui.use(['element', 'table', 'form', 'jquery', 'laydate', 'okLayer', 'layer','common'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var common = layui.common;

        init_search_data();
        init_table_data(common.formToJsonObject('searchForm'));

        function init_search_data() {
            var postData = {};
            var terminalType = $("#terminalType").val();
            if (terminalType === '' || terminalType == null) {
                terminalType = 'PC'
            }
            postData.terminalType = terminalType;
            $.ajax({
                url: '/internal/customerKeyword/getSearchData',
                type: 'POST',
                headers: {
                    "Accept": 'application/json',
                    "Content-Type": 'application/json'
                },
                data: JSON.stringify(postData),
                success: function (res) {
                    if (res.code === 200) {
                        var searchEngineList = res.data.searchEngineMap;
                        var activeUsersList = res.data.activeUsers;
                        var user = res.data.user;
                        var searchEngine = $('#searchEngine');
                        var activeUsers = $('#userName');
                        searchEngine.empty();
                        activeUsers.empty();
                        searchEngine.append('<option value="" selected>全部</option>');
                        activeUsers.append('<option value="" selected>所有</option>');
                        activeUsers.append('<option value="' + user.loginName + '">' + '只显示自己' + '</option>');
                        $.each(searchEngineList, function (index, item) {
                            searchEngine.append('<option value="' + item + '">' + item + '</option>');
                        });
                        $.each(activeUsersList, function (index, item) {
                            activeUsers.append('<option value="' + item.loginName + '">' + item.userName + '</option>');
                        });
                        form.render("select")
                    } else {
                        common.showFailMsg(res.msg)
                    }
                },
                error: function () {
                    common.showFailMsg('未知错误，请稍后重试！！')
                }
            });
        }

        function init_table_data(whereCondition) {
            whereCondition.entryType = 'pt';
            table.render({
                elem: '#keywordTable',
                method: 'post',
                url: '/internal/customerKeyword/getPTKeywords',
                limit: 50,
                page: true,
                autoSort: false,
                size: 'sm',
                id: 'keywordTable',
                even: true,//隔行背景
                contentType: 'application/json',
                where: whereCondition,
                cols: [[
                    {field: 'keyword', title: '关键字', width: '22%',templet: '#tokeywordTpl', align: 'center'},
                    {field: 'searchEngine', title: '搜索引擎', width: '13%', align: 'center'},
                    {field: 'keywordCount', title: '单词总数', width: '13%', align: 'center'},
                    {field: 'userCount', title: '用户总数', width: '13%', align: 'center'},
                    {field: 'customerCount', title: '客户总数', width: '13%',  align: 'center'},
                    {field: 'topThree', title: '前三数量', width: '13%', align: 'center', templet: '#tokeywordTop3Tpl' },
                    {field: 'topTen', title: '前十数量', width: '13%', align: 'center', templet: '#tokeywordTop10Tpl' },
                ]],
                height: 'full-110',
                done: function (res, curr, count) {
                }
            });
        }

        element.on('tab(keywordTab)', function (data) {
            var d = data.elem.context.dataset;
            $('#terminalType').val(d.terminal);
            active['reload'].call(this);
        });

        var active = {
            reload: function () {
                let data = common.formToJsonObject('searchForm');
                data.entryType = 'pt';
                table.reload('keywordTable', {
                    where: data,
                    page: {
                        curr: 1
                    }
                });
            },
        };

        form.on("submit(search)", function (data) {
            var postData = data.field;
            postData.entryType = 'pt';
            postData = common.jsonObjectTrim(postData);
            table.reload('keywordTable', {
                where: postData,
                page: {
                    curr: 1
                }
            });
            return false
        });

    });

    function toKeyword(keyword) {
        let terminalType = document.getElementById('terminalType').value;
        let searchEngine = document.getElementById('searchEngine').value===''?'null':document.getElementById('searchEngine').value;
        let belongUser = document.getElementById('userName').value===''?'null':document.getElementById('userName').value;
        let url = '/internal/customerKeyword/toKeywordsFromPT/pt/' + terminalType + '/' +searchEngine+'/'+belongUser+'/'+ keyword;
        url = encodeURI(encodeURI(url));
        let title = '关键字:' + keyword + '详情';
        updateOrNewTab(url, title, keyword)
    }

    function toKeywordWithPosition(keyword, position) {
        let terminalType = document.getElementById('terminalType').value;
        let searchEngine = document.getElementById('searchEngine').value===''?'null':document.getElementById('searchEngine').value;
        let belongUser = document.getElementById('userName').value===''?'null':document.getElementById('userName').value;
        let url = '/internal/customerKeyword/toKeywordsFromPTWithPosition/pt/' + terminalType + '/' +searchEngine+'/'+belongUser+'/'+ keyword + '/' + position;
        url = encodeURI(encodeURI(url));
        let title = '关键字:' + keyword + '排名详情';
        updateOrNewTab(url, title, keyword + position)
    }

    function updateOrNewTab(url, tit, id) {
        var update = false;
        var contentIframe = ("<iframe src='" + url + "' lay-id='" + id
            + "'frameborder='0' scrolling='yes' width='100%' height='100%'></iframe>");
        parent.layui.$('.layui-tab-title li').each(function () {
            if (id === this.getAttribute('lay-id')) {
                update = true;
            }
        });
        if (!update) {
            parent.layui.element.tabAdd('ok-tab', {
                    title: '<strong style="display: none;" is-close="true" lay-id="'+id+'" data-url="'+url+'"></strong>' +
                        '<i class="layui-icon">&#xe648;</i> ' + tit,
                    content: contentIframe,
                    id: id
                }
            );
        }
        parent.layui.element.tabChange('ok-tab', id)
    }

</script>
<#include  "./ptKeywordCountTpl.html" />


</body>


</html>
