<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>机器分组工作统计</title>
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.css">
    <link rel="stylesheet" href="/static/ok-admin/page/base/searchForm.css">
    <style>
        .layui-tab-content {
            padding: 0px;
        }

        .layui-card-body {
            padding: 10px 0 0 0;
        }

        .layui-table, .layui-table-view {
            margin: 0px;
            border-width: 0px;
        }
    </style>
</head>
<body>
<div class="ok-body">
    <div class="layui-card ">
        <div class="layui-card-body ">
            <form class="layui-form layui-form-pane" id="searchForm">
                <div class="my-collapse">
                    <div class="out-condition">
                        <@shiro.hasPermission name="/internal/customerKeyword/searchCustomerKeywordLists">
                        <div class="layui-inline">
                            <button class="layui-btn" lay-submit="" lay-filter="search" id="searchBtn">搜索</button>
                        </div>
                        </@shiro.hasPermission>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table class="layui-hide" id="machineGroupAndSizeTable" lay-filter="tableFilter"></table>
</div>
<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script src="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.js"></script>
<script src="/static/ok-admin/js/somePublic.js"></script>
<script>
    var sign = false;
    // 进度条加载提示
    NProgress.start();
    window.onload = function () {
        NProgress.done();
    };
    // layui相关
    layui.use(['table', 'form', 'jquery', 'layer'], function () {
        var table = layui.table;
        var form = layui.form;

        searchMachineGroupAndSize({init: 'init'});

        form.on("submit(search)", function (data) {
            searchMachineGroupAndSize({});
            return false;
        });

        function searchMachineGroupAndSize(condition) {
            table.render({
                elem: '#machineGroupAndSizeTable',
                method: 'post',
                url: '${ctx.path}/internal/customerKeyword/searchMachineGroupAndSize',
                page: false,
                autoSort: false,
                size: 'sm',
                id: 'machineGroupAndSizeTable',
                even: true,
                where: condition,
                defaultToolbar: [],
                contentType: 'application/json',
                cols: [[
                    {field: 'machineGroupName', title: '机器分组', width: '50%', align: 'center'},
                    {field: 'size', title: '数量', width: '50%', align: 'center'},
                ]],
                height: 'full-65',
                done: function (res, curr, count) {
                }
            });
        }
    });
</script>
</body>
</html>