/*.layui-card-body{
    padding-bottom: 0;
}*/
.my-collapse {
    position: relative;
    box-shadow: none;
}

.my-collapse * {
    box-shadow: none;
}

.my-collapse > div:first-child {
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
}

.my-collapse > div {
    padding: 7px 5px;
}

.my-hide {
    padding-bottom: 1px !important;
    width: 99%;
    display: none;
    position: absolute;
    top: 50px;
    left: 3px;
    padding-left: 10px ;
    z-index: 894;
    background: #fff;
    border: 1px solid lightgrey;
    transition: visibility .6s;
}

.my-collapse button {
    height: 30px;
    line-height: 30px;
}

.my-collapse .my-btn {
    height: 30px !important;
    line-height: 30px !important;
    padding: 0 18px;
    background-color: #45a3c2;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.my-collapse .my-btn:hover {
    opacity: .8;
    transition: opacity 0.5s;
}

.layui-form-select input {
    height: 30px;
}

.layui-inline input{
    height: 30px;
}

.my-hide .layui-inline .layui-form-label {
    height: 30px;
    line-height: 12px;
    width: 90px;
    padding: 8px 0;
}

.out-condition .layui-select-title {
    width: 140px;
}

.out-condition .layui-inline .layui-form-label {
    height: 30px;
    line-height: 12px;
    width: 90px;
    padding: 8px 0;
}

.out-condition .layui-unselect .layui-form-select {
    padding: 0 0;

}

.out-condition .layui-input-inline .layui-input-text {
    height: 30px;
    width: 110px;
}

/*.layui-inline .layui-input-inline {
    height: 30px;
    width: 120px;
}*/
/*
#searchForm {
    position: fixed;
    height:52px !important;
    width: 100% !important;
    z-index: 1;
}
*/

.layui-form-item .layui-inline {
    padding: 5px 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.my-collapse .layui-inline {
    height: 30px;
}
