
html {
    background-color: #ffffff;
}

/*.layui-card-body{
    padding-bottom: 0;
}*/
.my-collapse {
    position: relative;
    box-shadow: none;

}

.my-collapse * {
    box-shadow: none;
}

.my-collapse > div:first-child {
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
}

.my-collapse > div {
    padding: 7px 10px;
}

.my-hide {
    padding-bottom: 1px !important;
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 894;
    background: #fff;
    border-bottom: 1px #e6e6e6 solid;
    border-left: 1px #e6e6e6 solid;
    border-right: 1px #e6e6e6 solid;
    transition: visibility .6s;
}

.my-collapse button {
    height: 30px;
    line-height: 30px;
}

.my-collapse .my-btn {
    height: 30px !important;
    line-height: 30px !important;
    padding: 0 18px;
    background-color: #45a3c2;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.my-collapse .my-btn:hover {
    opacity: .8;
    transition: opacity 0.5s;
}

#searchForm .layui-form-select input {
    height: 30px;
}

#data_list .layui-form-switch{
    margin-top: 0 !important;
}

#data_list .layui-form-select dl{
    top: 26px;
    padding: 0;
    z-index: 999;
}

#data_list .layui-form-select dl dd{
    height: 24px;
    line-height: 24px;
}

.layui-inline input {
    height: 30px;
}

.my-hide .layui-inline .layui-form-label {
    height: 30px;
    line-height: 12px;
    width: 90px;
    padding: 8px 0;
}

.layui-fluid {
    padding: 0;
}

/*.out-condition{*/
/*    padding-left: 10px;;*/
/*}*/
.out-condition .layui-select-title {
    width: 140px;
}

.out-condition .layui-inline .layui-form-label {
    height: 30px;
    line-height: 12px;
    width: 90px;
    padding: 8px 0;
}

.out-condition .layui-unselect .layui-form-select {
    padding: 0 0;

}

.out-condition .layui-input-inline .layui-input-text {
    height: 30px;
    width: 110px;
}

.layui-form-item .layui-inline {
    padding: 5px 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.my-collapse .layui-inline {
    height: 30px;
}

/*.layui-tab-card {
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    box-shadow: #fff 0px 0px 0px 0px;
    border: #fff;
}*/

#data_list {
    padding: 10px 0 5px 5px;
    display: flex;
    flex-wrap: wrap;
}

.layui-tab {
    margin: 10px 10px 0 10px;
}

/*操作*/
.operation {
    display: none;
}

.operation > a {
    margin-left: 5px;
}

.layadmin-maillist-fluid .layadmin-contact-box:hover .operation {
    display: block;
}

.layadmin-maillist-fluid .layui-form-checkbox[lay-skin=primary] {
    bottom: 2px;
}

.layadmin-maillist-fluid .layadmin-contact-box:hover {
    border: 1px solid #9ec9f4;
    box-shadow: 0 0 2px 2px hsla(0, 0%, 70%, .2);
}

.skip {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*分页*/
#page_nav {
    position: fixed;
    bottom: 0;
    width: 100% !important;
    height: 40px !important;
}

.layui-laypage {
    position: fixed;
    right: 15px;
    bottom: 0;
    margin: 0 0;
}


.layadmin-maillist-fluid .layadmin-title {
    margin: 5px 0 2px 0;
    height: 22px;
}

.layadmin-maillist-fluid .layadmin-contact-box {
    padding: 5px 10px 0 10px;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #e7eaec;
    overflow: visible;
    width: 31.3%;
}

.other_info a {
    color: #1a81ea;
}

a:hover {
    color: #1a81ea;
}

.layadmin-maillist-fluid .layadmin-address {
    line-height: 1.3;
    margin-bottom: 10px;
}


.count {
    float: right;
    font-size: 15px;
    line-height: 30px;
}

.count a:link {
    color: blue;
}

.count a:visited {
    color: blue;
}

.count a:hover {
    color: red;
}

.count a:active {
    color: darkslateblue;
}

.layadmin-address a:link {
    color: blue;
}

.layadmin-address a:visited {
    color: blue;
}

.layadmin-address a:hover {
    color: red;
}

.layadmin-address a:active {
    color: darkslateblue;
}

.can-click {
    color: #0000ff;
    cursor: pointer;
}

.can-click:hover {
    color: red;
}

#fileName {
    height: 38px;
    width: 300px;
    text-align: left;
    line-height: 40px;
    display: inline;
    box-sizing: border-box;
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
