
html {
    background-color: #ffffff;
}
/*.layui-card-body{
    padding-bottom: 0;
}*/
.my-collapse {
    position: relative;
    box-shadow: none;
    padding-left: 5px;
    padding-right: 5px;
}

.my-collapse * {
    box-shadow: none;
}

.my-collapse > div:first-child {
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
}

.my-collapse > div {
    padding: 7px 10px;
}

.my-hide {
    padding-bottom: 1px !important;
    display: none;
    position: absolute;
    top: 45px;
    /*left: 0;*/
    /*padding-left: 10px;*/
    right: 5px;
    left: 5px;
    z-index: 894;
    background: #fff;
    border-bottom: 1px #e6e6e6 solid;
    border-left: 1px #e6e6e6 solid;
    border-right: 1px #e6e6e6 solid;
    transition: visibility .6s;
}

.my-collapse button {
    height: 30px;
    line-height: 30px;
}

.my-collapse .my-btn {
    height: 30px !important;
    line-height: 30px !important;
    padding: 0 18px;
    background-color: #45a3c2;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.my-collapse .my-btn:hover {
    opacity: .8;
    transition: opacity 0.5s;
}

.layui-form-select input {
    height: 30px;
}

.layui-inline input {
    height: 30px;
}

.my-hide .layui-inline .layui-form-label {
    height: 30px;
    line-height: 12px;
    width: 90px;
    padding: 8px 0;
}

/*.out-condition{*/
/*    padding-left: 10px;;*/
/*}*/
.out-condition .layui-select-title {
    width: 140px;
}

.out-condition .layui-inline .layui-form-label {
    height: 30px;
    line-height: 12px;
    width: 90px;
    padding: 8px 0;
}

.out-condition .layui-unselect .layui-form-select {
    padding: 0 0;

}

.out-condition .layui-input-inline .layui-input-text {
    height: 30px;
    width: 110px;
}

.layui-form-item .layui-inline {
    padding: 5px 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.my-collapse .layui-inline {
    height: 30px;
}

.layui-tab-card {
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    box-shadow: #fff 0px 0px 0px 0px;
    border: #fff;
}

.layui-tab {
    margin: 10px 0;
    text-align: left !important;
}



#customerTab {
    width: 100%;
    /*padding-left: 15px;*/
    margin-top: 0;
    position: fixed;
    z-index: 998
}

.layui-tab-content {
    padding-top:0 ;
}



/*操作*/
.operation {
    display: none;
    font-size: 14px;
}

.operation a{
    color: #1a81ea;
}


.layadmin-maillist-fluid .layadmin-contact-box:hover .operation{
    display: block;
}


/*分页*/
#page_nav{
    position: fixed;
    bottom:0;
    width: 100% !important;
    height: 40px !important;
    background-color: #f2f2f2;
}

.layui-laypage {
    position: fixed;
    right: 15px;
    bottom:0;
    margin: 0 0;
}


.layadmin-maillist-fluid .layadmin-title {
    margin: 5px 0 10px 0;
    height: 22px;
}

.layadmin-maillist-fluid .layadmin-contact-box {
    padding: 10px;
    padding-bottom: 0;
    background-color: #fff;
    border: 1px solid #e7eaec;
    overflow: hidden;
}


.operation a{
    color: #1a81ea;
}

.other_info a{
    color: #1a81ea;
}

a:hover {
    color: #1a81ea;
}

.layadmin-maillist-fluid .layui-form-checkbox[lay-skin=primary] {
    bottom: 2px;
}