<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <style>
        #fileName {
            height: 20px;
            max-width: 256px;
            text-align: left;
            display: inline-block;
            box-sizing: border-box;
            padding-left: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            position: relative;
            top: 6px;
        }
    </style>
</head>
<body>
<div class="ok-body">

    <form class="layui-form layui-form-pane ok-form" lay-filter="UploadExcel" enctype="multipart/form-data" id="uploadForm">
        <div style="margin-bottom: 10px;text-indent: 6px;">请选择要上传的文件(<font color="red">.xls, .xlsx</font>)</div>
        <div class="layui-form-item">
            <div style="position: relative;">
                <div class="layui-btn layui-btn-radius layui-btn-normal" style="cursor: pointer; height: 38px; width: 142px;">
                    <i class="layui-icon">&#xe67c;</i>上传Excel文件
                </div>
                <input id="upload" title="" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"
                       type="file" onchange="showName(this)" style="cursor: pointer; opacity: 0; position: absolute; left: 0; height: 38px; width: 142px;">
                <div id="fileName"></div>
            </div>
        </div>
        <div style="position: fixed;bottom: 0;width: 100%;background:#fff;text-align: right;">
            <div style="margin: 0 10px 6px 10px; padding-top: 8px;border-top: solid 1px #e6e6e6">
                <button class="layui-btn" lay-submit lay-filter="commit">确定</button>
                <button class="layui-btn layui-btn-primary" id="close" style="margin-right: 20px">取消</button>
            </div>
        </div>
    </form>
</div>

<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script src="/static/ok-admin/js/somePublic.js"></script>
<script>
    let excelType = null;
    let terminalType = null;

    function showName(e) {
        let files = e.files;
        document.getElementById("fileName").innerText = files.item(0).name;
    }

    function initData(data1, data2) {
        excelType = data1
        terminalType = data2
    }

    layui.use(["form", "common", "jquery", "layer", "upload"], function () {
        let form = layui.form;
        let common = layui.common;
        let $ = layui.jquery;
        let upload = layui.upload;
        let layer = layui.layer;

        $("#uploadBtn").click(function () {
            upload.render({
                elem: '#upload',
                url: '/internal/industryList/uploadIndustryInfos',
                accept: 'file',
                auto: false
            });
        });

        form.on("submit(commit)", function () {
            let fileValue = $('#uploadForm').find("#upload").val();
            if (fileValue === "") {
                common.showFailMsg("请选择要上传的Excel文件!");
                return false;
            }
            let posIndex = fileValue.indexOf(".xls");
            let posIndex2 = fileValue.indexOf(".xlsx");
            if (posIndex === -1 && posIndex2 === -1) {
                common.showFailMsg("只能上传excel文件!");
                return false;
            }
            let postData = new FormData();
            postData.append('file', $("#uploadForm").find("#upload")[0].files[0]);
            postData.append('excelType', excelType);
            postData.append('terminalType', terminalType);
            var index = layer.msg('正在上传，请勿其他操作', {
                icon: 16,
                time: 0
            });
            setTimeout(function () {
                $.ajax({
                    url: '/internal/industryList/uploadIndustryInfos',
                    type: 'post',
                    cache: false,
                    data: postData,
                    async: false,
                    processData: false,
                    contentType: false,
                    dataType: 'json',
                    success: function (res) {
                        if (res.code === 200) {
                            common.showSuccessMsg("上传成功", function () {
                                parent.window.sign = true;
                                parent.layer.close(parent.layer.getFrameIndex(window.name));
                            });
                        } else {
                            common.showFailMsg(res.msg);
                        }
                    },
                    complete: function () {
                        layer.close(index);
                    }
                });
            }, 10);
            return false;
        });

        $('#close').click(function () {
            parent.layer.close(parent.layer.getFrameIndex(window.name));
            return false;
        });

    });
</script>
</body>
</html>