
.layui-table-cell {
    display: table-cell;
    overflow: visible;
    text-overflow: inherit;
    white-space: normal;
    padding: 0 !important;
}

/*.layui-table-header {
    padding-right: 9px;
}*/


