
.layui-table-cell {
    display: table-cell;
    overflow: visible;
    text-overflow: inherit;
    white-space: normal;
    padding: 0 !important;
}

.layui-table-header {
    padding-right: 9px;
}

.my-hide .layui-btn-group + .layui-btn-group {
    margin-left: 0;
    margin-right: 10px !important;
}

