.layui-table-cell {
    display: table-cell;
    vertical-align: middle;
    overflow: visible;
    text-overflow: clip;
    white-space: normal;
    word-break:break-all;
}

.details-header{
    padding-right: 9px;
}