<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <style>
        .layui-btn {
            width: 150px;
        }
    </style>
</head>
<body>
<div class="ok-body">

    <form class="layui-form layui-form-pane ok-form" lay-filter="addWebsite">
        <div class="layui-form-item">
            <input type="hidden" name="uuid">
            <label class="layui-form-label">网站名称</label>
            <div class="layui-input-block">
                <input type="text" name="websiteName" placeholder="请输入网站" autocompvare="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属行业类型</label>
            <div class="layui-input-block">
                <select name="industry" id="industry" lay-verify="required"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">网站域名</label>
            <div class="layui-input-block">
                <input type="text" name="domain" placeholder="请输入网站域名" autocompvare="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">域名注册商</label>
            <div class="layui-input-block">
                <input type="text" name="registrar" placeholder="请输入域名注册商" autocompvare="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">域名解析商</label>
            <div class="layui-input-block">
                <input name="analysis" placeholder="请输入域名解析商" autocompvare="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">域名到期时间</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="expiryTime" id="expiryTime" placeholder="域名到期时间" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">后台链接路径</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="backendDomain" placeholder="请输入后台链接路径">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">后台用户名</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="backendUserName" placeholder="请输入后台用户名">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">后台密码</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="backendPassword" placeholder="请输入后台密码">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">数据库名称</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="databaseName" placeholder="请输入数据库名称">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">数据库用户名</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="databaseUserName" placeholder="请输入数据库用户名">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">数据库密码</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="databasePassword" placeholder="请输入数据库密码">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">服务器IP</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="serverIP" placeholder="请输入服务器IP">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">服务器用户名</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="serverUserName" placeholder="请输入服务器用户名">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">服务器密码</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="serverPassword" placeholder="请输入服务器密码">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">销售网站类型</label>
            <div class="layui-input-block">
                <select name="websiteType" id="websiteType" lay-verify="required"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">需要解析DNS</label>
            <div class="layui-input-block">
                <select name="dnsAnalysisStatus" lay-verify="required">
                    <option value="1">是</option>
                    <option value="0" selected>否</option>
                </select>
            </div>
        </div>
        <div style="position: fixed;bottom: 0;width: 100%;background:#fff;text-align: right;">
            <div style="margin: 0 10px 6px 10px; padding-top: 8px;border-top: solid 1px #e6e6e6">
                <button class="layui-btn" lay-submit lay-filter="commit">确定</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <button class="layui-btn layui-btn-primary" id="close" style="margin-right: 20px">取消</button>
            </div>
        </div>
    </form>
</div>


<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script>

    var uuid_ = null;
    var layui_ = null;

    function initForm(data) {
        uuid_ = data;
        if (layui_ != null) {
            setForm(layui_, uuid_);
        }
    }

    function setForm(l, u) {
        l.jquery.ajax({
            url: '/internal/websites/getWebsite/' + u,
            type: 'GET',
            headers: {
                "Accept": 'application/json',
                "Content-Type": 'application/json'
            },
            success: function (res) {
                if (res.code === 200) {
                    layui.form.val("addWebsite", res.data);
                } else {
                    l.layer.msg(res.msg);
                }
            }
        });
    }

    layui.use(["form", "okLayer", "jquery", "layer", "laydate"], function () {
        var form = layui.form;
        var okLayer = layui.okLayer;
        var $ = layui.jquery;
        var laydate = layui.laydate;

        if (uuid_ != null) {
            setForm(layui, uuid_);
        } else {
            layui_ = layui;
        }

        laydate.render({
            elem: '#expiryTime'
        });

        init_SelectData();

        function init_SelectData(){
            $.ajax({
                url: '/internal/websites/returnSelectData',
                type: 'POST',
                headers: {
                    "Accept": 'application/json',
                    "Content-Type": 'application/json'
                },
                success: function (res) {
                    if (res.code === 200) {
                        var industryTypeMap = res.data.industryTypeMap
                        var websiteTypeMap = res.data.websiteTypeMap
                        var industry = $('#industry');
                        var websiteType = $('#websiteType');
                        industry.append('<option value="" selected>请选择所属行业类型</option>');
                        websiteType.append('<option value="" selected>请选择销售网站类型</option>');
                        $.each(industryTypeMap, function (index, item) {
                            industry.append('<option value="' + index + '" >' + item + '</option>');
                        });
                        $.each(websiteTypeMap, function (index, item) {
                            websiteType.append('<option value="' + index + '" >' + item + '</option>');
                        });
                        form.render("select")
                    } else {
                        layer.msg(res.msg)
                    }
                },
                error: function () {
                    layer.msg('未知错误，请稍后重试！！')
                }
            });
        }

        form.on("submit(commit)", function (data) {
            $.ajax({
                url: '/internal/websites/saveWebsite',
                type: 'POST',
                data: JSON.stringify(data.field),
                headers: {
                    "Accept": 'application/json',
                    "Content-Type": 'application/json'
                },
                success: function (res) {
                    if (res.code === 200) {
                        okLayer.msg.greenTick("保存成功", function () {
                            parent.window.sign = true;
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    } else {
                        layui.layer.msg(res.msg);
                    }
                }
            });
            return false;
        });

        $('#close').click(function () {
            parent.layer.close(parent.layer.getFrameIndex(window.name));
            return false;
        });

    })

</script>

</body>
</html>