<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网站列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.css">
    <style>
        .layui-tab-content {
            padding: 0px;
        }
        .layui-card-body {
            position: relative;
            padding: 0px;
            line-height: 24px;
        }
        .layui-table, .layui-table-view {
            margin: 0px;
            border-width: 1px;
        }
        .my-collapse > div:first-child {
            background: #f2f2f2;
            border: 0px;
        }
        .layui-table tr .layui-table-col-special .layui-table-cell{
            text-align: center;
        }
        .layui-table-page > div {
            height: 26px;
            position: fixed;
            right: 25px;
        }

        .layui-btn-xs{
            height: 18px;
            line-height: 18px;
        }

        /* 下拉条件框 */
        .my-collapse {
            position: relative;
            box-shadow: none;
        }

        .my-collapse * {
            box-shadow: none;
        }

        .my-collapse > div:first-child {
            background: #f2f2f2;
            border: 1px solid #e6e6e6;
        }

        .my-collapse > div {
            padding: 6px 5px;
        }
        .my-collapse .my-btn {
            height: 30px !important;
            line-height: 30px !important;
            padding: 0 18px;
            background-color: #45a3c2;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            font-size: 14px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
        }

        .my-collapse .my-btn:hover {
            opacity: .8;
            transition: opacity 0.5s;
        }

        #searchContent input{
            height: 38px;
            width: 185px;
            display: inline;
        }

        #engine-box input{
            height: 30px;
            width: 120px;
        }

        #user-box input{
            height: 30px;
            width: 150px;
        }

        #status-box input{
            height: 30px;
            width: 120px;
        }

        #searchContent input{
            height: 30px;
            width: 185px;
            display: inline;
        }

        #searchContent .layui-form-label{
            height: 30px;
            line-height: 30px;
            padding: 0px 15px !important;
        }

        .my-hide {
            padding-bottom: 1px !important;
            display: none;
            position: absolute;
            top: 52px;
            left: 0;
            z-index: 894;
            background: #fff;
            border-left: 1px solid #e6e6e6;
            border-right: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        #industryTypes-box input{
            height: 30px;
            width: 170px;
        }

        #websiteTypes-box input{
            height: 30px;
            width: 170px;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }

        .layui-table-tool {
            min-height: 30px;
            padding: 6px 5px 6px 5px;
        }

        .layui-table-tool-self{
            top: 0;
        }
    </style>
</head>
<body>
<div class="ok-body">
    <div class="layui-tab layui-tab-card" lay-filter="keywordTab">
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-card ">
                    <div class="layui-card-body ">
                        <form class="layui-form layui-form-pane" id="searchForm">
                            <div class="my-collapse">
                                <div>
                                    <div class="layui-inline">
                                        <input type="text" name="domain" placeholder="域名" autocomplete="off" style="width: 200px;height: 30px" class="layui-input">
                                    </div>
                                    <div class="layui-inline" id="industryTypes-box">
                                        <select name="industryType" id="industryTypes"></select>
                                    </div>
                                    <div class="layui-inline" id="websiteTypes-box">
                                        <select name="websiteType" id="websiteTypes"></select>
                                    </div>
                                    <div class="layui-inline">
                                        <button class="layui-collapse my-btn" lay-submit lay-filter="search" id="searchBtn">搜索</button>
                                    </div>
                                    <div class="layui-inline">
                                        <div class="layui-collapse my-btn" onclick="showCondition()">
                                            更多条件
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <button style="background: #897c00;color: #ffffff" class="layui-collapse my-btn" type="reset" id="resetBtn">
                                            重置
                                        </button>
                                    </div>
                                </div>
                                <div class="my-hide" id="searchContent">
                                    <div class="layui-form-item" style="margin-bottom: 0" lay-filter="loginNameFilter">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">网站名称</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="websiteName" placeholder="请输入网站名称" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">失败次数</label>
                                            <div class="layui-input-inline">
                                                <input type="number" name="accessFailCount" placeholder="请输入失败次数" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">含有指定友链</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="friendlyLinkUrl" placeholder="请输入指定友链" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">含指定广告</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="advertisingTagname" placeholder="输入准确广告标识" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">销售更新状态</label>
                                            <div class="layui-input-inline">
                                                <select name="updateSalesInfoSign" id="updateSalesInfoSigns"></select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">友链更新状态</label>
                                            <div class="layui-input-inline">
                                                <select name="synchronousFriendlyLinkSign" id="synchronousFriendlyLinkSigns"></select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">广告更新状态</label>
                                            <div class="layui-input-inline">
                                                <select name="synchronousAdvertisingSign" id="synchronousAdvertisingSigns"></select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">后台登陆状态</label>
                                            <div class="layui-input-inline">
                                                <select name="backgroundLoginStatus">
                                                    <option value="" selected>后台登陆状态</option>
                                                    <option value="0">正常</option>
                                                    <option value="1">url地址错误</option>
                                                    <option value="2">用户名密码</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">数据库状态</label>
                                            <div class="layui-input-inline">
                                                <select name="databaseStatus">
                                                    <option value="" selected>数据库状态</option>
                                                    <option value="0">正常</option>
                                                    <option value="1">访问失败</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">index文件状态</label>
                                            <div class="layui-input-inline">
                                                <select name="indexFileStatus">
                                                    <option value="" selected>index文件状态</option>
                                                    <option value="0">正常</option>
                                                    <option value="1">异常</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">sftp服务状态</label>
                                            <div class="layui-input-inline">
                                                <select name="sftpStatus">
                                                    <option value="" selected>sftp服务状态</option>
                                                    <option value="0">正常</option>
                                                    <option value="1">异常</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--数据表格-->
                <table class="layui-hide" id="websiteListTable" lay-filter="tableFilter"></table>
            </div>
        </div>
    </div>
</div>

<form id="IndustryDetailInfoCsvExportFrom" method="post" action="/internal/websites/downloadIndustryInfo">
    <input type="hidden" name="industryUuids" id="industryUuids" value="">
</form>

<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script src="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.js"></script>

<script>
    var sign = false;

    // 进度条加载提示
    NProgress.start();
    window.onload = function () {
        NProgress.done();
    };

    var s_c = 0;

    function showCondition() {
        let searchContent = document.getElementById('searchContent');
        if (s_c++ % 2 === 0) {
            searchContent.style.display = 'block';
        } else {
            searchContent.style.display = 'none';
        }
    }

    layui.use(['table', 'form', 'jquery', 'okLayer', 'layer', "common"], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let okLayer = layui.okLayer;
        let layer = layui.layer;
        let common = layui.common;
        let search = null;

        init_Search();
        init_SelectData();

        function init_SelectData() {
            $.ajax({
                url: '/internal/websites/returnSelectData',
                type: 'POST',
                headers: {
                    "Accept": 'application/json',
                    "Content-Type": 'application/json'
                },
                success: function (res) {
                    if (res.code === 200) {
                        let industryTypeMap = res.data.industryTypeMap;
                        let websiteTypeMap = res.data.websiteTypeMap;
                        let putSalesInfoSignMap = res.data.putSalesInfoSignMap;
                        let websiteSynchronousSignMap = res.data.websiteSynchronousSignMap;
                        let industry = $('#industryTypes');
                        let websiteType = $('#websiteTypes');
                        let updateSalesInfoSign = $('#updateSalesInfoSigns');
                        let synchronousFriendlyLinkSigns = $('#synchronousFriendlyLinkSigns');
                        let synchronousAdvertisingSigns = $('#synchronousAdvertisingSigns');
                        industry.append('<option value="" selected>请选择所属行业类型</option>');
                        websiteType.append('<option value="" selected>请选择销售网站类型</option>');
                        updateSalesInfoSign.append('<option value="" selected>请选择销售更新状态</option>');
                        synchronousFriendlyLinkSigns.append('<option value="" selected>请选择友链更新状态</option>');
                        synchronousAdvertisingSigns.append('<option value="" selected>请选择广告更新状态</option>');
                        $.each(industryTypeMap, function (index, item) {
                            industry.append('<option value="' + index + '" >' + item + '</option>');
                        });
                        $.each(websiteTypeMap, function (index, item) {
                            websiteType.append('<option value="' + index + '" >' + item + '</option>');
                        });
                        $.each(putSalesInfoSignMap, function (index, item) {
                            updateSalesInfoSign.append('<option value="' + index + '" >' + item + '</option>');
                        });
                        $.each(websiteSynchronousSignMap, function (index, item) {
                            synchronousFriendlyLinkSigns.append('<option value="' + index + '" >' + item + '</option>');
                            synchronousAdvertisingSigns.append('<option value="' + index + '" >' + item + '</option>');
                        });
                        form.render("select")
                    } else {
                        common.showFailMsg(res.msg)
                    }
                },
                error: function () {
                    common.showFailMsg('未知错误，请稍后重试！！')
                }
            });
        }

        function init_Search(whereCondition){
            table.render({
                elem: '#websiteListTable',
                method: 'post',
                url: '${ctx.path}/internal/websites/searchWebsites',
                limit: 50,
                page: true,
                autoSort: false,
                size: 'sm',
                id: 'websiteListTable',
                even: true,//隔行背景
                toolbar: "#toolbarTpl",
                defaultToolbar: [],
                contentType: 'application/json',
                where: whereCondition,
                cols: [[
                    {filed: 'uuid', type: 'checkbox', width: '35', align: 'center', rowspan: 2, fixed: "left"},
                    {field: 'websiteName', title: '网站名称', width: '10%', align: 'left', rowspan: 2},
                    {field: 'industry', title: '所属行业类型', width: '8%', align: 'left', rowspan: 2, templet: '#industry'},
                    {field: 'accessFailCount', title: '访问失败次数', width: '7%', align: 'left', rowspan: 2},
                    {field: 'accessFailTime', title: '发现故障时间', width: '9%', align: 'center', templet: '#accessFailTime', rowspan: 2},
                    {field: 'lastAccessTime', title: '最近访问时间', width: '9%', align: 'center', templet: '#lastAccessTime', rowspan: 2},
                    {field: 'updateTime', title: '更新时间', width: '10%', align: 'center', templet: '#updateTime', rowspan: 2},
                    {field: '', title: '域名信息', align: 'center', width: '28%', colspan: 7},
                    {field: '', title: '后台信息', align: 'center', width: '28%', colspan: 7},
                    {field: '', title: '数据库信息', align: 'center', width: '16%', colspan: 4},
                    {field: '', title: '服务器信息', align: 'center', width: '14%', colspan: 6},
                    {title: '操作', width: '7%', align: 'center', templet: '#operationTpl', fixed: "right", rowspan: 2}
                ],[
                    {field: 'domain', title: '网站域名', width: '12%', align: 'left', templet: '#domain'},
                    {field: 'websiteType', title: '销售网站类型', width: '7%', align: 'left',templet: '#websiteType'},
                    {field: 'friendlyLinkCount', title: '友情链接', width: '5%', align: 'left', templet: '#friendlyLinkCount'},
                    {field: 'advertisingCount', title: '广告', width: '4%', align: 'left', templet: '#advertisingCount'},
                    {field: 'registrar', title: '注册商', width: '5%', align: 'left'},
                    {field: 'analysis', title: '解析商', width: '5%', align: 'left'},
                    {field: 'expiryTime', title: '到期时间', width: '6%', align: 'center', templet: '#expiryTime'},
                    {field: 'backendDomain', title: '后台链接', width: '10%', align: 'left'},
                    {field: 'backendUserName', title: '后台用户', width: '8%', align: 'left'},
                    {field: 'backendPassword', title: '后台密码', width: '8%', align: 'left'},
                    {field: 'updateSalesInfoSign', title: '更新销售信息状态', width: '9%', align: 'left',templet: '#updateSalesInfoSign'},
                    {field: 'synchronousFriendlyLinkSign', title: '更新友链信息状态', width: '9%', align: 'left', templet:'#synchronousFriendlyLinkSign'},
                    {field: 'synchronousAdvertisingSign', title: '更新广告信息状态', width: '9%', align: 'left', templet: '#synchronousAdvertisingSign'},
                    {field: 'backgroundLoginStatus', title: '后台登陆状态', width: '8%', align: 'left', templet: '#backgroundLoginStatus'},
                    {field: 'databaseName', title: '数据库名称', width: '7%', align: 'left'},
                    {field: 'databaseUserName', title: '用户名', width: '7%', align: 'left'},
                    {field: 'databasePassword', title: '密码', width: '8%', align: 'left'},
                    {field: 'databaseStatus', title: '数据库登陆状态', width: '10%', align: 'left', templet: '#databaseStatus'},
                    {field: 'serverIP', title: 'IP', width: '10%', align: 'left'},
                    {field: 'serverUserName', title: '用户名', width: '7%', align: 'left'},
                    {field: 'serverPassword', title: '密码', width: '8%', align: 'left'},
                    {field: 'serverPort', title: '端口', width: '4%', align: 'left'},
                    {field: 'indexFileStatus', title: 'index文件状态', width: '7%', align: 'left', templet: '#indexFileStatus'},
                    {field: 'sftpStatus', title: 'sftp服务状态', width: '7%', align: 'left', templet: '#sftpStatus'},
                ]],
                height: 'full-70',
                done: function (res, curr, count) {
                }
            });
        }

        var active = {
            reload: function () {
                table.reload('websiteListTable', {
                    where: common.formToJsonObject('searchForm'),
                    page: {
                        curr: 1
                    }
                });
            },
        };

        form.on("submit(search)", function (data) {
            let postData = data.field;
            postData = common.jsonObjectTrim(postData);
            if (postData.friendlyLinkUrl !== "") {
                if (postData.friendlyLinkUrl.indexOf('http://') === -1) {
                    postData.friendlyLinkUrl = 'http://' + postData.friendlyLinkUrl
                }
            }
            postData.accessFailCount = parseInt(postData.accessFailCount);
            active['reload'].call(this);
            search = postData;
            return false;
        });

        table.on('tool(tableFilter)',function(obj){
            let data = obj.data,event = obj.event;
            switch (event) {
                case 'delWebsite':
                    delWebsite(data.uuid);
                    break;
                case 'modifyWebsiteInfo':
                    modifyWebsiteInfo(data.uuid);
                    break;
                case 'toFriendlyLink':
                    toFriendlyLink(data.uuid);
                    break;
                case 'toAdvertising':
                    toAdvertising(data.uuid);
                    break;
                default:
                    break;
            }
        });

        table.on('toolbar(tableFilter)',function(obj){
            var event = obj.event;
            switch (event) {
                case 'toAddWebsite':
                    toAddWebsite();
                    break;
                case 'deleteWebsites':
                    deleteWebsites();
                    break;
                case 'synchronousFriendlyLink':
                    synchronousFriendlyLink();
                    break;
                case 'synchronousAdvertising':
                    synchronousAdvertising();
                    break;
                case 'showBatchAddFriendlyLinkDialog':
                    showBatchAddFriendlyLinkDialog();
                    break;
                case 'batchModifyFriendlyLink':
                    batchModifyFriendlyLink();
                    break;
                case 'batchDelFriendlyLink':
                    batchDelFriendlyLink();
                    break;
                case 'showBatchAddAdvertisingDialog':
                    showBatchAddAdvertisingDialog();
                    break;
                case 'batchModifyAdvertising':
                    batchModifyAdvertising();
                    break;
                case 'batchDelAdvertising':
                    batchDelAdvertising();
                    break;
                case 'putSalesInfoToWebsite':
                    putSalesInfoToWebsite();
                    break;
                default:
                    break;
            }
        });

        function toAddWebsite() {
            okLayer.open("首页 / 其他 / 添加网站信息", "/internal/websites/toAddWebsite", "35%", "95%", null, function(){
                if(sign){
                    active['reload'].call(this);
                    sign = false;
                }
            },20);
        }

        function deleteWebsites(){
            let checkStatus = table.checkStatus('websiteListTable');
            let data = checkStatus.data;
            let uuidArr = [];
            $.each(data, function (index, item) {
                uuidArr.push(item.uuid);
            });
            if (uuidArr.length <= 0) {
                common.showFailMsg('请选择要操作的网站');
                return false;
            }
            layer.confirm("确定要删除所选网站吗", {icon: 3, title: '删除所选'}, function (index) {
                let postData = {};
                postData.uuids = uuidArr;
                $.ajax({
                    url: '/internal/websites/deleteWebsites',
                    data: JSON.stringify(postData),
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    timeout: 5000,
                    type: 'POST',
                    success: function (result) {
                        if (result.code === 200) {
                            common.showSuccessMsg('操作成功', function () {
                                active['reload'].call(this);
                            });
                        } else {
                            common.showFailMsg('操作失败');
                        }
                    },
                    error: function () {
                        common.showFailMsg('操作失败');
                    }
                });
                layer.close(index);
            })
        }

        function synchronousFriendlyLink() {
            let checkStatus = table.checkStatus('websiteListTable');
            let data = checkStatus.data;
            let uuidArr = [];
            $.each(data, function (index, item) {
                uuidArr.push(item.uuid);
            });
            if (uuidArr.length <= 0) {
                common.showFailMsg('请选择要同步的友链信息');
                return false;
            }
            let postData = {};
            postData.uuids = uuidArr;
            okLayer.open("同步友链信息", "/internal/websites/toSynchronousFriendlyLink", "30%", "60%", function (layero) {
                window[layero.find("iframe")[0]["name"]].initData(postData);
            }, function () {
                if (sign) {
                    active['reload'].call(this);
                    sign = false;
                }
            }, 60);
        }

        function synchronousAdvertising() {
            let checkStatus = table.checkStatus('websiteListTable');
            let data = checkStatus.data;
            let uuidArr = [];
            $.each(data, function (index, item) {
                uuidArr.push(item.uuid);
            });
            if (uuidArr.length <= 0) {
                common.showFailMsg('请选择要同步的广告');
                return false;
            }
            let postData = {};
            postData.uuids = uuidArr;
            okLayer.open("同步广告信息", "/internal/websites/toSynchronousAdvertising", "35%", "55%", function (layero) {
                window[layero.find("iframe")[0]["name"]].initData(postData);
            }, function () {
                if (sign) {
                    active['reload'].call(this);
                    sign = false;
                }
            }, 60);
        }

        function showBatchAddFriendlyLinkDialog() {
            let checkStatus = table.checkStatus('websiteListTable');
            let data = checkStatus.data;
            let uuidArr = [];
            $.each(data, function (index, item) {
                uuidArr.push(item.uuid);
            });
            if (uuidArr.length <= 0) {
                common.showFailMsg('请选择要增加友链的网站');
                return false;
            }
            let postData = {};
            postData.uuids = uuidArr;
            okLayer.open("增加友链", "/internal/websites/showBatchAddFriendlyLinkDialog", "35%", "80%", function (layero) {
                window[layero.find("iframe")[0]["name"]].initData(postData);
            }, function () {
                if (sign) {
                    active['reload'].call(this);
                    sign = false;
                }
            }, 60);
        }

        function batchModifyFriendlyLink() {
            let friendlyLinkUrl = '';
            if (search && search.friendlyLinkUrl) {
                friendlyLinkUrl = search.friendlyLinkUrl;
            }
            if (!friendlyLinkUrl) {
                common.showFailMsg('请选择先查询含有指定友链网站');
                return;
            }
            let checkStatus = table.checkStatus('websiteListTable');
            let data = checkStatus.data;
            let uuidArr = [];
            $.each(data, function (index, item) {
                uuidArr.push(item.uuid);
            });
            if (uuidArr.length <= 0) {
                common.showFailMsg('请选择要修改友链的网站');
                return false;
            }
            let postData = {};
            postData.uuid = uuidArr[0];
            postData.friendlyLinkUrl = friendlyLinkUrl;
            okLayer.open("指定网站修改友链", "/internal/websites/showBatchAddFriendlyLinkDialog", "35%", "80%", function (layero) {
                window[layero.find("iframe")[0]["name"]].init_link(postData, uuidArr);
            }, function () {
                if (sign) {
                    active['reload'].call(this);
                    sign = false;
                }
            }, 60);
        }

        function batchDelFriendlyLink() {
            let friendlyLinkUrl = '';
            if (search && search.friendlyLinkUrl) {
                friendlyLinkUrl = search.friendlyLinkUrl;
            }
            if (!friendlyLinkUrl) {
                common.showFailMsg('请选择先查询含有指定友链网站');
                return;
            }
            let checkStatus = table.checkStatus('websiteListTable');
            let data = checkStatus.data;
            let uuidArr = [];
            $.each(data, function (index, item) {
                uuidArr.push(item.uuid);
            });
            if (uuidArr.length <= 0) {
                common.showFailMsg('请选择要删除的友情链接');
                return false;
            }
            let postData = {};
            postData.uuids = uuidArr;
            layer.confirm('确认删除？', {offset: '120px'}, function (index) {
                $.ajax({
                    url: '/internal/websites/batchDelFriendlyLink',
                    type: 'POST',
                    headers: {
                        "Accept": 'application/json',
                        "Content-Type": 'application/json'
                    },
                    data: JSON.stringify(postData),
                    success: function (res) {
                        if (res.code === 200) {
                            layer.close(index);
                            common.showSuccessMsg("删除成功", active['reload'].call(this));
                        } else {
                            common.showFailMsg("删除失败");
                        }
                    },
                    error: function () {
                        common.showFailMsg('网络错误请稍后再试')
                    }
                });
            });
        }

        function showBatchAddAdvertisingDialog() {
            let checkStatus = table.checkStatus('websiteListTable');
            let data = checkStatus.data;
            let uuidArr = [];
            $.each(data, function (index, item) {
                uuidArr.push(item.uuid);
            });
            if (uuidArr.length <= 0) {
                common.showFailMsg('请选择要增加广告的网站');
                return false;
            }
            let postData = {};
            postData.uuids = uuidArr;
            okLayer.open("增加广告", "/internal/websites/showBatchAddAdvertisingDialog", "35%", "68%", function (layero) {
                window[layero.find("iframe")[0]["name"]].initData(postData);
            }, function () {
                if (sign) {
                    active['reload'].call(this);
                    sign = false;
                }
            }, 60);
        }

        function batchModifyAdvertising() {
            let advertisingTagname = '';
            if (search && search.advertisingTagname) {
                advertisingTagname = search.advertisingTagname;
            }
            if (!advertisingTagname) {
                common.showFailMsg('请选择先查询含有指广告网站');
                return;
            }
            let checkStatus = table.checkStatus('websiteListTable');
            let data = checkStatus.data;
            let uuidArr = [];
            $.each(data, function (index, item) {
                uuidArr.push(item.uuid);
            });
            if (uuidArr.length <= 0) {
                common.showFailMsg('请选择要修改广告信息的网站');
                return false;
            }
            let postData = {};
            postData.uuid = uuidArr[0];
            postData.advertisingTagname = advertisingTagname;
            let p = {};
            p.uuids = uuidArr;
            okLayer.open("修改广告信息", "/internal/websites/showBatchAddAdvertisingDialog", "35%", "73%", function (layero) {
                window[layero.find("iframe")[0]["name"]].initForm(postData, p);
            }, function () {
                if (sign) {
                    active['reload'].call(this);
                    sign = false;
                }
            }, 60);
        }

        function batchDelAdvertising() {
            let advertisingTagname = '';
            if (search && search.advertisingTagname) {
                advertisingTagname = search.advertisingTagname;
            }
            if (!advertisingTagname) {
                common.showFailMsg('请选择先查询含有指广告网站');
                return;
            }
            let checkStatus = table.checkStatus('websiteListTable');
            let data = checkStatus.data;
            let uuidArr = [];
            $.each(data, function (index, item) {
                uuidArr.push(item.uuid);
            });
            if (uuidArr.length <= 0) {
                common.showFailMsg('请选择要删除的广告');
                return false;
            }
            let postData = {};
            postData.uuids = uuidArr;
            layer.confirm('确认删除？', {offset: '120px'}, function (index) {
                $.ajax({
                    url: '/internal/websites/batchDelAdvertising',
                    type: 'POST',
                    headers: {
                        "Accept": 'application/json',
                        "Content-Type": 'application/json'
                    },
                    data: JSON.stringify(postData),
                    success: function (res) {
                        if (res.code === 200) {
                            layer.close(index);
                            common.showSuccessMsg("删除成功", active['reload'].call(this));
                        } else {
                            common.showFailMsg("删除失败");
                        }
                    },
                    error: function () {
                        common.showFailMsg('网络错误请稍后再试')
                    }
                });
            });
        }

        function putSalesInfoToWebsite(){
            let checkStatus = table.checkStatus('websiteListTable');
            let data = checkStatus.data;
            let uuidArr = [];
            $.each(data, function (index, item) {
                uuidArr.push(item.uuid);
            });
            if (uuidArr.length <= 0) {
                common.showFailMsg('请选择要推送销售信息的网站');
                return false;
            }
            let postData = {};
            postData.uuids = uuidArr;
            $.ajax({
                url: '/internal/websites/putSalesInfoToWebsite',
                type: 'POST',
                headers: {
                    "Accept": 'application/json',
                    "Content-Type": 'application/json'
                },
                data: JSON.stringify(postData),
                success: function (res) {
                    if (res.code === 200) {
                        common.showSuccessMsg("推送成功", function () {

                        });
                    } else {
                        common.showFailMsg(res.msg)
                    }
                },
                error: function () {
                    common.showFailMsg('未知错误，请稍后重试！！')
                }
            });
        }

        function modifyWebsiteInfo(data){
            okLayer.open("首页 / 其他 / 修改网站信息", "/internal/websites/toAddWebsite", "35%", "100%", function(layero){
                window[layero.find("iframe")[0]["name"]].initForm(data);
            },function(){
                if(sign){
                    active['reload'].call(this);
                    sign = false;
                }
            },20);
        }

        function delWebsite(uuid){
            layer.confirm('确认删除该网站信息？', {
                icon: 3,
                title: '删除网站信息',
                btn: ['确认', '取消'],
                yes: function () {
                    $.ajax({
                        url: '/internal/websites/delWebSite/' + uuid,
                        type: 'GET',
                        headers: {
                            "Accept": 'application/json',
                            "Content-Type": 'application/json'
                        },
                        success: function (res) {
                            if (res.code === 200) {
                                common.showSuccessMsg("删除成功", function () {
                                    table.reload('websiteListTable', {
                                        where: {},
                                        page: {
                                            curr: 1
                                        }
                                    });
                                });
                            } else {
                                common.showFailMsg(res.msg)
                            }
                        },
                        error: function () {
                            common.showFailMsg('未知错误，请稍后重试！！')
                        }
                    });
                }, btn2: function (index) {
                    layer.close(index);
                }
            });
        }

        function toAdvertising(uuid) {
            common.updateOrNewTab("/internal/websites/toAdvertising/" + uuid, "广告信息", uuid + "gg");
        }

        function toFriendlyLink(uuid) {
            common.updateOrNewTab("/internal/websites/toFriendlyLink/" + uuid, "友情链接信息", uuid + "yq");
        }
    });

</script>

<!-- 头工具栏模板 -->
<script type="text/html" id="toolbarTpl">
    <div class="layui-btn-group">
        <@shiro.hasPermission name="/internal/website/saveWebsite">
        <button class="layui-btn layui-btn-sm" lay-event="toAddWebsite">添加</button>
        </@shiro.hasPermission>
        <@shiro.hasPermission name="/internal/website/deleteWebsites">
        <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="deleteWebsites">
            <i class="layui-icon layui-icon-delete"></i>删除所选
        </button>
        </@shiro.hasPermission>
        <@shiro.hasPermission name="/internal/friendlyLink/synchronousFriendlyLink">
        <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="synchronousFriendlyLink">同步所选友链信息</button>
        </@shiro.hasPermission>
        <@shiro.hasPermission name="/internal/advertising/synchronousAdvertising">
        <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="synchronousAdvertising">同步所选广告信息</button>
        </@shiro.hasPermission>
        <@shiro.hasPermission name="/internal/friendlyLink/saveFriendlyLinks">
            <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="showBatchAddFriendlyLinkDialog">指定网站增加友链</button>
        </@shiro.hasPermission>
        <@shiro.hasPermission name="/internal/friendlyLink/saveFriendlyLink">
        <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="batchModifyFriendlyLink">指定网站修改友链</button>
        </@shiro.hasPermission>
        <@shiro.hasPermission name="/internal/friendlyLink/deleteFriendlyLinks">
        <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="batchDelFriendlyLink">指定网站删除友链</button>
        </@shiro.hasPermission>
        <@shiro.hasPermission name="/internal/advertising/saveAdvertising">
            <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="showBatchAddAdvertisingDialog">指定网站增加广告</button>
        </@shiro.hasPermission>
        <@shiro.hasPermission name="/internal/advertising/saveAdvertising">
            <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="batchModifyAdvertising">指定网站修改广告</button>
        </@shiro.hasPermission>
        <@shiro.hasPermission name="/internal/advertising/deleteAdvertisings">
            <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="batchDelAdvertising">指定网站删除广告</button>
        </@shiro.hasPermission>
        <@shiro.hasPermission name="/internal/website/putSalesInfoToWebsite">
            <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="putSalesInfoToWebsite">推送销售信息至站点</button>
        </@shiro.hasPermission>
    </div>
</script>

<script type="text/html" id="accessFailTime">
    {{d.accessFailTime == null ? "" :layui.util.toDateString(d.accessFailTime, 'yyyy-MM-dd HH:mm:ss')}}
</script>

<script type="text/html" id="lastAccessTime">
    {{d.lastAccessTime == null ? "" :layui.util.toDateString(d.lastAccessTime, 'yyyy-MM-dd HH:mm:ss')}}
</script>

<script type="text/html" id="updateTime">
    {{d.updateTime == null ? "" :layui.util.toDateString(d.updateTime, 'yyyy-MM-dd HH:mm:ss')}}
</script>

<script type="text/html" id="expiryTime">
    {{d.expiryTime == null ? "" :layui.util.toDateString(d.expiryTime, 'yyyy-MM-dd')}}
</script>

<script type="text/html" id="industry">
    {{# if(d.industry == 'SEOExtension'){ }}
    <span>SEO推广项目</span>
    {{# }else if(d.industry == 'BrandRelationsAndSentiment'){ }}
    <span>品牌公关舆情项目</span>
    {{# }else if(d.industry == 'CustomerSite'){ }}
    <span>客户网站项目</span>
    {{# }else if(d.industry == 'Game'){ }}
    <span>游戏类项目</span>
    {{# }else if(d.industry == 'Finance'){ }}
    <span>金融类项目</span>
    {{# }else if(d.industry == 'RealEstate'){ }}
    <span>房地产项目</span>
    {{# }else if(d.industry == 'Car'){ }}
    <span>汽车项目</span>
    {{# }else if(d.industry == 'Renovation'){ }}
    <span>装修项目</span>
    {{# }else if(d.industry == 'Information'){ }}
    <span>资讯类项目</span>
    {{# }else if(d.industry == 'Others'){ }}
    <span>其他</span>
    {{# } }}
</script>

<script type="text/html" id="websiteType">
    {{# if(d.websiteType == 'ASO'){ }}
    <span>ASO</span>
    {{# }else if(d.websiteType == 'Amazon'){ }}
    <span>亚马逊</span>
    {{# }else if(d.websiteType == 'Negative'){ }}
    <span>负面处理</span>
    {{# }else if(d.websiteType == 'Station'){ }}
    <span>整站排名</span>
    {{# }else if(d.websiteType == 'CustomerSite'){ }}
    <span>客户站点</span>
    {{# }else if(d.websiteType == 'InformationSite'){ }}
    <span>资讯站点</span>
    {{# } }}
</script>

<script type="text/html" id="updateSalesInfoSign">
    {{# if(d.updateSalesInfoSign == 'Refuse'){ }}
    <span>拒绝访问</span>
    {{# }else if(d.updateSalesInfoSign == 'Normal'){ }}
    <span>正常更新</span>
    {{# }else if(d.updateSalesInfoSign == 'OperatingFail'){ }}
    <span>操作失败</span>
    {{# }else if(d.updateSalesInfoSign == 'UpdateException'){ }}
    <span>更新异常</span>
    {{# }else if(d.updateSalesInfoSign == 'RequestException'){ }}
    <span>请求异常</span>
    {{# } }}
</script>

<script type="text/html" id="synchronousFriendlyLinkSign">
    {{# if(d.synchronousFriendlyLinkSign == 'Refuse'){ }}
    <span>拒绝访问</span>
    {{# }else if(d.synchronousFriendlyLinkSign == 'Normal'){ }}
    <span>正常更新</span>
    {{# }else if(d.synchronousFriendlyLinkSign == 'OperatingFail'){ }}
    <span>操作失败</span>
    {{# }else if(d.synchronousFriendlyLinkSign == 'UpdateException'){ }}
    <span>更新异常</span>
    {{# }else if(d.synchronousFriendlyLinkSign == 'RequestException'){ }}
    <span>请求异常</span>
    {{# } }}
</script>

<script type="text/html" id="synchronousAdvertisingSign">
    {{# if(d.synchronousAdvertisingSign == 'Refuse'){ }}
    <span>拒绝访问</span>
    {{# }else if(d.synchronousAdvertisingSign == 'Normal'){ }}
    <span>正常更新</span>
    {{# }else if(d.synchronousAdvertisingSign == 'OperatingFail'){ }}
    <span>操作失败</span>
    {{# }else if(d.synchronousAdvertisingSign == 'UpdateException'){ }}
    <span>更新异常</span>
    {{# }else if(d.synchronousAdvertisingSign == 'RequestException'){ }}
    <span>请求异常</span>
    {{# } }}
</script>

<script type="text/html" id="backgroundLoginStatus">
    {{# if(d.backgroundLoginStatus == 0){ }}
    <span>正常</span>
    {{# }else if(d.backgroundLoginStatus == 1){ }}
    <span>url地址错误</span>
    {{# }else if(d.backgroundLoginStatus == 2){ }}
    <span>用户名密码不正确</span>
    {{# } }}
</script>

<script type="text/html" id="databaseStatus">
    {{# if(d.databaseStatus == 0){ }}
    <span>正常</span>
    {{# }else{ }}
    <span>{{d.databaseStatus == null ? '' : d.databaseStatus}}</span>
    {{# } }}
</script>

<script type="text/html" id="indexFileStatus">
    <span>
    {{# if(d.indexFileStatus == 0){ }}
    <span>正常</span>
    {{# }else{ }}
    <span>异常</span>
    {{# } }}
    </span>
</script>

<script type="text/html" id="sftpStatus">
    <span>
    {{# if(d.sftpStatus == 0){ }}
    <span>正常</span>
    {{# }else if(d.sftpStatus == 1){ }}
    <span>{{d.sftpStatus == null ? '' : d.sftpStatus}}</span>
    {{# } }}
    </span>
</script>

<script type="text/html" id="domain">
    <a href="http://{{d.domain}}" style="color: #0c7df5;" target="_blank">{{d.domain == null ? '' :  d.domain}}</a>
</script>

<script type="text/html" id="friendlyLinkCount">
    <a href="#" lay-event="toFriendlyLink" style="color: #0c7df5;">{{d.friendlyLinkCount}}</a>
</script>

<script type="text/html" id="advertisingCount">
    <a href="#" lay-event="toAdvertising" style="color: #0c7df5;">{{d.advertisingCount}}</a>
</script>

<script type="text/html" id="operationTpl">
    <div class="layui-btn-group">
        <@shiro.hasPermission name="/internal/website/saveWebsite">
        <button type="button" class="layui-btn layui-btn-xs" lay-event="modifyWebsiteInfo">修改</button>
    </@shiro.hasPermission>
    <@shiro.hasPermission name="/internal/website/deleteWebsite">
    <button type="button" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delWebsite">删除</button>
    </@shiro.hasPermission>
    </div>
</script>

</body>
</html>