<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <style>
        .layui-btn {
            width: 150px;
        }
    </style>
</head>
<body>
<div class="ok-body">
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form" lay-filter="addClientUpgrade">
        <div class="layui-form-item">
            <label class="layui-form-label">程序类型</label>
            <input type="hidden" name="uuid">
            <div class="layui-input-block">
                <select name="programType" lay-verify="required">
                    <option value="New">New</option>
                    <option value="Old">Old</option>
                    <option value="Super">Super</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">当前版本</label>
            <div class="layui-input-block">
                <input type="text" name="version" placeholder="请输入当前版本" autocomplete="off" class="layui-input" lay-verify="version">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">目标版本</label>
            <div class="layui-input-block">
                <input type="text" name="targetVersion" placeholder="请输入目标版本" autocomplete="off" class="layui-input" lay-verify="version">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">最大升级数</label>
            <div class="layui-input-block">
                <input type="text" name="maxUpgradeCount" placeholder="请输入最大升级数" autocomplete="off" class="layui-input" lay-verify="num">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">升级状态</label>
            <div class="layui-input-block">
                <select name="status" lay-verify="required">
                    <option value="true">激活</option>
                    <option value="false">暂停</option>
                </select>
            </div>
        </div>
        <div style="position: fixed;bottom: 0;width: 100%;background:#fff;text-align: right;">
            <div style="margin: 0 10px 6px 10px; padding-top: 8px;border-top: solid 1px #e6e6e6">
                <button class="layui-btn" lay-submit lay-filter="commitClientUpgrade">确定</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <button class="layui-btn layui-btn-primary" id="close" style="margin-right: 20px">取消</button>
            </div>
        </div>
    </form>
</div>

<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script>

    let uuid_ = null;
    let layui_ = null;
    let terminalType_ = null;

    function initForm(data) {
        uuid_ = data.uuid;
        if (layui_ != null) {
            setForm(layui_, uuid_);
        }
    }

    function setTerminalType(terminalType){
        terminalType_ = terminalType
    }

    function setForm(l, u) {
        l.jquery.ajax({
            url: '/internal/clientUpgrade/getClientUpgrade2/' + u,
            type: 'get',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            success: function (res) {
                let data = res.data;
                data.status = data.status + "";
                if (res.code === 200) {
                    layui.form.val("addClientUpgrade", data);
                } else {
                    l.layer.msg(res.msg, {icon:5, time: 3000});
                }
            }
        });
    }

    layui.use(["form", "common", "jquery", "layer"], function () {
        let form = layui.form;
        let common = layui.common;
        let $ = layui.jquery;

        if (uuid_ != null) {
            setForm(layui, uuid_);
        } else {
            layui_ = layui;
        }

        form.on("submit(commitClientUpgrade)", function (data) {
            data.field = common.jsonObjectTrim(data.field);
            if(terminalType_ != null || terminalType_ !== ''){
                data.field.terminalType = terminalType_;
            }
            let v1 = data.field.version;
            let v2 = data.field.targetVersion;
            let result = versionStringCompare(v1, v2);
            if(result !== -1){
                common.showFailMsg("目标版本不能低于当前版本！");
                return false
            }
            if (!common.waitMoment()) {
                return false;
            }
            $.ajax({
                url: '/internal/clientUpgrade/saveClientUpgrade2',
                type: 'post',
                data: JSON.stringify(data.field),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                success: function (res) {
                    if (res.code === 200) {
                        common.showSuccessMsg("保存成功", function () {
                            parent.window.sign = true;
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    } else {
                        common.showFailMsg(res.msg);
                    }
                }
            });
            return false;
        });

        function versionStringCompare(preVersion, lastVersion){
            let sources = preVersion.split('.');
            let dests = lastVersion.split('.');
            let maxL = Math.max(sources.length, dests.length);
            let result = 0;
            for (let i = 0; i < maxL; i++) {
                let preValue = sources.length>i ? sources[i]:0;
                let preNum = isNaN(Number(preValue)) ? preValue.charCodeAt() : Number(preValue);
                let lastValue = dests.length>i ? dests[i]:0;
                let lastNum =  isNaN(Number(lastValue)) ? lastValue.charCodeAt() : Number(lastValue);
                if (preNum < lastNum) {
                    result = -1;
                    break;
                } else if (preNum > lastNum) {
                    result = 1;
                    break;
                }
            }
            return result;
        }

        $('#close').click(function () {
            parent.layer.close(parent.layer.getFrameIndex(window.name));
            return false;
        });

        form.verify({
            version: [
                /^\d+(.\d+)*$/,
                "版本号不合规范"
            ],
            num: [
                /^[1-9]\d*$/,
                "最大升级数必须为大于零的整数"
            ]
        });

    });

</script>

</body>
</html>