<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>刷量统计</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/static/ok-admin/css/sub-page.css">
    <style>
        /* 下拉条件框 */
        .my-collapse {
            position: relative;
            box-shadow: none;
        }

        .my-collapse * {
            box-shadow: none;
        }

        .my-collapse .layui-form-select dl,
        .my-collapse .layui-form-select .layui-anim {
            top: 33px !important;
        }

        .my-collapse > div:first-child {
            background: #f2f2f2;
            border: 1px solid #e6e6e6;
        }

        .my-collapse > div {
            padding: 6px 5px;
        }

        .my-hide {
            padding-bottom: 1px !important;
            width: 100%;
            display: none;
            position: absolute;
            top: 43px;
            left: 0;
            z-index: 894;
            background: #fff;
            border-left: 1px solid #e6e6e6;
            border-right: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        .my-collapse button {
            height: 30px;
            line-height: 30px;
        }

        .my-collapse .my-btn {
            height: 30px !important;
            line-height: 30px !important;
            padding: 0 18px;
            background-color: #45a3c2;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            font-size: 14px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
        }

        .my-collapse .my-btn:hover {
            opacity: .8;
            transition: opacity 0.5s;
        }

        .layui-input-inline input {
            height: 30px;
        }

        .layui-form-pane .layui-form-label {
            width: 116px;
            padding: 8px 15px;
            height: 30px;
            line-height: 13px;
            border-width: 1px;
            border-style: solid;
            border-radius: 2px 0 0 2px;
            text-align: center;
            background-color: #FBFBFB;
            overflow: hidden;
            box-sizing: border-box
        }

        .layui-inline label {
            border-right: none;
        }

        .layui-form-pane .layui-form-checkbox {
            margin: 0;
        }

        .layui-inline input {
            width: 180px;
            height: 30px;
        }

        .layui-inline:nth-child(1) input {
            width: 140px;
        }

        .layui-table-body .layui-table-cell {
            text-align: left;
        }

        .layui-table-body .laytable-cell-checkbox {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="ok-body">
    <div class="layui-tab layui-tab-card" lay-filter="refreshTab">
        <ul class="layui-tab-title" id="tabItem">
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-card">
                    <div class="layui-card-body ">
                        <form class="layui-form layui-form-pane" id="searchForm">
                            <div class="my-collapse">
                                <div>
<!--                                    <div class="layui-inline">-->
<!--                                        <select name="entryType" lay-filter="entryType">-->
<!--                                            <option value="qz">全站链接</option>-->
<!--                                            <option value="pt" selected>普通链接</option>-->
<!--                                            <option value="fm">负面链接</option>-->
<!--                                            <option value="bc">BC链接</option>-->
<!--                                        </select>-->
<!--                                    </div>-->
                                    <input type="hidden" id="entryType" name="entryType" value="pt">
                                    <input type="hidden" id="terminalType" name="terminalType" value="PC">
                                    <div class="layui-inline">
                                        <input type="text" name="groupName" id="groupName" autocomplete="off" placeholder="请输入分组查询" class="layui-input">
                                    </div>
                                    <div class="layui-inline">
                                        <input type="checkbox" name="groupNameFuzzyQuery" title="模糊搜索">
                                    </div>
                                    <div class="layui-inline">
                                        <input type="text" name="machineGroup" autocomplete="off" placeholder="请输入机器分组" class="layui-input">
                                    </div>
                                    <div class="layui-inline">
                                        <input type="text" name="customerName" id="customerName" autocomplete="off" placeholder="请输入客户名称" class="layui-input">
                                    </div>
                                    <!--                        <div class="layui-inline">-->
                                    <!--                            <select name="categoryTag">-->
                                    <!--                                <option value="">请选择分类标签</option>-->
                                    <!--                            </select>-->
                                    <!--                        </div>-->
                                    <div class="layui-inline">
                                        <select name="dayNum">
                                            <option value="">请选择历史记录</option>
                                            <option value="1">一天前</option>
                                            <option value="2">两天前</option>
                                            <option value="3">三天前</option>
                                            <option value="4">四天前</option>
                                            <option value="5">五天前</option>
                                            <option value="6">六天前</option>
                                        </select>
                                    </div>
                                    <div class="layui-inline">
                                        <button class="layui-btn" lay-submit lay-filter="search"
                                                id="searchBtn">搜索
                                        </button>
                                    </div>
                                    <div class="layui-inline">
                                        <button style="background: #897c00;color: #ffffff" class="layui-btn"
                                                type="reset">
                                            重置
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--数据表格-->
                <table class="layui-hide" id="refreshTable" lay-filter="refreshTable"></table>
            </div>
        </div>
    </div>
</div>
<!--js逻辑-->
<script src="/static/ok-admin/lib/layui/layui.js"></script>
<script src="/static/ok-admin/lib/nprogress/nprogress.js"></script>
<script>
    // 进度条加载提示
    NProgress.start();

    window.onload = function () {
        NProgress.done();
    };

    // layui相关
    layui.use(['element', 'table', 'form', 'jquery', 'common'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var common = layui.common;

        <@shiro.hasPermission name = "/internal/customerKeyword/searchCustomerKeywordLists" >
        window.searchCustomerKeywords = function (group) {
            let url = '/internal/customerKeyword/toKeywords';
            let id = group + '-关键字-O-FRS';
            let data = {
                group: group,
                status: '1',
                type: document.getElementById('entryType').value,
                terminal: document.getElementById('terminalType').value
            };
            updateOrNewTab(url, id, id ,data);
        };
        </@shiro.hasPermission>

        <@shiro.hasPermission name="/internal/customerKeyword/searchCustomerKeywordLists">
        window.findKeyword = function (optimizeGroupName, invalidRefreshCount) {
            let url = '/internal/customerKeyword/toKeywords';
            let id = optimizeGroupName + '-关键字-N-FRS';
            let data = {
                status: '1',
                type: document.getElementById('entryType').value,
                terminal: document.getElementById('terminalType').value
            };
            if (optimizeGroupName && optimizeGroupName !== '') {
                data.group = optimizeGroupName;
            }
            if (invalidRefreshCount && invalidRefreshCount !== '') {
                data.nrsd = '0';
                data.irc = invalidRefreshCount;
            } else {
                data.nrsd = '-1';
            }
            updateOrNewTab(url, id, id ,data);
        };
        </@shiro.hasPermission>

        window.resetInvaidRefreshCount = function (groupName, customerName, fullMatchGroup) {
            let condition = {};
            condition.customerName = customerName;
            condition.groupName = groupName;
            condition.fullMatchGroup = fullMatchGroup;
            condition.entryType = common.formToJsonObject("searchForm").entryType;
            $.ajax({
                url: '/internal/customerKeyword/resetInvalidRefresh',
                data: JSON.stringify(condition),
                type: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                success: function (res) {
                    if (res.code === 200) {
                        common.showSuccessMsg('重置成功', function () {
                            active['reload'].call(this);
                        });
                    } else {
                        common.showFailMsg('重置失败');
                    }
                },
                error: function () {
                    common.showFailMsg('网络异常请稍后再试');
                }
            });
        };

        init();

        function init() {
            let condition = common.formToJsonObject("searchForm");
            if (condition.dayNum === '') {
                condition.dayNum = 0;
            }
            init_keyword_type();
            tableInit(condition);
        }

        function init_keyword_type(data) {
            $.ajax({
                url: '/internal/common/getBusinessTypeByUserRole',
                dataType: 'json',
                async: false,
                type: 'get',
                success: function (res) {
                    if (res.code === 200) {
                        // $("#tabItem").empty();
                        let i = 0, one = 'pt', flag = true;
                        $.each(res.data, function (index, item) {
                            let businessItem = item.split("#");
                            $('#tabItem').append(
                                '<li data-type="' + businessItem[0] + '" data-terminal="PC" lay-id="'+businessItem[0] +'PC">' + businessItem[1] + '电脑</li>' +
                                '<li data-type="' + businessItem[0] + '" data-terminal="Phone" lay-id="'+businessItem[0]+'Phone">' + businessItem[1] + '手机</li>');
                            if (i++ === 0) {
                                one = businessItem[0];
                            }
                        });
                        let tabItem = document.getElementById('tabItem').children;
                        if (data) {
                            $('#entryType').val(data.type);
                            $('#terminalType').val(data.terminal);
                            element.tabChange('refreshTab', data.type+data.terminal);
                        } else {
                            tabItem[0].classList.add('layui-this');
                            $('#entryType').val(one);
                            $('#terminalType').val("PC");
                            element.tabChange('refreshTab', one+"PC");
                        }

                        form.render("select");
                    }
                }
            });
        }

        <@shiro.hasPermission name="/internal/refreshstatinfo/searchRefreshStatInfos">
        function tableInit(condition) {
            table.render({
                elem: '#refreshTable',
                method: 'post',
                url: '/internal/refreshstatistics/getRefreshDataByCondition',
                page: false,
                autoSort: true,
                size: 'sm',
                id: 'refreshTable',
                even: true,//隔行背景
                where: condition,
                defaultToolbar: ['filter'],
                contentType: 'application/json',
                cols: [[
                    {filed: 'uuid', type: 'checkbox', width: '2%', rowspan :2},
                    {filed: 'group', title: '类型', width: '10%', align: 'center', rowspan: 2 ,templet: '#group', sort: true},
                    {title: '关键字', width: '49%', align: 'center', colspan: 8},
                    {title: '刷的次数', width: '39%', align: 'center', colspan: 6}
                ],[
                    {field: 'totalKeywordCount', title: '总数', width: '6%', align: 'center', sort:true},
                    {
                        field: 'reachStandardKeywordCount', title: '达标数(金额)', width: '6%', align: 'center', sort: true, templet: function (d) {
                            if (d.reachStandardKeywordCount > 0) {
                                if (d.group === '总计') {
                                    return '<a href="javascript:findKeyword(\'\', \'\')" style="color: blue">' + d.reachStandardKeywordCount + '('
                                        + d.todaySubTotal + ')</a>';
                                }
                                return '<a href="javascript:findKeyword(\'' + d.group + '\', \'\')" style="color: blue">' + d.reachStandardKeywordCount + '('
                                    + d.todaySubTotal + ')</a>';
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'reachStandardPercentage', title: '达标率', width: '6%', align: 'center', sort: true, templet: function (d) {
                            if (d.reachStandardPercentage > 0) {
                                return d.reachStandardPercentage.toFixed(2) + '%';
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'zeroOptimizedCount', title: '没有刷量', width: '6%', align: 'center', sort: true, templet: function (d) {
                            if (d.zeroOptimizedCount > 0) {
                                return d.zeroOptimizedCount;
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'needOptimizeKeywordCount', title: '待刷数', width: '6%', align: 'center', sort: true, templet: function (d) {
                            if (d.needOptimizeKeywordCount > 0) {
                                return d.needOptimizeKeywordCount;
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'invalidKeywordCount', title: '无效刷量', width: '7%', align: 'center',sort:true, templet: function (d) {
                            if (d.invalidKeywordCount > 0) {
                                let html = '';
                                if (d.group === '总计') {
                                    html = '<a href="javascript:findKeyword(\'\', \'' + d.maxInvalidCount + '\')" style="color: blue">' + d.invalidKeywordCount
                                        + '</a>';
                                } else {
                                    html = '<a href="javascript:findKeyword(\'' + d.group + '\', \'' + d.maxInvalidCount + '\')" style="color: blue">'
                                        + d.invalidKeywordCount + '</a>';
                                }
                                <@shiro.hasPermission name="/internal/customerKeyword/resetInvalidRefreshCount">
                                let cus = document.getElementById('customerName').value;
                                if (d.group === '总计') {
                                    html += '<a href="javascript:resetInvaidRefreshCount(\'' + document.getElementById('groupName').value
                                        + '\',\'' + cus
                                        + '\', false)" style="color: blue;margin-left: 5px">重置</a>';
                                } else {
                                    html += '<a href="javascript:resetInvaidRefreshCount(\'' + d.group
                                        + '\',\'' + cus + '\', true)" style="color: blue;margin-left: 5px">重置</a>';
                                }
                                </@shiro.hasPermission>
                                return html;
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'failedKeywordCount', title: '失败数', width: '6%', align: 'center', sort: true, templet: function (d) {
                            if (d.failedKeywordCount > 0) {
                                return d.failedKeywordCount;
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'invalidKeywordPercentage', title: '无效占比', width: '6%', align: 'center', sort: true, templet: function (d) {
                            if (d.invalidKeywordPercentage > 0) {
                                let color = d.invalidKeywordPercentage > 20 ? "red" : (d.invalidKeywordPercentage > 10 ? "purple" : "#000");
                                return '<span style="color: ' + color + '">' + d.invalidKeywordPercentage.toFixed(2) + '%</span>';
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'totalOptimizeCount', title: '总次数', width: '6%', align: 'center', sort: true, templet: function (d) {
                            if (d.totalOptimizeCount > 0) {
                                return d.totalOptimizeCount;
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'totalOptimizedCount', title: '已刷次数', width: '6%', align: 'center', sort: true, templet: function (d) {
                            if (d.totalOptimizedCount > 0) {
                                return d.totalOptimizedCount;
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'needOptimizeCount', title: '待刷次数', width: '6%', align: 'center', sort: true, templet: function (d) {
                            if (d.needOptimizeCount > 0) {
                                return d.needOptimizeCount;
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'avgOptimizedCount', title: '平均有效刷量', width: '8%', align: 'center', sort: true, templet: function (d) {
                            if (d.avgOptimizedCount > 0) {
                                let color = d.avgOptimizedCount <= 30 ? "red" : "black";
                                return '<span style="color: ' + color + '">' + d.avgOptimizedCount.toFixed(2) + '</span>';
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'queryCount', title: '取词次数', width: '7%', align: 'center', sort: true, templet: function (d) {
                            if (d.queryCount > 0) {
                                return d.queryCount;
                            } else {
                                return '';
                            }
                        }
                    },
                    {
                        field: 'invalidOptimizePercentage', title: '无效占比', width: '6%', align: 'center', sort: true, templet: function (d) {
                            if (d.invalidOptimizePercentage > 0) {
                                let color = d.invalidOptimizePercentage > 20 ? "red" : (d.invalidOptimizePercentage > 10 ? "purple" : "#000");
                                return '<span style="color: ' + color + '">' + d.invalidOptimizePercentage.toFixed(2) + '%</span>';
                            } else {
                                return '';
                            }
                        }
                    }
                ]],
                height: 'full-148',
                done: function (res, curr, count) {
                }
            });
        }
        </@shiro.hasPermission>

        element.on('tab(refreshTab)', function (data) {
            let d = data.elem.context.dataset;
            $('#entryType').val(d.type);
            $('#terminalType').val(d.terminal);
            active['reload'].call(this);
        });

        //监听工具条
        var active = {
            reload: function () {
                let condition = common.formToJsonObject("searchForm");
                if (condition.dayNum === '') {
                    condition.dayNum = 0;
                }
                if (!condition.groupNameFuzzyQuery) {
                    condition.groupNameFuzzyQuery = '';
                }
                table.reload('refreshTable', {
                    where: condition
                });
            }
        };

        form.on("submit(search)", function (data) {
            let condition = data.field;
            condition = common.jsonObjectTrim(condition);
            if (condition.dayNum === '') {
                condition.dayNum = 0;
            }
            if (!condition.groupNameFuzzyQuery) {
                condition.groupNameFuzzyQuery = '';
            }
            table.reload('refreshTable', {
                where: condition
            });
            return false;
        });

        function dbs(d) {
            if (d.reachStandardKeywordCount > 0) {
                if (d.group === '总计') {
                    return '<a href="javascript:findKeyword(\'\', \'\')" style="color: blue">' + d.reachStandardKeywordCount + '('
                        + d.todaySubTotal + ')</a>';
                }
                return '<a href="javascript:findKeyword(\'' + d.group + '\', \'\')" style="color: blue">' + d.reachStandardKeywordCount + '('
                    + d.todaySubTotal + ')</a>';
            } else {
                return 1;
            }
        }

        function updateOrNewTab(url, tit, id ,data) {
            var update = false;
            var contentIframe = "<iframe src='" + url + "' lay-id='" + id + "'frameborder='0' scrolling='yes' width='100%' height='100%'";
            if (data.group) {
                contentIframe += " data-group='" + data.group + "'";
            }
            if (data.nrsd) {
                contentIframe += " data-nrsd='" + data.nrsd + "'";
            }
            if (data.irc) {
                contentIframe += " data-irc='" + data.irc + "'";
            }
            contentIframe += " data-status='" + data.status + "' data-type='" + data.type + "' data-terminal='" + data.terminal + "'></iframe>";
            parent.layui.$('.layui-tab-title li').each(function () {
                if (id === this.getAttribute('lay-id')) {
                    update = true;
                }
            });
            if (!update) {
                parent.layui.element.tabAdd('ok-tab', {
                    title: '<strong style="display: none;" is-close="true" lay-id="'+id+'" data-url="'+url+'"></strong>' +
                        '<i class="layui-icon">&#xe648;</i> ' + tit,
                        content: contentIframe,
                        id: id
                    }
                );
            }
            parent.layui.element.tabChange('ok-tab', id)
        }
    });
</script>
<script type="text/html" id="group">
    {{#  if(d.group === '总计') { }}
    {{ d.group }}
    {{# }else{ }}
    <a href="javascript:searchCustomerKeywords('{{ d.group }}')" style="color: blue">{{ d.group }}</a>
    {{# } }}
</script>
</body>
</html>
