<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>负面词设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/static/ok-admin/css/sub-page.css">
    <link rel="stylesheet" href="/static/layui/add-or-upd.css">
    <style>
        .ok-form {
            margin: 0;
        }

        .padding-ten-left {
            padding-left: 4px;
        }

        .padding-ten-right {
            padding-right: 4px;
        }
    </style>
</head>
<body>
<div style="padding: 10px">
    <div class="layui-row">
        <div class="layui-col-md4 padding-ten-right">
            <form class="layui-form layui-form-pane ok-form">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">负面词</label>
                    <div class="layui-input-block">
                        <textarea id="negativeKeywords" name="negativeKeywords" placeholder="请输入负面词内容，每个词使用英文逗号分隔" class="layui-textarea"
                                  style="height: 795px;" lay-verify="regexp"></textarea>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md6 padding-ten-right">
                        <@shiro.hasPermission name="/internal/config/updateNegativeKeywords">
                        <button class="layui-btn" style="width: 100%;" lay-submit lay-filter="commitNegativeKeywords">更新</button>
                        </@shiro.hasPermission>
                    </div>
                    <div class="layui-col-md6 padding-ten-left">
                        <div style="background: #897c00;color: #ffffff;width: 100%;" class="layui-btn" onclick="resetNegativeKeywords()">重置</div>
                    </div>
                </div>
            </form>
        </div>
        <div class="layui-col-md4 padding-ten-right padding-ten-left">
            <form class="layui-form layui-form-pane ok-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">搜索引擎</label>
                    <div class="layui-input-block">
                        <select name="searchEngine" id="searchEngine" lay-filter="searchEngine">
                            <option value="Baidu">百度</option>
                            <option value="Sogou">搜狗</option>
                            <option value="360">360</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">客户负面词</label>
                    <div class="layui-input-block">
                        <textarea name="customerNegativeKeywords" id="customerNegativeKeywords" placeholder="请输入客户负面词" class="layui-textarea"
                                  style="height: 752px;" lay-verify="regexp"></textarea>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md6 padding-ten-right">
                        <@shiro.hasPermission name="/internal/config/refreshCustomerNegativeKeywords">
                        <button class="layui-btn" style="width: 100%;" lay-submit lay-filter="commitCustomerNegativeKeywords">更新</button>
                        </@shiro.hasPermission>
                    </div>
                    <div class="layui-col-md6 padding-ten-left">
                        <@shiro.hasPermission name="/internal/config/updateCustomerNegativeKeywords">
                        <div style="background: #2f6289;color: #ffffff;width: 100%;" class="layui-btn">
                            选择文件
                            <input type="file" accept="text/plain" onchange="readTxtContent(this,1)"
                                   style="display: block;width: 100%;height: 100%;opacity: 0;cursor: pointer;position: absolute;left: 0;top: 0">
                        </div>
                        </@shiro.hasPermission>
                    </div>
                </div>
            </form>
        </div>
        <div class="layui-col-md4 padding-ten-left">
            <form class="layui-form layui-form-pane ok-form">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">网站白名单</label>
                    <div class="layui-input-block">
                        <textarea name="websiteWhiteList" id="websiteWhiteList" placeholder="请输入网站白名单" class="layui-textarea"
                                  style="height: 795px;" lay-verift="regexp"></textarea>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md6 padding-ten-right">
                        <@shiro.hasPermission name="/internal/config/refreshCustomerNegativeKeywords">
                        <button class="layui-btn" style="width: 100%;" lay-submit lay-filter="commitWebsiteWhiteList">更新</button>
                        </@shiro.hasPermission>
                    </div>
                    <div class="layui-col-md6 padding-ten-left">
                        <@shiro.hasPermission name="/internal/config/updateWebsiteWhiteList">
                        <div style="background: #2f6289;color: #ffffff;width: 100%;" class="layui-btn">
                            选择文件
                            <input type="file" accept="text/plain" onchange="readTxtContent(this,2)"
                                   style="display: block;width: 100%;height: 100%;opacity: 0;cursor: pointer;position: absolute;left: 0;top: 0">
                        </div>
                        </@shiro.hasPermission>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--js逻辑-->
<script src="/static/ok-admin/lib/layui/layui.js"></script>
<script src="/static/ok-admin/lib/nprogress/nprogress.js"></script>
<script>
    // 进度条加载提示
    NProgress.start();

    window.onload = function () {
        NProgress.done();
    };

    let negativeKeywords = '';
    var sign = false;

    function resetNegativeKeywords() {
        document.getElementById('negativeKeywords').value = negativeKeywords;
    }

    // layui相关
    layui.use(['element', 'table', 'form', 'jquery', 'laydate', 'okLayer', 'layer', 'common'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var layer = layui.layer;
        var okLayer = layui.okLayer;
        var common = layui.common;

        init();

        function init() {
            init_group();
        }

        function init_group() {
            $.ajax({
                url: '/internal/configs/getNegativeSetting',
                type: 'get',
                asyns: false,
                // 用于设置响应体的类型 注意 跟 data 参数没关系！！！
                dataType: 'json',
                success: function (res) {
                    if (res.code === 200) {
                        if (res.data.negativeKeywords) {
                            negativeKeywords = res.data.negativeKeywords;
                            document.getElementById('negativeKeywords').value = res.data.negativeKeywords;
                        }
                        if (res.data.searchEngine) {
                            let select = document.getElementById('searchEngine').children;
                            for (let i = 0; i < select.length; i++) {
                                if (select[i].value === res.data.searchEngine) {
                                    select[i].setAttribute('selected', '');
                                }
                            }
                            form.render('select');
                        }
                        if (res.data.customerNegativeKeywords) {
                            document.getElementById('customerNegativeKeywords').value = res.data.customerNegativeKeywords.replace(new RegExp(',', 'g'), '\n');
                        }
                        if (res.data.websiteWhiteList) {
                            document.getElementById('websiteWhiteList').value = res.data.websiteWhiteList.replace(new RegExp(',', 'g'), '\n');
                        }

                    }
                },
                error: function () {
                    common.showFailMsg('网络异常请稍后再试');
                }
            });
        }

        form.on("submit(commitNegativeKeywords)", function (data) {
            let negativeKeywords = data.field.negativeKeywords.trim();
            negativeKeywords = distinctKeywords(negativeKeywords.replace(new RegExp('\n', 'g'), ',').replace(new RegExp('，', 'g'), ','));
            if (window.negativeKeywords === negativeKeywords) {
                common.showSuccessMsg('更新成功', l_r());
                return false;
            }
            $.ajax({
                url: '/internal/configs/updateNegativeKeywords',
                data: JSON.stringify({negativeKeywords: negativeKeywords}),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                timeout: 2000,
                type: 'POST',
                success: function (res) {
                    if (res.code === 200) {
                        common.showSuccessMsg('更新成功', l_r());
                    } else {
                        common.showFailMsg('更新失败');
                    }
                },
                error: function () {
                    common.showFailMsg('网络异常请稍后再试');
                }
            });
            return false;
        });

        form.on("select(searchEngine)", function (data) {
            $.ajax({
                url: '/internal/configs/findCustomerNegativeKeywords/' + data.value,
                type: 'get',
                dataType: 'json',
                success: function (res) {
                    if (res.code === 200) {
                        document.getElementById('customerNegativeKeywords').value = res.data.replace(/,/g, '\n');
                    } else {
                        console.log(res);
                        common.showFailMsg('数据获取失败');
                    }
                },
                error: function () {
                    common.showFailMsg('网络异常请稍后再试');
                }
            });
        });

        form.on("submit(commitCustomerNegativeKeywords)", function (data) {
            let negativeKeywords = data.field.customerNegativeKeywords.trim();
            negativeKeywords = distinctKeywords(negativeKeywords.replace(new RegExp('\n', 'g'), ',').replace(new RegExp('，', 'g'), ','));
            let config = {};
            config.negativeKeywords = negativeKeywords;
            config.searchEngine = data.field.searchEngine;
            $.ajax({
                url: '/internal/configs/refreshCustomerNegativeKeywords',
                data: JSON.stringify(config),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                timeout: 5000,
                type: 'POST',
                dataType: 'json',
                success: function (res) {
                    if (res.code === 200) {
                        common.showSuccessMsg('更新成功', l_r());
                    } else {
                        common.showFailMsg('更新失败');
                    }
                },
                error: function () {
                    common.showFailMsg('网络异常请稍后再试');
                }
            });
            return false;
        });

        form.on("submit(commitWebsiteWhiteList)", function (data) {
            let websiteWhiteList = data.field.websiteWhiteList.trim();
            websiteWhiteList = distinctKeywords(websiteWhiteList.replace(new RegExp('\n', 'g'), ',').replace(new RegExp('，', 'g'), ','), true);
            if ('wu-<>wu<>-wu' === websiteWhiteList) {
                return false;
            }
            $.ajax({
                url: '/internal/configs/refreshWebsiteWhiteList',
                data: JSON.stringify({websiteWhiteList: websiteWhiteList}),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: 'post',
                dataType: 'json',
                success: function (res) {
                    if (res.code === 200) {
                        common.showSuccessMsg('更新成功', l_r());
                    } else {
                        common.showFailMsg('更新失败');
                    }
                },
                error: function () {
                    common.showFailMsg('网络异常请稍后再试');
                }
            });
            return false;
        });

        window.readTxtContent = function (ele, flag) {
            if (ele.value === '') {
                return false;
            }
            let file = ele.files[0];
            if (file.name.substring(file.name.lastIndexOf('.')) !== '.txt') {
                common.showFailMsg('只能选择TXT文件');
                return false;
            }
            let p_d = new FormData();
            p_d.append('file', file);
            $.ajax({
                url: '/internal/configs/getFileMsg',
                type: 'post',
                data: p_d,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: function (res) {
                    if (res.code === 200) {
                        try {
                            let reader = new FileReader();
                            reader.readAsText(file, res.data);
                            // 读取完文件之后会回来这里
                            reader.onload = function (e) {
                                if (flag === 1) {
                                    document.getElementById('customerNegativeKeywords').value = e.target.result;
                                } else {
                                    document.getElementById('websiteWhiteList').value = e.target.result;
                                }
                            };
                        } catch (e) {
                            common.showFailMsg('读取失败');
                            console.error(e);
                        }
                        ele.value = '';
                    } else {
                        common.showFailMsg('数据获取失败');
                    }
                },
                error: function () {
                    common.showFailMsg('网络异常请稍后再试');
                }
            });
        };

        function distinctKeywords(str, flag) {
            let strArr = str.split(',');
            let obj = {}, newArr = [];
            for (let i = 0; i < strArr.length; i++) {
                if (!obj[strArr[i]] && strArr[i] !== '') {
                    if (strArr[i] === '') {
                        continue;
                    }
                    if (flag) {
                        if (!/\./.test(strArr[i]) || /\.$/.test(strArr[i])) {
                            common.showFailMsg('网站白名单每行都需要拥有网址喔');
                            return 'wu-<>wu<>-wu';
                        }
                    }
                    newArr.push(strArr[i]);
                    obj[strArr[i]] = 'exist'
                }
            }
            return newArr.toString();
        }

        function l_r() {
            location.reload();
        }

        form.verify({
            regexp: [
                /(^$)|(^[a-zA-Z0-9\u4e00-\u9fa5.,，\n ]+$)/,
                "负面词每个单词使用,号分隔,不能含有其他字符"
            ]
        });
    });
</script>
</body>
</html>
