<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>分组信息设置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/static/ok-admin/lib/style/admin.css">
    <link rel="stylesheet" href="/static/ok-admin/lib/style/template.css">
    <link rel="stylesheet" href="/static/ok-admin/page/groupSetting/groupSetting.css">
</head>
<style>
    .layui-tab-content {
        padding: 0px;
    }
    .layui-card-body {
        position: relative;
        padding: 0px;
        line-height: 24px;
    }
    .layui-table, .layui-table-view {
        margin: 0px;
        border-width: 1px;
    }
    .my-collapse > div:first-child {
        background: #f2f2f2;
        border: 0px;
    }
</style>
<body>
<div class="layui-tab layui-tab-card" lay-filter="groupSettingTab">
    <ul class="layui-tab-title">
        <li lay-id="PC" class="layui-this" data-terminal="PC">电脑</li>
        <li lay-id="Phone" data-terminal="Phone">手机</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <form class="layui-form layui-form-pane" id="searchForm">
                <input type="hidden" name="terminalType" id="terminalType" value="<#if terminalTypeFromATP?exists>${terminalTypeFromATP}<#else>PC</#if>">
                <div class="my-collapse">
                    <div class="out-condition">
                        <div class="layui-inline" style="width: 160px">
                            <input type="text" name="operationCombineName" id="operationCombineName" value="<#if operationCombineNameFromATP?exists>${operationCombineNameFromATP}</#if>"
                                   placeholder="请输入操作组合名称" class="layui-input">
                        </div>

                        <div class="layui-inline" style="width: 140px">
                            <div class="layui-input-inline">
                                <input type="text" name="optimizedGroupName" id="optimizedGroupName" placeholder="请输入优化组名" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline" style="width: 160px">
                            <div class="layui-input-inline">
                                <select name="operationType" lay-search id="operationType" lay-filter="operationTypeFilter">
                                    <option value="">操作类型</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline" style="width: 160px">
                            <div class="layui-input-inline">
                                <select name="ownerSelect" lay-search id="ownerSelect" lay-filter="operationTypeFilter">
                                    <option value="">归属人</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline" style="width: 160px">
                            <div class="layui-input-inline">
                                <select name="searchEngine" lay-search id="searchEngine" lay-filter="operationTypeFilter">
                                    <option value="">搜索引擎</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="checkbox" name="hasRemainingAccount" id="hasRemainingAccount" title="剩分组设置占比" lay-filter="oneChecked"/>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <button class="layui-btn" lay-submit="" lay-filter="search" id="searchBtn">搜索</button>
                        </div>

                        <div class="layui-inline">
                            <button style="background: #897c00;color: #ffffff" class="layui-btn" type="reset">
                                重置
                            </button>
                        </div>

                        <@shiro.hasPermission name="/internal/operationCombine/saveOperationCombine">
                        <div class="layui-inline">
                            <div class="layui-btn layui-btn-sm" onclick="toOperationCombineAdd()">
                                添加
                            </div>
                        </div>
                        </@shiro.hasPermission>

                        <@shiro.hasPermission name="/internal/group/getAvailableOptimizationGroups">
                        <div class="layui-inline">
                            <div class="layui-btn layui-btn-sm" onclick="toSearchNeedAddGroup()">
                                查询需要添加的优化组
                            </div>
                        </div>
                        </@shiro.hasPermission>
                    </div>
                </div>
            </form>

        </div>
        <div id="groupSettingBody" style="overflow-y: scroll;padding-bottom: 5px;">
            <div style="width: 99.2%" class="layui-fluid layadmin-maillist-fluid">
                <div class="layui-form" id="data_list"></div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="page_nav"></div>

<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script src="/static/ok-admin/js/somePublic.js"></script>

<script>
    getHeight();
    var sign = false;
    var searchOpen = false;
    function getHeight(){
        let b = document.getElementById('groupSettingBody');
        let h = window.innerHeight || document.body.offsetHeight;
        b.style.height = (h - 145) + 'px';
    }

    layui.use(['element', 'form', 'jquery', 'laypage', 'okLayer', 'layer','common'], function () {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var layer = layui.layer;
        var okLayer = layui.okLayer;
        var laypage = layui.laypage;
        var common = layui.common;
        var operationTypes ;
        var combineUsers ;

        let ternimalType225 = $('#terminalType').val();

        element.tabChange('groupSettingTab', ternimalType225);

        element.on('tab(groupSettingTab)', function (data) {
            var d = data.elem.context.dataset;
            $('#terminalType').val(d.terminal);
            init_operationType();
            let pageConf = common.formToJsonObject('searchForm');
            if (pageConf.hasRemainingAccount){
                pageConf.hasRemainingAccount = true;
            }else{
                pageConf.hasRemainingAccount = false;
            }
            if (searchOpen === true) {
                initLayPage(pageConf);
            }
        });

        $(window).resize(function(){
            getHeight();
        });

        init_operationType();
        init_combineUser();
        init_searchEngine();
        function init_operationType(){
            let terminalType = $('#terminalType').val();
            $.ajax({
                url: '/internal/groupsetting/getOperationTypes/'+terminalType,
                dataType: 'json',
                type: 'post',
                async: false,
                success: function (res) {
                    if (res.code === 200){
                        let data =res.data;
                        operationTypes = data;
                        $("#operationType").empty().append('<option value="">操作类型</option>');
                        $.each(data, function (index, item) {
                            $('#operationType').append(
                                '<option value="' + item + '">' + item + '</option>');// 下拉菜单里添加元素
                        });
                        form.render("select");
                    }
                }
            });
        }
        function init_searchEngine(){
            let terminalType = $('#terminalType').val();
            var postData={}
            postData.terminalType=terminalType
            $.ajax({
                url: '/internal/common/getSearchEngines',
                dataType: 'json',
                data:JSON.stringify(postData),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: 'POST',
                async: false,
                success: function (res) {
                    if (res.code === 200){
                        let data =res.data;
                        $("#searchEngine").empty().append('<option value="">搜索引擎</option>');
                        $.each(data, function (index, item) {
                            $('#searchEngine').append(
                                '<option value="' + item + '">' + item + '</option>');// 下拉菜单里添加元素
                        });
                        form.render("select");
                    }
                }
            });
        }
        function init_combineUser(){
            let terminalType = $('#terminalType').val();
            $.ajax({
                url: '/internal/operationcombine/getCombineUser/'+terminalType,
                dataType: 'json',
                type: 'get',
                async: false,
                success: function (res) {
                    if (res.code === 200){
                        let data =res.data;
                        combineUsers = data;
                        $("#ownerSelect").empty().append('<option value="">归属人</option>');
                        $.each(data, function (index, item) {
                            $('#ownerSelect').append(
                                '<option value="' + item.username + '">' + item.creator + '</option>');// 下拉菜单里添加元素
                        });
                        form.render("select");
                    }
                }
            });
        }

        form.on('select(operationTypeFilter)', function(data){
            if (data.elem.value !== '') {
                $('#hasRemainingAccount').prop("checked", false);
            } else {
                $('#hasRemainingAccount').prop("checked", false);
            }
            form.render('checkbox');
        });

        form.on('checkbox(oneChecked)', function(data){
            $('#searchBtn').click();
        });

        form.on('submit(search)', function (data) {
            searchOpen = true;
            var pageConf = data.field;
            if (pageConf.hasRemainingAccount) {
                pageConf.hasRemainingAccount = true;
            } else {
                pageConf.hasRemainingAccount = false;
            }
            pageConf.limit = 50;
            pageConf.page = 1;
            $.each(pageConf,function(idx,item){
                pageConf[idx] = $.trim(item)
            });
            initLayPage(pageConf);
            return false;
        });

        if (document.getElementById('operationCombineName').value){
            $('#searchBtn').click();
        }

        window.toOperationCombineAdd = function(){
            let data = {};
            data.operationTypes = operationTypes;
            data.operationCombineUuid = null;
            data.remainAccount = 100;
            data.currentAccount = 0;
            data.terminalType = $('#terminalType').val();
            okLayer.open("终端管理 / 分组信息 / 添加操作组合", "/internal/groupsetting/toGroupSettingAdd", "60%", "90%", function(layero){
                window[layero.find("iframe")[0]["name"]].initForm(data);
            }, function () {
                if (sign) {
                    let pageConf = common.formToJsonObject('searchForm');
                    if (pageConf.hasRemainingAccount){
                        pageConf.hasRemainingAccount = true;
                    }else{
                        pageConf.hasRemainingAccount = false;
                    }
                    initLayPage(pageConf);
                    sign = false;
                }
            });
        };

        window.toSearchNeedAddGroup = function(){
            let data = {};
            data.terminalType = $('#terminalType').val();
            okLayer.open("终端管理 / 分组信息 / 查询需要添加的优化组", "/internal/groupsetting/toSearchNeedAddGroup", "30%", "90%", function(layero){
                window[layero.find("iframe")[0]["name"]].initForm(data);
            }, function () {
                if (sign) {
                    let pageConf = common.formToJsonObject('searchForm');
                    if (pageConf.hasRemainingAccount){
                        pageConf.hasRemainingAccount = true;
                    }else{
                        pageConf.hasRemainingAccount = false;
                    }
                    initLayPage(pageConf);
                    sign = false;
                }
            });
        };

        window.toGroupSettingAdd = function(operationCombineUuid,operationCombineName,maxInvalidCount,remainAccount){
            let data = {};
            let groupNames = $('#groupNameStr' + operationCombineUuid).text() === '暂无' ? '' : $('#groupNameStr' + operationCombineUuid).text();
            data.operationCombineUuid = operationCombineUuid;
            data.operationCombineName = operationCombineName;
            data.maxInvalidCount = maxInvalidCount;
            data.combineUsers=combineUsers
            data.groupNames = groupNames;
            data.operationTypes = operationTypes;
            data.remainAccount = remainAccount;
            data.currentAccount = 0;
            data.terminalType = $('#terminalType').val();
            okLayer.open("终端管理 / 分组信息 / 添加操作组合", "/internal/groupsetting/toGroupSettingAdd", "60%", "90%", function(layero){
                window[layero.find("iframe")[0]["name"]].initForm(data);
            }, function () {
                if (sign) {
                    let pageConf = common.formToJsonObject('searchForm');
                    if (pageConf.hasRemainingAccount){
                        pageConf.hasRemainingAccount = true;
                    }else{
                        pageConf.hasRemainingAccount = false;
                    }
                    initLayPage(pageConf);
                    sign = false;
                }
            });
        };

        window.toGroupSettingUpdate = function(operationCombineUuid, operationCombineName, remainingAccount, machineUsedPercent, uuid){
            let data = {};
            data.uuid = uuid;
            data.operationCombineName = operationCombineName;
            data.operationCombineUuid = operationCombineUuid;
            data.operationTypes = operationTypes;
            data.combineUsers=combineUsers
            data.remainAccount = remainingAccount;
            data.currentAccount = machineUsedPercent;
            data.terminalType = $('#terminalType').val();
            okLayer.open("终端管理 / 分组信息 / 更新操作组合<span style='color: red'>(需要更新的字段请点击标红)</span>", "/internal/groupsetting/toGroupSettingUpdate", "60%", "90%", function(layero){
                window[layero.find("iframe")[0]["name"]].initForm(data);
            }, function () {
                if (sign) {
                    let pageConf = common.formToJsonObject('searchForm');
                    if (pageConf.hasRemainingAccount){
                        pageConf.hasRemainingAccount = true;
                    }else{
                        pageConf.hasRemainingAccount = false;
                    }
                    initLayPage(pageConf);
                    sign = false;
                }
            });
        };

        window.toGroupSettingBatchUpdate = function(operationCombineUuid, operationCombineName){
            let data = {};
            data.uuid = null;
            data.operationCombineName = operationCombineName;
            data.operationCombineUuid = operationCombineUuid;
            data.operationTypes = operationTypes;
            data.combineUsers=combineUsers
            data.remainAccount = 100;
            data.currentAccount = 0;
            data.terminalType = $('#terminalType').val();
            okLayer.open("终端管理 / 分组信息 / 批量设置操作组合<span style='color: red'>(需要更新的字段请点击标红)</span>", "/internal/groupsetting/toGroupSettingUpdate", "60%", "90%", function(layero){
                window[layero.find("iframe")[0]["name"]].initForm(data);
            }, function () {
                if (sign) {
                    let pageConf = common.formToJsonObject('searchForm');
                    if (pageConf.hasRemainingAccount){
                        pageConf.hasRemainingAccount = true;
                    }else{
                        pageConf.hasRemainingAccount = false;
                    }
                    initLayPage(pageConf);
                    sign = false;
                }
            });
        };

        function initLayPage(pageConf) {
            var load_index = layer.load(2, {shade: false}); //添加laoding 0-2
            if (!pageConf) {
                pageConf = {};
                pageConf.limit = 30;
                pageConf.page = 1;
            }
            if(!pageConf.page){
                pageConf.page = 1;
            }
            if (!pageConf.limit) {
                pageConf.limit = 30;
            }
            $.ajax({
                url: '/internal/groupsetting/getGroupSettings',
                data: JSON.stringify(pageConf),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                timeout: 20000,
                type: 'POST',
                success: function (result) {
                    laypage.render({
                        elem: 'page_nav',
                        count: result.count,
                        curr: pageConf.page,
                        limit: pageConf.limit,
                        limits: [10, 30, 50, 100, 500, 1000],
                        first: '首页',
                        last: '尾页',
                        layout: ['prev', 'page', 'next', 'count', 'limit'],
                        jump: function (obj, first) {
                            if (!first) {
                                pageConf.page = obj.curr;
                                pageConf.limit = obj.limit;
                                initLayPage(pageConf);
                            }
                        }
                    });
                    init_data(result.data);
                    layer.close(load_index);
                },
                error: function () {
                    common.showFailMsg('获取分组信息失败，请稍后再试');
                }
            });
        }

        function init_data(data) {
            $("#data_list").html('');
            $.each(data, function (index, item) {
                let htm = '';
                let color ='';
                if(item.defaultEngine==1)
                    color='#CF1900'
                htm += '<div class="data-item">\n'
                    +'<input type="hidden" name="operationCombineUuid" value="'+item.uuid+'">'
                    + '                        <div class="layui-row">\n'
                    + '                            <div class="layui-col-md12">\n'
                    + '                                <div class="data-head">\n'
                    + '                                     <div class="layui-col-md2 skip importantText" title="'+item.operationCombineName+'---'+item.remainingAccount+'%">'+ item.creator + '&nbsp;&nbsp;&nbsp;&nbsp;' + item.operationCombineName+'</div>\n'
                    + '                                     <div class="layui-col-md1" ><span style="color:'+color+' " id="defaultSearchEngine'+item.uuid+'">'+item.searchEngine+'</span></div>\n'

                    + '                                     <div class="layui-col-md1" onclick=changeMaxInvalidCount("'+item.uuid+'")>最大无效点击数:<span style="color: #00a65a" id="maxInvalidCount'+item.uuid+'">'+item.maxInvalidCount+'</span></div>\n'
                    + '                                     <div class="layui-col-md2 skip" onclick=changeGroupNames("'+item.uuid+'")>分组:<span style="color: #00a65a" id="groupNameStr'+item.uuid+'">'+getGroupNameStrByUuid(item.uuid)+'</span></div>\n'

                    + '                                     <div class="layui-col-md6   head-operation" title="操作" style="float: right;margin-left: 55px">\n'
                    + '                                         <div class="layui-col-md2" >'
                    + '                                              <a href="javascript:void(0)" onclick=showGroupQueueDialog("' + item.uuid + '")>分组详情 </a>'
                    + '                                          </div>\n'
                    + '                                         <div class="layui-col-md2" )><a href="javascript:void(0)" onclick=alterSearchEngine("'+item.uuid+'","'+item.searchEngine+'","'+item.defaultEngine+'")>修改搜索引擎</a></div>\n'
                    + '                                         <div class="layui-col-md2">'
                    + '                                              <a href="javascript:void(0)" onclick=toGroupSettingAdd("' + item.uuid + '","' + item.operationCombineName + '","' + item.maxInvalidCount + '","'+item.remainingAccount+'")>新增操作组 </a>'
                    + '                                         </div>\n'
                    + '                                         <div class="layui-col-md3">'
                    + '                                              <a href="javascript:void(0)" onclick=toGroupSettingBatchUpdate("' + item.uuid +'","' + item.operationCombineName +'")>批量修改操作组 </a>'
                    + '                                         </div>\n'
                    + '                                         <div class="layui-col-md3">'
                    + '                                              <a href="javascript:void(0)" onclick=delOperationCombine("' + item.uuid + '")>删除操作组合 </a>'
                    + '                                         </div>\n'
                    + '                                     </div>\n'
                    + '                            </div>'
                    + '                           </div>';
                if(item.groupSettings.length > 0){
                    htm += '                            <div class="layui-col-md12">\n'
                        + '                                <div class="data-body">\n'
                        + '                                    <div class="body-title">\n'
                        + '                                            <div class="layui-col-md1" style="width: 10%">操作类型</div>\n'
                        + '                                            <div class="layui-col-md1" style="width: 9%">分组设置占比</div>\n'
                        + '                                            <div class="layui-col-md1" style="width: 8%">网站统计</div>\n'
                        + '                                            <div class="layui-col-md1" style="width: 9%">是否访问目标网站</div>\n'
                        + '                                            <div class="layui-col-md1" style="width: 7%">页数</div>\n'
                        + '                                            <div class="layui-col-md1" style="width: 7%">每页条数</div>\n'
                        + '                                            <div class="layui-col-md1" style="width: 10%">Cookie设置</div>\n'
                        + '                                            <div class="layui-col-md1" style="width: 10%">进入页次数</div>\n'
                        + '                                            <div class="layui-col-md2" style="width: 10%">刷多少个词换IP</div>\n'
                        + '                                            <div class="layui-col-md1" style="width: 10%">没结果随机点</div>\n'
                        + '                                            <div class="layui-col-md1" style="width: 10%">操作</div>\n'
                        + '                                    </div>\n';
                    $.each(item.groupSettings, function (index2, groupSetting) {
                        htm +='                                    <div class="body-content">\n'
                            + '                                         <div class="layui-col-md1" style="width: 10%">'
                            +                                               groupSetting.operationType
                            + '                                         </div>\n'
                            + '                                         <div class="layui-col-md1" style="width: 9%">'
                            +                                               groupSetting.machineUsedPercent+'%'
                            + '                                         </div>\n'
                            + '                                         <div class="layui-col-md1" style="width: 8%">'
                            +                                               getStatisticText(groupSetting.disableStatistics)
                            + '                                         </div>\n'
                            + '                                         <div class="layui-col-md1" style="width: 9%">'
                            +                                               getVisitWebsiteText(groupSetting.disableVisitWebsite)
                            + '                                         </div>\n'
                            + '                                         <div class="layui-col-md1" style="width: 7%">'
                            +                                               groupSetting.page
                            + '                                         </div>\n'
                            + '                                         <div class="layui-col-md1" style="width: 7%">'
                            +                                               getPageSizeText(groupSetting.pageSize)
                            + '                                         </div>\n'
                            + '                                         <div class="layui-col-md1" style="width: 10%">'
                            +                                               getCookieText(groupSetting.clearCookie)
                            + '                                         </div>\n'
                            + '                                         <div class="layui-col-md1" style="width: 10%">'
                            +                                               groupSetting.entryPageMinCount + ' - ' + groupSetting.entryPageMaxCount
                            + '                                         </div>\n'
                            + '                                         <div class="layui-col-md2" style="width: 10%">'
                            +                                               groupSetting.optimizeKeywordCountPerIP
                            + '                                        </div>\n'
                            + '                                        <div class="layui-col-md1" style="width: 10%">'
                            +                                               getRandomlyClickNoResultText(groupSetting.randomlyClickNoResult)
                            + '                                        </div>\n'
                            + '                                        <div class="layui-col-md1 body-operation" style="width: 10%">'
                            + '                                             <input type="hidden" value="'+item.groupSettings.length+'" id="groupSettingCount'+item.uuid+'"/>'
                            <@shiro.hasPermission name="/internal/groupsetting/updateGroupSetting">
                            + '                                             <a href="javascript:void(0)" onclick=toGroupSettingUpdate("' + item.uuid +'","' + item.operationCombineName +'","' + item.remainingAccount +'","' + groupSetting.machineUsedPercent +'","' + groupSetting.uuid +'")>修改 </a>'
                            </@shiro.hasPermission>
                            <@shiro.hasPermission name="/internal/groupsetting/delGroupSetting">

                            + '                                             <a href="javascript:void(0)" onclick=delGroupSetting2("' + item.uuid + '","' + groupSetting.uuid + '")>删除 </a>'
                            </@shiro.hasPermission>
                            + '                                         </div>'
                            + '                                    </div>\n';
                    });
                    htm +='                                </div>\n'
                        + '                            </div>\n'
                        + '                        </div>\n'
                        + '                    </div>\n'
                        + '                </div>';
                }
                $("#data_list").append(htm);
            })
        }
        // 改变浏览器默认状态
        function changeCustomerStatus (uuid,newStatus) {
            var postData = {};
            postData.uuid = uuid;
            postData.statu = newStatus;
            $.ajax({
                url: '/internal/operationcombine/alterDefaultSearchEngine',
                type: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify(postData),
                success: function (result) {
                    if (result.code === 200) {
                        common.showSuccessMsg('操作成功');

                    } else {
                        common.showFailMsg('操作失败');
                    }
                },
                error: function () {
                    common.showFailMsg('操作失败');
                }
            });


        };

        window.getGroupNameStrByUuid = function(uuid){
            $.ajax({
                url: '/internal/operationcombine/getGroupNames2/' + uuid,
                type: 'POST',
                dataType:'json',
                success: function (res) {
                    if (res.code === 200) {
                        let data = res.data;
                        var groupNameStr = "";
                        if (data.length === 0) {
                            groupNameStr = '暂无';
                        } else {
                            $.each(data, function (idx, value) {
                                groupNameStr += value + ",";
                            });
                            groupNameStr = groupNameStr.substring(0, groupNameStr.length - 1);
                        }
                        $('#groupNameStr' + uuid).text(groupNameStr);
                        $('#groupNameStr' + uuid).attr("title", groupNameStr);

                    } else {
                        common.showFailMsg('获取操作组合下的分组数据失败！');
                    }
                },
                error: function () {
                    common.showFailMsg('获取操作组合下的分组数据失败！');
                }
            });
        };

        window.changeMaxInvalidCount = function(operationCombineUuid){
            let oldMaxInvalidCount = $('#maxInvalidCount'+operationCombineUuid).text();
            layer.prompt({
                formType: 3,
                value: oldMaxInvalidCount,
                title: '新无效最大点击数',
                area: ['220px', '60px'], //自定义文本域宽高
                yes: function (index, layero) {
                    var index2 = index;
                    var value = layero.find(".layui-layer-input").val();
                    if (value === '') {
                        common.showFailMsg('请输入最大无效点击数！');
                        return;
                    } else if (!/^\d+$/.test(value)) {
                        common.showFailMsg('请输入正确数字！');
                        return;
                    }
                    var postData = {};
                    postData.uuid = operationCombineUuid;
                    postData.maxInvalidCount = value;
                    $.ajax({
                        url: '/internal/operationcombine/updateMaxInvalidCount2',
                        data: JSON.stringify(postData),
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        timeout: 5000,
                        type: 'POST',
                        success: function (result) {
                            if (result.code === 200) {
                                common.showSuccessMsg('操作成功');
                                $('#maxInvalidCount'+operationCombineUuid).text(value)
                            } else {
                                common.showFailMsg('操作失败');
                            }
                        },
                        error: function () {
                            common.showFailMsg('未知错误，请稍后重试');
                        }

                    });
                    layer.close(index2);
                }
            });
        };

        window.alterSearchEngine = function searchEngine(uuid,searchEngine,statu) {
            var termialType= $('#terminalType').val();
            var postData={};
            postData.terminalType=termialType;
            $.ajax({
                url: '/internal/common/getSearchEngines',
                data:JSON.stringify(postData),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                timeout: 5000,
                type: 'Post',
                success: function (result) {
                    var items=result.data;
                    if (result.code === 200) {
                        var isDefault='checked disabled';
                        if(statu==0)
                            isDefault='';
                        var stat='';
                        $.each(items, function (index,item){
                            if(item=== searchEngine)
                                stat+='<option  selected value="' + item + '">' + item + '</option>';
                            else
                                stat+='<option  value="' + item + '">' + item + '</option>';
                        });
                        layer.open({
                            type:1,
                            area:['400px','410px'],
                            title:"修改搜索引擎",
                            shadeClose:true,
                            content:
                                ' <form class="layui-form" style="margin-top: 10px"><div class="layui-form-item"><label class="layui-form-label">搜索引擎</label><div class="layui-input-inline"><select id="alterSearchEngine" name ="searchEngine" lay-search=""  onchange="updateSearchEngine(\'' + uuid + '\',this)" >'+ stat+'</select></div></div>' +
                               '<div class="layui-form-item"><label class="layui-form-label">是否默认</label> <div class="layui-input-block"> <input type="checkbox" '+isDefault+' name="defaultEngine" lay-skin="switch" lay-filter="switchTest" lay-text="是|否"></div></div>'+
                                '<div style="bottom: 0;width: 400px;background:#fff;text-align: right; margin-top: 220px;">\n' +
                                ' <div style="margin: 0 10px 6px 10px; padding-top: 8px;border-top: solid 1px #e6e6e6"> <button class="layui-btn" lay-submit="" lay-filter="searchUp">确认修改</button>\n' +
                                ' <div class="layui-btn layui-btn-primary" id="close" style="margin-right: 20px " >取消</div></div></div></form>'
                        });
                        form.render();
                        form.on("submit(searchUp)",function(data){
                            if(data.field.defaultEngine ==="on"){
                                updateSearchEngine(uuid,data.field.searchEngine);
                                if(searchEngine!=data.field.searchEngine)
                                    changeCustomerStatus(uuid,0);
                                else
                                    changeCustomerStatus(uuid,1);
                            }else{
                                updateSearchEngine(uuid,data.field.searchEngine);
                            }
                            let pageConf = common.formToJsonObject('searchForm');
                            if (pageConf.hasRemainingAccount){
                                pageConf.hasRemainingAccount = true;
                            }else{
                                pageConf.hasRemainingAccount = false;
                            }
                            initLayPage(pageConf);
                            layer.closeAll();
                            return false;
                        })
                        layui.$('#close').on('click', function(){
                            layer.closeAll();
                        });
                    } else {
                        common.showFailMsg('获取数据失败');
                    }
                },
                error: function () {
                    common.showFailMsg('未知错误，请稍后重试');
                }
            });

        };

        window.updateSearchEngine=function(uuid,searchEngine){

           var postData={};
           postData.searchEngine=searchEngine;
           postData.uuid=uuid;
            $.ajax({
                url: '/internal/operationcombine/updateSearchEngine',
                data: JSON.stringify(postData),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                timeout: 5000,
                type: 'Post',
                success: function (result) {
                    if (result.code === 200) {
                        common.showSuccessMsg('操作成功');
                        let pageConf = common.formToJsonObject('searchForm');
                        if (pageConf.hasRemainingAccount){
                            pageConf.hasRemainingAccount = true;
                        }else{
                            pageConf.hasRemainingAccount = false;
                        }
                        initLayPage(pageConf);
                    } else {
                        common.showFailMsg('操作成功');
                    }
                },
                error: function () {
                    common.showFailMsg('未知错误，请稍后重试');
                }
            });
        }

        window.uniqueGroupName = function unique(a) {
            let seen = {};
            return a.filter(function(item) {
                return seen.hasOwnProperty(item) ? false : (seen[item] = true);
            });
        };

        window.changeGroupNames = function(operationCombineUuid){
            let oldGroupNameStr = $('#groupNameStr'+operationCombineUuid).text();
            layer.prompt({
                formType: 2,
                value: oldGroupNameStr === '暂无' ? '' : oldGroupNameStr,
                title: '新分组标签',
                area: ['800px', '300px'], //自定义文本域宽高
                yes: function (index, layero) {
                    var index2 = index;
                    var value = layero.find(".layui-layer-input").val();
                    let groups = [];
                    if (value !== ''){
                        value = value.replace(/( )+/g,"").replace(/(，)+|(,)+/g, ",").split(",");
                        value = uniqueGroupName(value);
                        $.each(value, function (idx, val) {
                            if (val !== "") {
                                groups.push($.trim(val));
                            }
                        });
                    }

                    var postData = {};
                    postData.operationCombineUuid = operationCombineUuid;
                    postData.groupNames = groups;
                    $.ajax({
                        url: '/internal/group/saveGroupsBelowOperationCombine2',
                        data: JSON.stringify(postData),
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        timeout: 10000,
                        type: 'POST',
                        success: function (result) {
                            if (result.code === 200) {
                                common.showSuccessMsg('操作成功', function () {
                                    let pageConf = common.formToJsonObject('searchForm');
                                    if (pageConf.hasRemainingAccount){
                                        pageConf.hasRemainingAccount = true;
                                    }else{
                                        pageConf.hasRemainingAccount = false;
                                    }
                                    initLayPage(pageConf);
                                });
                            } else {
                                common.showFailMsg('操作失败');
                            }
                            layer.close(index2);
                        },
                        error: function () {
                            common.showFailMsg('未知错误，请稍后重试');
                            layer.close(index2);
                        }
                    });

                }
            });
        };

        window.getStatisticText  = function(disableStatistics){
            let htm = '';
            if (disableStatistics === 0) {
                htm = '开放';
            } else {
                htm = '关闭';
            }
            return htm;
        };

        window.getVisitWebsiteText  = function(disableVisitWebsite){
            let htm = '';
            if (disableVisitWebsite === 0) {
                htm = '访问';
            } else {
                htm = '不访问';
            }
            return htm;
        };

        window.getPageSizeText  = function(pageSize){
            let htm = '';
            switch (pageSize) {
                case 0:
                    htm = '10';
                    break;
                case 1:
                    htm = '20';
                    break;
                default:
                    htm = '50';
                    break;
            }
            return htm;
        };

        window.getCookieText  = function(clearCookie){
            let htm = '';
            switch (clearCookie) {
                case 0:
                    htm = '不清理Cookie';
                    break;
                case 1:
                    htm = '每次都清理Cookie';
                    break;
                case 2:
                    htm = '随机操作清理Cookie';
                    break;
                default:
                    htm = 'N次操作清理Cookie';
                    break;
            }
            return htm;
        };

        window.getRandomlyClickNoResultText  = function(randomlyClickNoResult){
            let htm = '';
            if (randomlyClickNoResult === 1) {
                htm = '是';
            } else {
                htm = '否';
            }
            return htm;
        };

        window.showGroupQueueDialog = function (uuid) {
            let data = {};
            data.uuid = uuid;
            okLayer.open("终端管理 / 分组信息 / 分组详情<span style='color: red'>(需要删除的分组请取消选中)</span>", "/internal/groupsetting/toGroupDetail", "30%", "90%", function(layero){
                window[layero.find("iframe")[0]["name"]].initForm(data);
            }, function () {
                if (sign) {
                    let pageConf = common.formToJsonObject('searchForm');
                    if (pageConf.hasRemainingAccount){
                        pageConf.hasRemainingAccount = true;
                    }else{
                        pageConf.hasRemainingAccount = false;
                    }
                    initLayPage(pageConf);

                    sign = false;
                }
            },'40px');
        };

        window.delOperationCombine = function (operationCombineUuid) {

            $.ajax({
                url: '/internal/operationcombine/getGroupNames2/' + operationCombineUuid,
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                timeout: 5000,
                type: 'POST',
                success: function (result) {
                    if (result.code === 200) {
                        let data = result.data;
                        if (data.length > 0){
                            common.showFailMsg("删除操作组合前请先移除该操作组合下的所有分组！！！")
                        }else{
                            layer.confirm('确定删除此操作组合吗', function (index) {
                                $.ajax({
                                    url: '/internal/operationcombine/delOperationCombine2/' + operationCombineUuid,
                                    headers: {
                                        'Accept': 'application/json',
                                        'Content-Type': 'application/json'
                                    },
                                    timeout: 5000,
                                    type: 'POST',
                                    success: function (result) {
                                        if (result.code === 200) {
                                            common.showSuccessMsg('操作成功', function () {
                                                let pageConf = common.formToJsonObject('searchForm');
                                                if (pageConf.hasRemainingAccount){
                                                    pageConf.hasRemainingAccount = true;
                                                }else{
                                                    pageConf.hasRemainingAccount = false;
                                                }
                                                initLayPage(pageConf)
                                            });
                                        } else {
                                            common.showFailMsg('操作失败');
                                        }
                                    },
                                    error: function () {
                                        common.showFailMsg('操作失败');

                                    }
                                });
                                layer.close(index);
                            });
                        }

                    } else {
                        common.showFailMsg('操作失败');
                    }
                },
                error: function () {
                    common.showFailMsg('操作失败');

                }
            });

        };

        window.delGroupSetting2 = function (operationCombineUuid, groupSettingUuid) {
            let groupSettingCount = parseInt($('#groupSettingCount'+operationCombineUuid).val());
            if (groupSettingCount === 1){
                common.showFailMsg("这是最后一个优化组设置，请直接删除操作组合！！！");
                return false
            }
            layer.confirm('确定删除此操作类型吗', function (index) {
                $.ajax({
                    url: '/internal/groupsetting/delGroupSetting2/' + groupSettingUuid,
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    timeout: 5000,
                    type: 'POST',
                    success: function (result) {
                        if (result.code === 200) {
                            common.showSuccessMsg('操作成功', function () {
                                let pageConf = common.formToJsonObject('searchForm');
                                if (pageConf.hasRemainingAccount){
                                    pageConf.hasRemainingAccount = true;
                                }else{
                                    pageConf.hasRemainingAccount = false;
                                }
                                initLayPage(pageConf)
                            });
                        } else {
                            common.showFailMsg('操作失败');
                        }
                    },
                    error: function () {
                        common.showFailMsg('操作失败');

                    }
                });
                layer.close(index);
            });

        };
    });
</script>
</body>
</html>
