<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <style>

        .layui-btn {
            width: 150px;
        }

        .layui-form-item .layui-inline {
            margin-bottom: 0;
            margin-right: 0;
        }

        .layui-form-item .layui-input-inline {

            margin-right: 0;
        }

        .layui-form-mid {
            text-align: center;
            float: left;
            display: block;
            padding: 9px 0 !important;
            line-height: 20px;
            margin-right: 10px;
            margin-left: 10px;
        }
    </style>
</head>
<body>

<div class="ok-body">
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form" lay-filter="updateGroupSetting">
        <input type="hidden" name="uuid" id="uuid" value=""/>
        <input type="hidden" name="terminalType" id="terminalType" value=""/>
        <input type="hidden" name="operationCombineUuid" id="operationCombineUuid" value=""/>
        <div class="layui-row">
            <div class="layui-col-md12">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 100%"><h3>基本信息</h3></label>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-form-item">
                    <label class="layui-form-label">操作组合</label>
                    <div class="layui-input-block" onclick="checkItem(this)">
                        <input type="text" name="settingOperationCombineName" id="settingOperationCombineName" placeholder="请输入操作组合" autocomplete="off"
                               class="layui-input" lay-verify="required">
                    </div>
                </div>
            </div>

            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">操作类型</label>
                    <div class="layui-input-block" onclick="checkItem(this)">
                        <select name="operationType" id="operationType" >
                        </select>

                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">网站统计</label>
                    <div class="layui-input-block " onclick="checkItem(this)">
                        <select name="disableStatistics" id="disableStatistics" >
                            <option value="0" selected>开放</option>
                            <option value="1">关闭</option>
                        </select>

                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">分组设置占比(%)</label>
                        <div class="layui-input-block" onclick="checkItem(this)">
                            <input type="hidden" name="remainAccount" id="remainAccount" value="100">
                            <input type="hidden" name="currentAccount" id="currentAccount" value="0">
                            <input type="number" name="machineUsedPercent" id="machineUsedPercent" placeholder="请输入分组占比" autocomplete="off" onchange="recalculateUnusedPercent(this)"
                                   class="layui-input" lay-verify="required|number|numberLimit">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 100%;text-align: left">当前剩余 <span id="unusedPercent"></span>% <span style="display: none" id="ocspan"> ; 需要分配操作数量：<span id="operationCombineCount" ></span></span></label>
                    </div>
                </div>
            </div>

            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">是否访问目标网站</label>
                    <div class="layui-input-block " onclick="checkItem(this)">
                        <select name="disableVisitWebsite" id="disableVisitWebsite" >
                            <option value="0" selected>访问</option>
                            <option value="1">不访问</option>
                        </select>

                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">页数</label>
                    <div class="layui-input-block " onclick="checkItem(this)">
                        <input type="text" name="page" id="page" placeholder="请输入页数" autocomplete="off" value="5" class="layui-input"
                               onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');" />
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">

                <div class="layui-form-item">
                    <label class="layui-form-label" >每页条数</label>
                    <div class="layui-input-block " onclick="checkItem(this)">
                        <select name="pageSize" id="pageSize" >
                            <option value="0" selected>10</option>
                            <option value="1">20</option>
                            <option value="2">50</option>
                        </select>&nbsp;

                    </div>
                </div>
            </div>
            <div class="layui-col-md6">

                <div class="layui-form-item">
                    <label class="layui-form-label">无效点击数</label>
                    <div class="layui-input-block" onclick="checkItem(this)">
                        <input type="number" name="settingMaxInvalidCount" id="settingMaxInvalidCount" placeholder="请输入无效点击量" autocomplete="off" value="8" class="layui-input"
                               onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');" />
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 100%"><h3>其他设置</h3></label>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">Cookie设置</label>
                    <div class="layui-input-block" onclick="checkItem(this)">
                        <select name="clearCookie" id="clearCookie">
                            <option value="0">不清理Cookie</option>
                            <option value="1">每次都清理Cookie</option>
                            <option value="2">随机清理Cookie</option>
                            <option value="3">N次操作清理Cookie</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <div class="layui-inline" >
                        <label class="layui-form-label">进入页次数</label>
                        <div class="layui-input-inline" style="width: 147.5px;" onclick="checkItem(this)">
                            <input type="number" name="entryPageMinCount" id="entryPageMinCount" value="0" class="layui-input"
                                   onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');" />
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline" style="width:147.5px;" onclick="checkItem(this)">
                            <input type="number" name="entryPageMaxCount" id="entryPageMaxCount" value="0" class="layui-input"
                                   onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">

                <div class="layui-form-item">
                    <div class="layui-inline" >
                        <label class="layui-form-label">页面停留时间(毫秒)</label>
                        <div class="layui-input-inline" style="width: 147.5px;" onclick="checkItem(this)">
                            <input type="number" name="pageRemainMinTime" id="pageRemainMinTime" value="3000" class="layui-input"
                                   onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');"  />
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline" style="width:147.5px;" onclick="checkItem(this)">
                            <input type="number" name="pageRemainMaxTime" id="pageRemainMaxTime" value="5000" class="layui-input"
                                   onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');"  />
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">

                <div class="layui-form-item">
                    <div class="layui-inline" >
                        <label class="layui-form-label">输入延时(毫秒)</label>
                        <div class="layui-input-inline" style="width: 147.5px;" onclick="checkItem(this)">
                            <input type="number" name="inputDelayMinTime" id="inputDelayMinTime" value="50" class="layui-input"
                                   onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');" />
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline" style="width:147.5px;" onclick="checkItem(this)">
                            <input type="number" name="inputDelayMaxTime" id="inputDelayMaxTime" value="80" class="layui-input"
                                   onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');"  />
                        </div>
                    </div>

                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <div class="layui-inline" >
                        <label class="layui-form-label">滑动延时(毫秒)</label>
                        <div class="layui-input-inline" style="width: 147.5px;" onclick="checkItem(this)">
                            <input type="number" name="slideDelayMinTime" id="slideDelayMinTime" value="700" class="layui-input"
                                   onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');" />
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline" style="width:147.5px;" onclick="checkItem(this)">
                            <input type="number" name="slideDelayMaxTime" id="slideDelayMaxTime" value="1500" class="layui-input"
                                   onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');" />
                        </div>
                    </div>

                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <div class="layui-inline" >
                        <label class="layui-form-label">标题停留(毫秒)</label>
                        <div class="layui-input-inline" style="width: 147.5px;" onclick="checkItem(this)">
                            <input type="number" name="titleRemainMinTime" id="titleRemainMinTime" value="1000" class="layui-input"
                                   onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');" />
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline" style="width:147.5px;" onclick="checkItem(this)">
                            <input type="number" name="titleRemainMaxTime" id="titleRemainMaxTime" value="3000" class="layui-input"
                                   onkeyup="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');this.value=this.value.replace('-','');" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">

                <div class="layui-form-item">
                    <label class="layui-form-label">刷多少个词换IP</label>
                    <div class="layui-input-block " onclick="checkItem(this)">
                        <input type="text" name="optimizeKeywordCountPerIP" id="optimizeKeywordCountPerIP" placeholder="请输入分组占比" autocomplete="off" value="1" class="layui-input"
                               onkeyup="this.value=this.value.replace('.','');this.value=this.value.replace('-','');" />
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">没结果随机点</label>
                    <div class="layui-input-block " onclick="checkItem(this)">
                        <select name="randomlyClickNoResult" id="randomlyClickNoResult" >
                            <option value="0" selected>否</option>
                            <option value="1">是</option>
                        </select>&nbsp;
                    </div>
                </div>
            </div>
        </div>
        <div style="position: fixed;bottom: 0;width: 100%;background:#fff;text-align: right;">
            <div style="margin: 0 10px 6px 10px; padding-top: 8px;border-top: solid 1px #e6e6e6">
                <button class="layui-btn" lay-submit lay-filter="save">确定</button>
                <button type="reset" class="layui-btn layui-btn-primary">
                    重置
                </button>
                <button class="layui-btn layui-btn-primary" id="close" style="margin-right: 20px">
                    取消
                </button>
            </div>
        </div>
    </form>
</div>

<!--js逻辑-->
<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<!--<script src="/static/ok-admin/page/customer/customerAdd.js"></script>-->
<script>

    let layui_ = null;
    let uuid_ = null;
    let uuids_ = null;
    let operationCombineUuid_ = null;
    let operationTypes = null;

    function initForm(data) {
        uuid_ = data.uuid;
        uuids_ = data.uuids;
        operationCombineUuid_ = data.operationCombineUuid;
        operationTypes = data.operationTypes;
        document.getElementById('uuid').value = data.uuid;
        document.getElementById('settingOperationCombineName').value = data.operationCombineName;
        document.getElementById('operationCombineUuid').value = data.operationCombineUuid;
        document.getElementById('terminalType').value = data.terminalType;
        document.getElementById('remainAccount').value = data.remainAccount;
        document.getElementById('unusedPercent').innerHTML = data.remainAccount;
        document.getElementById('currentAccount').value = data.currentAccount;
        document.getElementById('machineUsedPercent').value = data.currentAccount;
        if (layui_ != null) {
            init_operationType(layui_, operationTypes);
            if (uuid_ != null ){
                document.getElementById('settingMaxInvalidCount').disabled = true;
                setForm(layui_, uuid_);
            }else{
                init_operationCombineCount(layui_, data.operationCombineUuid);
            }
        }

    }
    function init_operationCombineCount(layui_, operationCombineUuid){
        let $ = layui_.jquery;
        let form = layui_.form;
        $.ajax({
            url: '/internal/groupsetting/getGroupSettingCount2/' + operationCombineUuid,
            type: 'post',
            async:false,
            dataType: 'json',
            success: function (res) {
                if (res.code === 200) {
                    $('#operationCombineCount').text(res.data);
                    $('#ocspan').css('display','inline-block')
                } else {
                    layui_.layer.msg(res.msg, {icon: 5, time: 3000});
                }
            }
        });
    }

    function setForm(layui_, uuid){
        let $ = layui_.jquery;
        let form = layui_.form;
        $.ajax({
            url: '/internal/groupsetting/getGroupSettingByUuid/' + uuid,
            type: 'post',
            dataType: 'json',
            success: function (res) {
                if (res.code === 200) {
                    form.val("updateGroupSetting", res.data);
                } else {
                    layui_.layer.msg(res.msg, {icon:5, time: 3000});
                }
            }
        });
    }

    function init_operationType(layui_, operationTypes) {
        let $ = layui_.jquery;
        let form = layui_.form;
        $.each(operationTypes, function (index, item) {
            $('#operationType').append('<option value="' + item + '">' + item + '</option>');// 下拉菜单里添加元素
        });
        form.render("select");
    }

    layui.use(["form", "common", "jquery", "layer"], function () {
        let form = layui.form;
        let common = layui.common;
        let $ = layui.jquery;

        document.onkeydown=function(e){
            let isie = !!(document.all);
            let key;
            let ev;
            if(isie){//IE浏览器
                key = window.event.keyCode;
                ev = window.event;
            }else{//火狐浏览器
                key = e.which;
                ev = e;
            }
            if(key===9){//IE浏览器
                // document.getElementById(e.target.id).focus()
                e.target.focus();
                if(isie){
                    ev.keyCode=0;
                    ev.returnValue=false;
                }else{//火狐浏览器
                    ev.which=0;
                    ev.preventDefault();
                }
            }
        };

        if (operationTypes != null) {
            init_operationType(layui, operationTypes)
        } else {
            layui_ = layui;
        }
        if (uuid_ != null) {
            setForm(layui, uuid_);
        }else{
            init_operationCombineCount(layui, operationCombineUuid_)
        }

        window.recalculateUnusedPercent = function (_elem) {
            let totalPercent = parseInt($('#remainAccount').val()) + parseInt($('#currentAccount').val());
            let allocPercent = parseInt(_elem.value);
            if (uuid_ != null){
                if (allocPercent < 0 || allocPercent > 100 || allocPercent > totalPercent) {
                    $(_elem).addClass("layui-form-danger").focus();
                    common.showFailMsg("请输入正确的分组占比且不能大于剩余占比");
                } else {
                    $('#unusedPercent').text(totalPercent - allocPercent)
                }
            }else {
                let operationCombineCount = parseInt($('#operationCombineCount').text());
                if (allocPercent * operationCombineCount > totalPercent) {
                    $(_elem).addClass("layui-form-danger").focus();
                    common.showFailMsg("请输入正确的分组占比且不能大于剩余占比");
                } else {
                    $('#unusedPercent').text(totalPercent - allocPercent * operationCombineCount)
                }
            }

        }

        window.checkItem = function (self) {
            let color = $($(self).siblings()[0]).css("color");
            if(color === "rgb(0, 0, 0)") {

                $($(self).siblings()[0]).css("color", "red");
            } else {
                $($(self).siblings()[0]).css("color", "black");
            }

        };

        function isChecked(id) {
            // let color =  $($('#'+id).parent().siblings()[0]).css("color");
            let color =  $($('#'+id).closest('.layui-form-item').find('.layui-form-label')[0]).css("color");
            if(color === "rgb(255, 0, 0)") {
                return "1";
            } else {
                return "0";
            }
        }

        form.on("submit(save)", function (data) {
            let data_ = data.field;
            let postData = {};
            let groupSetting = data_;
            groupSetting.remainingAccount = parseInt($('#unusedPercent').text());
            groupSetting.operationCombineName = data_.settingOperationCombineName;
            groupSetting.terminalType = data_.terminalType;
            groupSetting.maxInvalidCount = data_.settingMaxInvalidCount === "" ? 8 : data_.settingMaxInvalidCount;
            let groupSettingCheck = {};
            for (let key in data_) {
                groupSettingCheck[key] = isChecked(key)
            }
            groupSettingCheck['operationCombineName'] = groupSettingCheck['settingOperationCombineName'];
            groupSettingCheck['maxInvalidCount'] = groupSettingCheck['settingMaxInvalidCount'];
            postData.gs = groupSettingCheck;
            postData.groupSetting = groupSetting;
            let url = '/internal/groupsetting/updateGroupSetting2';
            if (uuid_ === null ){
                url = '/internal/operationcombine/updateOperationCombine2/' + operationCombineUuid_;
                let totalPercent = parseInt($('#remainAccount').val()) + parseInt($('#currentAccount').val());
                let allocPercent = parseInt(groupSetting.machineUsedPercent);
                let operationCombineCount = parseInt($('#operationCombineCount').text());
                if (allocPercent * operationCombineCount > totalPercent) {
                    $('#machineUsedPercent').addClass("layui-form-danger").focus();
                    common.showFailMsg("请输入正确的分组占比且不能大于剩余占比");
                    return false;
                }
            }
            $.ajax({
                url: url,
                type: 'post',
                data: JSON.stringify(postData),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                success: function (res) {
                    if (res.code === 200) {
                        common.showSuccessMsg("保存成功", function () {
                            parent.window.sign = true;
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    } else {
                        common.showFailMsg(res.msg);
                    }
                }
            });
            return false;
        });

        $('#close').click(function () {
            parent.layer.close(parent.layer.getFrameIndex(window.name));
            return false;
        });

        form.verify({
            numberLimit: [
                /^([1-9]\d?|100)$/,
                "请1-100范围内的数字"
            ],
            positiveInteger: [
                /(^$)|(^[0-9]*[1-9][0-9]*$)/,
                "请输入合适的正整数、如：1、2、3"
            ],
            tagNames: [
                /(^$)|(^[\u4e00-\u9fa50-9a-zA-Z,]+$)/,
                "请正确输入标签,例如：阿卡索,MBA,算法"
            ]
        });
    })


</script>
</body>
</html>
