<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>分组详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.css">
    <link rel="stylesheet" href="/static/ok-admin/page/base/searchForm.css">
</head>
<body>
<div class="ok-body">
    <!--模糊搜索区域-->
    <div class="layui-card ">
        <div class="layui-card-body ">
            <div class="my-collapse">
                <div class="out-condition layui-row">
                    <div class="layui-col-md6 layui-col-sm6 layui-col-xs6">
                        <form class="layui-form layui-form-pane" id="searchForm">
                            <div class="layui-row">
                                <div class="layui-col-md9 layui-col-sm9 layui-col-xs9" >
                                    <input style="height: 30px" type="text" name="groupName" id="groupName" placeholder="搜索优化组名" autocomplete="off" class="layui-input layui-input-text">
                                </div>
                                <div class="layui-col-md3 layui-col-sm3 layui-col-xs3" style="text-align: center">
                                    <button style="padding: 0 12px;" class="layui-btn" lay-submit="" lay-filter="search" id="searchBtn">搜索</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="layui-col-md6 layui-col-sm6 layui-col-xs6">
                        <form class="layui-form layui-form-pane" id="add">
                            <div class="layui-row">
                                <div class="layui-col-md9 layui-col-sm9 layui-col-xs9">
                                    <input style="height: 30px" type="text" name="groupName" id="addGroupName" placeholder="添加优化组名"
                                           autocomplete="off" class="layui-input layui-input-text" lay-verify="required|oneGroupName">
                                </div>
                                <div class="layui-col-md3 layui-col-sm3 layui-col-xs3" style="text-align: center">
                                    <button style="padding: 0 12px;" class="layui-btn" lay-submit="" lay-filter="add" id="addBtn">添加</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--数据表格-->
    <table class="layui-hide" id="groupTable" lay-filter="tableFilter"></table>
    <div style="height: 52px"></div>
</div>
<div style="position: fixed;bottom: 0;width: 100%;background:#fff;text-align: right;">
    <div style="margin: 0 10px 6px 10px; padding-top: 8px;border-top: solid 1px #e6e6e6">
        <button class="layui-btn layui-btn-disabled" id="save" style="margin-right: 20px;width: 150px;">
            保存
        </button>
        <div class="layui-btn layui-btn-primary" id="close" style="margin-right: 20px;width: 150px">
            取消
        </div>
    </div>
</div>

<!--js逻辑-->
<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script src="${ctx.basePath}/static/ok-admin/lib/nprogress/nprogress.js"></script>
<script src="/static/ok-admin/js/somePublic.js"></script>
<script>
    // 进度条加载提示
    NProgress.start();
    window.onload = function () {
        NProgress.done();
    };

    let layui_ = null;
    let uuid_ = null;
    let groupTable ;
    let unselectUuidArr = [];
    let groups_ = [];
    function initForm(data) {
        uuid_ = data.uuid;
    }

    layui.use(["form", "table", "jquery", "layer", "common"], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let table = layui.table;
        let common = layui.common;

        let renderOver = false;

        groupTable = table.render({
            elem: '#groupTable',
            method: 'post',
            url: '/internal/group/getGroupsByOperationCombine/' + uuid_,
            size: 'sm',
            id: 'groupTable',
            page: false,
            even: true,//隔行背景
            contentType: 'application/json',
            cols: [[
                {filed: 'groupUuid', type: 'checkbox', width: '10%',LAY_CHECKED:true},
                {field: 'groupName', title: '分组名称', width: '90%',align:'left'},
            ]],
            height: 'full-130',
            done: function (res, curr, count) {
                $.each(res.data,function (idx, item) {
                    unselectUuidArr.push(item.groupUuid);
                    groups_.push(item.groupName);
                });
                renderOver = true;
                $("#save").removeClass("layui-btn-disabled");
            }
        });

        form.on("submit(search)", function (data) {
            unselectUuidArr = [];
            table.reload('groupTable', {
                where: data.field,
            });
            return false;
        });

        form.on("submit(add)", function (data) {
            data.field = common.jsonObjectTrim(data.field);
            groups_.push(data.field.groupName);
            let postData = {};
            postData.operationCombineUuid = uuid_;
            postData.groupNames = groups_;
            $.ajax({
                url: '/internal/group/saveGroupsBelowOperationCombine2',
                data: JSON.stringify(postData),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                timeout: 10000,
                type: 'POST',
                success: function (result) {
                    if (result.code === 200) {
                        document.getElementById('addGroupName').value = '';
                        $('#searchBtn').click();
                    } else {
                        common.showFailMsg('操作失败');
                    }
                },
                error: function () {
                    common.showFailMsg('未知错误，请稍后重试');
                }
            });
            return false;
        });

        Array.prototype.indexOf = function(uuid) {
            for (let i = 0; i < this.length; i++) if (this[i] === uuid) return i;
            return -1;
        };

        Array.prototype.remove = function(uuid) {
            let index = this.indexOf(uuid);
            if (index > -1) this.splice(index, 1);
        };

        $('#save').click(function () {
            if (renderOver) {
                let checkStatus = table.checkStatus('groupTable'), data = checkStatus.data;
                $.each(data, function (index, item) {
                    unselectUuidArr.remove(item.groupUuid)
                });
                if (unselectUuidArr.length < 1) {
                    common.showSuccessMsg('操作成功', function () {
                        parent.window.sign = true;
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    });
                }
                let postData = {};
                postData.groupUuids = unselectUuidArr;
                $.ajax({
                    url: '/internal/group/deleteGroupsBelowOperationCombine2',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    data: JSON.stringify(postData),
                    timeout: 10000,
                    type: 'POST',
                    success: function (result) {
                        if (result.code === 200) {
                            common.showSuccessMsg('操作成功', function () {
                                parent.window.sign = true;
                                parent.layer.close(parent.layer.getFrameIndex(window.name));
                            });
                        } else {
                            common.showFailMsg('操作失败');
                        }
                    },
                    error: function () {
                        common.showFailMsg('操作失败');

                    }
                });
            }
        });

        $('#close').click(function () {
            parent.layer.close(parent.layer.getFrameIndex(window.name));
            return false;
        });

        form.verify({
            oneGroupName: function (value, item) {
                if (value.indexOf(",") !== -1 || value.indexOf("，") !== -1) {
                    return "每次只允许添加一个"
                }
            }
        });
    })
</script>
</body>
</html>
