<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>清单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/lib/layui/css/layui.css">
    <link rel="stylesheet" href="${ctx.basePath}/static/ok-admin/css/sub-page.css">
    <link rel="stylesheet" type="text/css" href="${ctx.basePath}/static/ok-admin/lib/layui/css/modules/formSelect/default/formSelects-v4.css">
    <style>
        .layui-btn {
            width: 150px;
        }
    </style>
</head>
<body>
<div class="ok-body">

    <form class="layui-form layui-form-pane ok-form" lay-filter="addSalesInfoList">
        <input type="hidden" name="uuid">
        <div class="layui-form-item">
            <label class="layui-form-label">销售名称</label>
            <div class="layui-input-block">
                <input type="text" name="salesName" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话号码</label>
            <div class="layui-input-block">
                <input type="text" name="telephone" autocomplete="off" class="layui-input" lay-verify="telephone">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">QQ号</label>
            <div class="layui-input-block">
                <input type="text" name="qq" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">微信号</label>
            <div class="layui-input-block">
                <input type="text" name="weChat" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">二维码链接</label>
            <div class="layui-input-block">
                <input type="text" name="quickResponseCode" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
                <input type="text" name="email" autocomplete="off" class="layui-input" lay-verify="email">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">负责部分</label>
            <div class="layui-input-block">
                <select name="managePart" id="managePart" xm-select="managePart" xm-select-direction="up"
                        xm-select-show-count="3" lay-verify="required"></select>
            </div>
        </div>
        <div style="position: fixed;bottom: 0;width: 100%;background:#fff;text-align: right;">
            <div style="margin: 0 10px 6px 10px; padding-top: 8px;border-top: solid 1px #e6e6e6">
                <button class="layui-btn" lay-submit lay-filter="commit">确定</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <div class="layui-btn layui-btn-primary" id="close" style="margin-right: 20px">取消</div>
            </div>
        </div>
    </form>
</div>


<script src="${ctx.basePath}/static/ok-admin/lib/layui/layui.js"></script>
<script src="/static/ok-admin/js/somePublic.js"></script>
<script>

    let uuid_ = null;
    let layui_ = null;
    let flag = false;

    function initForm(data) {
        uuid_ = data;
        if (layui_ != null) {
            setForm(layui_, uuid_);
        }
    }

    function setForm(l, u) {
        l.jquery.ajax({
            url: '/internal/salesInfo/getSalesManage/' + u,
            type: 'GET',
            headers: {
                "Accept": 'application/json',
                "Content-Type": 'application/json'
            },
            success: function (res) {
                if (res.code === 200) {
                    initFormSelect(l,res.data.managePart);
                    layui.form.val("addSalesInfoList", res.data);
                } else {
                    l.layer.msg(res.msg, {icon: 5, time: 3000});
                }
            }
        });
    }

    function initFormSelect(l,m){
        if (m) {
            m = m.split(',');
        }
        l.formSelects.config('managePart',{
            type: 'get',
            header: {
                "Accept": 'application/json',
                "Content-Type": 'application/json'
            },
            searchUrl: '/internal/salesInfo/returnWebsiteTypeMap',
            response: {
                statusCode: 200,
                statusName: 'code',
                msgName: 'msg',
                dataName: 'data'
            },
            success: function(id, url, searchVal, res){
                if (res.code === 200) {
                    l.jquery.each(res.data, function (index, item) {
                        if (m){
                            if(exist(m,item)){
                                l.jquery("#managePart").append('<option value="' + index + '" selected>' + item + '</option>');
                            }else{
                                l.jquery("#managePart").append('<option value="' + index + '">' + item + '</option>');
                            }
                        }else {
                            l.jquery("#managePart").append('<option value="' + index + '">' + item + '</option>');
                        }
                    });
                    l.formSelects.render();
                } else {
                    l.layer.msg(res.msg, {icon: 5, time: 3000});
                }
            },
            error: function(){
                l.layer.msg('未知错误，请稍后重试！！', {icon: 5, time: 3000});
            }
        });
    }

    function exist(m,k) {
        for (let i= 0;i<m.length;i++){
             if (m[i] === k){
                 return true;
             }
        }
    }

    layui.use(["form", "common", "jquery", "layer", "formSelects"], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let common = layui.common;

        if (uuid_ != null) {
            setForm(layui, uuid_);
        } else {
            layui_ = layui;
            initFormSelect(layui);
        }

        form.on("submit(commit)", function (data) {
            data.field = common.jsonObjectTrim(data.field);
            if (!common.waitMoment()) {
                return false;
            }
            $.ajax({
                url: '/internal/salesInfo/saveSalesManage',
                type: 'POST',
                data: JSON.stringify(data.field),
                headers: {
                    "Accept": 'application/json',
                    "Content-Type": 'application/json'
                },
                success: function (res) {
                    if (res.code === 200) {
                        common.showSuccessMsg("保存成功", function () {
                            parent.window.sign = true;
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    } else {
                        common.showFailMsg(res.msg);
                    }
                }
            });
            return false;
        });

        $('#close').click(function () {
            parent.layer.close(parent.layer.getFrameIndex(window.name));
            return false;
        });

        form.verify({
            telephone: [
                /^1\d{10}$/,
                "请输入正确的手机号码"
            ],
            email: [
                /^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/,
                "请输入正确的邮箱"
            ]
        });

    })

</script>

</body>
</html>