*, :after, :before {
    box-sizing: border-box
}

a {
    background-color: transparent;
    text-decoration: none
}

a:active, a:hover {
    outline: 0
}

a:hover {
    color: #0c7df5
}

input[type=checkbox] {
    box-sizing: border-box;
    padding: 0
}

label {
    vertical-align: middle
}
ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.mytabs {
    width: 1820px;
    margin: 15px auto 0px auto;
    box-shadow: 0 0 2px 2px hsla(0, 0%, 89%, .2);
}

.mytabs li {
    float: left;
}

.mytabs li.right {
    float: right;
}

.mytabs a {
    display: inline-block;
    text-decoration: none;
    color: #555
}

.mytabs a:hover {
    color: #0c7df5
}

.mytabs i {
    margin-right: 2px;
    vertical-align: -3px
}

.mytabs .link {
    margin-bottom: -1px;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    background-color: #f6f6f6
}

.mytabs .link li {
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 14px
}

.mytabs .link li:first-child.active {
    border-left: none
}

.mytabs .link li.active {
    border-top: 1px solid #0c7df5;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    background-color: #fff
}

.mytabs .link li.active a {
    color: #0c7df5;
}

.mytabs .link a {
    padding: 0 15px
}

.mytabs .link:after, .mytabs .link:before {
    content: " ";
    display: table
}

.mytabs .link:after {
    clear: both
}

.mytabs .conn {
    padding: 10px;
    border: 1px solid #e6e6e6;
    background-color: #fff
}

.mytabs .conn li {
    height: 30px;
    line-height: 30px;
    margin: auto 5px;
}

.mytabs .conn li:first-child {
    margin-left: 0
}

.mytabs .conn li:first-child input {
    width: 180px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
}

.mytabs .conn:last-child li.category input, .mytabs .conn:last-child li.userName input, .mytabs .conn:last-child li.group input {
    width: 150px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
}

.mytabs .conn:last-child li.createTime input {
    width: 100px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
}

.mytabs .conn:after, .mytabs .conn:before {
    content: " ";
    display: table;
}

.mytabs .conn:after {
    clear: both;
}

.datalist {
    width: 1820px;
    margin: 0px auto 40px auto;
    overflow: visible;
}

.datalist-list li {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 2px 2px hsla(0, 0%, 79%, .2);
    margin-bottom: 14px;
    height: 196px
}

.datalist-list li:hover {
    border: 1px solid #9ec9f4;
    box-shadow: 0 0 2px rgba(158, 201, 244, .15)
}

.datalist-list li:hover .handle {
    display: block
}

.datalist-list .top50-link > a {
    display: block;
    width: auto;
    height: auto;
}

.datalist-list .top50-link > a:hover {
    color: #666
}

.datalist-list .header {
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 18px;
    padding: 0 10px;
}

.datalist-list .header .handle a {
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 14px;
    text-decoration: none;
    font-size: 14px;
}

.datalist-list .header a:hover {
    color: #1a81ea;
}

.datalist-list .header span {
    display: block;
    float: left;
    height: 44px;
    line-height: 44px
}

.datalist-list .header span input{
    align-self: center;
    margin: 15px 5px;
}

.datalist-list .header span a {
    font-size: 12px;
    margin: 0 5px;
}

.datalist-list .header span.contactPerson-name, .datalist-list .header span.organization-name {
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.datalist-list .header span.contactPerson-name a, .datalist-list .header span.organization-name a {
    font-weight: 700;
    color: #000000;
}

.datalist-list .header span.domain {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.datalist-list .header span.domain a:hover {
    color: #0c7df5;
}

.datalist-list .header span.to-aizhan {
    width: 35px;
    max-width: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.datalist-list .header span.to-aizhan a {
    color: #000000;
}

.datalist-list .header span.to-5118 {
    width: 40px;
    max-width: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.datalist-list .header span.to-5118 a {
    color: #000000;
}

.datalist-list .header span.fmtStandardDate, .datalist-list .header span.fmtCreateDate {
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.datalist-list .header span.fmtStandardDate a, .datalist-list .header span.fmtCreateDate a {
    color: #000000;
}

.datalist-list .header span.fmtStandardDate a:hover, .datalist-list .header span.fmtCreateDate a:hover {
    color: #0c7df5;
}

.datalist-list .header span.fmtCreateDate {
    position: absolute;
    left: 900px;
    z-index: 1;
}

.datalist-list .header span.tagNames {
    position: absolute;
    left: 570px;
    z-index: 1;
    width: 330px;
    color: #000000;
    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.datalist-list .header span.tagNames label:first-child {
    font-weight: 700;
}

.datalist-list .header .handle {
    display: none;
    float: right;
    font-size: 14px;
}

.datalist-list .header .handle a.blue {
    color: #1a81ea;
}

.datalist-list .header .handle a.blue:hover {
    color: #f60;
}

.datalist-list .body {
    height: 150px
}

.datalist-list .body .data-info-wrap {
    width: 621px;
    float: left;
    height: 150px;
    text-align: center
}

.datalist-list .body .rank-wrap {
    width: 741px;
    float: left;
    height: 150px;
    border-left: 1px solid #e6e6e6;
}

.datalist-list .body .rank-wrap1 {
    width: 456px;
    float: left;
    height: 150px;
    border-left: 1px solid #e6e6e6;
}

.datalist-list .body .rank-wrap > div, .datalist-list .body .rank-wrap1 > div {
    float: left;
    font-size: 12px;
    height: 150px;
    display: block;
}

.datalist-list .body .rank-wrap > div, .datalist-list .body .rank-wrap1 > div {
    padding: 0 5px;
}

.datalist-list .body .rank-wrap > div:last-child, .datalist-list .body .rank-wrap1 > div:last-child {
    border-left: 1px dashed #e6e6e6;
}

.datalist-list .body .rank-wrap > div .row4, .datalist-list .body .rank-wrap1 > div .row4 {
    line-height: 2;
}

.datalist-list .body .rank-wrap > div span:first-child, .datalist-list .body .rank-wrap1 > div span:first-child {
    font-size: 12px;
    display: block;
    float: left;
    width: 50%;
    text-align: left;
}

.datalist-list .body .rank-wrap > div span:last-child, .datalist-list .body .rank-wrap1 > div span:last-child {
    font-size: 12px;
    display: block;
    float: left;
    width: 50%;
    text-align: left;
}

.datalist-list .body .rank-wrap > div span:last-child, .datalist-list .body .rank-wrap1 > div span:last-child {
    text-align: center;
}

.datalist-list .body .rank-wrap > div span.red, .datalist-list .body .rank-wrap1 > div span.red {
    color: palevioletred;
}

.datalist-list .body .rank-wrap > div span.green, .datalist-list .body .rank-wrap1 > div span.green {
    color: mediumseagreen;
}

.datalist-list .body .rank-wrap > div span a, .datalist-list .body .rank-wrap1 > div span a {
    font-size: 12px;
    text-decoration: none;
}

.datalist-list .body .rank-wrap > div span a.red, .datalist-list .body .rank-wrap1 > div span a.red {
    color: palevioletred;
}

.datalist-list .body .rank-wrap > div span a.green, .datalist-list .body .rank-wrap1 > div span a.green {
    color: mediumseagreen;
}

.datalist-list .body .rank-wrap > div span .red, .datalist-list .body .rank-wrap1 > div span .red {
    color: palevioletred;
}

.datalist-list .body .rank-wrap > div span .green, .datalist-list .body .rank-wrap1 > div span .green {
    color: mediumseagreen;
}

.datalist-list .body .user-id {
    width: 84px;
}

.datalist-list .body .standard-info {
    width: 99px;
}

.datalist-list .body .user-id, .datalist-list .body .standard-info {
    float: left;
    border-right: 1px solid #e6e6e6;
    height: 150px;
    display: block;
}

.datalist-list .body .user-id a, .datalist-list .body .standard-info a {
    clear: both;
}

.datalist-list .body .user-id span, .datalist-list .body .standard-info span {
    display: block;
}

.datalist-list .body .user-id span:last-child, .datalist-list .body .standard-info span:last-child {
    margin-top: 10px;
    color: #999;
}

.datalist-list .body .user-id span.line1, .datalist-list .body .standard-info span.line1 {
    font-size: 14px;
    margin-top: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
}

.datalist-list .body .user-id span.line1:hover {
    color: #0c7df5;
}

.datalist-list .body .standard-info a {
    color: #000;
}

.datalist-list .body .other-rank {
    float: left;
    width: 255px;
}

.datalist-list .body .other-rank_2 {
    float: left;
    width: 182px;
    border-left: 1px solid #e6e6e6;
}

.datalist-list .body .other-rank .row, .datalist-list .body .other-rank_2 .row {
    height: 75px;
}

.datalist-list .body .other-rank .row .line1, .datalist-list .body .other-rank_2 .row .line1 {
    display: inline-block;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
}

.datalist-list .body .other-rank .row .line1 a, .datalist-list .body .other-rank_2 .row .line1 a {
    font-size: 14px;
    color: #000;
}

.datalist-list .body .other-rank .row .line1 a:hover, .datalist-list .body .other-rank_2 .row .line1 a:hover {
    color: #0c7df5;
}

.datalist-list .body .other-rank .row span:last-child a, .datalist-list .body .other-rank_2 .row span:last-child a {
    display: inline-block;
    width: 90%;
    word-wrap: break-word;
    white-space: normal;
    color: #999;
}

.datalist-list .body .other-rank .row:last-child, .datalist-list .body .other-rank_2 .row:last-child {
    display: block;
    height: 74px;
    border-top: 1px solid #e6e6e6;
}

.datalist-list .body .other-rank .row > div, .datalist-list .body .other-rank_2 .row > div {
    display: block;
    float: left;
    height: 74px;
    border-right: 1px solid #e6e6e6;
}

.datalist-list .body .other-rank .row > div {
    width: 84px;
}

.datalist-list .body .other-rank_2 .row > div {
    width: 180px;
}

.datalist-list .body .other-rank .row > div:last-child, .datalist-list .body .other-rank_2 .row > div:last-child {
    border: 0;
}

.datalist-list .body .other-rank .row span, .datalist-list .body .other-rank_2 .row span {
    display: block;
}

.datalist-list .body .other-rank .row span.line1, .datalist-list .body .other-rank_2 .row span.line1 {
    font-size: 18px;
    margin-top: 10px;
    height: 60%;
}

.datalist-list .body .other-rank .row span:last-child, .datalist-list .body .other-rank_2 .row span:last-child {
    height: 30%;
}

.datalist-list .body .other-rank .row span.line1:hover, .datalist-list .body .other-rank_2 .row span.line1:hover {
    color: #0c7df5;
}

.datalist-list .body .other-rank_2 .row:last-child div.showOperationCombineName {
    margin-top: 10px;
    height: 60%;
}

.datalist-list .body .other-rank_2 .row:last-child div.showOperationCombineName span a {
    font-size: 14px;
    color: #000;
}

.datalist-list .body .other-rank_2 .row:last-child div.showOperationCombineName span a:hover {
    color: #0c7df5;
}

.datalist-list .body .other-rank_2 .row:last-child div.operationCombineSpan span {
    height: 30%;
}

.rank-wrap .col-4 {
    float: left;
    width: 18%;
    text-align: left;
}

.rank-wrap .col-1, .rank-wrap .col-2 {
    width: 41%;
    text-align: left;
}

.rank-wrap .col-1 h1, .rank-wrap .col-2 h1 {
    text-align: center;
    padding-top: 65px;
}

.rank-wrap1 .col-5 {
    float: left;
    width: 30%;
    text-align: left;
}

.rank-wrap1 .col-1 {
    width: 70%;
    text-align: left;
}

.rank-wrap1 .col-1 h1 {
    text-align: center;
    padding-top: 65px;
}

#moreSearchCondition {
    display: block;
    height: 25px;
    width: 150px;
    text-align: center;
    background: #F00;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding-top: 3px;
    margin-top:3px;
    border-radius:10px;
}

#userNoteBookTable {
    text-align: center;
}
#userNoteBookTable tr {
    height: 20px;
    border-bottom: 1px solid black;
}
#userNoteBookTable thead {
    background-color: #eeeeee !important;
}
#userNoteBookTable tbody tr:hover {
    background-color: green;
}
#userNoteBookTable tr td {
    border-bottom: 1px solid black;
}
#chargeRulesDivTable {
    text-align: center;
}
#changeSettingForm tr .split_line {
    border-top: 1px dashed black;
    width: 80%;
}
#operationTypeSummaryInfoPC tr td {
    padding: 0px 3px;
}
#operationTypeSummaryInfoPhone tr td {
    padding: 0px 3px;
}
#chargeRuleTable table tr td:not:last-child {
    text-align: center;
}