*, :after, :before {
    box-sizing: border-box
}

a {
    background-color: transparent;
    text-decoration: none
}

a:active, a:hover {
    outline: 0
}

a:hover {
    color: #0c7df5
}

input[type=checkbox] {
    box-sizing: border-box;
    padding: 0
}

label {
    vertical-align: middle
}
ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.icon-rank-up {
    display: inline-block;
    font-size: 0;
    background-image: url(/qzsetting/images/rank.up.icon.png);
    background-position:-325px -258px;
    width: 16px;
    height: 16px;
}

.icon-rank-down {
    display: inline-block;
    font-size: 0;
    background-image: url(/qzsetting/images/rank.down.icon.png);
    background-position: -325px -205px;
    width: 16px;
    height: 16px;
}

.mytabs {
    width: 80%;
    margin: 15px auto 0px auto;
    box-shadow: 0 0 2px 2px hsla(0, 0%, 79%, .2)
}

.mytabs li {
    float: left;
}

.mytabs li.right {
    float: right;
}

.mytabs a {
    display: inline-block;
    text-decoration: none;
    color: #555
}

.mytabs a:hover {
    color: #0c7df5
}

.mytabs i {
    margin-right: 2px;
    vertical-align: -3px
}

.mytabs .link {
    margin-bottom: -1px;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    background-color: #f6f6f6
}

.mytabs .link li {
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 14px
}

.mytabs .link li:first-child.active {
    border-left: none
}

.mytabs .link li.active {
    border-top: 1px solid #0c7df5;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    background-color: #fff
}

.mytabs .link li.active a {
    color: #0c7df5
}

.mytabs .link a {
    padding: 0 15px
}

.mytabs .link:after, .mytabs .link:before {
    content: " ";
    display: table
}

.mytabs .link:after {
    clear: both
}

.mytabs .conn {
    padding: 10px;
    border: 1px solid #e6e6e6;
    background-color: #fff
}

.mytabs .conn li {
    height: 30px;
    line-height: 30px;
    margin-left: 10px
}

.mytabs .conn li:first-child {
    margin-left: 0
}

.mytabs .conn li:first-child input {
    width: 180px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.mytabs .conn ul li.condition input {
    width: 180px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}

.mytabs .conn:after, .mytabs .conn:before {
    content: " ";
    display: table;
}

.mytabs .conn:after {
    clear: both;
}

.datalist {
    width: 80%;
    margin: 0px auto 40px auto;
    overflow: visible;
}

.datalist-list li {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 2px 2px hsla(0, 0%, 79%, .2);
    margin-bottom: 14px;
    height: 196px
}

.datalist-list li:hover {
    border: 1px solid #9ec9f4;
    box-shadow: 0 0 2px rgba(158, 201, 244, .15)
}

.datalist-list li:hover .handle {
    display: block
}

.datalist-list .top50-link > a {
    display: block;
    width: auto;
    height: auto
}

.datalist-list .top50-link > a:hover {
    color: #666
}

.datalist-list .header {
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 16px;
    padding: 0 20px;
}

.datalist-list .header a {
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 14px;
    text-decoration: none;
    font-size: 14px;
}

.datalist-list .header a:hover {
    color: #1a81ea;
}

.datalist-list .header span {
    display: block;
    float: left;
    height: 44px;
    line-height: 44px
}

.datalist-list .header span input{
    align-self: center;
    margin: 15px 5px;
}

.datalist-list .header .contactPerson-name {
    color: #333;
    font-weight: 700;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.datalist-list .header .handle {
    display: none;
    float: right;
    font-size: 14px
}

.datalist-list .header .handle a.blue {
    color: #1a81ea;
}

.datalist-list .header .handle a.blue:hover {
    color: #f60;
}

.datalist-list .body {
    height: 150px
}

.datalist-list .body .data-info-wrap {
    width: 792px;
    float: left;
    height: 150px;
    text-align: center
}

.datalist-list .body .rank-wrap {
    width: 540px;
    float: left;
    height: 150px;
    padding: 5px 0;
    border-left: 1px solid #e6e6e6;
}

.datalist-list .body .rank-wrap > div {
    float: left;
    font-size: 12px;
    height: 140px;
    line-height: 120px;
    display: block;
}

.datalist-list .body .rank-wrap > div {
    padding: 0 5px;
}

.datalist-list .body .rank-wrap > div:last-child {
    border-left: 1px dashed #e6e6e6;
}

.datalist-list .body .rank-wrap > div .row4 {
    line-height: 2;
}

.datalist-list .body .rank-wrap > div span {
    display: block;
    float: left;
    width: 50%;
    text-align: left;
}

.datalist-list .body .rank-wrap > div span:last-child {
    text-align: center;
}

.datalist-list .body .rank-wrap > div span.red {
    color: #ff3d3d;
}

.datalist-list .body .rank-wrap > div span.green {
    color: #60c54b;
}

.datalist-list .body .rank-wrap > div span a {
    text-decoration: none;
}

.datalist-list .body .rank-wrap > div span a.red {
    color: #ff3d3d;
}

.datalist-list .body .rank-wrap > div span a.green {
    color: #60c54b;
}

.datalist-list .body .rank-wrap > div span .red {
    color: #ff3d3d;
}

.datalist-list .body .rank-wrap > div span .green {
    color: #60c54b;
}

.datalist-list .body .baidu-rank {
    float: left;
    width: 84px;
    border-right: 1px solid #e6e6e6;
    height: 150px;
    display: block;
}

.datalist-list .body .baidu-rank a {
    clear: both;
}

.datalist-list .body .baidu-rank span {
    display: block;
}

.datalist-list .body .baidu-rank span:last-child {
    margin-top: 5px;
    color: #000;
}

.datalist-list .body .baidu-rank span.line1 {
    font-size: 14px;
    margin-top: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.datalist-list .body .baidu-rank span.line1:hover {
    color: #0c7df5;
}

.datalist-list .body .baidu-rank span.line1 sub {
    font-weight: 400;
}

.datalist-list .body .other-rank {
    float: left;
    width: 704px;
}

.datalist-list .body .other-rank select {
    margin-top: 14px;
}

.datalist-list .body .other-rank .row {
    height: 75px;
}

.datalist-list .body .other-rank .row .line1 {
    display: inline-block;
    width: 80%;
    word-wrap: break-word;
    white-space: normal;
}

.datalist-list .body .other-rank .row .line1 a:hover {
    color: #0c7df5;
}

.datalist-list .body .other-rank .row span:last-child a {
    display: inline-block;
    width: 80%;
    word-wrap: break-word;
    white-space: normal;
    margin-top: 5px;
    color: #000;
}

.datalist-list .body .other-rank .row:last-child {
    display: block;
    height: 74px;
    border-top: 1px solid #e6e6e6;
}

.datalist-list .body .other-rank .row > div {
    display: block;
    float: left;
    height: 75px;
    width: 100px;
    border-right: 1px solid #e6e6e6;
}

.datalist-list .body .other-rank .row > div:last-child {
    border: 0;
}

.datalist-list .body .other-rank .row span {
    display: block;
}

.datalist-list .body .other-rank .row span.line1 {
    font-size: 18px;
    margin-top: 14px;
}

.datalist-list .body .other-rank .row span.line1:hover {
    color: #0c7df5;
}

.datalist-list .body .other-rank .row span sub {
    font-weight: 400;
    padding-left: 5px;
}

.col-3 {
    float: left;
    width: 17%;
    text-align: left;
}

.rank-wrap .col-8 {
    width: 82%;
    text-align: left;
}

#moreSearchCondition {
    display: block;
    height: 25px;
    width: 150px;
    text-align: center;
    background: #F00;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding-top: 3px;
    margin-top:3px;
    border-radius:10px;
}